In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("data_cleaned_version2.csv")

In [3]:
df

,ID,Desa,Nama Kepala Keluarga,Pekerjaan,Pendapatan Bulanan,Sumber Listrik,Air Bersih,Luas Lahan Usaha m2,Luas Lahan Rumah m2,Luas Bangunan Rumah m2,...,Tangkapan Terbanyak_Pemanfaatan Hasil Tangkap,Pembelian Pulsa,Iuran BPJS,Pembelian Obat,Balita diperiksa di Posyandu,Jumlah Lansia,Anggota keluarga yang sering sakit,Pernah dapat bantuan dari pemerintah,Bentuk bantuan pemerintah,jumlah ternak
0,22180,Lolong,Natalia Benga Blolong,Petani atau Nelayan,200000.0,PLN,PDAM,0.0,0.00,0.00,...,Tidak ada,20000.0,0.0,0.0,Tidak ada,0.0,Famili,Pernah,Tunai,6.0
1,22190,Paubokol,Marianus Nurak,Petani atau Nelayan,800000.0,PLN,Mata Air,0.0,300.00,48.00,...,Tidak ada,600000.0,0.0,0.0,Sering,0.0,Anak,Pernah,Tunai,7.0
2,22195,Paubokol,Viktor Gelak,Petani atau Nelayan,100000.0,PLN,Mata Air,0.0,750.00,24.00,...,Tidak ada,0.0,0.0,0.0,Tidak ada,1.0,Tidak ada,Pernah,Tunai,6.0
3,22200,Paubokol,Yoseph Kujo,Petani atau Nelayan,400000.0,PLN,Mata Air,0.0,1250.00,54.00,...,Tidak ada,600000.0,0.0,0.0,Sering,0.0,Tidak ada,Pernah,Tunai,10.0
4,22205,Paubokol,Hendrikus Laran Ujan,Petani atau Nelayan,600000.0,PLN,Mata Air,0.0,400.00,30.00,...,Tidak ada,600000.0,0.0,10000.0,Sering,0.0,Tidak ada,Pernah,Tunai,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,24866,Todanara,Longginus Lango,Petani atau Nelayan,500000.0,PLN,Sungai,0.0,428.22,175.33,...,Tidak ada,100000.0,0.0,0.0,Sering,2.0,Istri,Pernah,Pengobatan,0.0
877,24867,Todanara,Elias Ola Domaking,Petani atau Nelayan,200000.0,PLN,Sungai,0.0,505.85,113.55,...,Tidak ada,50000.0,0.0,0.0,Tidak Pernah,1.0,Tidak ada,Pernah,Tunai,0.0
878,24869,Todanara,Antonius Yanto Matarau,Karyawan Swasta,1700000.0,PLN,Sungai,0.0,0.00,0.00,...,Tidak ada,200000.0,80000.0,0.0,Tidak ada,0.0,Tidak ada,Tidak,Tidak ada,0.0
879,24887,Labalimut,Petrus Asan,lainnya,4000000.0,PLN,PDAM,0.0,0.00,80.00,...,Tidak ada,50000.0,35000.0,0.0,Tidak ada,2.0,Istri,Tidak,Tidak ada,7.0
880,24957,Todanara,Hendrikus Kewaman,Petani atau Nelayan,200000.0,PLN,Sungai,0.0,417.66,155.03,...,Tidak ada,20000.0,0.0,0.0,Tidak ada,2.0,Anak,Tidak,Tidak ada,0.0

## poin 1 : pendapatan bulanan

In [4]:
pd.set_option('display.max_rows', 500)

In [5]:
df['Pendapatan Bulanan'].value_counts().sort_index()

Pendapatan Bulanan
0.0            34
500.0           1
700.0           1
15000.0         1
33000.0         1
50000.0         9
75000.0         1
80000.0         1
100000.0       23
150000.0        8
160000.0        1
166000.0        1
200000.0       39
230000.0        1
250000.0       17
300000.0       44
350000.0        4
358000.0        1
395000.0        1
400000.0       21
450000.0        8
475000.0        1
500000.0      119
540000.0        1
570000.0        1
600000.0       13
601630.0        1
620000.0        1
630000.0        1
700000.0       12
720000.0        2
750000.0       11
800000.0       19
833000.0        1
848000.0        1
850000.0        1
875000.0        1
900000.0        3
925000.0        1
933000.0        1
1000000.0     118
1022330.0       1
1050000.0       2
1090000.0       1
1100000.0       1
1175000.0       1
1200000.0      10
1291000.0       1
1300000.0       2
1355000.0       1
1400000.0       4
1500000.0      45
1540000.0       1
1600000.0       3
1700000.0       4
1750000.0       1
1800000.0       5
1808000.0       1
1900000.0       1
2000000.0      51
2050000.0       1
2100000.0       4
2200000.0       7
2250000.0       2
2300000.0       1
2310000.0       1
2400000.0       3
2500000.0      23
2571000.0       1
2575000.0       1
2700000.0       2
2800000.0       1
2866000.0       1
2900000.0       1
3000000.0      37
3049000.0       1
3100000.0       1
3200000.0       1
3265400.0       1
3350000.0       1
3500000.0      13
3600000.0       3
3674000.0       1
3700000.0       2
3750000.0       1
3800000.0       2
4000000.0      22
4100000.0       1
4200000.0       1
4250000.0       1
4300000.0       1
4365000.0       1
4450000.0       1
4500000.0       6
4600000.0       2
4700000.0       3
4800000.0       2
4966000.0       1
5000000.0      17
5300000.0       1
5400000.0       1
5500000.0       1
5510000.0       1
5576000.0       1
5900000.0       1
6000000.0       9
6200000.0       2
6300000.0       1
6400000.0       1
6450000.0       1
6800000.0       1
7000000.0       8
7700000.0       1
7830000.0       1
8000000.0       4
8158666.0       1
8700000.0       1
9000000.0       2
10000000.0      2
10471666.0      1
10500000.0      1
14500000.0      1
20000000.0      1
36000000.0      1
Name: count, dtype: int64

In [6]:
UMK_NTT = 2328669

In [7]:
"""persentase_gaji = (
    df.groupby('Desa')['Pendapatan Bulanan']
      .apply(lambda x: (x > UMK_NTT).mean() * 100)
      .reset_index(name='Persentase gaji di atas UMK')
)"""

In [87]:
rata_rata_gaji = df.groupby('Desa')['Pendapatan Bulanan'].agg([
    ("Rata-rata Penghasilan", 'mean')
]).reset_index()

In [88]:
# persentase_gaji

In [89]:
rata_rata_gaji

            Desa  Rata-rata Penghasilan
0      Balauring           1.398357e+06
1     Benihading           3.638690e+06
2           Bour           1.528589e+06
3       Dikesare           7.566667e+05
4       Duawutun           1.591667e+06
5      Dulitukan           1.747400e+06
6       Hoelea I           2.566667e+06
7      Ile Kimok           1.750000e+06
8        Kalikur           2.068333e+06
9       Katakeja           2.499032e+06
10     Labalimut           1.978333e+06
11      Lamatuka           2.627452e+06
12    Laranwutun           1.735000e+06
13        Lolong           7.800000e+05
14         Mahal           8.608333e+05
15       Merdeka           2.662500e+06
16       Muruona           9.268293e+05
17      Nubamado           1.073833e+06
18          Pada           1.627419e+06
19      Paubokol           5.450000e+05
20          Puor           2.828333e+06
21      Riangbao           1.546667e+06
22      Tagawiti           7.550000e+05
23      Todanara           1.153448e+06
24   Tubuk Rajan           1.630000e+06
25  Tubungwalang           5.000000e+05
26       Waienga           8.416667e+05
27      Watodiri           2.887500e+06
28     Wuakerong           1.867600e+06

In [90]:
df_point = rata_rata_gaji[['Desa']].copy()
df_point = df_point.merge(
    rata_rata_gaji[['Desa','Rata-rata Penghasilan']],
    on='Desa', how='left'
)

In [91]:
df_point

            Desa  Rata-rata Penghasilan
0      Balauring           1.398357e+06
1     Benihading           3.638690e+06
2           Bour           1.528589e+06
3       Dikesare           7.566667e+05
4       Duawutun           1.591667e+06
5      Dulitukan           1.747400e+06
6       Hoelea I           2.566667e+06
7      Ile Kimok           1.750000e+06
8        Kalikur           2.068333e+06
9       Katakeja           2.499032e+06
10     Labalimut           1.978333e+06
11      Lamatuka           2.627452e+06
12    Laranwutun           1.735000e+06
13        Lolong           7.800000e+05
14         Mahal           8.608333e+05
15       Merdeka           2.662500e+06
16       Muruona           9.268293e+05
17      Nubamado           1.073833e+06
18          Pada           1.627419e+06
19      Paubokol           5.450000e+05
20          Puor           2.828333e+06
21      Riangbao           1.546667e+06
22      Tagawiti           7.550000e+05
23      Todanara           1.153448e+06
24   Tubuk Rajan           1.630000e+06
25  Tubungwalang           5.000000e+05
26       Waienga           8.416667e+05
27      Watodiri           2.887500e+06
28     Wuakerong           1.867600e+06

## Point 2 : Sumber Listrik

In [92]:
df['Sumber Listrik'].value_counts()

Sumber Listrik
PLN          871
Tidak ada      5
Bukan PLN      5
Name: count, dtype: int64

In [93]:
persentase_PLN = (
    df.groupby('Desa')['Sumber Listrik']
      .apply(lambda x: (x == "PLN").mean() * 100)
      .reset_index(name='Persentase sumber listrik PLN')
)

In [94]:
persentase_PLN

            Desa  Persentase sumber listrik PLN
0      Balauring                     100.000000
1     Benihading                     100.000000
2           Bour                      96.428571
3       Dikesare                     100.000000
4       Duawutun                     100.000000
5      Dulitukan                     100.000000
6       Hoelea I                     100.000000
7      Ile Kimok                     100.000000
8        Kalikur                     100.000000
9       Katakeja                      96.774194
10     Labalimut                     100.000000
11      Lamatuka                     100.000000
12    Laranwutun                     100.000000
13        Lolong                     100.000000
14         Mahal                     100.000000
15       Merdeka                     100.000000
16       Muruona                     100.000000
17      Nubamado                      90.000000
18          Pada                      93.548387
19      Paubokol                     100.000000
20          Puor                     100.000000
21      Riangbao                     100.000000
22      Tagawiti                     100.000000
23      Todanara                     100.000000
24   Tubuk Rajan                      96.666667
25  Tubungwalang                      96.666667
26       Waienga                      96.666667
27      Watodiri                     100.000000
28     Wuakerong                     100.000000

In [95]:
df_point = df_point.merge(
    persentase_PLN[['Desa','Persentase sumber listrik PLN']],
    on='Desa', how='left'
)

In [96]:
df_point

            Desa  Rata-rata Penghasilan  Persentase sumber listrik PLN
0      Balauring           1.398357e+06                     100.000000
1     Benihading           3.638690e+06                     100.000000
2           Bour           1.528589e+06                      96.428571
3       Dikesare           7.566667e+05                     100.000000
4       Duawutun           1.591667e+06                     100.000000
5      Dulitukan           1.747400e+06                     100.000000
6       Hoelea I           2.566667e+06                     100.000000
7      Ile Kimok           1.750000e+06                     100.000000
8        Kalikur           2.068333e+06                     100.000000
9       Katakeja           2.499032e+06                      96.774194
10     Labalimut           1.978333e+06                     100.000000
11      Lamatuka           2.627452e+06                     100.000000
12    Laranwutun           1.735000e+06                     100.000000
13        Lolong           7.800000e+05                     100.000000
14         Mahal           8.608333e+05                     100.000000
15       Merdeka           2.662500e+06                     100.000000
16       Muruona           9.268293e+05                     100.000000
17      Nubamado           1.073833e+06                      90.000000
18          Pada           1.627419e+06                      93.548387
19      Paubokol           5.450000e+05                     100.000000
20          Puor           2.828333e+06                     100.000000
21      Riangbao           1.546667e+06                     100.000000
22      Tagawiti           7.550000e+05                     100.000000
23      Todanara           1.153448e+06                     100.000000
24   Tubuk Rajan           1.630000e+06                      96.666667
25  Tubungwalang           5.000000e+05                      96.666667
26       Waienga           8.416667e+05                      96.666667
27      Watodiri           2.887500e+06                     100.000000
28     Wuakerong           1.867600e+06                     100.000000

## point 3 : Air Bersih

In [97]:
df['Air Bersih'].value_counts()

Air Bersih
PDAM          430
Sumur Bor     143
Mata Air      112
Sungai         66
Air Hujan      64
Sumur Gali     61
Air Galon       5
Name: count, dtype: int64

In [98]:
persentase_air_PDAM = (
    df.groupby('Desa')['Air Bersih']
      .apply(lambda x: (x == "PDAM").mean() * 100)
      .reset_index(name='Persentase air bersih PDAM')
)

In [99]:
persentase_air_PDAM

            Desa  Persentase air bersih PDAM
0      Balauring                   76.666667
1     Benihading                    0.000000
2           Bour                    0.000000
3       Dikesare                    0.000000
4       Duawutun                  100.000000
5      Dulitukan                   16.666667
6       Hoelea I                    0.000000
7      Ile Kimok                    0.000000
8        Kalikur                    0.000000
9       Katakeja                  100.000000
10     Labalimut                  100.000000
11      Lamatuka                  100.000000
12    Laranwutun                  100.000000
13        Lolong                  100.000000
14         Mahal                    3.333333
15       Merdeka                    0.000000
16       Muruona                  100.000000
17      Nubamado                  100.000000
18          Pada                   93.548387
19      Paubokol                    0.000000
20          Puor                    0.000000
21      Riangbao                  100.000000
22      Tagawiti                    0.000000
23      Todanara                    0.000000
24   Tubuk Rajan                  100.000000
25  Tubungwalang                    0.000000
26       Waienga                    6.666667
27      Watodiri                   93.333333
28     Wuakerong                   96.666667

In [100]:
df_point = df_point.merge(
    persentase_air_PDAM[['Desa','Persentase air bersih PDAM']],
    on='Desa', how='left'
)

In [101]:
df_point

,Desa,Rata-rata Penghasilan,Persentase sumber listrik PLN,Persentase air bersih PDAM
0,Balauring,1.398357e+06,100.000000,76.666667
1,Benihading,3.638690e+06,100.000000,0.000000
2,Bour,1.528589e+06,96.428571,0.000000
3,Dikesare,7.566667e+05,100.000000,0.000000
4,Duawutun,1.591667e+06,100.000000,100.000000
5,Dulitukan,1.747400e+06,100.000000,16.666667
6,Hoelea I,2.566667e+06,100.000000,0.000000
7,Ile Kimok,1.750000e+06,100.000000,0.000000
8,Kalikur,2.068333e+06,100.000000,0.000000
9,Katakeja,2.499032e+06,96.774194,100.000000
10,Labalimut,1.978333e+06,100.000000,100.000000
11,Lamatuka,2.627452e+06,100.000000,100.000000
12,Laranwutun,1.735000e+06,100.000000,100.000000
13,Lolong,7.800000e+05,100.000000,100.000000
14,Mahal,8.608333e+05,100.000000,3.333333
15,Merdeka,2.662500e+06,100.000000,0.000000
16,Muruona,9.268293e+05,100.000000,100.000000
17,Nubamado,1.073833e+06,90.000000,100.000000
18,Pada,1.627419e+06,93.548387,93.548387
19,Paubokol,5.450000e+05,100.000000,0.000000
20,Puor,2.828333e+06,100.000000,0.000000
21,Riangbao,1.546667e+06,100.000000,100.000000
22,Tagawiti,7.550000e+05,100.000000,0.000000
23,Todanara,1.153448e+06,100.000000,0.000000
24,Tubuk Rajan,1.630000e+06,96.666667,100.000000
25,Tubungwalang,5.000000e+05,96.666667,0.000000
26,Waienga,8.416667e+05,96.666667,6.666667
27,Watodiri,2.887500e+06,100.000000,93.333333
28,Wuakerong,1.867600e+06,100.000000,96.666667

## point 4 : Luas Bangunan Rumah

In [21]:
df['Luas Bangunan Rumah m2'].value_counts().sort_index()

Luas Bangunan Rumah m2
0.000        90
18.000        2
19.250        1
20.000        8
21.000        1
22.000        1
23.000        1
24.000       33
25.000        3
27.000        3
28.000        2
29.000        1
30.000       27
31.000        1
32.000        2
33.000        1
34.000        2
35.000       96
36.000       14
37.500        1
38.000        1
38.500        2
39.000        2
40.000       11
41.250        3
42.000       50
42.110        1
44.000        1
45.000       10
46.000        1
47.000        1
48.000       98
48.750        2
49.000        3
49.190        1
50.000        9
51.000        2
52.000        1
54.000       43
55.000        2
56.000       38
58.500        1
60.000       10
62.000        1
63.000       48
64.000        5
64.110        1
67.500        2
68.000        3
70.000        6
72.000       19
73.410        1
74.700        1
75.000        3
76.000        1
76.500        1
76.852        1
77.000        2
80.000        9
81.000        2
83.000        1
84.000       12
85.000        1
86.500        1
88.000        2
90.000        6
91.000        2
92.000        2
95.000        1
96.000       18
98.000        1
99.000        6
100.000       4
103.520       1
105.000       2
108.000      17
109.000       1
110.000       2
110.340       1
113.550       1
114.000       1
115.500       1
117.000       2
120.000      14
121.457       1
122.116       1
122.380       1
122.959       1
126.000       1
127.000       2
128.000       1
129.000       1
132.000       1
132.060       1
133.000       1
135.000       3
136.000       1
136.360       1
138.837       1
139.940       1
141.820       1
144.000       2
150.000       4
153.000       1
154.000       1
154.440       1
155.030       1
155.050       1
160.000       1
162.069       1
162.659       1
165.000       1
168.000       1
170.000       1
171.200       1
174.460       1
175.330       1
180.000       2
190.630       1
192.000       1
197.010       1
198.000       1
200.000       3
202.000       1
204.000       1
213.000       1
218.050       1
220.000       1
224.000       1
225.000       1
230.000       1
240.000       1
270.000       1
272.000       1
300.000       3
323.000       1
336.000       1
350.000       1
360.000       6
396.000       1
400.000       2
420.000       1
500.000       4
529.000       1
600.000       2
625.000       4
1000.000      1
2500.000      1
3200.000      1
3500.000      1
10800.000     1
Name: count, dtype: int64

In [22]:
"""persentase_bangunan_rumah = (
    df.groupby('Desa')['Luas Bangunan Rumah m2']
      .apply(lambda x: (x > 36).mean() * 100)
      .reset_index(name='Persentase bangunan rumah bukan "rumah kecil"')
)"""

In [102]:
rata_rata_luas_rumah = df.groupby('Desa')['Luas Bangunan Rumah m2'].agg([
    ("Rata-rata Luas Bangunan Rumah (m2)", 'mean')
]).reset_index()

In [103]:
#persentase_bangunan_rumah

In [104]:
rata_rata_luas_rumah

            Desa  Rata-rata Luas Bangunan Rumah (m2)
0      Balauring                           82.933333
1     Benihading                           41.400000
2           Bour                           62.107143
3       Dikesare                           80.666667
4       Duawutun                          306.366667
5      Dulitukan                           53.933333
6       Hoelea I                           59.975000
7      Ile Kimok                           59.833333
8        Kalikur                           50.100000
9       Katakeja                           64.532258
10     Labalimut                           44.400000
11      Lamatuka                           80.354839
12    Laranwutun                           68.600000
13        Lolong                           36.300000
14         Mahal                           61.366667
15       Merdeka                           77.383333
16       Muruona                           69.695122
17      Nubamado                           47.800000
18          Pada                           48.919355
19      Paubokol                           42.800000
20          Puor                           76.216667
21      Riangbao                           97.466667
22      Tagawiti                           85.006900
23      Todanara                          630.537241
24   Tubuk Rajan                           23.395067
25  Tubungwalang                           78.566667
26       Waienga                           52.300000
27      Watodiri                           52.708333
28     Wuakerong                          151.733333

In [105]:
df_point = df_point.merge(
    rata_rata_luas_rumah[['Desa','Rata-rata Luas Bangunan Rumah (m2)']],
    on='Desa', how='left'
)

In [106]:
df_point

,Desa,Rata-rata Penghasilan,Persentase sumber listrik PLN,Persentase air bersih PDAM,Rata-rata Luas Bangunan Rumah (m2)
0,Balauring,1.398357e+06,100.000000,76.666667,82.933333
1,Benihading,3.638690e+06,100.000000,0.000000,41.400000
2,Bour,1.528589e+06,96.428571,0.000000,62.107143
3,Dikesare,7.566667e+05,100.000000,0.000000,80.666667
4,Duawutun,1.591667e+06,100.000000,100.000000,306.366667
5,Dulitukan,1.747400e+06,100.000000,16.666667,53.933333
6,Hoelea I,2.566667e+06,100.000000,0.000000,59.975000
7,Ile Kimok,1.750000e+06,100.000000,0.000000,59.833333
8,Kalikur,2.068333e+06,100.000000,0.000000,50.100000
9,Katakeja,2.499032e+06,96.774194,100.000000,64.532258
10,Labalimut,1.978333e+06,100.000000,100.000000,44.400000
11,Lamatuka,2.627452e+06,100.000000,100.000000,80.354839
12,Laranwutun,1.735000e+06,100.000000,100.000000,68.600000
13,Lolong,7.800000e+05,100.000000,100.000000,36.300000
14,Mahal,8.608333e+05,100.000000,3.333333,61.366667
15,Merdeka,2.662500e+06,100.000000,0.000000,77.383333
16,Muruona,9.268293e+05,100.000000,100.000000,69.695122
17,Nubamado,1.073833e+06,90.000000,100.000000,47.800000
18,Pada,1.627419e+06,93.548387,93.548387,48.919355
19,Paubokol,5.450000e+05,100.000000,0.000000,42.800000
20,Puor,2.828333e+06,100.000000,0.000000,76.216667
21,Riangbao,1.546667e+06,100.000000,100.000000,97.466667
22,Tagawiti,7.550000e+05,100.000000,0.000000,85.006900
23,Todanara,1.153448e+06,100.000000,0.000000,630.537241
24,Tubuk Rajan,1.630000e+06,96.666667,100.000000,23.395067
25,Tubungwalang,5.000000e+05,96.666667,0.000000,78.566667
26,Waienga,8.416667e+05,96.666667,6.666667,52.300000
27,Watodiri,2.887500e+06,100.000000,93.333333,52.708333
28,Wuakerong,1.867600e+06,100.000000,96.666667,151.733333

## Point 5 : Luas Lahan Pertanian

In [107]:
df['Total_Luas Lahan Pertanian'].value_counts().sort_index()

Total_Luas Lahan Pertanian
0.00000       243
0.00300         2
0.00350         3
0.00400         1
0.00425         1
0.00500         2
0.00800         1
0.00900         2
0.01000         4
0.01120         1
0.01200         2
0.01400         1
0.01500         3
0.02000         1
0.02100         1
0.02400         1
0.02500         6
0.03000         5
0.03500         1
0.04000         5
0.04200         1
0.05000        13
0.06000         8
0.06250         7
0.06400         1
0.07500         6
0.08000         4
0.08750         1
0.09000         3
0.10000         1
0.10065         1
0.10500         1
0.12500         1
0.13500         1
0.15000         6
0.16000         4
0.18000         2
0.18250         1
0.18750         5
0.18990         1
0.19750         1
0.20000         5
0.21000         2
0.21440         1
0.22000         1
0.22370         1
0.22500         1
0.24000         4
0.25000        35
0.27500         1
0.28000         1
0.30000         7
0.31250         1
0.32000         2
0.37500         5
0.40000         6
0.44000         1
0.45000         1
0.45000         2
0.48000         1
0.50000       100
0.50500         1
0.52500         1
0.55000         2
0.56000         1
0.56250         1
0.60000         3
0.60000         2
0.62500         1
0.62730         1
0.64000         1
0.65000         2
0.65200         1
0.70000         2
0.74840         1
0.75000        14
0.80000         4
0.84000         1
0.88500         1
0.90000         1
0.90000         2
0.95000         1
1.00000       114
1.00300         1
1.02000         1
1.04000         1
1.05000         2
1.10000         3
1.12500         1
1.20000         2
1.25000         5
1.30000         1
1.40000         1
1.50000        24
1.60000         2
1.62500         1
1.75000         3
1.80000         1
1.80000         1
1.87000         1
2.00000        56
2.04000         1
2.07000         1
2.10000         1
2.19000         1
2.25000         2
2.30000         1
2.40000         2
2.50000         7
3.00000        19
3.04500         1
3.21000         1
4.00000         9
4.30000         1
4.50000         2
5.00000         3
6.00000         3
7.03000         1
7.50000         1
8.08100         1
10.00000        1
12.00000        1
15.00000        1
34.00000        1
50.00000        1
50.65000        1
150.00000       1
200.00000       1
250.00000       1
300.00000       2
450.00000       1
500.00000       4
600.00000       3
625.00000       1
800.00000       1
1000.00000      1
1500.00000      1
2500.00000      1
2700.00000      1
Name: count, dtype: int64

In [108]:
data_luas_lahan = df.groupby('Desa')['Total_Luas Lahan Pertanian'].agg([
    ("Total seluruh luas lahan (Ha)", 'sum'),
    ("Rata-rata luas lahan (Ha)", 'mean')
]).reset_index()

In [109]:
data_luas_lahan

            Desa  Total seluruh luas lahan (Ha)  Rata-rata luas lahan (Ha)
0      Balauring                       310.5000                  10.350000
1     Benihading                        34.6870                   1.156233
2           Bour                        20.1635                   0.720125
3       Dikesare                         6.1780                   0.205933
4       Duawutun                        27.8500                   0.928333
5      Dulitukan                        30.7675                   1.025583
6       Hoelea I                        14.2750                   0.475833
7      Ile Kimok                       718.6950                  23.956500
8        Kalikur                       507.9950                  16.933167
9       Katakeja                        10.2400                   0.330323
10     Labalimut                      4146.9837                 138.232790
11      Lamatuka                       168.0045                   5.419500
12    Laranwutun                      2746.0000                  91.533333
13        Lolong                         7.1154                   0.237180
14         Mahal                      2757.6990                  91.923300
15       Merdeka                        69.5300                   2.317667
16       Muruona                        58.8250                   1.434756
17      Nubamado                        31.8575                   1.061917
18          Pada                        17.1280                   0.552516
19      Paubokol                       274.7240                   9.157467
20          Puor                        24.1635                   0.805450
21      Riangbao                        16.3482                   0.544940
22      Tagawiti                        21.9300                   0.731000
23      Todanara                        25.4190                   0.876517
24   Tubuk Rajan                         7.2200                   0.240667
25  Tubungwalang                       740.0325                  24.667750
26       Waienga                      2515.4325                  83.847750
27      Watodiri                        14.0775                   0.469250
28     Wuakerong                        38.0125                   1.267083

In [110]:
df_point = df_point.merge(
    data_luas_lahan[['Desa','Total seluruh luas lahan (Ha)']],
    on='Desa', how='left'
)

In [111]:
df_point

,Desa,Rata-rata Penghasilan,Persentase sumber listrik PLN,Persentase air bersih PDAM,Rata-rata Luas Bangunan Rumah (m2),Total seluruh luas lahan (Ha)
0,Balauring,1.398357e+06,100.000000,76.666667,82.933333,310.5000
1,Benihading,3.638690e+06,100.000000,0.000000,41.400000,34.6870
2,Bour,1.528589e+06,96.428571,0.000000,62.107143,20.1635
3,Dikesare,7.566667e+05,100.000000,0.000000,80.666667,6.1780
4,Duawutun,1.591667e+06,100.000000,100.000000,306.366667,27.8500
5,Dulitukan,1.747400e+06,100.000000,16.666667,53.933333,30.7675
6,Hoelea I,2.566667e+06,100.000000,0.000000,59.975000,14.2750
7,Ile Kimok,1.750000e+06,100.000000,0.000000,59.833333,718.6950
8,Kalikur,2.068333e+06,100.000000,0.000000,50.100000,507.9950
9,Katakeja,2.499032e+06,96.774194,100.000000,64.532258,10.2400
10,Labalimut,1.978333e+06,100.000000,100.000000,44.400000,4146.9837
11,Lamatuka,2.627452e+06,100.000000,100.000000,80.354839,168.0045
12,Laranwutun,1.735000e+06,100.000000,100.000000,68.600000,2746.0000
13,Lolong,7.800000e+05,100.000000,100.000000,36.300000,7.1154
14,Mahal,8.608333e+05,100.000000,3.333333,61.366667,2757.6990
15,Merdeka,2.662500e+06,100.000000,0.000000,77.383333,69.5300
16,Muruona,9.268293e+05,100.000000,100.000000,69.695122,58.8250
17,Nubamado,1.073833e+06,90.000000,100.000000,47.800000,31.8575
18,Pada,1.627419e+06,93.548387,93.548387,48.919355,17.1280
19,Paubokol,5.450000e+05,100.000000,0.000000,42.800000,274.7240
20,Puor,2.828333e+06,100.000000,0.000000,76.216667,24.1635
21,Riangbao,1.546667e+06,100.000000,100.000000,97.466667,16.3482
22,Tagawiti,7.550000e+05,100.000000,0.000000,85.006900,21.9300
23,Todanara,1.153448e+06,100.000000,0.000000,630.537241,25.4190
24,Tubuk Rajan,1.630000e+06,96.666667,100.000000,23.395067,7.2200
25,Tubungwalang,5.000000e+05,96.666667,0.000000,78.566667,740.0325
26,Waienga,8.416667e+05,96.666667,6.666667,52.300000,2515.4325
27,Watodiri,2.887500e+06,100.000000,93.333333,52.708333,14.0775
28,Wuakerong,1.867600e+06,100.000000,96.666667,151.733333,38.0125

## Point 6 : Total Produksi Pertanian

In [112]:
df['Total_Produksi'].value_counts().sort_index()

Total_Produksi
0.000000       284
0.001000         3
0.001100         1
0.002000         1
0.002400         1
0.003000         1
0.004000         2
0.005000         5
0.007600         1
0.010000         1
0.012000         1
0.015000         3
0.016000         1
0.016535         2
0.020000        12
0.022000         1
0.022046         3
0.025000         3
0.030000        14
0.031000         2
0.040000         2
0.050000        14
0.055000         3
0.055100         1
0.055116         2
0.060000         9
0.062000         1
0.065000         3
0.070000         1
0.070000         5
0.075000         6
0.077162         1
0.077500         1
0.080000        10
0.081000         1
0.084000         1
0.085000         2
0.090000         5
0.100000        22
0.105000         1
0.108000         1
0.110000         6
0.111000         1
0.115000         1
0.120000         6
0.122500         1
0.124000         1
0.140000         6
0.143000         1
0.150000         8
0.154000         1
0.156000         1
0.160000         4
0.165000         3
0.170000         3
0.175000         3
0.180000         2
0.185200         1
0.190000         1
0.190000         3
0.192000         1
0.198000         1
0.199200         1
0.200000        27
0.210000         2
0.220000         2
0.223000         1
0.225000         1
0.230000         1
0.240000         3
0.250000         8
0.253000         1
0.270000         2
0.275000         1
0.280000         1
0.300000        17
0.303000         1
0.309960         1
0.325000         1
0.330000         2
0.330693         1
0.331000         1
0.333000         1
0.335000         1
0.349600         1
0.350000         5
0.375000         2
0.390000         1
0.398000         1
0.400000        11
0.420000         2
0.425000         1
0.430000         2
0.440000         2
0.450000         5
0.490000         1
0.500000        32
0.510000         1
0.520000         3
0.522000         1
0.533000         1
0.543000         1
0.550000        15
0.560000         3
0.580000         1
0.580000         1
0.600000        13
0.600000         1
0.600100         1
0.610000         1
0.630000         1
0.635000         1
0.640000         1
0.650000         3
0.690000         1
0.700000         5
0.720000         1
0.750000         5
0.760000         1
0.800000        13
0.825000         1
0.830000         1
0.850000         1
0.850000         1
0.870000         1
0.880000         2
0.890000         1
0.891000         1
0.900000         2
0.900000         1
0.920000         2
0.930000         1
0.950000         1
0.960000         1
1.000000        42
1.013000         1
1.020000         1
1.030000         1
1.040000         1
1.050000         1
1.055000         1
1.060000         1
1.080000         1
1.090000         1
1.100000         1
1.113000         1
1.124000         1
1.180000         1
1.195000         1
1.200000         2
1.300000         1
1.350000         1
1.360000         1
1.376000         1
1.390000         1
1.400000         2
1.500000         4
1.510000         2
1.580000         1
1.630000         1
1.710000         1
1.800000         1
1.920000         1
2.000000        10
2.300000         1
2.500000         1
2.750000         1
3.000000         5
3.020000         1
3.100000         2
3.150000         1
3.240000         1
3.800000         1
4.000000         2
4.075000         1
4.720000         1
4.800000         2
5.240000         1
5.500000         1
5.720000         1
6.000000         5
8.000000         1
10.000000        1
12.400000        1
18.000000        1
20.008000        1
22.000000        1
28.500000        1
32.000000        1
40.000000        1
40.010000        1
50.000000        6
50.050000        1
50.300000        1
60.000000        2
80.000000        1
100.000000       2
150.050000       1
151.000000       1
160.000000       1
190.000000       1
200.000000       4
204.096000       1
300.000000       2
315.000000       1
350.000000       1
400.000000       1
500.000000       1
600.000000       1
700.000000       1
900.000000       1
1000.000000      1
1050.000000      1
Name: count, dtype: int64

In [113]:
data_produksi = df.groupby('Desa')['Total_Produksi'].agg([
    ("Total seluruh produksi pertanian (ton)", 'sum'),
    ("Rata-rata produksi pertanian (ton)", 'mean')
]).reset_index()

In [114]:
data_produksi

,Desa,Total seluruh produksi pertanian (ton),Rata-rata produksi pertanian (ton)
0,Balauring,14.900000,0.496667
1,Benihading,17.788760,0.592959
2,Bour,59.641000,2.130036
3,Dikesare,603.813294,20.127110
4,Duawutun,176.680000,5.889333
5,Dulitukan,53.071900,1.769063
6,Hoelea I,19.476000,0.649200
7,Ile Kimok,216.365000,7.212167
8,Kalikur,445.190000,14.839667
9,Katakeja,0.880000,0.028387
10,Labalimut,1729.677000,57.655900
11,Lamatuka,14.307300,0.461526
12,Laranwutun,244.275500,8.142517
13,Lolong,3.518000,0.117267
14,Mahal,631.856000,21.061867
15,Merdeka,10.997000,0.366567
16,Muruona,108.675000,2.650610
17,Nubamado,798.477000,26.615900
18,Pada,16.390000,0.528710
19,Paubokol,21.430000,0.714333
20,Puor,13.509000,0.450300
21,Riangbao,1505.010000,50.167000
22,Tagawiti,366.520000,12.217333
23,Todanara,1058.966600,36.516090
24,Tubuk Rajan,10.070000,0.335667
25,Tubungwalang,320.156100,10.671870
26,Waienga,11.128000,0.370933
27,Watodiri,211.765100,7.058837
28,Wuakerong,766.880000,25.562667

In [115]:
df_point = df_point.merge(
    data_produksi[['Desa','Total seluruh produksi pertanian (ton)']],
    on='Desa', how='left'
)

In [116]:
df_point

,Desa,Rata-rata Penghasilan,Persentase sumber listrik PLN,Persentase air bersih PDAM,Rata-rata Luas Bangunan Rumah (m2),Total seluruh luas lahan (Ha),Total seluruh produksi pertanian (ton)
0,Balauring,1.398357e+06,100.000000,76.666667,82.933333,310.5000,14.900000
1,Benihading,3.638690e+06,100.000000,0.000000,41.400000,34.6870,17.788760
2,Bour,1.528589e+06,96.428571,0.000000,62.107143,20.1635,59.641000
3,Dikesare,7.566667e+05,100.000000,0.000000,80.666667,6.1780,603.813294
4,Duawutun,1.591667e+06,100.000000,100.000000,306.366667,27.8500,176.680000
5,Dulitukan,1.747400e+06,100.000000,16.666667,53.933333,30.7675,53.071900
6,Hoelea I,2.566667e+06,100.000000,0.000000,59.975000,14.2750,19.476000
7,Ile Kimok,1.750000e+06,100.000000,0.000000,59.833333,718.6950,216.365000
8,Kalikur,2.068333e+06,100.000000,0.000000,50.100000,507.9950,445.190000
9,Katakeja,2.499032e+06,96.774194,100.000000,64.532258,10.2400,0.880000
10,Labalimut,1.978333e+06,100.000000,100.000000,44.400000,4146.9837,1729.677000
11,Lamatuka,2.627452e+06,100.000000,100.000000,80.354839,168.0045,14.307300
12,Laranwutun,1.735000e+06,100.000000,100.000000,68.600000,2746.0000,244.275500
13,Lolong,7.800000e+05,100.000000,100.000000,36.300000,7.1154,3.518000
14,Mahal,8.608333e+05,100.000000,3.333333,61.366667,2757.6990,631.856000
15,Merdeka,2.662500e+06,100.000000,0.000000,77.383333,69.5300,10.997000
16,Muruona,9.268293e+05,100.000000,100.000000,69.695122,58.8250,108.675000
17,Nubamado,1.073833e+06,90.000000,100.000000,47.800000,31.8575,798.477000
18,Pada,1.627419e+06,93.548387,93.548387,48.919355,17.1280,16.390000
19,Paubokol,5.450000e+05,100.000000,0.000000,42.800000,274.7240,21.430000
20,Puor,2.828333e+06,100.000000,0.000000,76.216667,24.1635,13.509000
21,Riangbao,1.546667e+06,100.000000,100.000000,97.466667,16.3482,1505.010000
22,Tagawiti,7.550000e+05,100.000000,0.000000,85.006900,21.9300,366.520000
23,Todanara,1.153448e+06,100.000000,0.000000,630.537241,25.4190,1058.966600
24,Tubuk Rajan,1.630000e+06,96.666667,100.000000,23.395067,7.2200,10.070000
25,Tubungwalang,5.000000e+05,96.666667,0.000000,78.566667,740.0325,320.156100
26,Waienga,8.416667e+05,96.666667,6.666667,52.300000,2515.4325,11.128000
27,Watodiri,2.887500e+06,100.000000,93.333333,52.708333,14.0775,211.765100
28,Wuakerong,1.867600e+06,100.000000,96.666667,151.733333,38.0125,766.880000

## Point 7 : Hasil Tangkapan Ikan

In [117]:
df['Total_Hasil Tangkapan (Kg)'].value_counts().sort_index()

Total_Hasil Tangkapan (Kg)
0.0      776
1.0       12
1.5        1
2.0       15
2.7        1
3.0       13
4.0        9
5.0       12
6.0        2
8.0        3
10.0      12
12.0       1
15.0       4
20.0      10
25.0       1
30.0       4
40.0       1
50.0       1
60.0       1
90.0       1
150.0      1
Name: count, dtype: int64

In [118]:
data_perikanan_tangkap = df.groupby('Desa')['Total_Hasil Tangkapan (Kg)'].agg([
    ("Total seluruh tangkapan ikan (Kg)", 'sum'),
    ("Rata-rata tangkapan ikan (Kg)", 'mean')
]).reset_index()

In [119]:
data_perikanan_tangkap

,Desa,Total seluruh tangkapan ikan (Kg),Rata-rata tangkapan ikan (Kg)
0,Balauring,279.0,9.300000
1,Benihading,0.0,0.000000
2,Bour,23.0,0.821429
3,Dikesare,230.0,7.666667
4,Duawutun,37.0,1.233333
5,Dulitukan,9.0,0.300000
6,Hoelea I,13.0,0.433333
7,Ile Kimok,0.0,0.000000
8,Kalikur,82.0,2.733333
9,Katakeja,0.0,0.000000
10,Labalimut,0.0,0.000000
11,Lamatuka,78.0,2.516129
12,Laranwutun,68.0,2.266667
13,Lolong,11.0,0.366667
14,Mahal,3.0,0.100000
15,Merdeka,6.5,0.216667
16,Muruona,50.0,1.219512
17,Nubamado,0.0,0.000000
18,Pada,35.0,1.129032
19,Paubokol,0.0,0.000000
20,Puor,0.0,0.000000
21,Riangbao,17.0,0.566667
22,Tagawiti,99.0,3.300000
23,Todanara,5.0,0.172414
24,Tubuk Rajan,0.0,0.000000
25,Tubungwalang,0.0,0.000000
26,Waienga,42.7,1.423333
27,Watodiri,34.0,1.133333
28,Wuakerong,22.0,0.733333

In [120]:
df_point = df_point.merge(
    data_perikanan_tangkap[['Desa','Total seluruh tangkapan ikan (Kg)']],
    on='Desa', how='left'
)

In [121]:
df_point

,Desa,Rata-rata Penghasilan,Persentase sumber listrik PLN,Persentase air bersih PDAM,Rata-rata Luas Bangunan Rumah (m2),Total seluruh luas lahan (Ha),Total seluruh produksi pertanian (ton),Total seluruh tangkapan ikan (Kg)
0,Balauring,1.398357e+06,100.000000,76.666667,82.933333,310.5000,14.900000,279.0
1,Benihading,3.638690e+06,100.000000,0.000000,41.400000,34.6870,17.788760,0.0
2,Bour,1.528589e+06,96.428571,0.000000,62.107143,20.1635,59.641000,23.0
3,Dikesare,7.566667e+05,100.000000,0.000000,80.666667,6.1780,603.813294,230.0
4,Duawutun,1.591667e+06,100.000000,100.000000,306.366667,27.8500,176.680000,37.0
5,Dulitukan,1.747400e+06,100.000000,16.666667,53.933333,30.7675,53.071900,9.0
6,Hoelea I,2.566667e+06,100.000000,0.000000,59.975000,14.2750,19.476000,13.0
7,Ile Kimok,1.750000e+06,100.000000,0.000000,59.833333,718.6950,216.365000,0.0
8,Kalikur,2.068333e+06,100.000000,0.000000,50.100000,507.9950,445.190000,82.0
9,Katakeja,2.499032e+06,96.774194,100.000000,64.532258,10.2400,0.880000,0.0
10,Labalimut,1.978333e+06,100.000000,100.000000,44.400000,4146.9837,1729.677000,0.0
11,Lamatuka,2.627452e+06,100.000000,100.000000,80.354839,168.0045,14.307300,78.0
12,Laranwutun,1.735000e+06,100.000000,100.000000,68.600000,2746.0000,244.275500,68.0
13,Lolong,7.800000e+05,100.000000,100.000000,36.300000,7.1154,3.518000,11.0
14,Mahal,8.608333e+05,100.000000,3.333333,61.366667,2757.6990,631.856000,3.0
15,Merdeka,2.662500e+06,100.000000,0.000000,77.383333,69.5300,10.997000,6.5
16,Muruona,9.268293e+05,100.000000,100.000000,69.695122,58.8250,108.675000,50.0
17,Nubamado,1.073833e+06,90.000000,100.000000,47.800000,31.8575,798.477000,0.0
18,Pada,1.627419e+06,93.548387,93.548387,48.919355,17.1280,16.390000,35.0
19,Paubokol,5.450000e+05,100.000000,0.000000,42.800000,274.7240,21.430000,0.0
20,Puor,2.828333e+06,100.000000,0.000000,76.216667,24.1635,13.509000,0.0
21,Riangbao,1.546667e+06,100.000000,100.000000,97.466667,16.3482,1505.010000,17.0
22,Tagawiti,7.550000e+05,100.000000,0.000000,85.006900,21.9300,366.520000,99.0
23,Todanara,1.153448e+06,100.000000,0.000000,630.537241,25.4190,1058.966600,5.0
24,Tubuk Rajan,1.630000e+06,96.666667,100.000000,23.395067,7.2200,10.070000,0.0
25,Tubungwalang,5.000000e+05,96.666667,0.000000,78.566667,740.0325,320.156100,0.0
26,Waienga,8.416667e+05,96.666667,6.666667,52.300000,2515.4325,11.128000,42.7
27,Watodiri,2.887500e+06,100.000000,93.333333,52.708333,14.0775,211.765100,34.0
28,Wuakerong,1.867600e+06,100.000000,96.666667,151.733333,38.0125,766.880000,22.0

## Point 8 : Pembelian Pupuk

In [122]:
df_petani = df[df['Pekerjaan'] == 'Petani atau Nelayan'].copy()

In [123]:
df_petani['Total_Luas Lahan Pertanian'].value_counts().sort_index()

Total_Luas Lahan Pertanian
0.00000       99
0.00300        2
0.00350        2
0.00425        1
0.00500        1
0.00800        1
0.00900        1
0.01000        3
0.01200        2
0.01400        1
0.01500        1
0.02000        1
0.02100        1
0.02400        1
0.02500        4
0.03000        4
0.04000        3
0.04200        1
0.05000        9
0.06000        4
0.06250        4
0.07500        4
0.08000        2
0.09000        2
0.10065        1
0.13500        1
0.15000        2
0.16000        4
0.18000        1
0.18250        1
0.18750        4
0.18990        1
0.19750        1
0.20000        4
0.21000        2
0.21440        1
0.22000        1
0.22370        1
0.22500        1
0.24000        2
0.25000       22
0.27500        1
0.28000        1
0.30000        6
0.31250        1
0.32000        1
0.37500        3
0.40000        3
0.45000        1
0.45000        2
0.48000        1
0.50000       70
0.50500        1
0.52500        1
0.55000        1
0.56000        1
0.56250        1
0.60000        2
0.60000        2
0.62500        1
0.62730        1
0.65000        2
0.65200        1
0.70000        2
0.74840        1
0.75000       13
0.80000        4
0.84000        1
0.90000        1
0.90000        1
1.00000       73
1.04000        1
1.05000        2
1.10000        1
1.25000        4
1.30000        1
1.40000        1
1.50000       17
1.60000        1
1.62500        1
1.75000        3
1.80000        1
1.87000        1
2.00000       41
2.04000        1
2.07000        1
2.10000        1
2.19000        1
2.40000        1
2.50000        6
3.00000       18
3.04500        1
3.21000        1
4.00000        4
4.50000        1
5.00000        2
6.00000        1
7.03000        1
8.08100        1
10.00000       1
12.00000       1
15.00000       1
50.65000       1
200.00000      1
250.00000      1
300.00000      2
500.00000      2
600.00000      2
625.00000      1
800.00000      1
1000.00000     1
2500.00000     1
2700.00000     1
Name: count, dtype: int64

In [124]:
df_petani = df_petani[df_petani['Total_Luas Lahan Pertanian'] != 0.0000].copy()

In [125]:
df_petani['Desa'].value_counts()

Desa
Ile Kimok       28
Benihading      27
Dulitukan       23
Muruona         23
Tagawiti        22
Paubokol        21
Todanara        20
Lolong          20
Tubungwalang    19
Puor            16
Mahal           16
Waienga         15
Lamatuka        15
Dikesare        14
Laranwutun      14
Wuakerong       14
Merdeka         14
Nubamado        13
Labalimut       13
Bour            12
Watodiri        12
Pada            12
Riangbao        11
Duawutun        10
Kalikur          9
Balauring        9
Hoelea I         7
Tubuk Rajan      6
Katakeja         3
Name: count, dtype: int64

In [126]:
df_petani['Pembelian Pupuk'].value_counts().sort_index()

Pembelian Pupuk
0.0          376
11000.0        1
12500.0        1
15000.0        1
16750.0        1
20000.0        1
25000.0        2
40000.0        1
50000.0        7
67500.0        1
70000.0        1
75000.0        1
100000.0       1
105000.0       1
112000.0       1
112500.0       1
130000.0       1
140000.0       1
150000.0      22
250000.0       1
260000.0       1
300000.0       5
500000.0       1
600000.0       1
750000.0       1
1200000.0      1
1500000.0      1
1800000.0      3
2550000.0      1
Name: count, dtype: int64

In [127]:
persentase_pembelian_pupuk = (
    df_petani.groupby('Desa')['Pembelian Pupuk']
      .apply(lambda x: (x > 0).mean() * 100)
      .reset_index(name='Persentase petani membeli pupuk')
)

In [128]:
persentase_pembelian_pupuk

            Desa  Persentase petani membeli pupuk
0      Balauring                        66.666667
1     Benihading                         0.000000
2           Bour                        50.000000
3       Dikesare                         0.000000
4       Duawutun                         0.000000
5      Dulitukan                         0.000000
6       Hoelea I                        85.714286
7      Ile Kimok                         7.142857
8        Kalikur                       100.000000
9       Katakeja                         0.000000
10     Labalimut                         0.000000
11      Lamatuka                         0.000000
12    Laranwutun                         0.000000
13        Lolong                         0.000000
14         Mahal                        68.750000
15       Merdeka                         7.142857
16       Muruona                         4.347826
17      Nubamado                         0.000000
18          Pada                        16.666667
19      Paubokol                         4.761905
20          Puor                        12.500000
21      Riangbao                         0.000000
22      Tagawiti                         0.000000
23      Todanara                         5.000000
24   Tubuk Rajan                         0.000000
25  Tubungwalang                        68.421053
26       Waienga                         6.666667
27      Watodiri                         0.000000
28     Wuakerong                         0.000000

In [129]:
df_point = df_point.merge(
    persentase_pembelian_pupuk[['Desa','Persentase petani membeli pupuk']],
    on='Desa', how='left'
)

In [130]:
df_point

,Desa,Rata-rata Penghasilan,Persentase sumber listrik PLN,Persentase air bersih PDAM,Rata-rata Luas Bangunan Rumah (m2),Total seluruh luas lahan (Ha),Total seluruh produksi pertanian (ton),Total seluruh tangkapan ikan (Kg),Persentase petani membeli pupuk
0,Balauring,1.398357e+06,100.000000,76.666667,82.933333,310.5000,14.900000,279.0,66.666667
1,Benihading,3.638690e+06,100.000000,0.000000,41.400000,34.6870,17.788760,0.0,0.000000
2,Bour,1.528589e+06,96.428571,0.000000,62.107143,20.1635,59.641000,23.0,50.000000
3,Dikesare,7.566667e+05,100.000000,0.000000,80.666667,6.1780,603.813294,230.0,0.000000
4,Duawutun,1.591667e+06,100.000000,100.000000,306.366667,27.8500,176.680000,37.0,0.000000
5,Dulitukan,1.747400e+06,100.000000,16.666667,53.933333,30.7675,53.071900,9.0,0.000000
6,Hoelea I,2.566667e+06,100.000000,0.000000,59.975000,14.2750,19.476000,13.0,85.714286
7,Ile Kimok,1.750000e+06,100.000000,0.000000,59.833333,718.6950,216.365000,0.0,7.142857
8,Kalikur,2.068333e+06,100.000000,0.000000,50.100000,507.9950,445.190000,82.0,100.000000
9,Katakeja,2.499032e+06,96.774194,100.000000,64.532258,10.2400,0.880000,0.0,0.000000
10,Labalimut,1.978333e+06,100.000000,100.000000,44.400000,4146.9837,1729.677000,0.0,0.000000
11,Lamatuka,2.627452e+06,100.000000,100.000000,80.354839,168.0045,14.307300,78.0,0.000000
12,Laranwutun,1.735000e+06,100.000000,100.000000,68.600000,2746.0000,244.275500,68.0,0.000000
13,Lolong,7.800000e+05,100.000000,100.000000,36.300000,7.1154,3.518000,11.0,0.000000
14,Mahal,8.608333e+05,100.000000,3.333333,61.366667,2757.6990,631.856000,3.0,68.750000
15,Merdeka,2.662500e+06,100.000000,0.000000,77.383333,69.5300,10.997000,6.5,7.142857
16,Muruona,9.268293e+05,100.000000,100.000000,69.695122,58.8250,108.675000,50.0,4.347826
17,Nubamado,1.073833e+06,90.000000,100.000000,47.800000,31.8575,798.477000,0.0,0.000000
18,Pada,1.627419e+06,93.548387,93.548387,48.919355,17.1280,16.390000,35.0,16.666667
19,Paubokol,5.450000e+05,100.000000,0.000000,42.800000,274.7240,21.430000,0.0,4.761905
20,Puor,2.828333e+06,100.000000,0.000000,76.216667,24.1635,13.509000,0.0,12.500000
21,Riangbao,1.546667e+06,100.000000,100.000000,97.466667,16.3482,1505.010000,17.0,0.000000
22,Tagawiti,7.550000e+05,100.000000,0.000000,85.006900,21.9300,366.520000,99.0,0.000000
23,Todanara,1.153448e+06,100.000000,0.000000,630.537241,25.4190,1058.966600,5.0,5.000000
24,Tubuk Rajan,1.630000e+06,96.666667,100.000000,23.395067,7.2200,10.070000,0.0,0.000000
25,Tubungwalang,5.000000e+05,96.666667,0.000000,78.566667,740.0325,320.156100,0.0,68.421053
26,Waienga,8.416667e+05,96.666667,6.666667,52.300000,2515.4325,11.128000,42.7,6.666667
27,Watodiri,2.887500e+06,100.000000,93.333333,52.708333,14.0775,211.765100,34.0,0.000000
28,Wuakerong,1.867600e+06,100.000000,96.666667,151.733333,38.0125,766.880000,22.0,0.000000

## Point 9 : Pembelian Pestisida

In [131]:
df_petani['Pembelian Pestisida'].value_counts().sort_index()

Pembelian Pestisida
0.0          308
6250.0         1
7500.0         1
10000.0        1
14000.0        1
25000.0        1
30000.0        2
35000.0        2
40000.0        2
50000.0        5
56000.0        1
58000.0        1
70000.0        1
75000.0        2
80000.0       12
85000.0        4
90000.0        5
100000.0      10
110000.0       3
115000.0       3
120000.0      13
125000.0       1
130000.0       4
135000.0       5
140000.0       1
150000.0       2
160000.0       2
180000.0       2
200000.0       3
240000.0       5
255000.0       1
270000.0       4
300000.0       3
350000.0       1
360000.0       4
390000.0       2
400000.0       1
405000.0       1
480000.0       2
500000.0       2
510000.0       1
540000.0       1
600000.0       1
620000.0       1
720000.0       1
800000.0       1
805000.0       1
900000.0       1
1200000.0      1
1380000.0      1
1500000.0      1
1760000.0      1
3240000.0      1
Name: count, dtype: int64

In [132]:
persentase_pembelian_pestisida = (
    df_petani.groupby('Desa')['Pembelian Pestisida']
      .apply(lambda x: (x > 0).mean() * 100)
      .reset_index(name='Persentase petani membeli pestisida')
)

In [133]:
persentase_pembelian_pestisida

            Desa  Persentase petani membeli pestisida
0      Balauring                            11.111111
1     Benihading                             7.407407
2           Bour                            83.333333
3       Dikesare                             0.000000
4       Duawutun                             0.000000
5      Dulitukan                             0.000000
6       Hoelea I                            57.142857
7      Ile Kimok                            53.571429
8        Kalikur                           100.000000
9       Katakeja                            33.333333
10     Labalimut                             0.000000
11      Lamatuka                             0.000000
12    Laranwutun                            57.142857
13        Lolong                             0.000000
14         Mahal                            87.500000
15       Merdeka                            28.571429
16       Muruona                            52.173913
17      Nubamado                            30.769231
18          Pada                             8.333333
19      Paubokol                            38.095238
20          Puor                             0.000000
21      Riangbao                            36.363636
22      Tagawiti                             0.000000
23      Todanara                            50.000000
24   Tubuk Rajan                             0.000000
25  Tubungwalang                            26.315789
26       Waienga                            86.666667
27      Watodiri                             0.000000
28     Wuakerong                            35.714286

In [134]:
df_point = df_point.merge(
    persentase_pembelian_pestisida[['Desa','Persentase petani membeli pestisida']],
    on='Desa', how='left'
)

In [135]:
df_point

,Desa,Rata-rata Penghasilan,Persentase sumber listrik PLN,Persentase air bersih PDAM,Rata-rata Luas Bangunan Rumah (m2),Total seluruh luas lahan (Ha),Total seluruh produksi pertanian (ton),Total seluruh tangkapan ikan (Kg),Persentase petani membeli pupuk,Persentase petani membeli pestisida
0,Balauring,1.398357e+06,100.000000,76.666667,82.933333,310.5000,14.900000,279.0,66.666667,11.111111
1,Benihading,3.638690e+06,100.000000,0.000000,41.400000,34.6870,17.788760,0.0,0.000000,7.407407
2,Bour,1.528589e+06,96.428571,0.000000,62.107143,20.1635,59.641000,23.0,50.000000,83.333333
3,Dikesare,7.566667e+05,100.000000,0.000000,80.666667,6.1780,603.813294,230.0,0.000000,0.000000
4,Duawutun,1.591667e+06,100.000000,100.000000,306.366667,27.8500,176.680000,37.0,0.000000,0.000000
5,Dulitukan,1.747400e+06,100.000000,16.666667,53.933333,30.7675,53.071900,9.0,0.000000,0.000000
6,Hoelea I,2.566667e+06,100.000000,0.000000,59.975000,14.2750,19.476000,13.0,85.714286,57.142857
7,Ile Kimok,1.750000e+06,100.000000,0.000000,59.833333,718.6950,216.365000,0.0,7.142857,53.571429
8,Kalikur,2.068333e+06,100.000000,0.000000,50.100000,507.9950,445.190000,82.0,100.000000,100.000000
9,Katakeja,2.499032e+06,96.774194,100.000000,64.532258,10.2400,0.880000,0.0,0.000000,33.333333
10,Labalimut,1.978333e+06,100.000000,100.000000,44.400000,4146.9837,1729.677000,0.0,0.000000,0.000000
11,Lamatuka,2.627452e+06,100.000000,100.000000,80.354839,168.0045,14.307300,78.0,0.000000,0.000000
12,Laranwutun,1.735000e+06,100.000000,100.000000,68.600000,2746.0000,244.275500,68.0,0.000000,57.142857
13,Lolong,7.800000e+05,100.000000,100.000000,36.300000,7.1154,3.518000,11.0,0.000000,0.000000
14,Mahal,8.608333e+05,100.000000,3.333333,61.366667,2757.6990,631.856000,3.0,68.750000,87.500000
15,Merdeka,2.662500e+06,100.000000,0.000000,77.383333,69.5300,10.997000,6.5,7.142857,28.571429
16,Muruona,9.268293e+05,100.000000,100.000000,69.695122,58.8250,108.675000,50.0,4.347826,52.173913
17,Nubamado,1.073833e+06,90.000000,100.000000,47.800000,31.8575,798.477000,0.0,0.000000,30.769231
18,Pada,1.627419e+06,93.548387,93.548387,48.919355,17.1280,16.390000,35.0,16.666667,8.333333
19,Paubokol,5.450000e+05,100.000000,0.000000,42.800000,274.7240,21.430000,0.0,4.761905,38.095238
20,Puor,2.828333e+06,100.000000,0.000000,76.216667,24.1635,13.509000,0.0,12.500000,0.000000
21,Riangbao,1.546667e+06,100.000000,100.000000,97.466667,16.3482,1505.010000,17.0,0.000000,36.363636
22,Tagawiti,7.550000e+05,100.000000,0.000000,85.006900,21.9300,366.520000,99.0,0.000000,0.000000
23,Todanara,1.153448e+06,100.000000,0.000000,630.537241,25.4190,1058.966600,5.0,5.000000,50.000000
24,Tubuk Rajan,1.630000e+06,96.666667,100.000000,23.395067,7.2200,10.070000,0.0,0.000000,0.000000
25,Tubungwalang,5.000000e+05,96.666667,0.000000,78.566667,740.0325,320.156100,0.0,68.421053,26.315789
26,Waienga,8.416667e+05,96.666667,6.666667,52.300000,2515.4325,11.128000,42.7,6.666667,86.666667
27,Watodiri,2.887500e+06,100.000000,93.333333,52.708333,14.0775,211.765100,34.0,0.000000,0.000000
28,Wuakerong,1.867600e+06,100.000000,96.666667,151.733333,38.0125,766.880000,22.0,0.000000,35.714286

## Point 10 : Sewa Alat Pertanian

In [136]:
df_petani['Sewa Alat dan Mesin Pertanian'].value_counts().sort_index()

Sewa Alat dan Mesin Pertanian
0.0          415
20000.0        1
40000.0        2
50000.0        1
100000.0       5
120000.0       1
125000.0       1
150000.0       1
250000.0       1
400000.0       3
480000.0       1
500000.0       2
580000.0       1
600000.0       1
1000000.0      2
Name: count, dtype: int64

In [137]:
persentase_sewa_alat_pertanian = (
    df_petani.groupby('Desa')['Sewa Alat dan Mesin Pertanian']
      .apply(lambda x: (x > 0).mean() * 100)
      .reset_index(name='Persentase petani menyewa alat pertanian')
)

In [138]:
persentase_sewa_alat_pertanian

            Desa  Persentase petani menyewa alat pertanian
0      Balauring                                  0.000000
1     Benihading                                  0.000000
2           Bour                                 41.666667
3       Dikesare                                  0.000000
4       Duawutun                                  0.000000
5      Dulitukan                                  0.000000
6       Hoelea I                                  0.000000
7      Ile Kimok                                  0.000000
8        Kalikur                                 11.111111
9       Katakeja                                 66.666667
10     Labalimut                                  7.692308
11      Lamatuka                                  0.000000
12    Laranwutun                                  7.142857
13        Lolong                                  0.000000
14         Mahal                                 12.500000
15       Merdeka                                  7.142857
16       Muruona                                  0.000000
17      Nubamado                                  0.000000
18          Pada                                 16.666667
19      Paubokol                                  0.000000
20          Puor                                 18.750000
21      Riangbao                                  0.000000
22      Tagawiti                                  0.000000
23      Todanara                                 10.000000
24   Tubuk Rajan                                  0.000000
25  Tubungwalang                                  5.263158
26       Waienga                                  0.000000
27      Watodiri                                  0.000000
28     Wuakerong                                 14.285714

In [139]:
df_point = df_point.merge(
    persentase_sewa_alat_pertanian[['Desa','Persentase petani menyewa alat pertanian']],
    on='Desa', how='left'
)

In [140]:
df_point

,Desa,Rata-rata Penghasilan,Persentase sumber listrik PLN,Persentase air bersih PDAM,Rata-rata Luas Bangunan Rumah (m2),Total seluruh luas lahan (Ha),Total seluruh produksi pertanian (ton),Total seluruh tangkapan ikan (Kg),Persentase petani membeli pupuk,Persentase petani membeli pestisida,Persentase petani menyewa alat pertanian
0,Balauring,1.398357e+06,100.000000,76.666667,82.933333,310.5000,14.900000,279.0,66.666667,11.111111,0.000000
1,Benihading,3.638690e+06,100.000000,0.000000,41.400000,34.6870,17.788760,0.0,0.000000,7.407407,0.000000
2,Bour,1.528589e+06,96.428571,0.000000,62.107143,20.1635,59.641000,23.0,50.000000,83.333333,41.666667
3,Dikesare,7.566667e+05,100.000000,0.000000,80.666667,6.1780,603.813294,230.0,0.000000,0.000000,0.000000
4,Duawutun,1.591667e+06,100.000000,100.000000,306.366667,27.8500,176.680000,37.0,0.000000,0.000000,0.000000
5,Dulitukan,1.747400e+06,100.000000,16.666667,53.933333,30.7675,53.071900,9.0,0.000000,0.000000,0.000000
6,Hoelea I,2.566667e+06,100.000000,0.000000,59.975000,14.2750,19.476000,13.0,85.714286,57.142857,0.000000
7,Ile Kimok,1.750000e+06,100.000000,0.000000,59.833333,718.6950,216.365000,0.0,7.142857,53.571429,0.000000
8,Kalikur,2.068333e+06,100.000000,0.000000,50.100000,507.9950,445.190000,82.0,100.000000,100.000000,11.111111
9,Katakeja,2.499032e+06,96.774194,100.000000,64.532258,10.2400,0.880000,0.0,0.000000,33.333333,66.666667
10,Labalimut,1.978333e+06,100.000000,100.000000,44.400000,4146.9837,1729.677000,0.0,0.000000,0.000000,7.692308
11,Lamatuka,2.627452e+06,100.000000,100.000000,80.354839,168.0045,14.307300,78.0,0.000000,0.000000,0.000000
12,Laranwutun,1.735000e+06,100.000000,100.000000,68.600000,2746.0000,244.275500,68.0,0.000000,57.142857,7.142857
13,Lolong,7.800000e+05,100.000000,100.000000,36.300000,7.1154,3.518000,11.0,0.000000,0.000000,0.000000
14,Mahal,8.608333e+05,100.000000,3.333333,61.366667,2757.6990,631.856000,3.0,68.750000,87.500000,12.500000
15,Merdeka,2.662500e+06,100.000000,0.000000,77.383333,69.5300,10.997000,6.5,7.142857,28.571429,7.142857
16,Muruona,9.268293e+05,100.000000,100.000000,69.695122,58.8250,108.675000,50.0,4.347826,52.173913,0.000000
17,Nubamado,1.073833e+06,90.000000,100.000000,47.800000,31.8575,798.477000,0.0,0.000000,30.769231,0.000000
18,Pada,1.627419e+06,93.548387,93.548387,48.919355,17.1280,16.390000,35.0,16.666667,8.333333,16.666667
19,Paubokol,5.450000e+05,100.000000,0.000000,42.800000,274.7240,21.430000,0.0,4.761905,38.095238,0.000000
20,Puor,2.828333e+06,100.000000,0.000000,76.216667,24.1635,13.509000,0.0,12.500000,0.000000,18.750000
21,Riangbao,1.546667e+06,100.000000,100.000000,97.466667,16.3482,1505.010000,17.0,0.000000,36.363636,0.000000
22,Tagawiti,7.550000e+05,100.000000,0.000000,85.006900,21.9300,366.520000,99.0,0.000000,0.000000,0.000000
23,Todanara,1.153448e+06,100.000000,0.000000,630.537241,25.4190,1058.966600,5.0,5.000000,50.000000,10.000000
24,Tubuk Rajan,1.630000e+06,96.666667,100.000000,23.395067,7.2200,10.070000,0.0,0.000000,0.000000,0.000000
25,Tubungwalang,5.000000e+05,96.666667,0.000000,78.566667,740.0325,320.156100,0.0,68.421053,26.315789,5.263158
26,Waienga,8.416667e+05,96.666667,6.666667,52.300000,2515.4325,11.128000,42.7,6.666667,86.666667,0.000000
27,Watodiri,2.887500e+06,100.000000,93.333333,52.708333,14.0775,211.765100,34.0,0.000000,0.000000,0.000000
28,Wuakerong,1.867600e+06,100.000000,96.666667,151.733333,38.0125,766.880000,22.0,0.000000,35.714286,14.285714

## Point 11 : kepemilikan Ternak

In [60]:
df['jumlah ternak'].value_counts().sort_index()

jumlah ternak
0.0      208
1.0       50
2.0       53
3.0       47
4.0       55
5.0       39
6.0       32
7.0       43
8.0       38
9.0       30
10.0      36
11.0      23
12.0      30
13.0      21
14.0      20
15.0      20
16.0      11
17.0      10
18.0       9
19.0       9
20.0      13
21.0       4
22.0       8
23.0       8
24.0       6
25.0       4
26.0       2
27.0       5
28.0       4
29.0       3
30.0       2
31.0       3
32.0       1
33.0       3
34.0       3
35.0       2
36.0       1
37.0       1
40.0       2
41.0       1
43.0       1
44.0       1
45.0       1
47.0       1
48.0       1
50.0       2
51.0       1
52.0       1
55.0       1
60.0       2
61.0       1
70.0       1
80.0       1
84.0       1
96.0       1
101.0      1
103.0      1
124.0      1
350.0      1
Name: count, dtype: int64

In [61]:
"""persentase_kepemilikan_ternak = (
    df.groupby('Desa')['jumlah ternak']
      .apply(lambda x: (x > 0).mean() * 100)
      .reset_index(name='Persentase kepemilikan ternak')
)"""

In [141]:
jumlah_ternak = df.groupby('Desa')['jumlah ternak'].agg([
    ("Total jumlah ternak", 'sum'),
    ("Rata-rata jumlah ternak", 'mean')
]).reset_index()

In [142]:
#persentase_kepemilikan_ternak

In [143]:
jumlah_ternak

            Desa  Total jumlah ternak  Rata-rata jumlah ternak
0      Balauring                233.0                 7.766667
1     Benihading                380.0                12.666667
2           Bour                273.0                 9.750000
3       Dikesare                174.0                 5.800000
4       Duawutun                306.0                10.200000
5      Dulitukan                435.0                14.500000
6       Hoelea I                212.0                 7.066667
7      Ile Kimok                518.0                17.266667
8        Kalikur                164.0                 5.466667
9       Katakeja                309.0                 9.967742
10     Labalimut                130.0                 4.333333
11      Lamatuka                240.0                 7.741935
12    Laranwutun                352.0                11.733333
13        Lolong                160.0                 5.333333
14         Mahal                643.0                21.433333
15       Merdeka                507.0                16.900000
16       Muruona                329.0                 8.024390
17      Nubamado                193.0                 6.433333
18          Pada                223.0                 7.193548
19      Paubokol                113.0                 3.766667
20          Puor                222.0                 7.400000
21      Riangbao                352.0                11.733333
22      Tagawiti                215.0                 7.166667
23      Todanara                 20.0                 0.689655
24   Tubuk Rajan                 53.0                 1.766667
25  Tubungwalang                218.0                 7.266667
26       Waienga                309.0                10.300000
27      Watodiri                344.0                11.466667
28     Wuakerong                315.0                10.500000

In [144]:
df_point = df_point.merge(
    jumlah_ternak[['Desa','Total jumlah ternak']],
    on='Desa', how='left'
)

In [145]:
df_point

,Desa,Rata-rata Penghasilan,Persentase sumber listrik PLN,Persentase air bersih PDAM,Rata-rata Luas Bangunan Rumah (m2),Total seluruh luas lahan (Ha),Total seluruh produksi pertanian (ton),Total seluruh tangkapan ikan (Kg),Persentase petani membeli pupuk,Persentase petani membeli pestisida,Persentase petani menyewa alat pertanian,Total jumlah ternak
0,Balauring,1.398357e+06,100.000000,76.666667,82.933333,310.5000,14.900000,279.0,66.666667,11.111111,0.000000,233.0
1,Benihading,3.638690e+06,100.000000,0.000000,41.400000,34.6870,17.788760,0.0,0.000000,7.407407,0.000000,380.0
2,Bour,1.528589e+06,96.428571,0.000000,62.107143,20.1635,59.641000,23.0,50.000000,83.333333,41.666667,273.0
3,Dikesare,7.566667e+05,100.000000,0.000000,80.666667,6.1780,603.813294,230.0,0.000000,0.000000,0.000000,174.0
4,Duawutun,1.591667e+06,100.000000,100.000000,306.366667,27.8500,176.680000,37.0,0.000000,0.000000,0.000000,306.0
5,Dulitukan,1.747400e+06,100.000000,16.666667,53.933333,30.7675,53.071900,9.0,0.000000,0.000000,0.000000,435.0
6,Hoelea I,2.566667e+06,100.000000,0.000000,59.975000,14.2750,19.476000,13.0,85.714286,57.142857,0.000000,212.0
7,Ile Kimok,1.750000e+06,100.000000,0.000000,59.833333,718.6950,216.365000,0.0,7.142857,53.571429,0.000000,518.0
8,Kalikur,2.068333e+06,100.000000,0.000000,50.100000,507.9950,445.190000,82.0,100.000000,100.000000,11.111111,164.0
9,Katakeja,2.499032e+06,96.774194,100.000000,64.532258,10.2400,0.880000,0.0,0.000000,33.333333,66.666667,309.0
10,Labalimut,1.978333e+06,100.000000,100.000000,44.400000,4146.9837,1729.677000,0.0,0.000000,0.000000,7.692308,130.0
11,Lamatuka,2.627452e+06,100.000000,100.000000,80.354839,168.0045,14.307300,78.0,0.000000,0.000000,0.000000,240.0
12,Laranwutun,1.735000e+06,100.000000,100.000000,68.600000,2746.0000,244.275500,68.0,0.000000,57.142857,7.142857,352.0
13,Lolong,7.800000e+05,100.000000,100.000000,36.300000,7.1154,3.518000,11.0,0.000000,0.000000,0.000000,160.0
14,Mahal,8.608333e+05,100.000000,3.333333,61.366667,2757.6990,631.856000,3.0,68.750000,87.500000,12.500000,643.0
15,Merdeka,2.662500e+06,100.000000,0.000000,77.383333,69.5300,10.997000,6.5,7.142857,28.571429,7.142857,507.0
16,Muruona,9.268293e+05,100.000000,100.000000,69.695122,58.8250,108.675000,50.0,4.347826,52.173913,0.000000,329.0
17,Nubamado,1.073833e+06,90.000000,100.000000,47.800000,31.8575,798.477000,0.0,0.000000,30.769231,0.000000,193.0
18,Pada,1.627419e+06,93.548387,93.548387,48.919355,17.1280,16.390000,35.0,16.666667,8.333333,16.666667,223.0
19,Paubokol,5.450000e+05,100.000000,0.000000,42.800000,274.7240,21.430000,0.0,4.761905,38.095238,0.000000,113.0
20,Puor,2.828333e+06,100.000000,0.000000,76.216667,24.1635,13.509000,0.0,12.500000,0.000000,18.750000,222.0
21,Riangbao,1.546667e+06,100.000000,100.000000,97.466667,16.3482,1505.010000,17.0,0.000000,36.363636,0.000000,352.0
22,Tagawiti,7.550000e+05,100.000000,0.000000,85.006900,21.9300,366.520000,99.0,0.000000,0.000000,0.000000,215.0
23,Todanara,1.153448e+06,100.000000,0.000000,630.537241,25.4190,1058.966600,5.0,5.000000,50.000000,10.000000,20.0
24,Tubuk Rajan,1.630000e+06,96.666667,100.000000,23.395067,7.2200,10.070000,0.0,0.000000,0.000000,0.000000,53.0
25,Tubungwalang,5.000000e+05,96.666667,0.000000,78.566667,740.0325,320.156100,0.0,68.421053,26.315789,5.263158,218.0
26,Waienga,8.416667e+05,96.666667,6.666667,52.300000,2515.4325,11.128000,42.7,6.666667,86.666667,0.000000,309.0
27,Watodiri,2.887500e+06,100.000000,93.333333,52.708333,14.0775,211.765100,34.0,0.000000,0.000000,0.000000,344.0
28,Wuakerong,1.867600e+06,100.000000,96.666667,151.733333,38.0125,766.880000,22.0,0.000000,35.714286,14.285714,315.0

## Point 12 : Pembelian Obat

In [146]:
df['Pembelian Obat'].value_counts().sort_index()

Pembelian Obat
0.0          739
4000.0         1
5000.0         8
5900.0         1
10000.0       34
12000.0        1
13500.0        1
15000.0        6
20000.0       12
25000.0        8
30000.0        7
40000.0        1
50000.0       10
51000.0        1
60000.0        3
72000.0        1
75000.0        2
80000.0        1
96000.0        1
100000.0      13
120000.0       8
150000.0       4
160000.0       1
200000.0       5
216000.0       1
240000.0       4
250000.0       2
600000.0       1
1000000.0      1
1200000.0      1
2000000.0      1
3000000.0      1
Name: count, dtype: int64

In [66]:
"""persentase_pembelian_obat = (
    df.groupby('Desa')['Pembelian Obat']
      .apply(lambda x: (x > 0).mean() * 100)
      .reset_index(name='Persentase pembelian obat')
)"""

In [147]:
rata_rata_pembelian_obat = df.groupby('Desa')['Total_Produksi'].agg([
    ("Rata-rata pembelian obat", 'mean')
]).reset_index()

In [148]:
#persentase_pembelian_obat

In [149]:
rata_rata_pembelian_obat

            Desa  Rata-rata pembelian obat
0      Balauring                  0.496667
1     Benihading                  0.592959
2           Bour                  2.130036
3       Dikesare                 20.127110
4       Duawutun                  5.889333
5      Dulitukan                  1.769063
6       Hoelea I                  0.649200
7      Ile Kimok                  7.212167
8        Kalikur                 14.839667
9       Katakeja                  0.028387
10     Labalimut                 57.655900
11      Lamatuka                  0.461526
12    Laranwutun                  8.142517
13        Lolong                  0.117267
14         Mahal                 21.061867
15       Merdeka                  0.366567
16       Muruona                  2.650610
17      Nubamado                 26.615900
18          Pada                  0.528710
19      Paubokol                  0.714333
20          Puor                  0.450300
21      Riangbao                 50.167000
22      Tagawiti                 12.217333
23      Todanara                 36.516090
24   Tubuk Rajan                  0.335667
25  Tubungwalang                 10.671870
26       Waienga                  0.370933
27      Watodiri                  7.058837
28     Wuakerong                 25.562667

In [150]:
df_point = df_point.merge(
    persentase_pembelian_obat[['Desa','Persentase pembelian obat']],
    on='Desa', how='left'
)

In [151]:
df_point

,Desa,Rata-rata Penghasilan,Persentase sumber listrik PLN,Persentase air bersih PDAM,Rata-rata Luas Bangunan Rumah (m2),Total seluruh luas lahan (Ha),Total seluruh produksi pertanian (ton),Total seluruh tangkapan ikan (Kg),Persentase petani membeli pupuk,Persentase petani membeli pestisida,Persentase petani menyewa alat pertanian,Total jumlah ternak,Persentase pembelian obat
0,Balauring,1.398357e+06,100.000000,76.666667,82.933333,310.5000,14.900000,279.0,66.666667,11.111111,0.000000,233.0,10.000000
1,Benihading,3.638690e+06,100.000000,0.000000,41.400000,34.6870,17.788760,0.0,0.000000,7.407407,0.000000,380.0,20.000000
2,Bour,1.528589e+06,96.428571,0.000000,62.107143,20.1635,59.641000,23.0,50.000000,83.333333,41.666667,273.0,14.285714
3,Dikesare,7.566667e+05,100.000000,0.000000,80.666667,6.1780,603.813294,230.0,0.000000,0.000000,0.000000,174.0,3.333333
4,Duawutun,1.591667e+06,100.000000,100.000000,306.366667,27.8500,176.680000,37.0,0.000000,0.000000,0.000000,306.0,0.000000
5,Dulitukan,1.747400e+06,100.000000,16.666667,53.933333,30.7675,53.071900,9.0,0.000000,0.000000,0.000000,435.0,36.666667
6,Hoelea I,2.566667e+06,100.000000,0.000000,59.975000,14.2750,19.476000,13.0,85.714286,57.142857,0.000000,212.0,10.000000
7,Ile Kimok,1.750000e+06,100.000000,0.000000,59.833333,718.6950,216.365000,0.0,7.142857,53.571429,0.000000,518.0,3.333333
8,Kalikur,2.068333e+06,100.000000,0.000000,50.100000,507.9950,445.190000,82.0,100.000000,100.000000,11.111111,164.0,20.000000
9,Katakeja,2.499032e+06,96.774194,100.000000,64.532258,10.2400,0.880000,0.0,0.000000,33.333333,66.666667,309.0,35.483871
10,Labalimut,1.978333e+06,100.000000,100.000000,44.400000,4146.9837,1729.677000,0.0,0.000000,0.000000,7.692308,130.0,23.333333
11,Lamatuka,2.627452e+06,100.000000,100.000000,80.354839,168.0045,14.307300,78.0,0.000000,0.000000,0.000000,240.0,25.806452
12,Laranwutun,1.735000e+06,100.000000,100.000000,68.600000,2746.0000,244.275500,68.0,0.000000,57.142857,7.142857,352.0,26.666667
13,Lolong,7.800000e+05,100.000000,100.000000,36.300000,7.1154,3.518000,11.0,0.000000,0.000000,0.000000,160.0,13.333333
14,Mahal,8.608333e+05,100.000000,3.333333,61.366667,2757.6990,631.856000,3.0,68.750000,87.500000,12.500000,643.0,13.333333
15,Merdeka,2.662500e+06,100.000000,0.000000,77.383333,69.5300,10.997000,6.5,7.142857,28.571429,7.142857,507.0,3.333333
16,Muruona,9.268293e+05,100.000000,100.000000,69.695122,58.8250,108.675000,50.0,4.347826,52.173913,0.000000,329.0,14.634146
17,Nubamado,1.073833e+06,90.000000,100.000000,47.800000,31.8575,798.477000,0.0,0.000000,30.769231,0.000000,193.0,16.666667
18,Pada,1.627419e+06,93.548387,93.548387,48.919355,17.1280,16.390000,35.0,16.666667,8.333333,16.666667,223.0,6.451613
19,Paubokol,5.450000e+05,100.000000,0.000000,42.800000,274.7240,21.430000,0.0,4.761905,38.095238,0.000000,113.0,10.000000
20,Puor,2.828333e+06,100.000000,0.000000,76.216667,24.1635,13.509000,0.0,12.500000,0.000000,18.750000,222.0,13.333333
21,Riangbao,1.546667e+06,100.000000,100.000000,97.466667,16.3482,1505.010000,17.0,0.000000,36.363636,0.000000,352.0,3.333333
22,Tagawiti,7.550000e+05,100.000000,0.000000,85.006900,21.9300,366.520000,99.0,0.000000,0.000000,0.000000,215.0,20.000000
23,Todanara,1.153448e+06,100.000000,0.000000,630.537241,25.4190,1058.966600,5.0,5.000000,50.000000,10.000000,20.0,17.241379
24,Tubuk Rajan,1.630000e+06,96.666667,100.000000,23.395067,7.2200,10.070000,0.0,0.000000,0.000000,0.000000,53.0,13.333333
25,Tubungwalang,5.000000e+05,96.666667,0.000000,78.566667,740.0325,320.156100,0.0,68.421053,26.315789,5.263158,218.0,36.666667
26,Waienga,8.416667e+05,96.666667,6.666667,52.300000,2515.4325,11.128000,42.7,6.666667,86.666667,0.000000,309.0,13.333333
27,Watodiri,2.887500e+06,100.000000,93.333333,52.708333,14.0775,211.765100,34.0,0.000000,0.000000,0.000000,344.0,23.333333
28,Wuakerong,1.867600e+06,100.000000,96.666667,151.733333,38.0125,766.880000,22.0,0.000000,35.714286,14.285714,315.0,20.000000

## Point 13 : Pemeriksaan Balita ke Posyandu

In [152]:
df_balita = df[df['Balita diperiksa di Posyandu'] != 'Tidak ada'].copy()

In [153]:
df_balita['Balita diperiksa di Posyandu'].value_counts()

Balita diperiksa di Posyandu
Sering          266
Tidak Pernah     15
Kadang            4
Name: count, dtype: int64

In [154]:
persentase_balita_posyandu = (
    df_balita.groupby('Desa')['Balita diperiksa di Posyandu']
      .apply(lambda x: (x == "Sering").mean() * 100)
      .reset_index(name='Persentase balita sering diperiksa di Posyandu')
)

In [155]:
persentase_balita_posyandu

            Desa  Persentase balita sering diperiksa di Posyandu
0      Balauring                                      100.000000
1     Benihading                                      100.000000
2           Bour                                      100.000000
3       Dikesare                                       95.454545
4       Duawutun                                      100.000000
5      Dulitukan                                      100.000000
6       Hoelea I                                       83.333333
7      Ile Kimok                                       83.333333
8        Kalikur                                       83.333333
9       Katakeja                                       50.000000
10     Labalimut                                      100.000000
11      Lamatuka                                      100.000000
12    Laranwutun                                       77.272727
13        Lolong                                      100.000000
14         Mahal                                      100.000000
15       Merdeka                                      100.000000
16       Muruona                                      100.000000
17      Nubamado                                      100.000000
18          Pada                                       92.857143
19      Paubokol                                      100.000000
20          Puor                                      100.000000
21      Riangbao                                       87.500000
22      Todanara                                       84.615385
23  Tubungwalang                                      100.000000
24       Waienga                                      100.000000
25      Watodiri                                       93.333333
26     Wuakerong                                      100.000000

In [156]:
df_point = df_point.merge(
    persentase_balita_posyandu[['Desa','Persentase balita sering diperiksa di Posyandu']],
    on='Desa', how='left'
)

In [157]:
df_point

,Desa,Rata-rata Penghasilan,Persentase sumber listrik PLN,Persentase air bersih PDAM,Rata-rata Luas Bangunan Rumah (m2),Total seluruh luas lahan (Ha),Total seluruh produksi pertanian (ton),Total seluruh tangkapan ikan (Kg),Persentase petani membeli pupuk,Persentase petani membeli pestisida,Persentase petani menyewa alat pertanian,Total jumlah ternak,Persentase pembelian obat,Persentase balita sering diperiksa di Posyandu
0,Balauring,1.398357e+06,100.000000,76.666667,82.933333,310.5000,14.900000,279.0,66.666667,11.111111,0.000000,233.0,10.000000,100.000000
1,Benihading,3.638690e+06,100.000000,0.000000,41.400000,34.6870,17.788760,0.0,0.000000,7.407407,0.000000,380.0,20.000000,100.000000
2,Bour,1.528589e+06,96.428571,0.000000,62.107143,20.1635,59.641000,23.0,50.000000,83.333333,41.666667,273.0,14.285714,100.000000
3,Dikesare,7.566667e+05,100.000000,0.000000,80.666667,6.1780,603.813294,230.0,0.000000,0.000000,0.000000,174.0,3.333333,95.454545
4,Duawutun,1.591667e+06,100.000000,100.000000,306.366667,27.8500,176.680000,37.0,0.000000,0.000000,0.000000,306.0,0.000000,100.000000
5,Dulitukan,1.747400e+06,100.000000,16.666667,53.933333,30.7675,53.071900,9.0,0.000000,0.000000,0.000000,435.0,36.666667,100.000000
6,Hoelea I,2.566667e+06,100.000000,0.000000,59.975000,14.2750,19.476000,13.0,85.714286,57.142857,0.000000,212.0,10.000000,83.333333
7,Ile Kimok,1.750000e+06,100.000000,0.000000,59.833333,718.6950,216.365000,0.0,7.142857,53.571429,0.000000,518.0,3.333333,83.333333
8,Kalikur,2.068333e+06,100.000000,0.000000,50.100000,507.9950,445.190000,82.0,100.000000,100.000000,11.111111,164.0,20.000000,83.333333
9,Katakeja,2.499032e+06,96.774194,100.000000,64.532258,10.2400,0.880000,0.0,0.000000,33.333333,66.666667,309.0,35.483871,50.000000
10,Labalimut,1.978333e+06,100.000000,100.000000,44.400000,4146.9837,1729.677000,0.0,0.000000,0.000000,7.692308,130.0,23.333333,100.000000
11,Lamatuka,2.627452e+06,100.000000,100.000000,80.354839,168.0045,14.307300,78.0,0.000000,0.000000,0.000000,240.0,25.806452,100.000000
12,Laranwutun,1.735000e+06,100.000000,100.000000,68.600000,2746.0000,244.275500,68.0,0.000000,57.142857,7.142857,352.0,26.666667,77.272727
13,Lolong,7.800000e+05,100.000000,100.000000,36.300000,7.1154,3.518000,11.0,0.000000,0.000000,0.000000,160.0,13.333333,100.000000
14,Mahal,8.608333e+05,100.000000,3.333333,61.366667,2757.6990,631.856000,3.0,68.750000,87.500000,12.500000,643.0,13.333333,100.000000
15,Merdeka,2.662500e+06,100.000000,0.000000,77.383333,69.5300,10.997000,6.5,7.142857,28.571429,7.142857,507.0,3.333333,100.000000
16,Muruona,9.268293e+05,100.000000,100.000000,69.695122,58.8250,108.675000,50.0,4.347826,52.173913,0.000000,329.0,14.634146,100.000000
17,Nubamado,1.073833e+06,90.000000,100.000000,47.800000,31.8575,798.477000,0.0,0.000000,30.769231,0.000000,193.0,16.666667,100.000000
18,Pada,1.627419e+06,93.548387,93.548387,48.919355,17.1280,16.390000,35.0,16.666667,8.333333,16.666667,223.0,6.451613,92.857143
19,Paubokol,5.450000e+05,100.000000,0.000000,42.800000,274.7240,21.430000,0.0,4.761905,38.095238,0.000000,113.0,10.000000,100.000000
20,Puor,2.828333e+06,100.000000,0.000000,76.216667,24.1635,13.509000,0.0,12.500000,0.000000,18.750000,222.0,13.333333,100.000000
21,Riangbao,1.546667e+06,100.000000,100.000000,97.466667,16.3482,1505.010000,17.0,0.000000,36.363636,0.000000,352.0,3.333333,87.500000
22,Tagawiti,7.550000e+05,100.000000,0.000000,85.006900,21.9300,366.520000,99.0,0.000000,0.000000,0.000000,215.0,20.000000,NaN
23,Todanara,1.153448e+06,100.000000,0.000000,630.537241,25.4190,1058.966600,5.0,5.000000,50.000000,10.000000,20.0,17.241379,84.615385
24,Tubuk Rajan,1.630000e+06,96.666667,100.000000,23.395067,7.2200,10.070000,0.0,0.000000,0.000000,0.000000,53.0,13.333333,NaN
25,Tubungwalang,5.000000e+05,96.666667,0.000000,78.566667,740.0325,320.156100,0.0,68.421053,26.315789,5.263158,218.0,36.666667,100.000000
26,Waienga,8.416667e+05,96.666667,6.666667,52.300000,2515.4325,11.128000,42.7,6.666667,86.666667,0.000000,309.0,13.333333,100.000000
27,Watodiri,2.887500e+06,100.000000,93.333333,52.708333,14.0775,211.765100,34.0,0.000000,0.000000,0.000000,344.0,23.333333,93.333333
28,Wuakerong,1.867600e+06,100.000000,96.666667,151.733333,38.0125,766.880000,22.0,0.000000,35.714286,14.285714,315.0,20.000000,100.000000

## Point 14 : Terdapat Keluarga yang sering sakit

In [158]:
df['Anggota keluarga yang sering sakit'].value_counts()

Anggota keluarga yang sering sakit
Tidak ada    488
Istri        125
Suami         98
Anak          65
Famili        53
Orang Tua     52
Name: count, dtype: int64

In [159]:
persentase_keluarga_sering_sakit = (
    df.groupby('Desa')['Anggota keluarga yang sering sakit']
      .apply(lambda x: (x != "Tidak ada").mean() * 100)
      .reset_index(name='Persentase terdapat anggota keluarga yang sering sakit')
)

In [160]:
persentase_keluarga_sering_sakit

            Desa  Persentase terdapat anggota keluarga yang sering sakit
0      Balauring                                          33.333333
1     Benihading                                          63.333333
2           Bour                                          35.714286
3       Dikesare                                          20.000000
4       Duawutun                                          10.000000
5      Dulitukan                                          36.666667
6       Hoelea I                                          30.000000
7      Ile Kimok                                          86.666667
8        Kalikur                                          16.666667
9       Katakeja                                          38.709677
10     Labalimut                                          73.333333
11      Lamatuka                                          54.838710
12    Laranwutun                                          60.000000
13        Lolong                                          80.000000
14         Mahal                                          10.000000
15       Merdeka                                          56.666667
16       Muruona                                          82.926829
17      Nubamado                                          56.666667
18          Pada                                          41.935484
19      Paubokol                                          70.000000
20          Puor                                          30.000000
21      Riangbao                                          26.666667
22      Tagawiti                                          23.333333
23      Todanara                                          44.827586
24   Tubuk Rajan                                           3.333333
25  Tubungwalang                                          30.000000
26       Waienga                                          40.000000
27      Watodiri                                          60.000000
28     Wuakerong                                          63.333333

In [161]:
df_point = df_point.merge(
    persentase_keluarga_sering_sakit[['Desa','Persentase terdapat anggota keluarga yang sering sakit']],
    on='Desa', how='left'
)

In [162]:
df_point

,Desa,Rata-rata Penghasilan,Persentase sumber listrik PLN,Persentase air bersih PDAM,Rata-rata Luas Bangunan Rumah (m2),Total seluruh luas lahan (Ha),Total seluruh produksi pertanian (ton),Total seluruh tangkapan ikan (Kg),Persentase petani membeli pupuk,Persentase petani membeli pestisida,Persentase petani menyewa alat pertanian,Total jumlah ternak,Persentase pembelian obat,Persentase balita sering diperiksa di Posyandu,Persentase terdapat anggota keluarga yang sering sakit
0,Balauring,1.398357e+06,100.000000,76.666667,82.933333,310.5000,14.900000,279.0,66.666667,11.111111,0.000000,233.0,10.000000,100.000000,33.333333
1,Benihading,3.638690e+06,100.000000,0.000000,41.400000,34.6870,17.788760,0.0,0.000000,7.407407,0.000000,380.0,20.000000,100.000000,63.333333
2,Bour,1.528589e+06,96.428571,0.000000,62.107143,20.1635,59.641000,23.0,50.000000,83.333333,41.666667,273.0,14.285714,100.000000,35.714286
3,Dikesare,7.566667e+05,100.000000,0.000000,80.666667,6.1780,603.813294,230.0,0.000000,0.000000,0.000000,174.0,3.333333,95.454545,20.000000
4,Duawutun,1.591667e+06,100.000000,100.000000,306.366667,27.8500,176.680000,37.0,0.000000,0.000000,0.000000,306.0,0.000000,100.000000,10.000000
5,Dulitukan,1.747400e+06,100.000000,16.666667,53.933333,30.7675,53.071900,9.0,0.000000,0.000000,0.000000,435.0,36.666667,100.000000,36.666667
6,Hoelea I,2.566667e+06,100.000000,0.000000,59.975000,14.2750,19.476000,13.0,85.714286,57.142857,0.000000,212.0,10.000000,83.333333,30.000000
7,Ile Kimok,1.750000e+06,100.000000,0.000000,59.833333,718.6950,216.365000,0.0,7.142857,53.571429,0.000000,518.0,3.333333,83.333333,86.666667
8,Kalikur,2.068333e+06,100.000000,0.000000,50.100000,507.9950,445.190000,82.0,100.000000,100.000000,11.111111,164.0,20.000000,83.333333,16.666667
9,Katakeja,2.499032e+06,96.774194,100.000000,64.532258,10.2400,0.880000,0.0,0.000000,33.333333,66.666667,309.0,35.483871,50.000000,38.709677
10,Labalimut,1.978333e+06,100.000000,100.000000,44.400000,4146.9837,1729.677000,0.0,0.000000,0.000000,7.692308,130.0,23.333333,100.000000,73.333333
11,Lamatuka,2.627452e+06,100.000000,100.000000,80.354839,168.0045,14.307300,78.0,0.000000,0.000000,0.000000,240.0,25.806452,100.000000,54.838710
12,Laranwutun,1.735000e+06,100.000000,100.000000,68.600000,2746.0000,244.275500,68.0,0.000000,57.142857,7.142857,352.0,26.666667,77.272727,60.000000
13,Lolong,7.800000e+05,100.000000,100.000000,36.300000,7.1154,3.518000,11.0,0.000000,0.000000,0.000000,160.0,13.333333,100.000000,80.000000
14,Mahal,8.608333e+05,100.000000,3.333333,61.366667,2757.6990,631.856000,3.0,68.750000,87.500000,12.500000,643.0,13.333333,100.000000,10.000000
15,Merdeka,2.662500e+06,100.000000,0.000000,77.383333,69.5300,10.997000,6.5,7.142857,28.571429,7.142857,507.0,3.333333,100.000000,56.666667
16,Muruona,9.268293e+05,100.000000,100.000000,69.695122,58.8250,108.675000,50.0,4.347826,52.173913,0.000000,329.0,14.634146,100.000000,82.926829
17,Nubamado,1.073833e+06,90.000000,100.000000,47.800000,31.8575,798.477000,0.0,0.000000,30.769231,0.000000,193.0,16.666667,100.000000,56.666667
18,Pada,1.627419e+06,93.548387,93.548387,48.919355,17.1280,16.390000,35.0,16.666667,8.333333,16.666667,223.0,6.451613,92.857143,41.935484
19,Paubokol,5.450000e+05,100.000000,0.000000,42.800000,274.7240,21.430000,0.0,4.761905,38.095238,0.000000,113.0,10.000000,100.000000,70.000000
20,Puor,2.828333e+06,100.000000,0.000000,76.216667,24.1635,13.509000,0.0,12.500000,0.000000,18.750000,222.0,13.333333,100.000000,30.000000
21,Riangbao,1.546667e+06,100.000000,100.000000,97.466667,16.3482,1505.010000,17.0,0.000000,36.363636,0.000000,352.0,3.333333,87.500000,26.666667
22,Tagawiti,7.550000e+05,100.000000,0.000000,85.006900,21.9300,366.520000,99.0,0.000000,0.000000,0.000000,215.0,20.000000,NaN,23.333333
23,Todanara,1.153448e+06,100.000000,0.000000,630.537241,25.4190,1058.966600,5.0,5.000000,50.000000,10.000000,20.0,17.241379,84.615385,44.827586
24,Tubuk Rajan,1.630000e+06,96.666667,100.000000,23.395067,7.2200,10.070000,0.0,0.000000,0.000000,0.000000,53.0,13.333333,NaN,3.333333
25,Tubungwalang,5.000000e+05,96.666667,0.000000,78.566667,740.0325,320.156100,0.0,68.421053,26.315789,5.263158,218.0,36.666667,100.000000,30.000000
26,Waienga,8.416667e+05,96.666667,6.666667,52.300000,2515.4325,11.128000,42.7,6.666667,86.666667,0.000000,309.0,13.333333,100.000000,40.000000
27,Watodiri,2.887500e+06,100.000000,93.333333,52.708333,14.0775,211.765100,34.0,0.000000,0.000000,0.000000,344.0,23.333333,93.333333,60.000000
28,Wuakerong,1.867600e+06,100.000000,96.666667,151.733333,38.0125,766.880000,22.0,0.000000,35.714286,14.285714,315.0,20.000000,100.000000,63.333333

## Point 15 : Bantuan Pemerintah

In [163]:
df['Pernah dapat bantuan dari pemerintah'].value_counts()

Pernah dapat bantuan dari pemerintah
Pernah    563
Tidak     318
Name: count, dtype: int64

In [164]:
persentase_bantuan_pemerintah = (
    df.groupby('Desa')['Pernah dapat bantuan dari pemerintah']
      .apply(lambda x: (x == "Pernah").mean() * 100)
      .reset_index(name='Persentase mendapat bantuan dari pemerintah')
)

In [165]:
persentase_bantuan_pemerintah

            Desa  Persentase mendapat bantuan dari pemerintah
0      Balauring                                    70.000000
1     Benihading                                    83.333333
2           Bour                                    85.714286
3       Dikesare                                    76.666667
4       Duawutun                                    50.000000
5      Dulitukan                                    63.333333
6       Hoelea I                                    86.666667
7      Ile Kimok                                    80.000000
8        Kalikur                                    46.666667
9       Katakeja                                    61.290323
10     Labalimut                                    70.000000
11      Lamatuka                                    61.290323
12    Laranwutun                                    60.000000
13        Lolong                                    80.000000
14         Mahal                                    30.000000
15       Merdeka                                    40.000000
16       Muruona                                    63.414634
17      Nubamado                                    46.666667
18          Pada                                    80.645161
19      Paubokol                                    80.000000
20          Puor                                    76.666667
21      Riangbao                                    80.000000
22      Tagawiti                                    50.000000
23      Todanara                                    72.413793
24   Tubuk Rajan                                     3.333333
25  Tubungwalang                                    73.333333
26       Waienga                                    86.666667
27      Watodiri                                    46.666667
28     Wuakerong                                    50.000000

In [166]:
df_point = df_point.merge(
    persentase_bantuan_pemerintah[['Desa','Persentase mendapat bantuan dari pemerintah']],
    on='Desa', how='left'
)

In [167]:
df_point

,Desa,Rata-rata Penghasilan,Persentase sumber listrik PLN,Persentase air bersih PDAM,Rata-rata Luas Bangunan Rumah (m2),Total seluruh luas lahan (Ha),Total seluruh produksi pertanian (ton),Total seluruh tangkapan ikan (Kg),Persentase petani membeli pupuk,Persentase petani membeli pestisida,Persentase petani menyewa alat pertanian,Total jumlah ternak,Persentase pembelian obat,Persentase balita sering diperiksa di Posyandu,Persentase terdapat anggota keluarga yang sering sakit,Persentase mendapat bantuan dari pemerintah
0,Balauring,1.398357e+06,100.000000,76.666667,82.933333,310.5000,14.900000,279.0,66.666667,11.111111,0.000000,233.0,10.000000,100.000000,33.333333,70.000000
1,Benihading,3.638690e+06,100.000000,0.000000,41.400000,34.6870,17.788760,0.0,0.000000,7.407407,0.000000,380.0,20.000000,100.000000,63.333333,83.333333
2,Bour,1.528589e+06,96.428571,0.000000,62.107143,20.1635,59.641000,23.0,50.000000,83.333333,41.666667,273.0,14.285714,100.000000,35.714286,85.714286
3,Dikesare,7.566667e+05,100.000000,0.000000,80.666667,6.1780,603.813294,230.0,0.000000,0.000000,0.000000,174.0,3.333333,95.454545,20.000000,76.666667
4,Duawutun,1.591667e+06,100.000000,100.000000,306.366667,27.8500,176.680000,37.0,0.000000,0.000000,0.000000,306.0,0.000000,100.000000,10.000000,50.000000
5,Dulitukan,1.747400e+06,100.000000,16.666667,53.933333,30.7675,53.071900,9.0,0.000000,0.000000,0.000000,435.0,36.666667,100.000000,36.666667,63.333333
6,Hoelea I,2.566667e+06,100.000000,0.000000,59.975000,14.2750,19.476000,13.0,85.714286,57.142857,0.000000,212.0,10.000000,83.333333,30.000000,86.666667
7,Ile Kimok,1.750000e+06,100.000000,0.000000,59.833333,718.6950,216.365000,0.0,7.142857,53.571429,0.000000,518.0,3.333333,83.333333,86.666667,80.000000
8,Kalikur,2.068333e+06,100.000000,0.000000,50.100000,507.9950,445.190000,82.0,100.000000,100.000000,11.111111,164.0,20.000000,83.333333,16.666667,46.666667
9,Katakeja,2.499032e+06,96.774194,100.000000,64.532258,10.2400,0.880000,0.0,0.000000,33.333333,66.666667,309.0,35.483871,50.000000,38.709677,61.290323
10,Labalimut,1.978333e+06,100.000000,100.000000,44.400000,4146.9837,1729.677000,0.0,0.000000,0.000000,7.692308,130.0,23.333333,100.000000,73.333333,70.000000
11,Lamatuka,2.627452e+06,100.000000,100.000000,80.354839,168.0045,14.307300,78.0,0.000000,0.000000,0.000000,240.0,25.806452,100.000000,54.838710,61.290323
12,Laranwutun,1.735000e+06,100.000000,100.000000,68.600000,2746.0000,244.275500,68.0,0.000000,57.142857,7.142857,352.0,26.666667,77.272727,60.000000,60.000000
13,Lolong,7.800000e+05,100.000000,100.000000,36.300000,7.1154,3.518000,11.0,0.000000,0.000000,0.000000,160.0,13.333333,100.000000,80.000000,80.000000
14,Mahal,8.608333e+05,100.000000,3.333333,61.366667,2757.6990,631.856000,3.0,68.750000,87.500000,12.500000,643.0,13.333333,100.000000,10.000000,30.000000
15,Merdeka,2.662500e+06,100.000000,0.000000,77.383333,69.5300,10.997000,6.5,7.142857,28.571429,7.142857,507.0,3.333333,100.000000,56.666667,40.000000
16,Muruona,9.268293e+05,100.000000,100.000000,69.695122,58.8250,108.675000,50.0,4.347826,52.173913,0.000000,329.0,14.634146,100.000000,82.926829,63.414634
17,Nubamado,1.073833e+06,90.000000,100.000000,47.800000,31.8575,798.477000,0.0,0.000000,30.769231,0.000000,193.0,16.666667,100.000000,56.666667,46.666667
18,Pada,1.627419e+06,93.548387,93.548387,48.919355,17.1280,16.390000,35.0,16.666667,8.333333,16.666667,223.0,6.451613,92.857143,41.935484,80.645161
19,Paubokol,5.450000e+05,100.000000,0.000000,42.800000,274.7240,21.430000,0.0,4.761905,38.095238,0.000000,113.0,10.000000,100.000000,70.000000,80.000000
20,Puor,2.828333e+06,100.000000,0.000000,76.216667,24.1635,13.509000,0.0,12.500000,0.000000,18.750000,222.0,13.333333,100.000000,30.000000,76.666667
21,Riangbao,1.546667e+06,100.000000,100.000000,97.466667,16.3482,1505.010000,17.0,0.000000,36.363636,0.000000,352.0,3.333333,87.500000,26.666667,80.000000
22,Tagawiti,7.550000e+05,100.000000,0.000000,85.006900,21.9300,366.520000,99.0,0.000000,0.000000,0.000000,215.0,20.000000,NaN,23.333333,50.000000
23,Todanara,1.153448e+06,100.000000,0.000000,630.537241,25.4190,1058.966600,5.0,5.000000,50.000000,10.000000,20.0,17.241379,84.615385,44.827586,72.413793
24,Tubuk Rajan,1.630000e+06,96.666667,100.000000,23.395067,7.2200,10.070000,0.0,0.000000,0.000000,0.000000,53.0,13.333333,NaN,3.333333,3.333333
25,Tubungwalang,5.000000e+05,96.666667,0.000000,78.566667,740.0325,320.156100,0.0,68.421053,26.315789,5.263158,218.0,36.666667,100.000000,30.000000,73.333333
26,Waienga,8.416667e+05,96.666667,6.666667,52.300000,2515.4325,11.128000,42.7,6.666667,86.666667,0.000000,309.0,13.333333,100.000000,40.000000,86.666667
27,Watodiri,2.887500e+06,100.000000,93.333333,52.708333,14.0775,211.765100,34.0,0.000000,0.000000,0.000000,344.0,23.333333,93.333333,60.000000,46.666667
28,Wuakerong,1.867600e+06,100.000000,96.666667,151.733333,38.0125,766.880000,22.0,0.000000,35.714286,14.285714,315.0,20.000000,100.000000,63.333333,50.000000

# Save dataset

In [86]:
df_point.to_csv("data_skor_per_desa.csv", index=False)