In [1]:
import pandas as pd

# Daftar nama file sesuai urutan di gambar
file_names = [
    "1. Benihading.xlsx", "2. Riangbao.xlsx", "3. Katakeja.xlsx", "4. Waienga.xlsx", "6. TubungWalang.xlsx",
    "7. Merdeka.xlsx", "8. Dikesare.xlsx", "9. Watodiri.xlsx", "10. Hoelea I.xlsx", "11. Muruona.xlsx",
    "12. Wuakerong.xlsx", "13. Tagawiti.xlsx", "14. Lamatuka.xlsx", "15. Ile Kimok.xlsx", "16. Bour.xlsx",
    "17. Puor.xlsx", "18. Balauring.xlsx", "19. Nubamado.xlsx", "20. Labalimut.xlsx", "22. Mahal.xlsx",
    "23. Duawutun.xlsx", "24. Dulitukan.xlsx", "26. Tubuk Rajan.xlsx", "27. Pada.xlsx", "28. Paubokol.xlsx",
    "29. Kalikur.xlsx", "30. Lolong.xlsx"
]

# List untuk menampung DataFrame
df_list = []

# Loop baca semua file dengan header di baris ke-2
for file in file_names:
    df = pd.read_excel(file, header=1)  # Ambil nama kolom dari baris ke-2
    df['SourceFile'] = file
    df_list.append(df)

# Gabungkan semua DataFrame
df_combined = pd.concat(df_list, ignore_index=True)

# Tampilkan hasil awal
df_combined.head()

,#,ID,Nama Kepala Keluarga,Nomor Kartu Keluarga,Tanggal Pendataan,Dusun,Desa/Kelurahan,Kecamatan,Kabupaten,Propinsi,...,Apakah pernah dapat bantuan dari pemerintah?,"Kalau iya, apa bentuk bantuan tersebut?",Jumlah difabel (berkebutuhan khusus),Jenis Difabel,Memiliki anak usia kurang dari 5 tahun,Tinggi badan anak,Berat badan anak,Apakah anak mengalami kasus gizi buruk?,Apakah anak mengalami kekurangan gizi?,SourceFile
0,1,#22424,Adam Yusuf,5313070706137500,2024-10-07 00:00:00,Aliuroba,Benihading,Buyasuri,Lembata,Nusa Tenggara Timur,...,Pernah,Tunai,0,Tidak ada,Tidak ada,0,0,Tidak ada,Tidak ada,1. Benihading.xlsx
1,2,#22887,Sukirman Kiri,5313070806137500,2024-10-09 00:00:00,Wulakada,Benihading,Buyasuri,Lembata,Nusa Tenggara Timur,...,Pernah,Tunai,0,Tidak ada,Tidak ada,0,0,Tidak ada,Tidak ada,1. Benihading.xlsx
2,3,#22892,Aloysius Reun,5313072309080040,2024-10-09 00:00:00,Buyaq Abe,Benihading,Buyasuri,Lembata,Nusa Tenggara Timur,...,Pernah,Tunai,0,Tidak ada,Tidak ada,0,0,Tidak ada,Tidak ada,1. Benihading.xlsx
3,4,#22893,Lambertus Lapi,5313072604100020,2024-10-09 00:00:00,Wulakada,Benihading,Buyasuri,Lembata,Nusa Tenggara Timur,...,Pernah,Pengobatan,0,Tidak ada,Ada,0,0,Tidak,Tidak,1. Benihading.xlsx
4,5,#22912,Fransiskus Letu,5313072209080050,2024-10-09 00:00:00,Wulakada,Benihading,Buyasuri,Lembata,Nusa Tenggara Timur,...,Pernah,Tunai,0,Tidak ada,Tidak ada,0,0,Tidak ada,Tidak ada,1. Benihading.xlsx

In [2]:
df_combined = df_combined.drop(columns='SourceFile')

In [3]:
df_combined.duplicated().sum()

26

In [4]:
df_combined = df_combined.drop_duplicates()

In [5]:
df_combined.duplicated().sum()

0

In [6]:
for i, col in enumerate(df_combined.columns):
    print(f"{i}. {col}")

0. #
1. ID
2. Nama Kepala Keluarga
3. Nomor Kartu Keluarga
4. Tanggal Pendataan
5. Dusun
6. Desa/Kelurahan
7. Kecamatan
8. Kabupaten
9. Propinsi
10. Koordinat GPS
11. Sumber Listrik
12. Air Bersih
13. Kepemilikan Rumah
14. Nama
15. Jumlah Anggota Keluarga (jiwa)
16. Agama/ Kepercayaan
17. Pekerjaan
18. Pendapatan Bulanan (Rp.)
19. Produksi Karbohidrat
20. Beras Lokal (Sawah/Ladang dalam Kg)
21. Singkong
22. Jagung Lokal
23. Jagung Hibrida
24. Umbi-umbian lain
25. Sorgum
26. Jewawut/Weteng
27. Produksi Protein
28. Ikan dan Boga Laut Segar
29. Ikan dan Boga Laut Kering
30. Telor
31. Ayam
32. Daging (Sapi/Kerbau/Kambing/Babi,dll)
33. Kacang-kacangan
34. Minyak Masak
35. Minyak Kelapa
36. Bumbu dan Rempah
37. Cabai Besar
38. Cabai Kecil
39. Kemiri
40. Kunyit
41. Jahe
42. Sereh
43. Lengkuas
44. Jeruk Nipis
45. Mete
46. Lain-lain
47. Konsumsi Karbohidrat
48. Beras Lokal (Sawah/Ladang)
49. Singkong.1
50. Jagung Lokal.1
51. Jagung Hibrida.1
52. Umbi-umbian lain.1
53. Sorgum.1
54. Jewawut/Weteng.1
55. Konsumsi Protein
56. Ikan dan Boga Laut Segar.1
57. Ikan dan Boga Laut Kering.1
58. Telor.1
59. Ayam.1
60. Kacang-kacangan.1
61. Minyak Masak.1
62. Minyak Kelapa.1
63. Bumbu dan Rempah.1
64. Cabai Besar.1
65. Cabai Kecil.1
66. Kemiri.1
67. Kunyit.1
68. Jahe.1
69. Sereh.1
70. Lengkuas.1
71. Jeruk Nipis.1
72. Mete.1
73. Lain-lain.1
74. Konsumsi Karbohidrat.1
75. Beras Lokal (Sawah/Ladang dalam Rp)
76. Beras Toko
77. Singkong.2
78. Jagung Lokal.2
79. Jagung Hibrida.2
80. Umbi-umbian lain.2
81. Sorgum.2
82. Jewawut/Weteng.2
83. Konsumsi Protein.1
84. Ikan dan Boga Laut Segar.2
85. Ikan dan Boga Laut Kering.2
86. Telor.2
87. Ayam.2
88. Daging (Sapi/Kerbau/Kambing/Babi,dll).1
89. Tahu dan Tempe
90. Kacang-kacangan.2
91. Sayur dan Buah
92. Daun Ubi
93. Kangkung
94. Kubis
95. Sawi
96. Bayam
97. Brokoli
98. Wortel
99. Jantung Pisang
100. Kelor
101. Bunga dan Daun Pepaya
102. Pakis/Paku
103. Rebung
104. Mangga
105. Alpukat
106. Jeruk
107. Anggur
108. Buah Naga
109. Mete.2
110. Pisang
111. Rambutan
112. Nanas
113. Salak
114. Pepaya
115. Kelapa
116. Tomat
117. Timun
118. Labu
119. Kemangi
120. Minyak Masak.2
121. Minyak Kelapa.2
122. Minyak Goreng Kemasan/Toko
123. Bumbu dan Rempah.2
124. Bumbu Kemasan
125. MSG
126. Bawang Merah
127. Bawang Putih
128. Bawang Bombai
129. Cabai Besar.2
130. Cabai Kecil.2
131. Lada
132. Kemiri.2
133. Kunyit.2
134. Jahe.2
135. Sereh.2
136. Lengkuas.2
137. Jeruk Nipis.2
138. Jeruk Limau
139. Kecap
140. Saos
141. Minuman dan Makanan Olahan
142. Susu (Bubuk/UHT)
143. Kental Manis
144. Minuman Kemasan
145. Minuman Fermentasi
146. Gula Pasir
147. Kopi
148. Teh
149. Mie Instan
150. Biskuit/Roti/Kue Kemasan
151. Konsumsi Lain-lain
152. Rokok Kemasan
153. Tembakau
154. Pinang
155. Daun Sirih
156. Bahan Bakar
157. Minyak Tanah
158. Gas
159. Biaya Listrik
160. BBM
161. Input Pertanian
162. Pupuk
163. Pestisida/Herbisida/Fungisida
164. Benih
165. Upah Buruh
166. Sewa Alat dan Mesin Pertanian
167. Pendidikan dan Kesehatan
168. Transportasi
169. SPP (Iuran Sekolah)
170. Peralatan Sekolah/ATK
171. Transportasi/Kos/Jajan
172. Periksa Kesehatan
173. Iuran BPJS
174. Obat
175. Sanitary
176. Pulsa Ponsel
177. Dana Sosial (Arisan, Sumbangan, dll)
178. Nama Tanaman
179. Jenis Pangan
180. Varietas
181. Sumber Benih
182. Luas Lahan
183. Produktivitas
184. Pola Tanam
185. Sistem Budidaya
186. Pengairan
187. Kepemilikan Lahan
188. Jenis Pemanfaatan Lahan
189. Nama Tanaman.1
190. Jangka Tanam
191. Jenis Tanaman
192. Luas
193. Tegakan (batang)
194. Tahun Tanam
195. Produktivitas (Ton/Ha)
196. Pemanfaatan Hasil
197. Kepemilikan Lahan.1
198. Nama Tempat Lahan
199. Jenis Ternak
200. Sapi
201. Kerbau
202. Kambing
203. Ayam.3
204. Bebek
205. Babi
206. Kuda
207. Jumlah Hasil (Kg)
208. Sumber Pakan
209. Kepemilikan
210. Jenis Ikan
211. Luas Kolam
212. Masa Panen
213. Sistem Budidaya.1
214. Pasca Panen
215. Pemanfaatan Hasil Panen
216. Kepemilikan Lahan.2
217. Nama Area Tangkap
218. Jenis Ikan.1
219. Jumlah Hasil
220. Pemanfaatan Hasil Tangkap
221. Musim Tangkap Banyak
222. Januari
223. Februari
224. Maret
225. April
226. Mei
227. Juni
228. Juli
229. Agustus
230. September
231. Oktober
232. November
233. Desember
234. Musim Tangkap Sedikit
235. Januari.1
236. Februari.1
237. Maret.1
238. April.1
239. Mei.1
240. Juni.1
241. Juli.1
242. Agustus.1
243. September.1
244. Oktober.1
245. November.1
246. Desember.1
247. Musim Tidak Melaut
248. Januari.2
249. Februari.2
250. Maret.2
251. April.2
252. Mei.2
253. Juni.2
254. Juli.2
255. Agustus.2
256. September.2
257. Oktober.2
258. November.2
259. Desember.2
260. Nama Produk
261. Jenis Usaha
262. Jumlah Produksi
263. Proses Produksi
264. Pemanfaatan Hasil Produksi
265. Sumber Limbah
266. Pengolahan
267. Hasil Daur Ulang
268. Luas Lahan Usaha m2
269. Luas Lahan Rumah m2
270. Luas Bangunan Rumah m2
271. Luas Bangunan Usaha m2
272. Mesin dan Alat Kerja
273. Jumlah (unit)
274. Apakah pernah ada bayi yang meninggal?
275. Jika ada, berapa jumlahnya?
276. Apakah balita selalu diperiksa ke Posyandu?
277. Jumlah Lansia
278. Anggota keluarga yang sering sakit
279. Jenis penyakit yang sering diderita
280. Kemana biasa berobat?
281. Apakah pernah dapat bantuan dari pemerintah?
282. Kalau iya, apa bentuk bantuan tersebut?
283. Jumlah difabel (berkebutuhan khusus)
284. Jenis Difabel
285. Memiliki anak usia kurang dari 5 tahun
286. Tinggi badan anak
287. Berat badan anak
288. Apakah anak mengalami kasus gizi buruk?
289. Apakah anak mengalami kekurangan gizi?

In [17]:
# Fungsi bantu untuk mengganti spasi dengan underscore pada nama kolom
def clean_columns(df):
    df.columns = df.columns.str.replace(' ', '_')
    return df

# Ambil kolom id
id_column = df_combined.iloc[:, 1]

# Gabungkan kolom id ke masing-masing subset
Formulir_Data_Rumah_Tangga = pd.concat([id_column, clean_columns(df_combined.iloc[:, 2:14])], axis=1)
Data_Keluarga              = pd.concat([id_column, clean_columns(df_combined.iloc[:, 14:19])], axis=1)
Data_Produksi              = pd.concat([id_column, clean_columns(df_combined.iloc[:, 19:47])], axis=1)
Data_Konsumsi_Tidak_Beli   = pd.concat([id_column, clean_columns(df_combined.iloc[:, 47:74])], axis=1)
Data_Konsumsi_Beli         = pd.concat([id_column, clean_columns(df_combined.iloc[:, 74:141])], axis=1)
Data_Pertanian             = pd.concat([id_column, clean_columns(df_combined.iloc[:, 178:189])], axis=1)
Data_Limbah                = pd.concat([id_column, clean_columns(df_combined.iloc[:, 256:268])], axis=1)
Data_Aset_Keluarga         = pd.concat([id_column, clean_columns(df_combined.iloc[:, 268:274])], axis=1)

# Potong dan beri nama DataFrame sesuai index kolom
#Data_Perkebunan                = clean_columns(df_combined.iloc[:, 189:199])# 189 - 198
#Data_Peternakan                = clean_columns(df_combined.iloc[:, 199:210])# 199 - 209
#Data_Perikanan_Budidaya        = clean_columns(df_combined.iloc[:, 210:217])# 210 - 216
#Data_Perikanan_Tangkap         = clean_columns(df_combined.iloc[:, 217:260])# 217 - 259
#Pemanfaatan_Hasil_Produksi     = clean_columns(df_combined.iloc[:, 260:265])# 260 - 264
#Data_Kesehatan_Keluarga        = clean_columns(df_combined.iloc[:, 274:290])# 274 - 289

# Simpan ke file CSV sesuai nama variabel
Formulir_Data_Rumah_Tangga.to_csv("Formulir_Data_Rumah_Tangga.csv", index=False)
Data_Keluarga.to_csv("Data_Keluarga.csv", index=False)
Data_Produksi.to_csv("Data_Produksi.csv", index=False)
Data_Konsumsi_Tidak_Beli.to_csv("Data_Konsumsi_Tidak_Beli.csv", index=False)
Data_Konsumsi_Beli.to_csv("Data_Konsumsi_Beli.csv", index=False)
Data_Pertanian.to_csv("Data_Pertanian.csv", index=False)
#Data_Perkebunan.to_csv("Data_Perkebunan.csv", index=False)
#Data_Peternakan.to_csv("Data_Peternakan.csv", index=False)
#Data_Perikanan_Budidaya.to_csv("Data_Perikanan_Budidaya.csv", index=False)
#Data_Perikanan_Tangkap.to_csv("Data_Perikanan_Tangkap.csv", index=False)
#Pemanfaatan_Hasil_Produksi.to_csv("Pemanfaatan_Hasil_Produksi.csv", index=False)
Data_Limbah.to_csv("Data_Limbah.csv", index=False)
Data_Aset_Keluarga.to_csv("Data_Aset_Keluarga.csv", index=False)
#Data_Kesehatan_Keluarga.to_csv("Data_Kesehatan_Keluarga.csv", index=False)

print("✅ Semua DataFrame telah disimpan ke CSV dengan nama sesuai kategorinya.")

✅ Semua DataFrame telah disimpan ke CSV dengan nama sesuai kategorinya.

# Akses Dataset

!!!

pada versi ini, data missing value diganti dengan 0, bukan dengan "tidak tersedia" nanti akan dicoba versi lainnya

!!!

inget yaa, produksi masih dalam **kg**, konsumsi dalam **Rp**

## Formulir Data Rumah Tangga

In [18]:
Formulir_Data_Rumah_Tangga = pd.concat([id_column, clean_columns(df_combined.iloc[:, 2:14])], axis=1)

In [19]:
Formulir_Data_Rumah_Tangga.head()

,ID,Nama_Kepala_Keluarga,Nomor_Kartu_Keluarga,Tanggal_Pendataan,Dusun,Desa/Kelurahan,Kecamatan,Kabupaten,Propinsi,Koordinat_GPS,Sumber_Listrik,Air_Bersih,Kepemilikan_Rumah
0,#22424,Adam Yusuf,5313070706137500,2024-10-07 00:00:00,Aliuroba,Benihading,Buyasuri,Lembata,Nusa Tenggara Timur,"123.79257, -08.23721, 269, 7",PLN,Sungai,Milik Sendiri
1,#22887,Sukirman Kiri,5313070806137500,2024-10-09 00:00:00,Wulakada,Benihading,Buyasuri,Lembata,Nusa Tenggara Timur,"123.78918, - 8.23754, 289, 3",PLN,Sungai,Milik Sendiri
2,#22892,Aloysius Reun,5313072309080040,2024-10-09 00:00:00,Buyaq Abe,Benihading,Buyasuri,Lembata,Nusa Tenggara Timur,"123.79217, -08.23784, 294, 9",PLN,Air Hujan,Milik Sendiri
3,#22893,Lambertus Lapi,5313072604100020,2024-10-09 00:00:00,Wulakada,Benihading,Buyasuri,Lembata,Nusa Tenggara Timur,"123.78969, -8.23785, 240, 3",PLN,Sungai,Milik Sendiri
4,#22912,Fransiskus Letu,5313072209080050,2024-10-09 00:00:00,Wulakada,Benihading,Buyasuri,Lembata,Nusa Tenggara Timur,"123.79113, -8.23792, 312, 3",PLN,Sungai,Milik Sendiri

In [148]:
Formulir_Data_Rumah_Tangga['Kecamatan'].value_counts()

Kecamatan
Ile Ape        162
Lebatukan      121
Nubatukan      120
Buyasuri        90
Omesuri         90
Atadei          88
Nagawutung      61
Naga Wutung     58
Wulandoni       30
IleApe           2
Kecamatan        1
Nagawutun        1
Name: count, dtype: int64

In [149]:
Formulir_Data_Rumah_Tangga['Desa/Kelurahan'].value_counts()

Desa/Kelurahan
Muruona           41
Katakeja          31
Lamatuka          31
Benihading        30
Puor              30
Kalikur           30
Paubokol          30
Pada              30
Tubuk Rajan       30
Dulitukan         30
Duawutun          30
Mahal             30
Labalimut         30
Nubamado          30
Balauring         30
Ile Kimok         30
Tagawiti          30
Wuakerong         30
Hoelea I          30
Watodiri          30
Dikesare          30
Merdeka           30
Tubungwalang      30
Waienga           30
Riangbao          30
Lolong            30
Bour              29
Desa/Kelurahan     1
PADA               1
Name: count, dtype: int64

In [238]:
Formulir_Data_Rumah_Tangga.info()

<class 'pandas.core.frame.DataFrame'>
Index: 824 entries, 0 to 848
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    824 non-null    object
 1   Nama_Kepala_Keluarga  824 non-null    object
 2   Nomor_Kartu_Keluarga  810 non-null    object
 3   Tanggal_Pendataan     824 non-null    object
 4   Dusun                 824 non-null    object
 5   Desa/Kelurahan        824 non-null    object
 6   Kecamatan             824 non-null    object
 7   Kabupaten             824 non-null    object
 8   Propinsi              824 non-null    object
 9   Koordinat_GPS         798 non-null    object
 10  Sumber_Listrik        824 non-null    object
 11  Air_Bersih            824 non-null    object
 12  Kepemilikan_Rumah     824 non-null    object
dtypes: object(13)
memory usage: 90.1+ KB

In [296]:
Formulir_Data_Rumah_Tangga = Formulir_Data_Rumah_Tangga.drop(columns='Nomor_Kartu_Keluarga') #untuk menjaga keamanan

In [297]:
Formulir_Data_Rumah_Tangga.isna().sum()

ID                       0
Nama_Kepala_Keluarga     0
Tanggal_Pendataan        0
Dusun                    0
Desa/Kelurahan           0
Kecamatan                0
Kabupaten                0
Propinsi                 0
Koordinat_GPS           26
Sumber_Listrik           0
Air_Bersih               0
Kepemilikan_Rumah        0
dtype: int64

In [240]:
Formulir_Data_Rumah_Tangga.duplicated().sum()

0

In [298]:
Formulir_Data_Rumah_Tangga = Formulir_Data_Rumah_Tangga.fillna("Tidak Diketahui")

In [299]:
Formulir_Data_Rumah_Tangga.describe(include="all").T

                     count unique                  top freq
ID                     824    824               #22424    1
Nama_Kepala_Keluarga   824    819        Bernadus Beda    2
Tanggal_Pendataan      824     44  2024-10-09 00:00:00  141
Dusun                  824     78                    1   46
Desa/Kelurahan         824     29              Muruona   41
Kecamatan              824     12              Ile Ape  162
Kabupaten              824      2              Lembata  823
Propinsi               824      2  Nusa Tenggara Timur  823
Koordinat_GPS          824    786      Tidak Diketahui   26
Sumber_Listrik         824      4                  PLN  813
Air_Bersih             824      8                 PDAM  400
Kepemilikan_Rumah      824      6        Milik Sendiri  724

## Data Keluarga

In [20]:
Data_Keluarga              = pd.concat([id_column, clean_columns(df_combined.iloc[:, 14:19])], axis=1)

In [21]:
Data_Keluarga.head()

,ID,Nama,Jumlah_Anggota_Keluarga_(jiwa),Agama/_Kepercayaan,Pekerjaan,Pendapatan_Bulanan_(Rp.)
0,#22424,Adam Yusuf,3,Islam,Petani atau Nelayan,3049000
1,#22887,Sukirman Kiri,4,Islam,Petani atau Nelayan,5000000
2,#22892,Aloysius Reun,2,Katolik,Petani atau Nelayan,300000
3,#22893,Lambertus Lapi,7,Katholik,Petani atau Nelayan,6000000
4,#22912,Fransiskus Letu,2,Katolik,Petani atau Nelayan,4000000

In [152]:
Data_Keluarga['Pekerjaan'].value_counts()

Pekerjaan
Petani atau Nelayan                              495
lainnya                                           86
Wiraswasta                                        72
PNS                                               56
Karyawan Swasta                                   36
Tidak ada                                         33
Buruh Tani                                        32
Pekerjaan                                          1
Wiraswasta    lainnya    Tidak ada                 1
Petani atau Nelayan    Petani atau Nelayan         1
Name: count, dtype: int64

In [308]:
Data_Keluarga.info()

<class 'pandas.core.frame.DataFrame'>
Index: 824 entries, 0 to 848
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Nama                            813 non-null    object
 1   Jumlah_Anggota_Keluarga_(jiwa)  813 non-null    object
 2   Agama/_Kepercayaan              813 non-null    object
 3   Pekerjaan                       813 non-null    object
 4   Pendapatan_Bulanan_(Rp.)        813 non-null    object
dtypes: object(5)
memory usage: 38.6+ KB

In [309]:
Data_Keluarga.isna().sum()

Nama                              11
Jumlah_Anggota_Keluarga_(jiwa)    11
Agama/_Kepercayaan                11
Pekerjaan                         11
Pendapatan_Bulanan_(Rp.)          11
dtype: int64

In [310]:
Data_Keluarga["Jumlah_Anggota_Keluarga_(jiwa)"] = Data_Keluarga["Jumlah_Anggota_Keluarga_(jiwa)"].fillna(0)
Data_Keluarga["Pendapatan_Bulanan_(Rp.)"] = Data_Keluarga["Pendapatan_Bulanan_(Rp.)"].fillna(0) #INI NANTI CEK NGARUH ENGGA

C:\Users\halid\AppData\Local\Temp\ipykernel_18704\4070989833.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data_Keluarga["Jumlah_Anggota_Keluarga_(jiwa)"] = Data_Keluarga["Jumlah_Anggota_Keluarga_(jiwa)"].fillna(0)
C:\Users\halid\AppData\Local\Temp\ipykernel_18704\4070989833.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data_Keluarga["Pendapatan_Bulanan_(Rp.)"] = Data_Keluarga["Pendapatan_Bulanan_(Rp.)"].fillna(0) #INI NANTI CEK NGARUH ENGGA

In [311]:
Data_Keluarga.isna().sum()

Nama                              11
Jumlah_Anggota_Keluarga_(jiwa)     0
Agama/_Kepercayaan                11
Pekerjaan                         11
Pendapatan_Bulanan_(Rp.)           0
dtype: int64

In [312]:
Data_Keluarga = Data_Keluarga.fillna("Tidak Diketahui")

In [313]:
Data_Keluarga["Jumlah_Anggota_Keluarga_(jiwa)"] = Data_Keluarga["Jumlah_Anggota_Keluarga_(jiwa)"].apply(pd.to_numeric, errors='coerce')
Data_Keluarga["Pendapatan_Bulanan_(Rp.)"] = Data_Keluarga["Pendapatan_Bulanan_(Rp.)"].apply(pd.to_numeric, errors='coerce')

In [314]:
Data_Keluarga.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Nama,824,809,Tidak Diketahui,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jumlah_Anggota_Keluarga_(jiwa),819.0,NaN,NaN,NaN,3.787546,1.802278,0.0,2.0,4.0,5.0,10.0
Agama/_Kepercayaan,824,18,Katolik,629,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pekerjaan,824,11,Petani atau Nelayan,495,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pendapatan_Bulanan_(Rp.),808.0,NaN,NaN,NaN,1709062.985149,2302094.533289,0.0,500000.0,1000000.0,2100000.0,36000000.0

## Data Produksi

In [110]:
Data_Produksi              = pd.concat([id_column, clean_columns(df_combined.iloc[:, 19:47])], axis=1)

In [111]:
Data_Produksi.head()

,ID,Produksi_Karbohidrat,Beras_Lokal_(Sawah/Ladang_dalam_Kg),Singkong,Jagung_Lokal,Jagung_Hibrida,Umbi-umbian_lain,Sorgum,Jewawut/Weteng,Produksi_Protein,...,Cabai_Besar,Cabai_Kecil,Kemiri,Kunyit,Jahe,Sereh,Lengkuas,Jeruk_Nipis,Mete,Lain-lain
0,#22424,Produksi Karbohidrat,2.5,8.3,33.3,0,0,0,0,Produksi Protein,...,0,0,0,0,0,0,0,0,0,0
1,#22887,Produksi Karbohidrat,0,0,0,16.7,0,0,0,Produksi Protein,...,0,0,17000,0,0,0,0,0,0,0
2,#22892,Produksi Karbohidrat,0,20.8,29.1,0,4.1,0,0,Produksi Protein,...,0,0,0,0,0,0,0,0,45700,Kopra (500000)
3,#22893,Produksi Karbohidrat,0,5,50,50,0,0,0,Produksi Protein,...,0,0,0,0,0,0,0,0,0,0
4,#22912,Produksi Karbohidrat,0,5,20,20,0,0,0,Produksi Protein,...,100000,0,100000,0,0,0,0,0,150000,"Kakao, Kelapa (150000)"

In [112]:
Data_Produksi.info()

<class 'pandas.core.frame.DataFrame'>
Index: 824 entries, 0 to 848
Data columns (total 29 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   ID                                     824 non-null    object
 1   Produksi_Karbohidrat                   715 non-null    object
 2   Beras_Lokal_(Sawah/Ladang_dalam_Kg)    715 non-null    object
 3   Singkong                               715 non-null    object
 4   Jagung_Lokal                           715 non-null    object
 5   Jagung_Hibrida                         715 non-null    object
 6   Umbi-umbian_lain                       715 non-null    object
 7   Sorgum                                 715 non-null    object
 8   Jewawut/Weteng                         715 non-null    object
 9   Produksi_Protein                       715 non-null    object
 10  Ikan_dan_Boga_Laut_Segar               715 non-null    object
 11  Ikan_dan_Boga_Laut_Kering              715 non-null    object
 12  Telor                                  715 non-null    object
 13  Ayam                                   715 non-null    object
 14  Daging_(Sapi/Kerbau/Kambing/Babi,dll)  715 non-null    object
 15  Kacang-kacangan                        715 non-null    object
 16  Minyak_Masak                           715 non-null    object
 17  Minyak_Kelapa                          715 non-null    object
 18  Bumbu_dan_Rempah                       715 non-null    object
 19  Cabai_Besar                            715 non-null    object
 20  Cabai_Kecil                            715 non-null    object
 21  Kemiri                                 715 non-null    object
 22  Kunyit                                 715 non-null    object
 23  Jahe                                   715 non-null    object
 24  Sereh                                  715 non-null    object
 25  Lengkuas                               715 non-null    object
 26  Jeruk_Nipis                            715 non-null    object
 27  Mete                                   687 non-null    object
 28  Lain-lain                              715 non-null    object
dtypes: object(29)
memory usage: 193.1+ KB

In [113]:
Data_Produksi.describe(include="all").T

,count,unique,top,freq
ID,824,824,#22424,1
Produksi_Karbohidrat,715,7,Produksi Karbohidrat,700
Beras_Lokal_(Sawah/Ladang_dalam_Kg),715,67,0,350
Singkong,715,79,0,237
Jagung_Lokal,715,102,0,167
Jagung_Hibrida,715,63,0,402
Umbi-umbian_lain,715,43,0,443
Sorgum,715,11,0,541
Jewawut/Weteng,715,9,0,544
Produksi_Protein,715,7,Produksi Protein,700
Ikan_dan_Boga_Laut_Segar,715,53,0,454
Ikan_dan_Boga_Laut_Kering,715,29,0,490
Telor,715,49,0,439
Ayam,715,69,0,384
"Daging_(Sapi/Kerbau/Kambing/Babi,dll)",715,68,0,449
Kacang-kacangan,715,59,0,486
Minyak_Masak,715,4,Minyak Masak,701
Minyak_Kelapa,715,45,0,497
Bumbu_dan_Rempah,715,4,Bumbu dan Rempah,701
Cabai_Besar,715,22,0,514
Cabai_Kecil,715,48,0,428
Kemiri,715,81,0,398
Kunyit,715,30,0,415
Jahe,715,26,0,436
Sereh,715,29,0,408
Lengkuas,715,21,0,447
Jeruk_Nipis,715,25,0,468
Mete,687,93,0,408
Lain-lain,715,60,0,402

In [114]:
Data_Produksi = Data_Produksi.drop(columns='Produksi_Karbohidrat')
Data_Produksi = Data_Produksi.drop(columns='Produksi_Protein')
Data_Produksi = Data_Produksi.drop(columns='Minyak_Masak')
Data_Produksi = Data_Produksi.drop(columns='Bumbu_dan_Rempah')

In [115]:
# Nama kolom ID
id_col = Data_Produksi.columns[0]

# Konversi kolom selain ID ke numerik
cols_to_convert = Data_Produksi.columns.drop(id_col)
Data_Produksi[cols_to_convert] = Data_Produksi[cols_to_convert].apply(pd.to_numeric, errors='coerce')

# Rename kolom selain ID
data_cols = Data_Produksi.loc[:, cols_to_convert]
data_cols.columns = [col if col.endswith('.0') else col + '.0' for col in data_cols.columns]

# Gabungkan ulang dengan kolom ID di depan
Data_Produksi = pd.concat([Data_Produksi[[id_col]], data_cols], axis=1)

# Ganti semua NaN dengan 0
Data_Produksi = Data_Produksi.fillna(0)

In [117]:
Data_Produksi.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,824,824,#22424,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Beras_Lokal_(Sawah/Ladang_dalam_Kg).0,824.0,NaN,NaN,NaN,54.795437,220.68822,0.0,0.0,0.0,10.0,4000.0
Singkong.0,824.0,NaN,NaN,NaN,69.585886,352.658128,0.0,0.0,0.0,25.0,7560.0
Jagung_Lokal.0,824.0,NaN,NaN,NaN,106.415631,307.439364,0.0,0.0,10.0,75.9,5000.0
Jagung_Hibrida.0,824.0,NaN,NaN,NaN,34.323968,185.859735,0.0,0.0,0.0,0.0,4000.0
Umbi-umbian_lain.0,824.0,NaN,NaN,NaN,3.734563,21.623872,0.0,0.0,0.0,0.0,300.0
Sorgum.0,824.0,NaN,NaN,NaN,0.121359,2.014487,0.0,0.0,0.0,0.0,50.0
Jewawut/Weteng.0,824.0,NaN,NaN,NaN,0.01699,0.269472,0.0,0.0,0.0,0.0,5.0
Ikan_dan_Boga_Laut_Segar.0,824.0,NaN,NaN,NaN,358611.751214,3517393.178624,0.0,0.0,0.0,0.0,72000000.0
Ikan_dan_Boga_Laut_Kering.0,824.0,NaN,NaN,NaN,15838.592233,161673.288351,0.0,0.0,0.0,0.0,4200000.0
Telor.0,824.0,NaN,NaN,NaN,17808.877427,83389.8573,0.0,0.0,0.0,0.0,1440000.0
Ayam.0,824.0,NaN,NaN,NaN,135546.84466,522528.943331,0.0,0.0,0.0,0.0,9000000.0
"Daging_(Sapi/Kerbau/Kambing/Babi,dll).0",824.0,NaN,NaN,NaN,967110.238471,4118073.762629,0.0,0.0,0.0,0.0,64000000.0
Kacang-kacangan.0,824.0,NaN,NaN,NaN,87723.056432,712313.147752,0.0,0.0,0.0,0.0,16500000.0
Minyak_Kelapa.0,824.0,NaN,NaN,NaN,20373.786408,144796.150225,0.0,0.0,0.0,0.0,2880000.0
Cabai_Besar.0,824.0,NaN,NaN,NaN,5200.242718,33268.522736,0.0,0.0,0.0,0.0,480000.0
Cabai_Kecil.0,824.0,NaN,NaN,NaN,28789.975728,153454.17398,0.0,0.0,0.0,0.0,2400000.0
Kemiri.0,824.0,NaN,NaN,NaN,367903.674757,1865207.929334,0.0,0.0,0.0,0.0,30000000.0
Kunyit.0,824.0,NaN,NaN,NaN,12177.59466,71684.424762,0.0,0.0,0.0,0.0,1750000.0
Jahe.0,824.0,NaN,NaN,NaN,8160.114078,32995.376907,0.0,0.0,0.0,0.0,480000.0
Sereh.0,824.0,NaN,NaN,NaN,11352.002427,38267.187614,0.0,0.0,0.0,0.0,360000.0
Lengkuas.0,824.0,NaN,NaN,NaN,6377.427184,25360.909352,0.0,0.0,0.0,0.0,240000.0
Jeruk_Nipis.0,824.0,NaN,NaN,NaN,8549.757282,40333.059925,0.0,0.0,0.0,0.0,600000.0
Mete.0,824.0,NaN,NaN,NaN,222651.216019,945547.390751,0.0,0.0,0.0,0.0,9600000.0
Lain-lain.0,824.0,NaN,NaN,NaN,37152.936893,394591.705384,0.0,0.0,0.0,0.0,8640000.0

## Data Konsumsi Tidak Beli

In [126]:
Data_Konsumsi_Tidak_Beli   = pd.concat([id_column, clean_columns(df_combined.iloc[:, 47:74])], axis=1)

In [127]:
Data_Konsumsi_Tidak_Beli.head()

,ID,Konsumsi_Karbohidrat,Beras_Lokal_(Sawah/Ladang),Singkong.1,Jagung_Lokal.1,Jagung_Hibrida.1,Umbi-umbian_lain.1,Sorgum.1,Jewawut/Weteng.1,Konsumsi_Protein,...,Cabai_Besar.1,Cabai_Kecil.1,Kemiri.1,Kunyit.1,Jahe.1,Sereh.1,Lengkuas.1,Jeruk_Nipis.1,Mete.1,Lain-lain.1
0,#22424,Konsumsi Karbohidrat,20,2,10,0,0,0,0,Konsumsi Protein,...,0,0,0,0,0,0,0,0,0,0
1,#22887,Konsumsi Karbohidrat,0,0,0,3,0,0,0,Konsumsi Protein,...,0,0,17000,0,0,0,0,0,0,0
2,#22892,Konsumsi Karbohidrat,0,0,4,0,2,0,0,Konsumsi Protein,...,0,0,0,0,0,0,0,0,0,0
3,#22893,Konsumsi Karbohidrat,0,1,8.3,8.3,0,0,0,Konsumsi Protein,...,0,0,0,0,0,0,0,0,0,0
4,#22912,Konsumsi Karbohidrat,4,1,4,4,0,0,0,Konsumsi Protein,...,100000,0,100000,0,0,0,0,0,0,0

In [128]:
Data_Konsumsi_Tidak_Beli.info()

<class 'pandas.core.frame.DataFrame'>
Index: 824 entries, 0 to 848
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           824 non-null    object
 1   Konsumsi_Karbohidrat         692 non-null    object
 2   Beras_Lokal_(Sawah/Ladang)   692 non-null    object
 3   Singkong.1                   692 non-null    object
 4   Jagung_Lokal.1               692 non-null    object
 5   Jagung_Hibrida.1             692 non-null    object
 6   Umbi-umbian_lain.1           692 non-null    object
 7   Sorgum.1                     692 non-null    object
 8   Jewawut/Weteng.1             692 non-null    object
 9   Konsumsi_Protein             692 non-null    object
 10  Ikan_dan_Boga_Laut_Segar.1   692 non-null    object
 11  Ikan_dan_Boga_Laut_Kering.1  692 non-null    object
 12  Telor.1                      692 non-null    object
 13  Ayam.1                       692 non-null    object
 14  Kacang-kacangan.1            692 non-null    object
 15  Minyak_Masak.1               692 non-null    object
 16  Minyak_Kelapa.1              692 non-null    object
 17  Bumbu_dan_Rempah.1           692 non-null    object
 18  Cabai_Besar.1                692 non-null    object
 19  Cabai_Kecil.1                692 non-null    object
 20  Kemiri.1                     692 non-null    object
 21  Kunyit.1                     692 non-null    object
 22  Jahe.1                       692 non-null    object
 23  Sereh.1                      692 non-null    object
 24  Lengkuas.1                   692 non-null    object
 25  Jeruk_Nipis.1                692 non-null    object
 26  Mete.1                       690 non-null    object
 27  Lain-lain.1                  692 non-null    object
dtypes: object(28)
memory usage: 186.7+ KB

In [129]:
Data_Konsumsi_Tidak_Beli.isna().sum()

ID                               0
Konsumsi_Karbohidrat           132
Beras_Lokal_(Sawah/Ladang)     132
Singkong.1                     132
Jagung_Lokal.1                 132
Jagung_Hibrida.1               132
Umbi-umbian_lain.1             132
Sorgum.1                       132
Jewawut/Weteng.1               132
Konsumsi_Protein               132
Ikan_dan_Boga_Laut_Segar.1     132
Ikan_dan_Boga_Laut_Kering.1    132
Telor.1                        132
Ayam.1                         132
Kacang-kacangan.1              132
Minyak_Masak.1                 132
Minyak_Kelapa.1                132
Bumbu_dan_Rempah.1             132
Cabai_Besar.1                  132
Cabai_Kecil.1                  132
Kemiri.1                       132
Kunyit.1                       132
Jahe.1                         132
Sereh.1                        132
Lengkuas.1                     132
Jeruk_Nipis.1                  132
Mete.1                         134
Lain-lain.1                    132
dtype: int64

In [130]:
Data_Konsumsi_Tidak_Beli.describe(include="all").T

                            count unique                      top freq
ID                            824    824                   #22424    1
Konsumsi_Karbohidrat          692      5  Konsumsi Karbohidrat     677
Beras_Lokal_(Sawah/Ladang)    692     56                        0  358
Singkong.1                    692     59                        0  241
Jagung_Lokal.1                692     77                        0  197
Jagung_Hibrida.1              692     49                        0  413
Umbi-umbian_lain.1            692     34                        0  439
Sorgum.1                      692     16                        0  520
Jewawut/Weteng.1              692     11                        0  521
Konsumsi_Protein              692      5      Konsumsi Protein     677
Ikan_dan_Boga_Laut_Segar.1    692     48                        0  443
Ikan_dan_Boga_Laut_Kering.1   692     25                        0  484
Telor.1                       692     47                        0  448
Ayam.1                        692     52                        0  434
Kacang-kacangan.1             692     45                        0  470
Minyak_Masak.1                692      5          Minyak Masak     677
Minyak_Kelapa.1               692     47                        0  464
Bumbu_dan_Rempah.1            692      5      Bumbu dan Rempah     677
Cabai_Besar.1                 692     27                        0  480
Cabai_Kecil.1                 692     40                        0  418
Kemiri.1                      692     38                        0  469
Kunyit.1                      692     34                        0  398
Jahe.1                        692     33                        0  415
Sereh.1                       692     36                        0  390
Lengkuas.1                    692     25                        0  431
Jeruk_Nipis.1                 692     29                        0  463
Mete.1                        690     23                        0  471
Lain-lain.1                   692     40                        0  410

In [131]:
Data_Konsumsi_Tidak_Beli = Data_Konsumsi_Tidak_Beli.drop(columns='Konsumsi_Karbohidrat')
Data_Konsumsi_Tidak_Beli = Data_Konsumsi_Tidak_Beli.drop(columns='Konsumsi_Protein')
Data_Konsumsi_Tidak_Beli = Data_Konsumsi_Tidak_Beli.drop(columns='Minyak_Masak.1')
Data_Konsumsi_Tidak_Beli = Data_Konsumsi_Tidak_Beli.drop(columns='Bumbu_dan_Rempah.1')

In [132]:
# Nama kolom ID
id_col = Data_Konsumsi_Tidak_Beli.columns[0]

# Konversi kolom selain ID ke numerik
cols_to_convert = Data_Konsumsi_Tidak_Beli.columns.drop(id_col)
Data_Konsumsi_Tidak_Beli[cols_to_convert] = Data_Konsumsi_Tidak_Beli[cols_to_convert].apply(pd.to_numeric, errors='coerce')

# Rename kolom selain ID
data_cols = Data_Konsumsi_Tidak_Beli.loc[:, cols_to_convert]
data_cols.columns = [col if col.endswith('.1') else col + '.1' for col in data_cols.columns]

# Gabungkan ulang dengan kolom ID di depan
Data_Konsumsi_Tidak_Beli = pd.concat([Data_Konsumsi_Tidak_Beli[[id_col]], data_cols], axis=1)

# Ganti semua NaN dengan 0
Data_Konsumsi_Tidak_Beli = Data_Konsumsi_Tidak_Beli.fillna(0)

In [133]:
Data_Konsumsi_Tidak_Beli.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,824,824,#22424,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Beras_Lokal_(Sawah/Ladang).1,824.0,NaN,NaN,NaN,23.598058,104.897362,0.0,0.0,0.0,2.0,1500.0
Singkong.1,824.0,NaN,NaN,NaN,568.011529,10878.868836,0.0,0.0,0.0,5.0,240000.0
Jagung_Lokal.1,824.0,NaN,NaN,NaN,774.179078,20903.13725,0.0,0.0,2.0,10.0,600000.0
Jagung_Hibrida.1,824.0,NaN,NaN,NaN,147.437803,3503.755614,0.0,0.0,0.0,0.0,100000.0
Umbi-umbian_lain.1,824.0,NaN,NaN,NaN,123.929369,3483.643658,0.0,0.0,0.0,0.0,100000.0
Sorgum.1,824.0,NaN,NaN,NaN,0.063107,0.982668,0.0,0.0,0.0,0.0,24.0
Jewawut/Weteng.1,824.0,NaN,NaN,NaN,0.014563,0.274084,0.0,0.0,0.0,0.0,6.0
Ikan_dan_Boga_Laut_Segar.1,824.0,NaN,NaN,NaN,78565.82767,614473.693826,0.0,0.0,0.0,0.0,10800000.0
Ikan_dan_Boga_Laut_Kering.1,824.0,NaN,NaN,NaN,7707.526699,61596.721624,0.0,0.0,0.0,0.0,1200000.0
Telor.1,824.0,NaN,NaN,NaN,10195.268204,55379.342109,0.0,0.0,0.0,0.0,720000.0
Ayam.1,824.0,NaN,NaN,NaN,51654.934466,249234.313908,0.0,0.0,0.0,0.0,5040000.0
Kacang-kacangan.1,824.0,NaN,NaN,NaN,34059.739879,597015.310345,0.0,0.0,0.0,0.0,16500000.0
Minyak_Kelapa.1,824.0,NaN,NaN,NaN,13174.757282,95952.108947,0.0,0.0,0.0,0.0,1440000.0
Cabai_Besar.1,824.0,NaN,NaN,NaN,6677.815534,52175.764229,0.0,0.0,0.0,0.0,1200000.0
Cabai_Kecil.1,824.0,NaN,NaN,NaN,14946.51699,69385.202794,0.0,0.0,0.0,0.0,1000000.0
Kemiri.1,824.0,NaN,NaN,NaN,11151.092233,120437.237246,0.0,0.0,0.0,0.0,3000000.0
Kunyit.1,824.0,NaN,NaN,NaN,6806.433859,28322.668994,0.0,0.0,0.0,0.0,400000.0
Jahe.1,824.0,NaN,NaN,NaN,4890.898058,21375.691152,0.0,0.0,0.0,0.0,288000.0
Sereh.1,824.0,NaN,NaN,NaN,7003.106796,27574.926199,0.0,0.0,0.0,0.0,300000.0
Lengkuas.1,824.0,NaN,NaN,NaN,3413.834951,16260.313384,0.0,0.0,0.0,0.0,240000.0
Jeruk_Nipis.1,824.0,NaN,NaN,NaN,3084.951456,19121.773655,0.0,0.0,0.0,0.0,240000.0
Mete.1,824.0,NaN,NaN,NaN,11780.343447,176160.52677,0.0,0.0,0.0,0.0,4600000.0
Lain-lain.1,824.0,NaN,NaN,NaN,2123.787621,18490.527263,0.0,0.0,0.0,0.0,360000.0

In [134]:
Data_Konsumsi_Tidak_Beli

,ID,Beras_Lokal_(Sawah/Ladang).1,Singkong.1,Jagung_Lokal.1,Jagung_Hibrida.1,Umbi-umbian_lain.1,Sorgum.1,Jewawut/Weteng.1,Ikan_dan_Boga_Laut_Segar.1,Ikan_dan_Boga_Laut_Kering.1,...,Cabai_Besar.1,Cabai_Kecil.1,Kemiri.1,Kunyit.1,Jahe.1,Sereh.1,Lengkuas.1,Jeruk_Nipis.1,Mete.1,Lain-lain.1
0,#22424,20.0,2.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,#22887,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,17000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,#22892,0.0,0.0,4.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,#22893,0.0,1.0,8.3,8.3,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,#22912,4.0,1.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,...,100000.0,0.0,100000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844,#22816,20.0,5.0,5.0,0.0,0.0,0.0,0.0,30000.0,0.0,...,0.0,20000.0,0.0,5000.0,5000.0,5000.0,5000.0,0.0,0.0,0.0
845,#22818,0.0,0.5,0.5,0.0,0.5,0.0,0.0,10000.0,0.0,...,0.0,0.0,3000.0,10000.0,5000.0,50000.0,5000.0,0.0,0.0,0.0
846,#22819,5.0,2.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
847,#22824,0.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,40000.0,0.0,6000.0,10000.0,10000.0,0.0,0.0,15000.0,0.0,0.0
848,#22829,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,90000.0,0.0,4000.0,10000.0,5000.0,0.0,0.0,0.0,0.0

## Data Konsumsi Beli

In [141]:
Data_Konsumsi_Beli         = pd.concat([id_column, clean_columns(df_combined.iloc[:, 74:141])], axis=1)

In [142]:
Data_Konsumsi_Beli.info()

<class 'pandas.core.frame.DataFrame'>
Index: 824 entries, 0 to 848
Data columns (total 68 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ID                                       824 non-null    object
 1   Konsumsi_Karbohidrat.1                   807 non-null    object
 2   Beras_Lokal_(Sawah/Ladang_dalam_Rp)      807 non-null    object
 3   Beras_Toko                               807 non-null    object
 4   Singkong.2                               807 non-null    object
 5   Jagung_Lokal.2                           807 non-null    object
 6   Jagung_Hibrida.2                         807 non-null    object
 7   Umbi-umbian_lain.2                       807 non-null    object
 8   Sorgum.2                                 807 non-null    object
 9   Jewawut/Weteng.2                         807 non-null    object
 10  Konsumsi_Protein.1                       807 non-null    object
 11  Ikan_dan_Boga_Laut_Segar.2               807 non-null    object
 12  Ikan_dan_Boga_Laut_Kering.2              807 non-null    object
 13  Telor.2                                  807 non-null    object
 14  Ayam.2                                   807 non-null    object
 15  Daging_(Sapi/Kerbau/Kambing/Babi,dll).1  807 non-null    object
 16  Tahu_dan_Tempe                           807 non-null    object
 17  Kacang-kacangan.2                        807 non-null    object
 18  Sayur_dan_Buah                           807 non-null    object
 19  Daun_Ubi                                 807 non-null    object
 20  Kangkung                                 807 non-null    object
 21  Kubis                                    807 non-null    object
 22  Sawi                                     807 non-null    object
 23  Bayam                                    807 non-null    object
 24  Brokoli                                  807 non-null    object
 25  Wortel                                   807 non-null    object
 26  Jantung_Pisang                           807 non-null    object
 27  Kelor                                    807 non-null    object
 28  Bunga_dan_Daun_Pepaya                    807 non-null    object
 29  Pakis/Paku                               807 non-null    object
 30  Rebung                                   807 non-null    object
 31  Mangga                                   807 non-null    object
 32  Alpukat                                  807 non-null    object
 33  Jeruk                                    807 non-null    object
 34  Anggur                                   807 non-null    object
 35  Buah_Naga                                807 non-null    object
 36  Mete.2                                   772 non-null    object
 37  Pisang                                   807 non-null    object
 38  Rambutan                                 807 non-null    object
 39  Nanas                                    807 non-null    object
 40  Salak                                    807 non-null    object
 41  Pepaya                                   807 non-null    object
 42  Kelapa                                   807 non-null    object
 43  Tomat                                    807 non-null    object
 44  Timun                                    807 non-null    object
 45  Labu                                     807 non-null    object
 46  Kemangi                                  807 non-null    object
 47  Minyak_Masak.2                           807 non-null    object
 48  Minyak_Kelapa.2                          807 non-null    object
 49  Minyak_Goreng_Kemasan/Toko               807 non-null    object
 50  Bumbu_dan_Rempah.2                       807 non-null    object
 51  Bumbu_Kemasan                            807 non-null    object
 52  MSG                                      807 non-null    object
 53  Bawang_Merah                             807 non-null    object
 54  Bawang_Putih                             807 non-null    object
 55  Bawang_Bombai                            807 non-null    object
 56  Cabai_Besar.2                            807 non-null    object
 57  Cabai_Kecil.2                            807 non-null    object
 58  Lada                                     807 non-null    object
 59  Kemiri.2                                 807 non-null    object
 60  Kunyit.2                                 807 non-null    object
 61  Jahe.2                                   807 non-null    object
 62  Sereh.2                                  807 non-null    object
 63  Lengkuas.2                               807 non-null    object
 64  Jeruk_Nipis.2                            807 non-null    object
 65  Jeruk_Limau                              807 non-null    object
 66  Kecap                                    807 non-null    object
 67  Saos                                     807 non-null    object
dtypes: object(68)
memory usage: 444.2+ KB

In [143]:
Data_Konsumsi_Beli.isna().sum()

ID                                      0
Konsumsi_Karbohidrat.1                 17
Beras_Lokal_(Sawah/Ladang_dalam_Rp)    17
Beras_Toko                             17
Singkong.2                             17
                                       ..
Lengkuas.2                             17
Jeruk_Nipis.2                          17
Jeruk_Limau                            17
Kecap                                  17
Saos                                   17
Length: 68, dtype: int64

In [144]:
Data_Konsumsi_Beli.describe(include="all").T

                                    count unique                      top freq
ID                                    824    824                   #22424    1
Konsumsi_Karbohidrat.1                807      4  Konsumsi Karbohidrat     796
Beras_Lokal_(Sawah/Ladang_dalam_Rp)   807     56                        0  492
Beras_Toko                            807    169                        0   64
Singkong.2                            807     38                        0  475
...                                   ...    ...                      ...  ...
Lengkuas.2                            807     16                        0  527
Jeruk_Nipis.2                         807     29                        0  473
Jeruk_Limau                           807     17                        0  547
Kecap                                 807     67                        0  218
Saos                                  807     46                        0  448

[68 rows x 4 columns]

In [145]:
Data_Konsumsi_Beli = Data_Konsumsi_Beli.drop(columns='Konsumsi_Karbohidrat.1')
Data_Konsumsi_Beli = Data_Konsumsi_Beli.drop(columns='Konsumsi_Protein.1')
Data_Konsumsi_Beli = Data_Konsumsi_Beli.drop(columns='Sayur_dan_Buah')
Data_Konsumsi_Beli = Data_Konsumsi_Beli.drop(columns='Minyak_Masak.2')
Data_Konsumsi_Beli = Data_Konsumsi_Beli.drop(columns='Bumbu_dan_Rempah.2')

In [146]:
# Nama kolom ID
id_col = Data_Konsumsi_Beli.columns[0]

# Konversi kolom selain ID ke numerik
cols_to_convert = Data_Konsumsi_Beli.columns.drop(id_col)
Data_Konsumsi_Beli[cols_to_convert] = Data_Konsumsi_Beli[cols_to_convert].apply(pd.to_numeric, errors='coerce')

# Rename kolom selain ID
data_cols = Data_Konsumsi_Beli.loc[:, cols_to_convert]
data_cols.columns = [col[:-2] + '.2' if col.endswith('.1') else (col if col.endswith('.2') else col + '.2') for col in data_cols.columns]

# Gabungkan ulang dengan kolom ID di depan
Data_Konsumsi_Beli = pd.concat([Data_Konsumsi_Beli[[id_col]], data_cols], axis=1)

# Ganti semua NaN dengan 0
Data_Konsumsi_Beli = Data_Konsumsi_Beli.fillna(0)

In [147]:
Data_Konsumsi_Beli.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,824,824,#22424,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Beras_Lokal_(Sawah/Ladang_dalam_Rp).2,824.0,NaN,NaN,NaN,119229.484223,752812.322206,0.0,0.0,0.0,0.0,8400000.0
Beras_Toko.2,824.0,NaN,NaN,NaN,1355222.080097,2384476.929443,0.0,150000.0,300000.0,810000.0,14400000.0
Singkong.2,824.0,NaN,NaN,NaN,34291.303398,183211.487878,0.0,0.0,0.0,0.0,2500000.0
Jagung_Lokal.2,824.0,NaN,NaN,NaN,48796.192961,208078.315012,0.0,0.0,0.0,0.0,2400000.0
...,...,...,...,...,...,...,...,...,...,...,...
Lengkuas.2,824.0,NaN,NaN,NaN,2171.116505,18843.05173,0.0,0.0,0.0,0.0,480000.0
Jeruk_Nipis.2,824.0,NaN,NaN,NaN,7989.07767,49912.206053,0.0,0.0,0.0,0.0,960000.0
Jeruk_Limau.2,824.0,NaN,NaN,NaN,1046.116505,9648.767861,0.0,0.0,0.0,0.0,180000.0
Kecap.2,824.0,NaN,NaN,NaN,25472.73665,63359.241659,0.0,0.0,5000.0,18000.0,720000.0
Saos.2,824.0,NaN,NaN,NaN,10498.84466,50633.327871,0.0,0.0,0.0,0.0,864000.0

## Data Pertanian

In [155]:
Data_Pertanian             = pd.concat([id_column, clean_columns(df_combined.iloc[:, 178:189])], axis=1)

In [156]:
Data_Pertanian.head()

,ID,Nama_Tanaman,Jenis_Pangan,Varietas,Sumber_Benih,Luas_Lahan,Produktivitas,Pola_Tanam,Sistem_Budidaya,Pengairan,Kepemilikan_Lahan,Jenis_Pemanfaatan_Lahan
0,#22424,Padi Lokal Jagung Lokal,Lokal Lokal,Inpari Pulut,Tangkar Sendiri Tangkar Sendiri,0.3 1,0.05 0.4,1 kali setahun 1 kali setahun,Kimia Semi Organik,Tadah Hujan Tadah Hujan,Milik Pribadi Milik Pribadi,Kebun Kebun
1,#22887,Jagung Hibrida,Hibrida,Hibrida,Tangkar Sendiri,0.5,0.2,1 kali setahun,Semi Organik,Tadah Hujan,Milik Pribadi,Kebun
2,#22892,Jagung Lokal,Lokal,Pulut,Tangkar Sendiri,0.012,0.35,1 kali setahun,Semi Organik,Tadah Hujan,Milik Pribadi,Kebun
3,#22893,Jagung Hibrida jagung lokal,Hibrida Lokal,Hibrida pulut,Tangkar Sendiri Tangkar Sendiri,0.1 0.1,0.2 0.2,1 kali setahun 1 kali setahun,Semi Organik Semi Organik,Tadah Hujan Tadah Hujan,Milik Pribadi Milik Pribadi,Kebun Kebun
4,#22912,Padi Lokal Jagung Lokal Jagung Hibrida,Lokal Lokal Hibrida,Inpari Pulut Hibrida,Tangkar Sendiri Tangkar Sendiri Tangkar ...,1 1 1,0.05 0.2 0.2,1 kali setahun 1 kali setahun 1 kali set...,Kimia Semi Organik Semi Organik,Tadah Hujan Tadah Hujan Tadah Hujan,Milik Pribadi Milik Pribadi Milik Pribad...,Kebun Kebun Kebun

In [157]:
Data_Pertanian.info()

<class 'pandas.core.frame.DataFrame'>
Index: 824 entries, 0 to 848
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       824 non-null    object
 1   Nama_Tanaman             631 non-null    object
 2   Jenis_Pangan             631 non-null    object
 3   Varietas                 631 non-null    object
 4   Sumber_Benih             631 non-null    object
 5   Luas_Lahan               631 non-null    object
 6   Produktivitas            631 non-null    object
 7   Pola_Tanam               631 non-null    object
 8   Sistem_Budidaya          631 non-null    object
 9   Pengairan                631 non-null    object
 10  Kepemilikan_Lahan        631 non-null    object
 11  Jenis_Pemanfaatan_Lahan  631 non-null    object
dtypes: object(12)
memory usage: 83.7+ KB

In [158]:
Data_Pertanian.isna().sum()

ID                           0
Nama_Tanaman               193
Jenis_Pangan               193
Varietas                   193
Sumber_Benih               193
Luas_Lahan                 193
Produktivitas              193
Pola_Tanam                 193
Sistem_Budidaya            193
Pengairan                  193
Kepemilikan_Lahan          193
Jenis_Pemanfaatan_Lahan    193
dtype: int64

In [159]:
Data_Pertanian = Data_Pertanian.fillna(0)

In [160]:
Data_Pertanian.describe(include="all").T

                        count unique                 top freq
ID                        824    824              #22424    1
Nama_Tanaman              824    154                   0  207
Jenis_Pangan              824     54            Lokal     220
Varietas                  824    191                   0  211
Sumber_Benih              824     49  Tangkar Sendiri     238
Luas_Lahan                824    206                   0  222
Produktivitas             824    286                   0  240
Pola_Tanam                824     30   1 kali setahun     278
Sistem_Budidaya           824     38                   0  193
Pengairan                 824     35      Tadah Hujan     270
Kepemilikan_Lahan         824     32    Milik Pribadi     253
Jenis_Pemanfaatan_Lahan   824     44                   0  193

In [161]:
Data_Pertanian['Pengairan'].value_counts()

Pengairan
Tadah Hujan                                                                                                                               270
0                                                                                                                                         193
Tadah Hujan    Tadah Hujan                                                                                                                115
Tadah Hujan    Tadah Hujan    Tadah Hujan                                                                                                  93
Tidak ada                                                                                                                                  47
Tadah Hujan    Tadah Hujan    Tadah Hujan    Tadah Hujan                                                                                   33
Non Teknis    Non Teknis                                                                                                                    9
Non Teknis    Non Teknis    Non Teknis                                                                                                      9
Tidak ada    Tidak ada                                                                                                                      7
Non Teknis                                                                                                                                  6
Teknis                                                                                                                                      6
Tadah Hujan    Tidak ada                                                                                                                    5
Tadah Hujan    Tadah Hujan    Tadah Hujan    Tadah Hujan    Tadah Hujan                                                                     5
Tidak ada    Tidak ada    Tidak ada                                                                                                         4
Non Teknis    Tadah Hujan    Tadah Hujan                                                                                                    2
Teknis    Tadah Hujan    Tadah Hujan                                                                                                        1
Tadah Hujan    Tadah Hujan    Tidak ada    Tadah Hujan                                                                                      1
Tadah Hujan    Tadah Hujan    Non Teknis    Tadah Hujan                                                                                     1
Tadah Hujan    Tadah Hujan    Tadah Hujan    Tadah Hujan    Tadah Hujan    Tadah Hujan                                                      1
Tidak ada    Tadah Hujan                                                                                                                    1
Tidak ada    Tadah Hujan    Tadah Hujan                                                                                                     1
Teknis    Teknis    Teknis    Teknis    Teknis                                                                                              1
Non Teknis    Tadah Hujan    Non Teknis    Non Teknis                                                                                       1
Tidak ada    Tidak ada    Tidak ada    Tidak ada    Tidak ada                                                                               1
Teknis    Tadah Hujan    Tadah Hujan    Tadah Hujan                                                                                         1
Tadah Hujan    Teknis    Teknis    Tadah Hujan                                                                                              1
Teknis    Tadah Hujan                                                                                                                       1
Tadah Hujan    Tadah Hujan    Tadah Hujan    Tadah Hujan    Tadah Hujan    Tadah Hujan    Tadah Hujan    Tadah Hujan    Tadah Hujan         1
Tadah Hujan    Tadah Hujan    Tidak ada                                                                                                     1
Tadah Hujan    Tadah Hujan    Tadah Hujan    Tadah Hujan    Tadah Hujan    Tadah Hujan    Tadah Hujan                                       1
Non Teknis    Non Teknis    Non Teknis    Non Teknis                                                                                        1
Non Teknis    Tidak ada                                                                                                                     1
Non Teknis    Tidak ada    Tidak ada                                                                                                        1
Pengairan                                                                                                                                   1
Teknis    Teknis    Teknis    Teknis    Teknis    Teknis    Teknis    Teknis                                                                1
Name: count, dtype: int64

In [162]:
import re

def hapus_duplikasi_kata(teks):
    if pd.isna(teks): return teks  # biarkan NaN tetap NaN
    # Pecah berdasarkan spasi
    kata_kata = teks.split()
    # Hilangkan duplikat yang berurutan maupun tidak
    kata_unik = list(dict.fromkeys(kata_kata))
    return ' '.join(kata_unik)

# Terapkan ke kolom Pengairan
Data_Pertanian['Pengairan'] = Data_Pertanian['Pengairan'].astype(str).apply(hapus_duplikasi_kata)

In [163]:
# Strip whitespace berlebih dan ubah ke format konsisten (misal Title Case)
Data_Pertanian['Pengairan'] = Data_Pertanian['Pengairan'].str.strip().str.title()

In [164]:
Data_Pertanian['Pengairan'].value_counts()

Pengairan
Tadah Hujan               519
0                         193
Tidak Ada                  59
Non Teknis                 25
Teknis                      8
Tadah Hujan Tidak Ada       7
Teknis Tadah Hujan          3
Non Teknis Tadah Hujan      3
Non Teknis Tidak Ada        2
Tidak Ada Tadah Hujan       2
Pengairan                   1
Tadah Hujan Teknis          1
Tadah Hujan Non Teknis      1
Name: count, dtype: int64

In [276]:
kolom_target = ['Luas_Lahan', 'Produktivitas']

Data_Pertanian[kolom_target] = Data_Pertanian[kolom_target].apply(
    pd.to_numeric, errors='coerce'
)

In [277]:
Data_Pertanian.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Nama_Tanaman,824.0,154.0,0.0,207.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jenis_Pangan,824,54,Lokal,220,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Varietas,824.0,191.0,0.0,211.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sumber_Benih,824,49,Tangkar Sendiri,238,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas_Lahan,587.0,NaN,NaN,NaN,13.124613,119.814803,0.0,0.0,0.18,0.6,2500.0
Produktivitas,582.0,NaN,NaN,NaN,7.043429,56.703925,0.0,0.0,0.05,0.5,1000.0
Pola_Tanam,824,30,1 kali setahun,278,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sistem_Budidaya,824.0,38.0,0.0,193.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengairan,824,35,Tadah Hujan,270,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kepemilikan_Lahan,824,32,Milik Pribadi,253,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jenis_Pemanfaatan_Lahan,824.0,44.0,0.0,193.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Data Limbah

In [32]:
Data_Limbah                = pd.concat([id_column, clean_columns(df_combined.iloc[:, 256:268])], axis=1)

In [33]:
Data_Limbah.head()

,ID,September.2,Oktober.2,November.2,Desember.2,Nama_Produk,Jenis_Usaha,Jumlah_Produksi,Proses_Produksi,Pemanfaatan_Hasil_Produksi,Sumber_Limbah,Pengolahan,Hasil_Daur_Ulang
0,#22424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pertanian dan Perkebunan,Diolah,Pakan Ternak
1,#22887,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pertanian dan Perkebunan,Diolah,Pupuk dan Pakan Ternak
2,#22892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rumah Tangga Pertanian dan Perkebunan Pe...,Tidak Diolah Diolah Diolah,Dibakar Pakan Ternak Pupuk
3,#22893,NaN,NaN,NaN,NaN,Ikan Mentah,Makanan Olahan,0.5,Manual,Konsumsi Sendiri dan Dijual,Pertanian dan Perkebunan,Diolah,Pupuk dan pakan ternak
4,#22912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pertanian dan Perkebunan,Diolah,Pupuk dan Pakan Ternak

In [153]:
Data_Limbah['Pengolahan'].value_counts()

Pengolahan
Tidak Diolah                                           387
Diolah                                                 185
Tidak ada                                               93
Diolah    Tidak Diolah                                  28
Diolah    Diolah                                         8
Tidak Diolah    Tidak Diolah                             7
Tidak Diolah    Tidak Diolah    Tidak Diolah             5
Tidak Diolah    Diolah    Diolah                         5
Tidak ada    Tidak ada                                   2
Diolah    Tidak Diolah    Diolah                         2
Tidak Diolah    Tidak ada    Tidak ada                   2
Tidak Diolah    Diolah                                   2
Tidak Diolah    Tidak Diolah    Diolah    Diolah         1
Tidak ada    Tidak Diolah                                1
Tidak ada    Tidak ada    Tidak ada                      1
Diolah    Diolah    Diolah                               1
Tidak Diolah    Diolah    Tidak Diolah                   1
Diolah    Tidak ada                                      1
Diolah    Tidak Diolah    Tidak Diolah                   1
Pengolahan                                               1
Tidak Diolah    Tidak ada                                1
Name: count, dtype: int64

In [280]:
Data_Limbah.isna().sum()

Sumber_Limbah       89
Pengolahan          89
Hasil_Daur_Ulang    89
dtype: int64

In [281]:
Data_Limbah = Data_Limbah.fillna("Tidak Diketahui")

In [282]:
Data_Limbah.describe(include="all").T

                 count unique              top freq
Sumber_Limbah      824     15  Rumah Tangga     461
Pengolahan         824     22  Tidak Diolah     387
Hasil_Daur_Ulang   824     61                   204

In [283]:
Data_Limbah.isna().sum()

Sumber_Limbah       0
Pengolahan          0
Hasil_Daur_Ulang    0
dtype: int64

In [284]:
Data_Limbah

,Sumber_Limbah,Pengolahan,Hasil_Daur_Ulang
0,Pertanian dan Perkebunan,Diolah,Pakan Ternak
1,Pertanian dan Perkebunan,Diolah,Pupuk dan Pakan Ternak
2,Rumah Tangga Pertanian dan Perkebunan Pe...,Tidak Diolah Diolah Diolah,Dibakar Pakan Ternak Pupuk
3,Pertanian dan Perkebunan,Diolah,Pupuk dan pakan ternak
4,Pertanian dan Perkebunan,Diolah,Pupuk dan Pakan Ternak
...,...,...,...
844,Rumah Tangga,Diolah,Pakan Ternak
845,Rumah Tangga,Tidak Diolah,Tidak ada
846,Rumah Tangga,Tidak Diolah,Tidak ada
847,Rumah Tangga,Tidak Diolah,Tidak ada
848,Rumah Tangga,Diolah,Pakan Ternak

In [285]:
Data_Limbah['Hasil_Daur_Ulang'].value_counts()

Hasil_Daur_Ulang
                                204
Pakan Ternak                    125
Tidak Diketahui                  89
-                                87
0                                79
                               ...
Makanan Ternak                    1
Pakan Ternak / Dibakar            1
-    -                            1
Pakan Ternak dan Dibakar          1
Pakan Ternak dan Pupuk            1
Name: count, Length: 61, dtype: int64

## Data Aset Keluarga

In [34]:
Data_Aset_Keluarga         = pd.concat([id_column, clean_columns(df_combined.iloc[:, 268:274])], axis=1)

In [35]:
Data_Aset_Keluarga.head()

,ID,Luas_Lahan_Usaha_m2,Luas_Lahan_Rumah_m2,Luas_Bangunan_Rumah_m2,Luas_Bangunan_Usaha_m2,Mesin_dan_Alat_Kerja,Jumlah_(unit)
0,#22424,0,137,63,0,Tidak ada,1
1,#22887,0,165,35,0,Tidak ada,0
2,#22892,0,108,42,0,Tidak ada,1
3,#22893,0,40,30,0,Tidak ada,0
4,#22912,0,215,35,0,Tidak ada,1

In [154]:
Data_Aset_Keluarga['Mesin_dan_Alat_Kerja'].value_counts()

Mesin_dan_Alat_Kerja
Tidak ada                    744
Mesin Jahit                   11
Lain-lain                     10
Tidak ada    Tidak ada         7
Giling Padi                    5
Traktor                        2
Mesin dan Alat Kerja           1
Name: count, dtype: int64

In [288]:
Data_Aset_Keluarga.info()

<class 'pandas.core.frame.DataFrame'>
Index: 824 entries, 0 to 848
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Luas_Lahan_Usaha_m2     780 non-null    object
 1   Luas_Lahan_Rumah_m2     780 non-null    object
 2   Luas_Bangunan_Rumah_m2  780 non-null    object
 3   Luas_Bangunan_Usaha_m2  780 non-null    object
 4   Mesin_dan_Alat_Kerja    780 non-null    object
 5   Jumlah_(unit)           780 non-null    object
dtypes: object(6)
memory usage: 45.1+ KB

In [289]:
Data_Aset_Keluarga.isna().sum()

Luas_Lahan_Usaha_m2       44
Luas_Lahan_Rumah_m2       44
Luas_Bangunan_Rumah_m2    44
Luas_Bangunan_Usaha_m2    44
Mesin_dan_Alat_Kerja      44
Jumlah_(unit)             44
dtype: int64

In [290]:
Data_Aset_Keluarga["Mesin_dan_Alat_Kerja"] = Data_Aset_Keluarga["Mesin_dan_Alat_Kerja"].fillna("Tidak Diketahui")

C:\Users\halid\AppData\Local\Temp\ipykernel_18704\2372067479.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data_Aset_Keluarga["Mesin_dan_Alat_Kerja"] = Data_Aset_Keluarga["Mesin_dan_Alat_Kerja"].fillna("Tidak Diketahui")

In [291]:
Data_Aset_Keluarga.isna().sum()

Luas_Lahan_Usaha_m2       44
Luas_Lahan_Rumah_m2       44
Luas_Bangunan_Rumah_m2    44
Luas_Bangunan_Usaha_m2    44
Mesin_dan_Alat_Kerja       0
Jumlah_(unit)             44
dtype: int64

In [292]:
# Kolom yang ingin dikecualikan
kolom_tidak_diubah = ['Mesin_dan_Alat_Kerja']

# Kolom yang akan dikonversi ke float (selain kolom yang dikecualikan)
kolom_dikonversi = [col for col in Data_Aset_Keluarga.columns if col not in kolom_tidak_diubah]

# Konversi kolom lain ke numerik
Data_Aset_Keluarga[kolom_dikonversi] = Data_Aset_Keluarga[kolom_dikonversi].apply(pd.to_numeric, errors='coerce')

C:\Users\halid\AppData\Local\Temp\ipykernel_18704\1003402500.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data_Aset_Keluarga[kolom_dikonversi] = Data_Aset_Keluarga[kolom_dikonversi].apply(pd.to_numeric, errors='coerce')

In [293]:
Data_Aset_Keluarga = Data_Aset_Keluarga.fillna(0)

In [294]:
Data_Aset_Keluarga.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Luas_Lahan_Usaha_m2,824.0,NaN,NaN,NaN,62149.441542,1741788.551062,0.0,0.0,0.0,25.75,50000000.0
Luas_Lahan_Rumah_m2,824.0,NaN,NaN,NaN,2338.035587,52254.210927,0.0,70.0,251.0,625.0,1500000.0
Luas_Bangunan_Rumah_m2,824.0,NaN,NaN,NaN,72.740533,162.702395,0.0,35.0,48.0,63.0,3200.0
Luas_Bangunan_Usaha_m2,824.0,NaN,NaN,NaN,1831.230425,52254.78021,0.0,0.0,0.0,0.0,1500000.0
Mesin_dan_Alat_Kerja,824,8,Tidak ada,744,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jumlah_(unit),824.0,NaN,NaN,NaN,0.11165,0.440546,0.0,0.0,0.0,0.0,5.0

# save ulang file csv

In [315]:
# Simpan ke file CSV sesuai nama variabel
Formulir_Data_Rumah_Tangga.to_csv("Formulir_Data_Rumah_Tangga.csv", index=False)
Data_Keluarga.to_csv("Data_Keluarga.csv", index=False)
Data_Produksi.to_csv("Data_Produksi.csv", index=False)
Data_Konsumsi_Tidak_Beli.to_csv("Data_Konsumsi_Tidak_Beli.csv", index=False)
Data_Konsumsi_Beli.to_csv("Data_Konsumsi_Beli.csv", index=False)
Data_Pertanian.to_csv("Data_Pertanian.csv", index=False)
#Data_Perkebunan.to_csv("Data_Perkebunan.csv", index=False)
#Data_Peternakan.to_csv("Data_Peternakan.csv", index=False)
#Data_Perikanan_Budidaya.to_csv("Data_Perikanan_Budidaya.csv", index=False)
#Data_Perikanan_Tangkap.to_csv("Data_Perikanan_Tangkap.csv", index=False)
#Pemanfaatan_Hasil_Produksi.to_csv("Pemanfaatan_Hasil_Produksi.csv", index=False)
Data_Limbah.to_csv("Data_Limbah.csv", index=False)
Data_Aset_Keluarga.to_csv("Data_Aset_Keluarga.csv", index=False)
#Data_Kesehatan_Keluarga.to_csv("Data_Kesehatan_Keluarga.csv", index=False)

print("✅ Semua DataFrame telah disimpan ke CSV dengan nama sesuai kategorinya.")

✅ Semua DataFrame telah disimpan ke CSV dengan nama sesuai kategorinya.

In [316]:
# Gabungkan semua DataFrame yang tidak dikomentari
clean_df = pd.concat([
    Formulir_Data_Rumah_Tangga,
    Data_Keluarga,
    Data_Produksi,
    Data_Konsumsi_Tidak_Beli,
    Data_Konsumsi_Beli,
    Data_Pertanian,
    Data_Limbah,
    Data_Aset_Keluarga
], axis=1)

# Tampilkan beberapa baris pertama untuk konfirmasi
clean_df.head()

,ID,Nama_Kepala_Keluarga,Tanggal_Pendataan,Dusun,Desa/Kelurahan,Kecamatan,Kabupaten,Propinsi,Koordinat_GPS,Sumber_Listrik,...,Jenis_Pemanfaatan_Lahan,Sumber_Limbah,Pengolahan,Hasil_Daur_Ulang,Luas_Lahan_Usaha_m2,Luas_Lahan_Rumah_m2,Luas_Bangunan_Rumah_m2,Luas_Bangunan_Usaha_m2,Mesin_dan_Alat_Kerja,Jumlah_(unit)
0,#22424,Adam Yusuf,2024-10-07 00:00:00,Aliuroba,Benihading,Buyasuri,Lembata,Nusa Tenggara Timur,"123.79257, -08.23721, 269, 7",PLN,...,Kebun Kebun,Pertanian dan Perkebunan,Diolah,Pakan Ternak,0.0,137.0,63.0,0.0,Tidak ada,1.0
1,#22887,Sukirman Kiri,2024-10-09 00:00:00,Wulakada,Benihading,Buyasuri,Lembata,Nusa Tenggara Timur,"123.78918, - 8.23754, 289, 3",PLN,...,Kebun,Pertanian dan Perkebunan,Diolah,Pupuk dan Pakan Ternak,0.0,165.0,35.0,0.0,Tidak ada,0.0
2,#22892,Aloysius Reun,2024-10-09 00:00:00,Buyaq Abe,Benihading,Buyasuri,Lembata,Nusa Tenggara Timur,"123.79217, -08.23784, 294, 9",PLN,...,Kebun,Rumah Tangga Pertanian dan Perkebunan Pe...,Tidak Diolah Diolah Diolah,Dibakar Pakan Ternak Pupuk,0.0,108.0,42.0,0.0,Tidak ada,1.0
3,#22893,Lambertus Lapi,2024-10-09 00:00:00,Wulakada,Benihading,Buyasuri,Lembata,Nusa Tenggara Timur,"123.78969, -8.23785, 240, 3",PLN,...,Kebun Kebun,Pertanian dan Perkebunan,Diolah,Pupuk dan pakan ternak,0.0,40.0,30.0,0.0,Tidak ada,0.0
4,#22912,Fransiskus Letu,2024-10-09 00:00:00,Wulakada,Benihading,Buyasuri,Lembata,Nusa Tenggara Timur,"123.79113, -8.23792, 312, 3",PLN,...,Kebun Kebun Kebun,Pertanian dan Perkebunan,Diolah,Pupuk dan Pakan Ternak,0.0,215.0,35.0,0.0,Tidak ada,1.0

In [318]:
clean_df

,ID,Nama_Kepala_Keluarga,Tanggal_Pendataan,Dusun,Desa/Kelurahan,Kecamatan,Kabupaten,Propinsi,Koordinat_GPS,Sumber_Listrik,...,Jenis_Pemanfaatan_Lahan,Sumber_Limbah,Pengolahan,Hasil_Daur_Ulang,Luas_Lahan_Usaha_m2,Luas_Lahan_Rumah_m2,Luas_Bangunan_Rumah_m2,Luas_Bangunan_Usaha_m2,Mesin_dan_Alat_Kerja,Jumlah_(unit)
0,#22424,Adam Yusuf,2024-10-07 00:00:00,Aliuroba,Benihading,Buyasuri,Lembata,Nusa Tenggara Timur,"123.79257, -08.23721, 269, 7",PLN,...,Kebun Kebun,Pertanian dan Perkebunan,Diolah,Pakan Ternak,0.0,137.0,63.00,0.0,Tidak ada,1.0
1,#22887,Sukirman Kiri,2024-10-09 00:00:00,Wulakada,Benihading,Buyasuri,Lembata,Nusa Tenggara Timur,"123.78918, - 8.23754, 289, 3",PLN,...,Kebun,Pertanian dan Perkebunan,Diolah,Pupuk dan Pakan Ternak,0.0,165.0,35.00,0.0,Tidak ada,0.0
2,#22892,Aloysius Reun,2024-10-09 00:00:00,Buyaq Abe,Benihading,Buyasuri,Lembata,Nusa Tenggara Timur,"123.79217, -08.23784, 294, 9",PLN,...,Kebun,Rumah Tangga Pertanian dan Perkebunan Pe...,Tidak Diolah Diolah Diolah,Dibakar Pakan Ternak Pupuk,0.0,108.0,42.00,0.0,Tidak ada,1.0
3,#22893,Lambertus Lapi,2024-10-09 00:00:00,Wulakada,Benihading,Buyasuri,Lembata,Nusa Tenggara Timur,"123.78969, -8.23785, 240, 3",PLN,...,Kebun Kebun,Pertanian dan Perkebunan,Diolah,Pupuk dan pakan ternak,0.0,40.0,30.00,0.0,Tidak ada,0.0
4,#22912,Fransiskus Letu,2024-10-09 00:00:00,Wulakada,Benihading,Buyasuri,Lembata,Nusa Tenggara Timur,"123.79113, -8.23792, 312, 3",PLN,...,Kebun Kebun Kebun,Pertanian dan Perkebunan,Diolah,Pupuk dan Pakan Ternak,0.0,215.0,35.00,0.0,Tidak ada,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844,#22816,Siktus Kia Blolong,2024-10-09 00:00:00,A Arubala,Lolong,Nagawutung,Lembata,Nusa Tenggara Timur,"123.28345, -8.54310, 32 m, 4 m",PLN,...,Kebun Kebun Kebun,Rumah Tangga,Diolah,Pakan Ternak,0.0,0.0,24.00,0.0,Tidak ada,0.0
845,#22818,Herman D.B. Bean,2024-10-08 00:00:00,A Arubala,Lolong,Nagawutung,Lembata,Nusa Tenggara Timur,"123.28361, -8.54313, 36 m, 3 m",PLN,...,Ladang Ladang,Rumah Tangga,Tidak Diolah,Tidak ada,845.0,845.0,48.00,48.0,Tidak ada,0.0
846,#22819,Mathias Sulet,2024-10-09 00:00:00,B Rajawali,Lolong,Nagawutung,Lembata,Nusa Tenggara Timur,"123.28522, -8.54396, 41 m, 3 m",PLN,...,Ladang,Rumah Tangga,Tidak Diolah,Tidak ada,0.0,600.0,48.00,0.0,Tidak ada,0.0
847,#22824,Yasintha Sabu,2024-10-09 00:00:00,B Rajawali,Lolong,Nagawutung,Lembata,Nusa Tenggara Timur,"123.28527, -8.54364, 38 m, 3 m",PLN,...,Ladang Ladang Ladang,Rumah Tangga,Tidak Diolah,Tidak ada,0.0,525.0,41.25,0.0,Tidak ada,0.0
848,#22829,Marselinus Lela Papang,2024-10-08 00:00:00,A Arubala,Lolong,Nagawutung,Lembata,Nusa Tenggara Timur,"123.28431, -8.54290, 41 m, 4 m",PLN,...,Tidak ada,Rumah Tangga,Diolah,Pakan Ternak,200.0,200.0,30.00,30.0,Lain-lain,3.0