In [1]:
import re
import pandas as pd

In [2]:
df = pd.read_csv("data_rumah_tangga_all.csv")

In [3]:
for i, col in enumerate(df.columns):
    print(f"{i}. {col}")

0. #
1. ID
2. Nama Kepala Keluarga
3. Nomor Kartu Keluarga
4. Tanggal Pendataan
5. Dusun
6. Desa/Kelurahan
7. Kecamatan
8. Kabupaten
9. Propinsi
10. Koordinat GPS
11. Sumber Listrik
12. Air Bersih
13. Kepemilikan Rumah
14. Nama
15. Jumlah Anggota Keluarga (jiwa)
16. Agama/ Kepercayaan
17. Pekerjaan
18. Pendapatan Bulanan (Rp.)
19. Beras Lokal (Sawah/Ladang dalam Kg)
20. Singkong
21. Jagung Lokal
22. Jagung Hibrida
23. Umbi-umbian lain
24. Sorgum
25. Jewawut/Weteng
26. Ikan dan Boga Laut Segar
27. Ikan dan Boga Laut Kering
28. Telor
29. Ayam
30. Daging (Sapi/Kerbau/Kambing/Babi,dll)
31. Kacang-kacangan
32. Minyak Kelapa
33. Cabai Besar
34. Cabai Kecil
35. Kemiri
36. Kunyit
37. Jahe
38. Sereh
39. Lengkuas
40. Jeruk Nipis
41. Mete
42. Lain-lain
43. Beras Lokal (Sawah/Ladang)
44. Singkong.1
45. Jagung Lokal.1
46. Jagung Hibrida.1
47. Umbi-umbian lain.1
48. Sorgum.1
49. Jewawut/Weteng.1
50. Ikan dan Boga Laut Segar.1
51. Ikan dan Boga Laut Kering.1
52. Telor.1
53. Ayam.1
54. Kacang-kacangan.1
55. Minyak Kelapa.1
56. Cabai Besar.1
57. Cabai Kecil.1
58. Kemiri.1
59. Kunyit.1
60. Jahe.1
61. Sereh.1
62. Lengkuas.1
63. Jeruk Nipis.1
64. Mete.1
65. Lain-lain.1
66. Beras Lokal (Sawah/Ladang dalam Rp)
67. Beras Toko
68. Singkong.2
69. Jagung Lokal.2
70. Jagung Hibrida.2
71. Umbi-umbian lain.2
72. Sorgum.2
73. Jewawut/Weteng.2
74. Ikan dan Boga Laut Segar.2
75. Ikan dan Boga Laut Kering.2
76. Telor.2
77. Ayam.2
78. Daging (Sapi/Kerbau/Kambing/Babi,dll).1
79. Tahu dan Tempe
80. Kacang-kacangan.2
81. Daun Ubi
82. Kangkung
83. Kubis
84. Sawi
85. Bayam
86. Brokoli
87. Wortel
88. Jantung Pisang
89. Kelor
90. Bunga dan Daun Pepaya
91. Pakis/Paku
92. Rebung
93. Mangga
94. Alpukat
95. Jeruk
96. Anggur
97. Buah Naga
98. Mete.2
99. Pisang
100. Rambutan
101. Nanas
102. Salak
103. Pepaya
104. Kelapa
105. Tomat
106. Timun
107. Labu
108. Kemangi
109. Minyak Kelapa.2
110. Minyak Goreng Kemasan/Toko
111. Bumbu Kemasan
112. MSG
113. Bawang Merah
114. Bawang Putih
115. Bawang Bombai
116. Cabai Besar.2
117. Cabai Kecil.2
118. Lada
119. Kemiri.2
120. Kunyit.2
121. Jahe.2
122. Sereh.2
123. Lengkuas.2
124. Jeruk Nipis.2
125. Jeruk Limau
126. Kecap
127. Saos
128. Susu (Bubuk/UHT)
129. Kental Manis
130. Minuman Kemasan
131. Minuman Fermentasi
132. Gula Pasir
133. Kopi
134. Teh
135. Mie Instan
136. Biskuit/Roti/Kue Kemasan
137. Rokok Kemasan
138. Tembakau
139. Pinang
140. Daun Sirih
141. Minyak Tanah
142. Gas
143. Biaya Listrik
144. BBM
145. Pupuk
146. Pestisida/Herbisida/Fungisida
147. Benih
148. Upah Buruh
149. Sewa Alat dan Mesin Pertanian
150. Transportasi
151. SPP (Iuran Sekolah)
152. Peralatan Sekolah/ATK
153. Transportasi/Kos/Jajan
154. Periksa Kesehatan
155. Iuran BPJS
156. Obat
157. Sanitary
158. Pulsa Ponsel
159. Dana Sosial (Arisan, Sumbangan, dll)
160. Nama Tanaman
161. Jenis Pangan
162. Varietas
163. Sumber Benih
164. Luas Lahan
165. Produktivitas
166. Pola Tanam
167. Sistem Budidaya
168. Pengairan
169. Kepemilikan Lahan
170. Jenis Pemanfaatan Lahan
171. Nama Tanaman.1
172. Jangka Tanam
173. Jenis Tanaman
174. Luas
175. Tegakan (batang)
176. Tahun Tanam
177. Produktivitas (Ton/Ha)
178. Pemanfaatan Hasil
179. Kepemilikan Lahan.1
180. Nama Tempat Lahan
181. Sapi
182. Kerbau
183. Kambing
184. Ayam.3
185. Bebek
186. Babi
187. Kuda
188. Jumlah Hasil (Kg)
189. Sumber Pakan
190. Kepemilikan
191. Jenis Ikan
192. Luas Kolam
193. Masa Panen
194. Sistem Budidaya.1
195. Pasca Panen
196. Pemanfaatan Hasil Panen
197. Kepemilikan Lahan.2
198. Nama Area Tangkap
199. Jenis Ikan.1
200. Jumlah Hasil
201. Pemanfaatan Hasil Tangkap
202. Januari
203. Februari
204. Maret
205. April
206. Mei
207. Juni
208. Juli
209. Agustus
210. September
211. Oktober
212. November
213. Desember
214. Januari.1
215. Februari.1
216. Maret.1
217. April.1
218. Mei.1
219. Juni.1
220. Juli.1
221. Agustus.1
222. September.1
223. Oktober.1
224. November.1
225. Desember.1
226. Januari.2
227. Februari.2
228. Maret.2
229. April.2
230. Mei.2
231. Juni.2
232. Juli.2
233. Agustus.2
234. September.2
235. Oktober.2
236. November.2
237. Desember.2
238. Nama Produk
239. Jenis Usaha
240. Jumlah Produksi
241. Proses Produksi
242. Pemanfaatan Hasil Produksi
243. Sumber Limbah
244. Pengolahan
245. Hasil Daur Ulang
246. Luas Lahan Usaha m2
247. Luas Lahan Rumah m2
248. Luas Bangunan Rumah m2
249. Luas Bangunan Usaha m2
250. Mesin dan Alat Kerja
251. Jumlah (unit)
252. Apakah pernah ada bayi yang meninggal?
253. Jika ada, berapa jumlahnya?
254. Apakah balita selalu diperiksa ke Posyandu?
255. Jumlah Lansia
256. Anggota keluarga yang sering sakit
257. Jenis penyakit yang sering diderita
258. Kemana biasa berobat?
259. Apakah pernah dapat bantuan dari pemerintah?
260. Kalau iya, apa bentuk bantuan tersebut?
261. Jumlah difabel (berkebutuhan khusus)
262. Jenis Difabel
263. Memiliki anak usia kurang dari 5 tahun
264. Tinggi badan anak
265. Berat badan anak
266. Apakah anak mengalami kasus gizi buruk?
267. Apakah anak mengalami kekurangan gizi?
268. SourceFile

In [5]:
# daftar semua kolom konsumsi
kolom_konsumsi_beli = [
    'Beras Lokal (Sawah/Ladang dalam Rp)',
    'Beras Toko',
    'Singkong.2',
    'Jagung Lokal.2',
    'Jagung Hibrida.2',
    'Umbi-umbian lain.2',
    'Sorgum.2',
    'Jewawut/Weteng.2',
    'Ikan dan Boga Laut Segar.2',
    'Ikan dan Boga Laut Kering.2',
    'Telor.2',
    'Ayam.2',
    'Daging (Sapi/Kerbau/Kambing/Babi,dll).1',
    'Tahu dan Tempe',
    'Kacang-kacangan.2',
    'Daun Ubi',
    'Kangkung',
    'Kubis',
    'Sawi',
    'Bayam',
    'Brokoli',
    'Wortel',
    'Jantung Pisang',
    'Kelor',
    'Bunga dan Daun Pepaya',
    'Pakis/Paku',
    'Rebung',
    'Mangga',
    'Alpukat',
    'Jeruk',
    'Anggur',
    'Buah Naga',
    'Mete.2',
    'Pisang',
    'Rambutan',
    'Nanas',
    'Salak',
    'Pepaya',
    'Kelapa',
    'Tomat',
    'Timun',
    'Labu',
    'Kemangi',
    'Minyak Kelapa.2',
    'Minyak Goreng Kemasan/Toko',
    'Bumbu Kemasan',
    'MSG',
    'Bawang Merah',
    'Bawang Putih',
    'Bawang Bombai',
    'Cabai Besar.2',
    'Cabai Kecil.2',
    'Lada',
    'Kemiri.2',
    'Kunyit.2',
    'Jahe.2',
    'Sereh.2',
    'Lengkuas.2',
    'Jeruk Nipis.2',
    'Jeruk Limau',
    'Kecap',
    'Saos',
    'Susu (Bubuk/UHT)',
    'Kental Manis',
    'Minuman Kemasan',
    'Minuman Fermentasi',
    'Gula Pasir',
    'Kopi',
    'Teh',
    'Mie Instan',
    'Biskuit/Roti/Kue Kemasan',
    'Rokok Kemasan',
    'Tembakau',
    'Pinang',
    'Daun Sirih',
    'Minyak Tanah',
    'Gas',
    'Biaya Listrik',
    'BBM',
    'Pupuk',
    'Pestisida/Herbisida/Fungisida',
    'Benih',
    'Upah Buruh',
    'Sewa Alat dan Mesin Pertanian',
    'Transportasi',
    'SPP (Iuran Sekolah)',
    'Peralatan Sekolah/ATK',
    'Transportasi/Kos/Jajan',
    'Periksa Kesehatan',
    'Iuran BPJS',
    'Obat',
    'Sanitary',
    'Pulsa Ponsel',
    'Dana Sosial (Arisan, Sumbangan, dll)'
]

# jumlahkan ke kolom baru
df['Konsumsi Bulanan (Beli)'] = df[kolom_konsumsi_beli].sum(axis=1)

In [6]:
df = pd.concat(
    [df[['ID', 'Desa/Kelurahan', 'Nama Kepala Keluarga', 'Pekerjaan', 'Pendapatan Bulanan (Rp.)', 'Konsumsi Bulanan (Beli)',
    'Nama Tanaman', 'Sumber Benih', 'Luas Lahan', 'Produktivitas', 'Pola Tanam', 'Sistem Budidaya', 
    'Pengairan', 'Pupuk', 'Pestisida/Herbisida/Fungisida', 'Benih', 'Upah Buruh', 
    'Sewa Alat dan Mesin Pertanian', 'Sumber Limbah', 'Pengolahan']]],
    axis=1
)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             881 non-null    int64
 1   Desa/Kelurahan                 881 non-null    object
 2   Nama Kepala Keluarga           881 non-null    object
 3   Pekerjaan                      870 non-null    object
 4   Pendapatan Bulanan (Rp.)       870 non-null    object
 5   Konsumsi Bulanan (Beli)        881 non-null    object
 6   Nama Tanaman                   696 non-null    object
 7   Sumber Benih                   696 non-null    object
 8   Luas Lahan                     696 non-null    object
 9   Produktivitas                  696 non-null    object
 10  Pola Tanam                     696 non-null    object
 11  Sistem Budidaya                696 non-null    object
 12  Pengairan                      696 non-null    object
 13  Pupuk                          864 non-null    object
 14  Pestisida/Herbisida/Fungisida  864 non-null    object
 15  Benih                          864 non-null    object
 16  Upah Buruh                     864 non-null    object
 17  Sewa Alat dan Mesin Pertanian  864 non-null    object
 18  Sumber Limbah                  788 non-null    object
 19  Pengolahan                     788 non-null    object
dtypes: int64(1), object(19)
memory usage: 137.8+ KB

In [8]:
### CHECKPOINT 1 ###

df_na = df.copy()

In [9]:
### CHECKPOINT 1 ###

df_na.isna().sum()

ID                                 0
Desa/Kelurahan                     0
Nama Kepala Keluarga               0
Pekerjaan                         11
Pendapatan Bulanan (Rp.)          11
Konsumsi Bulanan (Beli)            0
Nama Tanaman                     185
Sumber Benih                     185
Luas Lahan                       185
Produktivitas                    185
Pola Tanam                       185
Sistem Budidaya                  185
Pengairan                        185
Pupuk                             17
Pestisida/Herbisida/Fungisida     17
Benih                             17
Upah Buruh                        17
Sewa Alat dan Mesin Pertanian     17
Sumber Limbah                     93
Pengolahan                        93
dtype: int64

In [10]:
df_na = df_na.dropna()

In [11]:
### CHECKPOINT 1 ###

df_na.info()

<class 'pandas.core.frame.DataFrame'>
Index: 638 entries, 1 to 880
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             638 non-null    int64
 1   Desa/Kelurahan                 638 non-null    object
 2   Nama Kepala Keluarga           638 non-null    object
 3   Pekerjaan                      638 non-null    object
 4   Pendapatan Bulanan (Rp.)       638 non-null    object
 5   Konsumsi Bulanan (Beli)        638 non-null    object
 6   Nama Tanaman                   638 non-null    object
 7   Sumber Benih                   638 non-null    object
 8   Luas Lahan                     638 non-null    object
 9   Produktivitas                  638 non-null    object
 10  Pola Tanam                     638 non-null    object
 11  Sistem Budidaya                638 non-null    object
 12  Pengairan                      638 non-null    object
 13  Pupuk                          638 non-null    object
 14  Pestisida/Herbisida/Fungisida  638 non-null    object
 15  Benih                          638 non-null    object
 16  Upah Buruh                     638 non-null    object
 17  Sewa Alat dan Mesin Pertanian  638 non-null    object
 18  Sumber Limbah                  638 non-null    object
 19  Pengolahan                     638 non-null    object
dtypes: int64(1), object(19)
memory usage: 104.7+ KB

In [12]:
### CHECKPOINT 1 ###

df_na['Desa/Kelurahan'].value_counts()  # jalankan ulang setelah dropna

Desa/Kelurahan
Muruona         32
Lamatuka        30
Hoelea I        30
Ile Kimok       30
Benihading      30
Waienga         29
Watodiri        28
Nubamado        27
Lolong          26
Merdeka         25
Todanara        24
Dulitukan       24
Mahal           23
Laranwutun      23
Paubokol        23
Dikesare        22
Labalimut       22
Duawutun        21
Tubungwalang    21
Wuakerong       20
Puor            20
Pada            20
Riangbao        19
Bour            17
Kalikur         13
Katakeja        13
Balauring       12
Tagawiti        10
Tubuk Rajan      4
Name: count, dtype: int64

In [13]:
### CHECKPOINT 1 ###
df_na.to_excel("checkpoint1.xlsx", index=False)

In [14]:
df_na.info()

<class 'pandas.core.frame.DataFrame'>
Index: 638 entries, 1 to 880
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             638 non-null    int64
 1   Desa/Kelurahan                 638 non-null    object
 2   Nama Kepala Keluarga           638 non-null    object
 3   Pekerjaan                      638 non-null    object
 4   Pendapatan Bulanan (Rp.)       638 non-null    object
 5   Konsumsi Bulanan (Beli)        638 non-null    object
 6   Nama Tanaman                   638 non-null    object
 7   Sumber Benih                   638 non-null    object
 8   Luas Lahan                     638 non-null    object
 9   Produktivitas                  638 non-null    object
 10  Pola Tanam                     638 non-null    object
 11  Sistem Budidaya                638 non-null    object
 12  Pengairan                      638 non-null    object
 13  Pupuk                          638 non-null    object
 14  Pestisida/Herbisida/Fungisida  638 non-null    object
 15  Benih                          638 non-null    object
 16  Upah Buruh                     638 non-null    object
 17  Sewa Alat dan Mesin Pertanian  638 non-null    object
 18  Sumber Limbah                  638 non-null    object
 19  Pengolahan                     638 non-null    object
dtypes: int64(1), object(19)
memory usage: 104.7+ KB

In [15]:
# Mengecek kolom yang memiliki duplikasi kata (kesahalan input)

def ada_duplikasi_kata(teks):
    if pd.isna(teks):
        return False
    kata_kata = teks.split()
    return len(kata_kata) != len(set(kata_kata))

# Daftar kolom yang mau dikecualikan
skip_cols = ['Luas Lahan', 'Produktivitas']

# Cek semua kolom kecuali yang di-skip
for col in df_na.columns:
    if col in skip_cols:
        continue
    if df_na[col].astype(str).apply(ada_duplikasi_kata).any():
        print(f"Kolom '{col}' punya sel dengan duplikasi kata.")

Kolom 'Pekerjaan' punya sel dengan duplikasi kata.
Kolom 'Pendapatan Bulanan (Rp.)' punya sel dengan duplikasi kata.
Kolom 'Konsumsi Bulanan (Beli)' punya sel dengan duplikasi kata.
Kolom 'Nama Tanaman' punya sel dengan duplikasi kata.
Kolom 'Sumber Benih' punya sel dengan duplikasi kata.
Kolom 'Pola Tanam' punya sel dengan duplikasi kata.
Kolom 'Sistem Budidaya' punya sel dengan duplikasi kata.
Kolom 'Pengairan' punya sel dengan duplikasi kata.
Kolom 'Pupuk' punya sel dengan duplikasi kata.
Kolom 'Pestisida/Herbisida/Fungisida' punya sel dengan duplikasi kata.
Kolom 'Benih' punya sel dengan duplikasi kata.
Kolom 'Upah Buruh' punya sel dengan duplikasi kata.
Kolom 'Sewa Alat dan Mesin Pertanian' punya sel dengan duplikasi kata.
Kolom 'Sumber Limbah' punya sel dengan duplikasi kata.
Kolom 'Pengolahan' punya sel dengan duplikasi kata.

In [16]:
def hapus_duplikasi_kata(teks):
    if pd.isna(teks): 
        return teks  # biarkan NaN tetap NaN
    kata_kata = teks.split()
    kata_unik = list(dict.fromkeys(kata_kata))  # hapus duplikat sambil jaga urutan
    return ' '.join(kata_unik)

# Hapus duplikasi kata hanya untuk kolom yang tidak di-skip
for col in df_na.columns:
    if col in skip_cols:
        continue
    if df_na[col].astype(str).apply(ada_duplikasi_kata).any():
        df_na[col] = df_na[col].astype(str).apply(hapus_duplikasi_kata)

print("Semua kolom (kecuali yang dikecualikan) telah dibersihkan dari duplikasi kata.")

Semua kolom (kecuali yang dikecualikan) telah dibersihkan dari duplikasi kata.

In [17]:
for i, col in enumerate(df_na.columns):
    print(f"{i}. {col}")

0. ID
1. Desa/Kelurahan
2. Nama Kepala Keluarga
3. Pekerjaan
4. Pendapatan Bulanan (Rp.)
5. Konsumsi Bulanan (Beli)
6. Nama Tanaman
7. Sumber Benih
8. Luas Lahan
9. Produktivitas
10. Pola Tanam
11. Sistem Budidaya
12. Pengairan
13. Pupuk
14. Pestisida/Herbisida/Fungisida
15. Benih
16. Upah Buruh
17. Sewa Alat dan Mesin Pertanian
18. Sumber Limbah
19. Pengolahan

In [18]:
df_na['Desa/Kelurahan'].value_counts()

Desa/Kelurahan
Muruona         32
Lamatuka        30
Hoelea I        30
Ile Kimok       30
Benihading      30
Waienga         29
Watodiri        28
Nubamado        27
Lolong          26
Merdeka         25
Todanara        24
Dulitukan       24
Mahal           23
Laranwutun      23
Paubokol        23
Dikesare        22
Labalimut       22
Duawutun        21
Tubungwalang    21
Wuakerong       20
Puor            20
Pada            20
Riangbao        19
Bour            17
Kalikur         13
Katakeja        13
Balauring       12
Tagawiti        10
Tubuk Rajan      4
Name: count, dtype: int64

In [19]:
df['Desa/Kelurahan'] = df['Desa/Kelurahan'].str.replace(r'\bPADA\b', 'Pada', regex=True)

In [20]:
df_na.isna().sum()

ID                               0
Desa/Kelurahan                   0
Nama Kepala Keluarga             0
Pekerjaan                        0
Pendapatan Bulanan (Rp.)         0
Konsumsi Bulanan (Beli)          0
Nama Tanaman                     0
Sumber Benih                     0
Luas Lahan                       0
Produktivitas                    0
Pola Tanam                       0
Sistem Budidaya                  0
Pengairan                        0
Pupuk                            0
Pestisida/Herbisida/Fungisida    0
Benih                            0
Upah Buruh                       0
Sewa Alat dan Mesin Pertanian    0
Sumber Limbah                    0
Pengolahan                       0
dtype: int64

In [21]:
#df_cleaned = df.dropna()  # jangan overwrite df aslinya kalau masih mau dibandingkan
#df_cleaned['Desa/Kelurahan'].value_counts()  # jalankan ulang setelah dropna

In [22]:
df_na.info()

<class 'pandas.core.frame.DataFrame'>
Index: 638 entries, 1 to 880
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             638 non-null    int64
 1   Desa/Kelurahan                 638 non-null    object
 2   Nama Kepala Keluarga           638 non-null    object
 3   Pekerjaan                      638 non-null    object
 4   Pendapatan Bulanan (Rp.)       638 non-null    object
 5   Konsumsi Bulanan (Beli)        638 non-null    object
 6   Nama Tanaman                   638 non-null    object
 7   Sumber Benih                   638 non-null    object
 8   Luas Lahan                     638 non-null    object
 9   Produktivitas                  638 non-null    object
 10  Pola Tanam                     638 non-null    object
 11  Sistem Budidaya                638 non-null    object
 12  Pengairan                      638 non-null    object
 13  Pupuk                          638 non-null    object
 14  Pestisida/Herbisida/Fungisida  638 non-null    object
 15  Benih                          638 non-null    object
 16  Upah Buruh                     638 non-null    object
 17  Sewa Alat dan Mesin Pertanian  638 non-null    object
 18  Sumber Limbah                  638 non-null    object
 19  Pengolahan                     638 non-null    object
dtypes: int64(1), object(19)
memory usage: 104.7+ KB

In [23]:
df_na.to_csv("data_cleaned.csv", index=False)