In [361]:
import re
import numpy as np
import pandas as pd

In [362]:
df = pd.read_csv("data_cleaned.csv")

In [363]:
df

,ID,Desa/Kelurahan,Nama Kepala Keluarga,Pekerjaan,Pendapatan Bulanan (Rp.),Konsumsi Bulanan (Beli),Nama Tanaman,Sumber Benih,Luas Lahan,Produktivitas,...,Sistem Budidaya,Pengairan,Pupuk,Pestisida/Herbisida/Fungisida,Benih,Upah Buruh,Sewa Alat dan Mesin Pertanian,Sumber Limbah,Pengolahan,Luas Lahan Usaha m2
0,22190,Paubokol,Marianus Nurak,Petani atau Nelayan;,800000;,38420000.0,Jagung ; Ubi Kayu; Padi; Porang;,Tangkar Sendiri;,0.5; 0.5; 0.5; 0.5;,0.2; 0.2; 0.2; ;,...,Organik;,Tadah Hujan;,0;,600000;,0;,0;,0;,Rumah Tangga;,Tidak ada;,0;
1,22195,Paubokol,Viktor Gelak,Petani atau Nelayan;,100000;,5500000.0,Padi; Jagung ;,Tangkar Sendiri;,0.007; 0.007;,0.1; 0.1;,...,Organik;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak ada;,0;
2,22200,Paubokol,Yoseph Kujo,Petani atau Nelayan;,400000;,16102000.0,Padi; Jagung ; Ubi Kayu; Kacang Tanah;,Tangkar Sendiri;,0.5; ; ; ;,0.8; ; ; ;,...,Organik;,Tadah Hujan;,0;,1380000;,0;,0;,0;,Tidak ada;,Tidak ada;,0;
3,22205,Paubokol,Hendrikus Laran Ujan,Petani atau Nelayan;,600000;,30002000.0,Padi;,Tangkar Sendiri;,1;,0.8;,...,Organik;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak ada;,0;
4,22208,Paubokol,Anselmus Sikong Ujan,Petani atau Nelayan;,500000;,49282000.0,Padi; Jagung ; Kacang Tanah; Ubi Jalar;,Tangkar Sendiri;,1; ; ; ;,1; ; ; ;,...,Semi Organik;,Tadah Hujan;,750000;,500000;,0;,0;,0;,Tidak ada;,Tidak ada;,0;
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624,24802,Dikesare,Matias Suban,Petani atau Nelayan;,500000;,2084000.0,Padi; Jagung;,Tangkar Sendiri;,0.25; ;,0.75; ;,...,Organik;,Tadah Hujan;,;,;,;,;,;,Rumah Tangga;,Diolah;,56;
625,24803,Mahal,Christoforus Hobamatan,lainnya;,1000000;,1418000.0,Jagung;,Tangkar Sendiri;,1;,0.45;,...,Kimia;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;,0;
626,24866,Todanara,Longginus Lango,Petani atau Nelayan;,500000;,3201000.0,Padi; Jagung ; Ubi Kayu;,Bantuan Pemerintah;,0.5; 0.5; 0.5; 0.5;,0.04; 0.04; 0.04; 0.04;,...,Organik; Tidak ada;,Tadah Hujan;,0;,50000;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;,0;
627,24887,Labalimut,Petrus Asan,lainnya;,4000000;,1343000.0,Jagung Lokal; Ubi Kayu; Padi;,Tangkar Sendiri; Tidak ada;,0.50; 0.50; 0.50;,0.6; ; 0.5;,...,Organik;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;,0;
628,24957,Todanara,Hendrikus Kewaman,Petani atau Nelayan;,200000;,307000.0,Padi; Jagung ;,Tangkar Sendiri;,1; 1; 1;,0.5; 0.5; 0.5;,...,Organik;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;,0;

In [184]:
# DATA CLEANING

df.rename(columns={"Produktivitas": "Produksi"}, inplace=True)

In [185]:
df.head()

,ID,Desa/Kelurahan,Nama Kepala Keluarga,Pekerjaan,Pendapatan Bulanan (Rp.),Konsumsi Bulanan (Beli),Nama Tanaman,Sumber Benih,Luas Lahan,Produksi,...,Sistem Budidaya,Pengairan,Pupuk,Pestisida/Herbisida/Fungisida,Benih,Upah Buruh,Sewa Alat dan Mesin Pertanian,Sumber Limbah,Pengolahan,Luas Lahan Usaha m2
0,22190,Paubokol,Marianus Nurak,Petani atau Nelayan;,800000;,38420000.0,Jagung ; Ubi Kayu; Padi; Porang;,Tangkar Sendiri;,0.5; 0.5; 0.5; 0.5;,0.2; 0.2; 0.2; ;,...,Organik;,Tadah Hujan;,0;,600000;,0;,0;,0;,Rumah Tangga;,Tidak ada;,0;
1,22195,Paubokol,Viktor Gelak,Petani atau Nelayan;,100000;,5500000.0,Padi; Jagung ;,Tangkar Sendiri;,0.007; 0.007;,0.1; 0.1;,...,Organik;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak ada;,0;
2,22200,Paubokol,Yoseph Kujo,Petani atau Nelayan;,400000;,16102000.0,Padi; Jagung ; Ubi Kayu; Kacang Tanah;,Tangkar Sendiri;,0.5; ; ; ;,0.8; ; ; ;,...,Organik;,Tadah Hujan;,0;,1380000;,0;,0;,0;,Tidak ada;,Tidak ada;,0;
3,22205,Paubokol,Hendrikus Laran Ujan,Petani atau Nelayan;,600000;,30002000.0,Padi;,Tangkar Sendiri;,1;,0.8;,...,Organik;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak ada;,0;
4,22208,Paubokol,Anselmus Sikong Ujan,Petani atau Nelayan;,500000;,49282000.0,Padi; Jagung ; Kacang Tanah; Ubi Jalar;,Tangkar Sendiri;,1; ; ; ;,1; ; ; ;,...,Semi Organik;,Tadah Hujan;,750000;,500000;,0;,0;,0;,Tidak ada;,Tidak ada;,0;

In [186]:
df['Pekerjaan'].value_counts()

Pekerjaan
Petani atau Nelayan;               411
Wiraswasta;                         55
lainnya;                            53
PNS;                                36
Karyawan Swasta;                    26
Buruh Tani;                         25
Tidak ada;                          20
Wiraswasta; lainnya; Tidak ada;      1
lainnya; Petani atau Nelayan;        1
Petani atau Nelayan; lainnya;        1
Name: count, dtype: int64

In [187]:
for i, col in enumerate(df.columns):
    print(f"{i}. {col}")

0. ID
1. Desa/Kelurahan
2. Nama Kepala Keluarga
3. Pekerjaan
4. Pendapatan Bulanan (Rp.)
5. Konsumsi Bulanan (Beli)
6. Nama Tanaman
7. Sumber Benih
8. Luas Lahan
9. Produksi
10. Pola Tanam
11. Sistem Budidaya
12. Pengairan
13. Pupuk
14. Pestisida/Herbisida/Fungisida
15. Benih
16. Upah Buruh
17. Sewa Alat dan Mesin Pertanian
18. Sumber Limbah
19. Pengolahan
20. Luas Lahan Usaha m2

# Pilar 1

### I.1.1.1 Rasio Gini Tanah

In [188]:
df

,ID,Desa/Kelurahan,Nama Kepala Keluarga,Pekerjaan,Pendapatan Bulanan (Rp.),Konsumsi Bulanan (Beli),Nama Tanaman,Sumber Benih,Luas Lahan,Produksi,...,Sistem Budidaya,Pengairan,Pupuk,Pestisida/Herbisida/Fungisida,Benih,Upah Buruh,Sewa Alat dan Mesin Pertanian,Sumber Limbah,Pengolahan,Luas Lahan Usaha m2
0,22190,Paubokol,Marianus Nurak,Petani atau Nelayan;,800000;,38420000.0,Jagung ; Ubi Kayu; Padi; Porang;,Tangkar Sendiri;,0.5; 0.5; 0.5; 0.5;,0.2; 0.2; 0.2; ;,...,Organik;,Tadah Hujan;,0;,600000;,0;,0;,0;,Rumah Tangga;,Tidak ada;,0;
1,22195,Paubokol,Viktor Gelak,Petani atau Nelayan;,100000;,5500000.0,Padi; Jagung ;,Tangkar Sendiri;,0.007; 0.007;,0.1; 0.1;,...,Organik;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak ada;,0;
2,22200,Paubokol,Yoseph Kujo,Petani atau Nelayan;,400000;,16102000.0,Padi; Jagung ; Ubi Kayu; Kacang Tanah;,Tangkar Sendiri;,0.5; ; ; ;,0.8; ; ; ;,...,Organik;,Tadah Hujan;,0;,1380000;,0;,0;,0;,Tidak ada;,Tidak ada;,0;
3,22205,Paubokol,Hendrikus Laran Ujan,Petani atau Nelayan;,600000;,30002000.0,Padi;,Tangkar Sendiri;,1;,0.8;,...,Organik;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak ada;,0;
4,22208,Paubokol,Anselmus Sikong Ujan,Petani atau Nelayan;,500000;,49282000.0,Padi; Jagung ; Kacang Tanah; Ubi Jalar;,Tangkar Sendiri;,1; ; ; ;,1; ; ; ;,...,Semi Organik;,Tadah Hujan;,750000;,500000;,0;,0;,0;,Tidak ada;,Tidak ada;,0;
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624,24802,Dikesare,Matias Suban,Petani atau Nelayan;,500000;,2084000.0,Padi; Jagung;,Tangkar Sendiri;,0.25; ;,0.75; ;,...,Organik;,Tadah Hujan;,;,;,;,;,;,Rumah Tangga;,Diolah;,56;
625,24803,Mahal,Christoforus Hobamatan,lainnya;,1000000;,1418000.0,Jagung;,Tangkar Sendiri;,1;,0.45;,...,Kimia;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;,0;
626,24866,Todanara,Longginus Lango,Petani atau Nelayan;,500000;,3201000.0,Padi; Jagung ; Ubi Kayu;,Bantuan Pemerintah;,0.5; 0.5; 0.5; 0.5;,0.04; 0.04; 0.04; 0.04;,...,Organik; Tidak ada;,Tadah Hujan;,0;,50000;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;,0;
627,24887,Labalimut,Petrus Asan,lainnya;,4000000;,1343000.0,Jagung Lokal; Ubi Kayu; Padi;,Tangkar Sendiri; Tidak ada;,0.50; 0.50; 0.50;,0.6; ; 0.5;,...,Organik;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;,0;
628,24957,Todanara,Hendrikus Kewaman,Petani atau Nelayan;,200000;,307000.0,Padi; Jagung ;,Tangkar Sendiri;,1; 1; 1;,0.5; 0.5; 0.5;,...,Organik;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;,0;

In [189]:
df.isna().sum()

ID                               0
Desa/Kelurahan                   0
Nama Kepala Keluarga             0
Pekerjaan                        0
Pendapatan Bulanan (Rp.)         0
Konsumsi Bulanan (Beli)          0
Nama Tanaman                     0
Sumber Benih                     0
Luas Lahan                       0
Produksi                         0
Pola Tanam                       0
Sistem Budidaya                  0
Pengairan                        0
Pupuk                            0
Pestisida/Herbisida/Fungisida    0
Benih                            0
Upah Buruh                       0
Sewa Alat dan Mesin Pertanian    0
Sumber Limbah                    0
Pengolahan                       0
Luas Lahan Usaha m2              0
dtype: int64

In [190]:
df = df.dropna()

In [191]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 629 entries, 0 to 628
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             629 non-null    int64
 1   Desa/Kelurahan                 629 non-null    object
 2   Nama Kepala Keluarga           629 non-null    object
 3   Pekerjaan                      629 non-null    object
 4   Pendapatan Bulanan (Rp.)       629 non-null    object
 5   Konsumsi Bulanan (Beli)        629 non-null    float64
 6   Nama Tanaman                   629 non-null    object
 7   Sumber Benih                   629 non-null    object
 8   Luas Lahan                     629 non-null    object
 9   Produksi                       629 non-null    object
 10  Pola Tanam                     629 non-null    object
 11  Sistem Budidaya                629 non-null    object
 12  Pengairan                      629 non-null    object
 13  Pupuk                          629 non-null    object
 14  Pestisida/Herbisida/Fungisida  629 non-null    object
 15  Benih                          629 non-null    object
 16  Upah Buruh                     629 non-null    object
 17  Sewa Alat dan Mesin Pertanian  629 non-null    object
 18  Sumber Limbah                  629 non-null    object
 19  Pengolahan                     629 non-null    object
 20  Luas Lahan Usaha m2            629 non-null    object
dtypes: float64(1), int64(1), object(19)
memory usage: 103.3+ KB

In [192]:
df['Desa/Kelurahan'].value_counts()

Desa/Kelurahan
Muruona         31
Lamatuka        30
Ile Kimok       30
Benihading      30
Hoelea I        30
Waienga         29
Watodiri        28
Nubamado        27
Lolong          26
Merdeka         25
Todanara        24
Paubokol        23
Dulitukan       23
Mahal           23
Labalimut       22
Laranwutun      22
Duawutun        21
Tubungwalang    21
Wuakerong       20
Pada            20
Puor            19
Dikesare        19
Riangbao        19
Bour            17
Kalikur         13
Katakeja        13
Balauring       12
Tagawiti        10
Tubuk Rajan      2
Name: count, dtype: int64

In [193]:
import numpy as np
import pandas as pd
import re

_num_pattern = re.compile(r'^\s*[+-]?\d+(?:[.,]\d+)?\s*$')  # dukung koma/titik desimal

def sum_semicolon_numbers(cell):
    # NaN -> NaN
    if pd.isna(cell):
        return np.nan

    s = str(cell).strip()
    if s == '':
        return np.nan  # sel benar-benar kosong

    # Normalisasi delimiter & desimal
    s = s.replace('；', ';')           # fullwidth semicolon -> normal
    parts = [p.strip() for p in s.split(';')]

    total = 0.0
    found_number = False
    for p in parts:
        if p == '':         # kosong di antara ; -> 0 (skip saja)
            continue
        p2 = p.replace(',', '.')  # dukung "0,5"
        if _num_pattern.match(p2):
            total += float(p2)
            found_number = True
        else:
            # token tidak numerik -> abaikan (anggap 0)
            # kalau mau anggap invalid -> set found_number=False dan break lalu return np.nan
            pass

    return total if found_number else np.nan

In [194]:
df['Luas Lahan Keseluruhan'] = df['Luas Lahan'].apply(sum_semicolon_numbers)
df['Produksi Keseluruhan']   = df['Produksi'].apply(sum_semicolon_numbers)

In [195]:
# Hapus baris dengan Luas Lahan Keseluruhan = 0
df = df[df['Luas Lahan Keseluruhan'] != 0]

In [196]:
df

,ID,Desa/Kelurahan,Nama Kepala Keluarga,Pekerjaan,Pendapatan Bulanan (Rp.),Konsumsi Bulanan (Beli),Nama Tanaman,Sumber Benih,Luas Lahan,Produksi,...,Pupuk,Pestisida/Herbisida/Fungisida,Benih,Upah Buruh,Sewa Alat dan Mesin Pertanian,Sumber Limbah,Pengolahan,Luas Lahan Usaha m2,Luas Lahan Keseluruhan,Produksi Keseluruhan
0,22190,Paubokol,Marianus Nurak,Petani atau Nelayan;,800000;,38420000.0,Jagung ; Ubi Kayu; Padi; Porang;,Tangkar Sendiri;,0.5; 0.5; 0.5; 0.5;,0.2; 0.2; 0.2; ;,...,0;,600000;,0;,0;,0;,Rumah Tangga;,Tidak ada;,0;,2.000,0.60
1,22195,Paubokol,Viktor Gelak,Petani atau Nelayan;,100000;,5500000.0,Padi; Jagung ;,Tangkar Sendiri;,0.007; 0.007;,0.1; 0.1;,...,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak ada;,0;,0.014,0.20
2,22200,Paubokol,Yoseph Kujo,Petani atau Nelayan;,400000;,16102000.0,Padi; Jagung ; Ubi Kayu; Kacang Tanah;,Tangkar Sendiri;,0.5; ; ; ;,0.8; ; ; ;,...,0;,1380000;,0;,0;,0;,Tidak ada;,Tidak ada;,0;,0.500,0.80
3,22205,Paubokol,Hendrikus Laran Ujan,Petani atau Nelayan;,600000;,30002000.0,Padi;,Tangkar Sendiri;,1;,0.8;,...,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak ada;,0;,1.000,0.80
4,22208,Paubokol,Anselmus Sikong Ujan,Petani atau Nelayan;,500000;,49282000.0,Padi; Jagung ; Kacang Tanah; Ubi Jalar;,Tangkar Sendiri;,1; ; ; ;,1; ; ; ;,...,750000;,500000;,0;,0;,0;,Tidak ada;,Tidak ada;,0;,1.000,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624,24802,Dikesare,Matias Suban,Petani atau Nelayan;,500000;,2084000.0,Padi; Jagung;,Tangkar Sendiri;,0.25; ;,0.75; ;,...,;,;,;,;,;,Rumah Tangga;,Diolah;,56;,0.250,0.75
625,24803,Mahal,Christoforus Hobamatan,lainnya;,1000000;,1418000.0,Jagung;,Tangkar Sendiri;,1;,0.45;,...,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;,0;,1.000,0.45
626,24866,Todanara,Longginus Lango,Petani atau Nelayan;,500000;,3201000.0,Padi; Jagung ; Ubi Kayu;,Bantuan Pemerintah;,0.5; 0.5; 0.5; 0.5;,0.04; 0.04; 0.04; 0.04;,...,0;,50000;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;,0;,2.000,0.16
627,24887,Labalimut,Petrus Asan,lainnya;,4000000;,1343000.0,Jagung Lokal; Ubi Kayu; Padi;,Tangkar Sendiri; Tidak ada;,0.50; 0.50; 0.50;,0.6; ; 0.5;,...,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;,0;,1.500,1.10
628,24957,Todanara,Hendrikus Kewaman,Petani atau Nelayan;,200000;,307000.0,Padi; Jagung ;,Tangkar Sendiri;,1; 1; 1;,0.5; 0.5; 0.5;,...,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;,0;,3.000,1.50

In [197]:
df_luaslahan = pd.concat(
    [df[['Luas Lahan Keseluruhan', 'Luas Lahan Usaha m2']]],
    axis=1
)

df_luaslahan['Luas Lahan Usaha m2']   = df_luaslahan['Luas Lahan Usaha m2'].apply(sum_semicolon_numbers)
df_luaslahan['Luas Lahan Usaha m2']   = df_luaslahan['Luas Lahan Usaha m2']/10000

In [198]:
df_luaslahan['selisih'] = df_luaslahan['Luas Lahan Keseluruhan'] - df_luaslahan['Luas Lahan Usaha m2']

In [199]:
df_luaslahan

     Luas Lahan Keseluruhan  Luas Lahan Usaha m2  selisih
0                     2.000               0.0000   2.0000
1                     0.014               0.0000   0.0140
2                     0.500               0.0000   0.5000
3                     1.000               0.0000   1.0000
4                     1.000               0.0000   1.0000
..                      ...                  ...      ...
624                   0.250               0.0056   0.2444
625                   1.000               0.0000   1.0000
626                   2.000               0.0000   2.0000
627                   1.500               0.0000   1.5000
628                   3.000               0.0000   3.0000

[597 rows x 3 columns]

In [200]:
df_luaslahan.describe().T

,count,mean,std,min,25%,50%,75%,max
Luas Lahan Keseluruhan,577.0,26.522737,186.386322,0.0002,0.250,0.75,1.5000,2700.00
Luas Lahan Usaha m2,518.0,9.888624,219.677925,0.0000,0.000,0.00,0.0975,5000.00
selisih,501.0,18.215358,299.180781,-4999.0000,0.061,0.50,1.0470,2699.91

In [201]:
def gini(array):
    array = np.array(array, dtype=np.float64)
    if np.amin(array) < 0:
        array -= np.amin(array)
    array += 1e-9  # untuk menghindari pembagian nol
    array = np.sort(array)
    n = len(array)
    index = np.arange(1, n + 1)
    return ((np.sum((2 * index - n - 1) * array)) / (n * np.sum(array)))

In [202]:
# Hitung rasio gini untuk tiap desa
rasio_gini = (
    df.groupby('Desa/Kelurahan')['Luas Lahan Keseluruhan']
    .apply(lambda x: gini(x.dropna()))
    .reset_index(name='Rasio Gini')
)

In [203]:
# Fungsi scoring berdasarkan aturan di gambar
def skor_gini(g):
    if g > 0.5:
        return 0
    elif g > 0.4:
        return 1
    else:
        return 4

rasio_gini['Skor'] = rasio_gini['Rasio Gini'].apply(skor_gini)

In [204]:
rasio_gini

   Desa/Kelurahan  Rasio Gini  Skor
0       Balauring    0.893166     0
1      Benihading    0.490692     1
2            Bour    0.471804     1
3        Dikesare    0.617889     0
4        Duawutun    0.397484     4
5       Dulitukan    0.381625     4
6        Hoelea I    0.487741     1
7       Ile Kimok    0.927658     0
8         Kalikur    0.915216     0
9        Katakeja    0.433594     1
10      Labalimut    0.796059     0
11       Lamatuka    0.913617     0
12     Laranwutun    0.945821     0
13         Lolong    0.556197     0
14          Mahal    0.809068     0
15        Merdeka    0.462708     1
16        Muruona    0.347197     4
17       Nubamado    0.454787     1
18           Pada    0.765121     0
19       Paubokol    0.900963     0
20           Puor    0.404439     1
21       Riangbao    0.522853     0
22       Tagawiti    0.292944     4
23       Todanara    0.493974     1
24    Tubuk Rajan    0.035714     4
25   Tubungwalang    0.918087     0
26        Waienga    0.952735     0
27       Watodiri    0.384016     4
28      Wuakerong    0.496106     1

In [205]:
IKP = rasio_gini[['Desa/Kelurahan']].copy()
IKP = IKP.merge(
    rasio_gini[['Desa/Kelurahan','Skor']].rename(columns={'Skor':'I.1.1.1'}),
    on='Desa/Kelurahan', how='left'
)

In [206]:
IKP

   Desa/Kelurahan  I.1.1.1
0       Balauring        0
1      Benihading        1
2            Bour        1
3        Dikesare        0
4        Duawutun        4
5       Dulitukan        4
6        Hoelea I        1
7       Ile Kimok        0
8         Kalikur        0
9        Katakeja        1
10      Labalimut        0
11       Lamatuka        0
12     Laranwutun        0
13         Lolong        0
14          Mahal        0
15        Merdeka        1
16        Muruona        4
17       Nubamado        1
18           Pada        0
19       Paubokol        0
20           Puor        1
21       Riangbao        0
22       Tagawiti        4
23       Todanara        1
24    Tubuk Rajan        4
25   Tubungwalang        0
26        Waienga        0
27       Watodiri        4
28      Wuakerong        1

### I.2.1.1 Luas Tanah yang Dikuasai

In [207]:
# Hapus baris dengan produktivitas_clean = 0
df = df[df['Produksi Keseluruhan'] != 0]

In [208]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,577.0,NaN,NaN,NaN,23218.436742,675.18491,22190.0,22704.0,23175.0,23574.0,24957.0
Desa/Kelurahan,577,29,Muruona,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nama Kepala Keluarga,577,574,Stanislaus Kopong,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pekerjaan,577,9,Petani atau Nelayan;,388,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pendapatan Bulanan (Rp.),577,108,500000;,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Konsumsi Bulanan (Beli),577.0,NaN,NaN,NaN,136282058019.024261,3233849457539.904785,120000.0,1336000.0,2524000.0,8578000.0,77678416193000.0
Nama Tanaman,577,115,Jagung;,148,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sumber Benih,577,17,Tangkar Sendiri;,405,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan,577,236,1;,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Produksi,577,344,1;,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pola Tanam,577,10,1 kali setahun;,498,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sistem Budidaya,577,12,Organik;,318,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengairan,577,11,Tadah Hujan;,451,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pupuk,577,48,0;,345,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pestisida/Herbisida/Fungisida,577,71,0;,265,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Benih,577,30,0;,396,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Upah Buruh,577,30,0;,377,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sewa Alat dan Mesin Pertanian,577,23,0;,394,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sumber Limbah,577,11,Rumah Tangga;,343,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengolahan,577,6,Tidak Diolah;,307,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan Usaha m2,577,95,0;,254,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan Keseluruhan,557.0,NaN,NaN,NaN,27.444643,189.644161,0.0002,0.25,0.75,1.5,2700.0
Produksi Keseluruhan,539.0,NaN,NaN,NaN,15.653681,92.405328,0.001,0.11,0.4,1.0,1050.0

In [209]:
df['Desa/Kelurahan'].value_counts()

Desa/Kelurahan
Muruona         31
Benihading      30
Ile Kimok       29
Watodiri        28
Hoelea I        28
Nubamado        27
Lamatuka        26
Merdeka         25
Waienga         23
Todanara        23
Mahal           23
Lolong          23
Laranwutun      22
Dulitukan       22
Paubokol        20
Tubungwalang    20
Labalimut       20
Puor            19
Dikesare        18
Bour            17
Riangbao        16
Wuakerong       15
Kalikur         13
Katakeja        13
Pada            12
Balauring       12
Duawutun        10
Tagawiti        10
Tubuk Rajan      2
Name: count, dtype: int64

In [210]:
df.isna().sum()

ID                                0
Desa/Kelurahan                    0
Nama Kepala Keluarga              0
Pekerjaan                         0
Pendapatan Bulanan (Rp.)          0
Konsumsi Bulanan (Beli)           0
Nama Tanaman                      0
Sumber Benih                      0
Luas Lahan                        0
Produksi                          0
Pola Tanam                        0
Sistem Budidaya                   0
Pengairan                         0
Pupuk                             0
Pestisida/Herbisida/Fungisida     0
Benih                             0
Upah Buruh                        0
Sewa Alat dan Mesin Pertanian     0
Sumber Limbah                     0
Pengolahan                        0
Luas Lahan Usaha m2               0
Luas Lahan Keseluruhan           20
Produksi Keseluruhan             38
dtype: int64

In [211]:
# PERHITUNGAN IKP

df['Penghasilan Kotor'] = df['Produksi Keseluruhan'] * 12600 * 1000    # 12.600 per kg, dengan 1 ton = 1.000kg

C:\Users\halid\AppData\Local\Temp\ipykernel_10448\1570666316.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Penghasilan Kotor'] = df['Produksi Keseluruhan'] * 12600 * 1000    # 12.600 per kg, dengan 1 ton = 1.000kg

In [212]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,577.0,NaN,NaN,NaN,23218.436742,675.18491,22190.0,22704.0,23175.0,23574.0,24957.0
Desa/Kelurahan,577,29,Muruona,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nama Kepala Keluarga,577,574,Stanislaus Kopong,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pekerjaan,577,9,Petani atau Nelayan;,388,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pendapatan Bulanan (Rp.),577,108,500000;,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Konsumsi Bulanan (Beli),577.0,NaN,NaN,NaN,136282058019.024261,3233849457539.904785,120000.0,1336000.0,2524000.0,8578000.0,77678416193000.0
Nama Tanaman,577,115,Jagung;,148,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sumber Benih,577,17,Tangkar Sendiri;,405,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan,577,236,1;,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Produksi,577,344,1;,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pola Tanam,577,10,1 kali setahun;,498,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sistem Budidaya,577,12,Organik;,318,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengairan,577,11,Tadah Hujan;,451,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pupuk,577,48,0;,345,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pestisida/Herbisida/Fungisida,577,71,0;,265,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Benih,577,30,0;,396,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Upah Buruh,577,30,0;,377,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sewa Alat dan Mesin Pertanian,577,23,0;,394,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sumber Limbah,577,11,Rumah Tangga;,343,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengolahan,577,6,Tidak Diolah;,307,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan Usaha m2,577,95,0;,254,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan Keseluruhan,557.0,NaN,NaN,NaN,27.444643,189.644161,0.0002,0.25,0.75,1.5,2700.0
Produksi Keseluruhan,539.0,NaN,NaN,NaN,15.653681,92.405328,0.001,0.11,0.4,1.0,1050.0
Penghasilan Kotor,539.0,NaN,NaN,NaN,197236386.215065,1164307127.533083,12600.0,1386000.0,5040000.0,12600000.0,13230000000.0

In [213]:
# PERHITUNGAN IKP

def sum_semicolon_numbers(cell):
    if pd.isna(cell):
        return 0.0  # kosong dianggap 0
    parts = str(cell).split(';')
    total = 0.0
    for p in parts:
        p = p.strip()
        if p == '':
            continue
        try:
            total += float(p.replace(',', '.'))
        except:
            pass
    return total

# Kolom-kolom biaya
cols_biaya = [
    'Pupuk',
    'Pestisida/Herbisida/Fungisida',
    'Benih',
    'Upah Buruh',
    'Sewa Alat dan Mesin Pertanian'
]

# Konversi semua kolom biaya ke total float
for col in cols_biaya:
    df[col] = df[col].apply(sum_semicolon_numbers)

# Hitung Ongkos Produksi
df['Ongkos Produksi'] = df[cols_biaya].sum(axis=1)

C:\Users\halid\AppData\Local\Temp\ipykernel_10448\4233215356.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(sum_semicolon_numbers)
C:\Users\halid\AppData\Local\Temp\ipykernel_10448\4233215356.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Ongkos Produksi'] = df[cols_biaya].sum(axis=1)

In [214]:
df

,ID,Desa/Kelurahan,Nama Kepala Keluarga,Pekerjaan,Pendapatan Bulanan (Rp.),Konsumsi Bulanan (Beli),Nama Tanaman,Sumber Benih,Luas Lahan,Produksi,...,Benih,Upah Buruh,Sewa Alat dan Mesin Pertanian,Sumber Limbah,Pengolahan,Luas Lahan Usaha m2,Luas Lahan Keseluruhan,Produksi Keseluruhan,Penghasilan Kotor,Ongkos Produksi
0,22190,Paubokol,Marianus Nurak,Petani atau Nelayan;,800000;,38420000.0,Jagung ; Ubi Kayu; Padi; Porang;,Tangkar Sendiri;,0.5; 0.5; 0.5; 0.5;,0.2; 0.2; 0.2; ;,...,0.0,0.0,0.0,Rumah Tangga;,Tidak ada;,0;,2.000,0.60,7560000.0,600000.0
1,22195,Paubokol,Viktor Gelak,Petani atau Nelayan;,100000;,5500000.0,Padi; Jagung ;,Tangkar Sendiri;,0.007; 0.007;,0.1; 0.1;,...,0.0,0.0,0.0,Rumah Tangga;,Tidak ada;,0;,0.014,0.20,2520000.0,0.0
2,22200,Paubokol,Yoseph Kujo,Petani atau Nelayan;,400000;,16102000.0,Padi; Jagung ; Ubi Kayu; Kacang Tanah;,Tangkar Sendiri;,0.5; ; ; ;,0.8; ; ; ;,...,0.0,0.0,0.0,Tidak ada;,Tidak ada;,0;,0.500,0.80,10080000.0,1380000.0
3,22205,Paubokol,Hendrikus Laran Ujan,Petani atau Nelayan;,600000;,30002000.0,Padi;,Tangkar Sendiri;,1;,0.8;,...,0.0,0.0,0.0,Rumah Tangga;,Tidak ada;,0;,1.000,0.80,10080000.0,0.0
4,22208,Paubokol,Anselmus Sikong Ujan,Petani atau Nelayan;,500000;,49282000.0,Padi; Jagung ; Kacang Tanah; Ubi Jalar;,Tangkar Sendiri;,1; ; ; ;,1; ; ; ;,...,0.0,0.0,0.0,Tidak ada;,Tidak ada;,0;,1.000,1.00,12600000.0,1250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624,24802,Dikesare,Matias Suban,Petani atau Nelayan;,500000;,2084000.0,Padi; Jagung;,Tangkar Sendiri;,0.25; ;,0.75; ;,...,0.0,0.0,0.0,Rumah Tangga;,Diolah;,56;,0.250,0.75,9450000.0,0.0
625,24803,Mahal,Christoforus Hobamatan,lainnya;,1000000;,1418000.0,Jagung;,Tangkar Sendiri;,1;,0.45;,...,0.0,0.0,0.0,Rumah Tangga;,Tidak Diolah;,0;,1.000,0.45,5670000.0,0.0
626,24866,Todanara,Longginus Lango,Petani atau Nelayan;,500000;,3201000.0,Padi; Jagung ; Ubi Kayu;,Bantuan Pemerintah;,0.5; 0.5; 0.5; 0.5;,0.04; 0.04; 0.04; 0.04;,...,0.0,0.0,0.0,Rumah Tangga;,Tidak Diolah;,0;,2.000,0.16,2016000.0,50000.0
627,24887,Labalimut,Petrus Asan,lainnya;,4000000;,1343000.0,Jagung Lokal; Ubi Kayu; Padi;,Tangkar Sendiri; Tidak ada;,0.50; 0.50; 0.50;,0.6; ; 0.5;,...,0.0,0.0,0.0,Rumah Tangga;,Tidak Diolah;,0;,1.500,1.10,13860000.0,0.0
628,24957,Todanara,Hendrikus Kewaman,Petani atau Nelayan;,200000;,307000.0,Padi; Jagung ;,Tangkar Sendiri;,1; 1; 1;,0.5; 0.5; 0.5;,...,0.0,0.0,0.0,Rumah Tangga;,Tidak Diolah;,0;,3.000,1.50,18900000.0,0.0

In [215]:
df['Penghasilan Bersih'] = df['Penghasilan Kotor'] - df['Ongkos Produksi']

C:\Users\halid\AppData\Local\Temp\ipykernel_10448\1456873298.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Penghasilan Bersih'] = df['Penghasilan Kotor'] - df['Ongkos Produksi']

In [216]:
minus = df[df['Penghasilan Bersih'] < 0]

In [217]:
minus

,ID,Desa/Kelurahan,Nama Kepala Keluarga,Pekerjaan,Pendapatan Bulanan (Rp.),Konsumsi Bulanan (Beli),Nama Tanaman,Sumber Benih,Luas Lahan,Produksi,...,Upah Buruh,Sewa Alat dan Mesin Pertanian,Sumber Limbah,Pengolahan,Luas Lahan Usaha m2,Luas Lahan Keseluruhan,Produksi Keseluruhan,Penghasilan Kotor,Ongkos Produksi,Penghasilan Bersih
35,22349,Nubamado,Simon Sedu Carvalo,Petani atau Nelayan;,500000;,17077000.0,Jagung; Ubi Kayu; Padi ;,Tangkar Sendiri;,0.0625; 0.0625; 0.0625;,; ; 0.002;,...,0.0,0.0,Rumah Tangga;,Tidak Diolah;,0.0625;,0.1875,0.0020,25200.0,80000.0,-54800.0
129,22580,Tubungwalang,Aloysius Arin,Petani atau Nelayan;,100000;,11373000.0,Jagung;,Tangkar Sendiri;,625;,0.025;,...,0.0,0.0,Rumah Tangga;,Tidak ada;,;,625.0000,0.0250,315000.0,405000.0,-90000.0
145,22651,Tubungwalang,Nikolaus Leu,Petani atau Nelayan;,450000;,12157000.0,Padi ;,Tangkar Sendiri;,0.21;,0.0011;,...,0.0,0.0,Rumah Tangga;,Tidak Diolah;,;,0.2100,0.0011,13860.0,50000.0,-36140.0
171,22703,Muruona,Agnes Tuto,Petani atau Nelayan;,200000;,6073000.0,Jagung; Ubi Kayu;,Tangkar Sendiri; Tidak ada;,0.25; 0.025;,0.02; 0.02;,...,0.0,0.0,Rumah Tangga;,Tidak Diolah;,0;,0.2750,0.0400,504000.0,540000.0,-36000.0
193,22734,Muruona,Hilarius Kelewasa,Petani atau Nelayan;,500000;,18256000.0,Jagung; Ubi Kayu;,Bantuan Pemerintah; Tidak ada;,1.2; 1.2;,0.06; 0.1;,...,0.0,0.0,Rumah Tangga;,Tidak Diolah;,20.1;,2.4000,0.1600,2016000.0,3240000.0,-1224000.0
235,22815,Nubamado,Elisabet Tasekeb,Petani atau Nelayan;,;,388650010.0,Jagung;,Tidak ada;,0.075;,0.015;,...,0.0,0.0,Rumah Tangga;,Tidak Diolah;,0.075;,0.0750,0.0150,189000.0,300000.0,-111000.0
244,22830,Kalikur,Muhammad Dauda Ile,PNS;,3500000;,3127000.0,Jagung Lokal;,Tidak ada;,1;,0.03;,...,0.0,40000.0,Pertanian dan Perkebunan;,Tidak Diolah;,0;,1.0000,0.0300,378000.0,460000.0,-82000.0
248,22834,Bour,Thomas Reto Wulo,Petani atau Nelayan;,500000;,3800000.0,Ubi Kayu;,Tangkar Sendiri;,0.5;,0.05;,...,150000.0,400000.0,Pertanian dan Perkebunan;,Diolah;,20.000;,0.5000,0.0500,630000.0,1215000.0,-585000.0
284,22911,Mahal,Paulus Leu,Petani atau Nelayan;,300000;,1958000.0,Jagung;,Tangkar Sendiri;,0.525;,0.03;,...,300000.0,0.0,Rumah Tangga;,Tidak Diolah;,0;,0.5250,0.0300,378000.0,530000.0,-152000.0
297,23048,Mahal,Yoseph Lake,Petani atau Nelayan;,300000;,1127000.0,Jagung;,Tangkar Sendiri;,0.25;,0.03;,...,80000.0,0.0,Rumah Tangga;,Tidak Diolah;,0;,0.2500,0.0300,378000.0,390000.0,-12000.0
326,23181,Muruona,Gregorius Nikolaus Sita,lainnya;,300000;,26796000.0,Jagung;,Tangkar Sendiri;,1;,0.02;,...,0.0,0.0,Rumah Tangga;,Tidak Diolah;,0;,1.0000,0.0200,252000.0,2160000.0,-1908000.0
341,23218,Todanara,Iskandar Geroda,Wiraswasta;,3000000;,2237000.0,Jagung;,Beli;,1;,0.001;,...,0.0,0.0,Pertanian dan Perkebunan;,Tidak Diolah;,0;,1.0000,0.0010,12600.0,140000.0,-127400.0
378,23285,Laranwutun,Paulus Mosa,Petani atau Nelayan;,1000000;,4105000.0,Jagung;,Bantuan Pemerintah;,2;,0.1;,...,1750000.0,0.0,Rumah Tangga; Pertanian dan Perkebunan; Petern...,Tidak Diolah;,1000;,2.0000,0.1000,1260000.0,1990000.0,-730000.0
385,23299,Mahal,Muhidin Leu,Petani atau Nelayan;,100000;,669000.0,Jagung ;,Tangkar Sendiri;,;,0.005;,...,0.0,0.0,Rumah Tangga;,Tidak Diolah;,0;,NaN,0.0050,63000.0,230000.0,-167000.0
439,23443,Waienga,Vinsensius Laba,Karyawan Swasta;,2000000;,3572500.0,Jagung;,Tangkar Sendiri;,0.375;,0.05;,...,0.0,0.0,Pertanian dan Perkebunan;,Diolah;,3750;,0.3750,0.0500,630000.0,720000.0,-90000.0
474,23574,Muruona,Atanasius Seresan,Petani atau Nelayan;,500000;,25977000.0,Jagung;,Bantuan Pemerintah;,0.5;,0.02;,...,0.0,0.0,Rumah Tangga;,Tidak Diolah;,1500;,0.5000,0.0200,252000.0,405000.0,-153000.0
518,23896,Todanara,Vinsensius Mada,Petani atau Nelayan;,1000000;,1893000.0,Jagung;,Tangkar Sendiri;,0.25;,0.001;,...,0.0,0.0,Pertanian dan Perkebunan;,Tidak Diolah;,2500;,0.2500,0.0010,12600.0,25000.0,-12400.0
521,23903,Todanara,Ignasius Ola Kewatun Laba Making,Petani atau Nelayan;,2000000;,1544000.0,Jagung;,Bantuan Pemerintah;,0.009;,0.012;,...,50000.0,0.0,Rumah Tangga;,Diolah;,900;,0.0090,0.0120,151200.0,160000.0,-8800.0
587,24412,Todanara,Yuli Making,Petani atau Nelayan;,200000;,2766000.0,Jagung;,Beli;,0.0003;,0.005;,...,0.0,0.0,Rumah Tangga;,Tidak Diolah;,12.9;,0.0003,0.0050,63000.0,170000.0,-107000.0

##### menggabungkan dengan data pola tanam

In [218]:
def bulan_budidaya_padi(pola):
    pola = str(pola).lower()
    if "3 kali setahun" in pola:
        return 12
    elif "2 kali setahun" in pola:
        return 8
    elif "1 kali setahun" in pola:
        return 4
    else:
        return 4 # jika tidak memenuhi kondisi di atas

df['kategori budidaya padi'] = df['Pola Tanam'].apply(bulan_budidaya_padi)

C:\Users\halid\AppData\Local\Temp\ipykernel_10448\3031856564.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['kategori budidaya padi'] = df['Pola Tanam'].apply(bulan_budidaya_padi)

In [219]:
df['Penghasilan per Bulan Bertani'] = df['Penghasilan Bersih'] / df['kategori budidaya padi']

C:\Users\halid\AppData\Local\Temp\ipykernel_10448\3535449042.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Penghasilan per Bulan Bertani'] = df['Penghasilan Bersih'] / df['kategori budidaya padi']

In [220]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,577.0,NaN,NaN,NaN,23218.436742,675.18491,22190.0,22704.0,23175.0,23574.0,24957.0
Desa/Kelurahan,577,29,Muruona,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nama Kepala Keluarga,577,574,Stanislaus Kopong,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pekerjaan,577,9,Petani atau Nelayan;,388,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pendapatan Bulanan (Rp.),577,108,500000;,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Konsumsi Bulanan (Beli),577.0,NaN,NaN,NaN,136282058019.024261,3233849457539.904785,120000.0,1336000.0,2524000.0,8578000.0,77678416193000.0
Nama Tanaman,577,115,Jagung;,148,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sumber Benih,577,17,Tangkar Sendiri;,405,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan,577,236,1;,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Produksi,577,344,1;,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pola Tanam,577,10,1 kali setahun;,498,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sistem Budidaya,577,12,Organik;,318,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengairan,577,11,Tadah Hujan;,451,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pupuk,577.0,NaN,NaN,NaN,42721.837088,213979.209181,0.0,0.0,0.0,0.0,2880000.0
Pestisida/Herbisida/Fungisida,577.0,NaN,NaN,NaN,80932.15078,241167.418236,0.0,0.0,0.0,80000.0,3240000.0
Benih,577.0,NaN,NaN,NaN,8258.233969,54761.929619,0.0,0.0,0.0,0.0,810000.0
Upah Buruh,577.0,NaN,NaN,NaN,67777.469671,456673.399599,0.0,0.0,0.0,0.0,7000000.0
Sewa Alat dan Mesin Pertanian,577.0,NaN,NaN,NaN,23445.407279,121518.492322,0.0,0.0,0.0,0.0,1200000.0
Sumber Limbah,577,11,Rumah Tangga;,343,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengolahan,577,6,Tidak Diolah;,307,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan Usaha m2,577,95,0;,254,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan Keseluruhan,557.0,NaN,NaN,NaN,27.444643,189.644161,0.0002,0.25,0.75,1.5,2700.0
Produksi Keseluruhan,539.0,NaN,NaN,NaN,15.653681,92.405328,0.001,0.11,0.4,1.0,1050.0
Penghasilan Kotor,539.0,NaN,NaN,NaN,197236386.215065,1164307127.533083,12600.0,1386000.0,5040000.0,12600000.0,13230000000.0
Ongkos Produksi,577.0,NaN,NaN,NaN,223135.098787,607396.603433,0.0,0.0,0.0,188000.0,7360000.0
Penghasilan Bersih,539.0,NaN,NaN,NaN,197012464.226197,1164317294.182044,-1908000.0,1260000.0,4860000.0,11646000.0,13230000000.0
kategori budidaya padi,577.0,NaN,NaN,NaN,4.131716,0.977161,4.0,4.0,4.0,4.0,12.0
Penghasilan per Bulan Bertani,539.0,NaN,NaN,NaN,49188925.890192,291088137.574698,-477000.0,315000.0,1181250.0,2855250.0,3307500000.0

##### Garis Kemiskinan

Garis Kemiskinan (Rupiah/Kapita/Bulan) Menurut Provinsi dan Daerah 

di Nusa Tenggara Timur pada Semester 2 (September) adalah: **495.180,00**

In [221]:
garis_kemiskinan = df[['ID']].copy()
garis_kemiskinan['Desa/Kelurahan'] = df['Desa/Kelurahan']
garis_kemiskinan['Penghasilan per Bulan Bertani'] = df['Penghasilan per Bulan Bertani']

In [222]:
garis_kemiskinan

        ID Desa/Kelurahan  Penghasilan per Bulan Bertani
0    22190       Paubokol                      1740000.0
1    22195       Paubokol                       630000.0
2    22200       Paubokol                      2175000.0
3    22205       Paubokol                      2520000.0
4    22208       Paubokol                      2837500.0
..     ...            ...                            ...
624  24802       Dikesare                      2362500.0
625  24803          Mahal                      1417500.0
626  24866       Todanara                       491500.0
627  24887      Labalimut                      3465000.0
628  24957       Todanara                      4725000.0

[577 rows x 3 columns]

In [223]:
garis_kemiskinan_rp = 495180

# Hitung persentase per desa
penguasaan_tanah = (garis_kemiskinan
              .groupby('Desa/Kelurahan')['Penghasilan per Bulan Bertani']
              .apply(lambda x: (x > garis_kemiskinan_rp).mean() * 100)
              .reset_index(name='Persentase di Atas GK'))

# Tambahkan kolom skor
def hitung_skor(p):
    if p == 0:
        return 0
    elif p <= 25:
        return 1
    elif p <= 50:
        return 2
    elif p <= 75:
        return 3
    else:
        return 4

penguasaan_tanah['Skor'] = penguasaan_tanah['Persentase di Atas GK'].apply(hitung_skor)

In [224]:
penguasaan_tanah

   Desa/Kelurahan  Persentase di Atas GK  Skor
0       Balauring              91.666667     4
1      Benihading              90.000000     4
2            Bour              70.588235     3
3        Dikesare              22.222222     1
4        Duawutun              80.000000     4
5       Dulitukan              36.363636     2
6        Hoelea I              96.428571     4
7       Ile Kimok              93.103448     4
8         Kalikur              69.230769     3
9        Katakeja               7.692308     1
10      Labalimut              80.000000     4
11       Lamatuka              96.153846     4
12     Laranwutun              72.727273     3
13         Lolong              30.434783     2
14          Mahal              52.173913     3
15        Merdeka              52.000000     3
16        Muruona              25.806452     2
17       Nubamado              51.851852     3
18           Pada              41.666667     2
19       Paubokol             100.000000     4
20           Puor              73.684211     3
21       Riangbao              68.750000     3
22       Tagawiti              40.000000     2
23       Todanara              30.434783     2
24    Tubuk Rajan             100.000000     4
25   Tubungwalang              65.000000     3
26        Waienga              52.173913     3
27       Watodiri              71.428571     3
28      Wuakerong              73.333333     3

In [225]:
IKP = IKP.merge(
    penguasaan_tanah[['Desa/Kelurahan','Skor']].rename(columns={'Skor':'I.2.1.1'}),
    on='Desa/Kelurahan', how='left'
)

In [226]:
IKP

   Desa/Kelurahan  I.1.1.1  I.2.1.1
0       Balauring        0        4
1      Benihading        1        4
2            Bour        1        3
3        Dikesare        0        1
4        Duawutun        4        4
5       Dulitukan        4        2
6        Hoelea I        1        4
7       Ile Kimok        0        4
8         Kalikur        0        3
9        Katakeja        1        1
10      Labalimut        0        4
11       Lamatuka        0        4
12     Laranwutun        0        3
13         Lolong        0        2
14          Mahal        0        3
15        Merdeka        1        3
16        Muruona        4        2
17       Nubamado        1        3
18           Pada        0        2
19       Paubokol        0        4
20           Puor        1        3
21       Riangbao        0        3
22       Tagawiti        4        2
23       Todanara        1        2
24    Tubuk Rajan        4        4
25   Tubungwalang        0        3
26        Waienga        0        3
27       Watodiri        4        3
28      Wuakerong        1        3

In [227]:
IKP_percent_only = penguasaan_tanah[['Desa/Kelurahan']].copy()
IKP_percent_only = IKP_percent_only.merge(
    penguasaan_tanah[['Desa/Kelurahan','Persentase di Atas GK']].rename(columns={'Persentase di Atas GK':'I.2.1.1'}),
    on='Desa/Kelurahan', how='left'
)

In [228]:
IKP_percent_only

   Desa/Kelurahan     I.2.1.1
0       Balauring   91.666667
1      Benihading   90.000000
2            Bour   70.588235
3        Dikesare   22.222222
4        Duawutun   80.000000
5       Dulitukan   36.363636
6        Hoelea I   96.428571
7       Ile Kimok   93.103448
8         Kalikur   69.230769
9        Katakeja    7.692308
10      Labalimut   80.000000
11       Lamatuka   96.153846
12     Laranwutun   72.727273
13         Lolong   30.434783
14          Mahal   52.173913
15        Merdeka   52.000000
16        Muruona   25.806452
17       Nubamado   51.851852
18           Pada   41.666667
19       Paubokol  100.000000
20           Puor   73.684211
21       Riangbao   68.750000
22       Tagawiti   40.000000
23       Todanara   30.434783
24    Tubuk Rajan  100.000000
25   Tubungwalang   65.000000
26        Waienga   52.173913
27       Watodiri   71.428571
28      Wuakerong   73.333333

### I.3.1. 1 Ketersediaan air untuk budidaya

In [229]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 577 entries, 0 to 628
Data columns (total 28 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             577 non-null    int64
 1   Desa/Kelurahan                 577 non-null    object
 2   Nama Kepala Keluarga           577 non-null    object
 3   Pekerjaan                      577 non-null    object
 4   Pendapatan Bulanan (Rp.)       577 non-null    object
 5   Konsumsi Bulanan (Beli)        577 non-null    float64
 6   Nama Tanaman                   577 non-null    object
 7   Sumber Benih                   577 non-null    object
 8   Luas Lahan                     577 non-null    object
 9   Produksi                       577 non-null    object
 10  Pola Tanam                     577 non-null    object
 11  Sistem Budidaya                577 non-null    object
 12  Pengairan                      577 non-null    object
 13  Pupuk                          577 non-null    float64
 14  Pestisida/Herbisida/Fungisida  577 non-null    float64
 15  Benih                          577 non-null    float64
 16  Upah Buruh                     577 non-null    float64
 17  Sewa Alat dan Mesin Pertanian  577 non-null    float64
 18  Sumber Limbah                  577 non-null    object
 19  Pengolahan                     577 non-null    object
 20  Luas Lahan Usaha m2            577 non-null    object
 21  Luas Lahan Keseluruhan         557 non-null    float64
 22  Produksi Keseluruhan           539 non-null    float64
 23  Penghasilan Kotor              539 non-null    float64
 24  Ongkos Produksi                577 non-null    float64
 25  Penghasilan Bersih             539 non-null    float64
 26  kategori budidaya padi         577 non-null    int64
 27  Penghasilan per Bulan Bertani  539 non-null    float64
dtypes: float64(12), int64(2), object(14)
memory usage: 130.7+ KB

In [230]:
df.isna().sum()

ID                                0
Desa/Kelurahan                    0
Nama Kepala Keluarga              0
Pekerjaan                         0
Pendapatan Bulanan (Rp.)          0
Konsumsi Bulanan (Beli)           0
Nama Tanaman                      0
Sumber Benih                      0
Luas Lahan                        0
Produksi                          0
Pola Tanam                        0
Sistem Budidaya                   0
Pengairan                         0
Pupuk                             0
Pestisida/Herbisida/Fungisida     0
Benih                             0
Upah Buruh                        0
Sewa Alat dan Mesin Pertanian     0
Sumber Limbah                     0
Pengolahan                        0
Luas Lahan Usaha m2               0
Luas Lahan Keseluruhan           20
Produksi Keseluruhan             38
Penghasilan Kotor                38
Ongkos Produksi                   0
Penghasilan Bersih               38
kategori budidaya padi            0
Penghasilan per Bulan Bertani    38
dtype: int64

In [231]:
# DATA CLEANING

df['Pola Tanam'].value_counts()

Pola Tanam
1 kali setahun;               498
1 kali setahun; Tidak ada;     32
Tidak ada;                     29
3 kali setahun;                 5
Tidak ada; 1 kali setahun;      4
3 kali setahun; 1               3
2 kali setahun; 1               2
1 kali setahun; 2               2
2 kali setahun;                 1
1 kali setahun; 3               1
Name: count, dtype: int64

In [232]:
# PERHITUNGAN IKP

def skor_ketersediaan_air(pola):
    pola = str(pola).lower()
    if "tidak ada" in pola or "1 kali setahun" in pola:
        return 2
    elif "2 kali setahun" in pola or "3 kali setahun" in pola:
        return 1
    else:
        return 0  # jika tidak memenuhi kondisi di atas

df['kategori ketersediaan air'] = df['Pola Tanam'].apply(skor_ketersediaan_air)

C:\Users\halid\AppData\Local\Temp\ipykernel_10448\519971845.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['kategori ketersediaan air'] = df['Pola Tanam'].apply(skor_ketersediaan_air)

In [233]:
persentase_air = (
    df.groupby('Desa/Kelurahan')['kategori ketersediaan air']
      .apply(lambda x: (x == 1).mean() * 100)
      .reset_index(name='Persentase Air Cukup')
)

def skor_air(p):
    if p == 0:
        return 0
    elif p <= 25:
        return 1
    elif p <= 50:
        return 2
    elif p <= 75:
        return 3
    else:
        return 4

persentase_air['Skor'] = persentase_air['Persentase Air Cukup'].apply(skor_air)

In [234]:
persentase_air

   Desa/Kelurahan  Persentase Air Cukup  Skor
0       Balauring              0.000000     0
1      Benihading              3.333333     1
2            Bour             11.764706     1
3        Dikesare              0.000000     0
4        Duawutun              0.000000     0
5       Dulitukan              0.000000     0
6        Hoelea I              0.000000     0
7       Ile Kimok              0.000000     0
8         Kalikur              0.000000     0
9        Katakeja              0.000000     0
10      Labalimut              0.000000     0
11       Lamatuka              0.000000     0
12     Laranwutun              0.000000     0
13         Lolong              0.000000     0
14          Mahal              0.000000     0
15        Merdeka              0.000000     0
16        Muruona              0.000000     0
17       Nubamado              7.407407     1
18           Pada              8.333333     1
19       Paubokol              0.000000     0
20           Puor             26.315789     2
21       Riangbao              0.000000     0
22       Tagawiti              0.000000     0
23       Todanara              0.000000     0
24    Tubuk Rajan              0.000000     0
25   Tubungwalang              0.000000     0
26        Waienga              0.000000     0
27       Watodiri              0.000000     0
28      Wuakerong              0.000000     0

In [235]:
IKP = IKP.merge(
    persentase_air[['Desa/Kelurahan','Skor']].rename(columns={'Skor':'I.3.1.1'}),
    on='Desa/Kelurahan', how='left'
)

In [236]:
IKP

   Desa/Kelurahan  I.1.1.1  I.2.1.1  I.3.1.1
0       Balauring        0        4        0
1      Benihading        1        4        1
2            Bour        1        3        1
3        Dikesare        0        1        0
4        Duawutun        4        4        0
5       Dulitukan        4        2        0
6        Hoelea I        1        4        0
7       Ile Kimok        0        4        0
8         Kalikur        0        3        0
9        Katakeja        1        1        0
10      Labalimut        0        4        0
11       Lamatuka        0        4        0
12     Laranwutun        0        3        0
13         Lolong        0        2        0
14          Mahal        0        3        0
15        Merdeka        1        3        0
16        Muruona        4        2        0
17       Nubamado        1        3        1
18           Pada        0        2        1
19       Paubokol        0        4        0
20           Puor        1        3        2
21       Riangbao        0        3        0
22       Tagawiti        4        2        0
23       Todanara        1        2        0
24    Tubuk Rajan        4        4        0
25   Tubungwalang        0        3        0
26        Waienga        0        3        0
27       Watodiri        4        3        0
28      Wuakerong        1        3        0

In [237]:
IKP_percent_only = IKP_percent_only.merge(
    persentase_air[['Desa/Kelurahan','Persentase Air Cukup']].rename(columns={'Persentase Air Cukup':'I.3.1.1'}),
    on='Desa/Kelurahan', how='left'
)

In [238]:
IKP_percent_only

   Desa/Kelurahan     I.2.1.1    I.3.1.1
0       Balauring   91.666667   0.000000
1      Benihading   90.000000   3.333333
2            Bour   70.588235  11.764706
3        Dikesare   22.222222   0.000000
4        Duawutun   80.000000   0.000000
5       Dulitukan   36.363636   0.000000
6        Hoelea I   96.428571   0.000000
7       Ile Kimok   93.103448   0.000000
8         Kalikur   69.230769   0.000000
9        Katakeja    7.692308   0.000000
10      Labalimut   80.000000   0.000000
11       Lamatuka   96.153846   0.000000
12     Laranwutun   72.727273   0.000000
13         Lolong   30.434783   0.000000
14          Mahal   52.173913   0.000000
15        Merdeka   52.000000   0.000000
16        Muruona   25.806452   0.000000
17       Nubamado   51.851852   7.407407
18           Pada   41.666667   8.333333
19       Paubokol  100.000000   0.000000
20           Puor   73.684211  26.315789
21       Riangbao   68.750000   0.000000
22       Tagawiti   40.000000   0.000000
23       Todanara   30.434783   0.000000
24    Tubuk Rajan  100.000000   0.000000
25   Tubungwalang   65.000000   0.000000
26        Waienga   52.173913   0.000000
27       Watodiri   71.428571   0.000000
28      Wuakerong   73.333333   0.000000

### I.4.1.1. Asal atau sumber benih

In [239]:
df['Sumber Benih'].value_counts()

Sumber Benih
Tangkar Sendiri;                                   405
Tidak ada;                                          40
Tangkar Sendiri; Tidak ada;                         34
Bantuan Pemerintah;                                 30
Bantuan Pemerintah; Tidak ada;                      17
Beli;                                               15
Tangkar Sendiri; Bantuan Pemerintah;                11
Bantuan Pemerintah; Tangkar Sendiri;                 7
Tidak ada; Tangkar Sendiri;                          6
Tangkar Sendiri; Beli;                               5
Beli; Bantuan Pemerintah; Tangkar Sendiri;           1
Tidak ada; Bantuan Pemerintah;                       1
Bantuan Pemerintah; Tidak ada; Tangkar Sendiri;      1
Tangkar Sendiri; Bantuan Pemerintah; Beli;           1
Beli; Tidak ada;                                     1
Beli; Tangkar Sendiri;                               1
Tangkar Sendiri; Tidak ada; Beli;                    1
Name: count, dtype: int64

In [240]:
def penggunaan_benih(pola):
    pola = str(pola).lower()
    
    kelompok_1 = ["tangkar sendiri"]
    kelompok_2 = ["beli", "bantuan pemerintah", "tidak ada"]
    
    ada_kelompok_1 = any(kata in pola for kata in kelompok_1)
    ada_kelompok_2 = any(kata in pola for kata in kelompok_2)
    
    if ada_kelompok_1 and ada_kelompok_2:
        return 0.5
    elif ada_kelompok_1:
        return 1
    elif ada_kelompok_2:
        return 0
    else:
        return None

df['kategori benih'] = df['Sumber Benih'].apply(penggunaan_benih)

C:\Users\halid\AppData\Local\Temp\ipykernel_10448\3540692383.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['kategori benih'] = df['Sumber Benih'].apply(penggunaan_benih)

In [241]:
df

,ID,Desa/Kelurahan,Nama Kepala Keluarga,Pekerjaan,Pendapatan Bulanan (Rp.),Konsumsi Bulanan (Beli),Nama Tanaman,Sumber Benih,Luas Lahan,Produksi,...,Luas Lahan Usaha m2,Luas Lahan Keseluruhan,Produksi Keseluruhan,Penghasilan Kotor,Ongkos Produksi,Penghasilan Bersih,kategori budidaya padi,Penghasilan per Bulan Bertani,kategori ketersediaan air,kategori benih
0,22190,Paubokol,Marianus Nurak,Petani atau Nelayan;,800000;,38420000.0,Jagung ; Ubi Kayu; Padi; Porang;,Tangkar Sendiri;,0.5; 0.5; 0.5; 0.5;,0.2; 0.2; 0.2; ;,...,0;,2.000,0.60,7560000.0,600000.0,6960000.0,4,1740000.0,2,1.0
1,22195,Paubokol,Viktor Gelak,Petani atau Nelayan;,100000;,5500000.0,Padi; Jagung ;,Tangkar Sendiri;,0.007; 0.007;,0.1; 0.1;,...,0;,0.014,0.20,2520000.0,0.0,2520000.0,4,630000.0,2,1.0
2,22200,Paubokol,Yoseph Kujo,Petani atau Nelayan;,400000;,16102000.0,Padi; Jagung ; Ubi Kayu; Kacang Tanah;,Tangkar Sendiri;,0.5; ; ; ;,0.8; ; ; ;,...,0;,0.500,0.80,10080000.0,1380000.0,8700000.0,4,2175000.0,2,1.0
3,22205,Paubokol,Hendrikus Laran Ujan,Petani atau Nelayan;,600000;,30002000.0,Padi;,Tangkar Sendiri;,1;,0.8;,...,0;,1.000,0.80,10080000.0,0.0,10080000.0,4,2520000.0,2,1.0
4,22208,Paubokol,Anselmus Sikong Ujan,Petani atau Nelayan;,500000;,49282000.0,Padi; Jagung ; Kacang Tanah; Ubi Jalar;,Tangkar Sendiri;,1; ; ; ;,1; ; ; ;,...,0;,1.000,1.00,12600000.0,1250000.0,11350000.0,4,2837500.0,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624,24802,Dikesare,Matias Suban,Petani atau Nelayan;,500000;,2084000.0,Padi; Jagung;,Tangkar Sendiri;,0.25; ;,0.75; ;,...,56;,0.250,0.75,9450000.0,0.0,9450000.0,4,2362500.0,2,1.0
625,24803,Mahal,Christoforus Hobamatan,lainnya;,1000000;,1418000.0,Jagung;,Tangkar Sendiri;,1;,0.45;,...,0;,1.000,0.45,5670000.0,0.0,5670000.0,4,1417500.0,2,1.0
626,24866,Todanara,Longginus Lango,Petani atau Nelayan;,500000;,3201000.0,Padi; Jagung ; Ubi Kayu;,Bantuan Pemerintah;,0.5; 0.5; 0.5; 0.5;,0.04; 0.04; 0.04; 0.04;,...,0;,2.000,0.16,2016000.0,50000.0,1966000.0,4,491500.0,2,0.0
627,24887,Labalimut,Petrus Asan,lainnya;,4000000;,1343000.0,Jagung Lokal; Ubi Kayu; Padi;,Tangkar Sendiri; Tidak ada;,0.50; 0.50; 0.50;,0.6; ; 0.5;,...,0;,1.500,1.10,13860000.0,0.0,13860000.0,4,3465000.0,2,0.5
628,24957,Todanara,Hendrikus Kewaman,Petani atau Nelayan;,200000;,307000.0,Padi; Jagung ;,Tangkar Sendiri;,1; 1; 1;,0.5; 0.5; 0.5;,...,0;,3.000,1.50,18900000.0,0.0,18900000.0,4,4725000.0,2,1.0

In [242]:
persentase_benih = (
    df.groupby('Desa/Kelurahan')['kategori benih']
      .apply(lambda x: x.mean() * 100)
      .reset_index(name='Persentase Sumber Benih')
)

def skor_benih(p):
    if p == 0:
        return 0
    elif p <= 25:
        return 1
    elif p <= 50:
        return 2
    elif p <= 75:
        return 3
    else:
        return 4

persentase_benih['Skor'] = persentase_benih['Persentase Sumber Benih'].apply(skor_benih)

In [243]:
persentase_benih

   Desa/Kelurahan  Persentase Sumber Benih  Skor
0       Balauring               100.000000     4
1      Benihading                76.666667     4
2            Bour                70.588235     3
3        Dikesare                63.888889     3
4        Duawutun                55.000000     3
5       Dulitukan                95.454545     4
6        Hoelea I                91.071429     4
7       Ile Kimok               100.000000     4
8         Kalikur                80.769231     4
9        Katakeja                 3.846154     1
10      Labalimut                80.000000     4
11       Lamatuka                86.538462     4
12     Laranwutun                52.272727     3
13         Lolong                86.956522     4
14          Mahal                95.652174     4
15        Merdeka                88.000000     4
16        Muruona                24.193548     1
17       Nubamado                83.333333     4
18           Pada                50.000000     2
19       Paubokol               100.000000     4
20           Puor                89.473684     4
21       Riangbao                65.625000     3
22       Tagawiti                90.000000     4
23       Todanara                47.826087     2
24    Tubuk Rajan               100.000000     4
25   Tubungwalang                85.000000     4
26        Waienga               100.000000     4
27       Watodiri                60.714286     3
28      Wuakerong                80.000000     4

In [244]:
IKP = IKP.merge(
    persentase_benih[['Desa/Kelurahan','Skor']].rename(columns={'Skor':'I.4.1.1'}),
    on='Desa/Kelurahan', how='left'
)

In [245]:
IKP

   Desa/Kelurahan  I.1.1.1  I.2.1.1  I.3.1.1  I.4.1.1
0       Balauring        0        4        0        4
1      Benihading        1        4        1        4
2            Bour        1        3        1        3
3        Dikesare        0        1        0        3
4        Duawutun        4        4        0        3
5       Dulitukan        4        2        0        4
6        Hoelea I        1        4        0        4
7       Ile Kimok        0        4        0        4
8         Kalikur        0        3        0        4
9        Katakeja        1        1        0        1
10      Labalimut        0        4        0        4
11       Lamatuka        0        4        0        4
12     Laranwutun        0        3        0        3
13         Lolong        0        2        0        4
14          Mahal        0        3        0        4
15        Merdeka        1        3        0        4
16        Muruona        4        2        0        1
17       Nubamado        1        3        1        4
18           Pada        0        2        1        2
19       Paubokol        0        4        0        4
20           Puor        1        3        2        4
21       Riangbao        0        3        0        3
22       Tagawiti        4        2        0        4
23       Todanara        1        2        0        2
24    Tubuk Rajan        4        4        0        4
25   Tubungwalang        0        3        0        4
26        Waienga        0        3        0        4
27       Watodiri        4        3        0        3
28      Wuakerong        1        3        0        4

In [246]:
IKP_percent_only = IKP_percent_only.merge(
    persentase_benih[['Desa/Kelurahan','Persentase Sumber Benih']].rename(columns={'Persentase Sumber Benih':'I.4.1.1'}),
    on='Desa/Kelurahan', how='left'
)

In [247]:
IKP_percent_only

   Desa/Kelurahan     I.2.1.1    I.3.1.1     I.4.1.1
0       Balauring   91.666667   0.000000  100.000000
1      Benihading   90.000000   3.333333   76.666667
2            Bour   70.588235  11.764706   70.588235
3        Dikesare   22.222222   0.000000   63.888889
4        Duawutun   80.000000   0.000000   55.000000
5       Dulitukan   36.363636   0.000000   95.454545
6        Hoelea I   96.428571   0.000000   91.071429
7       Ile Kimok   93.103448   0.000000  100.000000
8         Kalikur   69.230769   0.000000   80.769231
9        Katakeja    7.692308   0.000000    3.846154
10      Labalimut   80.000000   0.000000   80.000000
11       Lamatuka   96.153846   0.000000   86.538462
12     Laranwutun   72.727273   0.000000   52.272727
13         Lolong   30.434783   0.000000   86.956522
14          Mahal   52.173913   0.000000   95.652174
15        Merdeka   52.000000   0.000000   88.000000
16        Muruona   25.806452   0.000000   24.193548
17       Nubamado   51.851852   7.407407   83.333333
18           Pada   41.666667   8.333333   50.000000
19       Paubokol  100.000000   0.000000  100.000000
20           Puor   73.684211  26.315789   89.473684
21       Riangbao   68.750000   0.000000   65.625000
22       Tagawiti   40.000000   0.000000   90.000000
23       Todanara   30.434783   0.000000   47.826087
24    Tubuk Rajan  100.000000   0.000000  100.000000
25   Tubungwalang   65.000000   0.000000   85.000000
26        Waienga   52.173913   0.000000  100.000000
27       Watodiri   71.428571   0.000000   60.714286
28      Wuakerong   73.333333   0.000000   80.000000

# Pilar 2

### II.1.1.2 Pengadaan Pestisida

In [248]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 577 entries, 0 to 628
Data columns (total 30 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             577 non-null    int64
 1   Desa/Kelurahan                 577 non-null    object
 2   Nama Kepala Keluarga           577 non-null    object
 3   Pekerjaan                      577 non-null    object
 4   Pendapatan Bulanan (Rp.)       577 non-null    object
 5   Konsumsi Bulanan (Beli)        577 non-null    float64
 6   Nama Tanaman                   577 non-null    object
 7   Sumber Benih                   577 non-null    object
 8   Luas Lahan                     577 non-null    object
 9   Produksi                       577 non-null    object
 10  Pola Tanam                     577 non-null    object
 11  Sistem Budidaya                577 non-null    object
 12  Pengairan                      577 non-null    object
 13  Pupuk                          577 non-null    float64
 14  Pestisida/Herbisida/Fungisida  577 non-null    float64
 15  Benih                          577 non-null    float64
 16  Upah Buruh                     577 non-null    float64
 17  Sewa Alat dan Mesin Pertanian  577 non-null    float64
 18  Sumber Limbah                  577 non-null    object
 19  Pengolahan                     577 non-null    object
 20  Luas Lahan Usaha m2            577 non-null    object
 21  Luas Lahan Keseluruhan         557 non-null    float64
 22  Produksi Keseluruhan           539 non-null    float64
 23  Penghasilan Kotor              539 non-null    float64
 24  Ongkos Produksi                577 non-null    float64
 25  Penghasilan Bersih             539 non-null    float64
 26  kategori budidaya padi         577 non-null    int64
 27  Penghasilan per Bulan Bertani  539 non-null    float64
 28  kategori ketersediaan air      577 non-null    int64
 29  kategori benih                 577 non-null    float64
dtypes: float64(13), int64(3), object(14)
memory usage: 139.7+ KB

In [249]:
persentase_pestisida = (
    df.groupby('Desa/Kelurahan')['Pestisida/Herbisida/Fungisida']
      .apply(lambda x: (x > 0).mean() * 100)
      .reset_index(name='Persentase Pengadaan Pestisida')
)

def skor_pestisida(p):
    if p > 80:
        return 0
    elif p >= 61:
        return 1
    elif p >= 41:
        return 2
    elif p >= 21:
        return 3
    else:
        return 4

persentase_pestisida['Skor'] = persentase_pestisida['Persentase Pengadaan Pestisida'].apply(skor_pestisida)

In [250]:
persentase_pestisida

   Desa/Kelurahan  Persentase Pengadaan Pestisida  Skor
0       Balauring                        8.333333     4
1      Benihading                       10.000000     4
2            Bour                       82.352941     0
3        Dikesare                        0.000000     4
4        Duawutun                        0.000000     4
5       Dulitukan                        0.000000     4
6        Hoelea I                       60.714286     2
7       Ile Kimok                       55.172414     2
8         Kalikur                       84.615385     0
9        Katakeja                       53.846154     2
10      Labalimut                        0.000000     4
11       Lamatuka                        0.000000     4
12     Laranwutun                       50.000000     2
13         Lolong                        0.000000     4
14          Mahal                       82.608696     0
15        Merdeka                       28.000000     3
16        Muruona                       48.387097     2
17       Nubamado                       29.629630     3
18           Pada                       16.666667     4
19       Paubokol                       45.000000     2
20           Puor                        0.000000     4
21       Riangbao                       37.500000     3
22       Tagawiti                        0.000000     4
23       Todanara                       52.173913     2
24    Tubuk Rajan                        0.000000     4
25   Tubungwalang                       20.000000     4
26        Waienga                       91.304348     0
27       Watodiri                        3.571429     4
28      Wuakerong                       40.000000     3

In [251]:
IKP = IKP.merge(
    persentase_pestisida[['Desa/Kelurahan','Skor']].rename(columns={'Skor':'II.1.1.2'}),
    on='Desa/Kelurahan', how='left'
)

In [252]:
IKP

   Desa/Kelurahan  I.1.1.1  I.2.1.1  I.3.1.1  I.4.1.1  II.1.1.2
0       Balauring        0        4        0        4         4
1      Benihading        1        4        1        4         4
2            Bour        1        3        1        3         0
3        Dikesare        0        1        0        3         4
4        Duawutun        4        4        0        3         4
5       Dulitukan        4        2        0        4         4
6        Hoelea I        1        4        0        4         2
7       Ile Kimok        0        4        0        4         2
8         Kalikur        0        3        0        4         0
9        Katakeja        1        1        0        1         2
10      Labalimut        0        4        0        4         4
11       Lamatuka        0        4        0        4         4
12     Laranwutun        0        3        0        3         2
13         Lolong        0        2        0        4         4
14          Mahal        0        3        0        4         0
15        Merdeka        1        3        0        4         3
16        Muruona        4        2        0        1         2
17       Nubamado        1        3        1        4         3
18           Pada        0        2        1        2         4
19       Paubokol        0        4        0        4         2
20           Puor        1        3        2        4         4
21       Riangbao        0        3        0        3         3
22       Tagawiti        4        2        0        4         4
23       Todanara        1        2        0        2         2
24    Tubuk Rajan        4        4        0        4         4
25   Tubungwalang        0        3        0        4         4
26        Waienga        0        3        0        4         0
27       Watodiri        4        3        0        3         4
28      Wuakerong        1        3        0        4         3

In [253]:
IKP_percent_only = IKP_percent_only.merge(
    persentase_pestisida[['Desa/Kelurahan','Persentase Pengadaan Pestisida']].rename(columns={'Persentase Pengadaan Pestisida':'II.1.1.2'}),
    on='Desa/Kelurahan', how='left'
)

In [254]:
IKP_percent_only

   Desa/Kelurahan     I.2.1.1    I.3.1.1     I.4.1.1   II.1.1.2
0       Balauring   91.666667   0.000000  100.000000   8.333333
1      Benihading   90.000000   3.333333   76.666667  10.000000
2            Bour   70.588235  11.764706   70.588235  82.352941
3        Dikesare   22.222222   0.000000   63.888889   0.000000
4        Duawutun   80.000000   0.000000   55.000000   0.000000
5       Dulitukan   36.363636   0.000000   95.454545   0.000000
6        Hoelea I   96.428571   0.000000   91.071429  60.714286
7       Ile Kimok   93.103448   0.000000  100.000000  55.172414
8         Kalikur   69.230769   0.000000   80.769231  84.615385
9        Katakeja    7.692308   0.000000    3.846154  53.846154
10      Labalimut   80.000000   0.000000   80.000000   0.000000
11       Lamatuka   96.153846   0.000000   86.538462   0.000000
12     Laranwutun   72.727273   0.000000   52.272727  50.000000
13         Lolong   30.434783   0.000000   86.956522   0.000000
14          Mahal   52.173913   0.000000   95.652174  82.608696
15        Merdeka   52.000000   0.000000   88.000000  28.000000
16        Muruona   25.806452   0.000000   24.193548  48.387097
17       Nubamado   51.851852   7.407407   83.333333  29.629630
18           Pada   41.666667   8.333333   50.000000  16.666667
19       Paubokol  100.000000   0.000000  100.000000  45.000000
20           Puor   73.684211  26.315789   89.473684   0.000000
21       Riangbao   68.750000   0.000000   65.625000  37.500000
22       Tagawiti   40.000000   0.000000   90.000000   0.000000
23       Todanara   30.434783   0.000000   47.826087  52.173913
24    Tubuk Rajan  100.000000   0.000000  100.000000   0.000000
25   Tubungwalang   65.000000   0.000000   85.000000  20.000000
26        Waienga   52.173913   0.000000  100.000000  91.304348
27       Watodiri   71.428571   0.000000   60.714286   3.571429
28      Wuakerong   73.333333   0.000000   80.000000  40.000000

### II.1.2.3 Pengadaan Pupuk

In [255]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 577 entries, 0 to 628
Data columns (total 30 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             577 non-null    int64
 1   Desa/Kelurahan                 577 non-null    object
 2   Nama Kepala Keluarga           577 non-null    object
 3   Pekerjaan                      577 non-null    object
 4   Pendapatan Bulanan (Rp.)       577 non-null    object
 5   Konsumsi Bulanan (Beli)        577 non-null    float64
 6   Nama Tanaman                   577 non-null    object
 7   Sumber Benih                   577 non-null    object
 8   Luas Lahan                     577 non-null    object
 9   Produksi                       577 non-null    object
 10  Pola Tanam                     577 non-null    object
 11  Sistem Budidaya                577 non-null    object
 12  Pengairan                      577 non-null    object
 13  Pupuk                          577 non-null    float64
 14  Pestisida/Herbisida/Fungisida  577 non-null    float64
 15  Benih                          577 non-null    float64
 16  Upah Buruh                     577 non-null    float64
 17  Sewa Alat dan Mesin Pertanian  577 non-null    float64
 18  Sumber Limbah                  577 non-null    object
 19  Pengolahan                     577 non-null    object
 20  Luas Lahan Usaha m2            577 non-null    object
 21  Luas Lahan Keseluruhan         557 non-null    float64
 22  Produksi Keseluruhan           539 non-null    float64
 23  Penghasilan Kotor              539 non-null    float64
 24  Ongkos Produksi                577 non-null    float64
 25  Penghasilan Bersih             539 non-null    float64
 26  kategori budidaya padi         577 non-null    int64
 27  Penghasilan per Bulan Bertani  539 non-null    float64
 28  kategori ketersediaan air      577 non-null    int64
 29  kategori benih                 577 non-null    float64
dtypes: float64(13), int64(3), object(14)
memory usage: 139.7+ KB

In [256]:
persentase_pupuk = (
    df.groupby('Desa/Kelurahan')['Pupuk']
      .apply(lambda x: (x == 0).mean() * 100)
      .reset_index(name='Persentase Pengadaan Pupuk')
)

def skor_pupuk(p):
    if p == 0:
        return 0
    elif p <= 25:
        return 1
    elif p <= 50:
        return 2
    elif p <= 75:
        return 3
    else:
        return 4

persentase_pupuk['Skor'] = persentase_pupuk['Persentase Pengadaan Pupuk'].apply(skor_pupuk)

In [257]:
persentase_pupuk

   Desa/Kelurahan  Persentase Pengadaan Pupuk  Skor
0       Balauring                   50.000000     2
1      Benihading                  100.000000     4
2            Bour                   58.823529     3
3        Dikesare                  100.000000     4
4        Duawutun                  100.000000     4
5       Dulitukan                  100.000000     4
6        Hoelea I                   14.285714     1
7       Ile Kimok                   93.103448     4
8         Kalikur                    0.000000     0
9        Katakeja                  100.000000     4
10      Labalimut                  100.000000     4
11       Lamatuka                   96.153846     4
12     Laranwutun                   95.454545     4
13         Lolong                  100.000000     4
14          Mahal                   30.434783     2
15        Merdeka                   96.000000     4
16        Muruona                   93.548387     4
17       Nubamado                   92.592593     4
18           Pada                   83.333333     4
19       Paubokol                   95.000000     4
20           Puor                   84.210526     4
21       Riangbao                  100.000000     4
22       Tagawiti                  100.000000     4
23       Todanara                   95.652174     4
24    Tubuk Rajan                  100.000000     4
25   Tubungwalang                   30.000000     2
26        Waienga                   95.652174     4
27       Watodiri                   96.428571     4
28      Wuakerong                  100.000000     4

In [258]:
IKP = IKP.merge(
    persentase_pupuk[['Desa/Kelurahan','Skor']].rename(columns={'Skor':'II.1.2.3'}),
    on='Desa/Kelurahan', how='left'
)

In [259]:
IKP

   Desa/Kelurahan  I.1.1.1  I.2.1.1  I.3.1.1  I.4.1.1  II.1.1.2  II.1.2.3
0       Balauring        0        4        0        4         4         2
1      Benihading        1        4        1        4         4         4
2            Bour        1        3        1        3         0         3
3        Dikesare        0        1        0        3         4         4
4        Duawutun        4        4        0        3         4         4
5       Dulitukan        4        2        0        4         4         4
6        Hoelea I        1        4        0        4         2         1
7       Ile Kimok        0        4        0        4         2         4
8         Kalikur        0        3        0        4         0         0
9        Katakeja        1        1        0        1         2         4
10      Labalimut        0        4        0        4         4         4
11       Lamatuka        0        4        0        4         4         4
12     Laranwutun        0        3        0        3         2         4
13         Lolong        0        2        0        4         4         4
14          Mahal        0        3        0        4         0         2
15        Merdeka        1        3        0        4         3         4
16        Muruona        4        2        0        1         2         4
17       Nubamado        1        3        1        4         3         4
18           Pada        0        2        1        2         4         4
19       Paubokol        0        4        0        4         2         4
20           Puor        1        3        2        4         4         4
21       Riangbao        0        3        0        3         3         4
22       Tagawiti        4        2        0        4         4         4
23       Todanara        1        2        0        2         2         4
24    Tubuk Rajan        4        4        0        4         4         4
25   Tubungwalang        0        3        0        4         4         2
26        Waienga        0        3        0        4         0         4
27       Watodiri        4        3        0        3         4         4
28      Wuakerong        1        3        0        4         3         4

In [260]:
IKP_percent_only = IKP_percent_only.merge(
    persentase_pupuk[['Desa/Kelurahan','Persentase Pengadaan Pupuk']].rename(columns={'Persentase Pengadaan Pupuk':'II.1.2.3'}),
    on='Desa/Kelurahan', how='left'
)

In [261]:
IKP_percent_only

   Desa/Kelurahan     I.2.1.1    I.3.1.1     I.4.1.1   II.1.1.2    II.1.2.3
0       Balauring   91.666667   0.000000  100.000000   8.333333   50.000000
1      Benihading   90.000000   3.333333   76.666667  10.000000  100.000000
2            Bour   70.588235  11.764706   70.588235  82.352941   58.823529
3        Dikesare   22.222222   0.000000   63.888889   0.000000  100.000000
4        Duawutun   80.000000   0.000000   55.000000   0.000000  100.000000
5       Dulitukan   36.363636   0.000000   95.454545   0.000000  100.000000
6        Hoelea I   96.428571   0.000000   91.071429  60.714286   14.285714
7       Ile Kimok   93.103448   0.000000  100.000000  55.172414   93.103448
8         Kalikur   69.230769   0.000000   80.769231  84.615385    0.000000
9        Katakeja    7.692308   0.000000    3.846154  53.846154  100.000000
10      Labalimut   80.000000   0.000000   80.000000   0.000000  100.000000
11       Lamatuka   96.153846   0.000000   86.538462   0.000000   96.153846
12     Laranwutun   72.727273   0.000000   52.272727  50.000000   95.454545
13         Lolong   30.434783   0.000000   86.956522   0.000000  100.000000
14          Mahal   52.173913   0.000000   95.652174  82.608696   30.434783
15        Merdeka   52.000000   0.000000   88.000000  28.000000   96.000000
16        Muruona   25.806452   0.000000   24.193548  48.387097   93.548387
17       Nubamado   51.851852   7.407407   83.333333  29.629630   92.592593
18           Pada   41.666667   8.333333   50.000000  16.666667   83.333333
19       Paubokol  100.000000   0.000000  100.000000  45.000000   95.000000
20           Puor   73.684211  26.315789   89.473684   0.000000   84.210526
21       Riangbao   68.750000   0.000000   65.625000  37.500000  100.000000
22       Tagawiti   40.000000   0.000000   90.000000   0.000000  100.000000
23       Todanara   30.434783   0.000000   47.826087  52.173913   95.652174
24    Tubuk Rajan  100.000000   0.000000  100.000000   0.000000  100.000000
25   Tubungwalang   65.000000   0.000000   85.000000  20.000000   30.000000
26        Waienga   52.173913   0.000000  100.000000  91.304348   95.652174
27       Watodiri   71.428571   0.000000   60.714286   3.571429   96.428571
28      Wuakerong   73.333333   0.000000   80.000000  40.000000  100.000000

### II.1.3.1 Melakukan pemanfaatan limbah pertanian

In [262]:
data_limbah = pd.concat([df[['ID', 'Desa/Kelurahan', 'Sumber Limbah', 'Pengolahan']]])

In [263]:
data_limbah['Sumber Limbah'].value_counts()

Sumber Limbah
Rumah Tangga;                                                    343
Pertanian dan Perkebunan;                                        109
Tidak ada;                                                        33
Rumah Tangga; Pertanian dan Perkebunan;                           29
Peternakan dan Perikanan;                                         26
Rumah Tangga; Pertanian dan Perkebunan; Peternakan Perikanan;     20
Rumah Tangga; Peternakan dan Perikanan;                            8
Pertanian dan Perkebunan; Rumah Tangga;                            6
Pertanian dan Perkebunan; Rumah Tangga; Peternakan Perikanan;      1
Pertanian dan Perkebunan; Peternakan Perikanan;                    1
Rumah Tangga; Peternakan dan Perikanan; Pertanian Perkebunan;      1
Name: count, dtype: int64

In [264]:
data_limbah['Pengolahan'].value_counts()

Pengolahan
Tidak Diolah;         307
Diolah;               170
Tidak ada;             66
Diolah; Tidak          31
Tidak Diolah; ada;      2
Tidak ada; Diolah;      1
Name: count, dtype: int64

In [265]:
def posisi_pertanian(s):
    # rapikan delimiter ; dan spasi
    s = str(s).strip()
    s = re.sub(r'\s*;\s*', ';', s)
    s = re.sub(r';+$', '', s)

    # pecah jadi list
    parts = [p.strip() for p in s.split(';') if p.strip()]

    # cari posisi target
    try:
        idx = parts.index("Pertanian dan Perkebunan")
        return idx + 1   # posisi 1-based
    except ValueError:
        return 0         # kalau tidak ada target

# contoh pemakaian
data_limbah['posisi'] = data_limbah['Sumber Limbah'].apply(posisi_pertanian)

In [266]:
import numpy as np

def ambil_elemen_ke(s, pos):
    parts = [p.strip() for p in str(s).split(';') if p.strip()]
    if pos > 0 and pos <= len(parts):
        return parts[pos-1]   # 1-based index
    return np.nan

# buat kolom posisi
data_limbah['posisi'] = data_limbah['Sumber Limbah'].apply(posisi_pertanian)

# ambil hanya elemen sesuai posisi
data_limbah['Sumber Limbah (posisi)'] = data_limbah.apply(
    lambda row: ambil_elemen_ke(row['Sumber Limbah'], row['posisi']), axis=1
)

data_limbah['Pengolahan (posisi)'] = data_limbah.apply(
    lambda row: ambil_elemen_ke(row['Pengolahan'], row['posisi']), axis=1
)

In [267]:
data_limbah

,ID,Desa/Kelurahan,Sumber Limbah,Pengolahan,posisi,Sumber Limbah (posisi),Pengolahan (posisi)
0,22190,Paubokol,Rumah Tangga;,Tidak ada;,0,NaN,NaN
1,22195,Paubokol,Rumah Tangga;,Tidak ada;,0,NaN,NaN
2,22200,Paubokol,Tidak ada;,Tidak ada;,0,NaN,NaN
3,22205,Paubokol,Rumah Tangga;,Tidak ada;,0,NaN,NaN
4,22208,Paubokol,Tidak ada;,Tidak ada;,0,NaN,NaN
...,...,...,...,...,...,...,...
624,24802,Dikesare,Rumah Tangga;,Diolah;,0,NaN,NaN
625,24803,Mahal,Rumah Tangga;,Tidak Diolah;,0,NaN,NaN
626,24866,Todanara,Rumah Tangga;,Tidak Diolah;,0,NaN,NaN
627,24887,Labalimut,Rumah Tangga;,Tidak Diolah;,0,NaN,NaN
628,24957,Todanara,Rumah Tangga;,Tidak Diolah;,0,NaN,NaN

In [268]:
data_limbah['Sumber Limbah (posisi)'].value_counts()

Sumber Limbah (posisi)
Pertanian dan Perkebunan    166
Name: count, dtype: int64

In [269]:
data_limbah['Pengolahan (posisi)'].value_counts()

Pengolahan (posisi)
Diolah          68
Tidak Diolah    46
Tidak           22
Tidak ada        4
ada              2
Name: count, dtype: int64

In [270]:
data_limbah.isna().sum()

ID                          0
Desa/Kelurahan              0
Sumber Limbah               0
Pengolahan                  0
posisi                      0
Sumber Limbah (posisi)    411
Pengolahan (posisi)       435
dtype: int64

In [271]:
data_limbah = data_limbah.dropna()

In [272]:
data_limbah

,ID,Desa/Kelurahan,Sumber Limbah,Pengolahan,posisi,Sumber Limbah (posisi),Pengolahan (posisi)
17,22309,Balauring,Pertanian dan Perkebunan;,Tidak ada;,1,Pertanian dan Perkebunan,Tidak ada
22,22329,Labalimut,Rumah Tangga; Pertanian dan Perkebunan;,Tidak ada; Diolah;,2,Pertanian dan Perkebunan,Diolah
27,22339,Nubamado,Pertanian dan Perkebunan; Rumah Tangga;,Tidak Diolah;,1,Pertanian dan Perkebunan,Tidak Diolah
29,22342,Nubamado,Rumah Tangga; Pertanian dan Perkebunan; Petern...,Tidak Diolah; ada;,2,Pertanian dan Perkebunan,ada
43,22358,Nubamado,Rumah Tangga; Pertanian dan Perkebunan; Petern...,Tidak Diolah; ada;,2,Pertanian dan Perkebunan,ada
...,...,...,...,...,...,...,...
618,24765,Katakeja,Pertanian dan Perkebunan;,Tidak Diolah;,1,Pertanian dan Perkebunan,Tidak Diolah
619,24766,Katakeja,Pertanian dan Perkebunan;,Tidak Diolah;,1,Pertanian dan Perkebunan,Tidak Diolah
620,24767,Katakeja,Pertanian dan Perkebunan;,Diolah;,1,Pertanian dan Perkebunan,Diolah
621,24798,Todanara,Pertanian dan Perkebunan;,Tidak Diolah;,1,Pertanian dan Perkebunan,Tidak Diolah
623,24801,Todanara,Pertanian dan Perkebunan;,Tidak Diolah;,1,Pertanian dan Perkebunan,Tidak Diolah

In [273]:
data_limbah['Desa/Kelurahan'].value_counts()

Desa/Kelurahan
Benihading      25
Waienga         21
Hoelea I        18
Todanara        13
Katakeja        12
Kalikur         11
Puor             6
Riangbao         6
Bour             6
Laranwutun       6
Balauring        4
Ile Kimok        3
Nubamado         3
Labalimut        2
Lamatuka         2
Pada             2
Tubungwalang     1
Tubuk Rajan      1
Name: count, dtype: int64

In [274]:
data_limbah['Pengolahan (posisi)'].value_counts()

Pengolahan (posisi)
Diolah          68
Tidak Diolah    46
Tidak           22
Tidak ada        4
ada              2
Name: count, dtype: int64

In [275]:
def status_pengolahan(teks):
    teks = str(teks).lower().strip()
    
    if "tidak ada" in teks or "tidak diolah" in teks:
        return 0
    elif "ada" in teks or "diolah" in teks:
        return 1
    else:
        return None

# contoh pemakaian
data_limbah['kategori pengolahan'] = data_limbah['Pengolahan (posisi)'].apply(status_pengolahan)

C:\Users\halid\AppData\Local\Temp\ipykernel_10448\3773792586.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_limbah['kategori pengolahan'] = data_limbah['Pengolahan (posisi)'].apply(status_pengolahan)

In [276]:
data_limbah

,ID,Desa/Kelurahan,Sumber Limbah,Pengolahan,posisi,Sumber Limbah (posisi),Pengolahan (posisi),kategori pengolahan
17,22309,Balauring,Pertanian dan Perkebunan;,Tidak ada;,1,Pertanian dan Perkebunan,Tidak ada,0.0
22,22329,Labalimut,Rumah Tangga; Pertanian dan Perkebunan;,Tidak ada; Diolah;,2,Pertanian dan Perkebunan,Diolah,1.0
27,22339,Nubamado,Pertanian dan Perkebunan; Rumah Tangga;,Tidak Diolah;,1,Pertanian dan Perkebunan,Tidak Diolah,0.0
29,22342,Nubamado,Rumah Tangga; Pertanian dan Perkebunan; Petern...,Tidak Diolah; ada;,2,Pertanian dan Perkebunan,ada,1.0
43,22358,Nubamado,Rumah Tangga; Pertanian dan Perkebunan; Petern...,Tidak Diolah; ada;,2,Pertanian dan Perkebunan,ada,1.0
...,...,...,...,...,...,...,...,...
618,24765,Katakeja,Pertanian dan Perkebunan;,Tidak Diolah;,1,Pertanian dan Perkebunan,Tidak Diolah,0.0
619,24766,Katakeja,Pertanian dan Perkebunan;,Tidak Diolah;,1,Pertanian dan Perkebunan,Tidak Diolah,0.0
620,24767,Katakeja,Pertanian dan Perkebunan;,Diolah;,1,Pertanian dan Perkebunan,Diolah,1.0
621,24798,Todanara,Pertanian dan Perkebunan;,Tidak Diolah;,1,Pertanian dan Perkebunan,Tidak Diolah,0.0
623,24801,Todanara,Pertanian dan Perkebunan;,Tidak Diolah;,1,Pertanian dan Perkebunan,Tidak Diolah,0.0

In [277]:
persentase_pengolahan = (
    data_limbah.groupby('Desa/Kelurahan')['kategori pengolahan']
      .apply(lambda x: (x == 1).mean() * 100)
      .reset_index(name='Persentase Sumber Benih')
)

def skor_benih(p):
    if p == 0:
        return 0
    elif p <= 25:
        return 1
    elif p <= 50:
        return 2
    elif p <= 75:
        return 3
    else:
        return 4

persentase_pengolahan['Skor'] = persentase_pengolahan['Persentase Sumber Benih'].apply(skor_benih)

In [278]:
persentase_pengolahan

   Desa/Kelurahan  Persentase Sumber Benih  Skor
0       Balauring                25.000000     1
1      Benihading               100.000000     4
2            Bour                83.333333     4
3        Hoelea I                 0.000000     0
4       Ile Kimok                33.333333     2
5         Kalikur                 9.090909     1
6        Katakeja                25.000000     1
7       Labalimut                50.000000     2
8        Lamatuka                50.000000     2
9      Laranwutun                50.000000     2
10       Nubamado                66.666667     3
11           Pada                 0.000000     0
12           Puor                16.666667     1
13       Riangbao                83.333333     4
14       Todanara                15.384615     1
15    Tubuk Rajan                 0.000000     0
16   Tubungwalang                 0.000000     0
17        Waienga                90.476190     4

In [279]:
IKP = IKP.merge(
    persentase_pengolahan[['Desa/Kelurahan','Skor']].rename(columns={'Skor':'II.1.3.1'}),
    on='Desa/Kelurahan', how='left'
)

In [280]:
IKP

,Desa/Kelurahan,I.1.1.1,I.2.1.1,I.3.1.1,I.4.1.1,II.1.1.2,II.1.2.3,II.1.3.1
0,Balauring,0,4,0,4,4,2,1.0
1,Benihading,1,4,1,4,4,4,4.0
2,Bour,1,3,1,3,0,3,4.0
3,Dikesare,0,1,0,3,4,4,NaN
4,Duawutun,4,4,0,3,4,4,NaN
5,Dulitukan,4,2,0,4,4,4,NaN
6,Hoelea I,1,4,0,4,2,1,0.0
7,Ile Kimok,0,4,0,4,2,4,2.0
8,Kalikur,0,3,0,4,0,0,1.0
9,Katakeja,1,1,0,1,2,4,1.0
10,Labalimut,0,4,0,4,4,4,2.0
11,Lamatuka,0,4,0,4,4,4,2.0
12,Laranwutun,0,3,0,3,2,4,2.0
13,Lolong,0,2,0,4,4,4,NaN
14,Mahal,0,3,0,4,0,2,NaN
15,Merdeka,1,3,0,4,3,4,NaN
16,Muruona,4,2,0,1,2,4,NaN
17,Nubamado,1,3,1,4,3,4,3.0
18,Pada,0,2,1,2,4,4,0.0
19,Paubokol,0,4,0,4,2,4,NaN
20,Puor,1,3,2,4,4,4,1.0
21,Riangbao,0,3,0,3,3,4,4.0
22,Tagawiti,4,2,0,4,4,4,NaN
23,Todanara,1,2,0,2,2,4,1.0
24,Tubuk Rajan,4,4,0,4,4,4,0.0
25,Tubungwalang,0,3,0,4,4,2,0.0
26,Waienga,0,3,0,4,0,4,4.0
27,Watodiri,4,3,0,3,4,4,NaN
28,Wuakerong,1,3,0,4,3,4,NaN

In [281]:
IKP_percent_only = IKP_percent_only.merge(
    persentase_pengolahan[['Desa/Kelurahan','Persentase Sumber Benih']].rename(columns={'Persentase Sumber Benih':'II.1.3.1'}),
    on='Desa/Kelurahan', how='left'
)

In [282]:
IKP_percent_only

,Desa/Kelurahan,I.2.1.1,I.3.1.1,I.4.1.1,II.1.1.2,II.1.2.3,II.1.3.1
0,Balauring,91.666667,0.000000,100.000000,8.333333,50.000000,25.000000
1,Benihading,90.000000,3.333333,76.666667,10.000000,100.000000,100.000000
2,Bour,70.588235,11.764706,70.588235,82.352941,58.823529,83.333333
3,Dikesare,22.222222,0.000000,63.888889,0.000000,100.000000,NaN
4,Duawutun,80.000000,0.000000,55.000000,0.000000,100.000000,NaN
5,Dulitukan,36.363636,0.000000,95.454545,0.000000,100.000000,NaN
6,Hoelea I,96.428571,0.000000,91.071429,60.714286,14.285714,0.000000
7,Ile Kimok,93.103448,0.000000,100.000000,55.172414,93.103448,33.333333
8,Kalikur,69.230769,0.000000,80.769231,84.615385,0.000000,9.090909
9,Katakeja,7.692308,0.000000,3.846154,53.846154,100.000000,25.000000
10,Labalimut,80.000000,0.000000,80.000000,0.000000,100.000000,50.000000
11,Lamatuka,96.153846,0.000000,86.538462,0.000000,96.153846,50.000000
12,Laranwutun,72.727273,0.000000,52.272727,50.000000,95.454545,50.000000
13,Lolong,30.434783,0.000000,86.956522,0.000000,100.000000,NaN
14,Mahal,52.173913,0.000000,95.652174,82.608696,30.434783,NaN
15,Merdeka,52.000000,0.000000,88.000000,28.000000,96.000000,NaN
16,Muruona,25.806452,0.000000,24.193548,48.387097,93.548387,NaN
17,Nubamado,51.851852,7.407407,83.333333,29.629630,92.592593,66.666667
18,Pada,41.666667,8.333333,50.000000,16.666667,83.333333,0.000000
19,Paubokol,100.000000,0.000000,100.000000,45.000000,95.000000,NaN
20,Puor,73.684211,26.315789,89.473684,0.000000,84.210526,16.666667
21,Riangbao,68.750000,0.000000,65.625000,37.500000,100.000000,83.333333
22,Tagawiti,40.000000,0.000000,90.000000,0.000000,100.000000,NaN
23,Todanara,30.434783,0.000000,47.826087,52.173913,95.652174,15.384615
24,Tubuk Rajan,100.000000,0.000000,100.000000,0.000000,100.000000,0.000000
25,Tubungwalang,65.000000,0.000000,85.000000,20.000000,30.000000,0.000000
26,Waienga,52.173913,0.000000,100.000000,91.304348,95.652174,90.476190
27,Watodiri,71.428571,0.000000,60.714286,3.571429,96.428571,NaN
28,Wuakerong,73.333333,0.000000,80.000000,40.000000,100.000000,NaN

### II.2.2.1 Keragaman Jenis Tanaman

In [283]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 577 entries, 0 to 628
Data columns (total 30 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             577 non-null    int64
 1   Desa/Kelurahan                 577 non-null    object
 2   Nama Kepala Keluarga           577 non-null    object
 3   Pekerjaan                      577 non-null    object
 4   Pendapatan Bulanan (Rp.)       577 non-null    object
 5   Konsumsi Bulanan (Beli)        577 non-null    float64
 6   Nama Tanaman                   577 non-null    object
 7   Sumber Benih                   577 non-null    object
 8   Luas Lahan                     577 non-null    object
 9   Produksi                       577 non-null    object
 10  Pola Tanam                     577 non-null    object
 11  Sistem Budidaya                577 non-null    object
 12  Pengairan                      577 non-null    object
 13  Pupuk                          577 non-null    float64
 14  Pestisida/Herbisida/Fungisida  577 non-null    float64
 15  Benih                          577 non-null    float64
 16  Upah Buruh                     577 non-null    float64
 17  Sewa Alat dan Mesin Pertanian  577 non-null    float64
 18  Sumber Limbah                  577 non-null    object
 19  Pengolahan                     577 non-null    object
 20  Luas Lahan Usaha m2            577 non-null    object
 21  Luas Lahan Keseluruhan         557 non-null    float64
 22  Produksi Keseluruhan           539 non-null    float64
 23  Penghasilan Kotor              539 non-null    float64
 24  Ongkos Produksi                577 non-null    float64
 25  Penghasilan Bersih             539 non-null    float64
 26  kategori budidaya padi         577 non-null    int64
 27  Penghasilan per Bulan Bertani  539 non-null    float64
 28  kategori ketersediaan air      577 non-null    int64
 29  kategori benih                 577 non-null    float64
dtypes: float64(13), int64(3), object(14)
memory usage: 139.7+ KB

In [284]:
df['Nama Tanaman'].value_counts()

Nama Tanaman
Jagung;                                 148
Jagung; Ubi Kayu;                        53
Jagung Lokal;                            38
Padi;                                    35
Padi; Jagung;                            29
                                       ...
Padi; Jagung; Cabai; Sawi; Kangkung;      1
Padi Lokal; Jagung ; Ubi Kayu;            1
Jagung; Kacang Tanah; Jagung ;            1
Kelapa; Jagung;                           1
Jagung Lokal; Ubi Kayu; Padi;             1
Name: count, Length: 115, dtype: int64

In [285]:
def kategori_tanaman(teks):
    tanaman = [t.strip() for t in str(teks).split(';') if t.strip()]
    if len(tanaman) <= 1:
        return "Monokultur"
    else:
        return "Multikultur"

# contoh pemakaian
df['kategori tanaman'] = df['Nama Tanaman'].apply(kategori_tanaman)

C:\Users\halid\AppData\Local\Temp\ipykernel_10448\4097631277.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['kategori tanaman'] = df['Nama Tanaman'].apply(kategori_tanaman)

In [286]:
df

,ID,Desa/Kelurahan,Nama Kepala Keluarga,Pekerjaan,Pendapatan Bulanan (Rp.),Konsumsi Bulanan (Beli),Nama Tanaman,Sumber Benih,Luas Lahan,Produksi,...,Luas Lahan Keseluruhan,Produksi Keseluruhan,Penghasilan Kotor,Ongkos Produksi,Penghasilan Bersih,kategori budidaya padi,Penghasilan per Bulan Bertani,kategori ketersediaan air,kategori benih,kategori tanaman
0,22190,Paubokol,Marianus Nurak,Petani atau Nelayan;,800000;,38420000.0,Jagung ; Ubi Kayu; Padi; Porang;,Tangkar Sendiri;,0.5; 0.5; 0.5; 0.5;,0.2; 0.2; 0.2; ;,...,2.000,0.60,7560000.0,600000.0,6960000.0,4,1740000.0,2,1.0,Multikultur
1,22195,Paubokol,Viktor Gelak,Petani atau Nelayan;,100000;,5500000.0,Padi; Jagung ;,Tangkar Sendiri;,0.007; 0.007;,0.1; 0.1;,...,0.014,0.20,2520000.0,0.0,2520000.0,4,630000.0,2,1.0,Multikultur
2,22200,Paubokol,Yoseph Kujo,Petani atau Nelayan;,400000;,16102000.0,Padi; Jagung ; Ubi Kayu; Kacang Tanah;,Tangkar Sendiri;,0.5; ; ; ;,0.8; ; ; ;,...,0.500,0.80,10080000.0,1380000.0,8700000.0,4,2175000.0,2,1.0,Multikultur
3,22205,Paubokol,Hendrikus Laran Ujan,Petani atau Nelayan;,600000;,30002000.0,Padi;,Tangkar Sendiri;,1;,0.8;,...,1.000,0.80,10080000.0,0.0,10080000.0,4,2520000.0,2,1.0,Monokultur
4,22208,Paubokol,Anselmus Sikong Ujan,Petani atau Nelayan;,500000;,49282000.0,Padi; Jagung ; Kacang Tanah; Ubi Jalar;,Tangkar Sendiri;,1; ; ; ;,1; ; ; ;,...,1.000,1.00,12600000.0,1250000.0,11350000.0,4,2837500.0,2,1.0,Multikultur
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624,24802,Dikesare,Matias Suban,Petani atau Nelayan;,500000;,2084000.0,Padi; Jagung;,Tangkar Sendiri;,0.25; ;,0.75; ;,...,0.250,0.75,9450000.0,0.0,9450000.0,4,2362500.0,2,1.0,Multikultur
625,24803,Mahal,Christoforus Hobamatan,lainnya;,1000000;,1418000.0,Jagung;,Tangkar Sendiri;,1;,0.45;,...,1.000,0.45,5670000.0,0.0,5670000.0,4,1417500.0,2,1.0,Monokultur
626,24866,Todanara,Longginus Lango,Petani atau Nelayan;,500000;,3201000.0,Padi; Jagung ; Ubi Kayu;,Bantuan Pemerintah;,0.5; 0.5; 0.5; 0.5;,0.04; 0.04; 0.04; 0.04;,...,2.000,0.16,2016000.0,50000.0,1966000.0,4,491500.0,2,0.0,Multikultur
627,24887,Labalimut,Petrus Asan,lainnya;,4000000;,1343000.0,Jagung Lokal; Ubi Kayu; Padi;,Tangkar Sendiri; Tidak ada;,0.50; 0.50; 0.50;,0.6; ; 0.5;,...,1.500,1.10,13860000.0,0.0,13860000.0,4,3465000.0,2,0.5,Multikultur
628,24957,Todanara,Hendrikus Kewaman,Petani atau Nelayan;,200000;,307000.0,Padi; Jagung ;,Tangkar Sendiri;,1; 1; 1;,0.5; 0.5; 0.5;,...,3.000,1.50,18900000.0,0.0,18900000.0,4,4725000.0,2,1.0,Multikultur

In [287]:
df.head()

,ID,Desa/Kelurahan,Nama Kepala Keluarga,Pekerjaan,Pendapatan Bulanan (Rp.),Konsumsi Bulanan (Beli),Nama Tanaman,Sumber Benih,Luas Lahan,Produksi,...,Luas Lahan Keseluruhan,Produksi Keseluruhan,Penghasilan Kotor,Ongkos Produksi,Penghasilan Bersih,kategori budidaya padi,Penghasilan per Bulan Bertani,kategori ketersediaan air,kategori benih,kategori tanaman
0,22190,Paubokol,Marianus Nurak,Petani atau Nelayan;,800000;,38420000.0,Jagung ; Ubi Kayu; Padi; Porang;,Tangkar Sendiri;,0.5; 0.5; 0.5; 0.5;,0.2; 0.2; 0.2; ;,...,2.000,0.6,7560000.0,600000.0,6960000.0,4,1740000.0,2,1.0,Multikultur
1,22195,Paubokol,Viktor Gelak,Petani atau Nelayan;,100000;,5500000.0,Padi; Jagung ;,Tangkar Sendiri;,0.007; 0.007;,0.1; 0.1;,...,0.014,0.2,2520000.0,0.0,2520000.0,4,630000.0,2,1.0,Multikultur
2,22200,Paubokol,Yoseph Kujo,Petani atau Nelayan;,400000;,16102000.0,Padi; Jagung ; Ubi Kayu; Kacang Tanah;,Tangkar Sendiri;,0.5; ; ; ;,0.8; ; ; ;,...,0.500,0.8,10080000.0,1380000.0,8700000.0,4,2175000.0,2,1.0,Multikultur
3,22205,Paubokol,Hendrikus Laran Ujan,Petani atau Nelayan;,600000;,30002000.0,Padi;,Tangkar Sendiri;,1;,0.8;,...,1.000,0.8,10080000.0,0.0,10080000.0,4,2520000.0,2,1.0,Monokultur
4,22208,Paubokol,Anselmus Sikong Ujan,Petani atau Nelayan;,500000;,49282000.0,Padi; Jagung ; Kacang Tanah; Ubi Jalar;,Tangkar Sendiri;,1; ; ; ;,1; ; ; ;,...,1.000,1.0,12600000.0,1250000.0,11350000.0,4,2837500.0,2,1.0,Multikultur

In [288]:
persentase_multikultur = (
    df.groupby('Desa/Kelurahan')['kategori tanaman']
      .apply(lambda x: (x == 'Multikultur').mean() * 100)
      .reset_index(name='Persentase Jenis Tanaman')
)

def skor_benih(p):
    if p == 0:
        return 0
    elif p <= 25:
        return 1
    elif p <= 50:
        return 2
    elif p <= 75:
        return 3
    else:
        return 4

persentase_multikultur['Skor'] = persentase_multikultur['Persentase Jenis Tanaman'].apply(skor_benih)

In [289]:
persentase_multikultur

   Desa/Kelurahan  Persentase Jenis Tanaman  Skor
0       Balauring                  0.000000     0
1      Benihading                 83.333333     4
2            Bour                 58.823529     3
3        Dikesare                 44.444444     2
4        Duawutun                 40.000000     2
5       Dulitukan                 86.363636     4
6        Hoelea I                 21.428571     1
7       Ile Kimok                  0.000000     0
8         Kalikur                  7.692308     1
9        Katakeja                 84.615385     4
10      Labalimut                 70.000000     3
11       Lamatuka                 84.615385     4
12     Laranwutun                 59.090909     3
13         Lolong                 91.304348     4
14          Mahal                 30.434783     2
15        Merdeka                 76.000000     4
16        Muruona                 74.193548     3
17       Nubamado                 66.666667     3
18           Pada                 75.000000     3
19       Paubokol                 75.000000     3
20           Puor                 89.473684     4
21       Riangbao                 37.500000     2
22       Tagawiti                 40.000000     2
23       Todanara                  8.695652     1
24    Tubuk Rajan                100.000000     4
25   Tubungwalang                 10.000000     1
26        Waienga                  0.000000     0
27       Watodiri                 89.285714     4
28      Wuakerong                 86.666667     4

In [290]:
IKP = IKP.merge(
    persentase_multikultur[['Desa/Kelurahan','Skor']].rename(columns={'Skor':'II.2.2.1'}),
    on='Desa/Kelurahan', how='left'
)

In [291]:
IKP

,Desa/Kelurahan,I.1.1.1,I.2.1.1,I.3.1.1,I.4.1.1,II.1.1.2,II.1.2.3,II.1.3.1,II.2.2.1
0,Balauring,0,4,0,4,4,2,1.0,0
1,Benihading,1,4,1,4,4,4,4.0,4
2,Bour,1,3,1,3,0,3,4.0,3
3,Dikesare,0,1,0,3,4,4,NaN,2
4,Duawutun,4,4,0,3,4,4,NaN,2
5,Dulitukan,4,2,0,4,4,4,NaN,4
6,Hoelea I,1,4,0,4,2,1,0.0,1
7,Ile Kimok,0,4,0,4,2,4,2.0,0
8,Kalikur,0,3,0,4,0,0,1.0,1
9,Katakeja,1,1,0,1,2,4,1.0,4
10,Labalimut,0,4,0,4,4,4,2.0,3
11,Lamatuka,0,4,0,4,4,4,2.0,4
12,Laranwutun,0,3,0,3,2,4,2.0,3
13,Lolong,0,2,0,4,4,4,NaN,4
14,Mahal,0,3,0,4,0,2,NaN,2
15,Merdeka,1,3,0,4,3,4,NaN,4
16,Muruona,4,2,0,1,2,4,NaN,3
17,Nubamado,1,3,1,4,3,4,3.0,3
18,Pada,0,2,1,2,4,4,0.0,3
19,Paubokol,0,4,0,4,2,4,NaN,3
20,Puor,1,3,2,4,4,4,1.0,4
21,Riangbao,0,3,0,3,3,4,4.0,2
22,Tagawiti,4,2,0,4,4,4,NaN,2
23,Todanara,1,2,0,2,2,4,1.0,1
24,Tubuk Rajan,4,4,0,4,4,4,0.0,4
25,Tubungwalang,0,3,0,4,4,2,0.0,1
26,Waienga,0,3,0,4,0,4,4.0,0
27,Watodiri,4,3,0,3,4,4,NaN,4
28,Wuakerong,1,3,0,4,3,4,NaN,4

### II.3.3.1 Nilai Tukar Petani

In [292]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 577 entries, 0 to 628
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             577 non-null    int64
 1   Desa/Kelurahan                 577 non-null    object
 2   Nama Kepala Keluarga           577 non-null    object
 3   Pekerjaan                      577 non-null    object
 4   Pendapatan Bulanan (Rp.)       577 non-null    object
 5   Konsumsi Bulanan (Beli)        577 non-null    float64
 6   Nama Tanaman                   577 non-null    object
 7   Sumber Benih                   577 non-null    object
 8   Luas Lahan                     577 non-null    object
 9   Produksi                       577 non-null    object
 10  Pola Tanam                     577 non-null    object
 11  Sistem Budidaya                577 non-null    object
 12  Pengairan                      577 non-null    object
 13  Pupuk                          577 non-null    float64
 14  Pestisida/Herbisida/Fungisida  577 non-null    float64
 15  Benih                          577 non-null    float64
 16  Upah Buruh                     577 non-null    float64
 17  Sewa Alat dan Mesin Pertanian  577 non-null    float64
 18  Sumber Limbah                  577 non-null    object
 19  Pengolahan                     577 non-null    object
 20  Luas Lahan Usaha m2            577 non-null    object
 21  Luas Lahan Keseluruhan         557 non-null    float64
 22  Produksi Keseluruhan           539 non-null    float64
 23  Penghasilan Kotor              539 non-null    float64
 24  Ongkos Produksi                577 non-null    float64
 25  Penghasilan Bersih             539 non-null    float64
 26  kategori budidaya padi         577 non-null    int64
 27  Penghasilan per Bulan Bertani  539 non-null    float64
 28  kategori ketersediaan air      577 non-null    int64
 29  kategori benih                 577 non-null    float64
 30  kategori tanaman               577 non-null    object
dtypes: float64(13), int64(3), object(15)
memory usage: 144.2+ KB

In [293]:
NTP = pd.concat([df[['ID', 'Desa/Kelurahan', 'Konsumsi Bulanan (Beli)', 'Penghasilan per Bulan Bertani']]])

In [294]:
# DATA CLEANING

def sum_konsumsi_cell(s):
    if pd.isna(s):
        return 0.0
    total = 0.0
    for part in str(s).split(';'):
        t = part.strip()
        if not t:
            continue
        # ambil hanya angka, koma, titik, minus
        t = re.sub(r'[^\d,.\-]', '', t)
        # ubah format: hilangkan pemisah ribuan, koma jadi desimal
        t = t.replace('.', '').replace(',', '.')
        try:
            total += float(t)
        except ValueError:
            # kalau bukan angka valid, anggap 0
            continue
    return total

# hasil total per baris
NTP['Konsumsi Bulanan'] = NTP['Konsumsi Bulanan (Beli)'].apply(sum_konsumsi_cell)

In [295]:
NTP

,ID,Desa/Kelurahan,Konsumsi Bulanan (Beli),Penghasilan per Bulan Bertani,Konsumsi Bulanan
0,22190,Paubokol,38420000.0,1740000.0,384200000.0
1,22195,Paubokol,5500000.0,630000.0,55000000.0
2,22200,Paubokol,16102000.0,2175000.0,161020000.0
3,22205,Paubokol,30002000.0,2520000.0,300020000.0
4,22208,Paubokol,49282000.0,2837500.0,492820000.0
...,...,...,...,...,...
624,24802,Dikesare,2084000.0,2362500.0,20840000.0
625,24803,Mahal,1418000.0,1417500.0,14180000.0
626,24866,Todanara,3201000.0,491500.0,32010000.0
627,24887,Labalimut,1343000.0,3465000.0,13430000.0
628,24957,Todanara,307000.0,4725000.0,3070000.0

In [296]:
NTP['Selisih'] = NTP['Penghasilan per Bulan Bertani'] - NTP['Konsumsi Bulanan']

In [297]:
NTP

,ID,Desa/Kelurahan,Konsumsi Bulanan (Beli),Penghasilan per Bulan Bertani,Konsumsi Bulanan,Selisih
0,22190,Paubokol,38420000.0,1740000.0,384200000.0,-382460000.0
1,22195,Paubokol,5500000.0,630000.0,55000000.0,-54370000.0
2,22200,Paubokol,16102000.0,2175000.0,161020000.0,-158845000.0
3,22205,Paubokol,30002000.0,2520000.0,300020000.0,-297500000.0
4,22208,Paubokol,49282000.0,2837500.0,492820000.0,-489982500.0
...,...,...,...,...,...,...
624,24802,Dikesare,2084000.0,2362500.0,20840000.0,-18477500.0
625,24803,Mahal,1418000.0,1417500.0,14180000.0,-12762500.0
626,24866,Todanara,3201000.0,491500.0,32010000.0,-31518500.0
627,24887,Labalimut,1343000.0,3465000.0,13430000.0,-9965000.0
628,24957,Todanara,307000.0,4725000.0,3070000.0,1655000.0

In [298]:
NTP.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,577.0,NaN,NaN,NaN,23218.436742,675.18491,22190.0,22704.0,23175.0,23574.0,24957.0
Desa/Kelurahan,577,29,Muruona,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Konsumsi Bulanan (Beli),577.0,NaN,NaN,NaN,136282058019.024261,3233849457539.904785,120000.0,1336000.0,2524000.0,8578000.0,77678416193000.0
Penghasilan per Bulan Bertani,539.0,NaN,NaN,NaN,49188925.890192,291088137.574698,-477000.0,315000.0,1181250.0,2855250.0,3307500000.0
Konsumsi Bulanan,577.0,NaN,NaN,NaN,1362820580190.242676,32338494575399.050781,1200000.0,13360000.0,25240000.0,85780000.0,776784161930000.0
Selisih,539.0,NaN,NaN,NaN,-1458285965661.32666,33459001796161.261719,-776784161337500.0,-82120750.0,-21735000.0,-10558000.0,3293550000.0

In [299]:
total_selisih_per_desa = NTP.groupby('Desa/Kelurahan')['Selisih'].sum().reset_index()
total_selisih_per_desa.columns = ['Desa/Kelurahan', 'Total Selisih']

total_selisih_per_desa

   Desa/Kelurahan  Total Selisih
0       Balauring  -7.767866e+14
1      Benihading  -5.042116e+08
2            Bour  -3.157005e+08
3        Dikesare  -3.233823e+12
4        Duawutun  -2.293757e+08
5       Dulitukan  -2.215871e+08
6        Hoelea I  -5.976874e+12
7       Ile Kimok  -1.392770e+08
8         Kalikur   8.994285e+08
9        Katakeja  -3.758000e+06
10      Labalimut   5.116668e+09
11       Lamatuka  -6.840887e+09
12     Laranwutun   1.999504e+08
13         Lolong  -2.802962e+08
14          Mahal   1.443510e+09
15        Merdeka  -3.207785e+08
16        Muruona  -7.015855e+09
17       Nubamado  -6.162879e+09
18           Pada  -1.795216e+08
19       Paubokol  -4.581985e+09
20           Puor  -2.855720e+09
21       Riangbao   4.445436e+09
22       Tagawiti  -1.827145e+08
23       Todanara   2.850070e+09
24    Tubuk Rajan  -3.850750e+07
25   Tubungwalang  -1.165881e+09
26        Waienga  -5.062228e+08
27       Watodiri   2.078432e+07
28      Wuakerong  -2.279306e+09

In [300]:
def skor_NTP(p):
    if p < 0:
        return 0
    elif p == 0:
        return 1
    else:
        return 4

total_selisih_per_desa['Skor'] = total_selisih_per_desa['Total Selisih'].apply(skor_NTP)

In [301]:
total_selisih_per_desa

   Desa/Kelurahan  Total Selisih  Skor
0       Balauring  -7.767866e+14     0
1      Benihading  -5.042116e+08     0
2            Bour  -3.157005e+08     0
3        Dikesare  -3.233823e+12     0
4        Duawutun  -2.293757e+08     0
5       Dulitukan  -2.215871e+08     0
6        Hoelea I  -5.976874e+12     0
7       Ile Kimok  -1.392770e+08     0
8         Kalikur   8.994285e+08     4
9        Katakeja  -3.758000e+06     0
10      Labalimut   5.116668e+09     4
11       Lamatuka  -6.840887e+09     0
12     Laranwutun   1.999504e+08     4
13         Lolong  -2.802962e+08     0
14          Mahal   1.443510e+09     4
15        Merdeka  -3.207785e+08     0
16        Muruona  -7.015855e+09     0
17       Nubamado  -6.162879e+09     0
18           Pada  -1.795216e+08     0
19       Paubokol  -4.581985e+09     0
20           Puor  -2.855720e+09     0
21       Riangbao   4.445436e+09     4
22       Tagawiti  -1.827145e+08     0
23       Todanara   2.850070e+09     4
24    Tubuk Rajan  -3.850750e+07     0
25   Tubungwalang  -1.165881e+09     0
26        Waienga  -5.062228e+08     0
27       Watodiri   2.078432e+07     4
28      Wuakerong  -2.279306e+09     0

In [302]:
IKP = IKP.merge(
    total_selisih_per_desa[['Desa/Kelurahan','Skor']].rename(columns={'Skor':'II.3.3.1'}),
    on='Desa/Kelurahan', how='left'
)

In [303]:
IKP

,Desa/Kelurahan,I.1.1.1,I.2.1.1,I.3.1.1,I.4.1.1,II.1.1.2,II.1.2.3,II.1.3.1,II.2.2.1,II.3.3.1
0,Balauring,0,4,0,4,4,2,1.0,0,0
1,Benihading,1,4,1,4,4,4,4.0,4,0
2,Bour,1,3,1,3,0,3,4.0,3,0
3,Dikesare,0,1,0,3,4,4,NaN,2,0
4,Duawutun,4,4,0,3,4,4,NaN,2,0
5,Dulitukan,4,2,0,4,4,4,NaN,4,0
6,Hoelea I,1,4,0,4,2,1,0.0,1,0
7,Ile Kimok,0,4,0,4,2,4,2.0,0,0
8,Kalikur,0,3,0,4,0,0,1.0,1,4
9,Katakeja,1,1,0,1,2,4,1.0,4,0
10,Labalimut,0,4,0,4,4,4,2.0,3,4
11,Lamatuka,0,4,0,4,4,4,2.0,4,0
12,Laranwutun,0,3,0,3,2,4,2.0,3,4
13,Lolong,0,2,0,4,4,4,NaN,4,0
14,Mahal,0,3,0,4,0,2,NaN,2,4
15,Merdeka,1,3,0,4,3,4,NaN,4,0
16,Muruona,4,2,0,1,2,4,NaN,3,0
17,Nubamado,1,3,1,4,3,4,3.0,3,0
18,Pada,0,2,1,2,4,4,0.0,3,0
19,Paubokol,0,4,0,4,2,4,NaN,3,0
20,Puor,1,3,2,4,4,4,1.0,4,0
21,Riangbao,0,3,0,3,3,4,4.0,2,4
22,Tagawiti,4,2,0,4,4,4,NaN,2,0
23,Todanara,1,2,0,2,2,4,1.0,1,4
24,Tubuk Rajan,4,4,0,4,4,4,0.0,4,0
25,Tubungwalang,0,3,0,4,4,2,0.0,1,0
26,Waienga,0,3,0,4,0,4,4.0,0,0
27,Watodiri,4,3,0,3,4,4,NaN,4,4
28,Wuakerong,1,3,0,4,3,4,NaN,4,0

### II.3.3.2 Rasio rata-rata penghasilan petani per bulan dibandingkan dengan UMK setempat

In [304]:
NTP

,ID,Desa/Kelurahan,Konsumsi Bulanan (Beli),Penghasilan per Bulan Bertani,Konsumsi Bulanan,Selisih
0,22190,Paubokol,38420000.0,1740000.0,384200000.0,-382460000.0
1,22195,Paubokol,5500000.0,630000.0,55000000.0,-54370000.0
2,22200,Paubokol,16102000.0,2175000.0,161020000.0,-158845000.0
3,22205,Paubokol,30002000.0,2520000.0,300020000.0,-297500000.0
4,22208,Paubokol,49282000.0,2837500.0,492820000.0,-489982500.0
...,...,...,...,...,...,...
624,24802,Dikesare,2084000.0,2362500.0,20840000.0,-18477500.0
625,24803,Mahal,1418000.0,1417500.0,14180000.0,-12762500.0
626,24866,Todanara,3201000.0,491500.0,32010000.0,-31518500.0
627,24887,Labalimut,1343000.0,3465000.0,13430000.0,-9965000.0
628,24957,Todanara,307000.0,4725000.0,3070000.0,1655000.0

In [305]:
UMK_NTT = 2328669
NTP['Ratio UMK'] = NTP['Penghasilan per Bulan Bertani'] / UMK_NTT

In [306]:
NTP

,ID,Desa/Kelurahan,Konsumsi Bulanan (Beli),Penghasilan per Bulan Bertani,Konsumsi Bulanan,Selisih,Ratio UMK
0,22190,Paubokol,38420000.0,1740000.0,384200000.0,-382460000.0,0.747208
1,22195,Paubokol,5500000.0,630000.0,55000000.0,-54370000.0,0.270541
2,22200,Paubokol,16102000.0,2175000.0,161020000.0,-158845000.0,0.934010
3,22205,Paubokol,30002000.0,2520000.0,300020000.0,-297500000.0,1.082163
4,22208,Paubokol,49282000.0,2837500.0,492820000.0,-489982500.0,1.218507
...,...,...,...,...,...,...,...
624,24802,Dikesare,2084000.0,2362500.0,20840000.0,-18477500.0,1.014528
625,24803,Mahal,1418000.0,1417500.0,14180000.0,-12762500.0,0.608717
626,24866,Todanara,3201000.0,491500.0,32010000.0,-31518500.0,0.211065
627,24887,Labalimut,1343000.0,3465000.0,13430000.0,-9965000.0,1.487974
628,24957,Todanara,307000.0,4725000.0,3070000.0,1655000.0,2.029056

In [307]:
persentase_UMK = (
    NTP.groupby('Desa/Kelurahan')['Ratio UMK']
      .apply(lambda x: (x > 1).mean() * 100)
      .reset_index(name='Persentase UMK')
)

def skor_umk(p):
    if p == 0:
        return 0
    elif p <= 25:
        return 1
    elif p <= 50:
        return 2
    elif p <= 75:
        return 3
    else:
        return 4

persentase_UMK['Skor'] = persentase_UMK['Persentase UMK'].apply(skor_umk)

In [308]:
persentase_UMK

   Desa/Kelurahan  Persentase UMK  Skor
0       Balauring       33.333333     2
1      Benihading       13.333333     1
2            Bour       58.823529     3
3        Dikesare       22.222222     1
4        Duawutun       70.000000     3
5       Dulitukan        4.545455     1
6        Hoelea I       28.571429     2
7       Ile Kimok       37.931034     2
8         Kalikur       38.461538     2
9        Katakeja        7.692308     1
10      Labalimut       60.000000     3
11       Lamatuka       26.923077     2
12     Laranwutun       50.000000     2
13         Lolong        0.000000     0
14          Mahal       30.434783     2
15        Merdeka       20.000000     1
16        Muruona       12.903226     1
17       Nubamado       18.518519     1
18           Pada       25.000000     1
19       Paubokol       55.000000     3
20           Puor       36.842105     2
21       Riangbao       18.750000     1
22       Tagawiti       20.000000     1
23       Todanara       21.739130     1
24    Tubuk Rajan      100.000000     4
25   Tubungwalang       45.000000     2
26        Waienga       21.739130     1
27       Watodiri       10.714286     1
28      Wuakerong       60.000000     3

In [309]:
IKP = IKP.merge(
    persentase_UMK[['Desa/Kelurahan','Skor']].rename(columns={'Skor':'II.3.3.2'}),
    on='Desa/Kelurahan', how='left'
)

In [310]:
IKP

,Desa/Kelurahan,I.1.1.1,I.2.1.1,I.3.1.1,I.4.1.1,II.1.1.2,II.1.2.3,II.1.3.1,II.2.2.1,II.3.3.1,II.3.3.2
0,Balauring,0,4,0,4,4,2,1.0,0,0,2
1,Benihading,1,4,1,4,4,4,4.0,4,0,1
2,Bour,1,3,1,3,0,3,4.0,3,0,3
3,Dikesare,0,1,0,3,4,4,NaN,2,0,1
4,Duawutun,4,4,0,3,4,4,NaN,2,0,3
5,Dulitukan,4,2,0,4,4,4,NaN,4,0,1
6,Hoelea I,1,4,0,4,2,1,0.0,1,0,2
7,Ile Kimok,0,4,0,4,2,4,2.0,0,0,2
8,Kalikur,0,3,0,4,0,0,1.0,1,4,2
9,Katakeja,1,1,0,1,2,4,1.0,4,0,1
10,Labalimut,0,4,0,4,4,4,2.0,3,4,3
11,Lamatuka,0,4,0,4,4,4,2.0,4,0,2
12,Laranwutun,0,3,0,3,2,4,2.0,3,4,2
13,Lolong,0,2,0,4,4,4,NaN,4,0,0
14,Mahal,0,3,0,4,0,2,NaN,2,4,2
15,Merdeka,1,3,0,4,3,4,NaN,4,0,1
16,Muruona,4,2,0,1,2,4,NaN,3,0,1
17,Nubamado,1,3,1,4,3,4,3.0,3,0,1
18,Pada,0,2,1,2,4,4,0.0,3,0,1
19,Paubokol,0,4,0,4,2,4,NaN,3,0,3
20,Puor,1,3,2,4,4,4,1.0,4,0,2
21,Riangbao,0,3,0,3,3,4,4.0,2,4,1
22,Tagawiti,4,2,0,4,4,4,NaN,2,0,1
23,Todanara,1,2,0,2,2,4,1.0,1,4,1
24,Tubuk Rajan,4,4,0,4,4,4,0.0,4,0,4
25,Tubungwalang,0,3,0,4,4,2,0.0,1,0,2
26,Waienga,0,3,0,4,0,4,4.0,0,0,1
27,Watodiri,4,3,0,3,4,4,NaN,4,4,1
28,Wuakerong,1,3,0,4,3,4,NaN,4,0,3

In [311]:
IKP_percent_only = IKP_percent_only.merge(
    persentase_UMK[['Desa/Kelurahan','Persentase UMK']].rename(columns={'Persentase UMK':'II.3.3.2'}),
    on='Desa/Kelurahan', how='left'
)

In [312]:
IKP_percent_only

,Desa/Kelurahan,I.2.1.1,I.3.1.1,I.4.1.1,II.1.1.2,II.1.2.3,II.1.3.1,II.3.3.2
0,Balauring,91.666667,0.000000,100.000000,8.333333,50.000000,25.000000,33.333333
1,Benihading,90.000000,3.333333,76.666667,10.000000,100.000000,100.000000,13.333333
2,Bour,70.588235,11.764706,70.588235,82.352941,58.823529,83.333333,58.823529
3,Dikesare,22.222222,0.000000,63.888889,0.000000,100.000000,NaN,22.222222
4,Duawutun,80.000000,0.000000,55.000000,0.000000,100.000000,NaN,70.000000
5,Dulitukan,36.363636,0.000000,95.454545,0.000000,100.000000,NaN,4.545455
6,Hoelea I,96.428571,0.000000,91.071429,60.714286,14.285714,0.000000,28.571429
7,Ile Kimok,93.103448,0.000000,100.000000,55.172414,93.103448,33.333333,37.931034
8,Kalikur,69.230769,0.000000,80.769231,84.615385,0.000000,9.090909,38.461538
9,Katakeja,7.692308,0.000000,3.846154,53.846154,100.000000,25.000000,7.692308
10,Labalimut,80.000000,0.000000,80.000000,0.000000,100.000000,50.000000,60.000000
11,Lamatuka,96.153846,0.000000,86.538462,0.000000,96.153846,50.000000,26.923077
12,Laranwutun,72.727273,0.000000,52.272727,50.000000,95.454545,50.000000,50.000000
13,Lolong,30.434783,0.000000,86.956522,0.000000,100.000000,NaN,0.000000
14,Mahal,52.173913,0.000000,95.652174,82.608696,30.434783,NaN,30.434783
15,Merdeka,52.000000,0.000000,88.000000,28.000000,96.000000,NaN,20.000000
16,Muruona,25.806452,0.000000,24.193548,48.387097,93.548387,NaN,12.903226
17,Nubamado,51.851852,7.407407,83.333333,29.629630,92.592593,66.666667,18.518519
18,Pada,41.666667,8.333333,50.000000,16.666667,83.333333,0.000000,25.000000
19,Paubokol,100.000000,0.000000,100.000000,45.000000,95.000000,NaN,55.000000
20,Puor,73.684211,26.315789,89.473684,0.000000,84.210526,16.666667,36.842105
21,Riangbao,68.750000,0.000000,65.625000,37.500000,100.000000,83.333333,18.750000
22,Tagawiti,40.000000,0.000000,90.000000,0.000000,100.000000,NaN,20.000000
23,Todanara,30.434783,0.000000,47.826087,52.173913,95.652174,15.384615,21.739130
24,Tubuk Rajan,100.000000,0.000000,100.000000,0.000000,100.000000,0.000000,100.000000
25,Tubungwalang,65.000000,0.000000,85.000000,20.000000,30.000000,0.000000,45.000000
26,Waienga,52.173913,0.000000,100.000000,91.304348,95.652174,90.476190,21.739130
27,Watodiri,71.428571,0.000000,60.714286,3.571429,96.428571,NaN,10.714286
28,Wuakerong,73.333333,0.000000,80.000000,40.000000,100.000000,NaN,60.000000

# Pilar 3

### III.1.1.1 Pola Pangan Harapan (PPH)

In [313]:
df_kal = pd.read_csv("kalori_konsumsi.csv")

In [314]:
df_kal['Desa/Kelurahan'] = df_kal['Desa/Kelurahan'].str.replace(r'\bPADA\b', 'Pada', regex=True)

In [315]:
df_kal

,ID,Desa/Kelurahan,Total_Kalori,kalori_200g_Biskuit_Roti_Kue_Kemasan,kalori_400g_MSG,kalori_botol_Kecap,kalori_botol_Minuman_Fermentasi,kalori_botol_Minuman_Kemasan,kalori_bungkus_Bumbu_Kemasan,kalori_bungkus_Mie_Instan,...,kalori_kg_Singkong,kalori_kg_Susu_Bubuk_UHT,kalori_kg_Tahu_dan_Tempe,kalori_kg_Telor,kalori_kg_Timun,kalori_kg_Tomat,kalori_kg_Umbi-umbian_lain,kalori_kg_Wortel,kalori_ons_Kemiri,kalori_ons_Lada
0,22180,Lolong,82116.14,916.0,0.0,159.77,0.00,0.00,0.0,846.74,...,7454.89,528.87,800.0,953.89,86.38,181.45,1660.28,159.36,263.06,154.20
1,22190,Paubokol,1924275.41,0.0,0.0,5751.82,0.00,0.00,0.0,0.00,...,0.00,63463.92,76800.0,34339.87,1036.61,2177.36,0.00,1912.27,0.00,3700.69
2,22195,Paubokol,1470538.82,0.0,0.0,0.00,0.00,0.00,0.0,0.00,...,231000.00,0.00,0.0,34339.87,0.00,0.00,0.00,0.00,0.00,0.00
3,22200,Paubokol,5328784.35,0.0,0.0,3834.55,0.00,0.00,0.0,0.00,...,308000.00,0.00,19200.0,34339.87,86.38,0.00,260000.00,1912.27,0.00,0.00
4,22205,Paubokol,4250147.36,68700.0,0.0,0.00,2138.49,0.00,0.0,0.00,...,616000.00,63463.92,76800.0,57233.11,0.00,0.00,26000.00,5736.80,0.00,9251.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,24866,Todanara,607289.40,0.0,0.0,287.59,0.00,0.00,0.0,0.00,...,154000.00,0.00,1600.0,3100.13,0.00,362.89,0.00,0.00,0.00,0.00
877,24867,Todanara,263289.83,0.0,0.0,127.82,0.00,0.00,0.0,0.00,...,15400.00,0.00,1600.0,953.89,0.00,0.00,0.00,0.00,0.00,0.00
878,24869,Todanara,185344.98,3435.0,0.0,639.09,0.00,1171.74,0.0,4233.70,...,0.00,1586.60,800.0,3100.13,431.92,907.24,0.00,318.71,0.00,0.00
879,24887,Labalimut,130503.89,0.0,0.0,0.00,0.00,0.00,0.0,0.00,...,0.00,0.00,1600.0,953.89,0.00,0.00,0.00,159.36,0.00,616.78
880,24957,Todanara,1141102.67,0.0,0.0,0.00,0.00,0.00,0.0,0.00,...,0.00,264.43,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [316]:
kelompok_cols = {
    "padi-padian": [
        "kalori_200g_Biskuit_Roti_Kue_Kemasan",
        "kalori_kg_Beras_Lokal_Sawah_Ladang",
        "kalori_kg_Beras_Toko",
        "kalori_kg_Jagung_Hibrida",
        "kalori_kg_Jagung_Lokal",
        "kalori_kg_Jewawut_Weteng",
    ],
    "pangan hewani": [
        "kalori_kg_Ayam",
        "kalori_kg_Daging_Sapi_Kerbau_Kambing_Babi,dll",
        "kalori_kg_Ikan_dan_Boga_Laut_Kering",
        "kalori_kg_Ikan_dan_Boga_Laut_Segar",
        "kalori_kg_Susu_Bubuk_UHT",
        "kalori_kg_Telor",
    ],
    "sayur dan buah": [
        "kalori_butir_Kelapa",
        "kalori_kg_Bayam",
        "kalori_kg_Daun_Ubi",
        "kalori_kg_Jeruk",
        "kalori_kg_Kangkung",
        "kalori_kg_Kubis",
        "kalori_kg_Labu",
        "kalori_kg_Mangga",
        "kalori_kg_Pepaya",
        "kalori_kg_Pisang",
        "kalori_kg_Salak",
        "kalori_kg_Sawi",
        "kalori_kg_Timun",
        "kalori_kg_Tomat",
        "kalori_kg_Wortel",
    ],
    "umbi-umbian": [
        "kalori_kg_Singkong",
        "kalori_kg_Umbi-umbian_lain",
    ],
    "kacang-kacangan": [
        "kalori_kg_Kacang-kacangan",
        "kalori_kg_Tahu_dan_Tempe",
    ],
    "buah dan biji berminyak": [
        "kalori_ons_Kemiri",
    ],
    "minyak dan lemak": [
        "kalori_kg_Minyak_Goreng_Kemasan_Toko",
        "kalori_kg_Minyak_Kelapa",
    ],
    "gula": [
        "kalori_kg_Gula_Pasir",
        "kalori_kg_Kental_Manis",
    ],
    "lainnya (bumbu)": [
        "kalori_400g_MSG",
        "kalori_botol_Kecap",
        "kalori_bungkus_Bumbu_Kemasan",
        "kalori_kg_Bawang_Merah",
        "kalori_kg_Bawang_Putih",
        "kalori_kg_Cabai_Besar",
        "kalori_kg_Cabai_Kecil",
        "kalori_ons_Lada",
    ],
}

In [317]:
def ringkas_kalori_per_kelompok(df_kal: pd.DataFrame) -> pd.DataFrame:
    id_cols = ["ID", "Desa/Kelurahan"]
    out = df_kal[id_cols].copy()

    # total per kelompok (hanya kolom yang ada)
    for nama_kelompok, cols in kelompok_cols.items():
        cols_ada = [c for c in cols if c in df_kal.columns]
        if cols_ada:
            out[f"total_kalori_{nama_kelompok}"] = df_kal[cols_ada].fillna(0).sum(axis=1)
        else:
            out[f"total_kalori_{nama_kelompok}"] = 0.0

    # Total_Kalori = jumlah dari 9 kelompok (BUKAN semua 'kalori_')
    kol_kelompok = [f"total_kalori_{k}" for k in kelompok_cols.keys()]
    out["Total_Kalori"] = out[kol_kelompok].sum(axis=1, min_count=1)

    # proporsi per kelompok (% dari total)
    for nama_kelompok in kelompok_cols.keys():
        tot_k = out[f"total_kalori_{nama_kelompok}"]
        out[f"persen_{nama_kelompok}"] = np.where(
            out["Total_Kalori"] > 0, (tot_k / out["Total_Kalori"]) * 100, 0.0
        )

    # rapikan kolom
    kol_kelompok_sorted = sorted(kol_kelompok)
    kol_persen   = sorted([f"persen_{k}" for k in kelompok_cols.keys()])
    out = out[["ID", "Desa/Kelurahan", "Total_Kalori"] + kol_kelompok_sorted + kol_persen].round(2)
    return out

In [318]:
ringkasan_kelompok = ringkas_kalori_per_kelompok(df_kal)

In [319]:
ringkasan_kelompok

,ID,Desa/Kelurahan,Total_Kalori,total_kalori_buah dan biji berminyak,total_kalori_gula,total_kalori_kacang-kacangan,total_kalori_lainnya (bumbu),total_kalori_minyak dan lemak,total_kalori_padi-padian,total_kalori_pangan hewani,...,total_kalori_umbi-umbian,persen_buah dan biji berminyak,persen_gula,persen_kacang-kacangan,persen_lainnya (bumbu),persen_minyak dan lemak,persen_padi-padian,persen_pangan hewani,persen_sayur dan buah,persen_umbi-umbian
0,22180,Lolong,81269.41,263.06,4135.40,800.00,1237.91,7018.10,54496.00,2548.32,...,9115.17,0.32,5.09,0.98,1.52,8.64,67.06,3.14,2.04,11.22
1,22190,Paubokol,1924275.42,0.00,124061.93,129796.04,24518.98,105271.51,1326000.00,188974.97,...,0.00,0.00,6.45,6.75,1.27,5.47,68.91,9.82,1.33,0.00
2,22195,Paubokol,1470538.82,0.00,192884.11,0.00,10955.06,126325.81,818000.00,76190.83,...,231000.00,0.00,13.12,0.00,0.74,8.59,55.63,5.18,1.03,15.71
3,22200,Paubokol,5328784.36,0.00,54587.25,19200.00,18901.02,210543.02,4384600.00,64388.07,...,568000.00,0.00,1.02,0.36,0.35,3.95,82.28,1.21,0.16,10.66
4,22205,Paubokol,4223120.26,0.00,219568.16,182792.09,60036.51,210543.02,2639700.00,246667.81,...,642000.00,0.00,5.20,4.33,1.42,4.99,62.51,5.84,0.52,15.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,24866,Todanara,607289.39,0.00,6374.81,1600.00,1200.51,41269.59,391066.67,5835.03,...,154000.00,0.00,1.05,0.26,0.20,6.80,64.40,0.96,0.98,25.36
877,24867,Todanara,263289.84,0.00,0.00,19265.35,584.28,21054.30,193733.33,8834.49,...,15400.00,0.00,0.00,7.32,0.22,8.00,73.58,3.36,1.68,5.85
878,24869,Todanara,177635.02,0.00,33941.74,800.00,3856.35,28072.40,95931.67,8704.89,...,0.00,0.00,19.11,0.45,2.17,15.80,54.00,4.90,3.56,0.00
879,24887,Labalimut,129927.78,0.00,6203.10,1600.00,1987.25,35090.50,79333.33,4661.13,...,0.00,0.00,4.77,1.23,1.53,27.01,61.06,3.59,0.81,0.00
880,24957,Todanara,1141102.68,0.00,3807.72,0.00,456.46,4561.77,1129250.00,1261.16,...,0.00,0.00,0.33,0.00,0.04,0.40,98.96,0.11,0.15,0.00

In [320]:
ringkasan_kelompok.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 21 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    881 non-null    int64
 1   Desa/Kelurahan                        881 non-null    object
 2   Total_Kalori                          881 non-null    float64
 3   total_kalori_buah dan biji berminyak  881 non-null    float64
 4   total_kalori_gula                     881 non-null    float64
 5   total_kalori_kacang-kacangan          881 non-null    float64
 6   total_kalori_lainnya (bumbu)          881 non-null    float64
 7   total_kalori_minyak dan lemak         881 non-null    float64
 8   total_kalori_padi-padian              881 non-null    float64
 9   total_kalori_pangan hewani            881 non-null    float64
 10  total_kalori_sayur dan buah           881 non-null    float64
 11  total_kalori_umbi-umbian              881 non-null    float64
 12  persen_buah dan biji berminyak        881 non-null    float64
 13  persen_gula                           881 non-null    float64
 14  persen_kacang-kacangan                881 non-null    float64
 15  persen_lainnya (bumbu)                881 non-null    float64
 16  persen_minyak dan lemak               881 non-null    float64
 17  persen_padi-padian                    881 non-null    float64
 18  persen_pangan hewani                  881 non-null    float64
 19  persen_sayur dan buah                 881 non-null    float64
 20  persen_umbi-umbian                    881 non-null    float64
dtypes: float64(19), int64(1), object(1)
memory usage: 144.7+ KB

In [321]:
# daftar kategori mengikuti keys di kelompok_cols
kategori = list(kelompok_cols.keys())

# proporsi IDEAL (%)
ideal = {
    "padi-padian":             50,
    "umbi-umbian":              6,
    "pangan hewani":           12,
    "minyak dan lemak":        10,
    "buah dan biji berminyak":  3,
    "kacang-kacangan":          5,
    "gula":                     5,
    "sayur dan buah":           6,
    "lainnya (bumbu)":          3,
}

# helper: nama kolom persen & total-kalori di ringkasan
persen_col = {k: f"persen_{k}" for k in kategori}
total_col  = {k: f"total_kalori_{k}" for k in kategori}

In [322]:
def skor_pph(x: float) -> int:
    if x < 40:   return 0
    if x <= 60:  return 1
    if x <= 75:  return 2
    if x <= 90:  return 3
    return 4

In [323]:
def pph_desa_from_totals(ringkasan_kelompok: pd.DataFrame) -> pd.DataFrame:
    # kolom total_kalori_* untuk 9 kategori
    kol_tot = [f"total_kalori_{k}" for k in kategori]
    # pastikan ada (kalau belum, jalankan ringkas_kalori_per_kelompok dulu)
    missing = [c for c in kol_tot if c not in ringkasan_kelompok.columns]
    if missing:
        raise ValueError(f"Kolom hilang di ringkasan: {missing}")

    # 1) agregasi total energi per-kelompok ke level desa
    agg = (ringkasan_kelompok
           .groupby("Desa/Kelurahan", as_index=False)[kol_tot]
           .sum())

    # 2) total energi desa (hanya dari 9 kelompok)
    agg["Total_Kalori_Desa"] = agg[kol_tot].sum(axis=1, min_count=1)

    # 3) persen per-kelompok di desa
    for k in kategori:
        agg[f"persen_{k}"] = np.where(
            agg["Total_Kalori_Desa"] > 0,
            (agg[f"total_kalori_{k}"] / agg["Total_Kalori_Desa"]) * 100.0,
            0.0
        )

    # 4) deviasi & PPH desa
    for k in kategori:
        agg[f"deviasi_{k}"] = (agg[f"persen_{k}"] - ideal[k]).abs()

    dev_cols = [f"deviasi_{k}" for k in kategori]
    persen_cols = [f"persen_{k}" for k in kategori]

    agg["total_deviasi_pph"] = agg[dev_cols].sum(axis=1)
    agg["PPH_Desa"] = (100 - agg["total_deviasi_pph"]).clip(0, 100)
    agg["Skor_PPH_Desa"] = agg["PPH_Desa"].apply(skor_pph).astype("int32")
    agg["cek_jumlah_persen"] = agg[persen_cols].sum(axis=1)

    # 5) keluaran ringkas per desa (kalau mau tampilkan persen per kelompok, tambahkan persen_cols)
    out_cols = ["Desa/Kelurahan", "PPH_Desa", "Skor_PPH_Desa", "cek_jumlah_persen"]
    return agg[out_cols].round(2)

In [324]:
pph_per_desa = pph_desa_from_totals(ringkasan_kelompok)
pph_per_desa

   Desa/Kelurahan  PPH_Desa  Skor_PPH_Desa  cek_jumlah_persen
0       Balauring     15.81              0              100.0
1      Benihading     47.40              1              100.0
2            Bour     48.79              1              100.0
3        Dikesare     14.44              0              100.0
4        Duawutun     36.67              0              100.0
5       Dulitukan      9.18              0              100.0
6        Hoelea I     13.09              0              100.0
7       Ile Kimok     57.72              1              100.0
8         Kalikur      0.00              0              100.0
9        Katakeja      6.83              0              100.0
10      Labalimut     56.28              1              100.0
11       Lamatuka     53.97              1              100.0
12     Laranwutun      9.43              0              100.0
13         Lolong     52.39              1              100.0
14          Mahal     39.41              0              100.0
15        Merdeka     44.28              1              100.0
16        Muruona      0.00              0              100.0
17       Nubamado     26.66              0              100.0
18           Pada     58.20              1              100.0
19       Paubokol     47.24              1              100.0
20           Puor     51.77              1              100.0
21       Riangbao     56.99              1              100.0
22       Tagawiti     56.14              1              100.0
23       Todanara      0.17              0              100.0
24    Tubuk Rajan     46.91              1              100.0
25   Tubungwalang     12.83              0              100.0
26        Waienga     46.85              1              100.0
27       Watodiri     54.08              1              100.0
28      Wuakerong     58.41              1              100.0

In [325]:
IKP = IKP.merge(
    pph_per_desa[['Desa/Kelurahan','Skor_PPH_Desa']].rename(columns={'Skor_PPH_Desa':'III.1.1.1'}),
    on='Desa/Kelurahan', how='left'
)

In [326]:
IKP

,Desa/Kelurahan,I.1.1.1,I.2.1.1,I.3.1.1,I.4.1.1,II.1.1.2,II.1.2.3,II.1.3.1,II.2.2.1,II.3.3.1,II.3.3.2,III.1.1.1
0,Balauring,0,4,0,4,4,2,1.0,0,0,2,0
1,Benihading,1,4,1,4,4,4,4.0,4,0,1,1
2,Bour,1,3,1,3,0,3,4.0,3,0,3,1
3,Dikesare,0,1,0,3,4,4,NaN,2,0,1,0
4,Duawutun,4,4,0,3,4,4,NaN,2,0,3,0
5,Dulitukan,4,2,0,4,4,4,NaN,4,0,1,0
6,Hoelea I,1,4,0,4,2,1,0.0,1,0,2,0
7,Ile Kimok,0,4,0,4,2,4,2.0,0,0,2,1
8,Kalikur,0,3,0,4,0,0,1.0,1,4,2,0
9,Katakeja,1,1,0,1,2,4,1.0,4,0,1,0
10,Labalimut,0,4,0,4,4,4,2.0,3,4,3,1
11,Lamatuka,0,4,0,4,4,4,2.0,4,0,2,1
12,Laranwutun,0,3,0,3,2,4,2.0,3,4,2,0
13,Lolong,0,2,0,4,4,4,NaN,4,0,0,1
14,Mahal,0,3,0,4,0,2,NaN,2,4,2,0
15,Merdeka,1,3,0,4,3,4,NaN,4,0,1,1
16,Muruona,4,2,0,1,2,4,NaN,3,0,1,0
17,Nubamado,1,3,1,4,3,4,3.0,3,0,1,0
18,Pada,0,2,1,2,4,4,0.0,3,0,1,1
19,Paubokol,0,4,0,4,2,4,NaN,3,0,3,1
20,Puor,1,3,2,4,4,4,1.0,4,0,2,1
21,Riangbao,0,3,0,3,3,4,4.0,2,4,1,1
22,Tagawiti,4,2,0,4,4,4,NaN,2,0,1,1
23,Todanara,1,2,0,2,2,4,1.0,1,4,1,0
24,Tubuk Rajan,4,4,0,4,4,4,0.0,4,0,4,1
25,Tubungwalang,0,3,0,4,4,2,0.0,1,0,2,0
26,Waienga,0,3,0,4,0,4,4.0,0,0,1,1
27,Watodiri,4,3,0,3,4,4,NaN,4,4,1,1
28,Wuakerong,1,3,0,4,3,4,NaN,4,0,3,1

### III.1.1.2 Indeks Shanon Weiner / Indeks Keanekaragaman

In [327]:
carb_cols_raw = [
    "kalori_200g_Biskuit_Roti_Kue_Kemasan",
    "kalori_kg_Beras_Lokal_Sawah_Ladang",
    "kalori_kg_Beras_Toko",
    "kalori_kg_Jagung_Hibrida",
    "kalori_kg_Jagung_Lokal",
    "kalori_kg_Jewawut_Weteng",
    "kalori_kg_Singkong",
    "kalori_kg_Umbi-umbian_lain",
    "kalori_bungkus_Mie_Instan",
    "kalori_kg_Pisang",
]

protein_cols_raw = [
    "kalori_kg_Ayam",
    "kalori_kg_Daging_Sapi_Kerbau_Kambing_Babi,dll",
    "kalori_kg_Ikan_dan_Boga_Laut_Kering",
    "kalori_kg_Ikan_dan_Boga_Laut_Segar",
    "kalori_kg_Susu_Bubuk_UHT",
    "kalori_kg_Telor",
    "kalori_kg_Kacang-kacangan",
    "kalori_kg_Tahu_dan_Tempe",
]

In [328]:
def _H_from_row(vals: np.ndarray) -> float:
    v = np.asarray(vals, dtype=float)
    v = np.nan_to_num(v, nan=0.0, posinf=0.0, neginf=0.0)
    N = v.sum()
    if N <= 0:
        return 0.0
    p = v / N
    p = p[p > 0]
    return float(-np.sum(p * np.log(p)))   # natural log

def _skor_shannon(h: float) -> int:
    if h < 2:      return 0
    elif h <= 2.5: return 1
    elif h <= 3.0: return 2
    elif h <= 3.5: return 3
    else:          return 4

def shannon_weiner_per_desa(df_kal: pd.DataFrame,
                            carb_cols=carb_cols_raw,
                            protein_cols=protein_cols_raw) -> pd.DataFrame:
    # gunakan hanya kolom yang ada di df_kal
    carb_cols    = sorted(set([c for c in carb_cols if c in df_kal.columns]))
    protein_cols = sorted(set([c for c in protein_cols if c in df_kal.columns]))
    all_cols     = sorted(set(carb_cols + protein_cols))
    if not all_cols:
        raise ValueError("Tidak ada kolom komoditas yang ditemukan di df_kal.")

    # siapkan & pastikan numerik
    tmp = df_kal[["Desa/Kelurahan"] + all_cols].copy()
    tmp[all_cols] = tmp[all_cols].apply(pd.to_numeric, errors="coerce").fillna(0.0)

    # agregasi total kkal per komoditas di level desa
    agg = tmp.groupby("Desa/Kelurahan", as_index=False).sum()

    # H' gabungan (karbo + protein)
    agg["H_all"] = [_H_from_row(row) for row in agg[all_cols].to_numpy()]
    agg["S_all"] = (agg[all_cols] > 0).sum(axis=1)
    agg["H_max"] = np.where(agg["S_all"] > 0, np.log(agg["S_all"]), 0.0)
    agg["Evenness"] = np.where(agg["H_max"] > 0, agg["H_all"] / agg["H_max"], 0.0)

    # opsional: H' per blok (buat analisis)
    if carb_cols:
        agg["H_karbo"] = [_H_from_row(row) for row in agg[carb_cols].to_numpy()]
        agg["S_karbo"] = (agg[carb_cols] > 0).sum(axis=1)
    else:
        agg["H_karbo"] = 0.0; agg["S_karbo"] = 0

    if protein_cols:
        agg["H_protein"] = [_H_from_row(row) for row in agg[protein_cols].to_numpy()]
        agg["S_protein"] = (agg[protein_cols] > 0).sum(axis=1)
    else:
        agg["H_protein"] = 0.0; agg["S_protein"] = 0

    # skor 0–4 berdasarkan H_all
    agg["Skor_Shannon"] = agg["H_all"].apply(_skor_shannon).astype("int32")

    return agg[[
        "Desa/Kelurahan",
        "H_all", "H_max", "Evenness", "Skor_Shannon", "S_all",
        "H_karbo", "S_karbo", "H_protein", "S_protein"
    ]].round(6)

In [329]:
indeks_shannon_per_desa = shannon_weiner_per_desa(df_kal)

In [330]:
indeks_shannon_per_desa

,Desa/Kelurahan,H_all,H_max,Evenness,Skor_Shannon,S_all,H_karbo,S_karbo,H_protein,S_protein
0,Balauring,0.208003,2.484907,0.083707,0,12,0.000042,8,0.000019,4
1,Benihading,1.444729,2.708050,0.533494,0,15,1.167035,9,1.710514,6
2,Bour,1.665558,2.772589,0.600723,0,16,1.434408,9,1.838570,7
3,Dikesare,0.159457,2.833213,0.056281,0,17,0.026120,9,0.107450,8
4,Duawutun,1.600339,2.639057,0.606406,0,14,1.424551,9,1.327480,5
5,Dulitukan,0.955557,2.772589,0.344644,0,16,0.834552,9,0.702663,7
6,Hoelea I,0.170351,2.397895,0.071042,0,11,0.000167,6,0.133579,5
7,Ile Kimok,1.505903,2.639057,0.570621,0,14,1.070069,7,1.630693,7
8,Kalikur,0.202505,2.708050,0.074779,0,15,0.321602,8,0.001318,7
9,Katakeja,0.676517,2.833213,0.238781,0,17,0.511974,9,0.684001,8
10,Labalimut,1.680417,2.708050,0.620527,0,15,1.400867,8,1.774800,7
11,Lamatuka,1.664324,2.833213,0.587433,0,17,1.355180,9,1.820186,8
12,Laranwutun,0.207987,2.772589,0.075016,0,16,0.037527,9,0.000420,7
13,Lolong,1.430977,2.772589,0.516116,0,16,1.147022,9,1.876037,7
14,Mahal,1.234699,2.772589,0.445324,0,16,1.093516,9,1.660100,7
15,Merdeka,1.354051,2.833213,0.477921,0,17,1.046496,9,1.738750,8
16,Muruona,0.033511,2.772589,0.012086,0,16,1.351313,9,0.001826,7
17,Nubamado,0.930295,2.772589,0.335533,0,16,0.753029,8,1.795058,8
18,Pada,1.672062,2.890372,0.578494,0,18,1.375976,10,1.731787,8
19,Paubokol,1.424780,2.639057,0.539882,0,14,1.198685,7,1.752162,7
20,Puor,1.577311,2.772589,0.568895,0,16,1.285916,9,1.752031,7
21,Riangbao,1.744237,2.772589,0.629101,0,16,1.415664,9,1.739728,7
22,Tagawiti,1.121762,2.772589,0.404590,0,16,0.810312,8,1.521833,8
23,Todanara,0.624439,2.833213,0.220400,0,17,0.622621,9,1.754864,8
24,Tubuk Rajan,1.584933,2.772589,0.571644,0,16,1.380500,8,1.735613,8
25,Tubungwalang,0.929698,2.890372,0.321653,0,18,0.921422,10,1.911307,8
26,Waienga,1.396444,2.833213,0.492883,0,17,1.101714,9,1.851826,8
27,Watodiri,1.475129,2.708050,0.544720,0,15,1.086724,8,1.714189,7
28,Wuakerong,1.665461,2.833213,0.587835,0,17,1.361632,9,1.913750,8

In [331]:
IKP = IKP.merge(
    indeks_shannon_per_desa[['Desa/Kelurahan','Skor_Shannon']].rename(columns={'Skor_Shannon':'III.1.1.2'}),
    on='Desa/Kelurahan', how='left'
)

In [332]:
IKP

,Desa/Kelurahan,I.1.1.1,I.2.1.1,I.3.1.1,I.4.1.1,II.1.1.2,II.1.2.3,II.1.3.1,II.2.2.1,II.3.3.1,II.3.3.2,III.1.1.1,III.1.1.2
0,Balauring,0,4,0,4,4,2,1.0,0,0,2,0,0
1,Benihading,1,4,1,4,4,4,4.0,4,0,1,1,0
2,Bour,1,3,1,3,0,3,4.0,3,0,3,1,0
3,Dikesare,0,1,0,3,4,4,NaN,2,0,1,0,0
4,Duawutun,4,4,0,3,4,4,NaN,2,0,3,0,0
5,Dulitukan,4,2,0,4,4,4,NaN,4,0,1,0,0
6,Hoelea I,1,4,0,4,2,1,0.0,1,0,2,0,0
7,Ile Kimok,0,4,0,4,2,4,2.0,0,0,2,1,0
8,Kalikur,0,3,0,4,0,0,1.0,1,4,2,0,0
9,Katakeja,1,1,0,1,2,4,1.0,4,0,1,0,0
10,Labalimut,0,4,0,4,4,4,2.0,3,4,3,1,0
11,Lamatuka,0,4,0,4,4,4,2.0,4,0,2,1,0
12,Laranwutun,0,3,0,3,2,4,2.0,3,4,2,0,0
13,Lolong,0,2,0,4,4,4,NaN,4,0,0,1,0
14,Mahal,0,3,0,4,0,2,NaN,2,4,2,0,0
15,Merdeka,1,3,0,4,3,4,NaN,4,0,1,1,0
16,Muruona,4,2,0,1,2,4,NaN,3,0,1,0,0
17,Nubamado,1,3,1,4,3,4,3.0,3,0,1,0,0
18,Pada,0,2,1,2,4,4,0.0,3,0,1,1,0
19,Paubokol,0,4,0,4,2,4,NaN,3,0,3,1,0
20,Puor,1,3,2,4,4,4,1.0,4,0,2,1,0
21,Riangbao,0,3,0,3,3,4,4.0,2,4,1,1,0
22,Tagawiti,4,2,0,4,4,4,NaN,2,0,1,1,0
23,Todanara,1,2,0,2,2,4,1.0,1,4,1,0,0
24,Tubuk Rajan,4,4,0,4,4,4,0.0,4,0,4,1,0
25,Tubungwalang,0,3,0,4,4,2,0.0,1,0,2,0,0
26,Waienga,0,3,0,4,0,4,4.0,0,0,1,1,0
27,Watodiri,4,3,0,3,4,4,NaN,4,4,1,1,0
28,Wuakerong,1,3,0,4,3,4,NaN,4,0,3,1,0

### III.1.2.1 Asal Bahan Baku

In [333]:
desc = df_kal.describe(include="all").T
desc_sorted = desc.sort_values(by="mean", ascending=False)  # NaN otomatis di bawah
desc_sorted

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Total_Kalori,881.0,NaN,NaN,NaN,43238396511.511322,1139666293567.838623,0.0,148750.0,271677.61,1429264.79,33686140034394.601562
kalori_kg_Beras_Toko,881.0,NaN,NaN,NaN,32350653237.522781,863324803074.180298,0.0,42500.0,85000.0,221000.0,25500002550000.0
kalori_bungkus_Rokok_Kemasan,881.0,NaN,NaN,NaN,7089113229.357786,209629971800.948578,0.0,0.0,0.0,1152.25,6222154002919.040039
kalori_kg_Ikan_dan_Boga_Laut_Segar,881.0,NaN,NaN,NaN,1813178699.83025,50678326984.734825,0.0,1669.34,4173.36,12520.08,1502410266469.129883
kalori_kg_Minyak_Goreng_Kemasan_Toko,881.0,NaN,NaN,NaN,1726374024.458354,31390224477.556755,0.0,12632.58,28072.4,84217.21,757955297984.040039
kalori_ons_Kemiri,881.0,NaN,NaN,NaN,74661125.636322,2215861246.448946,0.0,0.0,0.0,0.0,65770411803.389999
kalori_kg_Gula_Pasir,881.0,NaN,NaN,NaN,66225560.645562,1384640853.190734,0.0,4135.4,8270.8,37218.58,37218667125.690002
kalori_kg_Telor,881.0,NaN,NaN,NaN,42476455.08941,1253354548.626254,0.0,0.0,1430.83,3577.07,37201560940.260002
kalori_kg_Cabai_Kecil,881.0,NaN,NaN,NaN,21386617.471975,445662612.311236,0.0,0.0,0.0,779.9,9358867578.719999
kalori_kg_Bawang_Merah,881.0,NaN,NaN,NaN,20241637.289569,347105240.397206,0.0,227.69,569.22,1366.13,6830674177.1
kalori_kg_Bawang_Putih,881.0,NaN,NaN,NaN,14103168.259467,248785736.286624,0.0,228.77,457.54,1372.63,5490536626.02
kalori_kg_Jagung_Lokal,881.0,NaN,NaN,NaN,4988895.768354,96403684.673667,0.0,0.0,18300.0,91500.0,2196000000.0
kalori_kg_Kangkung,881.0,NaN,NaN,NaN,4385656.758331,127897450.918477,0.0,0.0,316.31,1265.25,3795756168.1
kalori_kg_Beras_Lokal_Sawah_Ladang,881.0,NaN,NaN,NaN,2500880.778014,51836898.941156,0.0,0.0,0.0,37600.0,1342870571.43
kalori_kg_Singkong,881.0,NaN,NaN,NaN,2171936.760636,42998082.122258,0.0,0.0,2365.95,15400.0,1182989245.66
kalori_kg_Cabai_Besar,881.0,NaN,NaN,NaN,2122326.418695,62690379.746557,0.0,0.0,0.0,0.0,1860747528.7
kalori_kg_Tomat,881.0,NaN,NaN,NaN,1278676.445448,36697659.678735,0.0,0.0,0.0,362.89,1088684853.71
kalori_kg_Jagung_Hibrida,881.0,NaN,NaN,NaN,1069215.409705,20437644.077891,0.0,0.0,0.0,0.0,482663404.98
kalori_kg_Timun,881.0,NaN,NaN,NaN,588413.579682,17462175.838965,0.0,0.0,0.0,0.0,518306187.24
kalori_kg_Umbi-umbian_lain,881.0,NaN,NaN,NaN,341066.865471,7100960.370726,0.0,0.0,0.0,1300.0,166029757.34
kalori_botol_Kecap,881.0,NaN,NaN,NaN,229317.864143,5006364.955732,0.0,0.0,159.77,575.18,134211808.98
kalori_butir_Kelapa,881.0,NaN,NaN,NaN,87757.566277,2601064.560228,0.0,0.0,0.0,0.0,77203976.69
kalori_kg_Sawi,881.0,NaN,NaN,NaN,65043.190851,1844046.40533,0.0,0.0,273.6,820.79,54720109.44
kalori_kg_Bayam,881.0,NaN,NaN,NaN,40773.155664,824043.479307,0.0,0.0,0.0,172.95,17295600.48
"kalori_kg_Daging_Sapi_Kerbau_Kambing_Babi,dll",881.0,NaN,NaN,NaN,24640.997673,724492.332129,0.0,0.0,0.0,0.0,21504242.57
ID,881.0,NaN,NaN,NaN,23211.780931,699.271664,22180.0,22662.0,23141.0,23634.0,24957.0
kalori_kg_Wortel,881.0,NaN,NaN,NaN,18329.463678,536880.308761,0.0,0.0,0.0,0.0,15935708.91
kalori_kg_Minyak_Kelapa,881.0,NaN,NaN,NaN,10032.058104,64587.366092,0.0,0.0,0.0,0.0,1047236.91
kalori_kg_Kacang-kacangan,881.0,NaN,NaN,NaN,8745.053927,103392.108192,0.0,0.0,0.0,0.0,2914782.36
kalori_kg_Susu_Bubuk_UHT,881.0,NaN,NaN,NaN,7589.737026,41998.197397,0.0,0.0,0.0,1586.6,804405.15
kalori_kg_Tahu_dan_Tempe,881.0,NaN,NaN,NaN,6708.46765,24939.624943,0.0,0.0,800.0,3200.0,537600.0
kalori_kg_Ayam,881.0,NaN,NaN,NaN,6108.515936,21579.777171,0.0,0.0,0.0,0.0,320895.65
kalori_200g_Biskuit_Roti_Kue_Kemasan,881.0,NaN,NaN,NaN,5290.393871,20166.709014,0.0,0.0,0.0,2290.0,274800.0
kalori_kg_Kental_Manis,881.0,NaN,NaN,NaN,5220.079625,23362.532747,0.0,0.0,0.0,0.0,382024.91
kalori_kg_Daun_Ubi,881.0,NaN,NaN,NaN,5160.435255,136336.415777,0.0,0.0,0.0,0.0,4041598.23
kalori_bungkus_Mie_Instan,881.0,NaN,NaN,NaN,3932.208751,12182.967258,0.0,0.0,0.0,2032.18,203217.61
kalori_kg_Ikan_dan_Boga_Laut_Kering,881.0,NaN,NaN,NaN,2962.107299,16660.621326,0.0,0.0,0.0,1296.45,388933.54
kalori_kg_Pisang,881.0,NaN,NaN,NaN,2811.988195,20042.582772,0.0,0.0,0.0,0.0,476704.27
kalori_kg_Kubis,881.0,NaN,NaN,NaN,2783.511555,68911.864969,0.0,0.0,0.0,0.0,2042982.46
kalori_ons_Lada,881.0,NaN,NaN,NaN,948.100057,20801.715085,0.0,0.0,0.0,0.0,616842.56
kalori_kg_Labu,881.0,NaN,NaN,NaN,592.24202,3043.239834,0.0,0.0,0.0,0.0,44678.87
kalori_kg_Pepaya,881.0,NaN,NaN,NaN,302.824393,2425.072572,0.0,0.0,0.0,0.0,46592.11
kalori_kg_Jeruk,881.0,NaN,NaN,NaN,205.025732,2657.010731,0.0,0.0,0.0,0.0,76400.68
kalori_kg_Mangga,881.0,NaN,NaN,NaN,141.70882,855.022126,0.0,0.0,0.0,0.0,13535.79
kalori_botol_Minuman_Kemasan,881.0,NaN,NaN,NaN,119.328888,691.469532,0.0,0.0,0.0,0.0,9842.65
kalori_kg_Salak,881.0,NaN,NaN,NaN,106.267775,849.586027,0.0,0.0,0.0,0.0,16989.98
kalori_kg_Jewawut_Weteng,881.0,NaN,NaN,NaN,49.580023,964.90081,0.0,0.0,0.0,0.0,21840.0
kalori_botol_Minuman_Fermentasi,881.0,NaN,NaN,NaN,15.29227,195.530488,0.0,0.0,0.0,0.0,5132.38
kalori_bungkus_Teh,881.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
kalori_bungkus_Bumbu_Kemasan,881.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
kalori_400g_MSG,881.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Desa/Kelurahan,881,29,Muruona,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [334]:
p_num = pd.read_csv("produksi_6_kategori.csv")
kb_num = pd.read_csv("konsumsi_beli_6_kategori.csv")
ktb_num = pd.read_csv("konsumsi_tidak_beli_6_kategori.csv")

In [335]:
# --- 4) util untuk cek "ada nilai > 0 di salah satu kolom kandidat" ---
KEYS = ["ID", "Desa/Kelurahan"]

def any_pos(df, cols, base_index):
    cols = [c for c in cols if c in df.columns]
    if not cols:
        return pd.Series(False, index=base_index)
    return df[cols].fillna(0).gt(0).any(axis=1).reindex(base_index, fill_value=False)

In [336]:
# --- 5) hitung skor ---
p   = p_num.set_index(KEYS)
kb  = kb_num.set_index(KEYS)
ktb = ktb_num.set_index(KEYS)
base_index = p.index.union(kb.index).union(ktb.index)

scores = {}

In [337]:
# --- 2) daftar kolom yang akan dipakai per komoditas (pakai kandidat biar tahan variasi nama) ---
P_MAP = {
    "beras":       ["Beras_Lokal_(Sawah/Ladang_dalam_Kg)"],
    "jagung":      ["Jagung_Lokal", "Jagung_Hibrida"],
    "singkong":    ["Singkong"],
    "ikan_segar":  ["Ikan_dan_Boga_Laut_Segar"],
    "telor":       ["Telor"],
    "daging":      ["Daging_(Sapi/Kerbau/Kambing/Babi,dll)"],
}
KB_MAP = {
    "beras":       ["Beras_Lokal_(Sawah/Ladang_dalam_Rp)", "Beras_Toko"],
    "jagung":      ["Jagung_Lokal.2", "Jagung_Hibrida.2"],
    "singkong":    ["Singkong.2"],
    "ikan_segar":  ["Ikan_dan_Boga_Laut_Segar.2"],
    "telor":       ["Telor.2"],
    "daging":      ["Daging_(Sapi/Kerbau/Kambing/Babi,dll).2",
                    "Daging_(Sapi/Kerbau/Kambing/Babi,dll).1",
                    "Daging_(Sapi/Kerbau/Kambing/Babi,dll)"],
}
KTB_MAP = {
    "beras":       ["Beras_Lokal_(Sawah/Ladang)"],
    "jagung":      ["Jagung_Lokal.1", "Jagung_Hibrida.1"],
    "singkong":    ["Singkong.1"],
    "ikan_segar":  ["Ikan_dan_Boga_Laut_Segar.1"],
    "telor":       ["Telor.1"],
    "daging":      ["Daging_(Sapi/Kerbau/Kambing/Babi,dll).1",
                    "Daging_(Sapi/Kerbau/Kambing/Babi,dll)"],
}

In [338]:
# BERAS: 100 kalau produksi / tidak beli / beli "Beras Lokal (Rp)"; 60 kalau hanya beli Beras Toko
beras_100 = (any_pos(ktb, KTB_MAP["beras"], base_index) |
             any_pos(p,   P_MAP["beras"],   base_index) |
             any_pos(kb,  ["Beras_Lokal_(Sawah/Ladang_dalam_Rp)"], base_index))
beras_60  = (~beras_100) & any_pos(kb, ["Beras_Toko"], base_index)
scores["beras"] = np.select([beras_100, beras_60], [100, 60], default=np.nan)

# JAGUNG
jagung_100 = any_pos(ktb, KTB_MAP["jagung"], base_index) | any_pos(p, P_MAP["jagung"], base_index)
jagung_60  = (~jagung_100) & any_pos(kb, KB_MAP["jagung"], base_index)
scores["jagung"] = np.select([jagung_100, jagung_60], [100, 60], default=np.nan)

# SINGKONG
singkong_100 = any_pos(ktb, KTB_MAP["singkong"], base_index) | any_pos(p, P_MAP["singkong"], base_index)
singkong_60  = (~singkong_100) & any_pos(kb, KB_MAP["singkong"], base_index)
scores["singkong"] = np.select([singkong_100, singkong_60], [100, 60], default=np.nan)

# IKAN SEGAR
ikan_100 = any_pos(ktb, KTB_MAP["ikan_segar"], base_index) | any_pos(p, P_MAP["ikan_segar"], base_index)
ikan_60  = (~ikan_100) & any_pos(kb, KB_MAP["ikan_segar"], base_index)
scores["ikan_segar"] = np.select([ikan_100, ikan_60], [100, 60], default=np.nan)

# TELOR
telor_100 = any_pos(ktb, KTB_MAP["telor"], base_index) | any_pos(p, P_MAP["telor"], base_index)
telor_60  = (~telor_100) & any_pos(kb, KB_MAP["telor"], base_index)
scores["telor"] = np.select([telor_100, telor_60], [100, 60], default=np.nan)

# DAGING
daging_100 = any_pos(ktb, KTB_MAP["daging"], base_index) | any_pos(p, P_MAP["daging"], base_index)
daging_60  = (~daging_100) & any_pos(kb, KB_MAP["daging"], base_index)
scores["daging"] = np.select([daging_100, daging_60], [100, 60], default=np.nan)

In [339]:
# --- 6) rakit dataframe hasil ---
asal_bahan = (pd.DataFrame({
    "ID": [i[0] for i in base_index],
    "Desa/Kelurahan": [i[1] for i in base_index],
    **scores
})
.sort_values(["Desa/Kelurahan", "ID"])
.reset_index(drop=True))

In [340]:
asal_bahan

        ID Desa/Kelurahan  beras  jagung  singkong  ikan_segar  telor  daging
0    22297      Balauring   60.0   100.0       NaN       100.0    NaN     NaN
1    22298      Balauring  100.0   100.0      60.0        60.0    NaN     NaN
2    22300      Balauring   60.0    60.0      60.0        60.0    NaN     NaN
3    22301      Balauring  100.0   100.0     100.0        60.0    NaN     NaN
4    22303      Balauring  100.0   100.0       NaN        60.0    NaN     NaN
..     ...            ...    ...     ...       ...         ...    ...     ...
876  24322      Wuakerong   60.0   100.0     100.0       100.0   60.0     NaN
877  24323      Wuakerong   60.0    60.0       NaN        60.0   60.0     NaN
878  24324      Wuakerong   60.0    60.0      60.0        60.0   60.0    60.0
879  24325      Wuakerong  100.0   100.0     100.0        60.0  100.0     NaN
880  24326      Wuakerong   60.0    60.0      60.0        60.0    NaN     NaN

[881 rows x 8 columns]

In [341]:
cols6 = ["beras", "jagung", "singkong", "ikan_segar", "telor", "daging"]

# berapa kategori yang punya skor (bukan NaN)
asal_bahan["n_kategori_terisi"] = asal_bahan[cols6].notna().sum(axis=1)

# rata-rata dari skor yang tersedia; jika semuanya NaN ⇒ hasil NaN
asal_bahan["rata_rata_6"] = asal_bahan[cols6].mean(axis=1, skipna=True).round(1)

asal_bahan

,ID,Desa/Kelurahan,beras,jagung,singkong,ikan_segar,telor,daging,n_kategori_terisi,rata_rata_6
0,22297,Balauring,60.0,100.0,NaN,100.0,NaN,NaN,3,86.7
1,22298,Balauring,100.0,100.0,60.0,60.0,NaN,NaN,4,80.0
2,22300,Balauring,60.0,60.0,60.0,60.0,NaN,NaN,4,60.0
3,22301,Balauring,100.0,100.0,100.0,60.0,NaN,NaN,4,90.0
4,22303,Balauring,100.0,100.0,NaN,60.0,NaN,NaN,3,86.7
...,...,...,...,...,...,...,...,...,...,...
876,24322,Wuakerong,60.0,100.0,100.0,100.0,60.0,NaN,5,84.0
877,24323,Wuakerong,60.0,60.0,NaN,60.0,60.0,NaN,4,60.0
878,24324,Wuakerong,60.0,60.0,60.0,60.0,60.0,60.0,6,60.0
879,24325,Wuakerong,100.0,100.0,100.0,60.0,100.0,NaN,5,92.0
880,24326,Wuakerong,60.0,60.0,60.0,60.0,NaN,NaN,4,60.0

In [342]:
persentase_asal_bahan = (
    asal_bahan.groupby('Desa/Kelurahan')['rata_rata_6']
      .apply(lambda x: x.mean())
      .reset_index(name='Persentase Asal Bahan')
)

def skor_ab(p):
    if p <= 31:
        return 0
    elif p <= 45:
        return 1
    elif p <= 65:
        return 2
    elif p <= 85:
        return 3
    else:
        return 4

persentase_asal_bahan['Skor'] = persentase_asal_bahan['Persentase Asal Bahan'].apply(skor_ab)

In [343]:
persentase_asal_bahan

   Desa/Kelurahan  Persentase Asal Bahan  Skor
0       Balauring              72.493333     3
1      Benihading              86.446667     4
2            Bour              79.546429     3
3        Dikesare              74.553333     3
4        Duawutun              85.090000     4
5       Dulitukan              69.553333     3
6        Hoelea I              76.286667     3
7       Ile Kimok              99.466667     4
8         Kalikur              70.686667     3
9        Katakeja              78.470968     3
10      Labalimut              80.533333     3
11       Lamatuka              82.151613     3
12     Laranwutun              84.780000     3
13         Lolong              86.113333     4
14          Mahal              77.576667     3
15        Merdeka              82.796667     3
16        Muruona              78.078049     3
17       Nubamado              87.710000     4
18           PADA              70.000000     3
19           Pada              72.753333     3
20       Paubokol              83.000000     3
21           Puor              79.420000     3
22       Riangbao              78.286667     3
23       Tagawiti              67.753333     3
24       Todanara              76.989655     3
25    Tubuk Rajan              84.800000     3
26   Tubungwalang              85.223333     4
27        Waienga              80.313333     3
28       Watodiri              76.066667     3
29      Wuakerong              75.886667     3

In [344]:
IKP = IKP.merge(
    persentase_asal_bahan[['Desa/Kelurahan','Skor']].rename(columns={'Skor':'III.1.2.1'}),
    on='Desa/Kelurahan', how='left'
)

In [345]:
IKP

,Desa/Kelurahan,I.1.1.1,I.2.1.1,I.3.1.1,I.4.1.1,II.1.1.2,II.1.2.3,II.1.3.1,II.2.2.1,II.3.3.1,II.3.3.2,III.1.1.1,III.1.1.2,III.1.2.1
0,Balauring,0,4,0,4,4,2,1.0,0,0,2,0,0,3
1,Benihading,1,4,1,4,4,4,4.0,4,0,1,1,0,4
2,Bour,1,3,1,3,0,3,4.0,3,0,3,1,0,3
3,Dikesare,0,1,0,3,4,4,NaN,2,0,1,0,0,3
4,Duawutun,4,4,0,3,4,4,NaN,2,0,3,0,0,4
5,Dulitukan,4,2,0,4,4,4,NaN,4,0,1,0,0,3
6,Hoelea I,1,4,0,4,2,1,0.0,1,0,2,0,0,3
7,Ile Kimok,0,4,0,4,2,4,2.0,0,0,2,1,0,4
8,Kalikur,0,3,0,4,0,0,1.0,1,4,2,0,0,3
9,Katakeja,1,1,0,1,2,4,1.0,4,0,1,0,0,3
10,Labalimut,0,4,0,4,4,4,2.0,3,4,3,1,0,3
11,Lamatuka,0,4,0,4,4,4,2.0,4,0,2,1,0,3
12,Laranwutun,0,3,0,3,2,4,2.0,3,4,2,0,0,3
13,Lolong,0,2,0,4,4,4,NaN,4,0,0,1,0,4
14,Mahal,0,3,0,4,0,2,NaN,2,4,2,0,0,3
15,Merdeka,1,3,0,4,3,4,NaN,4,0,1,1,0,3
16,Muruona,4,2,0,1,2,4,NaN,3,0,1,0,0,3
17,Nubamado,1,3,1,4,3,4,3.0,3,0,1,0,0,4
18,Pada,0,2,1,2,4,4,0.0,3,0,1,1,0,3
19,Paubokol,0,4,0,4,2,4,NaN,3,0,3,1,0,3
20,Puor,1,3,2,4,4,4,1.0,4,0,2,1,0,3
21,Riangbao,0,3,0,3,3,4,4.0,2,4,1,1,0,3
22,Tagawiti,4,2,0,4,4,4,NaN,2,0,1,1,0,3
23,Todanara,1,2,0,2,2,4,1.0,1,4,1,0,0,3
24,Tubuk Rajan,4,4,0,4,4,4,0.0,4,0,4,1,0,3
25,Tubungwalang,0,3,0,4,4,2,0.0,1,0,2,0,0,4
26,Waienga,0,3,0,4,0,4,4.0,0,0,1,1,0,3
27,Watodiri,4,3,0,3,4,4,NaN,4,4,1,1,0,3
28,Wuakerong,1,3,0,4,3,4,NaN,4,0,3,1,0,3

### III.1.4.1 Daya Dukung Pangan

In [346]:
df_ddp = pd.read_csv("data_daya_dukung_pangan.csv")

In [347]:
df_ddp['Desa/Kelurahan'] = df_ddp['Desa/Kelurahan'].str.replace(r'\bPADA\b', 'Pada', regex=True)

In [348]:
df_ddp

,ID,Desa/Kelurahan,produksi_beras,produksi_singkong,produksi_jagung,produksi_umbi,konsumsi_beras,konsumsi_singkong,konsumsi_jagung,konsumsi_umbi
0,22180,Lolong,10.0,0.0,0.0,0.0,154.857143,58.090029,24.0,15.32567
1,22190,Paubokol,80.0,750.0,1000.0,0.0,4457.142857,0.000000,0.0,0.00000
2,22195,Paubokol,100.0,0.0,150.0,0.0,2685.714286,1800.000000,0.0,0.00000
3,22200,Paubokol,560.0,300.0,200.0,200.0,11920.000000,2400.000000,2400.0,2400.00000
4,22205,Paubokol,400.0,600.0,50.0,20.0,7771.428571,4800.000000,600.0,240.00000
...,...,...,...,...,...,...,...,...,...,...
876,24866,Todanara,300.0,100.0,200.0,0.0,790.476190,1200.000000,480.0,0.00000
877,24867,Todanara,150.0,100.0,500.0,0.0,392.380952,120.000000,240.0,0.00000
878,24869,Todanara,0.0,0.0,0.0,0.0,304.761905,0.000000,6.0,0.00000
879,24887,Labalimut,50.0,30.0,140.0,0.0,266.666667,0.000000,0.0,0.00000
880,24957,Todanara,300.0,0.0,400.0,0.0,1271.428571,0.000000,2400.0,0.00000

In [349]:
df_ddp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 881 non-null    int64
 1   Desa/Kelurahan     881 non-null    object
 2   produksi_beras     616 non-null    float64
 3   produksi_singkong  648 non-null    float64
 4   produksi_jagung    729 non-null    float64
 5   produksi_umbi      612 non-null    float64
 6   konsumsi_beras     865 non-null    float64
 7   konsumsi_singkong  717 non-null    float64
 8   konsumsi_jagung    810 non-null    float64
 9   konsumsi_umbi      688 non-null    float64
dtypes: float64(8), int64(1), object(1)
memory usage: 69.0+ KB

In [350]:
komod = ["beras", "singkong", "jagung", "umbi"]
prod  = [f"produksi_{k}" for k in komod]
cons  = [f"konsumsi_{k}" for k in komod]

# sumber: df_ddp  (ganti ke df_ddp_final kalau itu yang dipakai)
df_ddp_desa = (
    df_ddp.groupby("Desa/Kelurahan")[prod + cons]
          .sum()
          .reset_index()
)

num_cols = df_ddp_desa.select_dtypes('number').columns
df_ddp_desa[num_cols] = df_ddp_desa[num_cols].round(2)

In [351]:
df_ddp_desa

,Desa/Kelurahan,produksi_beras,produksi_singkong,produksi_jagung,produksi_umbi,konsumsi_beras,konsumsi_singkong,konsumsi_jagung,konsumsi_umbi
0,Balauring,300.00,625.00,8690.00,70.00,187342.86,4812.79,39202.06,72.00
1,Benihading,139.34,230.94,1337.98,132.48,11714.11,384.00,2707.20,288.00
2,Bour,3460.00,2491.00,4930.00,6.00,15418.44,2310.25,4495.24,587.43
3,Dikesare,662.00,1.00,358.00,0.00,7027.70,439.85,2439.45,249.55
4,Duawutun,1925.00,98.00,2476.00,13.00,12293.92,1028.93,5870.13,260.25
5,Dulitukan,0.00,0.00,1453.50,40.00,9114.29,46.09,186350.43,929.66
6,Hoelea I,82.00,28.00,1420.00,15.00,13170.48,216.87,2975.10,332.54
7,Ile Kimok,762.00,97.00,153.00,64.00,9280.38,719.83,969.64,360.29
8,Kalikur,0.00,28.00,5060.00,5.00,15681.90,1648.61,45894.81,588.74
9,Katakeja,7705.00,7733.00,11259.00,332.00,14244.91,2426230.13,14384.85,3075.33
10,Labalimut,3605.00,4633.00,5543.00,240.00,8710.29,1461.93,1717.66,433.30
11,Lamatuka,1524.00,5295.00,7813.00,5.00,169114.67,60799.27,64541.53,1932.80
12,Laranwutun,0.00,1612.50,3219.00,201.00,13218.69,17749.52,10773.77,697.59
13,Lolong,1635.00,1125.00,1747.00,86.00,10413.90,1504.09,2300.32,123.33
14,Mahal,120.00,72.00,9502.00,46.00,9914.29,477.06,9391.33,342.65
15,Merdeka,389.60,123.83,434.35,45.00,11464.34,599.83,2799.70,533.64
16,Muruona,60.00,2830.00,4856.00,280.00,203062.86,34636.77,230495.58,6360.00
17,Nubamado,5479.00,1075.00,4080.00,70.00,118686.68,13667.51,36935.22,1177.16
18,Pada,500.00,3203.00,3631.00,220.00,12932.38,2845.08,3772.54,343.52
19,Paubokol,10970.00,6690.00,4280.00,490.00,219314.29,48802.46,23099.39,5760.00
20,Puor,0.00,180.00,568.00,0.00,116748.57,16139.54,15814.78,720.00
21,Riangbao,10.00,1570.00,3762.00,0.00,9152.09,2937.92,3995.77,293.93
22,Tagawiti,0.00,10.00,370.00,0.00,8485.71,258.10,1824.94,716.98
23,Todanara,3264.10,475.00,157872.00,372.00,15677.33,3586.80,53278.64,621.84
24,Tubuk Rajan,4626.00,3389.00,3720.00,400.00,9228.78,2884.03,2875.26,270.65
25,Tubungwalang,635.00,394.00,7270.00,558.00,65522.88,2891619.19,8431814.02,1208384.89
26,Waienga,250.00,537.00,11530.00,0.00,10480.95,898.54,7310.54,91.95
27,Watodiri,0.00,1212.00,5505.00,23.00,9980.95,1219.31,3404.76,12.00
28,Wuakerong,762.50,13704.00,5604.60,16.80,146515.71,150098.84,49517.50,5440.96

In [352]:
# pastikan numeric
df_ddp_desa[prod + cons] = df_ddp_desa[prod + cons].apply(pd.to_numeric, errors="coerce")

valid = df_ddp_desa[cons].gt(0)  # mask utk konsumsi>0

sumK = df_ddp_desa[cons].where(valid).sum(axis=1, min_count=1)
sumP = df_ddp_desa[prod].where(valid.set_axis(prod, axis=1)).sum(axis=1, min_count=1)
#                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ reindex mask ke nama kolom produksi

df_ddp_desa["DDP_weighted"] = np.where(sumK > 0, (sumP / sumK) * 100, np.nan)

In [353]:
df_ddp_desa

,Desa/Kelurahan,produksi_beras,produksi_singkong,produksi_jagung,produksi_umbi,konsumsi_beras,konsumsi_singkong,konsumsi_jagung,konsumsi_umbi,DDP_weighted
0,Balauring,300.00,625.00,8690.00,70.00,187342.86,4812.79,39202.06,72.00,4.184856
1,Benihading,139.34,230.94,1337.98,132.48,11714.11,384.00,2707.20,288.00,12.195734
2,Bour,3460.00,2491.00,4930.00,6.00,15418.44,2310.25,4495.24,587.43,47.726221
3,Dikesare,662.00,1.00,358.00,0.00,7027.70,439.85,2439.45,249.55,10.052626
4,Duawutun,1925.00,98.00,2476.00,13.00,12293.92,1028.93,5870.13,260.25,23.194092
5,Dulitukan,0.00,0.00,1453.50,40.00,9114.29,46.09,186350.43,929.66,0.760281
6,Hoelea I,82.00,28.00,1420.00,15.00,13170.48,216.87,2975.10,332.54,9.254273
7,Ile Kimok,762.00,97.00,153.00,64.00,9280.38,719.83,969.64,360.29,9.496794
8,Kalikur,0.00,28.00,5060.00,5.00,15681.90,1648.61,45894.81,588.74,7.981000
9,Katakeja,7705.00,7733.00,11259.00,332.00,14244.91,2426230.13,14384.85,3075.33,1.099663
10,Labalimut,3605.00,4633.00,5543.00,240.00,8710.29,1461.93,1717.66,433.30,113.777450
11,Lamatuka,1524.00,5295.00,7813.00,5.00,169114.67,60799.27,64541.53,1932.80,4.938455
12,Laranwutun,0.00,1612.50,3219.00,201.00,13218.69,17749.52,10773.77,697.59,11.858037
13,Lolong,1635.00,1125.00,1747.00,86.00,10413.90,1504.09,2300.32,123.33,32.025626
14,Mahal,120.00,72.00,9502.00,46.00,9914.29,477.06,9391.33,342.65,48.396722
15,Merdeka,389.60,123.83,434.35,45.00,11464.34,599.83,2799.70,533.64,6.447666
16,Muruona,60.00,2830.00,4856.00,280.00,203062.86,34636.77,230495.58,6360.00,1.691268
17,Nubamado,5479.00,1075.00,4080.00,70.00,118686.68,13667.51,36935.22,1177.16,6.279237
18,Pada,500.00,3203.00,3631.00,220.00,12932.38,2845.08,3772.54,343.52,37.972164
19,Paubokol,10970.00,6690.00,4280.00,490.00,219314.29,48802.46,23099.39,5760.00,7.552795
20,Puor,0.00,180.00,568.00,0.00,116748.57,16139.54,15814.78,720.00,0.500593
21,Riangbao,10.00,1570.00,3762.00,0.00,9152.09,2937.92,3995.77,293.93,32.613520
22,Tagawiti,0.00,10.00,370.00,0.00,8485.71,258.10,1824.94,716.98,3.367084
23,Todanara,3264.10,475.00,157872.00,372.00,15677.33,3586.80,53278.64,621.84,221.395426
24,Tubuk Rajan,4626.00,3389.00,3720.00,400.00,9228.78,2884.03,2875.26,270.65,79.528296
25,Tubungwalang,635.00,394.00,7270.00,558.00,65522.88,2891619.19,8431814.02,1208384.89,0.070308
26,Waienga,250.00,537.00,11530.00,0.00,10480.95,898.54,7310.54,91.95,65.578815
27,Watodiri,0.00,1212.00,5505.00,23.00,9980.95,1219.31,3404.76,12.00,46.110630
28,Wuakerong,762.50,13704.00,5604.60,16.80,146515.71,150098.84,49517.50,5440.96,5.713721

In [354]:
persentase_ddp = df_ddp_desa[["Desa/Kelurahan", "DDP_weighted"]].copy()

def skor_ddp(p):
    if p < 40:
        return 0
    elif p <= 59:
        return 1
    elif p <= 79:
        return 2
    elif p <= 99:
        return 3
    else:
        return 4

persentase_ddp['Skor'] = persentase_ddp['DDP_weighted'].apply(skor_ddp)

In [355]:
persentase_ddp

   Desa/Kelurahan  DDP_weighted  Skor
0       Balauring      4.184856     0
1      Benihading     12.195734     0
2            Bour     47.726221     1
3        Dikesare     10.052626     0
4        Duawutun     23.194092     0
5       Dulitukan      0.760281     0
6        Hoelea I      9.254273     0
7       Ile Kimok      9.496794     0
8         Kalikur      7.981000     0
9        Katakeja      1.099663     0
10      Labalimut    113.777450     4
11       Lamatuka      4.938455     0
12     Laranwutun     11.858037     0
13         Lolong     32.025626     0
14          Mahal     48.396722     1
15        Merdeka      6.447666     0
16        Muruona      1.691268     0
17       Nubamado      6.279237     0
18           Pada     37.972164     0
19       Paubokol      7.552795     0
20           Puor      0.500593     0
21       Riangbao     32.613520     0
22       Tagawiti      3.367084     0
23       Todanara    221.395426     4
24    Tubuk Rajan     79.528296     3
25   Tubungwalang      0.070308     0
26        Waienga     65.578815     2
27       Watodiri     46.110630     1
28      Wuakerong      5.713721     0

In [356]:
IKP = IKP.merge(
    persentase_ddp[['Desa/Kelurahan','Skor']].rename(columns={'Skor':'III.1.4.1'}),
    on='Desa/Kelurahan', how='left'
)

In [357]:
IKP

,Desa/Kelurahan,I.1.1.1,I.2.1.1,I.3.1.1,I.4.1.1,II.1.1.2,II.1.2.3,II.1.3.1,II.2.2.1,II.3.3.1,II.3.3.2,III.1.1.1,III.1.1.2,III.1.2.1,III.1.4.1
0,Balauring,0,4,0,4,4,2,1.0,0,0,2,0,0,3,0
1,Benihading,1,4,1,4,4,4,4.0,4,0,1,1,0,4,0
2,Bour,1,3,1,3,0,3,4.0,3,0,3,1,0,3,1
3,Dikesare,0,1,0,3,4,4,NaN,2,0,1,0,0,3,0
4,Duawutun,4,4,0,3,4,4,NaN,2,0,3,0,0,4,0
5,Dulitukan,4,2,0,4,4,4,NaN,4,0,1,0,0,3,0
6,Hoelea I,1,4,0,4,2,1,0.0,1,0,2,0,0,3,0
7,Ile Kimok,0,4,0,4,2,4,2.0,0,0,2,1,0,4,0
8,Kalikur,0,3,0,4,0,0,1.0,1,4,2,0,0,3,0
9,Katakeja,1,1,0,1,2,4,1.0,4,0,1,0,0,3,0
10,Labalimut,0,4,0,4,4,4,2.0,3,4,3,1,0,3,4
11,Lamatuka,0,4,0,4,4,4,2.0,4,0,2,1,0,3,0
12,Laranwutun,0,3,0,3,2,4,2.0,3,4,2,0,0,3,0
13,Lolong,0,2,0,4,4,4,NaN,4,0,0,1,0,4,0
14,Mahal,0,3,0,4,0,2,NaN,2,4,2,0,0,3,1
15,Merdeka,1,3,0,4,3,4,NaN,4,0,1,1,0,3,0
16,Muruona,4,2,0,1,2,4,NaN,3,0,1,0,0,3,0
17,Nubamado,1,3,1,4,3,4,3.0,3,0,1,0,0,4,0
18,Pada,0,2,1,2,4,4,0.0,3,0,1,1,0,3,0
19,Paubokol,0,4,0,4,2,4,NaN,3,0,3,1,0,3,0
20,Puor,1,3,2,4,4,4,1.0,4,0,2,1,0,3,0
21,Riangbao,0,3,0,3,3,4,4.0,2,4,1,1,0,3,0
22,Tagawiti,4,2,0,4,4,4,NaN,2,0,1,1,0,3,0
23,Todanara,1,2,0,2,2,4,1.0,1,4,1,0,0,3,4
24,Tubuk Rajan,4,4,0,4,4,4,0.0,4,0,4,1,0,3,3
25,Tubungwalang,0,3,0,4,4,2,0.0,1,0,2,0,0,4,0
26,Waienga,0,3,0,4,0,4,4.0,0,0,1,1,0,3,2
27,Watodiri,4,3,0,3,4,4,NaN,4,4,1,1,0,3,1
28,Wuakerong,1,3,0,4,3,4,NaN,4,0,3,1,0,3,0

### X

In [358]:
IKP.to_csv("IKP_point.csv", index=False)

In [359]:
IKP_percent_only.to_csv("IKP_percent_only.csv", index=False)

In [360]:
# pisahkan semua nama tanaman berdasarkan delimiter ;
semua_tanaman = (
    df['Nama Tanaman']
    .dropna()  # buang NaN biar aman
    .str.split(';')  # pecah berdasarkan ;
    .explode()       # ubah jadi baris per tanaman
    .str.strip()     # rapikan spasi
    .replace('', None)  # buang string kosong
    .dropna()        # drop kosong setelah replace
    .unique()        # ambil nilai unik
)

# ubah ke list kalau mau
daftar_tanaman = sorted(semua_tanaman.tolist())

# tampilkan hasil
print(daftar_tanaman)

['0', 'Bawang', 'Bayam', 'Bengkuang', 'Cabai', 'Hijau', 'Jagung', 'Jagung Jagung', 'Jagung Lokal', 'Jahe', 'Jalar', 'Kacang Hijau', 'Kacang Merah', 'Kacang Tanah', 'Kacang tanah', 'Kangkung', 'Katuk', 'Kayu', 'Kelapa', 'Kunyit', 'Labu', 'Labu Kuning', 'Lengkuas', 'Mentimun', 'Padi', 'Padi Ladang', 'Padi Lokal', 'Pare', 'Porang', 'Sawi', 'Siam', 'Sirih', 'Sorgum', 'Talas', 'Tanah', 'Terong', 'Terung', 'Tomat', 'Ubi Jalar', 'Ubi Kayu']