In [170]:
import re
import numpy as np
import pandas as pd

In [171]:
df = pd.read_csv("data_cleaned.csv")

In [172]:
# DATA CLEANING

df.rename(columns={"Produktivitas": "Produksi"}, inplace=True)

In [173]:
df.head()

,#,ID,Nama Kepala Keluarga,Nomor Kartu Keluarga,Tanggal Pendataan,Dusun,Desa/Kelurahan,Kecamatan,Kabupaten,Propinsi,...,Apakah pernah dapat bantuan dari pemerintah?,"Kalau iya, apa bentuk bantuan tersebut?",Jumlah difabel (berkebutuhan khusus),Jenis Difabel,Memiliki anak usia kurang dari 5 tahun,Tinggi badan anak,Berat badan anak,Apakah anak mengalami kasus gizi buruk?,Apakah anak mengalami kekurangan gizi?,SourceFile
0,1,22180,Natalia Benga Blolong,5.313011e+15,2024-09-23 00:00:00,A Arubala,Lolong,Nagawutung,Lembata,Nusa Tenggara Timur,...,Pernah,Tunai,0.0,Tidak ada,Tidak ada,0,0,Tidak ada,Tidak ada,1-400.xlsx
1,2,22190,Marianus Nurak,5.313052e+15,2024-10-07 00:00:00,Alapnimo,Paubokol,Nubatukan,Lembata,Nusa Tenggara Timur,...,Pernah,Tunai,0.0,Tidak ada,Ada,76,"8,7",Tidak ada,Tidak ada,1-400.xlsx
2,3,22195,Viktor Gelak,5.313052e+15,2024-10-07 00:00:00,Alapnimo,Paubokol,Nubatukan,Lembata,Nusa Tenggara Timur,...,Pernah,Tunai,0.0,Tidak ada,Tidak ada,0,0,Tidak ada,Tidak ada,1-400.xlsx
3,4,22200,Yoseph Kujo,5.313051e+15,2024-10-08 00:00:00,Alapnimo,Paubokol,Nubatukan,Lembata,Nusa Tenggara Timur,...,Pernah,Tunai,0.0,Tidak ada,Ada,97,"15,2",Tidak,Tidak,1-400.xlsx
4,5,22205,Hendrikus Laran Ujan,5.313052e+15,2024-10-08 00:00:00,Alapnimo,Paubokol,Nubatukan,Lembata,Nusa Tenggara Timur,...,Pernah,Tunai,0.0,Tidak ada,Ada,86,10,Tidak ada,Ya,1-400.xlsx

In [174]:
for i, col in enumerate(df.columns):
    print(f"{i}. {col}")

0. #
1. ID
2. Nama Kepala Keluarga
3. Nomor Kartu Keluarga
4. Tanggal Pendataan
5. Dusun
6. Desa/Kelurahan
7. Kecamatan
8. Kabupaten
9. Propinsi
10. Koordinat GPS
11. Sumber Listrik
12. Air Bersih
13. Kepemilikan Rumah
14. Nama
15. Jumlah Anggota Keluarga (jiwa)
16. Agama/ Kepercayaan
17. Pekerjaan
18. Pendapatan Bulanan (Rp.)
19. Beras Lokal (Sawah/Ladang dalam Kg).0
20. Singkong.0
21. Jagung Lokal.0
22. Jagung Hibrida.0
23. Umbi-umbian lain.0
24. Sorgum.0
25. Jewawut/Weteng.0
26. Ikan dan Boga Laut Segar.0
27. Ikan dan Boga Laut Kering.0
28. Telor.0
29. Ayam.0
30. Daging (Sapi/Kerbau/Kambing/Babi,dll).0
31. Kacang-kacangan.0
32. Minyak Kelapa.0
33. Cabai Besar.0
34. Cabai Kecil.0
35. Kemiri.0
36. Kunyit.0
37. Jahe.0
38. Sereh.0
39. Lengkuas.0
40. Jeruk Nipis.0
41. Mete.0
42. Lain-lain.0
43. Beras Lokal (Sawah/Ladang).1
44. Singkong.1
45. Jagung Lokal.1
46. Jagung Hibrida.1
47. Umbi-umbian lain.1
48. Sorgum.1
49. Jewawut/Weteng.1
50. Ikan dan Boga Laut Segar.1
51. Ikan dan Boga Laut Kering.1
52. Telor.1
53. Ayam.1
54. Kacang-kacangan.1
55. Minyak Kelapa.1
56. Cabai Besar.1
57. Cabai Kecil.1
58. Kemiri.1
59. Kunyit.1
60. Jahe.1
61. Sereh.1
62. Lengkuas.1
63. Jeruk Nipis.1
64. Mete.1
65. Lain-lain.1
66. Beras Lokal (Sawah/Ladang dalam Rp).2
67. Beras Toko.2
68. Singkong.2
69. Jagung Lokal.2
70. Jagung Hibrida.2
71. Umbi-umbian lain.2
72. Sorgum.2
73. Jewawut/Weteng.2
74. Ikan dan Boga Laut Segar.2
75. Ikan dan Boga Laut Kering.2
76. Telor.2
77. Ayam.2
78. Daging (Sapi/Kerbau/Kambing/Babi,dll).2
79. Tahu dan Tempe.2
80. Kacang-kacangan.2
81. Daun Ubi.2
82. Kangkung.2
83. Kubis.2
84. Sawi.2
85. Bayam.2
86. Brokoli.2
87. Wortel.2
88. Jantung Pisang.2
89. Kelor.2
90. Bunga dan Daun Pepaya.2
91. Pakis/Paku.2
92. Rebung.2
93. Mangga.2
94. Alpukat.2
95. Jeruk.2
96. Anggur.2
97. Buah Naga.2
98. Mete.2
99. Pisang.2
100. Rambutan.2
101. Nanas.2
102. Salak.2
103. Pepaya.2
104. Kelapa.2
105. Tomat.2
106. Timun.2
107. Labu.2
108. Kemangi.2
109. Minyak Kelapa.2
110. Minyak Goreng Kemasan/Toko.2
111. Bumbu Kemasan.2
112. MSG.2
113. Bawang Merah.2
114. Bawang Putih.2
115. Bawang Bombai.2
116. Cabai Besar.2
117. Cabai Kecil.2
118. Lada.2
119. Kemiri.2
120. Kunyit.2
121. Jahe.2
122. Sereh.2
123. Lengkuas.2
124. Jeruk Nipis.2
125. Jeruk Limau.2
126. Kecap.2
127. Saos.2
128. Susu (Bubuk/UHT).2
129. Kental Manis.2
130. Minuman Kemasan.2
131. Minuman Fermentasi.2
132. Gula Pasir.2
133. Kopi.2
134. Teh.2
135. Mie Instan.2
136. Biskuit/Roti/Kue Kemasan.2
137. Rokok Kemasan.2
138. Tembakau.2
139. Pinang.2
140. Daun Sirih.2
141. Minyak Tanah.2
142. Gas.2
143. Biaya Listrik.2
144. BBM.2
145. Pupuk.2
146. Pestisida/Herbisida/Fungisida.2
147. Benih.2
148. Upah Buruh.2
149. Sewa Alat dan Mesin Pertanian.2
150. Transportasi.2
151. SPP (Iuran Sekolah).2
152. Peralatan Sekolah/ATK.2
153. Transportasi/Kos/Jajan.2
154. Periksa Kesehatan.2
155. Iuran BPJS.2
156. Obat.2
157. Sanitary.2
158. Pulsa Ponsel.2
159. Dana Sosial (Arisan, Sumbangan, dll).2
160. Nama Tanaman
161. Jenis Pangan
162. Varietas
163. Sumber Benih
164. Luas Lahan
165. Produksi
166. Pola Tanam
167. Sistem Budidaya
168. Pengairan
169. Kepemilikan Lahan
170. Jenis Pemanfaatan Lahan
171. Nama Tanaman.1
172. Jangka Tanam
173. Jenis Tanaman
174. Luas
175. Tegakan (batang)
176. Tahun Tanam
177. Produktivitas (Ton/Ha)
178. Pemanfaatan Hasil
179. Kepemilikan Lahan.1
180. Nama Tempat Lahan
181. Sapi
182. Kerbau
183. Kambing
184. Ayam.3
185. Bebek
186. Babi
187. Kuda
188. Jumlah Hasil (Kg)
189. Sumber Pakan
190. Kepemilikan
191. Jenis Ikan
192. Luas Kolam
193. Masa Panen
194. Sistem Budidaya.1
195. Pasca Panen
196. Pemanfaatan Hasil Panen
197. Kepemilikan Lahan.2
198. Nama Area Tangkap
199. Jenis Ikan.1
200. Jumlah Hasil
201. Pemanfaatan Hasil Tangkap
202. Januari
203. Februari
204. Maret
205. April
206. Mei
207. Juni
208. Juli
209. Agustus
210. September
211. Oktober
212. November
213. Desember
214. Januari.1
215. Februari.1
216. Maret.1
217. April.1
218. Mei.1
219. Juni.1
220. Juli.1
221. Agustus.1
222. September.1
223. Oktober.1
224. November.1
225. Desember.1
226. Januari.2
227. Februari.2
228. Maret.2
229. April.2
230. Mei.2
231. Juni.2
232. Juli.2
233. Agustus.2
234. September.2
235. Oktober.2
236. November.2
237. Desember.2
238. Nama Produk
239. Jenis Usaha
240. Jumlah Produksi
241. Proses Produksi
242. Pemanfaatan Hasil Produksi
243. Sumber Limbah
244. Pengolahan
245. Hasil Daur Ulang
246. Luas Lahan Usaha m2
247. Luas Lahan Rumah m2
248. Luas Bangunan Rumah m2
249. Luas Bangunan Usaha m2
250. Mesin dan Alat Kerja
251. Jumlah (unit)
252. Apakah pernah ada bayi yang meninggal?
253. Jika ada, berapa jumlahnya?
254. Apakah balita selalu diperiksa ke Posyandu?
255. Jumlah Lansia
256. Anggota keluarga yang sering sakit
257. Jenis penyakit yang sering diderita
258. Kemana biasa berobat?
259. Apakah pernah dapat bantuan dari pemerintah?
260. Kalau iya, apa bentuk bantuan tersebut?
261. Jumlah difabel (berkebutuhan khusus)
262. Jenis Difabel
263. Memiliki anak usia kurang dari 5 tahun
264. Tinggi badan anak
265. Berat badan anak
266. Apakah anak mengalami kasus gizi buruk?
267. Apakah anak mengalami kekurangan gizi?
268. SourceFile

# Pilar 1

### I.1.1.1 Rasio Gini Tanah

In [175]:
data_pertanian = pd.concat([df[['ID', 'Desa/Kelurahan']], df.iloc[:, 160:171]], axis=1)

In [176]:
data_pertanian

,ID,Desa/Kelurahan,Nama Tanaman,Jenis Pangan,Varietas,Sumber Benih,Luas Lahan,Produksi,Pola Tanam,Sistem Budidaya,Pengairan,Kepemilikan Lahan,Jenis Pemanfaatan Lahan
0,22180,Lolong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,22190,Paubokol,Jagung Ubi Kayu Padi Porang,Lokal Tidak ada,Umbi-umbian,Tangkar Sendiri,0.5,0.2,1 kali setahun,Organik,Tadah Hujan,Milik Pribadi,Ladang
2,22195,Paubokol,Padi Jagung,Lokal,0,Tangkar Sendiri,0.007,0.1,1 kali setahun,Organik,Tadah Hujan,Milik Pribadi,Ladang
3,22200,Paubokol,Padi Jagung Ubi Kayu Kacang Tanah,Lokal Tidak ada,0,Tangkar Sendiri,0.5,0.8,1 kali setahun,Organik,Tadah Hujan,Milik Pribadi,Ladang
4,22205,Paubokol,Padi,Lokal,NaN,Tangkar Sendiri,1,0.8,1 kali setahun,Organik,Tadah Hujan,Milik Pribadi,Ladang
...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,24802,Dikesare,Padi Jagung,Lokal Tidak ada,Serealia Buah,Tangkar Sendiri,0.25,0.75,1 kali setahun,Organik,Tadah Hujan,Milik Pribadi,Sawah Tidak ada
840,24803,Mahal,Jagung,Lokal,NaN,Tangkar Sendiri,1,0.45,1 kali setahun,Kimia,Tadah Hujan,Milik Pribadi,Ladang
841,24866,Todanara,Padi Jagung Ubi Kayu,Lokal Hibrida,Umbi-umbian,Bantuan Pemerintah,0.5,0.04,1 kali setahun,Organik Tidak ada,Tadah Hujan,Milik Pribadi,Ladang Tidak ada
842,24869,Todanara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
843,24957,Todanara,Padi Jagung,Lokal Hibrida,Lokal,Tangkar Sendiri,1,0.5,1 kali setahun,Organik,Tadah Hujan,Milik Pribadi,Ladang

In [177]:
data_pertanian.isna().sum()

ID                           0
Desa/Kelurahan               0
Nama Tanaman               181
Jenis Pangan               171
Varietas                   228
Sumber Benih               171
Luas Lahan                 182
Produksi                   189
Pola Tanam                 171
Sistem Budidaya            171
Pengairan                  171
Kepemilikan Lahan          171
Jenis Pemanfaatan Lahan    171
dtype: int64

In [178]:
data_pertanian = data_pertanian.dropna()

In [179]:
data_pertanian.info()

<class 'pandas.core.frame.DataFrame'>
Index: 608 entries, 1 to 843
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       608 non-null    int64
 1   Desa/Kelurahan           608 non-null    object
 2   Nama Tanaman             608 non-null    object
 3   Jenis Pangan             608 non-null    object
 4   Varietas                 608 non-null    object
 5   Sumber Benih             608 non-null    object
 6   Luas Lahan               608 non-null    object
 7   Produksi                 608 non-null    object
 8   Pola Tanam               608 non-null    object
 9   Sistem Budidaya          608 non-null    object
 10  Pengairan                608 non-null    object
 11  Kepemilikan Lahan        608 non-null    object
 12  Jenis Pemanfaatan Lahan  608 non-null    object
dtypes: int64(1), object(12)
memory usage: 66.5+ KB

In [180]:
data_pertanian['Desa/Kelurahan'].value_counts()

Desa/Kelurahan
Muruona         34
Lamatuka        31
Benihading      30
Hoelea I        30
Ile Kimok       29
Waienga         29
Watodiri        28
Lolong          27
Tagawiti        26
Laranwutun      25
Paubokol        25
Dulitukan       24
Nubamado        23
Merdeka         22
Labalimut       22
Duawutun        21
Wuakerong       21
Riangbao        20
Puor            18
Bour            17
Todanara        17
Dikesare        17
Kalikur         17
Mahal           15
Pada            15
Balauring       13
Tubuk Rajan      6
Tubungwalang     5
Katakeja         1
Name: count, dtype: int64

In [181]:
# DATA CLEANING

df['Luas Lahan'] = pd.to_numeric(df['Luas Lahan'], errors='coerce')
df['Produksi'] = pd.to_numeric(df['Produksi'], errors='coerce')

In [182]:

# Fungsi untuk menjumlahkan semua angka dalam satu sel
def sum_numbers(cell):
    if pd.isna(cell):  # Jika NaN
        return np.nan
    # Cari semua angka (desimal diperbolehkan)
    numbers = re.findall(r"[0-9]*\.?[0-9]+", str(cell))
    return sum(map(float, numbers)) if numbers else np.nan

# Bersihkan kolom Luas Lahan & Produktivitas
data_pertanian['Luas Lahan Keseluruhan'] = data_pertanian['Luas Lahan'].apply(sum_numbers)
data_pertanian['Produksi Keseluruhan'] = data_pertanian['Produksi'].apply(sum_numbers)

C:\Users\halid\AppData\Local\Temp\ipykernel_4548\3452945708.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_pertanian['Luas Lahan Keseluruhan'] = data_pertanian['Luas Lahan'].apply(sum_numbers)
C:\Users\halid\AppData\Local\Temp\ipykernel_4548\3452945708.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_pertanian['Produksi Keseluruhan'] = data_pertanian['Produksi'].apply(sum_numbers)

In [183]:
def gini(array):
    array = np.array(array, dtype=np.float64)
    if np.amin(array) < 0:
        array -= np.amin(array)
    array += 1e-9  # untuk menghindari pembagian nol
    array = np.sort(array)
    n = len(array)
    index = np.arange(1, n + 1)
    return ((np.sum((2 * index - n - 1) * array)) / (n * np.sum(array)))

In [184]:
# Hitung rasio gini untuk tiap desa
rasio_gini = (
    data_pertanian.groupby('Desa/Kelurahan')['Luas Lahan Keseluruhan']
    .apply(lambda x: gini(x.dropna()))
    .reset_index(name='Rasio Gini')
)

In [185]:
# Fungsi scoring berdasarkan aturan di gambar
def skor_gini(g):
    if g > 0.5:
        return 0
    elif g > 0.4:
        return 1
    else:
        return 4

rasio_gini['Skor'] = rasio_gini['Rasio Gini'].apply(skor_gini)

In [186]:
rasio_gini

   Desa/Kelurahan  Rasio Gini  Skor
0       Balauring    0.896321     0
1      Benihading    0.417162     1
2            Bour    0.368276     4
3        Dikesare    0.642441     0
4        Duawutun    0.471744     1
5       Dulitukan    0.425736     1
6        Hoelea I    0.456608     1
7       Ile Kimok    0.928822     0
8         Kalikur    0.931332     0
9        Katakeja    0.000000     4
10      Labalimut    0.782302     0
11       Lamatuka    0.950795     0
12     Laranwutun    0.941623     0
13         Lolong    0.615610     0
14          Mahal    0.845500     0
15        Merdeka    0.419207     1
16        Muruona    0.411747     1
17       Nubamado    0.396640     4
18           Pada    0.629687     0
19       Paubokol    0.918406     0
20           Puor    0.349604     4
21       Riangbao    0.507496     0
22       Tagawiti    0.319741     4
23       Todanara    0.483840     1
24    Tubuk Rajan    0.499197     1
25   Tubungwalang    0.419272     1
26        Waienga    0.962514     0
27       Watodiri    0.384016     4
28      Wuakerong    0.479098     1

In [187]:
IKP = rasio_gini[['Desa/Kelurahan']].copy()
IKP['I.1.1.1'] = rasio_gini['Skor']

In [188]:
IKP

   Desa/Kelurahan  I.1.1.1
0       Balauring        0
1      Benihading        1
2            Bour        4
3        Dikesare        0
4        Duawutun        1
5       Dulitukan        1
6        Hoelea I        1
7       Ile Kimok        0
8         Kalikur        0
9        Katakeja        4
10      Labalimut        0
11       Lamatuka        0
12     Laranwutun        0
13         Lolong        0
14          Mahal        0
15        Merdeka        1
16        Muruona        1
17       Nubamado        4
18           Pada        0
19       Paubokol        0
20           Puor        4
21       Riangbao        0
22       Tagawiti        4
23       Todanara        1
24    Tubuk Rajan        1
25   Tubungwalang        1
26        Waienga        0
27       Watodiri        4
28      Wuakerong        1

### I.2.1.1 Luas Tanah yang Dikuasai

In [189]:
# Hapus baris dengan produktivitas_clean = 0
data_pertanian = data_pertanian[data_pertanian['Produksi Keseluruhan'] != 0]

In [190]:
data_pertanian.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,546.0,NaN,NaN,NaN,23189.593407,637.506752,22190.0,22719.25,23165.5,23478.5,24957.0
Desa/Kelurahan,546,29,Muruona,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nama Tanaman,546,76,Jagung,132,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jenis Pangan,546,11,Lokal,315,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Varietas,546,146,Lokal,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sumber Benih,546,17,Tangkar Sendiri,397,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan,546,137,0.5,121,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Produksi,546,280,1,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pola Tanam,546,10,1 kali setahun,490,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sistem Budidaya,546,12,Organik,319,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengairan,546,11,Tadah Hujan,448,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kepemilikan Lahan,546,10,Milik Pribadi,472,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jenis Pemanfaatan Lahan,546,19,Ladang,343,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan Keseluruhan,546.0,NaN,NaN,NaN,15.595252,126.664356,0.0,0.25,0.5,1.0,2500.0
Produksi Keseluruhan,546.0,NaN,NaN,NaN,13.95147,84.066535,0.001,0.1,0.35,0.9275,1050.0

In [191]:
data_pertanian['Desa/Kelurahan'].value_counts()

Desa/Kelurahan
Muruona         34
Benihading      30
Hoelea I        28
Ile Kimok       28
Lamatuka        27
Tagawiti        26
Watodiri        26
Lolong          25
Laranwutun      24
Waienga         23
Merdeka         22
Dulitukan       22
Paubokol        21
Nubamado        21
Labalimut       20
Puor            18
Kalikur         17
Riangbao        17
Bour            17
Wuakerong       17
Todanara        16
Mahal           15
Balauring       13
Duawutun        11
Dikesare        11
Tubuk Rajan      6
Tubungwalang     5
Pada             5
Katakeja         1
Name: count, dtype: int64

In [192]:
data_pertanian.isna().sum()

ID                         0
Desa/Kelurahan             0
Nama Tanaman               0
Jenis Pangan               0
Varietas                   0
Sumber Benih               0
Luas Lahan                 0
Produksi                   0
Pola Tanam                 0
Sistem Budidaya            0
Pengairan                  0
Kepemilikan Lahan          0
Jenis Pemanfaatan Lahan    0
Luas Lahan Keseluruhan     0
Produksi Keseluruhan       0
dtype: int64

In [193]:
# PERHITUNGAN IKP

data_pertanian['Penghasilan Kotor'] = data_pertanian['Produksi Keseluruhan'] * 10000 * 1000    # 10.000 per kg, dengan 1 ton = 1.000kg

In [194]:
data_pertanian.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,546.0,NaN,NaN,NaN,23189.593407,637.506752,22190.0,22719.25,23165.5,23478.5,24957.0
Desa/Kelurahan,546,29,Muruona,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nama Tanaman,546,76,Jagung,132,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jenis Pangan,546,11,Lokal,315,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Varietas,546,146,Lokal,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sumber Benih,546,17,Tangkar Sendiri,397,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan,546,137,0.5,121,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Produksi,546,280,1,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pola Tanam,546,10,1 kali setahun,490,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sistem Budidaya,546,12,Organik,319,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengairan,546,11,Tadah Hujan,448,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kepemilikan Lahan,546,10,Milik Pribadi,472,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jenis Pemanfaatan Lahan,546,19,Ladang,343,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan Keseluruhan,546.0,NaN,NaN,NaN,15.595252,126.664356,0.0,0.25,0.5,1.0,2500.0
Produksi Keseluruhan,546.0,NaN,NaN,NaN,13.95147,84.066535,0.001,0.1,0.35,0.9275,1050.0
Penghasilan Kotor,546.0,NaN,NaN,NaN,139514700.051282,840665354.363116,10000.0,1000000.0,3500000.0,9275000.0,10500000000.0

In [195]:
# PERHITUNGAN IKP

data_pertanian['Pestisida/Herbisida/Fungisida.2'] = df['Pestisida/Herbisida/Fungisida.2']
data_pertanian['Benih.2'] = df['Benih.2']
data_pertanian['Upah Buruh.2'] = df['Upah Buruh.2']
data_pertanian['Sewa Alat dan Mesin Pertanian.2'] = df['Sewa Alat dan Mesin Pertanian.2']

data_pertanian['Ongkos Produksi'] = data_pertanian['Pestisida/Herbisida/Fungisida.2'] + data_pertanian['Benih.2'] + data_pertanian['Upah Buruh.2'] + data_pertanian['Sewa Alat dan Mesin Pertanian.2']

In [196]:
data_pertanian['Penghasilan Bersih'] = data_pertanian['Penghasilan Kotor'] - data_pertanian['Ongkos Produksi']

In [197]:
minus = data_pertanian[data_pertanian['Penghasilan Bersih'] < 0]

In [198]:
minus

,ID,Desa/Kelurahan,Nama Tanaman,Jenis Pangan,Varietas,Sumber Benih,Luas Lahan,Produksi,Pola Tanam,Sistem Budidaya,...,Jenis Pemanfaatan Lahan,Luas Lahan Keseluruhan,Produksi Keseluruhan,Penghasilan Kotor,Pestisida/Herbisida/Fungisida.2,Benih.2,Upah Buruh.2,Sewa Alat dan Mesin Pertanian.2,Ongkos Produksi,Penghasilan Bersih
47,22349,Nubamado,Jagung Ubi Kayu Padi,Lokal,0,Tangkar Sendiri,0.0625,0.002,1 kali setahun,Organik,...,Ladang,0.0625,0.002,20000.0,80000.0,0.0,0.0,0.0,80000.0,-60000.0
249,22703,Muruona,Jagung Ubi Kayu,Hibrida Tidak ada,Hibrida Umbi-umbian,Tangkar Sendiri Tidak ada,0.25 0.025,0.02,1 kali setahun,Semi Organik Tidak ada,...,Kebun Tidak ada,0.2750,0.020,200000.0,540000.0,0.0,0.0,0.0,540000.0,-340000.0
276,22734,Muruona,Jagung Ubi Kayu,Hibrida Tidak ada,Hibrida Umbi-umbian,Bantuan Pemerintah Tidak ada,1.2,0.06 0.1,1 kali setahun Tidak ada,Semi Organik Tidak ada,...,Ladang Tidak ada,1.2000,0.160,1600000.0,3240000.0,0.0,0.0,0.0,3240000.0,-1640000.0
362,22830,Kalikur,Jagung Lokal,Lokal,Pulut,Tidak ada,1,0.03,1 kali setahun,Organik,...,Ladang,1.0000,0.030,300000.0,270000.0,0.0,0.0,40000.0,310000.0,-10000.0
366,22834,Bour,Ubi Kayu,Lokal,UMUCASS 36,Tangkar Sendiri,0.5,0.05,1 kali setahun,Organik,...,Kebun,0.5000,0.050,500000.0,90000.0,425000.0,150000.0,400000.0,1065000.0,-565000.0
408,22911,Mahal,Jagung,Lokal,lokal,Tangkar Sendiri,0.525,0.03,1 kali setahun,Kimia,...,Ladang,0.5250,0.030,300000.0,80000.0,0.0,300000.0,0.0,380000.0,-80000.0
442,23152,Puor,Padi Jagung Ubi Kayu,Lokal Hibrida,Serealia Umbi-umbian,Tangkar Sendiri,0.02 0.1,0.07 0.06,1 kali setahun,Semi Organik,...,Ladang,0.1200,0.130,1300000.0,0.0,0.0,2000000.0,50000.0,2050000.0,-750000.0
453,23181,Muruona,Jagung,Hibrida,Hibrida,Tangkar Sendiri,1,0.02,1 kali setahun,Semi Organik,...,Kebun,1.0000,0.020,200000.0,2160000.0,0.0,0.0,0.0,2160000.0,-1960000.0
470,23218,Todanara,Jagung,Hibrida,Lokal,Beli,1,0.001,1 kali setahun,Organik,...,Ladang,1.0000,0.001,10000.0,70000.0,70000.0,0.0,0.0,140000.0,-130000.0
519,23285,Laranwutun,Jagung,Hibrida,Q-11,Bantuan Pemerintah,2,0.1,1 kali setahun,Semi Organik,...,Ladang,2.0000,0.100,1000000.0,240000.0,0.0,1750000.0,0.0,1990000.0,-990000.0
598,23443,Waienga,Jagung,Lokal,Kalingga,Tangkar Sendiri,0.375,0.05,1 kali setahun,Kimia,...,Ladang,0.3750,0.050,500000.0,720000.0,0.0,0.0,0.0,720000.0,-220000.0
645,23574,Muruona,Jagung,Hibrida,Hibrida,Bantuan Pemerintah,0.5,0.02,1 kali setahun,Semi Organik,...,Kebun,0.5000,0.020,200000.0,405000.0,0.0,0.0,0.0,405000.0,-205000.0
651,23621,Waienga,Jagung,Lokal,Kalingga,Tangkar Sendiri,0.015,0.02,1 kali setahun,Semi Organik,...,Ladang,0.0150,0.020,200000.0,240000.0,0.0,0.0,0.0,240000.0,-40000.0
802,24412,Todanara,Jagung,Lokal,Lokal,Beli,0.0003,0.005,1 kali setahun,Organik,...,Ladang,0.0003,0.005,50000.0,120000.0,50000.0,0.0,0.0,170000.0,-120000.0
817,24519,Waienga,Jagung,Lokal,Kalingga,Tangkar Sendiri,0.25,0.03,1 kali setahun,Kimia,...,Ladang,0.2500,0.030,300000.0,360000.0,0.0,0.0,0.0,360000.0,-60000.0
837,24799,Todanara,Jagung,Lokal,Lokal,Tangkar Sendiri,0.5,0.015,1 kali setahun,Organik,...,Ladang,0.5000,0.015,150000.0,180000.0,0.0,0.0,0.0,180000.0,-30000.0

##### menggabungkan dengan data pola tanam

In [199]:
def bulan_budidaya_padi(pola):
    pola = str(pola).lower()
    if "3 kali setahun" in pola:
        return 12
    elif "2 kali setahun" in pola:
        return 8
    elif "1 kali setahun" in pola:
        return 4
    else:
        return 4 # jika tidak memenuhi kondisi di atas

data_pertanian['Pola Tanam'] = df['Pola Tanam']
data_pertanian['kategori'] = data_pertanian['Pola Tanam'].apply(bulan_budidaya_padi)

In [200]:
data_pertanian['Penghasilan per Bulan Bertani'] = data_pertanian['Penghasilan Bersih'] / data_pertanian['kategori']

In [201]:
data_pertanian.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,546.0,NaN,NaN,NaN,23189.593407,637.506752,22190.0,22719.25,23165.5,23478.5,24957.0
Desa/Kelurahan,546,29,Muruona,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nama Tanaman,546,76,Jagung,132,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jenis Pangan,546,11,Lokal,315,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Varietas,546,146,Lokal,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sumber Benih,546,17,Tangkar Sendiri,397,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan,546,137,0.5,121,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Produksi,546,280,1,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pola Tanam,546,10,1 kali setahun,490,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sistem Budidaya,546,12,Organik,319,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengairan,546,11,Tadah Hujan,448,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kepemilikan Lahan,546,10,Milik Pribadi,472,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jenis Pemanfaatan Lahan,546,19,Ladang,343,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan Keseluruhan,546.0,NaN,NaN,NaN,15.595252,126.664356,0.0,0.25,0.5,1.0,2500.0
Produksi Keseluruhan,546.0,NaN,NaN,NaN,13.95147,84.066535,0.001,0.1,0.35,0.9275,1050.0
Penghasilan Kotor,546.0,NaN,NaN,NaN,139514700.051282,840665354.363116,10000.0,1000000.0,3500000.0,9275000.0,10500000000.0
Pestisida/Herbisida/Fungisida.2,546.0,NaN,NaN,NaN,77102.291209,240546.470955,0.0,0.0,0.0,73750.0,3240000.0
Benih.2,546.0,NaN,NaN,NaN,9734.434066,64493.943577,0.0,0.0,0.0,0.0,810000.0
Upah Buruh.2,546.0,NaN,NaN,NaN,62404.029304,458618.315312,0.0,0.0,0.0,0.0,7000000.0
Sewa Alat dan Mesin Pertanian.2,546.0,NaN,NaN,NaN,23824.175824,124167.016265,0.0,0.0,0.0,0.0,1200000.0
Ongkos Produksi,546.0,NaN,NaN,NaN,173064.930403,549915.460406,0.0,0.0,0.0,120000.0,7360000.0
Penghasilan Bersih,546.0,NaN,NaN,NaN,139341635.120879,840664489.787323,-1960000.0,1000000.0,3423000.0,8865625.0,10500000000.0
kategori,546.0,NaN,NaN,NaN,4.10989,0.883495,4.0,4.0,4.0,4.0,12.0
Penghasilan per Bulan Bertani,546.0,NaN,NaN,NaN,34799181.674603,210171182.756111,-490000.0,250000.0,821562.5,2111625.0,2625000000.0

##### Garis Kemiskinan

Garis Kemiskinan (Rupiah/Kapita/Bulan) Menurut Provinsi dan Daerah 

di Nusa Tenggara Timur pada Semester 2 (September) adalah: **495.180,00**

In [202]:
garis_kemiskinan = data_pertanian[['ID']].copy()
garis_kemiskinan['Desa/Kelurahan'] = data_pertanian['Desa/Kelurahan']
garis_kemiskinan['Penghasilan per Bulan Bertani'] = data_pertanian['Penghasilan per Bulan Bertani']

In [203]:
garis_kemiskinan

        ID Desa/Kelurahan  Penghasilan per Bulan Bertani
1    22190       Paubokol                       350000.0
2    22195       Paubokol                       250000.0
3    22200       Paubokol                      1655000.0
6    22208       Paubokol                      2375000.0
7    22210       Paubokol                      4500000.0
..     ...            ...                            ...
837  24799       Todanara                        -7500.0
838  24801       Todanara                         3750.0
839  24802       Dikesare                      1875000.0
841  24866       Todanara                        87500.0
843  24957       Todanara                      1250000.0

[546 rows x 3 columns]

In [204]:
garis_kemiskinan_rp = 495180

# Hitung persentase per desa
penguasaan_tanah = (garis_kemiskinan
              .groupby('Desa/Kelurahan')['Penghasilan per Bulan Bertani']
              .apply(lambda x: (x > garis_kemiskinan_rp).mean() * 100)
              .reset_index(name='Persentase di Atas GK'))

# Tambahkan kolom skor
def hitung_skor(p):
    if p == 0:
        return 0
    elif p <= 25:
        return 1
    elif p <= 50:
        return 2
    elif p <= 75:
        return 3
    else:
        return 4

penguasaan_tanah['Skor'] = penguasaan_tanah['Persentase di Atas GK'].apply(hitung_skor)

In [205]:
penguasaan_tanah

   Desa/Kelurahan  Persentase di Atas GK  Skor
0       Balauring              92.307692     4
1      Benihading              83.333333     4
2            Bour              70.588235     3
3        Dikesare              27.272727     2
4        Duawutun              81.818182     4
5       Dulitukan              13.636364     1
6        Hoelea I              96.428571     4
7       Ile Kimok              89.285714     4
8         Kalikur              58.823529     3
9        Katakeja             100.000000     4
10      Labalimut              80.000000     4
11       Lamatuka              81.481481     4
12     Laranwutun              58.333333     3
13         Lolong              20.000000     1
14          Mahal              60.000000     3
15        Merdeka              40.909091     2
16        Muruona              29.411765     2
17       Nubamado              61.904762     3
18           Pada             100.000000     4
19       Paubokol              85.714286     4
20           Puor              77.777778     4
21       Riangbao              58.823529     3
22       Tagawiti              50.000000     2
23       Todanara              37.500000     2
24    Tubuk Rajan             100.000000     4
25   Tubungwalang              60.000000     3
26        Waienga              47.826087     2
27       Watodiri              69.230769     3
28      Wuakerong              70.588235     3

In [206]:
IKP['I.2.1.1'] = penguasaan_tanah['Skor']

In [207]:
IKP

   Desa/Kelurahan  I.1.1.1  I.2.1.1
0       Balauring        0        4
1      Benihading        1        4
2            Bour        4        3
3        Dikesare        0        2
4        Duawutun        1        4
5       Dulitukan        1        1
6        Hoelea I        1        4
7       Ile Kimok        0        4
8         Kalikur        0        3
9        Katakeja        4        4
10      Labalimut        0        4
11       Lamatuka        0        4
12     Laranwutun        0        3
13         Lolong        0        1
14          Mahal        0        3
15        Merdeka        1        2
16        Muruona        1        2
17       Nubamado        4        3
18           Pada        0        4
19       Paubokol        0        4
20           Puor        4        4
21       Riangbao        0        3
22       Tagawiti        4        2
23       Todanara        1        2
24    Tubuk Rajan        1        4
25   Tubungwalang        1        3
26        Waienga        0        2
27       Watodiri        4        3
28      Wuakerong        1        3

### I.3.1. 1 Ketersediaan air untuk budidaya

In [208]:
ketersediaan_air = df[['ID']].copy()
ketersediaan_air['Desa/Kelurahan'] = df['Desa/Kelurahan']
ketersediaan_air['Pola Tanam'] = df['Pola Tanam']

In [209]:
ketersediaan_air

        ID Desa/Kelurahan      Pola Tanam
0    22180         Lolong             NaN
1    22190       Paubokol  1 kali setahun
2    22195       Paubokol  1 kali setahun
3    22200       Paubokol  1 kali setahun
4    22205       Paubokol  1 kali setahun
..     ...            ...             ...
839  24802       Dikesare  1 kali setahun
840  24803          Mahal  1 kali setahun
841  24866       Todanara  1 kali setahun
842  24869       Todanara             NaN
843  24957       Todanara  1 kali setahun

[844 rows x 3 columns]

In [210]:
ketersediaan_air.isna().sum()

ID                  0
Desa/Kelurahan      0
Pola Tanam        171
dtype: int64

In [211]:
ketersediaan_air = ketersediaan_air.dropna()

In [212]:
ketersediaan_air.isna().sum()

ID                0
Desa/Kelurahan    0
Pola Tanam        0
dtype: int64

In [213]:
# DATA CLEANING

ketersediaan_air['Pola Tanam'].value_counts()

Pola Tanam
1 kali setahun              562
Tidak ada                    57
1 kali setahun Tidak ada     34
3 kali setahun                5
Tidak ada 1 kali setahun      4
1 kali setahun 2              3
3 kali setahun 1              3
2 kali setahun                2
2 kali setahun 1              2
1 kali setahun 3              1
Name: count, dtype: int64

In [214]:
# PERHITUNGAN IKP

def skor_ketersediaan_air(pola):
    pola = str(pola).lower()
    if "tidak ada" in pola or "1 kali setahun" in pola:
        return 2
    elif "2 kali setahun" in pola or "3 kali setahun" in pola:
        return 1
    else:
        return 0  # jika tidak memenuhi kondisi di atas

ketersediaan_air['kategori'] = ketersediaan_air['Pola Tanam'].apply(skor_ketersediaan_air)

C:\Users\halid\AppData\Local\Temp\ipykernel_4548\919155458.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ketersediaan_air['kategori'] = ketersediaan_air['Pola Tanam'].apply(skor_ketersediaan_air)

In [215]:
ketersediaan_air

        ID Desa/Kelurahan      Pola Tanam  kategori
1    22190       Paubokol  1 kali setahun         2
2    22195       Paubokol  1 kali setahun         2
3    22200       Paubokol  1 kali setahun         2
4    22205       Paubokol  1 kali setahun         2
6    22208       Paubokol  1 kali setahun         2
..     ...            ...             ...       ...
838  24801       Todanara  1 kali setahun         2
839  24802       Dikesare  1 kali setahun         2
840  24803          Mahal  1 kali setahun         2
841  24866       Todanara  1 kali setahun         2
843  24957       Todanara  1 kali setahun         2

[673 rows x 4 columns]

In [216]:
persentase_air = (
    ketersediaan_air.groupby('Desa/Kelurahan')['kategori']
      .apply(lambda x: (x == 1).mean() * 100)
      .reset_index(name='Persentase Air Cukup')
)

def skor_air(p):
    if p == 0:
        return 0
    elif p <= 25:
        return 1
    elif p <= 50:
        return 2
    elif p <= 75:
        return 3
    else:
        return 4

persentase_air['Skor'] = persentase_air['Persentase Air Cukup'].apply(skor_air)

In [217]:
persentase_air

   Desa/Kelurahan  Persentase Air Cukup  Skor
0       Balauring              0.000000     0
1      Benihading              3.333333     1
2            Bour             11.764706     1
3        Dikesare              0.000000     0
4        Duawutun              0.000000     0
5       Dulitukan              0.000000     0
6        Hoelea I              0.000000     0
7       Ile Kimok              0.000000     0
8         Kalikur              0.000000     0
9        Katakeja              0.000000     0
10      Labalimut              0.000000     0
11       Lamatuka              0.000000     0
12     Laranwutun              0.000000     0
13         Lolong              0.000000     0
14          Mahal              0.000000     0
15        Merdeka              0.000000     0
16        Muruona              0.000000     0
17       Nubamado              7.142857     1
18           Pada             10.000000     1
19       Paubokol              0.000000     0
20           Puor             23.809524     1
21       Riangbao              0.000000     0
22       Tagawiti              0.000000     0
23       Todanara              0.000000     0
24    Tubuk Rajan              0.000000     0
25   Tubungwalang              0.000000     0
26        Waienga              0.000000     0
27       Watodiri              0.000000     0
28      Wuakerong              0.000000     0

In [218]:
IKP['I.3.1.1'] = persentase_air['Skor']

In [219]:
IKP

   Desa/Kelurahan  I.1.1.1  I.2.1.1  I.3.1.1
0       Balauring        0        4        0
1      Benihading        1        4        1
2            Bour        4        3        1
3        Dikesare        0        2        0
4        Duawutun        1        4        0
5       Dulitukan        1        1        0
6        Hoelea I        1        4        0
7       Ile Kimok        0        4        0
8         Kalikur        0        3        0
9        Katakeja        4        4        0
10      Labalimut        0        4        0
11       Lamatuka        0        4        0
12     Laranwutun        0        3        0
13         Lolong        0        1        0
14          Mahal        0        3        0
15        Merdeka        1        2        0
16        Muruona        1        2        0
17       Nubamado        4        3        1
18           Pada        0        4        1
19       Paubokol        0        4        0
20           Puor        4        4        1
21       Riangbao        0        3        0
22       Tagawiti        4        2        0
23       Todanara        1        2        0
24    Tubuk Rajan        1        4        0
25   Tubungwalang        1        3        0
26        Waienga        0        2        0
27       Watodiri        4        3        0
28      Wuakerong        1        3        0

### I.4.1.1. Asal atau sumber benih

In [220]:
sumber_benih = df[['ID']].copy()
sumber_benih['Desa/Kelurahan'] = df['Desa/Kelurahan']
sumber_benih['Sumber Benih'] = df['Sumber Benih']

In [221]:
sumber_benih

        ID Desa/Kelurahan        Sumber Benih
0    22180         Lolong                 NaN
1    22190       Paubokol     Tangkar Sendiri
2    22195       Paubokol     Tangkar Sendiri
3    22200       Paubokol     Tangkar Sendiri
4    22205       Paubokol     Tangkar Sendiri
..     ...            ...                 ...
839  24802       Dikesare     Tangkar Sendiri
840  24803          Mahal     Tangkar Sendiri
841  24866       Todanara  Bantuan Pemerintah
842  24869       Todanara                 NaN
843  24957       Todanara     Tangkar Sendiri

[844 rows x 3 columns]

In [222]:
sumber_benih.isna().sum()

ID                  0
Desa/Kelurahan      0
Sumber Benih      171
dtype: int64

In [223]:
sumber_benih = sumber_benih.dropna()

In [224]:
sumber_benih.isna().sum()

ID                0
Desa/Kelurahan    0
Sumber Benih      0
dtype: int64

In [225]:
sumber_benih['Sumber Benih'].value_counts()

Sumber Benih
Tangkar Sendiri                                 457
Tidak ada                                        68
Tangkar Sendiri Tidak ada                        37
Bantuan Pemerintah                               35
Beli                                             22
Bantuan Pemerintah Tidak ada                     19
Tangkar Sendiri Bantuan Pemerintah               11
Bantuan Pemerintah Tangkar Sendiri                7
Tidak ada Tangkar Sendiri                         5
Tangkar Sendiri Beli                              5
Beli Bantuan Pemerintah Tangkar Sendiri           1
Tidak ada Bantuan Pemerintah                      1
Bantuan Pemerintah Tidak ada Tangkar Sendiri      1
Tangkar Sendiri Bantuan Pemerintah Beli           1
Beli Tidak ada                                    1
Beli Tangkar Sendiri                              1
Tangkar Sendiri Tidak ada Beli                    1
Name: count, dtype: int64

In [226]:
def penggunaan_benih(pola):
    pola = str(pola).lower()
    
    kelompok_1 = ["tangkar sendiri"]
    kelompok_2 = ["beli", "bantuan pemerintah", "tidak ada"]
    
    ada_kelompok_1 = any(kata in pola for kata in kelompok_1)
    ada_kelompok_2 = any(kata in pola for kata in kelompok_2)
    
    if ada_kelompok_1 and ada_kelompok_2:
        return 0.5
    elif ada_kelompok_1:
        return 1
    elif ada_kelompok_2:
        return 0
    else:
        return None

sumber_benih['kategori'] = sumber_benih['Sumber Benih'].apply(penggunaan_benih)

C:\Users\halid\AppData\Local\Temp\ipykernel_4548\3763901090.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sumber_benih['kategori'] = sumber_benih['Sumber Benih'].apply(penggunaan_benih)

In [227]:
sumber_benih

        ID Desa/Kelurahan        Sumber Benih  kategori
1    22190       Paubokol     Tangkar Sendiri       1.0
2    22195       Paubokol     Tangkar Sendiri       1.0
3    22200       Paubokol     Tangkar Sendiri       1.0
4    22205       Paubokol     Tangkar Sendiri       1.0
6    22208       Paubokol     Tangkar Sendiri       1.0
..     ...            ...                 ...       ...
838  24801       Todanara     Tangkar Sendiri       1.0
839  24802       Dikesare     Tangkar Sendiri       1.0
840  24803          Mahal     Tangkar Sendiri       1.0
841  24866       Todanara  Bantuan Pemerintah       0.0
843  24957       Todanara     Tangkar Sendiri       1.0

[673 rows x 4 columns]

In [228]:
persentase_benih = (
    sumber_benih.groupby('Desa/Kelurahan')['kategori']
      .apply(lambda x: x.mean() * 100)
      .reset_index(name='Persentase Sumber Benih')
)

def skor_benih(p):
    if p == 0:
        return 0
    elif p <= 25:
        return 1
    elif p <= 50:
        return 2
    elif p <= 75:
        return 3
    else:
        return 4

persentase_benih['Skor'] = persentase_benih['Persentase Sumber Benih'].apply(skor_benih)

In [229]:
persentase_benih

   Desa/Kelurahan  Persentase Sumber Benih  Skor
0       Balauring               100.000000     4
1      Benihading                76.666667     4
2            Bour                73.529412     3
3        Dikesare                60.869565     3
4        Duawutun                44.000000     2
5       Dulitukan                96.153846     4
6        Hoelea I                85.000000     4
7       Ile Kimok                96.551724     4
8         Kalikur                85.294118     4
9        Katakeja                 0.000000     0
10      Labalimut                73.913043     3
11       Lamatuka                75.806452     4
12     Laranwutun                54.000000     3
13         Lolong                81.481481     4
14          Mahal                87.500000     4
15        Merdeka                86.956522     4
16        Muruona                26.470588     2
17       Nubamado                83.928571     4
18           Pada                45.000000     2
19       Paubokol                84.615385     4
20           Puor                80.952381     4
21       Riangbao                69.047619     3
22       Tagawiti                82.692308     4
23       Todanara                43.478261     2
24    Tubuk Rajan               100.000000     4
25   Tubungwalang                87.500000     4
26        Waienga                79.310345     4
27       Watodiri                60.714286     3
28      Wuakerong                63.636364     3

In [230]:
IKP['I.4.1.1'] = persentase_benih['Skor']

In [231]:
IKP

   Desa/Kelurahan  I.1.1.1  I.2.1.1  I.3.1.1  I.4.1.1
0       Balauring        0        4        0        4
1      Benihading        1        4        1        4
2            Bour        4        3        1        3
3        Dikesare        0        2        0        3
4        Duawutun        1        4        0        2
5       Dulitukan        1        1        0        4
6        Hoelea I        1        4        0        4
7       Ile Kimok        0        4        0        4
8         Kalikur        0        3        0        4
9        Katakeja        4        4        0        0
10      Labalimut        0        4        0        3
11       Lamatuka        0        4        0        4
12     Laranwutun        0        3        0        3
13         Lolong        0        1        0        4
14          Mahal        0        3        0        4
15        Merdeka        1        2        0        4
16        Muruona        1        2        0        2
17       Nubamado        4        3        1        4
18           Pada        0        4        1        2
19       Paubokol        0        4        0        4
20           Puor        4        4        1        4
21       Riangbao        0        3        0        3
22       Tagawiti        4        2        0        4
23       Todanara        1        2        0        2
24    Tubuk Rajan        1        4        0        4
25   Tubungwalang        1        3        0        4
26        Waienga        0        2        0        4
27       Watodiri        4        3        0        3
28      Wuakerong        1        3        0        3

### I.4.1.2 Konservasi Benih

ditanya dulu

# Pilar 2

### II.1.1.1 Jenis pestisida yang digunakan

In [232]:
data_pestisida = pd.concat(
    [df[['ID', 'Desa/Kelurahan', 'Nama Tanaman', 'Pestisida/Herbisida/Fungisida.2']]],
    axis=1
)

In [233]:
data_pestisida

,ID,Desa/Kelurahan,Nama Tanaman,Pestisida/Herbisida/Fungisida.2
0,22180,Lolong,NaN,0.0
1,22190,Paubokol,Jagung Ubi Kayu Padi Porang,600000.0
2,22195,Paubokol,Padi Jagung,0.0
3,22200,Paubokol,Padi Jagung Ubi Kayu Kacang Tanah,1380000.0
4,22205,Paubokol,Padi,0.0
...,...,...,...,...
839,24802,Dikesare,Padi Jagung,0.0
840,24803,Mahal,Jagung,0.0
841,24866,Todanara,Padi Jagung Ubi Kayu,50000.0
842,24869,Todanara,NaN,0.0
843,24957,Todanara,Padi Jagung,0.0

In [234]:
data_pestisida.isna().sum()

ID                                   0
Desa/Kelurahan                       0
Nama Tanaman                       181
Pestisida/Herbisida/Fungisida.2      0
dtype: int64

In [235]:
data_pestisida = data_pestisida.dropna()

In [236]:
data_pestisida.info()

<class 'pandas.core.frame.DataFrame'>
Index: 663 entries, 1 to 843
Data columns (total 4 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               663 non-null    int64
 1   Desa/Kelurahan                   663 non-null    object
 2   Nama Tanaman                     663 non-null    object
 3   Pestisida/Herbisida/Fungisida.2  663 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 25.9+ KB

In [237]:
persentase_pestisida = (
    data_pestisida.groupby('Desa/Kelurahan')['Pestisida/Herbisida/Fungisida.2']
      .apply(lambda x: (x > 0).mean() * 100)
      .reset_index(name='Persentase Penggunaan Pestisida Sintetik')
)

def skor_pestisida(p):
    if p > 80:
        return 0
    elif p >= 61:
        return 1
    elif p >= 41:
        return 2
    elif p >= 21:
        return 3
    else:
        return 4

persentase_pestisida['Skor'] = persentase_pestisida['Persentase Penggunaan Pestisida Sintetik'].apply(skor_pestisida)

In [238]:
persentase_pestisida

   Desa/Kelurahan  Persentase Penggunaan Pestisida Sintetik  Skor
0       Balauring                                  7.692308     4
1      Benihading                                 10.000000     4
2            Bour                                 76.470588     1
3        Dikesare                                  0.000000     4
4        Duawutun                                  0.000000     4
5       Dulitukan                                  0.000000     4
6        Hoelea I                                 56.666667     2
7       Ile Kimok                                 51.724138     2
8         Kalikur                                 88.235294     0
9        Katakeja                                  0.000000     4
10      Labalimut                                  0.000000     4
11       Lamatuka                                  0.000000     4
12     Laranwutun                                 52.000000     2
13         Lolong                                  0.000000     4
14          Mahal                                 81.818182     0
15        Merdeka                                 26.086957     3
16        Muruona                                 41.176471     2
17       Nubamado                                 28.000000     3
18           Pada                                 11.764706     4
19       Paubokol                                 38.461538     3
20           Puor                                  0.000000     4
21       Riangbao                                 47.619048     2
22       Tagawiti                                  0.000000     4
23       Todanara                                 47.826087     2
24    Tubuk Rajan                                  0.000000     4
25   Tubungwalang                                 20.833333     4
26        Waienga                                 72.413793     1
27       Watodiri                                  3.571429     4
28      Wuakerong                                 27.272727     3

In [239]:
IKP['II.1.1.1'] = persentase_pestisida['Skor']

In [245]:
IKP

   Desa/Kelurahan  I.1.1.1  I.2.1.1  I.3.1.1  I.4.1.1  II.1.1.1
0       Balauring        0        4        0        4         4
1      Benihading        1        4        1        4         4
2            Bour        4        3        1        3         1
3        Dikesare        0        2        0        3         4
4        Duawutun        1        4        0        2         4
5       Dulitukan        1        1        0        4         4
6        Hoelea I        1        4        0        4         2
7       Ile Kimok        0        4        0        4         2
8         Kalikur        0        3        0        4         0
9        Katakeja        4        4        0        0         4
10      Labalimut        0        4        0        3         4
11       Lamatuka        0        4        0        4         4
12     Laranwutun        0        3        0        3         2
13         Lolong        0        1        0        4         4
14          Mahal        0        3        0        4         0
15        Merdeka        1        2        0        4         3
16        Muruona        1        2        0        2         2
17       Nubamado        4        3        1        4         3
18           Pada        0        4        1        2         4
19       Paubokol        0        4        0        4         3
20           Puor        4        4        1        4         4
21       Riangbao        0        3        0        3         2
22       Tagawiti        4        2        0        4         4
23       Todanara        1        2        0        2         2
24    Tubuk Rajan        1        4        0        4         4
25   Tubungwalang        1        3        0        4         4
26        Waienga        0        2        0        4         1
27       Watodiri        4        3        0        3         4
28      Wuakerong        1        3        0        3         3

### II.1.2.1 Jenis Pupuk yang Digunakan

In [246]:
data_pupuk = pd.concat(
    [df[['ID', 'Desa/Kelurahan', 'Nama Tanaman', 'Pupuk.2']]],
    axis=1
)

In [247]:
data_pupuk

        ID Desa/Kelurahan                       Nama Tanaman  Pupuk.2
0    22180         Lolong                                NaN      0.0
1    22190       Paubokol        Jagung Ubi Kayu Padi Porang      0.0
2    22195       Paubokol                        Padi Jagung      0.0
3    22200       Paubokol  Padi Jagung Ubi Kayu Kacang Tanah      0.0
4    22205       Paubokol                               Padi      0.0
..     ...            ...                                ...      ...
839  24802       Dikesare                        Padi Jagung      0.0
840  24803          Mahal                             Jagung      0.0
841  24866       Todanara               Padi Jagung Ubi Kayu      0.0
842  24869       Todanara                                NaN      0.0
843  24957       Todanara                        Padi Jagung      0.0

[844 rows x 4 columns]

In [248]:
data_pupuk.isna().sum()

ID                  0
Desa/Kelurahan      0
Nama Tanaman      181
Pupuk.2             0
dtype: int64

In [249]:
data_pupuk = data_pupuk.dropna()

In [250]:
data_pupuk.info()

<class 'pandas.core.frame.DataFrame'>
Index: 663 entries, 1 to 843
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              663 non-null    int64
 1   Desa/Kelurahan  663 non-null    object
 2   Nama Tanaman    663 non-null    object
 3   Pupuk.2         663 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 25.9+ KB

In [253]:
persentase_pupuk = (
    data_pupuk.groupby('Desa/Kelurahan')['Pupuk.2']
      .apply(lambda x: (x == 0).mean() * 100)
      .reset_index(name='Persentase Penggunaan Pupuk Organik')
)

def skor_pupuk(p):
    if p == 0:
        return 0
    elif p <= 25:
        return 1
    elif p <= 50:
        return 2
    elif p <= 75:
        return 3
    else:
        return 4

persentase_pupuk['Skor'] = persentase_pupuk['Persentase Penggunaan Pupuk Organik'].apply(skor_pupuk)

In [254]:
persentase_pupuk

   Desa/Kelurahan  Persentase Penggunaan Pupuk Organik  Skor
0       Balauring                            53.846154     3
1      Benihading                           100.000000     4
2            Bour                            58.823529     3
3        Dikesare                           100.000000     4
4        Duawutun                           100.000000     4
5       Dulitukan                           100.000000     4
6        Hoelea I                            20.000000     1
7       Ile Kimok                            93.103448     4
8         Kalikur                             0.000000     0
9        Katakeja                           100.000000     4
10      Labalimut                           100.000000     4
11       Lamatuka                            96.774194     4
12     Laranwutun                            96.000000     4
13         Lolong                           100.000000     4
14          Mahal                            31.818182     2
15        Merdeka                            95.652174     4
16        Muruona                            94.117647     4
17       Nubamado                            92.000000     4
18           Pada                            88.235294     4
19       Paubokol                            96.153846     4
20           Puor                            85.000000     4
21       Riangbao                           100.000000     4
22       Tagawiti                           100.000000     4
23       Todanara                            95.652174     4
24    Tubuk Rajan                           100.000000     4
25   Tubungwalang                            33.333333     2
26        Waienga                            96.551724     4
27       Watodiri                            96.428571     4
28      Wuakerong                           100.000000     4

In [255]:
IKP['II.1.2.1'] = persentase_pupuk['Skor']

In [256]:
IKP

   Desa/Kelurahan  I.1.1.1  I.2.1.1  I.3.1.1  I.4.1.1  II.1.1.1  II.1.2.1
0       Balauring        0        4        0        4         4         3
1      Benihading        1        4        1        4         4         4
2            Bour        4        3        1        3         1         3
3        Dikesare        0        2        0        3         4         4
4        Duawutun        1        4        0        2         4         4
5       Dulitukan        1        1        0        4         4         4
6        Hoelea I        1        4        0        4         2         1
7       Ile Kimok        0        4        0        4         2         4
8         Kalikur        0        3        0        4         0         0
9        Katakeja        4        4        0        0         4         4
10      Labalimut        0        4        0        3         4         4
11       Lamatuka        0        4        0        4         4         4
12     Laranwutun        0        3        0        3         2         4
13         Lolong        0        1        0        4         4         4
14          Mahal        0        3        0        4         0         2
15        Merdeka        1        2        0        4         3         4
16        Muruona        1        2        0        2         2         4
17       Nubamado        4        3        1        4         3         4
18           Pada        0        4        1        2         4         4
19       Paubokol        0        4        0        4         3         4
20           Puor        4        4        1        4         4         4
21       Riangbao        0        3        0        3         2         4
22       Tagawiti        4        2        0        4         4         4
23       Todanara        1        2        0        2         2         4
24    Tubuk Rajan        1        4        0        4         4         4
25   Tubungwalang        1        3        0        4         4         2
26        Waienga        0        2        0        4         1         4
27       Watodiri        4        3        0        3         4         4
28      Wuakerong        1        3        0        3         3         4

### II.1.3.1 Melakukan pemanfaatan limbah pertanian

In [240]:
data_limbah = pd.concat([df[['ID', 'Desa/Kelurahan']], df.iloc[:, 243:245]], axis=1)

In [241]:
data_limbah

        ID Desa/Kelurahan Sumber Limbah    Pengolahan
0    22180         Lolong  Rumah Tangga  Tidak Diolah
1    22190       Paubokol  Rumah Tangga     Tidak ada
2    22195       Paubokol  Rumah Tangga     Tidak ada
3    22200       Paubokol     Tidak ada     Tidak ada
4    22205       Paubokol  Rumah Tangga     Tidak ada
..     ...            ...           ...           ...
839  24802       Dikesare  Rumah Tangga        Diolah
840  24803          Mahal  Rumah Tangga  Tidak Diolah
841  24866       Todanara  Rumah Tangga  Tidak Diolah
842  24869       Todanara  Rumah Tangga  Tidak Diolah
843  24957       Todanara  Rumah Tangga  Tidak Diolah

[844 rows x 4 columns]

In [242]:
data_limbah['Sumber Limbah'].value_counts()

Sumber Limbah
Rumah Tangga                                                  477
Pertanian dan Perkebunan                                      115
Tidak ada                                                      55
Rumah Tangga Pertanian dan Perkebunan                          33
Peternakan dan Perikanan                                       31
Rumah Tangga Pertanian dan Perkebunan Peternakan Perikanan     22
Rumah Tangga Peternakan dan Perikanan                          13
Pertanian dan Perkebunan Rumah Tangga                           6
Pertanian dan Perkebunan Rumah Tangga Peternakan Perikanan      1
Pertanian dan Perkebunan Peternakan Perikanan                   1
Rumah Tangga Peternakan dan Perikanan Pertanian Perkebunan      1
Name: count, dtype: int64

In [243]:
data_limbah['Pengolahan'].value_counts()

Pengolahan
Tidak Diolah        414
Diolah              203
Tidak ada            98
Diolah Tidak         34
Tidak Diolah ada      3
Tidak ada Diolah      2
Diolah Tidak ada      1
Name: count, dtype: int64

In [244]:
hasil

        ID Desa/Kelurahan Pengolahan_Pertanian
0    22180         Lolong                 <NA>
1    22190       Paubokol                 <NA>
2    22195       Paubokol                 <NA>
3    22200       Paubokol                 <NA>
4    22205       Paubokol                 <NA>
..     ...            ...                  ...
839  24802       Dikesare                 <NA>
840  24803          Mahal                 <NA>
841  24866       Todanara                 <NA>
842  24869       Todanara                 <NA>
843  24957       Todanara                 <NA>

[844 rows x 3 columns]

### X