In [45]:
import re
import numpy as np
import pandas as pd

In [46]:
df_p = pd.read_csv("Data_Produksi.csv")
df_kb = pd.read_csv("Data_Konsumsi_Beli.csv")
df_ktb = pd.read_csv("Data_Konsumsi_Tidak_Beli.csv")

In [47]:
df_kb

,ID,Desa/Kelurahan,Beras_Lokal_(Sawah/Ladang_dalam_Rp),Beras_Toko,Singkong.2,Jagung_Lokal.2,Jagung_Hibrida.2,Umbi-umbian_lain.2,Sorgum.2,Jewawut/Weteng.2,...,Transportasi,SPP_(Iuran_Sekolah),Peralatan_Sekolah/ATK,Transportasi/Kos/Jajan,Periksa_Kesehatan,Iuran_BPJS,Obat,Sanitary,Pulsa_Ponsel,"Dana_Sosial_(Arisan,_Sumbangan,_dll)"
0,22180,Lolong,0;,150000;,25000;,0;,0;,10000;,0;,0;,...,50000;,0;,0;,0;,0;,0;,0;,0;,20000;,5000;
1,22190,Paubokol,0;,4680000;,0;,0;,0;,0;,0;,0;,...,1440000;,8000000;,300000;,5160000;,0;,0;,0;,60000;,600000;,6000000;
2,22195,Paubokol,0;,1560000;,0;,0;,0;,0;,0;,0;,...,600000;,0;,0;,0;,0;,0;,0;,0;,0;,0;
3,22200,Paubokol,0;,5460000;,0;,0;,0;,0;,0;,0;,...,0;,0;,0;,0;,0;,0;,0;,0;,600000;,0;
4,22205,Paubokol,0;,3120000;,0;,0;,0;,0;,0;,0;,...,0;,300000;,150000;,720000;,10000;,0;,10000;,0;,600000;,1200000;
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,24866,Todanara,0;,200000;,0;,0;,0;,0;,0;,0;,...,150000;,567000;,200000;,1080000;,0;,0;,0;,90000;,100000;,19000;
877,24867,Todanara,0;,160000;,0;,0;,0;,0;,0;,0;,...,0;,250000;,;,20000;,0;,0;,0;,20000;,50000;,32500;
878,24869,Todanara,0;,320000;,0;,0;,0;,0;,0;,0;,...,500000;,0;,0;,0;,0;,80000;,0;,100000;,200000;,203000;
879,24887,Labalimut,0;,280000;,0;,0;,0;,0;,0;,0;,...,60000;,0;,0;,0;,0;,35000;,0;,0;,50000;,100000;
880,24957,Todanara,;,75000;,;,;,;,;,;,;,...,0;,0;,0;,0;,0;,0;,0;,30000;,20000;,20000;

In [48]:
df_kb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 96 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ID                                       881 non-null    int64
 1   Desa/Kelurahan                           881 non-null    object
 2   Beras_Lokal_(Sawah/Ladang_dalam_Rp)      864 non-null    object
 3   Beras_Toko                               864 non-null    object
 4   Singkong.2                               864 non-null    object
 5   Jagung_Lokal.2                           864 non-null    object
 6   Jagung_Hibrida.2                         864 non-null    object
 7   Umbi-umbian_lain.2                       864 non-null    object
 8   Sorgum.2                                 864 non-null    object
 9   Jewawut/Weteng.2                         864 non-null    object
 10  Ikan_dan_Boga_Laut_Segar.2               864 non-null    object
 11  Ikan_dan_Boga_Laut_Kering.2              864 non-null    object
 12  Telor.2                                  864 non-null    object
 13  Ayam.2                                   864 non-null    object
 14  Daging_(Sapi/Kerbau/Kambing/Babi,dll).1  864 non-null    object
 15  Tahu_dan_Tempe                           864 non-null    object
 16  Kacang-kacangan.2                        864 non-null    object
 17  Daun_Ubi                                 864 non-null    object
 18  Kangkung                                 864 non-null    object
 19  Kubis                                    864 non-null    object
 20  Sawi                                     864 non-null    object
 21  Bayam                                    864 non-null    object
 22  Brokoli                                  864 non-null    object
 23  Wortel                                   864 non-null    object
 24  Jantung_Pisang                           864 non-null    object
 25  Kelor                                    864 non-null    object
 26  Bunga_dan_Daun_Pepaya                    864 non-null    object
 27  Pakis/Paku                               864 non-null    object
 28  Rebung                                   864 non-null    object
 29  Mangga                                   864 non-null    object
 30  Alpukat                                  864 non-null    object
 31  Jeruk                                    864 non-null    object
 32  Anggur                                   864 non-null    object
 33  Buah_Naga                                864 non-null    object
 34  Mete.2                                   864 non-null    object
 35  Pisang                                   864 non-null    object
 36  Rambutan                                 864 non-null    object
 37  Nanas                                    864 non-null    object
 38  Salak                                    864 non-null    object
 39  Pepaya                                   864 non-null    object
 40  Kelapa                                   864 non-null    object
 41  Tomat                                    864 non-null    object
 42  Timun                                    864 non-null    object
 43  Labu                                     864 non-null    object
 44  Kemangi                                  864 non-null    object
 45  Minyak_Kelapa.2                          864 non-null    object
 46  Minyak_Goreng_Kemasan/Toko               864 non-null    object
 47  Bumbu_Kemasan                            864 non-null    object
 48  MSG                                      864 non-null    object
 49  Bawang_Merah                             864 non-null    object
 50  Bawang_Putih                             864 non-null    object
 51  Bawang_Bombai                            864 non-null    object
 52  Cabai_Besar.2                            864 non-null    object
 53  Cabai_Kecil.2                            864 non-null    object
 54  Lada                                     864 non-null    object
 55  Kemiri.2                                 864 non-null    object
 56  Kunyit.2                                 864 non-null    object
 57  Jahe.2                                   864 non-null    object
 58  Sereh.2                                  864 non-null    object
 59  Lengkuas.2                               864 non-null    object
 60  Jeruk_Nipis.2                            864 non-null    object
 61  Jeruk_Limau                              864 non-null    object
 62  Kecap                                    864 non-null    object
 63  Saos                                     864 non-null    object
 64  Susu_(Bubuk/UHT)                         864 non-null    object
 65  Kental_Manis                             864 non-null    object
 66  Minuman_Kemasan                          864 non-null    object
 67  Minuman_Fermentasi                       864 non-null    object
 68  Gula_Pasir                               864 non-null    object
 69  Kopi                                     864 non-null    object
 70  Teh                                      864 non-null    object
 71  Mie_Instan                               864 non-null    object
 72  Biskuit/Roti/Kue_Kemasan                 864 non-null    object
 73  Rokok_Kemasan                            864 non-null    object
 74  Tembakau                                 864 non-null    object
 75  Pinang                                   864 non-null    object
 76  Daun_Sirih                               864 non-null    object
 77  Minyak_Tanah                             864 non-null    object
 78  Gas                                      864 non-null    object
 79  Biaya_Listrik                            864 non-null    object
 80  BBM                                      864 non-null    object
 81  Pupuk                                    864 non-null    object
 82  Pestisida/Herbisida/Fungisida            864 non-null    object
 83  Benih                                    864 non-null    object
 84  Upah_Buruh                               864 non-null    object
 85  Sewa_Alat_dan_Mesin_Pertanian            864 non-null    object
 86  Transportasi                             864 non-null    object
 87  SPP_(Iuran_Sekolah)                      864 non-null    object
 88  Peralatan_Sekolah/ATK                    864 non-null    object
 89  Transportasi/Kos/Jajan                   864 non-null    object
 90  Periksa_Kesehatan                        864 non-null    object
 91  Iuran_BPJS                               864 non-null    object
 92  Obat                                     864 non-null    object
 93  Sanitary                                 864 non-null    object
 94  Pulsa_Ponsel                             864 non-null    object
 95  Dana_Sosial_(Arisan,_Sumbangan,_dll)     864 non-null    object
dtypes: int64(1), object(95)
memory usage: 660.9+ KB

In [49]:
df_ktb

,ID,Desa/Kelurahan,Beras_Lokal_(Sawah/Ladang),Singkong.1,Jagung_Lokal.1,Jagung_Hibrida.1,Umbi-umbian_lain.1,Sorgum.1,Jewawut/Weteng.1,Ikan_dan_Boga_Laut_Segar.1,...,Cabai_Besar.1,Cabai_Kecil.1,Kemiri.1,Kunyit.1,Jahe.1,Sereh.1,Lengkuas.1,Jeruk_Nipis.1,Mete.1,Lain-lain.1
0,22180,Lolong,1;,1;,1;,1;,0;,0;,0;,0;,...,10000;,10000;,2000;,0;,0;,0;,0;,5000;,0;,0;
1,22190,Paubokol,0;,0;,0;,0;,0;,0;,0;,0;,...,0;,0;,0;,60000;,0;,0;,0;,0;,;,;
2,22195,Paubokol,100;,150;,0;,0;,0;,0;,0;,0;,...,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;
3,22200,Paubokol,560;,200;,200;,0;,200;,0;,0;,0;,...,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;
4,22205,Paubokol,400;,400;,50;,0;,20;,0;,0;,0;,...,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,24866,Todanara,50;,100;,20;,20;,0;,0;,0;,0;,...,0;,0;,0;,0;,0;,0;,0;,0;,0;,;
877,24867,Todanara,20;,10;,10;,10;,0;,0;,0;,0;,...,0;,0;,0;,0;,0;,0;,0;,0;,0;,;
878,24869,Todanara,0;,0;,0.5;,0;,0;,0;,0;,20000;,...,20000;,0;,0;,0;,0;,10000;,0;,0;,0;,0;
879,24887,Labalimut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
880,24957,Todanara,100;,0;,100;,100;,0;,40;,0;,0;,...,;,;,;,;,;,;,;,;,;,;

In [50]:
df_ktb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           881 non-null    int64
 1   Desa/Kelurahan               881 non-null    object
 2   Beras_Lokal_(Sawah/Ladang)   745 non-null    object
 3   Singkong.1                   745 non-null    object
 4   Jagung_Lokal.1               745 non-null    object
 5   Jagung_Hibrida.1             745 non-null    object
 6   Umbi-umbian_lain.1           745 non-null    object
 7   Sorgum.1                     745 non-null    object
 8   Jewawut/Weteng.1             745 non-null    object
 9   Ikan_dan_Boga_Laut_Segar.1   745 non-null    object
 10  Ikan_dan_Boga_Laut_Kering.1  745 non-null    object
 11  Telor.1                      745 non-null    object
 12  Ayam.1                       745 non-null    object
 13  Kacang-kacangan.1            745 non-null    object
 14  Minyak_Kelapa.1              745 non-null    object
 15  Cabai_Besar.1                745 non-null    object
 16  Cabai_Kecil.1                745 non-null    object
 17  Kemiri.1                     745 non-null    object
 18  Kunyit.1                     745 non-null    object
 19  Jahe.1                       745 non-null    object
 20  Sereh.1                      745 non-null    object
 21  Lengkuas.1                   745 non-null    object
 22  Jeruk_Nipis.1                745 non-null    object
 23  Mete.1                       745 non-null    object
 24  Lain-lain.1                  745 non-null    object
dtypes: int64(1), object(24)
memory usage: 172.2+ KB

In [51]:
def parse_rp(x):
    """Bersihkan string rupiah (Rp, titik ribuan, koma) → float (nilai Rp)."""
    if pd.isna(x):
        return np.nan
    s = str(x)
    s = re.sub(r"[^0-9,.\-]", "", s)            # buang selain digit, koma, titik, minus
    s = re.sub(r"\.(?=\d{3}(\D|$))", "", s)     # hapus titik ribuan (contoh 12.600 → 12600)
    s = s.replace(",", ".")                     # koma → titik desimal
    try:
        return float(s)
    except:
        return np.nan

def parse_num(x):
    """Bersihkan angka umum (mis. '1,5', '3 kg', '1.200,5') → float."""
    if pd.isna(x): 
        return np.nan
    s = str(x)
    s = re.sub(r"[^0-9,.\-]", "", s)            # buang huruf/simbol selain digit . , -
    s = re.sub(r"\.(?=\d{3}(\D|$))", "", s)     # hapus titik ribuan
    s = s.replace(",", ".")                     # koma → titik
    try:
        return float(s)
    except:
        return np.nan

def make_new_name(unit, old_name):
    # contoh: 'Ayam.2' → 'Ayam_2'
    base = old_name.replace("/", "_").replace(" ", "_").replace("(", "").replace(")", "").replace(".", "_")
    base = re.sub(r"__+", "_", base).strip("_")
    return f"{unit}_{base}"

In [52]:
# ------- 2) Harga acuan: Rp per satuan -------
# Kunci DISESUAIKAN dengan nama kolom di dataframe kamu (KB/KTB)
harga = {
    # --- KG (Rp per kg) ---
    "Beras_Lokal_(Sawah/Ladang_dalam_Rp)": 12600,
    "Beras_Toko": 12600,
    "Singkong.2": 6509,
    "Jagung_Lokal.2": 7583,
    "Jagung_Hibrida.2": 7583,
    "Umbi-umbian_lain.2": 7830,
    "Ikan_dan_Boga_Laut_Segar.2": 47923,
    "Ikan_dan_Boga_Laut_Kering.2": 77134,
    "Telor.2": 32289,
    "Ayam.2": 46804,
    "Daging_(Sapi/Kerbau/Kambing/Babi,dll).1": 111607,
    "Kacang-kacangan.2": 28304,
    "Daun_Ubi": 7671,
    "Kangkung": 8852,
    "Kubis": 12483,
    "Sawi": 10234,
    "Bayam": 9251,
    "Wortel": 22591,
    "Tomat": 13227,
    "Timun": 9261,
    "Labu": 6446,
    "Pepaya": 9478,
    "Mangga": 11525,
    "Pisang": 12234,
    "Jeruk": 21204,
    "Salak": 21754,
    "Bawang_Merah": 20203,
    "Bawang_Putih": 48957,
    "Cabai_Besar.2": 46433,
    "Cabai_Kecil.2": 30773,
    "Gula_Pasir": 19055,
    "Minyak_Kelapa.2": 21932,
    "Minyak_Goreng_Kemasan/Toko": 23314,
    "Susu_(Bubuk/UHT)": 97000,
    "Kental_Manis": 12929,
    "Tahu_dan_Tempe": 15000,


    # --- SATUAN KHUSUS ---
    "Kelapa": 4119,                 # per butir
    "Bumbu_Kemasan": 3986,          # per bungkus
    "MSG": 3401,                    # per 400g
    "Lada": 10798,                  # per ons
    "Kemiri.2": 5132,               # per ons
    "Kecap": 16899,                 # per botol
    "Minuman_Kemasan": 5974,        # per botol
    "Minuman_Fermentasi": 39280,    # per botol
    "Kopi": 1560,                   # per sachet
    "Teh": 2900,                    # per bungkus
    "Mie_Instan": 3543,             # per bungkus
    "Rokok_Kemasan": 26036,         # per bungkus
    "Tembakau": 8095,               # per ons
    "Biskuit/Roti/Kue_Kemasan": 8000,  # Rp per 200 g
}

In [53]:
# ------- 3) Satuan untuk masing2 kolom (apa yang mau dipakai di prefix) -------
satuan = {
    # default untuk yang per-kg
    **{k: "kg" for k, v in harga.items() if v and k not in [
        "Kelapa", "Bumbu_Kemasan", "MSG", "Lada", "Kemiri.2", "Kecap",
        "Minuman_Kemasan", "Minuman_Fermentasi", "Kopi", "Teh",
        "Mie_Instan", "Rokok_Kemasan", "Tembakau", "Biskuit/Roti/Kue_Kemasan"
    ]},
    # override
    "Kelapa": "butir",
    "Bumbu_Kemasan": "bungkus",
    "MSG": "400g",
    "Lada": "ons",
    "Kemiri.2": "ons",
    "Kecap": "botol",
    "Minuman_Kemasan": "botol",
    "Minuman_Fermentasi": "botol",
    "Kopi": "sachet",
    "Teh": "bungkus",
    "Mie_Instan": "bungkus",
    "Rokok_Kemasan": "bungkus",
    "Tembakau": "ons",
    "Biskuit/Roti/Kue_Kemasan": "200g",
}

In [54]:
# ------- KONVERSI: KB (semua Rp → jumlah satuan alamiah) -------
def convert_kb(df_kb):
    out = pd.DataFrame(index=df_kb.index)
    for col, h in harga.items():
        if col not in df_kb.columns:
            continue
        if h and h > 0:
            unit = satuan.get(col, "unit")
            newcol = make_new_name(unit, col)
            # jika belum ada _1/_2, paksa _2 (KB)
            if not re.search(r"_(?:1|2)$", newcol):
                newcol = newcol + "_2"
            out[newcol] = df_kb[col].apply(parse_rp) / h
    return out

In [55]:
# ------- 5) KONVERSI: KTB (campuran kg & Rp) -------
# daftar kolom KTB yang SUDAH kg (dari list kamu)
ktb_sudah_kg = {
    "Beras_Lokal_(Sawah/Ladang)", "Singkong.1", "Jagung_Lokal.1", "Jagung_Hibrida.1",
    "Umbi-umbian_lain.1", "Sorgum.1", "Jewawut/Weteng.1"
}

def convert_ktb(df_ktb):
    out = pd.DataFrame(index=df_ktb.index)
    for col in df_ktb.columns:
        if col in ktb_sudah_kg:
            newcol = make_new_name("kg", col)   # akan jadi mis. 'kg_Beras_Lokal_Sawah_Ladang'
            # kalau belum ada _1/_2 → paksa _1 (KTB)
            if not re.search(r"_(?:1|2)$", newcol):
                newcol = newcol + "_1"
            out[newcol] = df_ktb[col].apply(parse_num)
            continue

        # kolom Rp di KTB → map ke harga KB (".1" → ".2")
        kb_like = col.replace(".1", ".2")
        if kb_like in harga and harga[kb_like]:
            unit = satuan.get(kb_like, "unit")
            newcol = make_new_name(unit, col)  # 'kg_Ayam_1' dll
            if not re.search(r"_(?:1|2)$", newcol):
                newcol = newcol + "_1"
            out[newcol] = df_ktb[col].apply(parse_rp) / harga[kb_like]
    return out

In [56]:
# ------- 6) jalankan -------
kb_unit = convert_kb(df_kb)   # → kolom seperti kg_Tomat, bungkus_Mie_Instan, sachet_Kopi, butir_Kelapa, ons_Kemiri, ...
ktb_unit = convert_ktb(df_ktb)

# tambahkan ID & Desa di depan
kb_unit = pd.concat([df_kb[["ID", "Desa/Kelurahan"]].reset_index(drop=True),
                     kb_unit.reset_index(drop=True)], axis=1)

ktb_unit = pd.concat([df_ktb[["ID", "Desa/Kelurahan"]].reset_index(drop=True),
                      ktb_unit.reset_index(drop=True)], axis=1)

In [57]:
kb_unit

,ID,Desa/Kelurahan,kg_Beras_Lokal_Sawah_Ladang_dalam_Rp_2,kg_Beras_Toko_2,kg_Singkong_2,kg_Jagung_Lokal_2,kg_Jagung_Hibrida_2,kg_Umbi-umbian_lain_2,kg_Ikan_dan_Boga_Laut_Segar_2,kg_Ikan_dan_Boga_Laut_Kering_2,...,ons_Kemiri_2,botol_Kecap_2,botol_Minuman_Kemasan_2,botol_Minuman_Fermentasi_2,sachet_Kopi_2,bungkus_Teh_2,bungkus_Mie_Instan_2,bungkus_Rokok_Kemasan_2,ons_Tembakau_2,200g_Biskuit_Roti_Kue_Kemasan_2
0,22180,Lolong,0.0,11.904762,3.840836,0.0,0.0,1.277139,0.417336,0.259289,...,0.0,0.295875,0.000000,0.000000,11.538462,2.758621,2.822467,0.000000,0.000000,1.00
1,22190,Paubokol,0.0,371.428571,0.000000,0.0,0.0,0.000000,30.048202,0.000000,...,0.0,10.651518,0.000000,0.000000,384.615385,0.000000,0.000000,0.000000,0.000000,0.00
2,22195,Paubokol,0.0,123.809524,0.000000,0.0,0.0,0.000000,10.016067,0.000000,...,0.0,0.000000,0.000000,0.000000,153.846154,62.068966,0.000000,0.000000,0.000000,0.00
3,22200,Paubokol,0.0,433.333333,0.000000,0.0,0.0,0.000000,30.048202,0.000000,...,0.0,7.101012,0.000000,0.000000,123.076923,28.965517,0.000000,0.000000,0.000000,0.00
4,22205,Paubokol,0.0,247.619048,0.000000,0.0,0.0,0.000000,80.128540,0.000000,...,0.0,0.000000,0.000000,30.549898,384.615385,0.000000,0.000000,248.886158,0.000000,75.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,24866,Todanara,0.0,15.873016,0.000000,0.0,0.0,0.000000,2.086681,0.259289,...,0.0,0.532576,0.000000,0.000000,0.000000,2.758621,0.000000,0.000000,0.000000,0.00
877,24867,Todanara,0.0,12.698413,0.000000,0.0,0.0,0.000000,6.260042,0.648223,...,0.0,0.236700,NaN,NaN,NaN,NaN,NaN,0.000000,2.470661,NaN
878,24869,Todanara,0.0,25.396825,0.000000,0.0,0.0,0.000000,0.417336,0.000000,...,0.0,1.183502,16.739203,0.000000,12.820513,6.896552,14.112334,23.045015,0.000000,3.75
879,24887,Labalimut,0.0,22.222222,0.000000,0.0,0.0,0.000000,2.086681,0.648223,...,0.0,0.000000,0.000000,0.000000,12.820513,2.758621,0.000000,5.761254,0.000000,0.00
880,24957,Todanara,NaN,5.952381,NaN,NaN,NaN,NaN,0.834672,0.064822,...,NaN,NaN,NaN,NaN,0.000000,2.413793,NaN,0.000000,0.000000,0.00

In [58]:
kb_unit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 52 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   ID                                        881 non-null    int64
 1   Desa/Kelurahan                            881 non-null    object
 2   kg_Beras_Lokal_Sawah_Ladang_dalam_Rp_2    606 non-null    float64
 3   kg_Beras_Toko_2                           846 non-null    float64
 4   kg_Singkong_2                             648 non-null    float64
 5   kg_Jagung_Lokal_2                         663 non-null    float64
 6   kg_Jagung_Hibrida_2                       638 non-null    float64
 7   kg_Umbi-umbian_lain_2                     645 non-null    float64
 8   kg_Ikan_dan_Boga_Laut_Segar_2             827 non-null    float64
 9   kg_Ikan_dan_Boga_Laut_Kering_2            671 non-null    float64
 10  kg_Telor_2                                779 non-null    float64
 11  kg_Ayam_2                                 643 non-null    float64
 12  kg_Daging_Sapi_Kerbau_Kambing_Babi,dll_1  621 non-null    float64
 13  kg_Kacang-kacangan_2                      648 non-null    float64
 14  kg_Daun_Ubi_2                             639 non-null    float64
 15  kg_Kangkung_2                             782 non-null    float64
 16  kg_Kubis_2                                640 non-null    float64
 17  kg_Sawi_2                                 763 non-null    float64
 18  kg_Bayam_2                                727 non-null    float64
 19  kg_Wortel_2                               665 non-null    float64
 20  kg_Tomat_2                                699 non-null    float64
 21  kg_Timun_2                                653 non-null    float64
 22  kg_Labu_2                                 670 non-null    float64
 23  kg_Pepaya_2                               634 non-null    float64
 24  kg_Mangga_2                               627 non-null    float64
 25  kg_Pisang_2                               700 non-null    float64
 26  kg_Jeruk_2                                625 non-null    float64
 27  kg_Salak_2                                610 non-null    float64
 28  kg_Bawang_Merah_2                         839 non-null    float64
 29  kg_Bawang_Putih_2                         830 non-null    float64
 30  kg_Cabai_Besar_2                          647 non-null    float64
 31  kg_Cabai_Kecil_2                          681 non-null    float64
 32  kg_Gula_Pasir_2                           828 non-null    float64
 33  kg_Minyak_Kelapa_2                        605 non-null    float64
 34  kg_Minyak_Goreng_Kemasan_Toko_2           844 non-null    float64
 35  kg_Susu_Bubuk_UHT_2                       694 non-null    float64
 36  kg_Kental_Manis_2                         650 non-null    float64
 37  kg_Tahu_dan_Tempe_2                       724 non-null    float64
 38  butir_Kelapa_2                            631 non-null    float64
 39  bungkus_Bumbu_Kemasan_2                   716 non-null    float64
 40  400g_MSG_2                                785 non-null    float64
 41  ons_Lada_2                                654 non-null    float64
 42  ons_Kemiri_2                              627 non-null    float64
 43  botol_Kecap_2                             741 non-null    float64
 44  botol_Minuman_Kemasan_2                   623 non-null    float64
 45  botol_Minuman_Fermentasi_2                612 non-null    float64
 46  sachet_Kopi_2                             804 non-null    float64
 47  bungkus_Teh_2                             807 non-null    float64
 48  bungkus_Mie_Instan_2                      717 non-null    float64
 49  bungkus_Rokok_Kemasan_2                   717 non-null    float64
 50  ons_Tembakau_2                            618 non-null    float64
 51  200g_Biskuit_Roti_Kue_Kemasan_2           686 non-null    float64
dtypes: float64(50), int64(1), object(1)
memory usage: 358.0+ KB

In [59]:
ktb_unit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              881 non-null    int64
 1   Desa/Kelurahan                  881 non-null    object
 2   kg_Beras_Lokal_Sawah_Ladang_1   613 non-null    float64
 3   kg_Singkong_1                   629 non-null    float64
 4   kg_Jagung_Lokal_1               682 non-null    float64
 5   kg_Jagung_Hibrida_1             605 non-null    float64
 6   kg_Umbi-umbian_lain_1           594 non-null    float64
 7   kg_Sorgum_1                     561 non-null    float64
 8   kg_Jewawut_Weteng_1             557 non-null    float64
 9   kg_Ikan_dan_Boga_Laut_Segar_1   599 non-null    float64
 10  kg_Ikan_dan_Boga_Laut_Kering_1  569 non-null    float64
 11  kg_Telor_1                      572 non-null    float64
 12  kg_Ayam_1                       575 non-null    float64
 13  kg_Kacang-kacangan_1            570 non-null    float64
 14  kg_Minyak_Kelapa_1              575 non-null    float64
 15  kg_Cabai_Besar_1                568 non-null    float64
 16  kg_Cabai_Kecil_1                586 non-null    float64
 17  ons_Kemiri_1                    571 non-null    float64
dtypes: float64(16), int64(1), object(1)
memory usage: 124.0+ KB

In [60]:
ktb_unit

,ID,Desa/Kelurahan,kg_Beras_Lokal_Sawah_Ladang_1,kg_Singkong_1,kg_Jagung_Lokal_1,kg_Jagung_Hibrida_1,kg_Umbi-umbian_lain_1,kg_Sorgum_1,kg_Jewawut_Weteng_1,kg_Ikan_dan_Boga_Laut_Segar_1,kg_Ikan_dan_Boga_Laut_Kering_1,kg_Telor_1,kg_Ayam_1,kg_Kacang-kacangan_1,kg_Minyak_Kelapa_1,kg_Cabai_Besar_1,kg_Cabai_Kecil_1,ons_Kemiri_1
0,22180,Lolong,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.000000,0.0,0.309703,0.000000,0.00000,0.0,0.215364,0.32496,0.389712
1,22190,Paubokol,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,NaN,0.0,0.000000,0.00000,0.000000
2,22195,Paubokol,100.0,150.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,22.298616,10.682848,0.00000,0.0,0.000000,0.00000,0.000000
3,22200,Paubokol,560.0,200.0,200.0,0.0,200.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.00000,0.0,0.000000,0.00000,0.000000
4,22205,Paubokol,400.0,400.0,50.0,0.0,20.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,NaN,0.0,0.000000,0.00000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,24866,Todanara,50.0,100.0,20.0,20.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.00000,0.0,0.000000,0.00000,0.000000
877,24867,Todanara,20.0,10.0,10.0,10.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,3.53307,0.0,0.000000,0.00000,0.000000
878,24869,Todanara,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.417336,0.0,0.000000,0.000000,0.00000,0.0,0.430728,0.00000,0.000000
879,24887,Labalimut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
880,24957,Todanara,100.0,0.0,100.0,100.0,0.0,40.0,0.0,0.000000,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
KEYS = ["ID", "Desa/Kelurahan"]

# 1) gabungkan KB & KTB
merged = pd.merge(kb_unit, ktb_unit, on=KEYS, how="outer")

# 2) kelompokkan kolom ukuran ke "base" (hapus _1/_2, dan khusus beras lokal: hapus _dalam_Rp)
measure_cols = [c for c in merged.columns if c not in KEYS]
groups = {}
for c in measure_cols:
    base = re.sub(r"_(?:1|2)$", "", c)  # buang _1/_2
    # normalisasi khusus Beras Lokal: ..._dalam_Rp -> (hapus)
    base = base.replace("_dalam_Rp", "") if base.startswith("kg_Beras_Lokal_Sawah_Ladang") else base
    groups.setdefault(base, []).append(c)

# 3) bentuk total_units: jumlahkan pasangan (ada _1 & _2), sisanya bawa apa adanya
total_units = merged[KEYS].copy()
for base, cols in groups.items():
    has_1 = any(col.endswith("_1") for col in cols)
    has_2 = any(col.endswith("_2") for col in cols)
    if has_1 and has_2:
        total_units["konsumsi_" + base] = merged[cols].fillna(0).sum(axis=1)
    else:
        total_units["konsumsi_" + base] = merged[cols[0]]

# 4) urutan: pasangan (KTB+KB) → KTB-only → KB-only
#    (pakai logika yang sama, tapi dihitung dari kb_unit/ktb_unit)
ktb_bases = {
    re.sub(r"_(?:1|2)$", "", c).replace("_dalam_Rp", "") if re.sub(r"_(?:1|2)$", "", c).startswith("kg_Beras_Lokal_Sawah_Ladang")
    else re.sub(r"_(?:1|2)$", "", c)
    for c in ktb_unit.columns if c not in KEYS
}
kb_bases = {
    re.sub(r"_(?:1|2)$", "", c).replace("_dalam_Rp", "") if re.sub(r"_(?:1|2)$", "", c).startswith("kg_Beras_Lokal_Sawah_Ladang")
    else re.sub(r"_(?:1|2)$", "", c)
    for c in kb_unit.columns if c not in KEYS
}

both     = sorted(ktb_bases & kb_bases)
ktb_only = sorted(ktb_bases - kb_bases)
kb_only  = sorted(kb_bases  - ktb_bases)

order = []
order += [f"konsumsi_{b}" for b in both]      # pasangan dulu
order += [f"konsumsi_{b}" for b in ktb_only]  # KTB-only
order += [f"konsumsi_{b}" for b in kb_only]   # KB-only

cols_final = KEYS + [c for c in order if c in total_units.columns]
total_units = total_units[cols_final]

In [62]:
total_units

,ID,Desa/Kelurahan,konsumsi_kg_Ayam,konsumsi_kg_Beras_Lokal_Sawah_Ladang,konsumsi_kg_Cabai_Besar,konsumsi_kg_Cabai_Kecil,konsumsi_kg_Ikan_dan_Boga_Laut_Kering,konsumsi_kg_Ikan_dan_Boga_Laut_Segar,konsumsi_kg_Jagung_Hibrida,konsumsi_kg_Jagung_Lokal,...,konsumsi_kg_Salak,konsumsi_kg_Sawi,konsumsi_kg_Susu_Bubuk_UHT,konsumsi_kg_Tahu_dan_Tempe,konsumsi_kg_Timun,konsumsi_kg_Tomat,konsumsi_kg_Wortel,konsumsi_ons_Lada,konsumsi_ons_Tembakau,konsumsi_sachet_Kopi
0,22180,Lolong,0.000000,1.0,0.215364,0.324960,0.259289,0.417336,1.0,1.0,...,0.000000,0.977135,0.103093,0.666667,1.079797,0.756029,0.442654,0.463049,0.000000,11.538462
1,22190,Paubokol,20.511067,0.0,0.000000,0.000000,0.000000,30.048202,0.0,0.0,...,5.516227,17.588431,12.371134,64.000000,12.957564,9.072352,5.311850,11.113169,0.000000,384.615385
2,22195,Paubokol,10.682848,100.0,0.000000,0.000000,0.000000,10.016067,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,153.846154
3,22200,Paubokol,0.000000,560.0,0.000000,0.000000,0.000000,30.048202,0.0,200.0,...,0.000000,23.451241,0.000000,16.000000,1.079797,0.000000,5.311850,0.000000,0.000000,123.076923
4,22205,Paubokol,15.383301,400.0,0.000000,19.497612,0.000000,80.128540,0.0,50.0,...,0.000000,35.176861,12.371134,64.000000,0.000000,0.000000,15.935550,27.782923,0.000000,384.615385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,24866,Todanara,0.000000,50.0,0.000000,0.000000,0.259289,2.086681,20.0,20.0,...,0.000000,4.885675,0.000000,1.333333,0.000000,1.512059,0.000000,0.000000,0.000000,0.000000
877,24867,Todanara,0.000000,20.0,0.000000,0.000000,0.648223,6.260042,10.0,10.0,...,0.000000,2.931405,NaN,1.333333,0.000000,0.000000,0.000000,0.000000,2.470661,NaN
878,24869,Todanara,1.068285,0.0,0.430728,0.649920,0.000000,0.834672,0.0,0.5,...,0.919371,2.931405,0.309278,0.666667,5.398985,3.780147,0.885308,0.000000,0.000000,12.820513
879,24887,Labalimut,0.000000,0.0,0.000000,0.000000,0.648223,2.086681,0.0,0.0,...,0.000000,1.954270,0.000000,1.333333,0.000000,0.000000,0.442654,1.852195,0.000000,12.820513
880,24957,Todanara,0.000000,100.0,0.000000,0.000000,0.064822,0.834672,100.0,100.0,...,NaN,NaN,0.051546,0.000000,NaN,NaN,NaN,NaN,0.000000,0.000000

In [63]:
total_units.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 54 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   ID                                               881 non-null    int64
 1   Desa/Kelurahan                                   881 non-null    object
 2   konsumsi_kg_Ayam                                 881 non-null    float64
 3   konsumsi_kg_Beras_Lokal_Sawah_Ladang             881 non-null    float64
 4   konsumsi_kg_Cabai_Besar                          881 non-null    float64
 5   konsumsi_kg_Cabai_Kecil                          881 non-null    float64
 6   konsumsi_kg_Ikan_dan_Boga_Laut_Kering            881 non-null    float64
 7   konsumsi_kg_Ikan_dan_Boga_Laut_Segar             881 non-null    float64
 8   konsumsi_kg_Jagung_Hibrida                       881 non-null    float64
 9   konsumsi_kg_Jagung_Lokal                         881 non-null    float64
 10  konsumsi_kg_Kacang-kacangan                      881 non-null    float64
 11  konsumsi_kg_Minyak_Kelapa                        881 non-null    float64
 12  konsumsi_kg_Singkong                             881 non-null    float64
 13  konsumsi_kg_Telor                                881 non-null    float64
 14  konsumsi_kg_Umbi-umbian_lain                     881 non-null    float64
 15  konsumsi_ons_Kemiri                              881 non-null    float64
 16  konsumsi_kg_Jewawut_Weteng                       557 non-null    float64
 17  konsumsi_kg_Sorgum                               561 non-null    float64
 18  konsumsi_200g_Biskuit_Roti_Kue_Kemasan           686 non-null    float64
 19  konsumsi_400g_MSG                                785 non-null    float64
 20  konsumsi_botol_Kecap                             741 non-null    float64
 21  konsumsi_botol_Minuman_Fermentasi                612 non-null    float64
 22  konsumsi_botol_Minuman_Kemasan                   623 non-null    float64
 23  konsumsi_bungkus_Bumbu_Kemasan                   716 non-null    float64
 24  konsumsi_bungkus_Mie_Instan                      717 non-null    float64
 25  konsumsi_bungkus_Rokok_Kemasan                   717 non-null    float64
 26  konsumsi_bungkus_Teh                             807 non-null    float64
 27  konsumsi_butir_Kelapa                            631 non-null    float64
 28  konsumsi_kg_Bawang_Merah                         839 non-null    float64
 29  konsumsi_kg_Bawang_Putih                         830 non-null    float64
 30  konsumsi_kg_Bayam                                727 non-null    float64
 31  konsumsi_kg_Beras_Toko                           846 non-null    float64
 32  konsumsi_kg_Daging_Sapi_Kerbau_Kambing_Babi,dll  621 non-null    float64
 33  konsumsi_kg_Daun_Ubi                             639 non-null    float64
 34  konsumsi_kg_Gula_Pasir                           828 non-null    float64
 35  konsumsi_kg_Jeruk                                625 non-null    float64
 36  konsumsi_kg_Kangkung                             782 non-null    float64
 37  konsumsi_kg_Kental_Manis                         650 non-null    float64
 38  konsumsi_kg_Kubis                                640 non-null    float64
 39  konsumsi_kg_Labu                                 670 non-null    float64
 40  konsumsi_kg_Mangga                               627 non-null    float64
 41  konsumsi_kg_Minyak_Goreng_Kemasan_Toko           844 non-null    float64
 42  konsumsi_kg_Pepaya                               634 non-null    float64
 43  konsumsi_kg_Pisang                               700 non-null    float64
 44  konsumsi_kg_Salak                                610 non-null    float64
 45  konsumsi_kg_Sawi                                 763 non-null    float64
 46  konsumsi_kg_Susu_Bubuk_UHT                       694 non-null    float64
 47  konsumsi_kg_Tahu_dan_Tempe                       724 non-null    float64
 48  konsumsi_kg_Timun                                653 non-null    float64
 49  konsumsi_kg_Tomat                                699 non-null    float64
 50  konsumsi_kg_Wortel                               665 non-null    float64
 51  konsumsi_ons_Lada                                654 non-null    float64
 52  konsumsi_ons_Tembakau                            618 non-null    float64
 53  konsumsi_sachet_Kopi                             804 non-null    float64
dtypes: float64(52), int64(1), object(1)
memory usage: 371.8+ KB