In [1]:
import re
import pandas as pd

In [2]:
df = pd.read_csv("data_rumah_tangga_all.csv")

In [3]:
for i, col in enumerate(df.columns):
    print(f"{i}. {col}")

0. #
1. ID
2. Nama Kepala Keluarga
3. Nomor Kartu Keluarga
4. Tanggal Pendataan
5. Dusun
6. Desa/Kelurahan
7. Kecamatan
8. Kabupaten
9. Propinsi
10. Koordinat GPS
11. Sumber Listrik
12. Air Bersih
13. Kepemilikan Rumah
14. Nama
15. Jumlah Anggota Keluarga (jiwa)
16. Agama/ Kepercayaan
17. Pekerjaan
18. Pendapatan Bulanan (Rp.)
19. Beras Lokal (Sawah/Ladang dalam Kg)
20. Singkong
21. Jagung Lokal
22. Jagung Hibrida
23. Umbi-umbian lain
24. Sorgum
25. Jewawut/Weteng
26. Ikan dan Boga Laut Segar
27. Ikan dan Boga Laut Kering
28. Telor
29. Ayam
30. Daging (Sapi/Kerbau/Kambing/Babi,dll)
31. Kacang-kacangan
32. Minyak Kelapa
33. Cabai Besar
34. Cabai Kecil
35. Kemiri
36. Kunyit
37. Jahe
38. Sereh
39. Lengkuas
40. Jeruk Nipis
41. Mete
42. Lain-lain
43. Beras Lokal (Sawah/Ladang)
44. Singkong.1
45. Jagung Lokal.1
46. Jagung Hibrida.1
47. Umbi-umbian lain.1
48. Sorgum.1
49. Jewawut/Weteng.1
50. Ikan dan Boga Laut Segar.1
51. Ikan dan Boga Laut Kering.1
52. Telor.1
53. Ayam.1
54. Kacang-kacangan.1
55. Minyak Kelapa.1
56. Cabai Besar.1
57. Cabai Kecil.1
58. Kemiri.1
59. Kunyit.1
60. Jahe.1
61. Sereh.1
62. Lengkuas.1
63. Jeruk Nipis.1
64. Mete.1
65. Lain-lain.1
66. Beras Lokal (Sawah/Ladang dalam Rp)
67. Beras Toko
68. Singkong.2
69. Jagung Lokal.2
70. Jagung Hibrida.2
71. Umbi-umbian lain.2
72. Sorgum.2
73. Jewawut/Weteng.2
74. Ikan dan Boga Laut Segar.2
75. Ikan dan Boga Laut Kering.2
76. Telor.2
77. Ayam.2
78. Daging (Sapi/Kerbau/Kambing/Babi,dll).1
79. Tahu dan Tempe
80. Kacang-kacangan.2
81. Daun Ubi
82. Kangkung
83. Kubis
84. Sawi
85. Bayam
86. Brokoli
87. Wortel
88. Jantung Pisang
89. Kelor
90. Bunga dan Daun Pepaya
91. Pakis/Paku
92. Rebung
93. Mangga
94. Alpukat
95. Jeruk
96. Anggur
97. Buah Naga
98. Mete.2
99. Pisang
100. Rambutan
101. Nanas
102. Salak
103. Pepaya
104. Kelapa
105. Tomat
106. Timun
107. Labu
108. Kemangi
109. Minyak Kelapa.2
110. Minyak Goreng Kemasan/Toko
111. Bumbu Kemasan
112. MSG
113. Bawang Merah
114. Bawang Putih
115. Bawang Bombai
116. Cabai Besar.2
117. Cabai Kecil.2
118. Lada
119. Kemiri.2
120. Kunyit.2
121. Jahe.2
122. Sereh.2
123. Lengkuas.2
124. Jeruk Nipis.2
125. Jeruk Limau
126. Kecap
127. Saos
128. Susu (Bubuk/UHT)
129. Kental Manis
130. Minuman Kemasan
131. Minuman Fermentasi
132. Gula Pasir
133. Kopi
134. Teh
135. Mie Instan
136. Biskuit/Roti/Kue Kemasan
137. Rokok Kemasan
138. Tembakau
139. Pinang
140. Daun Sirih
141. Minyak Tanah
142. Gas
143. Biaya Listrik
144. BBM
145. Pupuk
146. Pestisida/Herbisida/Fungisida
147. Benih
148. Upah Buruh
149. Sewa Alat dan Mesin Pertanian
150. Transportasi
151. SPP (Iuran Sekolah)
152. Peralatan Sekolah/ATK
153. Transportasi/Kos/Jajan
154. Periksa Kesehatan
155. Iuran BPJS
156. Obat
157. Sanitary
158. Pulsa Ponsel
159. Dana Sosial (Arisan, Sumbangan, dll)
160. Nama Tanaman
161. Jenis Pangan
162. Varietas
163. Sumber Benih
164. Luas Lahan
165. Produktivitas
166. Pola Tanam
167. Sistem Budidaya
168. Pengairan
169. Kepemilikan Lahan
170. Jenis Pemanfaatan Lahan
171. Nama Tanaman.1
172. Jangka Tanam
173. Jenis Tanaman
174. Luas
175. Tegakan (batang)
176. Tahun Tanam
177. Produktivitas (Ton/Ha)
178. Pemanfaatan Hasil
179. Kepemilikan Lahan.1
180. Nama Tempat Lahan
181. Sapi
182. Kerbau
183. Kambing
184. Ayam.3
185. Bebek
186. Babi
187. Kuda
188. Jumlah Hasil (Kg)
189. Sumber Pakan
190. Kepemilikan
191. Jenis Ikan
192. Luas Kolam
193. Masa Panen
194. Sistem Budidaya.1
195. Pasca Panen
196. Pemanfaatan Hasil Panen
197. Kepemilikan Lahan.2
198. Nama Area Tangkap
199. Jenis Ikan.1
200. Jumlah Hasil
201. Pemanfaatan Hasil Tangkap
202. Januari
203. Februari
204. Maret
205. April
206. Mei
207. Juni
208. Juli
209. Agustus
210. September
211. Oktober
212. November
213. Desember
214. Januari.1
215. Februari.1
216. Maret.1
217. April.1
218. Mei.1
219. Juni.1
220. Juli.1
221. Agustus.1
222. September.1
223. Oktober.1
224. November.1
225. Desember.1
226. Januari.2
227. Februari.2
228. Maret.2
229. April.2
230. Mei.2
231. Juni.2
232. Juli.2
233. Agustus.2
234. September.2
235. Oktober.2
236. November.2
237. Desember.2
238. Nama Produk
239. Jenis Usaha
240. Jumlah Produksi
241. Proses Produksi
242. Pemanfaatan Hasil Produksi
243. Sumber Limbah
244. Pengolahan
245. Hasil Daur Ulang
246. Luas Lahan Usaha m2
247. Luas Lahan Rumah m2
248. Luas Bangunan Rumah m2
249. Luas Bangunan Usaha m2
250. Mesin dan Alat Kerja
251. Jumlah (unit)
252. Apakah pernah ada bayi yang meninggal?
253. Jika ada, berapa jumlahnya?
254. Apakah balita selalu diperiksa ke Posyandu?
255. Jumlah Lansia
256. Anggota keluarga yang sering sakit
257. Jenis penyakit yang sering diderita
258. Kemana biasa berobat?
259. Apakah pernah dapat bantuan dari pemerintah?
260. Kalau iya, apa bentuk bantuan tersebut?
261. Jumlah difabel (berkebutuhan khusus)
262. Jenis Difabel
263. Memiliki anak usia kurang dari 5 tahun
264. Tinggi badan anak
265. Berat badan anak
266. Apakah anak mengalami kasus gizi buruk?
267. Apakah anak mengalami kekurangan gizi?
268. SourceFile

In [4]:
df = pd.concat(
    [df[['ID', 'Desa/Kelurahan', 'Nama Kepala Keluarga', 'Pekerjaan', 'Pendapatan Bulanan (Rp.)', 
    'Nama Tanaman', 'Sumber Benih', 'Luas Lahan', 'Produktivitas', 'Pola Tanam', 'Sistem Budidaya', 
    'Pengairan', 'Pupuk', 'Pestisida/Herbisida/Fungisida', 'Benih', 'Upah Buruh', 
    'Sewa Alat dan Mesin Pertanian', 'Sumber Limbah', 'Pengolahan']]],
    axis=1
)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             881 non-null    int64
 1   Desa/Kelurahan                 881 non-null    object
 2   Nama Kepala Keluarga           881 non-null    object
 3   Pekerjaan                      870 non-null    object
 4   Pendapatan Bulanan (Rp.)       870 non-null    object
 5   Nama Tanaman                   696 non-null    object
 6   Sumber Benih                   696 non-null    object
 7   Luas Lahan                     696 non-null    object
 8   Produktivitas                  696 non-null    object
 9   Pola Tanam                     696 non-null    object
 10  Sistem Budidaya                696 non-null    object
 11  Pengairan                      696 non-null    object
 12  Pupuk                          864 non-null    object
 13  Pestisida/Herbisida/Fungisida  864 non-null    object
 14  Benih                          864 non-null    object
 15  Upah Buruh                     864 non-null    object
 16  Sewa Alat dan Mesin Pertanian  864 non-null    object
 17  Sumber Limbah                  788 non-null    object
 18  Pengolahan                     788 non-null    object
dtypes: int64(1), object(18)
memory usage: 130.9+ KB

In [6]:
### CHECKPOINT 1 ###

df_na = df.copy()

In [7]:
### CHECKPOINT 1 ###

df_na.isna().sum()

ID                                 0
Desa/Kelurahan                     0
Nama Kepala Keluarga               0
Pekerjaan                         11
Pendapatan Bulanan (Rp.)          11
Nama Tanaman                     185
Sumber Benih                     185
Luas Lahan                       185
Produktivitas                    185
Pola Tanam                       185
Sistem Budidaya                  185
Pengairan                        185
Pupuk                             17
Pestisida/Herbisida/Fungisida     17
Benih                             17
Upah Buruh                        17
Sewa Alat dan Mesin Pertanian     17
Sumber Limbah                     93
Pengolahan                        93
dtype: int64

In [8]:
df_na = df_na.dropna()

In [9]:
### CHECKPOINT 1 ###

df_na.info()

<class 'pandas.core.frame.DataFrame'>
Index: 638 entries, 1 to 880
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             638 non-null    int64
 1   Desa/Kelurahan                 638 non-null    object
 2   Nama Kepala Keluarga           638 non-null    object
 3   Pekerjaan                      638 non-null    object
 4   Pendapatan Bulanan (Rp.)       638 non-null    object
 5   Nama Tanaman                   638 non-null    object
 6   Sumber Benih                   638 non-null    object
 7   Luas Lahan                     638 non-null    object
 8   Produktivitas                  638 non-null    object
 9   Pola Tanam                     638 non-null    object
 10  Sistem Budidaya                638 non-null    object
 11  Pengairan                      638 non-null    object
 12  Pupuk                          638 non-null    object
 13  Pestisida/Herbisida/Fungisida  638 non-null    object
 14  Benih                          638 non-null    object
 15  Upah Buruh                     638 non-null    object
 16  Sewa Alat dan Mesin Pertanian  638 non-null    object
 17  Sumber Limbah                  638 non-null    object
 18  Pengolahan                     638 non-null    object
dtypes: int64(1), object(18)
memory usage: 99.7+ KB

In [10]:
### CHECKPOINT 1 ###

df_na['Desa/Kelurahan'].value_counts()  # jalankan ulang setelah dropna

Desa/Kelurahan
Muruona         32
Lamatuka        30
Hoelea I        30
Ile Kimok       30
Benihading      30
Waienga         29
Watodiri        28
Nubamado        27
Lolong          26
Merdeka         25
Todanara        24
Dulitukan       24
Mahal           23
Laranwutun      23
Paubokol        23
Dikesare        22
Labalimut       22
Duawutun        21
Tubungwalang    21
Wuakerong       20
Puor            20
Pada            20
Riangbao        19
Bour            17
Kalikur         13
Katakeja        13
Balauring       12
Tagawiti        10
Tubuk Rajan      4
Name: count, dtype: int64

In [25]:
### CHECKPOINT 1 ###
df_na.to_excel("checkpoint1.xlsx", index=False)

In [26]:
# Mengecek kolom yang memiliki duplikasi kata (kesahalan input)

def ada_duplikasi_kata(teks):
    if pd.isna(teks):
        return False
    kata_kata = teks.split()
    return len(kata_kata) != len(set(kata_kata))

# Cek semua kolom
for col in df_na.columns:
    if df_na[col].astype(str).apply(ada_duplikasi_kata).any():
        print(f"Kolom '{col}' punya sel dengan duplikasi kata.")

Kolom 'Pekerjaan' punya sel dengan duplikasi kata.
Kolom 'Pendapatan Bulanan (Rp.)' punya sel dengan duplikasi kata.
Kolom 'Nama Tanaman' punya sel dengan duplikasi kata.
Kolom 'Sumber Benih' punya sel dengan duplikasi kata.
Kolom 'Luas Lahan' punya sel dengan duplikasi kata.
Kolom 'Produktivitas' punya sel dengan duplikasi kata.
Kolom 'Pola Tanam' punya sel dengan duplikasi kata.
Kolom 'Sistem Budidaya' punya sel dengan duplikasi kata.
Kolom 'Pengairan' punya sel dengan duplikasi kata.
Kolom 'Pupuk' punya sel dengan duplikasi kata.
Kolom 'Pestisida/Herbisida/Fungisida' punya sel dengan duplikasi kata.
Kolom 'Benih' punya sel dengan duplikasi kata.
Kolom 'Upah Buruh' punya sel dengan duplikasi kata.
Kolom 'Sewa Alat dan Mesin Pertanian' punya sel dengan duplikasi kata.
Kolom 'Sumber Limbah' punya sel dengan duplikasi kata.
Kolom 'Pengolahan' punya sel dengan duplikasi kata.

In [27]:
def hapus_duplikasi_kata(teks):
    if pd.isna(teks): 
        return teks  # biarkan NaN tetap NaN
    kata_kata = teks.split()
    kata_unik = list(dict.fromkeys(kata_kata))  # hapus duplikat sambil jaga urutan
    return ' '.join(kata_unik)

# Loop hanya kolom yang punya duplikasi kata
for col in df_na.columns:
    if df_na[col].astype(str).apply(ada_duplikasi_kata).any():
        df_na[col] = df_na[col].astype(str).apply(hapus_duplikasi_kata)

print(f"Semua kolom telah dibersihkan dari duplikasi kata.")

Semua kolom telah dibersihkan dari duplikasi kata.

In [28]:
### CHECKPOINT 2 ###

df.isna().sum()

ID                               0
Desa/Kelurahan                   0
Nama Kepala Keluarga             0
Pekerjaan                        0
Pendapatan Bulanan (Rp.)         0
Nama Tanaman                     0
Sumber Benih                     0
Luas Lahan                       0
Produktivitas                    0
Pola Tanam                       0
Sistem Budidaya                  0
Pengairan                        0
Pupuk                            0
Pestisida/Herbisida/Fungisida    0
Benih                            0
Upah Buruh                       0
Sewa Alat dan Mesin Pertanian    0
Sumber Limbah                    0
Pengolahan                       0
dtype: int64

In [14]:
### CHECKPOINT 2 ###
df.to_excel("checkpoint2.xlsx", index=False)

In [31]:
for i, col in enumerate(df_na.columns):
    print(f"{i}. {col}")

0. ID
1. Desa/Kelurahan
2. Nama Kepala Keluarga
3. Pekerjaan
4. Pendapatan Bulanan (Rp.)
5. Nama Tanaman
6. Sumber Benih
7. Luas Lahan
8. Produktivitas
9. Pola Tanam
10. Sistem Budidaya
11. Pengairan
12. Pupuk
13. Pestisida/Herbisida/Fungisida
14. Benih
15. Upah Buruh
16. Sewa Alat dan Mesin Pertanian
17. Sumber Limbah
18. Pengolahan

In [32]:
df_na['Desa/Kelurahan'].value_counts()

Desa/Kelurahan
Muruona         32
Lamatuka        30
Hoelea I        30
Ile Kimok       30
Benihading      30
Waienga         29
Watodiri        28
Nubamado        27
Lolong          26
Merdeka         25
Todanara        24
Dulitukan       24
Mahal           23
Laranwutun      23
Paubokol        23
Dikesare        22
Labalimut       22
Duawutun        21
Tubungwalang    21
Wuakerong       20
Puor            20
Pada            20
Riangbao        19
Bour            17
Kalikur         13
Katakeja        13
Balauring       12
Tagawiti        10
Tubuk Rajan      4
Name: count, dtype: int64

In [17]:
df['Desa/Kelurahan'] = df['Desa/Kelurahan'].str.replace(r'\bPADA\b', 'Pada', regex=True)

In [33]:
df_na.isna().sum()

ID                               0
Desa/Kelurahan                   0
Nama Kepala Keluarga             0
Pekerjaan                        0
Pendapatan Bulanan (Rp.)         0
Nama Tanaman                     0
Sumber Benih                     0
Luas Lahan                       0
Produktivitas                    0
Pola Tanam                       0
Sistem Budidaya                  0
Pengairan                        0
Pupuk                            0
Pestisida/Herbisida/Fungisida    0
Benih                            0
Upah Buruh                       0
Sewa Alat dan Mesin Pertanian    0
Sumber Limbah                    0
Pengolahan                       0
dtype: int64

In [21]:
#df_cleaned = df.dropna()  # jangan overwrite df aslinya kalau masih mau dibandingkan
#df_cleaned['Desa/Kelurahan'].value_counts()  # jalankan ulang setelah dropna

In [34]:
df_na.info()

<class 'pandas.core.frame.DataFrame'>
Index: 638 entries, 1 to 880
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             638 non-null    int64
 1   Desa/Kelurahan                 638 non-null    object
 2   Nama Kepala Keluarga           638 non-null    object
 3   Pekerjaan                      638 non-null    object
 4   Pendapatan Bulanan (Rp.)       638 non-null    object
 5   Nama Tanaman                   638 non-null    object
 6   Sumber Benih                   638 non-null    object
 7   Luas Lahan                     638 non-null    object
 8   Produktivitas                  638 non-null    object
 9   Pola Tanam                     638 non-null    object
 10  Sistem Budidaya                638 non-null    object
 11  Pengairan                      638 non-null    object
 12  Pupuk                          638 non-null    object
 13  Pestisida/Herbisida/Fungisida  638 non-null    object
 14  Benih                          638 non-null    object
 15  Upah Buruh                     638 non-null    object
 16  Sewa Alat dan Mesin Pertanian  638 non-null    object
 17  Sumber Limbah                  638 non-null    object
 18  Pengolahan                     638 non-null    object
dtypes: int64(1), object(18)
memory usage: 99.7+ KB

In [35]:
df_na.to_csv("data_cleaned.csv", index=False)

In [13]:
df = pd.read_csv("data_rumah_tangga_all.csv")

In [32]:
df.to_excel("data_excel.xlsx", index=False)

In [33]:
df_1 = df.iloc[:, 0:60]

In [14]:
df_k = df[df['Desa/Kelurahan'] == 'Katakeja']

In [15]:
df_k.isna().sum()

#                                          0
ID                                         0
Nama Kepala Keluarga                       0
Nomor Kartu Keluarga                       8
Tanggal Pendataan                          0
                                          ..
Tinggi badan anak                          0
Berat badan anak                           0
Apakah anak mengalami kasus gizi buruk?    0
Apakah anak mengalami kekurangan gizi?     0
SourceFile                                 0
Length: 269, dtype: int64

In [16]:
df_k.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 629 to 870
Columns: 269 entries, # to SourceFile
dtypes: float64(1), int64(2), object(266)
memory usage: 65.4+ KB

In [17]:
df_k1 = df_k.iloc[:, 0:60]

In [18]:
df_k1

,#,ID,Nama Kepala Keluarga,Nomor Kartu Keluarga,Tanggal Pendataan,Dusun,Desa/Kelurahan,Kecamatan,Kabupaten,Propinsi,...,Ikan dan Boga Laut Segar.1,Ikan dan Boga Laut Kering.1,Telor.1,Ayam.1,Kacang-kacangan.1,Minyak Kelapa.1,Cabai Besar.1,Cabai Kecil.1,Kemiri.1,Kunyit.1
629,230,23478,Antonius Tange,NaN,2024-10-10 00:00:00,Dusun 2,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,0;,0;,240000;,0;,0;,0;,0;,0;,0;,0;
633,234,23484,Mansetus Dion Serani,5.313022e+15,2024-10-10 00:00:00,Dusun 2,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,0;,0;,0;,0;,0;,0;,0;,0;,210000;,0;
658,259,23626,Marietha Letek Koban,NaN,2024-10-10 00:00:00,Dusun 2,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
662,263,23639,Yohanes Ola Lamak,NaN,2024-10-14 00:00:00,Dusun 2,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,0;,0;,0;,0;,120000;,0;,0;,1000000;,0;,175000;
667,268,23676,Sisilia,5.313023e+15,2024-10-14 00:00:00,Dusun 2,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;
669,270,23689,Maria Sabu,NaN,2024-10-14 00:00:00,Dusun 2,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
785,86,24330,Petrus Pelan Wuwur,5.313023e+15,2024-10-15 00:00:00,Dusun 4,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,0;,0;,0;,0;,0;,0;,0;,10000;,0;,0;
786,87,24331,Maria Bulu,5.313023e+15,2024-10-15 00:00:00,Dusun 2,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,0;,0;,0;,0;,0;,0;,0;,30000;,0;,0;
788,89,24339,Margaretha Lipat,5.313022e+15,2024-10-15 00:00:00,Dusun 2,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;
791,92,24342,Arnoldus Arkian,NaN,2024-10-15 00:00:00,Dusun 2,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,0;,0;,0;,0;,0;,0;,0;,0;,50000;,30000;
824,125,24444,Kamilus Ida,5.313023e+15,2024-10-22 00:00:00,Dusun 2,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,0;,0;,0;,0;,0;,35000;,0;,30000;,0;,25000;
825,126,24448,Egrasia Peni,5.313023e+15,2024-10-22 00:00:00,Dusun 2,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,0;,0;,0;,0;,0;,35000;,0;,0;,0;,0;
826,127,24454,Philipus Bala,5.313023e+15,2024-10-22 00:00:00,Dusun 2,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,0;,0;,0;,0;,0;,0;,0;,10000;,0;,0;
832,133,24504,Siprianus Enga,5.313021e+15,2024-10-22 00:00:00,Dusun 3,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,600000;,0;,60000;,0;,0;,0;,0;,0;,0;,0;
833,134,24505,Yakobus Rupa,5.313021e+15,2024-10-22 00:00:00,Dusun 3,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,0;,0;,0;,0;,0;,0;,0;,30000;,0;,0;
846,147,24635,Andreas B. Making,5.313022e+15,2024-10-26 00:00:00,Dusun 1,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,0;,0;,0;,0;,0;,0;,0;,0;,0;,30000;
847,148,24636,Yakobus Ola Basa,5.313023e+16,2024-10-26 00:00:00,Dusun 4,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,0;,0;,0;,0;,0;,0;,10000;,10000;,0;,0;
852,153,24689,Petrus Stanisius Belida,5.313021e+15,2024-10-26 00:00:00,Dusun 3,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,0;,0;,0;,0;,0;,100000;,0;,0;,0;,0;
853,154,24690,Gergorius A. Ali Ujan,5.313023e+15,2024-10-26 00:00:00,Dusun 3,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
854,155,24691,Getrudis Bengang,NaN,2024-10-26 00:00:00,Dusun 4,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;
855,156,24692,Blasius Beda Ujan,5.313022e+15,2024-10-26 00:00:00,Dusun 1,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;
860,161,24714,Blasiua Mikael Melo,NaN,2024-10-26 00:00:00,Dusun 3,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
861,162,24715,Yosep Goleng,5.313021e+15,2024-10-26 00:00:00,Dusun 3,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,0;,0;,0;,0;,0;,14000;,0;,0;,0;,0;
862,163,24716,Piter Geroda Duan,5.313021e+15,2024-10-27 00:00:00,Dusun 2,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
863,164,24718,Raimundus Olabasa,5.313023e+15,2024-10-27 00:00:00,Dusun 1,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
864,165,24720,Fransiskus P. Kia,5.313022e+15,2024-10-27 00:00:00,Dusun 1,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
865,166,24739,Zakarias Kemekuk Wuwur,5.313022e+15,2024-10-27 00:00:00,Dusun 1,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,0;,0;,0;,0;,0;,75000;,0;,0;,0;,0;
866,167,24746,Wilhelmus Kia,5.313021e+15,2024-10-27 00:00:00,Dusun 2,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,0;,0;,0;,0;,0;,20000;,0;,0;,0;,0;
868,169,24765,Bernardus Beda Ujan,5.313022e+15,2024-10-27 00:00:00,Dusun 3,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
869,170,24766,Wilem Bala Lamak,NaN,2024-10-28 00:00:00,Dusun 2,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
870,171,24767,Hironimus Nikolaus Wai,5.313023e+15,2024-10-28 00:00:00,Dusun 2,Katakeja,Atadei,Lembata,Nusa Tenggara Timur,...,0;,0;,0;,30000;,0;,45000;,0;,0;,0;,30000;

In [19]:
df_k1.isna().sum()

#                                         0
ID                                        0
Nama Kepala Keluarga                      0
Nomor Kartu Keluarga                      8
Tanggal Pendataan                         0
Dusun                                     0
Desa/Kelurahan                            0
Kecamatan                                 0
Kabupaten                                 0
Propinsi                                  0
Koordinat GPS                            22
Sumber Listrik                            0
Air Bersih                                0
Kepemilikan Rumah                         0
Nama                                      0
Jumlah Anggota Keluarga (jiwa)            0
Agama/ Kepercayaan                        0
Pekerjaan                                 0
Pendapatan Bulanan (Rp.)                  0
Beras Lokal (Sawah/Ladang dalam Kg)       5
Singkong                                  5
Jagung Lokal                              5
Jagung Hibrida                            5
Umbi-umbian lain                          5
Sorgum                                    5
Jewawut/Weteng                            5
Ikan dan Boga Laut Segar                  5
Ikan dan Boga Laut Kering                 5
Telor                                     5
Ayam                                      5
Daging (Sapi/Kerbau/Kambing/Babi,dll)     5
Kacang-kacangan                           5
Minyak Kelapa                             5
Cabai Besar                               5
Cabai Kecil                               5
Kemiri                                    5
Kunyit                                    5
Jahe                                      5
Sereh                                     5
Lengkuas                                  5
Jeruk Nipis                               5
Mete                                      5
Lain-lain                                 5
Beras Lokal (Sawah/Ladang)                9
Singkong.1                                9
Jagung Lokal.1                            9
Jagung Hibrida.1                          9
Umbi-umbian lain.1                        9
Sorgum.1                                  9
Jewawut/Weteng.1                          9
Ikan dan Boga Laut Segar.1                9
Ikan dan Boga Laut Kering.1               9
Telor.1                                   9
Ayam.1                                    9
Kacang-kacangan.1                         9
Minyak Kelapa.1                           9
Cabai Besar.1                             9
Cabai Kecil.1                             9
Kemiri.1                                  9
Kunyit.1                                  9
dtype: int64

In [34]:
df_1.isna().sum()

#                                          0
ID                                         0
Nama Kepala Keluarga                       0
Nomor Kartu Keluarga                      16
Tanggal Pendataan                          0
Dusun                                      0
Desa/Kelurahan                             0
Kecamatan                                  0
Kabupaten                                  0
Propinsi                                   0
Koordinat GPS                             26
Sumber Listrik                             0
Air Bersih                                 0
Kepemilikan Rumah                          0
Nama                                      11
Jumlah Anggota Keluarga (jiwa)            11
Agama/ Kepercayaan                        11
Pekerjaan                                 11
Pendapatan Bulanan (Rp.)                  11
Beras Lokal (Sawah/Ladang dalam Kg)      111
Singkong                                 111
Jagung Lokal                             111
Jagung Hibrida                           111
Umbi-umbian lain                         111
Sorgum                                   111
Jewawut/Weteng                           111
Ikan dan Boga Laut Segar                 111
Ikan dan Boga Laut Kering                111
Telor                                    111
Ayam                                     111
Daging (Sapi/Kerbau/Kambing/Babi,dll)    111
Kacang-kacangan                          111
Minyak Kelapa                            111
Cabai Besar                              111
Cabai Kecil                              111
Kemiri                                   111
Kunyit                                   111
Jahe                                     111
Sereh                                    111
Lengkuas                                 111
Jeruk Nipis                              111
Mete                                     111
Lain-lain                                111
Beras Lokal (Sawah/Ladang)               136
Singkong.1                               136
Jagung Lokal.1                           136
Jagung Hibrida.1                         136
Umbi-umbian lain.1                       136
Sorgum.1                                 136
Jewawut/Weteng.1                         136
Ikan dan Boga Laut Segar.1               136
Ikan dan Boga Laut Kering.1              136
Telor.1                                  136
Ayam.1                                   136
Kacang-kacangan.1                        136
Minyak Kelapa.1                          136
Cabai Besar.1                            136
Cabai Kecil.1                            136
Kemiri.1                                 136
Kunyit.1                                 136
dtype: int64

In [20]:
df_k2 = df_k.iloc[:, 60:120]

In [21]:
df_k2

,Jahe.1,Sereh.1,Lengkuas.1,Jeruk Nipis.1,Mete.1,Lain-lain.1,Beras Lokal (Sawah/Ladang dalam Rp),Beras Toko,Singkong.2,Jagung Lokal.2,...,Minyak Goreng Kemasan/Toko,Bumbu Kemasan,MSG,Bawang Merah,Bawang Putih,Bawang Bombai,Cabai Besar.2,Cabai Kecil.2,Lada,Kemiri.2
629,18000;,0;,0;,0;,0;,0;,0;,400000;,0;,0;,...,15000;,0;,0;,5000;,5000;,0;,0;,20000;,0;,0;
633,0;,0;,0;,0;,0;,0;,20;,0;,0;,0;,...,75000;,0;,0;,30000;,20000;,0;,0;,0;,0;,0;
658,NaN,NaN,NaN,NaN,NaN,NaN,0;,100000;,0;,0;,...,100000;,0;,0;,25000;,25000;,0;,0;,25000;,0;,25000;
662,54000;,30000;,0;,0;,0;,0;,0;,0;,0;,0;,...,75000;,0;,0;,0;,0;,0;,0;,0;,0;,0;
667,0;,0;,0;,0;,0;,0;,0;,0;,60000;,0;,...,15000;,0;,0;,5000;,5000;,0;,0;,0;,0;,0;
669,NaN,NaN,NaN,NaN,NaN,NaN,45000; 45000;,0; 0;,0; 0;,0; 0;,...,9000; 9000;,0; 0;,0; 0;,0; 0;,0; 0;,0; 0;,0; 0;,0; 0;,0; 0;,0; 0;
785,0;,0;,0;,0;,0;,0;,0;,225000;,0;,20000;,...,6000;,0;,0;,0;,0;,0;,0;,0;,0;,0;
786,0;,30000;,0;,0;,0;,0;,20000;,0;,0;,0;,...,70000;,0;,0;,25000;,0;,0;,0;,0;,0;,0;
788,30000;,0;,0;,0;,0;,0;,75000;,0;,0;,0;,...,90000;,0;,0;,0;,0;,0;,0;,0;,0;,0;
791,25000;,0;,0;,0;,0;,100000;,0;,20000;,0;,0;,...,40000;,0;,0;,30000;,30000;,0;,0;,0;,40000;,8000;
824,0;,0;,0;,10000;,0;,0;,400000;,0;,0;,0;,...,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;
825,30000;,0;,0;,0;,0;,0;,0;,150000;,0;,0;,...,120000;,10000;,10000;,20000;,0;,0;,0;,0;,0;,0;
826,0;,10000;,0;,10000;,0;,0;,0;,0;,0;,0;,...,100000;,0;,0;,30000;,30000;,0;,0;,0;,0;,0;
832,0;,30000;,0;,0;,0;,0;,730000;,0;,0;,0;,...,120000;,0;,0;,0;,0;,0;,0;,30000;,0;,0;
833,15000;,0;,0;,0;,0;,50000;,900000;,0;,0;,0;,...,120000;,0;,0;,15000;,15000;,0;,0;,0;,0;,0;
846,0;,0;,0;,0;,0;,60000;,0;,120;,200000;,0;,...,100000;,0;,0;,25000;,30000;,0;,0;,0;,0;,0;
847,0;,0;,0;,0;,0;,60000;,0;,600000;,0;,0;,...,300000;,0;,0;,30000;,30000;,0;,0;,0;,0;,0;
852,0;,0;,0;,0;,0;,0;,0;,200000;,0;,0;,...,100000;,10000;,2000;,25000;,25000;,0;,0;,0;,2000;,0;
853,NaN,NaN,NaN,NaN,NaN,NaN,0;,740000;,50000;,50000;,...,100000;,0;,0;,25000;,25000;,0;,0;,0;,0;,0;
854,0;,0;,0;,0;,0;,245000;,0;,0;,0;,0;,...,7000;,0;,0;,10000;,10000;,0;,0;,0;,0;,0;
855,50000;,0;,0;,0;,0;,0;,630000;,0;,50000;,0;,...,125000;,0;,0;,0;,0;,0;,0;,20000;,0;,0;
860,NaN,NaN,NaN,NaN,NaN,NaN,260000;,0;,10000;,60000;,...,48000;,0;,0;,0;,0;,20000;,20000;,0;,0;,0;
861,0;,0;,0;,0;,0;,0;,0;,300000;,0;,0;,...,125000;,0;,0;,10000;,10000;,0;,0;,0;,0;,0;
862,NaN,NaN,NaN,NaN,NaN,NaN,;,4500000;,0;,50000;,...,110000;,15000;,0;,30000;,20000;,0;,0;,80000;,20000;,0;
863,NaN,NaN,NaN,NaN,NaN,NaN,200000;,0;,0;,0;,...,110000;,8000;,0;,0;,0;,0;,0;,0;,0;,0;
864,NaN,NaN,NaN,NaN,NaN,NaN,0;,230000;,0;,0;,...,150000;,5000;,20000;,20000;,20000;,40000;,0;,0;,0;,0;
865,35000;,0;,0;,0;,0;,350000;,20000;,0;,0;,0;,...,30000;,0;,20000;,10000;,10000;,0;,0;,0;,0;,0;
866,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;,...,30000;,0;,4000;,16000;,10000;,0;,0;,20000;,0;,0;
868,NaN,NaN,NaN,NaN,NaN,NaN,400000;,0;,0;,0;,...,600000;,0;,0;,25000;,25000;,0;,0;,0;,0;,0;
869,NaN,NaN,NaN,NaN,NaN,NaN,15;,0;,0;,0;,...,45000;,0;,0;,10000;,10000;,0;,0;,10000;,0;,0;
870,0;,0;,0;,0;,0;,80000;,50000;,0;,0;,0;,...,100000;,0;,10000;,20000;,20000;,0;,0;,35000;,0;,0;

In [22]:
df_k2.isna().sum()

Jahe.1                                     9
Sereh.1                                    9
Lengkuas.1                                 9
Jeruk Nipis.1                              9
Mete.1                                     9
Lain-lain.1                                9
Beras Lokal (Sawah/Ladang dalam Rp)        0
Beras Toko                                 0
Singkong.2                                 0
Jagung Lokal.2                             0
Jagung Hibrida.2                           0
Umbi-umbian lain.2                         0
Sorgum.2                                   0
Jewawut/Weteng.2                           0
Ikan dan Boga Laut Segar.2                 0
Ikan dan Boga Laut Kering.2                0
Telor.2                                    0
Ayam.2                                     0
Daging (Sapi/Kerbau/Kambing/Babi,dll).1    0
Tahu dan Tempe                             0
Kacang-kacangan.2                          0
Daun Ubi                                   0
Kangkung                                   0
Kubis                                      0
Sawi                                       0
Bayam                                      0
Brokoli                                    0
Wortel                                     0
Jantung Pisang                             0
Kelor                                      0
Bunga dan Daun Pepaya                      0
Pakis/Paku                                 0
Rebung                                     0
Mangga                                     0
Alpukat                                    0
Jeruk                                      0
Anggur                                     0
Buah Naga                                  0
Mete.2                                     0
Pisang                                     0
Rambutan                                   0
Nanas                                      0
Salak                                      0
Pepaya                                     0
Kelapa                                     0
Tomat                                      0
Timun                                      0
Labu                                       0
Kemangi                                    0
Minyak Kelapa.2                            0
Minyak Goreng Kemasan/Toko                 0
Bumbu Kemasan                              0
MSG                                        0
Bawang Merah                               0
Bawang Putih                               0
Bawang Bombai                              0
Cabai Besar.2                              0
Cabai Kecil.2                              0
Lada                                       0
Kemiri.2                                   0
dtype: int64

In [23]:
df_k3 = df_k.iloc[:, 120:180]

In [24]:
df_k3

,Kunyit.2,Jahe.2,Sereh.2,Lengkuas.2,Jeruk Nipis.2,Jeruk Limau,Kecap,Saos,Susu (Bubuk/UHT),Kental Manis,...,Jenis Pemanfaatan Lahan,Nama Tanaman.1,Jangka Tanam,Jenis Tanaman,Luas,Tegakan (batang),Tahun Tanam,Produktivitas (Ton/Ha),Pemanfaatan Hasil,Kepemilikan Lahan.1
629,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;,...,NaN,Mete;,Tanaman Jangka Panjang;,;,2;,;,1996;,0.03;,Jual Semua;,Milik Pribadi;
633,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;,...,NaN,Mete;,Tanaman Jangka Panjang;,;,0.13;,;,1999;,0.55;,Konsumsi Sendiri dan Dijual;,Milik Pribadi;
658,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
662,0;,0;,0;,10000;,0;,0;,0;,0;,0;,0;,...,NaN,Pisang; Mete; Kemiri;,Tanaman Jangka Panjang; Tanaman Jangka Panjang...,; ; ;,0.06; 0.06; 0.06;,155; 155; 155;,2010; 2010; 2010;,; ; ;,Konsumsi Sendiri dan Dijual; Konsumsi Sendiri ...,Milik Pribadi; Tidak ada; Tidak ada;
667,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;,...,NaN,Kemiri;,Tanaman Jangka Panjang;,;,0.05;,;,1990;,;,Jual Semua;,Milik Pribadi;
669,0; 0;,0; 0;,0; 0;,0; 0;,0; 0;,0; 0;,0; 0;,0; 0;,0; 0;,0; 0;,...,Tidak ada; Tidak ada;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
785,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;,...,NaN,Mete; Kemiri;,Tanaman Jangka Pendek (Musiman); Tanaman Jangk...,; ;,0.075; 0.075;,30; 30;,1992; 1992;,; ;,Jual Semua; Jual Semua;,Milik Pribadi; Milik Pribadi;
786,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;,...,NaN,Kemiri;,Tanaman Jangka Panjang;,;,1.05;,;,1992;,;,Jual Semua;,Milik Pribadi;
788,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;,...,Tidak ada; Tidak ada;,Kemiri;,Tanaman Jangka Panjang;,;,1.05;,35;,1996;,0.44;,Jual Semua;,Milik Pribadi;
791,0;,0;,0;,0;,0;,0;,7000;,0;,75000;,0;,...,Tidak ada;,Lengkuas;,Tanaman Jangka Panjang;,;,0.06;,;,1990;,0.1;,Jual Semua;,Milik Pribadi;
824,0;,0;,0;,0;,0;,0;,25000;,10000;,0;,10000;,...,NaN,Kemiri; Jambu Mete;,Tanaman Jangka Panjang; Tanaman Jangka Pendek ...,; ;,0.1; ;,; ;,1990; 1990;,0.261; ;,Konsumsi Sendiri dan Dijual; Konsumsi Sendiri ...,Milik Pribadi; Milik Pribadi;
825,0;,0;,0;,0;,0;,0;,0;,0;,35000;,10000;,...,Tidak ada; Tidak ada; Tidak ada;,Jambu Mete; Kemiri;,Tanaman Jangka Pendek (Musiman); Tanaman Jangk...,; ;,0.2; ;,; ;,1989; 1989;,0.110; ;,Jual Semua; Jual Semua;,Tidak ada; Tidak ada;
826,0;,0;,0;,0;,0;,0;,0;,0;,115000;,0;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
832,0;,0;,0;,0;,0;,0;,0;,0;,170000;,0;,...,Tidak ada; Tidak ada; Tidak ada;,Jambu Mete; Buah Naga; Pepaya;,Tanaman Jangka Panjang; Tidak ada; Tanaman Jan...,; Buah; ;,1.2; ; ;,; ; ;,2014; 2014; 2014;,; ; ;,Konsumsi Sendiri dan Dijual; Konsumsi Sendiri ...,Milik Pribadi; Milik Pribadi; Milik Pribadi;
833,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;,...,NaN,Mete; Kemiri; Pisang;,Tanaman Jangka Pendek (Musiman); Tanaman Jangk...,; ; Buah;,5; ; ;,; ; ;,1998; 1998; 1998;,; ; ;,Tidak ada; Tidak ada; Tidak ada;,Tidak ada; Tidak ada; Tidak ada;
846,0;,0;,0;,0;,0;,0;,10000;,0;,0;,0;,...,NaN,Kemiri; Jambu Mete;,Tanaman Jangka Pendek (Musiman); Tanaman Jangk...,; ;,0.04; ;,; ;,1984; 1984;,; ;,Konsumsi Sendiri dan Dijual; Konsumsi Sendiri ...,Milik Pribadi; Milik Pribadi;
847,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;,...,Tidak ada;,Kemiri; Jambu Mete; Kakao;,Tanaman Jangka Panjang; Tanaman Jangka Pendek ...,; Buah; Buah;,1; ; ;,; ; ;,1997; 1997; 1997;,; ; ;,Konsumsi Sendiri dan Dijual; Konsumsi Sendiri ...,Milik Pribadi; Milik Pribadi; Milik Pribadi;
852,0;,0;,0;,0;,0;,0;,10000;,10000;,2800000;,0;,...,NaN,Mete; Kemiri; Kakao; Kelapa;,Tanaman Jangka Pendek (Musiman); Tanaman Jangk...,; ; Buah; ;,0.4; ; ; ;,; ; ; ;,2017; 2017; 2017; 2017;,; ; ; ;,Jual Semua; Konsumsi Sendiri; Jual Semua; Jual...,Milik Pribadi; Milik Pribadi; Milik Pribadi; M...
853,0;,0;,0;,0;,0;,0;,10000;,10000;,0;,0;,...,NaN,Kemiri; Alpukat; Nanas; Nangka; Jambu Mete;,Tanaman Jangka Pendek (Musiman); Tanaman Jangk...,Kacang-kacangan; Buah; Buah; Buah; ;,0.04; ; ; ; ;,; ; ; ; ;,2009; 2009; 2009; 2009; 2009;,0.103; ; ; ; ;,Jual Semua; Jual Semua; Jual Semua; Jual Semua...,Milik Pribadi; Milik Pribadi; Milik Pribadi; M...
854,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;,...,Tidak ada; Tidak ada; Tidak ada;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
855,0;,0;,0;,0;,0;,0;,20000;,0;,40000;,0;,...,Tidak ada; Tidak ada;,Kemiri; Jambu Mete; Kakao;,Tanaman Jangka Pendek (Musiman); Tanaman Jangk...,; Buah; Buah;,1; ; ;,; ; ;,1988; 1988; 1988;,; ; ;,Konsumsi Sendiri dan Dijual; Konsumsi Sendiri ...,Milik Pribadi; Milik Pribadi; Milik Pribadi;
860,0;,0;,0;,0;,0;,0;,10000;,10000;,0;,30000;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
861,0;,0;,0;,0;,0;,0;,15000;,10000;,0;,0;,...,Tidak ada; Tidak ada;,Kemiri; Jambu Mete;,Tanaman Jangka Pendek (Musiman); Tanaman Jangk...,; Buah;,0.1; ;,; ;,1990; 1990;,3.75; ;,Konsumsi Sendiri dan Dijual; Konsumsi Sendiri ...,Milik Pribadi; Milik Pribadi;
862,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
863,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;,...,NaN,Jambu Mete;,Tanaman Jangka Panjang;,;,3;,;,2000;,0.485;,Jual Semua;,Milik Pribadi;
864,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;,...,Tidak ada;,Jambu Mete;,Tanaman Jangka Panjang;,;,2;,;,2009;,;,Jual Semua;,Milik Pribadi;
865,0;,0;,0;,0;,0;,0;,10000;,0;,0;,0;,...,Tidak ada; Tidak ada;,Jambu Mete; Kemiri; Kelapa;,Tanaman Jangka Panjang; Tanaman Jangka Panjang...,Buah; ; Buah;,3; ; ;,; ; ;,2001; 2001; 2001;,; ; ;,Konsumsi Sendiri dan Dijual; Konsumsi Sendiri ...,Milik Pribadi; Milik Pribadi; Milik Pribadi;
866,0;,0;,0;,0;,10000;,0;,17000;,5000;,0;,0;,...,NaN,Kemiri;,Tanaman Jangka Panjang;,;,0.05;,;,1989;,2.6;,Tidak ada;,Milik Pribadi;
868,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;,...,Tidak ada; Tidak ada; Tidak ada;,Kemiri;,Tanaman Jangka Panjang;,;,2;,;,1990;,;,Jual Semua;,Milik Pribadi;
869,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;,...,Tidak ada; Ladang; Tidak ada;,Kemiri; Mete; Kemiri; Kelapa; Pisang;,Tanaman Jangka Panjang; Tidak ada; Tidak ada; ...,; ; ; ; ;,0.68; 0.68; 0.68; 0.68; 0.68;,100; ; ; 100; ;,2007; ; ; ; ;,; ; ; ; ;,Konsumsi Sendiri dan Dijual; Tidak ada; Tidak ...,Milik Pribadi; Tidak ada; Tidak ada; Tidak ada...
870,0;,0;,0;,0;,0;,0;,15000;,10000;,0;,0;,...,Tidak ada; Tidak ada;,Kemiri; Kelapa; Jambu Mete;,Tanaman Jangka Panjang; Tanaman Jangka Panjang...,; ; Buah;,3; ; ;,; ; ;,1999; 1999; 1999;,4.03; ; ;,Konsumsi Sendiri dan Dijual; Konsumsi Sendiri ...,Milik Pribadi; Milik Pribadi; Milik Pribadi;

In [25]:
df_k3.isna().sum()

Kunyit.2                                 0
Jahe.2                                   0
Sereh.2                                  0
Lengkuas.2                               0
Jeruk Nipis.2                            0
Jeruk Limau                              0
Kecap                                    0
Saos                                     0
Susu (Bubuk/UHT)                         0
Kental Manis                             0
Minuman Kemasan                          0
Minuman Fermentasi                       0
Gula Pasir                               0
Kopi                                     0
Teh                                      0
Mie Instan                               0
Biskuit/Roti/Kue Kemasan                 0
Rokok Kemasan                            0
Tembakau                                 0
Pinang                                   0
Daun Sirih                               0
Minyak Tanah                             0
Gas                                      0
Biaya Listrik                            0
BBM                                      0
Pupuk                                    0
Pestisida/Herbisida/Fungisida            0
Benih                                    0
Upah Buruh                               0
Sewa Alat dan Mesin Pertanian            0
Transportasi                             0
SPP (Iuran Sekolah)                      0
Peralatan Sekolah/ATK                    0
Transportasi/Kos/Jajan                   0
Periksa Kesehatan                        0
Iuran BPJS                               0
Obat                                     0
Sanitary                                 0
Pulsa Ponsel                             0
Dana Sosial (Arisan, Sumbangan, dll)     0
Nama Tanaman                            17
Jenis Pangan                            17
Varietas                                17
Sumber Benih                            17
Luas Lahan                              17
Produktivitas                           17
Pola Tanam                              17
Sistem Budidaya                         17
Pengairan                               17
Kepemilikan Lahan                       17
Jenis Pemanfaatan Lahan                 17
Nama Tanaman.1                           6
Jangka Tanam                             6
Jenis Tanaman                            6
Luas                                     6
Tegakan (batang)                         6
Tahun Tanam                              6
Produktivitas (Ton/Ha)                   6
Pemanfaatan Hasil                        6
Kepemilikan Lahan.1                      6
dtype: int64

In [26]:
df_k4 = df_k.iloc[:, 180:240]

In [27]:
df_k4

,Nama Tempat Lahan,Sapi,Kerbau,Kambing,Ayam.3,Bebek,Babi,Kuda,Jumlah Hasil (Kg),Sumber Pakan,...,Mei.2,Juni.2,Juli.2,Agustus.2,September.2,Oktober.2,November.2,Desember.2,Nama Produk,Jenis Usaha
629,;,0;,0;,2;,0;,0;,2;,0;,;,Dibuat Sendiri;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
633,;,0;,0;,3;,8;,0;,0;,0;,;,Dibuat Sendiri;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kios, Layanan Mini Atm ;",Jasa;
662,; ; ;,0;,0;,5;,1;,0;,2;,1;,;,Dibuat Sendiri;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
667,;,0;,0;,0;,1;,0;,0;,0;,;,Dilepasliarkan;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
785,; ;,0;,0;,0;,1;,0;,1;,0;,;,Beli;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kain tenun;,Kerajinan;
786,;,0;,0;,0;,6;,0;,2;,0;,;,Dibuat Sendiri;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
788,;,0;,0;,0;,0;,0;,1;,0;,;,Dilepasliarkan;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791,;,0;,0;,1;,0;,0;,1;,0;,;,Dibuat Sendiri;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
824,; ;,0;,0;,2;,4;,0;,2;,0;,;,Beli;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kue;,Makanan Olahan;
825,; ;,0;,0;,0;,4;,0;,1;,0;,;,Dibuat Sendiri;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
832,; ; ;,0;,0;,0;,7;,0;,2;,0;,;,Beli;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
833,; ; ;,0;,0;,0;,10;,0;,2;,0;,;,Dibuat Sendiri;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
846,; ;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
847,; ; ;,0;,0;,3;,5;,0;,0;,0;,;,Dibuat Sendiri;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
852,; ; ; ;,0;,0;,0;,7;,0;,1;,;,;,Dibuat Sendiri;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
853,; ; ; ; ;,0;,0;,0;,9;,0;,4;,0;,;,Dibuat Sendiri;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
854,NaN,0;,0;,0;,0;,0;,1;,0;,;,Dibuat Sendiri;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jagung Titi;,Makanan Olahan;
855,; ; ;,0;,0;,0;,100;,0;,3;,0;,;,Beli;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
861,; ;,0;,0;,2;,0;,0;,2;,0;,;,Dibuat Sendiri;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
862,NaN,0;,0;,0;,2;,0;,1;,0;,;,Beli;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
863,;,0;,0;,2;,12;,0;,6;,0;,;,Beli;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
864,;,0;,0;,0;,0;,0;,2;,0;,;,Dibuat Sendiri;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
865,; ; ;,0;,0;,0;,10;,0;,2;,0;,;,Dibuat Sendiri;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kain tenun;,Kerajinan;
866,;,0;,0;,0;,0;,3;,3;,0;,;,Dibuat Sendiri;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
868,;,0;,0;,2;,5;,0;,2;,0;,;,Dibuat Sendiri;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kain tenun;,Kerajinan;
869,; ; ; ; ;,0;,0;,0;,14;,0;,0;,0;,;,Beli;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
870,; ; ;,0;,0;,0;,30;,0;,4;,0;,;,Dibuat Sendiri;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jasa Selep Padi;,Jasa;

In [28]:
df_k4.isna().sum()

Nama Tempat Lahan             6
Sapi                          5
Kerbau                        5
Kambing                       5
Ayam.3                        5
Bebek                         5
Babi                          5
Kuda                          5
Jumlah Hasil (Kg)             5
Sumber Pakan                  5
Kepemilikan                   5
Jenis Ikan                   31
Luas Kolam                   31
Masa Panen                   31
Sistem Budidaya.1            31
Pasca Panen                  31
Pemanfaatan Hasil Panen      31
Kepemilikan Lahan.2          31
Nama Area Tangkap            31
Jenis Ikan.1                 31
Jumlah Hasil                 31
Pemanfaatan Hasil Tangkap    31
Januari                      31
Februari                     31
Maret                        31
April                        31
Mei                          31
Juni                         31
Juli                         31
Agustus                      31
September                    31
Oktober                      31
November                     31
Desember                     31
Januari.1                    31
Februari.1                   31
Maret.1                      31
April.1                      31
Mei.1                        31
Juni.1                       31
Juli.1                       31
Agustus.1                    31
September.1                  31
Oktober.1                    31
November.1                   31
Desember.1                   31
Januari.2                    31
Februari.2                   31
Maret.2                      31
April.2                      31
Mei.2                        31
Juni.2                       31
Juli.2                       31
Agustus.2                    31
September.2                  31
Oktober.2                    31
November.2                   31
Desember.2                   31
Nama Produk                  24
Jenis Usaha                  24
dtype: int64

In [29]:
df_w = df[df['Desa/Kelurahan'] == 'Waienga']

In [30]:
df_w4 = df_w.iloc[:, 180:240]

In [31]:
df_w4.isna().sum()

Nama Tempat Lahan            8
Sapi                         0
Kerbau                       0
Kambing                      0
Ayam.3                       0
Bebek                        0
Babi                         0
Kuda                         0
Jumlah Hasil (Kg)            0
Sumber Pakan                 0
Kepemilikan                  0
Jenis Ikan                   7
Luas Kolam                   7
Masa Panen                   7
Sistem Budidaya.1            7
Pasca Panen                  7
Pemanfaatan Hasil Panen      7
Kepemilikan Lahan.2          7
Nama Area Tangkap            0
Jenis Ikan.1                 0
Jumlah Hasil                 0
Pemanfaatan Hasil Tangkap    0
Januari                      0
Februari                     0
Maret                        0
April                        0
Mei                          0
Juni                         0
Juli                         0
Agustus                      0
September                    0
Oktober                      0
November                     0
Desember                     0
Januari.1                    0
Februari.1                   0
Maret.1                      0
April.1                      0
Mei.1                        0
Juni.1                       0
Juli.1                       0
Agustus.1                    0
September.1                  0
Oktober.1                    0
November.1                   0
Desember.1                   0
Januari.2                    0
Februari.2                   0
Maret.2                      0
April.2                      0
Mei.2                        0
Juni.2                       0
Juli.2                       0
Agustus.2                    0
September.2                  0
Oktober.2                    0
November.2                   0
Desember.2                   0
Nama Produk                  6
Jenis Usaha                  6
dtype: int64

In [87]:
df_k = df[df['Desa/Kelurahan'] == 'Katakeja']

In [88]:
df_k.isna().sum()

#                                          0
ID                                         0
Nama Kepala Keluarga                       0
Nomor Kartu Keluarga                       0
Tanggal Pendataan                          0
                                          ..
Tinggi badan anak                          0
Berat badan anak                           0
Apakah anak mengalami kasus gizi buruk?    0
Apakah anak mengalami kekurangan gizi?     0
SourceFile                                 0
Length: 269, dtype: int64

In [89]:
df_k.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 633 to 788
Columns: 269 entries, # to SourceFile
dtypes: float64(1), int64(2), object(266)
memory usage: 10.5+ KB

In [90]:
df_k = df_k.dropna()

In [91]:
df_k.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 633 to 788
Columns: 269 entries, # to SourceFile
dtypes: float64(1), int64(2), object(266)
memory usage: 10.5+ KB

In [92]:
df_bersih = pd.read_csv("data_cleaned.csv")

In [93]:
df_bersih.isna().sum()

#                                            0
ID                                           0
Nama Kepala Keluarga                         0
Nomor Kartu Keluarga                         0
Tanggal Pendataan                            0
                                          ...
Tinggi badan anak                          311
Berat badan anak                           312
Apakah anak mengalami kasus gizi buruk?     50
Apakah anak mengalami kekurangan gizi?      50
SourceFile                                   0
Length: 269, dtype: int64

In [95]:
df_bersih.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 844 entries, 0 to 843
Columns: 269 entries, # to SourceFile
dtypes: float64(152), int64(2), object(115)
memory usage: 1.7+ MB

In [96]:
df_bersih = df_bersih.dropna()

In [97]:
df_bersih.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84 entries, 1 to 817
Columns: 269 entries, # to SourceFile
dtypes: float64(152), int64(2), object(115)
memory usage: 177.2+ KB

In [110]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 844 entries, 0 to 880
Columns: 269 entries, # to SourceFile
dtypes: float64(1), int64(2), object(266)
memory usage: 1.7+ MB

In [111]:
df_cleaned.isna().sum()

#                                          0
ID                                         0
Nama Kepala Keluarga                       0
Nomor Kartu Keluarga                       0
Tanggal Pendataan                          0
                                          ..
Tinggi badan anak                          0
Berat badan anak                           0
Apakah anak mengalami kasus gizi buruk?    0
Apakah anak mengalami kekurangan gizi?     0
SourceFile                                 0
Length: 269, dtype: int64

In [112]:
df_cleaned = df_cleaned.dropna()

In [113]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 844 entries, 0 to 880
Columns: 269 entries, # to SourceFile
dtypes: float64(1), int64(2), object(266)
memory usage: 1.7+ MB