In [46]:
import re
import numpy as np
import pandas as pd

In [47]:
df = pd.read_csv("data_cleaned.csv")

In [48]:
# DATA CLEANING

df.rename(columns={"Produktivitas": "Produksi"}, inplace=True)

In [49]:
df.head()

,ID,Desa/Kelurahan,Nama Kepala Keluarga,Pekerjaan,Pendapatan Bulanan (Rp.),Nama Tanaman,Sumber Benih,Luas Lahan,Produksi,Pola Tanam,Sistem Budidaya,Pengairan,Pupuk,Pestisida/Herbisida/Fungisida,Benih,Upah Buruh,Sewa Alat dan Mesin Pertanian,Sumber Limbah,Pengolahan
0,22190,Paubokol,Marianus Nurak,Petani atau Nelayan;,800000;,Jagung ; Ubi Kayu; Padi; Porang;,Tangkar Sendiri;,0.5; 0.5; 0.5; 0.5;,0.2; 0.2; 0.2; ;,1 kali setahun;,Organik;,Tadah Hujan;,0;,600000;,0;,0;,0;,Rumah Tangga;,Tidak ada;
1,22195,Paubokol,Viktor Gelak,Petani atau Nelayan;,100000;,Padi; Jagung ;,Tangkar Sendiri;,0.007; 0.007;,0.1; 0.1;,1 kali setahun;,Organik;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak ada;
2,22200,Paubokol,Yoseph Kujo,Petani atau Nelayan;,400000;,Padi; Jagung ; Ubi Kayu; Kacang Tanah;,Tangkar Sendiri;,0.5; ; ; ;,0.8; ; ; ;,1 kali setahun;,Organik;,Tadah Hujan;,0;,1380000;,0;,0;,0;,Tidak ada;,Tidak ada;
3,22205,Paubokol,Hendrikus Laran Ujan,Petani atau Nelayan;,600000;,Padi;,Tangkar Sendiri;,1;,0.8;,1 kali setahun;,Organik;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak ada;
4,22208,Paubokol,Anselmus Sikong Ujan,Petani atau Nelayan;,500000;,Padi; Jagung ; Kacang Tanah; Ubi Jalar;,Tangkar Sendiri;,1; ; ; ;,1; ; ; ;,1 kali setahun;,Semi Organik;,Tadah Hujan;,750000;,500000;,0;,0;,0;,Tidak ada;,Tidak ada;

In [50]:
for i, col in enumerate(df.columns):
    print(f"{i}. {col}")

0. ID
1. Desa/Kelurahan
2. Nama Kepala Keluarga
3. Pekerjaan
4. Pendapatan Bulanan (Rp.)
5. Nama Tanaman
6. Sumber Benih
7. Luas Lahan
8. Produksi
9. Pola Tanam
10. Sistem Budidaya
11. Pengairan
12. Pupuk
13. Pestisida/Herbisida/Fungisida
14. Benih
15. Upah Buruh
16. Sewa Alat dan Mesin Pertanian
17. Sumber Limbah
18. Pengolahan

# Pilar 1

### I.1.1.1 Rasio Gini Tanah

In [51]:
df

,ID,Desa/Kelurahan,Nama Kepala Keluarga,Pekerjaan,Pendapatan Bulanan (Rp.),Nama Tanaman,Sumber Benih,Luas Lahan,Produksi,Pola Tanam,Sistem Budidaya,Pengairan,Pupuk,Pestisida/Herbisida/Fungisida,Benih,Upah Buruh,Sewa Alat dan Mesin Pertanian,Sumber Limbah,Pengolahan
0,22190,Paubokol,Marianus Nurak,Petani atau Nelayan;,800000;,Jagung ; Ubi Kayu; Padi; Porang;,Tangkar Sendiri;,0.5; 0.5; 0.5; 0.5;,0.2; 0.2; 0.2; ;,1 kali setahun;,Organik;,Tadah Hujan;,0;,600000;,0;,0;,0;,Rumah Tangga;,Tidak ada;
1,22195,Paubokol,Viktor Gelak,Petani atau Nelayan;,100000;,Padi; Jagung ;,Tangkar Sendiri;,0.007; 0.007;,0.1; 0.1;,1 kali setahun;,Organik;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak ada;
2,22200,Paubokol,Yoseph Kujo,Petani atau Nelayan;,400000;,Padi; Jagung ; Ubi Kayu; Kacang Tanah;,Tangkar Sendiri;,0.5; ; ; ;,0.8; ; ; ;,1 kali setahun;,Organik;,Tadah Hujan;,0;,1380000;,0;,0;,0;,Tidak ada;,Tidak ada;
3,22205,Paubokol,Hendrikus Laran Ujan,Petani atau Nelayan;,600000;,Padi;,Tangkar Sendiri;,1;,0.8;,1 kali setahun;,Organik;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak ada;
4,22208,Paubokol,Anselmus Sikong Ujan,Petani atau Nelayan;,500000;,Padi; Jagung ; Kacang Tanah; Ubi Jalar;,Tangkar Sendiri;,1; ; ; ;,1; ; ; ;,1 kali setahun;,Semi Organik;,Tadah Hujan;,750000;,500000;,0;,0;,0;,Tidak ada;,Tidak ada;
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,24802,Dikesare,Matias Suban,Petani atau Nelayan;,500000;,Padi; Jagung;,Tangkar Sendiri;,0.25; ;,0.75; ;,1 kali setahun;,Organik;,Tadah Hujan;,;,;,;,;,;,Rumah Tangga;,Diolah;
634,24803,Mahal,Christoforus Hobamatan,lainnya;,1000000;,Jagung;,Tangkar Sendiri;,1;,0.45;,1 kali setahun;,Kimia;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;
635,24866,Todanara,Longginus Lango,Petani atau Nelayan;,500000;,Padi; Jagung ; Ubi Kayu;,Bantuan Pemerintah;,0.5; 0.5; 0.5; 0.5;,0.04; 0.04; 0.04; 0.04;,1 kali setahun;,Organik; Tidak ada;,Tadah Hujan;,0;,50000;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;
636,24887,Labalimut,Petrus Asan,lainnya;,4000000;,Jagung Lokal; Ubi Kayu; Padi;,Tangkar Sendiri; Tidak ada;,0.50; 0.50; 0.50;,0.6; ; 0.5;,1 kali setahun;,Organik;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;
637,24957,Todanara,Hendrikus Kewaman,Petani atau Nelayan;,200000;,Padi; Jagung ;,Tangkar Sendiri;,1; 1; 1;,0.5; 0.5; 0.5;,1 kali setahun;,Organik;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;

In [52]:
df.isna().sum()

ID                               0
Desa/Kelurahan                   0
Nama Kepala Keluarga             0
Pekerjaan                        0
Pendapatan Bulanan (Rp.)         0
Nama Tanaman                     0
Sumber Benih                     0
Luas Lahan                       0
Produksi                         0
Pola Tanam                       0
Sistem Budidaya                  0
Pengairan                        0
Pupuk                            0
Pestisida/Herbisida/Fungisida    0
Benih                            0
Upah Buruh                       0
Sewa Alat dan Mesin Pertanian    0
Sumber Limbah                    0
Pengolahan                       0
dtype: int64

In [53]:
df = df.dropna()

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638 entries, 0 to 637
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             638 non-null    int64
 1   Desa/Kelurahan                 638 non-null    object
 2   Nama Kepala Keluarga           638 non-null    object
 3   Pekerjaan                      638 non-null    object
 4   Pendapatan Bulanan (Rp.)       638 non-null    object
 5   Nama Tanaman                   638 non-null    object
 6   Sumber Benih                   638 non-null    object
 7   Luas Lahan                     638 non-null    object
 8   Produksi                       638 non-null    object
 9   Pola Tanam                     638 non-null    object
 10  Sistem Budidaya                638 non-null    object
 11  Pengairan                      638 non-null    object
 12  Pupuk                          638 non-null    object
 13  Pestisida/Herbisida/Fungisida  638 non-null    object
 14  Benih                          638 non-null    object
 15  Upah Buruh                     638 non-null    object
 16  Sewa Alat dan Mesin Pertanian  638 non-null    object
 17  Sumber Limbah                  638 non-null    object
 18  Pengolahan                     638 non-null    object
dtypes: int64(1), object(18)
memory usage: 94.8+ KB

In [55]:
df['Desa/Kelurahan'].value_counts()

Desa/Kelurahan
Muruona         32
Lamatuka        30
Hoelea I        30
Ile Kimok       30
Benihading      30
Waienga         29
Watodiri        28
Nubamado        27
Lolong          26
Merdeka         25
Todanara        24
Dulitukan       24
Mahal           23
Laranwutun      23
Paubokol        23
Dikesare        22
Labalimut       22
Duawutun        21
Tubungwalang    21
Wuakerong       20
Puor            20
Pada            20
Riangbao        19
Bour            17
Kalikur         13
Katakeja        13
Balauring       12
Tagawiti        10
Tubuk Rajan      4
Name: count, dtype: int64

In [56]:
import numpy as np
import pandas as pd
import re

_num_pattern = re.compile(r'^\s*[+-]?\d+(?:[.,]\d+)?\s*$')  # dukung koma/titik desimal

def sum_semicolon_numbers(cell):
    # NaN -> NaN
    if pd.isna(cell):
        return np.nan

    s = str(cell).strip()
    if s == '':
        return np.nan  # sel benar-benar kosong

    # Normalisasi delimiter & desimal
    s = s.replace('；', ';')           # fullwidth semicolon -> normal
    parts = [p.strip() for p in s.split(';')]

    total = 0.0
    found_number = False
    for p in parts:
        if p == '':         # kosong di antara ; -> 0 (skip saja)
            continue
        p2 = p.replace(',', '.')  # dukung "0,5"
        if _num_pattern.match(p2):
            total += float(p2)
            found_number = True
        else:
            # token tidak numerik -> abaikan (anggap 0)
            # kalau mau anggap invalid -> set found_number=False dan break lalu return np.nan
            pass

    return total if found_number else np.nan

In [57]:
df['Luas Lahan Keseluruhan'] = df['Luas Lahan'].apply(sum_semicolon_numbers)
df['Produksi Keseluruhan']   = df['Produksi'].apply(sum_semicolon_numbers)

In [58]:
# Hapus baris dengan Luas Lahan Keseluruhan = 0
df = df[df['Luas Lahan Keseluruhan'] != 0]

In [59]:
df

,ID,Desa/Kelurahan,Nama Kepala Keluarga,Pekerjaan,Pendapatan Bulanan (Rp.),Nama Tanaman,Sumber Benih,Luas Lahan,Produksi,Pola Tanam,...,Pengairan,Pupuk,Pestisida/Herbisida/Fungisida,Benih,Upah Buruh,Sewa Alat dan Mesin Pertanian,Sumber Limbah,Pengolahan,Luas Lahan Keseluruhan,Produksi Keseluruhan
0,22190,Paubokol,Marianus Nurak,Petani atau Nelayan;,800000;,Jagung ; Ubi Kayu; Padi; Porang;,Tangkar Sendiri;,0.5; 0.5; 0.5; 0.5;,0.2; 0.2; 0.2; ;,1 kali setahun;,...,Tadah Hujan;,0;,600000;,0;,0;,0;,Rumah Tangga;,Tidak ada;,2.000,0.60
1,22195,Paubokol,Viktor Gelak,Petani atau Nelayan;,100000;,Padi; Jagung ;,Tangkar Sendiri;,0.007; 0.007;,0.1; 0.1;,1 kali setahun;,...,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak ada;,0.014,0.20
2,22200,Paubokol,Yoseph Kujo,Petani atau Nelayan;,400000;,Padi; Jagung ; Ubi Kayu; Kacang Tanah;,Tangkar Sendiri;,0.5; ; ; ;,0.8; ; ; ;,1 kali setahun;,...,Tadah Hujan;,0;,1380000;,0;,0;,0;,Tidak ada;,Tidak ada;,0.500,0.80
3,22205,Paubokol,Hendrikus Laran Ujan,Petani atau Nelayan;,600000;,Padi;,Tangkar Sendiri;,1;,0.8;,1 kali setahun;,...,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak ada;,1.000,0.80
4,22208,Paubokol,Anselmus Sikong Ujan,Petani atau Nelayan;,500000;,Padi; Jagung ; Kacang Tanah; Ubi Jalar;,Tangkar Sendiri;,1; ; ; ;,1; ; ; ;,1 kali setahun;,...,Tadah Hujan;,750000;,500000;,0;,0;,0;,Tidak ada;,Tidak ada;,1.000,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,24802,Dikesare,Matias Suban,Petani atau Nelayan;,500000;,Padi; Jagung;,Tangkar Sendiri;,0.25; ;,0.75; ;,1 kali setahun;,...,Tadah Hujan;,;,;,;,;,;,Rumah Tangga;,Diolah;,0.250,0.75
634,24803,Mahal,Christoforus Hobamatan,lainnya;,1000000;,Jagung;,Tangkar Sendiri;,1;,0.45;,1 kali setahun;,...,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;,1.000,0.45
635,24866,Todanara,Longginus Lango,Petani atau Nelayan;,500000;,Padi; Jagung ; Ubi Kayu;,Bantuan Pemerintah;,0.5; 0.5; 0.5; 0.5;,0.04; 0.04; 0.04; 0.04;,1 kali setahun;,...,Tadah Hujan;,0;,50000;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;,2.000,0.16
636,24887,Labalimut,Petrus Asan,lainnya;,4000000;,Jagung Lokal; Ubi Kayu; Padi;,Tangkar Sendiri; Tidak ada;,0.50; 0.50; 0.50;,0.6; ; 0.5;,1 kali setahun;,...,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;,1.500,1.10
637,24957,Todanara,Hendrikus Kewaman,Petani atau Nelayan;,200000;,Padi; Jagung ;,Tangkar Sendiri;,1; 1; 1;,0.5; 0.5; 0.5;,1 kali setahun;,...,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;,3.000,1.50

In [60]:
def gini(array):
    array = np.array(array, dtype=np.float64)
    if np.amin(array) < 0:
        array -= np.amin(array)
    array += 1e-9  # untuk menghindari pembagian nol
    array = np.sort(array)
    n = len(array)
    index = np.arange(1, n + 1)
    return ((np.sum((2 * index - n - 1) * array)) / (n * np.sum(array)))

In [61]:
# Hitung rasio gini untuk tiap desa
rasio_gini = (
    df.groupby('Desa/Kelurahan')['Luas Lahan Keseluruhan']
    .apply(lambda x: gini(x.dropna()))
    .reset_index(name='Rasio Gini')
)

In [62]:
# Fungsi scoring berdasarkan aturan di gambar
def skor_gini(g):
    if g > 0.5:
        return 0
    elif g > 0.4:
        return 1
    else:
        return 4

rasio_gini['Skor'] = rasio_gini['Rasio Gini'].apply(skor_gini)

In [63]:
rasio_gini

   Desa/Kelurahan  Rasio Gini  Skor
0       Balauring    0.893166     0
1      Benihading    0.490692     1
2            Bour    0.471804     1
3        Dikesare    0.617345     0
4        Duawutun    0.397484     4
5       Dulitukan    0.380139     4
6        Hoelea I    0.487741     1
7       Ile Kimok    0.927658     0
8         Kalikur    0.915216     0
9        Katakeja    0.433594     1
10      Labalimut    0.796059     0
11       Lamatuka    0.913617     0
12     Laranwutun    0.947232     0
13         Lolong    0.556197     0
14          Mahal    0.809068     0
15        Merdeka    0.462708     1
16        Muruona    0.348025     4
17       Nubamado    0.454787     1
18           Pada    0.765121     0
19       Paubokol    0.900963     0
20           Puor    0.400270     1
21       Riangbao    0.522853     0
22       Tagawiti    0.292944     4
23       Todanara    0.493974     1
24    Tubuk Rajan    0.434783     1
25   Tubungwalang    0.918087     0
26        Waienga    0.952735     0
27       Watodiri    0.384016     4
28      Wuakerong    0.496106     1

In [64]:
IKP = rasio_gini[['Desa/Kelurahan']].copy()
IKP = IKP.merge(
    rasio_gini[['Desa/Kelurahan','Skor']].rename(columns={'Skor':'I.1.1.1'}),
    on='Desa/Kelurahan', how='left'
)

In [65]:
IKP

   Desa/Kelurahan  I.1.1.1
0       Balauring        0
1      Benihading        1
2            Bour        1
3        Dikesare        0
4        Duawutun        4
5       Dulitukan        4
6        Hoelea I        1
7       Ile Kimok        0
8         Kalikur        0
9        Katakeja        1
10      Labalimut        0
11       Lamatuka        0
12     Laranwutun        0
13         Lolong        0
14          Mahal        0
15        Merdeka        1
16        Muruona        4
17       Nubamado        1
18           Pada        0
19       Paubokol        0
20           Puor        1
21       Riangbao        0
22       Tagawiti        4
23       Todanara        1
24    Tubuk Rajan        1
25   Tubungwalang        0
26        Waienga        0
27       Watodiri        4
28      Wuakerong        1

### I.2.1.1 Luas Tanah yang Dikuasai

In [66]:
# Hapus baris dengan produktivitas_clean = 0
df = df[df['Produksi Keseluruhan'] != 0]

In [67]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,586.0,NaN,NaN,NaN,23228.600683,678.055766,22190.0,22708.25,23182.5,23605.0,24957.0
Desa/Kelurahan,586,29,Muruona,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nama Kepala Keluarga,586,583,Stanislaus Kopong,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pekerjaan,586,9,Petani atau Nelayan;,395,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pendapatan Bulanan (Rp.),586,108,500000;,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nama Tanaman,586,116,Jagung;,150,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sumber Benih,586,17,Tangkar Sendiri;,411,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan,586,240,1;,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Produksi,586,349,1;,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pola Tanam,586,10,1 kali setahun;,504,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sistem Budidaya,586,12,Organik;,323,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengairan,586,11,Tadah Hujan;,458,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pupuk,586,48,0;,347,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pestisida/Herbisida/Fungisida,586,71,0;,267,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Benih,586,31,0;,398,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Upah Buruh,586,30,0;,378,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sewa Alat dan Mesin Pertanian,586,23,0;,396,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sumber Limbah,586,11,Rumah Tangga;,349,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengolahan,586,6,Tidak Diolah;,312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan Keseluruhan,565.0,NaN,NaN,NaN,27.071587,188.320171,0.0002,0.25,0.75,1.5,2700.0
Produksi Keseluruhan,546.0,NaN,NaN,NaN,15.458047,91.826068,0.001,0.1085,0.4,1.0,1050.0

In [68]:
df['Desa/Kelurahan'].value_counts()

Desa/Kelurahan
Muruona         32
Benihading      30
Ile Kimok       29
Watodiri        28
Hoelea I        28
Nubamado        27
Lamatuka        26
Merdeka         25
Laranwutun      23
Todanara        23
Mahal           23
Dulitukan       23
Waienga         23
Lolong          23
Dikesare        21
Puor            20
Paubokol        20
Tubungwalang    20
Labalimut       20
Bour            17
Riangbao        16
Wuakerong       15
Kalikur         13
Katakeja        13
Pada            12
Balauring       12
Duawutun        10
Tagawiti        10
Tubuk Rajan      4
Name: count, dtype: int64

In [69]:
df.isna().sum()

ID                                0
Desa/Kelurahan                    0
Nama Kepala Keluarga              0
Pekerjaan                         0
Pendapatan Bulanan (Rp.)          0
Nama Tanaman                      0
Sumber Benih                      0
Luas Lahan                        0
Produksi                          0
Pola Tanam                        0
Sistem Budidaya                   0
Pengairan                         0
Pupuk                             0
Pestisida/Herbisida/Fungisida     0
Benih                             0
Upah Buruh                        0
Sewa Alat dan Mesin Pertanian     0
Sumber Limbah                     0
Pengolahan                        0
Luas Lahan Keseluruhan           21
Produksi Keseluruhan             40
dtype: int64

In [70]:
# PERHITUNGAN IKP

df['Penghasilan Kotor'] = df['Produksi Keseluruhan'] * 10000 * 1000    # 10.000 per kg, dengan 1 ton = 1.000kg

C:\Users\halid\AppData\Local\Temp\ipykernel_14968\3133423404.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Penghasilan Kotor'] = df['Produksi Keseluruhan'] * 10000 * 1000    # 10.000 per kg, dengan 1 ton = 1.000kg

In [71]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,586.0,NaN,NaN,NaN,23228.600683,678.055766,22190.0,22708.25,23182.5,23605.0,24957.0
Desa/Kelurahan,586,29,Muruona,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nama Kepala Keluarga,586,583,Stanislaus Kopong,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pekerjaan,586,9,Petani atau Nelayan;,395,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pendapatan Bulanan (Rp.),586,108,500000;,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nama Tanaman,586,116,Jagung;,150,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sumber Benih,586,17,Tangkar Sendiri;,411,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan,586,240,1;,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Produksi,586,349,1;,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pola Tanam,586,10,1 kali setahun;,504,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sistem Budidaya,586,12,Organik;,323,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengairan,586,11,Tadah Hujan;,458,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pupuk,586,48,0;,347,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pestisida/Herbisida/Fungisida,586,71,0;,267,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Benih,586,31,0;,398,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Upah Buruh,586,30,0;,378,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sewa Alat dan Mesin Pertanian,586,23,0;,396,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sumber Limbah,586,11,Rumah Tangga;,349,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengolahan,586,6,Tidak Diolah;,312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan Keseluruhan,565.0,NaN,NaN,NaN,27.071587,188.320171,0.0002,0.25,0.75,1.5,2700.0
Produksi Keseluruhan,546.0,NaN,NaN,NaN,15.458047,91.826068,0.001,0.1085,0.4,1.0,1050.0
Penghasilan Kotor,546.0,NaN,NaN,NaN,154580473.644689,918260684.651599,10000.0,1085000.0,4000000.0,10000000.0,10500000000.0

In [72]:
# PERHITUNGAN IKP

def sum_semicolon_numbers(cell):
    if pd.isna(cell):
        return 0.0  # kosong dianggap 0
    parts = str(cell).split(';')
    total = 0.0
    for p in parts:
        p = p.strip()
        if p == '':
            continue
        try:
            total += float(p.replace(',', '.'))
        except:
            pass
    return total

# Kolom-kolom biaya
cols_biaya = [
    'Pupuk',
    'Pestisida/Herbisida/Fungisida',
    'Benih',
    'Upah Buruh',
    'Sewa Alat dan Mesin Pertanian'
]

# Konversi semua kolom biaya ke total float
for col in cols_biaya:
    df[col] = df[col].apply(sum_semicolon_numbers)

# Hitung Ongkos Produksi
df['Ongkos Produksi'] = df[cols_biaya].sum(axis=1)

C:\Users\halid\AppData\Local\Temp\ipykernel_14968\4233215356.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(sum_semicolon_numbers)
C:\Users\halid\AppData\Local\Temp\ipykernel_14968\4233215356.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Ongkos Produksi'] = df[cols_biaya].sum(axis=1)

In [73]:
df

,ID,Desa/Kelurahan,Nama Kepala Keluarga,Pekerjaan,Pendapatan Bulanan (Rp.),Nama Tanaman,Sumber Benih,Luas Lahan,Produksi,Pola Tanam,...,Pestisida/Herbisida/Fungisida,Benih,Upah Buruh,Sewa Alat dan Mesin Pertanian,Sumber Limbah,Pengolahan,Luas Lahan Keseluruhan,Produksi Keseluruhan,Penghasilan Kotor,Ongkos Produksi
0,22190,Paubokol,Marianus Nurak,Petani atau Nelayan;,800000;,Jagung ; Ubi Kayu; Padi; Porang;,Tangkar Sendiri;,0.5; 0.5; 0.5; 0.5;,0.2; 0.2; 0.2; ;,1 kali setahun;,...,600000.0,0.0,0.0,0.0,Rumah Tangga;,Tidak ada;,2.000,0.60,6000000.0,600000.0
1,22195,Paubokol,Viktor Gelak,Petani atau Nelayan;,100000;,Padi; Jagung ;,Tangkar Sendiri;,0.007; 0.007;,0.1; 0.1;,1 kali setahun;,...,0.0,0.0,0.0,0.0,Rumah Tangga;,Tidak ada;,0.014,0.20,2000000.0,0.0
2,22200,Paubokol,Yoseph Kujo,Petani atau Nelayan;,400000;,Padi; Jagung ; Ubi Kayu; Kacang Tanah;,Tangkar Sendiri;,0.5; ; ; ;,0.8; ; ; ;,1 kali setahun;,...,1380000.0,0.0,0.0,0.0,Tidak ada;,Tidak ada;,0.500,0.80,8000000.0,1380000.0
3,22205,Paubokol,Hendrikus Laran Ujan,Petani atau Nelayan;,600000;,Padi;,Tangkar Sendiri;,1;,0.8;,1 kali setahun;,...,0.0,0.0,0.0,0.0,Rumah Tangga;,Tidak ada;,1.000,0.80,8000000.0,0.0
4,22208,Paubokol,Anselmus Sikong Ujan,Petani atau Nelayan;,500000;,Padi; Jagung ; Kacang Tanah; Ubi Jalar;,Tangkar Sendiri;,1; ; ; ;,1; ; ; ;,1 kali setahun;,...,500000.0,0.0,0.0,0.0,Tidak ada;,Tidak ada;,1.000,1.00,10000000.0,1250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,24802,Dikesare,Matias Suban,Petani atau Nelayan;,500000;,Padi; Jagung;,Tangkar Sendiri;,0.25; ;,0.75; ;,1 kali setahun;,...,0.0,0.0,0.0,0.0,Rumah Tangga;,Diolah;,0.250,0.75,7500000.0,0.0
634,24803,Mahal,Christoforus Hobamatan,lainnya;,1000000;,Jagung;,Tangkar Sendiri;,1;,0.45;,1 kali setahun;,...,0.0,0.0,0.0,0.0,Rumah Tangga;,Tidak Diolah;,1.000,0.45,4500000.0,0.0
635,24866,Todanara,Longginus Lango,Petani atau Nelayan;,500000;,Padi; Jagung ; Ubi Kayu;,Bantuan Pemerintah;,0.5; 0.5; 0.5; 0.5;,0.04; 0.04; 0.04; 0.04;,1 kali setahun;,...,50000.0,0.0,0.0,0.0,Rumah Tangga;,Tidak Diolah;,2.000,0.16,1600000.0,50000.0
636,24887,Labalimut,Petrus Asan,lainnya;,4000000;,Jagung Lokal; Ubi Kayu; Padi;,Tangkar Sendiri; Tidak ada;,0.50; 0.50; 0.50;,0.6; ; 0.5;,1 kali setahun;,...,0.0,0.0,0.0,0.0,Rumah Tangga;,Tidak Diolah;,1.500,1.10,11000000.0,0.0
637,24957,Todanara,Hendrikus Kewaman,Petani atau Nelayan;,200000;,Padi; Jagung ;,Tangkar Sendiri;,1; 1; 1;,0.5; 0.5; 0.5;,1 kali setahun;,...,0.0,0.0,0.0,0.0,Rumah Tangga;,Tidak Diolah;,3.000,1.50,15000000.0,0.0

In [74]:
df['Penghasilan Bersih'] = df['Penghasilan Kotor'] - df['Ongkos Produksi']

C:\Users\halid\AppData\Local\Temp\ipykernel_14968\1456873298.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Penghasilan Bersih'] = df['Penghasilan Kotor'] - df['Ongkos Produksi']

In [75]:
minus = df[df['Penghasilan Bersih'] < 0]

In [76]:
minus

,ID,Desa/Kelurahan,Nama Kepala Keluarga,Pekerjaan,Pendapatan Bulanan (Rp.),Nama Tanaman,Sumber Benih,Luas Lahan,Produksi,Pola Tanam,...,Benih,Upah Buruh,Sewa Alat dan Mesin Pertanian,Sumber Limbah,Pengolahan,Luas Lahan Keseluruhan,Produksi Keseluruhan,Penghasilan Kotor,Ongkos Produksi,Penghasilan Bersih
35,22349,Nubamado,Simon Sedu Carvalo,Petani atau Nelayan;,500000;,Jagung; Ubi Kayu; Padi ;,Tangkar Sendiri;,0.0625; 0.0625; 0.0625;,; ; 0.002;,1 kali setahun;,...,0.0,0.0,0.0,Rumah Tangga;,Tidak Diolah;,0.1875,0.0020,20000.0,80000.0,-60000.0
129,22580,Tubungwalang,Aloysius Arin,Petani atau Nelayan;,100000;,Jagung;,Tangkar Sendiri;,625;,0.025;,1 kali setahun;,...,0.0,0.0,0.0,Rumah Tangga;,Tidak ada;,625.0000,0.0250,250000.0,405000.0,-155000.0
145,22651,Tubungwalang,Nikolaus Leu,Petani atau Nelayan;,450000;,Padi ;,Tangkar Sendiri;,0.21;,0.0011;,1 kali setahun;,...,0.0,0.0,0.0,Rumah Tangga;,Tidak Diolah;,0.2100,0.0011,11000.0,50000.0,-39000.0
171,22703,Muruona,Agnes Tuto,Petani atau Nelayan;,200000;,Jagung; Ubi Kayu;,Tangkar Sendiri; Tidak ada;,0.25; 0.025;,0.02; 0.02;,1 kali setahun;,...,0.0,0.0,0.0,Rumah Tangga;,Tidak Diolah;,0.2750,0.0400,400000.0,540000.0,-140000.0
193,22734,Muruona,Hilarius Kelewasa,Petani atau Nelayan;,500000;,Jagung; Ubi Kayu;,Bantuan Pemerintah; Tidak ada;,1.2; 1.2;,0.06; 0.1;,1 kali setahun; Tidak ada;,...,0.0,0.0,0.0,Rumah Tangga;,Tidak Diolah;,2.4000,0.1600,1600000.0,3240000.0,-1640000.0
235,22815,Nubamado,Elisabet Tasekeb,Petani atau Nelayan;,;,Jagung;,Tidak ada;,0.075;,0.015;,1 kali setahun;,...,0.0,0.0,0.0,Rumah Tangga;,Tidak Diolah;,0.0750,0.0150,150000.0,300000.0,-150000.0
244,22830,Kalikur,Muhammad Dauda Ile,PNS;,3500000;,Jagung Lokal;,Tidak ada;,1;,0.03;,1 kali setahun;,...,0.0,0.0,40000.0,Pertanian dan Perkebunan;,Tidak Diolah;,1.0000,0.0300,300000.0,460000.0,-160000.0
248,22834,Bour,Thomas Reto Wulo,Petani atau Nelayan;,500000;,Ubi Kayu;,Tangkar Sendiri;,0.5;,0.05;,1 kali setahun;,...,425000.0,150000.0,400000.0,Pertanian dan Perkebunan;,Diolah;,0.5000,0.0500,500000.0,1215000.0,-715000.0
284,22911,Mahal,Paulus Leu,Petani atau Nelayan;,300000;,Jagung;,Tangkar Sendiri;,0.525;,0.03;,1 kali setahun;,...,0.0,300000.0,0.0,Rumah Tangga;,Tidak Diolah;,0.5250,0.0300,300000.0,530000.0,-230000.0
287,22920,Mahal,Margaretha Oa Sea,Tidak ada;,2000000;,Jagung;,Tangkar Sendiri;,0.025;,0.05;,1 kali setahun;,...,0.0,0.0,150000.0,Rumah Tangga;,Tidak Diolah;,0.0250,0.0500,500000.0,540000.0,-40000.0
297,23048,Mahal,Yoseph Lake,Petani atau Nelayan;,300000;,Jagung;,Tangkar Sendiri;,0.25;,0.03;,1 kali setahun;,...,0.0,80000.0,0.0,Rumah Tangga;,Tidak Diolah;,0.2500,0.0300,300000.0,390000.0,-90000.0
315,23152,Puor,Hendrikus Nuba Botoor,Petani atau Nelayan;,200000;,Padi; Jagung; Ubi Kayu;,Tangkar Sendiri;,0.02; 0.1; 0.1;,0.07; 0.06; 0.06;,1 kali setahun;,...,0.0,2000000.0,50000.0,Rumah Tangga;,Diolah;,0.2200,0.1900,1900000.0,2050000.0,-150000.0
326,23181,Muruona,Gregorius Nikolaus Sita,lainnya;,300000;,Jagung;,Tangkar Sendiri;,1;,0.02;,1 kali setahun;,...,0.0,0.0,0.0,Rumah Tangga;,Tidak Diolah;,1.0000,0.0200,200000.0,2160000.0,-1960000.0
342,23218,Todanara,Iskandar Geroda,Wiraswasta;,3000000;,Jagung;,Beli;,1;,0.001;,1 kali setahun;,...,70000.0,0.0,0.0,Pertanian dan Perkebunan;,Tidak Diolah;,1.0000,0.0010,10000.0,140000.0,-130000.0
344,23221,Todanara,Petrus Tupen,Petani atau Nelayan;,500000;,Jagung;,Beli;,1;,0.0076;,1 kali setahun;,...,90000.0,0.0,0.0,Pertanian dan Perkebunan;,Tidak Diolah;,1.0000,0.0076,76000.0,90000.0,-14000.0
381,23285,Laranwutun,Paulus Mosa,Petani atau Nelayan;,1000000;,Jagung;,Bantuan Pemerintah;,2;,0.1;,1 kali setahun;,...,0.0,1750000.0,0.0,Rumah Tangga; Pertanian dan Perkebunan; Petern...,Tidak Diolah;,2.0000,0.1000,1000000.0,1990000.0,-990000.0
388,23299,Mahal,Muhidin Leu,Petani atau Nelayan;,100000;,Jagung ;,Tangkar Sendiri;,;,0.005;,1 kali setahun;,...,0.0,0.0,0.0,Rumah Tangga;,Tidak Diolah;,NaN,0.0050,50000.0,230000.0,-180000.0
442,23443,Waienga,Vinsensius Laba,Karyawan Swasta;,2000000;,Jagung;,Tangkar Sendiri;,0.375;,0.05;,1 kali setahun;,...,0.0,0.0,0.0,Pertanian dan Perkebunan;,Diolah;,0.3750,0.0500,500000.0,720000.0,-220000.0
478,23574,Muruona,Atanasius Seresan,Petani atau Nelayan;,500000;,Jagung;,Bantuan Pemerintah;,0.5;,0.02;,1 kali setahun;,...,0.0,0.0,0.0,Rumah Tangga;,Tidak Diolah;,0.5000,0.0200,200000.0,405000.0,-205000.0
483,23621,Waienga,Yovita Ose,Buruh Tani;,500000;,Jagung;,Tangkar Sendiri;,0.015;,0.02;,1 kali setahun;,...,0.0,0.0,0.0,Pertanian dan Perkebunan;,Diolah;,0.0150,0.0200,200000.0,240000.0,-40000.0
522,23896,Todanara,Vinsensius Mada,Petani atau Nelayan;,1000000;,Jagung;,Tangkar Sendiri;,0.25;,0.001;,1 kali setahun;,...,0.0,0.0,0.0,Pertanian dan Perkebunan;,Tidak Diolah;,0.2500,0.0010,10000.0,25000.0,-15000.0
525,23903,Todanara,Ignasius Ola Kewatun Laba Making,Petani atau Nelayan;,2000000;,Jagung;,Bantuan Pemerintah;,0.009;,0.012;,1 kali setahun;,...,0.0,50000.0,0.0,Rumah Tangga;,Diolah;,0.0090,0.0120,120000.0,160000.0,-40000.0
596,24412,Todanara,Yuli Making,Petani atau Nelayan;,200000;,Jagung;,Beli;,0.0003;,0.005;,1 kali setahun;,...,50000.0,0.0,0.0,Rumah Tangga;,Tidak Diolah;,0.0003,0.0050,50000.0,170000.0,-120000.0
608,24519,Waienga,Benediktus Boli,Petani atau Nelayan;,2000000;,Jagung;,Tangkar Sendiri;,0.25;,0.03;,1 kali setahun;,...,0.0,0.0,0.0,Pertanian dan Perkebunan;,Diolah;,0.2500,0.0300,300000.0,360000.0,-60000.0
631,24799,Todanara,Karolus Rutan,Petani atau Nelayan;,2000000;,Jagung;,Tangkar Sendiri;,0.5;,0.015;,1 kali setahun;,...,0.0,0.0,0.0,Rumah Tangga;,Tidak Diolah;,0.5000,0.0150,150000.0,180000.0,-30000.0

##### menggabungkan dengan data pola tanam

In [77]:
def bulan_budidaya_padi(pola):
    pola = str(pola).lower()
    if "3 kali setahun" in pola:
        return 12
    elif "2 kali setahun" in pola:
        return 8
    elif "1 kali setahun" in pola:
        return 4
    else:
        return 4 # jika tidak memenuhi kondisi di atas

df['kategori budidaya padi'] = df['Pola Tanam'].apply(bulan_budidaya_padi)

C:\Users\halid\AppData\Local\Temp\ipykernel_14968\3031856564.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['kategori budidaya padi'] = df['Pola Tanam'].apply(bulan_budidaya_padi)

In [78]:
df['Penghasilan per Bulan Bertani'] = df['Penghasilan Bersih'] / df['kategori budidaya padi']

C:\Users\halid\AppData\Local\Temp\ipykernel_14968\3535449042.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Penghasilan per Bulan Bertani'] = df['Penghasilan Bersih'] / df['kategori budidaya padi']

In [79]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,586.0,NaN,NaN,NaN,23228.600683,678.055766,22190.0,22708.25,23182.5,23605.0,24957.0
Desa/Kelurahan,586,29,Muruona,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nama Kepala Keluarga,586,583,Stanislaus Kopong,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pekerjaan,586,9,Petani atau Nelayan;,395,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pendapatan Bulanan (Rp.),586,108,500000;,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nama Tanaman,586,116,Jagung;,150,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sumber Benih,586,17,Tangkar Sendiri;,411,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan,586,240,1;,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Produksi,586,349,1;,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pola Tanam,586,10,1 kali setahun;,504,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sistem Budidaya,586,12,Organik;,323,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengairan,586,11,Tadah Hujan;,458,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pupuk,586.0,NaN,NaN,NaN,42065.699659,212391.932684,0.0,0.0,0.0,0.0,2880000.0
Pestisida/Herbisida/Fungisida,586.0,NaN,NaN,NaN,79748.892491,239496.773749,0.0,0.0,0.0,75000.0,3240000.0
Benih,586.0,NaN,NaN,NaN,8152.732082,54347.812517,0.0,0.0,0.0,0.0,810000.0
Upah Buruh,586.0,NaN,NaN,NaN,68443.003413,454851.664853,0.0,0.0,0.0,0.0,7000000.0
Sewa Alat dan Mesin Pertanian,586.0,NaN,NaN,NaN,23085.324232,120614.634863,0.0,0.0,0.0,0.0,1200000.0
Sumber Limbah,586,11,Rumah Tangga;,349,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengolahan,586,6,Tidak Diolah;,312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan Keseluruhan,565.0,NaN,NaN,NaN,27.071587,188.320171,0.0002,0.25,0.75,1.5,2700.0
Produksi Keseluruhan,546.0,NaN,NaN,NaN,15.458047,91.826068,0.001,0.1085,0.4,1.0,1050.0
Penghasilan Kotor,546.0,NaN,NaN,NaN,154580473.644689,918260684.651599,10000.0,1085000.0,4000000.0,10000000.0,10500000000.0
Ongkos Produksi,586.0,NaN,NaN,NaN,221495.651877,604094.981396,0.0,0.0,0.0,180000.0,7360000.0
Penghasilan Bersih,546.0,NaN,NaN,NaN,154357526.846154,918270668.245307,-1960000.0,1000000.0,3810000.0,9030000.0,10500000000.0
kategori budidaya padi,586.0,NaN,NaN,NaN,4.129693,0.96975,4.0,4.0,4.0,4.0,12.0
Penghasilan per Bulan Bertani,546.0,NaN,NaN,NaN,38539564.099206,229574439.040661,-490000.0,250000.0,902500.0,2243750.0,2625000000.0

##### Garis Kemiskinan

Garis Kemiskinan (Rupiah/Kapita/Bulan) Menurut Provinsi dan Daerah 

di Nusa Tenggara Timur pada Semester 2 (September) adalah: **495.180,00**

In [80]:
garis_kemiskinan = df[['ID']].copy()
garis_kemiskinan['Desa/Kelurahan'] = df['Desa/Kelurahan']
garis_kemiskinan['Penghasilan per Bulan Bertani'] = df['Penghasilan per Bulan Bertani']

In [81]:
garis_kemiskinan

        ID Desa/Kelurahan  Penghasilan per Bulan Bertani
0    22190       Paubokol                      1350000.0
1    22195       Paubokol                       500000.0
2    22200       Paubokol                      1655000.0
3    22205       Paubokol                      2000000.0
4    22208       Paubokol                      2187500.0
..     ...            ...                            ...
633  24802       Dikesare                      1875000.0
634  24803          Mahal                      1125000.0
635  24866       Todanara                       387500.0
636  24887      Labalimut                      2750000.0
637  24957       Todanara                      3750000.0

[586 rows x 3 columns]

In [82]:
garis_kemiskinan_rp = 495180

# Hitung persentase per desa
penguasaan_tanah = (garis_kemiskinan
              .groupby('Desa/Kelurahan')['Penghasilan per Bulan Bertani']
              .apply(lambda x: (x > garis_kemiskinan_rp).mean() * 100)
              .reset_index(name='Persentase di Atas GK'))

# Tambahkan kolom skor
def hitung_skor(p):
    if p == 0:
        return 0
    elif p <= 25:
        return 1
    elif p <= 50:
        return 2
    elif p <= 75:
        return 3
    else:
        return 4

penguasaan_tanah['Skor'] = penguasaan_tanah['Persentase di Atas GK'].apply(hitung_skor)

In [83]:
penguasaan_tanah

   Desa/Kelurahan  Persentase di Atas GK  Skor
0       Balauring              75.000000     3
1      Benihading              83.333333     4
2            Bour              70.588235     3
3        Dikesare              19.047619     1
4        Duawutun              80.000000     4
5       Dulitukan              26.086957     2
6        Hoelea I              96.428571     4
7       Ile Kimok              86.206897     4
8         Kalikur              53.846154     3
9        Katakeja               7.692308     1
10      Labalimut              80.000000     4
11       Lamatuka              84.615385     4
12     Laranwutun              69.565217     3
13         Lolong              21.739130     1
14          Mahal              52.173913     3
15        Merdeka              40.000000     2
16        Muruona              18.750000     1
17       Nubamado              44.444444     2
18           Pada              41.666667     2
19       Paubokol              95.000000     4
20           Puor              70.000000     3
21       Riangbao              56.250000     3
22       Tagawiti              40.000000     2
23       Todanara              30.434783     2
24    Tubuk Rajan             100.000000     4
25   Tubungwalang              60.000000     3
26        Waienga              47.826087     2
27       Watodiri              64.285714     3
28      Wuakerong              73.333333     3

In [84]:
IKP = IKP.merge(
    penguasaan_tanah[['Desa/Kelurahan','Skor']].rename(columns={'Skor':'I.2.1.1'}),
    on='Desa/Kelurahan', how='left'
)

In [85]:
IKP

   Desa/Kelurahan  I.1.1.1  I.2.1.1
0       Balauring        0        3
1      Benihading        1        4
2            Bour        1        3
3        Dikesare        0        1
4        Duawutun        4        4
5       Dulitukan        4        2
6        Hoelea I        1        4
7       Ile Kimok        0        4
8         Kalikur        0        3
9        Katakeja        1        1
10      Labalimut        0        4
11       Lamatuka        0        4
12     Laranwutun        0        3
13         Lolong        0        1
14          Mahal        0        3
15        Merdeka        1        2
16        Muruona        4        1
17       Nubamado        1        2
18           Pada        0        2
19       Paubokol        0        4
20           Puor        1        3
21       Riangbao        0        3
22       Tagawiti        4        2
23       Todanara        1        2
24    Tubuk Rajan        1        4
25   Tubungwalang        0        3
26        Waienga        0        2
27       Watodiri        4        3
28      Wuakerong        1        3

### I.3.1. 1 Ketersediaan air untuk budidaya

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 586 entries, 0 to 637
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             586 non-null    int64
 1   Desa/Kelurahan                 586 non-null    object
 2   Nama Kepala Keluarga           586 non-null    object
 3   Pekerjaan                      586 non-null    object
 4   Pendapatan Bulanan (Rp.)       586 non-null    object
 5   Nama Tanaman                   586 non-null    object
 6   Sumber Benih                   586 non-null    object
 7   Luas Lahan                     586 non-null    object
 8   Produksi                       586 non-null    object
 9   Pola Tanam                     586 non-null    object
 10  Sistem Budidaya                586 non-null    object
 11  Pengairan                      586 non-null    object
 12  Pupuk                          586 non-null    float64
 13  Pestisida/Herbisida/Fungisida  586 non-null    float64
 14  Benih                          586 non-null    float64
 15  Upah Buruh                     586 non-null    float64
 16  Sewa Alat dan Mesin Pertanian  586 non-null    float64
 17  Sumber Limbah                  586 non-null    object
 18  Pengolahan                     586 non-null    object
 19  Luas Lahan Keseluruhan         565 non-null    float64
 20  Produksi Keseluruhan           546 non-null    float64
 21  Penghasilan Kotor              546 non-null    float64
 22  Ongkos Produksi                586 non-null    float64
 23  Penghasilan Bersih             546 non-null    float64
 24  kategori budidaya padi         586 non-null    int64
 25  Penghasilan per Bulan Bertani  546 non-null    float64
dtypes: float64(11), int64(2), object(13)
memory usage: 123.6+ KB

In [87]:
df.isna().sum()

ID                                0
Desa/Kelurahan                    0
Nama Kepala Keluarga              0
Pekerjaan                         0
Pendapatan Bulanan (Rp.)          0
Nama Tanaman                      0
Sumber Benih                      0
Luas Lahan                        0
Produksi                          0
Pola Tanam                        0
Sistem Budidaya                   0
Pengairan                         0
Pupuk                             0
Pestisida/Herbisida/Fungisida     0
Benih                             0
Upah Buruh                        0
Sewa Alat dan Mesin Pertanian     0
Sumber Limbah                     0
Pengolahan                        0
Luas Lahan Keseluruhan           21
Produksi Keseluruhan             40
Penghasilan Kotor                40
Ongkos Produksi                   0
Penghasilan Bersih               40
kategori budidaya padi            0
Penghasilan per Bulan Bertani    40
dtype: int64

In [88]:
# DATA CLEANING

df['Pola Tanam'].value_counts()

Pola Tanam
1 kali setahun;               504
1 kali setahun; Tidak ada;     33
Tidak ada;                     31
3 kali setahun;                 5
Tidak ada; 1 kali setahun;      4
3 kali setahun; 1               3
2 kali setahun; 1               2
1 kali setahun; 2               2
2 kali setahun;                 1
1 kali setahun; 3               1
Name: count, dtype: int64

In [89]:
# PERHITUNGAN IKP

def skor_ketersediaan_air(pola):
    pola = str(pola).lower()
    if "tidak ada" in pola or "1 kali setahun" in pola:
        return 2
    elif "2 kali setahun" in pola or "3 kali setahun" in pola:
        return 1
    else:
        return 0  # jika tidak memenuhi kondisi di atas

df['kategori ketersediaan air'] = df['Pola Tanam'].apply(skor_ketersediaan_air)

C:\Users\halid\AppData\Local\Temp\ipykernel_14968\519971845.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['kategori ketersediaan air'] = df['Pola Tanam'].apply(skor_ketersediaan_air)

In [90]:
persentase_air = (
    df.groupby('Desa/Kelurahan')['kategori ketersediaan air']
      .apply(lambda x: (x == 1).mean() * 100)
      .reset_index(name='Persentase Air Cukup')
)

def skor_air(p):
    if p == 0:
        return 0
    elif p <= 25:
        return 1
    elif p <= 50:
        return 2
    elif p <= 75:
        return 3
    else:
        return 4

persentase_air['Skor'] = persentase_air['Persentase Air Cukup'].apply(skor_air)

In [91]:
persentase_air

   Desa/Kelurahan  Persentase Air Cukup  Skor
0       Balauring              0.000000     0
1      Benihading              3.333333     1
2            Bour             11.764706     1
3        Dikesare              0.000000     0
4        Duawutun              0.000000     0
5       Dulitukan              0.000000     0
6        Hoelea I              0.000000     0
7       Ile Kimok              0.000000     0
8         Kalikur              0.000000     0
9        Katakeja              0.000000     0
10      Labalimut              0.000000     0
11       Lamatuka              0.000000     0
12     Laranwutun              0.000000     0
13         Lolong              0.000000     0
14          Mahal              0.000000     0
15        Merdeka              0.000000     0
16        Muruona              0.000000     0
17       Nubamado              7.407407     1
18           Pada              8.333333     1
19       Paubokol              0.000000     0
20           Puor             25.000000     1
21       Riangbao              0.000000     0
22       Tagawiti              0.000000     0
23       Todanara              0.000000     0
24    Tubuk Rajan              0.000000     0
25   Tubungwalang              0.000000     0
26        Waienga              0.000000     0
27       Watodiri              0.000000     0
28      Wuakerong              0.000000     0

In [92]:
IKP = IKP.merge(
    persentase_air[['Desa/Kelurahan','Skor']].rename(columns={'Skor':'I.3.1.1'}),
    on='Desa/Kelurahan', how='left'
)

In [93]:
IKP

   Desa/Kelurahan  I.1.1.1  I.2.1.1  I.3.1.1
0       Balauring        0        3        0
1      Benihading        1        4        1
2            Bour        1        3        1
3        Dikesare        0        1        0
4        Duawutun        4        4        0
5       Dulitukan        4        2        0
6        Hoelea I        1        4        0
7       Ile Kimok        0        4        0
8         Kalikur        0        3        0
9        Katakeja        1        1        0
10      Labalimut        0        4        0
11       Lamatuka        0        4        0
12     Laranwutun        0        3        0
13         Lolong        0        1        0
14          Mahal        0        3        0
15        Merdeka        1        2        0
16        Muruona        4        1        0
17       Nubamado        1        2        1
18           Pada        0        2        1
19       Paubokol        0        4        0
20           Puor        1        3        1
21       Riangbao        0        3        0
22       Tagawiti        4        2        0
23       Todanara        1        2        0
24    Tubuk Rajan        1        4        0
25   Tubungwalang        0        3        0
26        Waienga        0        2        0
27       Watodiri        4        3        0
28      Wuakerong        1        3        0

### I.4.1.1. Asal atau sumber benih

In [94]:
df['Sumber Benih'].value_counts()

Sumber Benih
Tangkar Sendiri;                                   411
Tidak ada;                                          42
Tangkar Sendiri; Tidak ada;                         34
Bantuan Pemerintah;                                 30
Bantuan Pemerintah; Tidak ada;                      17
Beli;                                               15
Tangkar Sendiri; Bantuan Pemerintah;                11
Bantuan Pemerintah; Tangkar Sendiri;                 8
Tidak ada; Tangkar Sendiri;                          6
Tangkar Sendiri; Beli;                               5
Beli; Bantuan Pemerintah; Tangkar Sendiri;           1
Tidak ada; Bantuan Pemerintah;                       1
Bantuan Pemerintah; Tidak ada; Tangkar Sendiri;      1
Tangkar Sendiri; Bantuan Pemerintah; Beli;           1
Beli; Tidak ada;                                     1
Beli; Tangkar Sendiri;                               1
Tangkar Sendiri; Tidak ada; Beli;                    1
Name: count, dtype: int64

In [95]:
def penggunaan_benih(pola):
    pola = str(pola).lower()
    
    kelompok_1 = ["tangkar sendiri"]
    kelompok_2 = ["beli", "bantuan pemerintah", "tidak ada"]
    
    ada_kelompok_1 = any(kata in pola for kata in kelompok_1)
    ada_kelompok_2 = any(kata in pola for kata in kelompok_2)
    
    if ada_kelompok_1 and ada_kelompok_2:
        return 0.5
    elif ada_kelompok_1:
        return 1
    elif ada_kelompok_2:
        return 0
    else:
        return None

df['kategori benih'] = df['Sumber Benih'].apply(penggunaan_benih)

C:\Users\halid\AppData\Local\Temp\ipykernel_14968\3540692383.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['kategori benih'] = df['Sumber Benih'].apply(penggunaan_benih)

In [96]:
df

,ID,Desa/Kelurahan,Nama Kepala Keluarga,Pekerjaan,Pendapatan Bulanan (Rp.),Nama Tanaman,Sumber Benih,Luas Lahan,Produksi,Pola Tanam,...,Pengolahan,Luas Lahan Keseluruhan,Produksi Keseluruhan,Penghasilan Kotor,Ongkos Produksi,Penghasilan Bersih,kategori budidaya padi,Penghasilan per Bulan Bertani,kategori ketersediaan air,kategori benih
0,22190,Paubokol,Marianus Nurak,Petani atau Nelayan;,800000;,Jagung ; Ubi Kayu; Padi; Porang;,Tangkar Sendiri;,0.5; 0.5; 0.5; 0.5;,0.2; 0.2; 0.2; ;,1 kali setahun;,...,Tidak ada;,2.000,0.60,6000000.0,600000.0,5400000.0,4,1350000.0,2,1.0
1,22195,Paubokol,Viktor Gelak,Petani atau Nelayan;,100000;,Padi; Jagung ;,Tangkar Sendiri;,0.007; 0.007;,0.1; 0.1;,1 kali setahun;,...,Tidak ada;,0.014,0.20,2000000.0,0.0,2000000.0,4,500000.0,2,1.0
2,22200,Paubokol,Yoseph Kujo,Petani atau Nelayan;,400000;,Padi; Jagung ; Ubi Kayu; Kacang Tanah;,Tangkar Sendiri;,0.5; ; ; ;,0.8; ; ; ;,1 kali setahun;,...,Tidak ada;,0.500,0.80,8000000.0,1380000.0,6620000.0,4,1655000.0,2,1.0
3,22205,Paubokol,Hendrikus Laran Ujan,Petani atau Nelayan;,600000;,Padi;,Tangkar Sendiri;,1;,0.8;,1 kali setahun;,...,Tidak ada;,1.000,0.80,8000000.0,0.0,8000000.0,4,2000000.0,2,1.0
4,22208,Paubokol,Anselmus Sikong Ujan,Petani atau Nelayan;,500000;,Padi; Jagung ; Kacang Tanah; Ubi Jalar;,Tangkar Sendiri;,1; ; ; ;,1; ; ; ;,1 kali setahun;,...,Tidak ada;,1.000,1.00,10000000.0,1250000.0,8750000.0,4,2187500.0,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,24802,Dikesare,Matias Suban,Petani atau Nelayan;,500000;,Padi; Jagung;,Tangkar Sendiri;,0.25; ;,0.75; ;,1 kali setahun;,...,Diolah;,0.250,0.75,7500000.0,0.0,7500000.0,4,1875000.0,2,1.0
634,24803,Mahal,Christoforus Hobamatan,lainnya;,1000000;,Jagung;,Tangkar Sendiri;,1;,0.45;,1 kali setahun;,...,Tidak Diolah;,1.000,0.45,4500000.0,0.0,4500000.0,4,1125000.0,2,1.0
635,24866,Todanara,Longginus Lango,Petani atau Nelayan;,500000;,Padi; Jagung ; Ubi Kayu;,Bantuan Pemerintah;,0.5; 0.5; 0.5; 0.5;,0.04; 0.04; 0.04; 0.04;,1 kali setahun;,...,Tidak Diolah;,2.000,0.16,1600000.0,50000.0,1550000.0,4,387500.0,2,0.0
636,24887,Labalimut,Petrus Asan,lainnya;,4000000;,Jagung Lokal; Ubi Kayu; Padi;,Tangkar Sendiri; Tidak ada;,0.50; 0.50; 0.50;,0.6; ; 0.5;,1 kali setahun;,...,Tidak Diolah;,1.500,1.10,11000000.0,0.0,11000000.0,4,2750000.0,2,0.5
637,24957,Todanara,Hendrikus Kewaman,Petani atau Nelayan;,200000;,Padi; Jagung ;,Tangkar Sendiri;,1; 1; 1;,0.5; 0.5; 0.5;,1 kali setahun;,...,Tidak Diolah;,3.000,1.50,15000000.0,0.0,15000000.0,4,3750000.0,2,1.0

In [97]:
persentase_benih = (
    df.groupby('Desa/Kelurahan')['kategori benih']
      .apply(lambda x: x.mean() * 100)
      .reset_index(name='Persentase Sumber Benih')
)

def skor_benih(p):
    if p == 0:
        return 0
    elif p <= 25:
        return 1
    elif p <= 50:
        return 2
    elif p <= 75:
        return 3
    else:
        return 4

persentase_benih['Skor'] = persentase_benih['Persentase Sumber Benih'].apply(skor_benih)

In [98]:
persentase_benih

   Desa/Kelurahan  Persentase Sumber Benih  Skor
0       Balauring               100.000000     4
1      Benihading                76.666667     4
2            Bour                70.588235     3
3        Dikesare                61.904762     3
4        Duawutun                55.000000     3
5       Dulitukan                95.652174     4
6        Hoelea I                91.071429     4
7       Ile Kimok               100.000000     4
8         Kalikur                80.769231     4
9        Katakeja                 3.846154     1
10      Labalimut                80.000000     4
11       Lamatuka                86.538462     4
12     Laranwutun                54.347826     3
13         Lolong                86.956522     4
14          Mahal                95.652174     4
15        Merdeka                88.000000     4
16        Muruona                26.562500     2
17       Nubamado                83.333333     4
18           Pada                50.000000     2
19       Paubokol               100.000000     4
20           Puor                85.000000     4
21       Riangbao                65.625000     3
22       Tagawiti                90.000000     4
23       Todanara                47.826087     2
24    Tubuk Rajan               100.000000     4
25   Tubungwalang                85.000000     4
26        Waienga               100.000000     4
27       Watodiri                60.714286     3
28      Wuakerong                80.000000     4

In [99]:
IKP = IKP.merge(
    persentase_benih[['Desa/Kelurahan','Skor']].rename(columns={'Skor':'I.4.1.1'}),
    on='Desa/Kelurahan', how='left'
)

In [100]:
IKP

   Desa/Kelurahan  I.1.1.1  I.2.1.1  I.3.1.1  I.4.1.1
0       Balauring        0        3        0        4
1      Benihading        1        4        1        4
2            Bour        1        3        1        3
3        Dikesare        0        1        0        3
4        Duawutun        4        4        0        3
5       Dulitukan        4        2        0        4
6        Hoelea I        1        4        0        4
7       Ile Kimok        0        4        0        4
8         Kalikur        0        3        0        4
9        Katakeja        1        1        0        1
10      Labalimut        0        4        0        4
11       Lamatuka        0        4        0        4
12     Laranwutun        0        3        0        3
13         Lolong        0        1        0        4
14          Mahal        0        3        0        4
15        Merdeka        1        2        0        4
16        Muruona        4        1        0        2
17       Nubamado        1        2        1        4
18           Pada        0        2        1        2
19       Paubokol        0        4        0        4
20           Puor        1        3        1        4
21       Riangbao        0        3        0        3
22       Tagawiti        4        2        0        4
23       Todanara        1        2        0        2
24    Tubuk Rajan        1        4        0        4
25   Tubungwalang        0        3        0        4
26        Waienga        0        2        0        4
27       Watodiri        4        3        0        3
28      Wuakerong        1        3        0        4

# Pilar 2

### II.1.1.1 Jenis pestisida yang digunakan

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 586 entries, 0 to 637
Data columns (total 28 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             586 non-null    int64
 1   Desa/Kelurahan                 586 non-null    object
 2   Nama Kepala Keluarga           586 non-null    object
 3   Pekerjaan                      586 non-null    object
 4   Pendapatan Bulanan (Rp.)       586 non-null    object
 5   Nama Tanaman                   586 non-null    object
 6   Sumber Benih                   586 non-null    object
 7   Luas Lahan                     586 non-null    object
 8   Produksi                       586 non-null    object
 9   Pola Tanam                     586 non-null    object
 10  Sistem Budidaya                586 non-null    object
 11  Pengairan                      586 non-null    object
 12  Pupuk                          586 non-null    float64
 13  Pestisida/Herbisida/Fungisida  586 non-null    float64
 14  Benih                          586 non-null    float64
 15  Upah Buruh                     586 non-null    float64
 16  Sewa Alat dan Mesin Pertanian  586 non-null    float64
 17  Sumber Limbah                  586 non-null    object
 18  Pengolahan                     586 non-null    object
 19  Luas Lahan Keseluruhan         565 non-null    float64
 20  Produksi Keseluruhan           546 non-null    float64
 21  Penghasilan Kotor              546 non-null    float64
 22  Ongkos Produksi                586 non-null    float64
 23  Penghasilan Bersih             546 non-null    float64
 24  kategori budidaya padi         586 non-null    int64
 25  Penghasilan per Bulan Bertani  546 non-null    float64
 26  kategori ketersediaan air      586 non-null    int64
 27  kategori benih                 586 non-null    float64
dtypes: float64(12), int64(3), object(13)
memory usage: 132.8+ KB

In [102]:
persentase_pestisida = (
    df.groupby('Desa/Kelurahan')['Pestisida/Herbisida/Fungisida']
      .apply(lambda x: (x > 0).mean() * 100)
      .reset_index(name='Persentase Penggunaan Pestisida Sintetik')
)

def skor_pestisida(p):
    if p > 80:
        return 0
    elif p >= 61:
        return 1
    elif p >= 41:
        return 2
    elif p >= 21:
        return 3
    else:
        return 4

persentase_pestisida['Skor'] = persentase_pestisida['Persentase Penggunaan Pestisida Sintetik'].apply(skor_pestisida)

In [103]:
persentase_pestisida

   Desa/Kelurahan  Persentase Penggunaan Pestisida Sintetik  Skor
0       Balauring                                  8.333333     4
1      Benihading                                 10.000000     4
2            Bour                                 82.352941     0
3        Dikesare                                  0.000000     4
4        Duawutun                                  0.000000     4
5       Dulitukan                                  0.000000     4
6        Hoelea I                                 60.714286     2
7       Ile Kimok                                 55.172414     2
8         Kalikur                                 84.615385     0
9        Katakeja                                 53.846154     2
10      Labalimut                                  0.000000     4
11       Lamatuka                                  0.000000     4
12     Laranwutun                                 52.173913     2
13         Lolong                                  0.000000     4
14          Mahal                                 82.608696     0
15        Merdeka                                 28.000000     3
16        Muruona                                 46.875000     2
17       Nubamado                                 29.629630     3
18           Pada                                 16.666667     4
19       Paubokol                                 45.000000     2
20           Puor                                  0.000000     4
21       Riangbao                                 37.500000     3
22       Tagawiti                                  0.000000     4
23       Todanara                                 52.173913     2
24    Tubuk Rajan                                  0.000000     4
25   Tubungwalang                                 20.000000     4
26        Waienga                                 91.304348     0
27       Watodiri                                  3.571429     4
28      Wuakerong                                 40.000000     3

In [104]:
IKP = IKP.merge(
    persentase_pestisida[['Desa/Kelurahan','Skor']].rename(columns={'Skor':'II.1.1.1'}),
    on='Desa/Kelurahan', how='left'
)

In [105]:
IKP

   Desa/Kelurahan  I.1.1.1  I.2.1.1  I.3.1.1  I.4.1.1  II.1.1.1
0       Balauring        0        3        0        4         4
1      Benihading        1        4        1        4         4
2            Bour        1        3        1        3         0
3        Dikesare        0        1        0        3         4
4        Duawutun        4        4        0        3         4
5       Dulitukan        4        2        0        4         4
6        Hoelea I        1        4        0        4         2
7       Ile Kimok        0        4        0        4         2
8         Kalikur        0        3        0        4         0
9        Katakeja        1        1        0        1         2
10      Labalimut        0        4        0        4         4
11       Lamatuka        0        4        0        4         4
12     Laranwutun        0        3        0        3         2
13         Lolong        0        1        0        4         4
14          Mahal        0        3        0        4         0
15        Merdeka        1        2        0        4         3
16        Muruona        4        1        0        2         2
17       Nubamado        1        2        1        4         3
18           Pada        0        2        1        2         4
19       Paubokol        0        4        0        4         2
20           Puor        1        3        1        4         4
21       Riangbao        0        3        0        3         3
22       Tagawiti        4        2        0        4         4
23       Todanara        1        2        0        2         2
24    Tubuk Rajan        1        4        0        4         4
25   Tubungwalang        0        3        0        4         4
26        Waienga        0        2        0        4         0
27       Watodiri        4        3        0        3         4
28      Wuakerong        1        3        0        4         3

### II.1.2.1 Jenis Pupuk yang Digunakan

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 586 entries, 0 to 637
Data columns (total 28 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             586 non-null    int64
 1   Desa/Kelurahan                 586 non-null    object
 2   Nama Kepala Keluarga           586 non-null    object
 3   Pekerjaan                      586 non-null    object
 4   Pendapatan Bulanan (Rp.)       586 non-null    object
 5   Nama Tanaman                   586 non-null    object
 6   Sumber Benih                   586 non-null    object
 7   Luas Lahan                     586 non-null    object
 8   Produksi                       586 non-null    object
 9   Pola Tanam                     586 non-null    object
 10  Sistem Budidaya                586 non-null    object
 11  Pengairan                      586 non-null    object
 12  Pupuk                          586 non-null    float64
 13  Pestisida/Herbisida/Fungisida  586 non-null    float64
 14  Benih                          586 non-null    float64
 15  Upah Buruh                     586 non-null    float64
 16  Sewa Alat dan Mesin Pertanian  586 non-null    float64
 17  Sumber Limbah                  586 non-null    object
 18  Pengolahan                     586 non-null    object
 19  Luas Lahan Keseluruhan         565 non-null    float64
 20  Produksi Keseluruhan           546 non-null    float64
 21  Penghasilan Kotor              546 non-null    float64
 22  Ongkos Produksi                586 non-null    float64
 23  Penghasilan Bersih             546 non-null    float64
 24  kategori budidaya padi         586 non-null    int64
 25  Penghasilan per Bulan Bertani  546 non-null    float64
 26  kategori ketersediaan air      586 non-null    int64
 27  kategori benih                 586 non-null    float64
dtypes: float64(12), int64(3), object(13)
memory usage: 132.8+ KB

In [107]:
persentase_pupuk = (
    df.groupby('Desa/Kelurahan')['Pupuk']
      .apply(lambda x: (x == 0).mean() * 100)
      .reset_index(name='Persentase Penggunaan Pupuk Organik')
)

def skor_pupuk(p):
    if p == 0:
        return 0
    elif p <= 25:
        return 1
    elif p <= 50:
        return 2
    elif p <= 75:
        return 3
    else:
        return 4

persentase_pupuk['Skor'] = persentase_pupuk['Persentase Penggunaan Pupuk Organik'].apply(skor_pupuk)

In [108]:
persentase_pupuk

   Desa/Kelurahan  Persentase Penggunaan Pupuk Organik  Skor
0       Balauring                            50.000000     2
1      Benihading                           100.000000     4
2            Bour                            58.823529     3
3        Dikesare                           100.000000     4
4        Duawutun                           100.000000     4
5       Dulitukan                           100.000000     4
6        Hoelea I                            14.285714     1
7       Ile Kimok                            93.103448     4
8         Kalikur                             0.000000     0
9        Katakeja                           100.000000     4
10      Labalimut                           100.000000     4
11       Lamatuka                            96.153846     4
12     Laranwutun                            95.652174     4
13         Lolong                           100.000000     4
14          Mahal                            30.434783     2
15        Merdeka                            96.000000     4
16        Muruona                            93.750000     4
17       Nubamado                            92.592593     4
18           Pada                            83.333333     4
19       Paubokol                            95.000000     4
20           Puor                            85.000000     4
21       Riangbao                           100.000000     4
22       Tagawiti                           100.000000     4
23       Todanara                            95.652174     4
24    Tubuk Rajan                           100.000000     4
25   Tubungwalang                            30.000000     2
26        Waienga                            95.652174     4
27       Watodiri                            96.428571     4
28      Wuakerong                           100.000000     4

In [109]:
IKP = IKP.merge(
    persentase_pupuk[['Desa/Kelurahan','Skor']].rename(columns={'Skor':'II.1.2.1'}),
    on='Desa/Kelurahan', how='left'
)

In [110]:
IKP

   Desa/Kelurahan  I.1.1.1  I.2.1.1  I.3.1.1  I.4.1.1  II.1.1.1  II.1.2.1
0       Balauring        0        3        0        4         4         2
1      Benihading        1        4        1        4         4         4
2            Bour        1        3        1        3         0         3
3        Dikesare        0        1        0        3         4         4
4        Duawutun        4        4        0        3         4         4
5       Dulitukan        4        2        0        4         4         4
6        Hoelea I        1        4        0        4         2         1
7       Ile Kimok        0        4        0        4         2         4
8         Kalikur        0        3        0        4         0         0
9        Katakeja        1        1        0        1         2         4
10      Labalimut        0        4        0        4         4         4
11       Lamatuka        0        4        0        4         4         4
12     Laranwutun        0        3        0        3         2         4
13         Lolong        0        1        0        4         4         4
14          Mahal        0        3        0        4         0         2
15        Merdeka        1        2        0        4         3         4
16        Muruona        4        1        0        2         2         4
17       Nubamado        1        2        1        4         3         4
18           Pada        0        2        1        2         4         4
19       Paubokol        0        4        0        4         2         4
20           Puor        1        3        1        4         4         4
21       Riangbao        0        3        0        3         3         4
22       Tagawiti        4        2        0        4         4         4
23       Todanara        1        2        0        2         2         4
24    Tubuk Rajan        1        4        0        4         4         4
25   Tubungwalang        0        3        0        4         4         2
26        Waienga        0        2        0        4         0         4
27       Watodiri        4        3        0        3         4         4
28      Wuakerong        1        3        0        4         3         4

### II.1.3.1 Melakukan pemanfaatan limbah pertanian

In [142]:
data_limbah = pd.concat([df[['ID', 'Desa/Kelurahan', 'Sumber Limbah', 'Pengolahan']]])

In [143]:
data_limbah['Sumber Limbah'].value_counts()

Sumber Limbah
Rumah Tangga                                                  349
Pertanian dan Perkebunan                                      109
Tidak ada                                                      33
Rumah Tangga;Pertanian dan Perkebunan                          30
Peternakan dan Perikanan                                       26
Rumah Tangga;Pertanian dan Perkebunan;Peternakan Perikanan     21
Rumah Tangga;Peternakan dan Perikanan                           9
Pertanian dan Perkebunan;Rumah Tangga                           6
Pertanian dan Perkebunan;Rumah Tangga;Peternakan Perikanan      1
Pertanian dan Perkebunan;Peternakan Perikanan                   1
Rumah Tangga;Peternakan dan Perikanan;Pertanian Perkebunan      1
Name: count, dtype: int64

In [144]:
data_limbah['Pengolahan'].value_counts()

Pengolahan
Tidak Diolah        312
Diolah              172
Tidak ada            67
Diolah;Tidak         32
Tidak Diolah;ada      2
Tidak ada;Diolah      1
Name: count, dtype: int64

In [145]:
def posisi_pertanian(s):
    # rapikan delimiter ; dan spasi
    s = str(s).strip()
    s = re.sub(r'\s*;\s*', ';', s)
    s = re.sub(r';+$', '', s)

    # pecah jadi list
    parts = [p.strip() for p in s.split(';') if p.strip()]

    # cari posisi target
    try:
        idx = parts.index("Pertanian dan Perkebunan")
        return idx + 1   # posisi 1-based
    except ValueError:
        return 0         # kalau tidak ada target

# contoh pemakaian
data_limbah['posisi'] = data_limbah['Sumber Limbah'].apply(posisi_pertanian)

In [147]:
import numpy as np

def ambil_elemen_ke(s, pos):
    parts = [p.strip() for p in str(s).split(';') if p.strip()]
    if pos > 0 and pos <= len(parts):
        return parts[pos-1]   # 1-based index
    return np.nan

# buat kolom posisi
data_limbah['posisi'] = data_limbah['Sumber Limbah'].apply(posisi_pertanian)

# ambil hanya elemen sesuai posisi
data_limbah['Sumber Limbah (posisi)'] = data_limbah.apply(
    lambda row: ambil_elemen_ke(row['Sumber Limbah'], row['posisi']), axis=1
)

data_limbah['Pengolahan (posisi)'] = data_limbah.apply(
    lambda row: ambil_elemen_ke(row['Pengolahan'], row['posisi']), axis=1
)

In [148]:
data_limbah

,ID,Desa/Kelurahan,Sumber Limbah,Pengolahan,posisi,Sumber Limbah (posisi),Pengolahan (posisi)
0,22190,Paubokol,Rumah Tangga,Tidak ada,0,NaN,NaN
1,22195,Paubokol,Rumah Tangga,Tidak ada,0,NaN,NaN
2,22200,Paubokol,Tidak ada,Tidak ada,0,NaN,NaN
3,22205,Paubokol,Rumah Tangga,Tidak ada,0,NaN,NaN
4,22208,Paubokol,Tidak ada,Tidak ada,0,NaN,NaN
...,...,...,...,...,...,...,...
633,24802,Dikesare,Rumah Tangga,Diolah,0,NaN,NaN
634,24803,Mahal,Rumah Tangga,Tidak Diolah,0,NaN,NaN
635,24866,Todanara,Rumah Tangga,Tidak Diolah,0,NaN,NaN
636,24887,Labalimut,Rumah Tangga,Tidak Diolah,0,NaN,NaN
637,24957,Todanara,Rumah Tangga,Tidak Diolah,0,NaN,NaN

In [149]:
data_limbah['Sumber Limbah (posisi)'].value_counts()

Sumber Limbah (posisi)
Pertanian dan Perkebunan    168
Name: count, dtype: int64

In [151]:
data_limbah['Pengolahan (posisi)'].value_counts()

Pengolahan (posisi)
Diolah          68
Tidak Diolah    46
Tidak           22
Tidak ada        4
ada              2
Name: count, dtype: int64

In [152]:
data_limbah.isna().sum()

ID                          0
Desa/Kelurahan              0
Sumber Limbah               0
Pengolahan                  0
posisi                      0
Sumber Limbah (posisi)    418
Pengolahan (posisi)       444
dtype: int64

In [153]:
data_limbah = data_limbah.dropna()

In [154]:
data_limbah

,ID,Desa/Kelurahan,Sumber Limbah,Pengolahan,posisi,Sumber Limbah (posisi),Pengolahan (posisi)
17,22309,Balauring,Pertanian dan Perkebunan,Tidak ada,1,Pertanian dan Perkebunan,Tidak ada
22,22329,Labalimut,Rumah Tangga;Pertanian dan Perkebunan,Tidak ada;Diolah,2,Pertanian dan Perkebunan,Diolah
27,22339,Nubamado,Pertanian dan Perkebunan;Rumah Tangga,Tidak Diolah,1,Pertanian dan Perkebunan,Tidak Diolah
29,22342,Nubamado,Rumah Tangga;Pertanian dan Perkebunan;Peternak...,Tidak Diolah;ada,2,Pertanian dan Perkebunan,ada
43,22358,Nubamado,Rumah Tangga;Pertanian dan Perkebunan;Peternak...,Tidak Diolah;ada,2,Pertanian dan Perkebunan,ada
...,...,...,...,...,...,...,...
627,24765,Katakeja,Pertanian dan Perkebunan,Tidak Diolah,1,Pertanian dan Perkebunan,Tidak Diolah
628,24766,Katakeja,Pertanian dan Perkebunan,Tidak Diolah,1,Pertanian dan Perkebunan,Tidak Diolah
629,24767,Katakeja,Pertanian dan Perkebunan,Diolah,1,Pertanian dan Perkebunan,Diolah
630,24798,Todanara,Pertanian dan Perkebunan,Tidak Diolah,1,Pertanian dan Perkebunan,Tidak Diolah
632,24801,Todanara,Pertanian dan Perkebunan,Tidak Diolah,1,Pertanian dan Perkebunan,Tidak Diolah

In [155]:
data_limbah['Desa/Kelurahan'].value_counts()

Desa/Kelurahan
Benihading      25
Waienga         21
Hoelea I        18
Todanara        13
Katakeja        12
Kalikur         11
Puor             6
Riangbao         6
Bour             6
Laranwutun       6
Balauring        4
Ile Kimok        3
Nubamado         3
Labalimut        2
Lamatuka         2
Pada             2
Tubungwalang     1
Tubuk Rajan      1
Name: count, dtype: int64

In [156]:
data_limbah['Pengolahan (posisi)'].value_counts()

Pengolahan
Diolah              66
Tidak Diolah        46
Diolah;Tidak        23
Tidak ada            4
Tidak Diolah;ada     2
Tidak ada;Diolah     1
Name: count, dtype: int64

In [160]:
def status_pengolahan(teks):
    teks = str(teks).lower().strip()
    
    if "tidak ada" in teks or "tidak diolah" in teks:
        return 0
    elif "ada" in teks or "diolah" in teks:
        return 1
    else:
        return None

# contoh pemakaian
data_limbah['kategori pengolahan'] = data_limbah['Pengolahan (posisi)'].apply(status_pengolahan)

C:\Users\halid\AppData\Local\Temp\ipykernel_14968\3773792586.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_limbah['kategori pengolahan'] = data_limbah['Pengolahan (posisi)'].apply(status_pengolahan)

In [161]:
data_limbah

,ID,Desa/Kelurahan,Sumber Limbah,Pengolahan,posisi,Sumber Limbah (posisi),Pengolahan (posisi),kategori_pengolahan,kategori pengolahan
17,22309,Balauring,Pertanian dan Perkebunan,Tidak ada,1,Pertanian dan Perkebunan,Tidak ada,0.0,0.0
22,22329,Labalimut,Rumah Tangga;Pertanian dan Perkebunan,Tidak ada;Diolah,2,Pertanian dan Perkebunan,Diolah,1.0,1.0
27,22339,Nubamado,Pertanian dan Perkebunan;Rumah Tangga,Tidak Diolah,1,Pertanian dan Perkebunan,Tidak Diolah,0.0,0.0
29,22342,Nubamado,Rumah Tangga;Pertanian dan Perkebunan;Peternak...,Tidak Diolah;ada,2,Pertanian dan Perkebunan,ada,1.0,1.0
43,22358,Nubamado,Rumah Tangga;Pertanian dan Perkebunan;Peternak...,Tidak Diolah;ada,2,Pertanian dan Perkebunan,ada,1.0,1.0
...,...,...,...,...,...,...,...,...,...
627,24765,Katakeja,Pertanian dan Perkebunan,Tidak Diolah,1,Pertanian dan Perkebunan,Tidak Diolah,0.0,0.0
628,24766,Katakeja,Pertanian dan Perkebunan,Tidak Diolah,1,Pertanian dan Perkebunan,Tidak Diolah,0.0,0.0
629,24767,Katakeja,Pertanian dan Perkebunan,Diolah,1,Pertanian dan Perkebunan,Diolah,1.0,1.0
630,24798,Todanara,Pertanian dan Perkebunan,Tidak Diolah,1,Pertanian dan Perkebunan,Tidak Diolah,0.0,0.0
632,24801,Todanara,Pertanian dan Perkebunan,Tidak Diolah,1,Pertanian dan Perkebunan,Tidak Diolah,0.0,0.0

In [162]:
persentase_pengolahan = (
    data_limbah.groupby('Desa/Kelurahan')['kategori pengolahan']
      .apply(lambda x: (x == 1).mean() * 100)
      .reset_index(name='Persentase Sumber Benih')
)

def skor_benih(p):
    if p == 0:
        return 0
    elif p <= 25:
        return 1
    elif p <= 50:
        return 2
    elif p <= 75:
        return 3
    else:
        return 4

persentase_pengolahan['Skor'] = persentase_pengolahan['Persentase Sumber Benih'].apply(skor_benih)

In [163]:
persentase_pengolahan

   Desa/Kelurahan  Persentase Sumber Benih  Skor
0       Balauring                25.000000     1
1      Benihading               100.000000     4
2            Bour                83.333333     4
3        Hoelea I                 0.000000     0
4       Ile Kimok                33.333333     2
5         Kalikur                 9.090909     1
6        Katakeja                25.000000     1
7       Labalimut                50.000000     2
8        Lamatuka                50.000000     2
9      Laranwutun                50.000000     2
10       Nubamado                66.666667     3
11           Pada                 0.000000     0
12           Puor                16.666667     1
13       Riangbao                83.333333     4
14       Todanara                15.384615     1
15    Tubuk Rajan                 0.000000     0
16   Tubungwalang                 0.000000     0
17        Waienga                90.476190     4

In [164]:
IKP = IKP.merge(
    persentase_pengolahan[['Desa/Kelurahan','Skor']].rename(columns={'Skor':'II.1.3.1'}),
    on='Desa/Kelurahan', how='left'
)

In [167]:
IKP

,Desa/Kelurahan,I.1.1.1,I.2.1.1,I.3.1.1,I.4.1.1,II.1.1.1,II.1.2.1,II.1.3.1,Skor
0,Balauring,0,3,0,4,4,2,1.0,1.0
1,Benihading,1,4,1,4,4,4,4.0,4.0
2,Bour,1,3,1,3,0,3,4.0,4.0
3,Dikesare,0,1,0,3,4,4,0.0,NaN
4,Duawutun,4,4,0,3,4,4,2.0,NaN
5,Dulitukan,4,2,0,4,4,4,1.0,NaN
6,Hoelea I,1,4,0,4,2,1,1.0,0.0
7,Ile Kimok,0,4,0,4,2,4,2.0,2.0
8,Kalikur,0,3,0,4,0,0,2.0,1.0
9,Katakeja,1,1,0,1,2,4,2.0,1.0
10,Labalimut,0,4,0,4,4,4,3.0,2.0
11,Lamatuka,0,4,0,4,4,4,0.0,2.0
12,Laranwutun,0,3,0,3,2,4,1.0,2.0
13,Lolong,0,1,0,4,4,4,4.0,NaN
14,Mahal,0,3,0,4,0,2,1.0,NaN
15,Merdeka,1,2,0,4,3,4,0.0,NaN
16,Muruona,4,1,0,2,2,4,0.0,NaN
17,Nubamado,1,2,1,4,3,4,4.0,3.0
18,Pada,0,2,1,2,4,4,NaN,0.0
19,Paubokol,0,4,0,4,2,4,NaN,NaN
20,Puor,1,3,1,4,4,4,NaN,1.0
21,Riangbao,0,3,0,3,3,4,NaN,4.0
22,Tagawiti,4,2,0,4,4,4,NaN,NaN
23,Todanara,1,2,0,2,2,4,NaN,1.0
24,Tubuk Rajan,1,4,0,4,4,4,NaN,0.0
25,Tubungwalang,0,3,0,4,4,2,NaN,0.0
26,Waienga,0,2,0,4,0,4,NaN,4.0
27,Watodiri,4,3,0,3,4,4,NaN,NaN
28,Wuakerong,1,3,0,4,3,4,NaN,NaN

### X