In [55]:
import re
import numpy as np
import pandas as pd

In [56]:
df = pd.read_csv("data_cleaned.csv")

In [57]:
# DATA CLEANING

df.rename(columns={"Produktivitas": "Produksi"}, inplace=True)

In [58]:
df.head()

,ID,Desa/Kelurahan,Nama Kepala Keluarga,Pekerjaan,Pendapatan Bulanan (Rp.),Nama Tanaman,Sumber Benih,Luas Lahan,Produksi,Pola Tanam,Sistem Budidaya,Pengairan,Pupuk,Pestisida/Herbisida/Fungisida,Benih,Upah Buruh,Sewa Alat dan Mesin Pertanian,Sumber Limbah,Pengolahan
0,22190,Paubokol,Marianus Nurak,Petani atau Nelayan;,800000;,Jagung ; Ubi Kayu; Padi; Porang;,Tangkar Sendiri;,0.5;,0.2; ;,1 kali setahun;,Organik;,Tadah Hujan;,0;,600000;,0;,0;,0;,Rumah Tangga;,Tidak ada;
1,22195,Paubokol,Viktor Gelak,Petani atau Nelayan;,100000;,Padi; Jagung ;,Tangkar Sendiri;,0.007;,0.1;,1 kali setahun;,Organik;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak ada;
2,22200,Paubokol,Yoseph Kujo,Petani atau Nelayan;,400000;,Padi; Jagung ; Ubi Kayu; Kacang Tanah;,Tangkar Sendiri;,0.5; ;,0.8; ;,1 kali setahun;,Organik;,Tadah Hujan;,0;,1380000;,0;,0;,0;,Tidak ada;,Tidak ada;
3,22205,Paubokol,Hendrikus Laran Ujan,Petani atau Nelayan;,600000;,Padi;,Tangkar Sendiri;,1;,0.8;,1 kali setahun;,Organik;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak ada;
4,22208,Paubokol,Anselmus Sikong Ujan,Petani atau Nelayan;,500000;,Padi; Jagung ; Kacang Tanah; Ubi Jalar;,Tangkar Sendiri;,1; ;,1; ;,1 kali setahun;,Semi Organik;,Tadah Hujan;,750000;,500000;,0;,0;,0;,Tidak ada;,Tidak ada;

In [59]:
for i, col in enumerate(df.columns):
    print(f"{i}. {col}")

0. ID
1. Desa/Kelurahan
2. Nama Kepala Keluarga
3. Pekerjaan
4. Pendapatan Bulanan (Rp.)
5. Nama Tanaman
6. Sumber Benih
7. Luas Lahan
8. Produksi
9. Pola Tanam
10. Sistem Budidaya
11. Pengairan
12. Pupuk
13. Pestisida/Herbisida/Fungisida
14. Benih
15. Upah Buruh
16. Sewa Alat dan Mesin Pertanian
17. Sumber Limbah
18. Pengolahan

# Pilar 1

### I.1.1.1 Rasio Gini Tanah

In [60]:
df

,ID,Desa/Kelurahan,Nama Kepala Keluarga,Pekerjaan,Pendapatan Bulanan (Rp.),Nama Tanaman,Sumber Benih,Luas Lahan,Produksi,Pola Tanam,Sistem Budidaya,Pengairan,Pupuk,Pestisida/Herbisida/Fungisida,Benih,Upah Buruh,Sewa Alat dan Mesin Pertanian,Sumber Limbah,Pengolahan
0,22190,Paubokol,Marianus Nurak,Petani atau Nelayan;,800000;,Jagung ; Ubi Kayu; Padi; Porang;,Tangkar Sendiri;,0.5;,0.2; ;,1 kali setahun;,Organik;,Tadah Hujan;,0;,600000;,0;,0;,0;,Rumah Tangga;,Tidak ada;
1,22195,Paubokol,Viktor Gelak,Petani atau Nelayan;,100000;,Padi; Jagung ;,Tangkar Sendiri;,0.007;,0.1;,1 kali setahun;,Organik;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak ada;
2,22200,Paubokol,Yoseph Kujo,Petani atau Nelayan;,400000;,Padi; Jagung ; Ubi Kayu; Kacang Tanah;,Tangkar Sendiri;,0.5; ;,0.8; ;,1 kali setahun;,Organik;,Tadah Hujan;,0;,1380000;,0;,0;,0;,Tidak ada;,Tidak ada;
3,22205,Paubokol,Hendrikus Laran Ujan,Petani atau Nelayan;,600000;,Padi;,Tangkar Sendiri;,1;,0.8;,1 kali setahun;,Organik;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak ada;
4,22208,Paubokol,Anselmus Sikong Ujan,Petani atau Nelayan;,500000;,Padi; Jagung ; Kacang Tanah; Ubi Jalar;,Tangkar Sendiri;,1; ;,1; ;,1 kali setahun;,Semi Organik;,Tadah Hujan;,750000;,500000;,0;,0;,0;,Tidak ada;,Tidak ada;
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,24802,Dikesare,Matias Suban,Petani atau Nelayan;,500000;,Padi; Jagung;,Tangkar Sendiri;,0.25; ;,0.75; ;,1 kali setahun;,Organik;,Tadah Hujan;,;,;,;,;,;,Rumah Tangga;,Diolah;
634,24803,Mahal,Christoforus Hobamatan,lainnya;,1000000;,Jagung;,Tangkar Sendiri;,1;,0.45;,1 kali setahun;,Kimia;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;
635,24866,Todanara,Longginus Lango,Petani atau Nelayan;,500000;,Padi; Jagung ; Ubi Kayu;,Bantuan Pemerintah;,0.5;,0.04;,1 kali setahun;,Organik; Tidak ada;,Tadah Hujan;,0;,50000;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;
636,24887,Labalimut,Petrus Asan,lainnya;,4000000;,Jagung Lokal; Ubi Kayu; Padi;,Tangkar Sendiri; Tidak ada;,0.50;,0.6; ; 0.5;,1 kali setahun;,Organik;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;
637,24957,Todanara,Hendrikus Kewaman,Petani atau Nelayan;,200000;,Padi; Jagung ;,Tangkar Sendiri;,1;,0.5;,1 kali setahun;,Organik;,Tadah Hujan;,0;,0;,0;,0;,0;,Rumah Tangga;,Tidak Diolah;

In [61]:
df.isna().sum()

ID                               0
Desa/Kelurahan                   0
Nama Kepala Keluarga             0
Pekerjaan                        0
Pendapatan Bulanan (Rp.)         0
Nama Tanaman                     0
Sumber Benih                     0
Luas Lahan                       0
Produksi                         0
Pola Tanam                       0
Sistem Budidaya                  0
Pengairan                        0
Pupuk                            0
Pestisida/Herbisida/Fungisida    0
Benih                            0
Upah Buruh                       0
Sewa Alat dan Mesin Pertanian    0
Sumber Limbah                    0
Pengolahan                       0
dtype: int64

In [62]:
df = df.dropna()

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638 entries, 0 to 637
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             638 non-null    int64
 1   Desa/Kelurahan                 638 non-null    object
 2   Nama Kepala Keluarga           638 non-null    object
 3   Pekerjaan                      638 non-null    object
 4   Pendapatan Bulanan (Rp.)       638 non-null    object
 5   Nama Tanaman                   638 non-null    object
 6   Sumber Benih                   638 non-null    object
 7   Luas Lahan                     638 non-null    object
 8   Produksi                       638 non-null    object
 9   Pola Tanam                     638 non-null    object
 10  Sistem Budidaya                638 non-null    object
 11  Pengairan                      638 non-null    object
 12  Pupuk                          638 non-null    object
 13  Pestisida/Herbisida/Fungisida  638 non-null    object
 14  Benih                          638 non-null    object
 15  Upah Buruh                     638 non-null    object
 16  Sewa Alat dan Mesin Pertanian  638 non-null    object
 17  Sumber Limbah                  638 non-null    object
 18  Pengolahan                     638 non-null    object
dtypes: int64(1), object(18)
memory usage: 94.8+ KB

In [64]:
df['Desa/Kelurahan'].value_counts()

Desa/Kelurahan
Muruona         32
Lamatuka        30
Hoelea I        30
Ile Kimok       30
Benihading      30
Waienga         29
Watodiri        28
Nubamado        27
Lolong          26
Merdeka         25
Todanara        24
Dulitukan       24
Mahal           23
Laranwutun      23
Paubokol        23
Dikesare        22
Labalimut       22
Duawutun        21
Tubungwalang    21
Wuakerong       20
Puor            20
Pada            20
Riangbao        19
Bour            17
Kalikur         13
Katakeja        13
Balauring       12
Tagawiti        10
Tubuk Rajan      4
Name: count, dtype: int64

In [65]:
# DATA CLEANING

df['Luas Lahan'] = pd.to_numeric(df['Luas Lahan'], errors='coerce')
df['Produksi'] = pd.to_numeric(df['Produksi'], errors='coerce')

In [67]:
# Fungsi untuk menjumlahkan semua angka dalam satu sel
def sum_numbers(cell):
    if pd.isna(cell):  # Jika NaN
        return np.nan
    # Cari semua angka (desimal diperbolehkan)
    numbers = re.findall(r"[0-9]*\.?[0-9]+", str(cell))
    return sum(map(float, numbers)) if numbers else np.nan

# Bersihkan kolom Luas Lahan & Produktivitas
df['Luas Lahan Keseluruhan'] = df['Luas Lahan'].apply(sum_numbers)
df['Produksi Keseluruhan'] = df['Produksi'].apply(sum_numbers)

In [69]:
def gini(array):
    array = np.array(array, dtype=np.float64)
    if np.amin(array) < 0:
        array -= np.amin(array)
    array += 1e-9  # untuk menghindari pembagian nol
    array = np.sort(array)
    n = len(array)
    index = np.arange(1, n + 1)
    return ((np.sum((2 * index - n - 1) * array)) / (n * np.sum(array)))

In [70]:
# Hitung rasio gini untuk tiap desa
rasio_gini = (
    df.groupby('Desa/Kelurahan')['Luas Lahan Keseluruhan']
    .apply(lambda x: gini(x.dropna()))
    .reset_index(name='Rasio Gini')
)

ValueError: zero-size array to reduction operation minimum which has no identity

In [ ]:
# Fungsi scoring berdasarkan aturan di gambar
def skor_gini(g):
    if g > 0.5:
        return 0
    elif g > 0.4:
        return 1
    else:
        return 4

rasio_gini['Skor'] = rasio_gini['Rasio Gini'].apply(skor_gini)

In [37]:
rasio_gini

   Desa/Kelurahan  Rasio Gini  Skor
0       Balauring    0.893166     0
1      Benihading    0.417162     1
2            Bour    0.368276     4
3        Dikesare    0.637484     0
4        Duawutun    0.471744     1
5       Dulitukan    0.416239     1
6        Hoelea I    0.456608     1
7       Ile Kimok    0.930069     0
8         Kalikur    0.915216     0
9        Katakeja    0.411376     1
10      Labalimut    0.771798     0
11       Lamatuka    0.949580     0
12     Laranwutun    0.939343     0
13         Lolong    0.611196     0
14          Mahal    0.819334     0
15        Merdeka    0.415264     1
16        Muruona    0.417851     1
17       Nubamado    0.402503     1
18           Pada    0.668817     0
19       Paubokol    0.909837     0
20           Puor    0.396661     4
21       Riangbao    0.502580     0
22       Tagawiti    0.292944     4
23       Todanara    0.477308     1
24    Tubuk Rajan    0.551282     0
25   Tubungwalang    0.918087     0
26        Waienga    0.962514     0
27       Watodiri    0.384016     4
28      Wuakerong    0.526112     0

In [38]:
IKP = rasio_gini[['Desa/Kelurahan']].copy()
IKP['I.1.1.1'] = rasio_gini['Skor']

In [39]:
IKP

   Desa/Kelurahan  I.1.1.1
0       Balauring        0
1      Benihading        1
2            Bour        4
3        Dikesare        0
4        Duawutun        1
5       Dulitukan        1
6        Hoelea I        1
7       Ile Kimok        0
8         Kalikur        0
9        Katakeja        1
10      Labalimut        0
11       Lamatuka        0
12     Laranwutun        0
13         Lolong        0
14          Mahal        0
15        Merdeka        1
16        Muruona        1
17       Nubamado        1
18           Pada        0
19       Paubokol        0
20           Puor        4
21       Riangbao        0
22       Tagawiti        4
23       Todanara        1
24    Tubuk Rajan        0
25   Tubungwalang        0
26        Waienga        0
27       Watodiri        4
28      Wuakerong        0

### I.2.1.1 Luas Tanah yang Dikuasai

In [40]:
# Hapus baris dengan produktivitas_clean = 0
data_pertanian = data_pertanian[data_pertanian['Produksi Keseluruhan'] != 0]

In [41]:
data_pertanian.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,587.0,NaN,NaN,NaN,23227.853492,677.718796,22190.0,22708.5,23182.0,23602.0,24957.0
Desa/Kelurahan,587,29,Muruona,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nama Kepala Keluarga,587,584,Stanislaus Kopong,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pekerjaan,587,9,Petani atau Nelayan;,396,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pendapatan Bulanan (Rp.),587,108,500000;,89,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nama Tanaman,587,116,Jagung;,150,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sumber Benih,587,17,Tangkar Sendiri;,412,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan,587,168,1;,106,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Produksi,587,308,;,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pola Tanam,587,10,1 kali setahun;,505,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sistem Budidaya,587,12,Organik;,324,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengairan,587,11,Tadah Hujan;,459,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pupuk,587,48,0;,348,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pestisida/Herbisida/Fungisida,587,71,0;,268,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Benih,587,31,0;,398,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Upah Buruh,587,30,0;,379,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sewa Alat dan Mesin Pertanian,587,23,0;,397,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sumber Limbah,587,11,Rumah Tangga;,350,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengolahan,587,6,Tidak Diolah;,313,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan Keseluruhan,566.0,NaN,NaN,NaN,19.777791,135.825856,0.0,0.25,0.5,1.0,2500.0
Produksi Keseluruhan,547.0,NaN,NaN,NaN,14.433846,87.462198,0.001,0.1,0.3496,0.8905,1050.0

In [42]:
data_pertanian['Desa/Kelurahan'].value_counts()

Desa/Kelurahan
Muruona         32
Benihading      30
Ile Kimok       29
Watodiri        28
Hoelea I        28
Nubamado        27
Lamatuka        26
Merdeka         25
Lolong          24
Laranwutun      23
Todanara        23
Mahal           23
Dulitukan       23
Waienga         23
Dikesare        21
Puor            20
Paubokol        20
Tubungwalang    20
Labalimut       20
Bour            17
Riangbao        16
Wuakerong       15
Kalikur         13
Katakeja        13
Pada            12
Balauring       12
Duawutun        10
Tagawiti        10
Tubuk Rajan      4
Name: count, dtype: int64

In [43]:
data_pertanian.isna().sum()

ID                                0
Desa/Kelurahan                    0
Nama Kepala Keluarga              0
Pekerjaan                         0
Pendapatan Bulanan (Rp.)          0
Nama Tanaman                      0
Sumber Benih                      0
Luas Lahan                        0
Produksi                          0
Pola Tanam                        0
Sistem Budidaya                   0
Pengairan                         0
Pupuk                             0
Pestisida/Herbisida/Fungisida     0
Benih                             0
Upah Buruh                        0
Sewa Alat dan Mesin Pertanian     0
Sumber Limbah                     0
Pengolahan                        0
Luas Lahan Keseluruhan           21
Produksi Keseluruhan             40
dtype: int64

In [44]:
# PERHITUNGAN IKP

data_pertanian['Penghasilan Kotor'] = data_pertanian['Produksi Keseluruhan'] * 10000 * 1000    # 10.000 per kg, dengan 1 ton = 1.000kg

In [45]:
data_pertanian.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,587.0,NaN,NaN,NaN,23227.853492,677.718796,22190.0,22708.5,23182.0,23602.0,24957.0
Desa/Kelurahan,587,29,Muruona,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nama Kepala Keluarga,587,584,Stanislaus Kopong,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pekerjaan,587,9,Petani atau Nelayan;,396,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pendapatan Bulanan (Rp.),587,108,500000;,89,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nama Tanaman,587,116,Jagung;,150,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sumber Benih,587,17,Tangkar Sendiri;,412,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan,587,168,1;,106,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Produksi,587,308,;,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pola Tanam,587,10,1 kali setahun;,505,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sistem Budidaya,587,12,Organik;,324,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengairan,587,11,Tadah Hujan;,459,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pupuk,587,48,0;,348,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pestisida/Herbisida/Fungisida,587,71,0;,268,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Benih,587,31,0;,398,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Upah Buruh,587,30,0;,379,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sewa Alat dan Mesin Pertanian,587,23,0;,397,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sumber Limbah,587,11,Rumah Tangga;,350,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengolahan,587,6,Tidak Diolah;,313,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan Keseluruhan,566.0,NaN,NaN,NaN,19.777791,135.825856,0.0,0.25,0.5,1.0,2500.0
Produksi Keseluruhan,547.0,NaN,NaN,NaN,14.433846,87.462198,0.001,0.1,0.3496,0.8905,1050.0
Penghasilan Kotor,547.0,NaN,NaN,NaN,144338459.981718,874621979.589236,10000.0,1000000.0,3496000.0,8905000.0,10500000000.0

In [48]:
# PERHITUNGAN IKP

data_pertanian['Pestisida/Herbisida/Fungisida'] = df['Pestisida/Herbisida/Fungisida']
data_pertanian['Benih'] = df['Benih']
data_pertanian['Upah Buruh'] = df['Upah Buruh']
data_pertanian['Sewa Alat dan Mesin Pertanian'] = df['Sewa Alat dan Mesin Pertanian']

data_pertanian['Ongkos Produksi'] = data_pertanian['Pestisida/Herbisida/Fungisida'] + data_pertanian['Benih'] + data_pertanian['Upah Buruh'] + data_pertanian['Sewa Alat dan Mesin Pertanian']

In [49]:
data_pertanian['Penghasilan Bersih'] = data_pertanian['Penghasilan Kotor'] - data_pertanian['Ongkos Produksi']

TypeError: unsupported operand type(s) for -: 'float' and 'str'

In [ ]:
minus = data_pertanian[data_pertanian['Penghasilan Bersih'] < 0]

In [ ]:
minus

##### menggabungkan dengan data pola tanam

In [ ]:
def bulan_budidaya_padi(pola):
    pola = str(pola).lower()
    if "3 kali setahun" in pola:
        return 12
    elif "2 kali setahun" in pola:
        return 8
    elif "1 kali setahun" in pola:
        return 4
    else:
        return 4 # jika tidak memenuhi kondisi di atas

data_pertanian['Pola Tanam'] = df['Pola Tanam']
data_pertanian['kategori'] = data_pertanian['Pola Tanam'].apply(bulan_budidaya_padi)

In [47]:
data_pertanian['Penghasilan per Bulan Bertani'] = data_pertanian['Penghasilan Bersih'] / data_pertanian['kategori']

KeyError: 'Penghasilan Bersih'

In [201]:
data_pertanian.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,546.0,NaN,NaN,NaN,23189.593407,637.506752,22190.0,22719.25,23165.5,23478.5,24957.0
Desa/Kelurahan,546,29,Muruona,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nama Tanaman,546,76,Jagung,132,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jenis Pangan,546,11,Lokal,315,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Varietas,546,146,Lokal,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sumber Benih,546,17,Tangkar Sendiri,397,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan,546,137,0.5,121,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Produksi,546,280,1,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pola Tanam,546,10,1 kali setahun,490,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sistem Budidaya,546,12,Organik,319,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengairan,546,11,Tadah Hujan,448,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kepemilikan Lahan,546,10,Milik Pribadi,472,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jenis Pemanfaatan Lahan,546,19,Ladang,343,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan Keseluruhan,546.0,NaN,NaN,NaN,15.595252,126.664356,0.0,0.25,0.5,1.0,2500.0
Produksi Keseluruhan,546.0,NaN,NaN,NaN,13.95147,84.066535,0.001,0.1,0.35,0.9275,1050.0
Penghasilan Kotor,546.0,NaN,NaN,NaN,139514700.051282,840665354.363116,10000.0,1000000.0,3500000.0,9275000.0,10500000000.0
Pestisida/Herbisida/Fungisida.2,546.0,NaN,NaN,NaN,77102.291209,240546.470955,0.0,0.0,0.0,73750.0,3240000.0
Benih.2,546.0,NaN,NaN,NaN,9734.434066,64493.943577,0.0,0.0,0.0,0.0,810000.0
Upah Buruh.2,546.0,NaN,NaN,NaN,62404.029304,458618.315312,0.0,0.0,0.0,0.0,7000000.0
Sewa Alat dan Mesin Pertanian.2,546.0,NaN,NaN,NaN,23824.175824,124167.016265,0.0,0.0,0.0,0.0,1200000.0
Ongkos Produksi,546.0,NaN,NaN,NaN,173064.930403,549915.460406,0.0,0.0,0.0,120000.0,7360000.0
Penghasilan Bersih,546.0,NaN,NaN,NaN,139341635.120879,840664489.787323,-1960000.0,1000000.0,3423000.0,8865625.0,10500000000.0
kategori,546.0,NaN,NaN,NaN,4.10989,0.883495,4.0,4.0,4.0,4.0,12.0
Penghasilan per Bulan Bertani,546.0,NaN,NaN,NaN,34799181.674603,210171182.756111,-490000.0,250000.0,821562.5,2111625.0,2625000000.0

##### Garis Kemiskinan

Garis Kemiskinan (Rupiah/Kapita/Bulan) Menurut Provinsi dan Daerah 

di Nusa Tenggara Timur pada Semester 2 (September) adalah: **495.180,00**

In [202]:
garis_kemiskinan = data_pertanian[['ID']].copy()
garis_kemiskinan['Desa/Kelurahan'] = data_pertanian['Desa/Kelurahan']
garis_kemiskinan['Penghasilan per Bulan Bertani'] = data_pertanian['Penghasilan per Bulan Bertani']

In [203]:
garis_kemiskinan

        ID Desa/Kelurahan  Penghasilan per Bulan Bertani
1    22190       Paubokol                       350000.0
2    22195       Paubokol                       250000.0
3    22200       Paubokol                      1655000.0
6    22208       Paubokol                      2375000.0
7    22210       Paubokol                      4500000.0
..     ...            ...                            ...
837  24799       Todanara                        -7500.0
838  24801       Todanara                         3750.0
839  24802       Dikesare                      1875000.0
841  24866       Todanara                        87500.0
843  24957       Todanara                      1250000.0

[546 rows x 3 columns]

In [204]:
garis_kemiskinan_rp = 495180

# Hitung persentase per desa
penguasaan_tanah = (garis_kemiskinan
              .groupby('Desa/Kelurahan')['Penghasilan per Bulan Bertani']
              .apply(lambda x: (x > garis_kemiskinan_rp).mean() * 100)
              .reset_index(name='Persentase di Atas GK'))

# Tambahkan kolom skor
def hitung_skor(p):
    if p == 0:
        return 0
    elif p <= 25:
        return 1
    elif p <= 50:
        return 2
    elif p <= 75:
        return 3
    else:
        return 4

penguasaan_tanah['Skor'] = penguasaan_tanah['Persentase di Atas GK'].apply(hitung_skor)

In [205]:
penguasaan_tanah

   Desa/Kelurahan  Persentase di Atas GK  Skor
0       Balauring              92.307692     4
1      Benihading              83.333333     4
2            Bour              70.588235     3
3        Dikesare              27.272727     2
4        Duawutun              81.818182     4
5       Dulitukan              13.636364     1
6        Hoelea I              96.428571     4
7       Ile Kimok              89.285714     4
8         Kalikur              58.823529     3
9        Katakeja             100.000000     4
10      Labalimut              80.000000     4
11       Lamatuka              81.481481     4
12     Laranwutun              58.333333     3
13         Lolong              20.000000     1
14          Mahal              60.000000     3
15        Merdeka              40.909091     2
16        Muruona              29.411765     2
17       Nubamado              61.904762     3
18           Pada             100.000000     4
19       Paubokol              85.714286     4
20           Puor              77.777778     4
21       Riangbao              58.823529     3
22       Tagawiti              50.000000     2
23       Todanara              37.500000     2
24    Tubuk Rajan             100.000000     4
25   Tubungwalang              60.000000     3
26        Waienga              47.826087     2
27       Watodiri              69.230769     3
28      Wuakerong              70.588235     3

In [206]:
IKP['I.2.1.1'] = penguasaan_tanah['Skor']

In [207]:
IKP

   Desa/Kelurahan  I.1.1.1  I.2.1.1
0       Balauring        0        4
1      Benihading        1        4
2            Bour        4        3
3        Dikesare        0        2
4        Duawutun        1        4
5       Dulitukan        1        1
6        Hoelea I        1        4
7       Ile Kimok        0        4
8         Kalikur        0        3
9        Katakeja        4        4
10      Labalimut        0        4
11       Lamatuka        0        4
12     Laranwutun        0        3
13         Lolong        0        1
14          Mahal        0        3
15        Merdeka        1        2
16        Muruona        1        2
17       Nubamado        4        3
18           Pada        0        4
19       Paubokol        0        4
20           Puor        4        4
21       Riangbao        0        3
22       Tagawiti        4        2
23       Todanara        1        2
24    Tubuk Rajan        1        4
25   Tubungwalang        1        3
26        Waienga        0        2
27       Watodiri        4        3
28      Wuakerong        1        3

### I.3.1. 1 Ketersediaan air untuk budidaya

In [208]:
ketersediaan_air = df[['ID']].copy()
ketersediaan_air['Desa/Kelurahan'] = df['Desa/Kelurahan']
ketersediaan_air['Pola Tanam'] = df['Pola Tanam']

In [209]:
ketersediaan_air

        ID Desa/Kelurahan      Pola Tanam
0    22180         Lolong             NaN
1    22190       Paubokol  1 kali setahun
2    22195       Paubokol  1 kali setahun
3    22200       Paubokol  1 kali setahun
4    22205       Paubokol  1 kali setahun
..     ...            ...             ...
839  24802       Dikesare  1 kali setahun
840  24803          Mahal  1 kali setahun
841  24866       Todanara  1 kali setahun
842  24869       Todanara             NaN
843  24957       Todanara  1 kali setahun

[844 rows x 3 columns]

In [210]:
ketersediaan_air.isna().sum()

ID                  0
Desa/Kelurahan      0
Pola Tanam        171
dtype: int64

In [211]:
ketersediaan_air = ketersediaan_air.dropna()

In [212]:
ketersediaan_air.isna().sum()

ID                0
Desa/Kelurahan    0
Pola Tanam        0
dtype: int64

In [213]:
# DATA CLEANING

ketersediaan_air['Pola Tanam'].value_counts()

Pola Tanam
1 kali setahun              562
Tidak ada                    57
1 kali setahun Tidak ada     34
3 kali setahun                5
Tidak ada 1 kali setahun      4
1 kali setahun 2              3
3 kali setahun 1              3
2 kali setahun                2
2 kali setahun 1              2
1 kali setahun 3              1
Name: count, dtype: int64

In [214]:
# PERHITUNGAN IKP

def skor_ketersediaan_air(pola):
    pola = str(pola).lower()
    if "tidak ada" in pola or "1 kali setahun" in pola:
        return 2
    elif "2 kali setahun" in pola or "3 kali setahun" in pola:
        return 1
    else:
        return 0  # jika tidak memenuhi kondisi di atas

ketersediaan_air['kategori'] = ketersediaan_air['Pola Tanam'].apply(skor_ketersediaan_air)

C:\Users\halid\AppData\Local\Temp\ipykernel_4548\919155458.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ketersediaan_air['kategori'] = ketersediaan_air['Pola Tanam'].apply(skor_ketersediaan_air)

In [215]:
ketersediaan_air

        ID Desa/Kelurahan      Pola Tanam  kategori
1    22190       Paubokol  1 kali setahun         2
2    22195       Paubokol  1 kali setahun         2
3    22200       Paubokol  1 kali setahun         2
4    22205       Paubokol  1 kali setahun         2
6    22208       Paubokol  1 kali setahun         2
..     ...            ...             ...       ...
838  24801       Todanara  1 kali setahun         2
839  24802       Dikesare  1 kali setahun         2
840  24803          Mahal  1 kali setahun         2
841  24866       Todanara  1 kali setahun         2
843  24957       Todanara  1 kali setahun         2

[673 rows x 4 columns]

In [216]:
persentase_air = (
    ketersediaan_air.groupby('Desa/Kelurahan')['kategori']
      .apply(lambda x: (x == 1).mean() * 100)
      .reset_index(name='Persentase Air Cukup')
)

def skor_air(p):
    if p == 0:
        return 0
    elif p <= 25:
        return 1
    elif p <= 50:
        return 2
    elif p <= 75:
        return 3
    else:
        return 4

persentase_air['Skor'] = persentase_air['Persentase Air Cukup'].apply(skor_air)

In [217]:
persentase_air

   Desa/Kelurahan  Persentase Air Cukup  Skor
0       Balauring              0.000000     0
1      Benihading              3.333333     1
2            Bour             11.764706     1
3        Dikesare              0.000000     0
4        Duawutun              0.000000     0
5       Dulitukan              0.000000     0
6        Hoelea I              0.000000     0
7       Ile Kimok              0.000000     0
8         Kalikur              0.000000     0
9        Katakeja              0.000000     0
10      Labalimut              0.000000     0
11       Lamatuka              0.000000     0
12     Laranwutun              0.000000     0
13         Lolong              0.000000     0
14          Mahal              0.000000     0
15        Merdeka              0.000000     0
16        Muruona              0.000000     0
17       Nubamado              7.142857     1
18           Pada             10.000000     1
19       Paubokol              0.000000     0
20           Puor             23.809524     1
21       Riangbao              0.000000     0
22       Tagawiti              0.000000     0
23       Todanara              0.000000     0
24    Tubuk Rajan              0.000000     0
25   Tubungwalang              0.000000     0
26        Waienga              0.000000     0
27       Watodiri              0.000000     0
28      Wuakerong              0.000000     0

In [218]:
IKP['I.3.1.1'] = persentase_air['Skor']

In [219]:
IKP

   Desa/Kelurahan  I.1.1.1  I.2.1.1  I.3.1.1
0       Balauring        0        4        0
1      Benihading        1        4        1
2            Bour        4        3        1
3        Dikesare        0        2        0
4        Duawutun        1        4        0
5       Dulitukan        1        1        0
6        Hoelea I        1        4        0
7       Ile Kimok        0        4        0
8         Kalikur        0        3        0
9        Katakeja        4        4        0
10      Labalimut        0        4        0
11       Lamatuka        0        4        0
12     Laranwutun        0        3        0
13         Lolong        0        1        0
14          Mahal        0        3        0
15        Merdeka        1        2        0
16        Muruona        1        2        0
17       Nubamado        4        3        1
18           Pada        0        4        1
19       Paubokol        0        4        0
20           Puor        4        4        1
21       Riangbao        0        3        0
22       Tagawiti        4        2        0
23       Todanara        1        2        0
24    Tubuk Rajan        1        4        0
25   Tubungwalang        1        3        0
26        Waienga        0        2        0
27       Watodiri        4        3        0
28      Wuakerong        1        3        0

### I.4.1.1. Asal atau sumber benih

In [220]:
sumber_benih = df[['ID']].copy()
sumber_benih['Desa/Kelurahan'] = df['Desa/Kelurahan']
sumber_benih['Sumber Benih'] = df['Sumber Benih']

In [221]:
sumber_benih

        ID Desa/Kelurahan        Sumber Benih
0    22180         Lolong                 NaN
1    22190       Paubokol     Tangkar Sendiri
2    22195       Paubokol     Tangkar Sendiri
3    22200       Paubokol     Tangkar Sendiri
4    22205       Paubokol     Tangkar Sendiri
..     ...            ...                 ...
839  24802       Dikesare     Tangkar Sendiri
840  24803          Mahal     Tangkar Sendiri
841  24866       Todanara  Bantuan Pemerintah
842  24869       Todanara                 NaN
843  24957       Todanara     Tangkar Sendiri

[844 rows x 3 columns]

In [222]:
sumber_benih.isna().sum()

ID                  0
Desa/Kelurahan      0
Sumber Benih      171
dtype: int64

In [223]:
sumber_benih = sumber_benih.dropna()

In [224]:
sumber_benih.isna().sum()

ID                0
Desa/Kelurahan    0
Sumber Benih      0
dtype: int64

In [225]:
sumber_benih['Sumber Benih'].value_counts()

Sumber Benih
Tangkar Sendiri                                 457
Tidak ada                                        68
Tangkar Sendiri Tidak ada                        37
Bantuan Pemerintah                               35
Beli                                             22
Bantuan Pemerintah Tidak ada                     19
Tangkar Sendiri Bantuan Pemerintah               11
Bantuan Pemerintah Tangkar Sendiri                7
Tidak ada Tangkar Sendiri                         5
Tangkar Sendiri Beli                              5
Beli Bantuan Pemerintah Tangkar Sendiri           1
Tidak ada Bantuan Pemerintah                      1
Bantuan Pemerintah Tidak ada Tangkar Sendiri      1
Tangkar Sendiri Bantuan Pemerintah Beli           1
Beli Tidak ada                                    1
Beli Tangkar Sendiri                              1
Tangkar Sendiri Tidak ada Beli                    1
Name: count, dtype: int64

In [226]:
def penggunaan_benih(pola):
    pola = str(pola).lower()
    
    kelompok_1 = ["tangkar sendiri"]
    kelompok_2 = ["beli", "bantuan pemerintah", "tidak ada"]
    
    ada_kelompok_1 = any(kata in pola for kata in kelompok_1)
    ada_kelompok_2 = any(kata in pola for kata in kelompok_2)
    
    if ada_kelompok_1 and ada_kelompok_2:
        return 0.5
    elif ada_kelompok_1:
        return 1
    elif ada_kelompok_2:
        return 0
    else:
        return None

sumber_benih['kategori'] = sumber_benih['Sumber Benih'].apply(penggunaan_benih)

C:\Users\halid\AppData\Local\Temp\ipykernel_4548\3763901090.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sumber_benih['kategori'] = sumber_benih['Sumber Benih'].apply(penggunaan_benih)

In [227]:
sumber_benih

        ID Desa/Kelurahan        Sumber Benih  kategori
1    22190       Paubokol     Tangkar Sendiri       1.0
2    22195       Paubokol     Tangkar Sendiri       1.0
3    22200       Paubokol     Tangkar Sendiri       1.0
4    22205       Paubokol     Tangkar Sendiri       1.0
6    22208       Paubokol     Tangkar Sendiri       1.0
..     ...            ...                 ...       ...
838  24801       Todanara     Tangkar Sendiri       1.0
839  24802       Dikesare     Tangkar Sendiri       1.0
840  24803          Mahal     Tangkar Sendiri       1.0
841  24866       Todanara  Bantuan Pemerintah       0.0
843  24957       Todanara     Tangkar Sendiri       1.0

[673 rows x 4 columns]

In [228]:
persentase_benih = (
    sumber_benih.groupby('Desa/Kelurahan')['kategori']
      .apply(lambda x: x.mean() * 100)
      .reset_index(name='Persentase Sumber Benih')
)

def skor_benih(p):
    if p == 0:
        return 0
    elif p <= 25:
        return 1
    elif p <= 50:
        return 2
    elif p <= 75:
        return 3
    else:
        return 4

persentase_benih['Skor'] = persentase_benih['Persentase Sumber Benih'].apply(skor_benih)

In [229]:
persentase_benih

   Desa/Kelurahan  Persentase Sumber Benih  Skor
0       Balauring               100.000000     4
1      Benihading                76.666667     4
2            Bour                73.529412     3
3        Dikesare                60.869565     3
4        Duawutun                44.000000     2
5       Dulitukan                96.153846     4
6        Hoelea I                85.000000     4
7       Ile Kimok                96.551724     4
8         Kalikur                85.294118     4
9        Katakeja                 0.000000     0
10      Labalimut                73.913043     3
11       Lamatuka                75.806452     4
12     Laranwutun                54.000000     3
13         Lolong                81.481481     4
14          Mahal                87.500000     4
15        Merdeka                86.956522     4
16        Muruona                26.470588     2
17       Nubamado                83.928571     4
18           Pada                45.000000     2
19       Paubokol                84.615385     4
20           Puor                80.952381     4
21       Riangbao                69.047619     3
22       Tagawiti                82.692308     4
23       Todanara                43.478261     2
24    Tubuk Rajan               100.000000     4
25   Tubungwalang                87.500000     4
26        Waienga                79.310345     4
27       Watodiri                60.714286     3
28      Wuakerong                63.636364     3

In [230]:
IKP['I.4.1.1'] = persentase_benih['Skor']

In [231]:
IKP

   Desa/Kelurahan  I.1.1.1  I.2.1.1  I.3.1.1  I.4.1.1
0       Balauring        0        4        0        4
1      Benihading        1        4        1        4
2            Bour        4        3        1        3
3        Dikesare        0        2        0        3
4        Duawutun        1        4        0        2
5       Dulitukan        1        1        0        4
6        Hoelea I        1        4        0        4
7       Ile Kimok        0        4        0        4
8         Kalikur        0        3        0        4
9        Katakeja        4        4        0        0
10      Labalimut        0        4        0        3
11       Lamatuka        0        4        0        4
12     Laranwutun        0        3        0        3
13         Lolong        0        1        0        4
14          Mahal        0        3        0        4
15        Merdeka        1        2        0        4
16        Muruona        1        2        0        2
17       Nubamado        4        3        1        4
18           Pada        0        4        1        2
19       Paubokol        0        4        0        4
20           Puor        4        4        1        4
21       Riangbao        0        3        0        3
22       Tagawiti        4        2        0        4
23       Todanara        1        2        0        2
24    Tubuk Rajan        1        4        0        4
25   Tubungwalang        1        3        0        4
26        Waienga        0        2        0        4
27       Watodiri        4        3        0        3
28      Wuakerong        1        3        0        3

# Pilar 2

### II.1.1.1 Jenis pestisida yang digunakan

In [232]:
data_pestisida = pd.concat(
    [df[['ID', 'Desa/Kelurahan', 'Nama Tanaman', 'Pestisida/Herbisida/Fungisida.2']]],
    axis=1
)

In [233]:
data_pestisida

,ID,Desa/Kelurahan,Nama Tanaman,Pestisida/Herbisida/Fungisida.2
0,22180,Lolong,NaN,0.0
1,22190,Paubokol,Jagung Ubi Kayu Padi Porang,600000.0
2,22195,Paubokol,Padi Jagung,0.0
3,22200,Paubokol,Padi Jagung Ubi Kayu Kacang Tanah,1380000.0
4,22205,Paubokol,Padi,0.0
...,...,...,...,...
839,24802,Dikesare,Padi Jagung,0.0
840,24803,Mahal,Jagung,0.0
841,24866,Todanara,Padi Jagung Ubi Kayu,50000.0
842,24869,Todanara,NaN,0.0
843,24957,Todanara,Padi Jagung,0.0

In [234]:
data_pestisida.isna().sum()

ID                                   0
Desa/Kelurahan                       0
Nama Tanaman                       181
Pestisida/Herbisida/Fungisida.2      0
dtype: int64

In [235]:
data_pestisida = data_pestisida.dropna()

In [236]:
data_pestisida.info()

<class 'pandas.core.frame.DataFrame'>
Index: 663 entries, 1 to 843
Data columns (total 4 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               663 non-null    int64
 1   Desa/Kelurahan                   663 non-null    object
 2   Nama Tanaman                     663 non-null    object
 3   Pestisida/Herbisida/Fungisida.2  663 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 25.9+ KB

In [237]:
persentase_pestisida = (
    data_pestisida.groupby('Desa/Kelurahan')['Pestisida/Herbisida/Fungisida.2']
      .apply(lambda x: (x > 0).mean() * 100)
      .reset_index(name='Persentase Penggunaan Pestisida Sintetik')
)

def skor_pestisida(p):
    if p > 80:
        return 0
    elif p >= 61:
        return 1
    elif p >= 41:
        return 2
    elif p >= 21:
        return 3
    else:
        return 4

persentase_pestisida['Skor'] = persentase_pestisida['Persentase Penggunaan Pestisida Sintetik'].apply(skor_pestisida)

In [238]:
persentase_pestisida

   Desa/Kelurahan  Persentase Penggunaan Pestisida Sintetik  Skor
0       Balauring                                  7.692308     4
1      Benihading                                 10.000000     4
2            Bour                                 76.470588     1
3        Dikesare                                  0.000000     4
4        Duawutun                                  0.000000     4
5       Dulitukan                                  0.000000     4
6        Hoelea I                                 56.666667     2
7       Ile Kimok                                 51.724138     2
8         Kalikur                                 88.235294     0
9        Katakeja                                  0.000000     4
10      Labalimut                                  0.000000     4
11       Lamatuka                                  0.000000     4
12     Laranwutun                                 52.000000     2
13         Lolong                                  0.000000     4
14          Mahal                                 81.818182     0
15        Merdeka                                 26.086957     3
16        Muruona                                 41.176471     2
17       Nubamado                                 28.000000     3
18           Pada                                 11.764706     4
19       Paubokol                                 38.461538     3
20           Puor                                  0.000000     4
21       Riangbao                                 47.619048     2
22       Tagawiti                                  0.000000     4
23       Todanara                                 47.826087     2
24    Tubuk Rajan                                  0.000000     4
25   Tubungwalang                                 20.833333     4
26        Waienga                                 72.413793     1
27       Watodiri                                  3.571429     4
28      Wuakerong                                 27.272727     3

In [239]:
IKP['II.1.1.1'] = persentase_pestisida['Skor']

In [245]:
IKP

   Desa/Kelurahan  I.1.1.1  I.2.1.1  I.3.1.1  I.4.1.1  II.1.1.1
0       Balauring        0        4        0        4         4
1      Benihading        1        4        1        4         4
2            Bour        4        3        1        3         1
3        Dikesare        0        2        0        3         4
4        Duawutun        1        4        0        2         4
5       Dulitukan        1        1        0        4         4
6        Hoelea I        1        4        0        4         2
7       Ile Kimok        0        4        0        4         2
8         Kalikur        0        3        0        4         0
9        Katakeja        4        4        0        0         4
10      Labalimut        0        4        0        3         4
11       Lamatuka        0        4        0        4         4
12     Laranwutun        0        3        0        3         2
13         Lolong        0        1        0        4         4
14          Mahal        0        3        0        4         0
15        Merdeka        1        2        0        4         3
16        Muruona        1        2        0        2         2
17       Nubamado        4        3        1        4         3
18           Pada        0        4        1        2         4
19       Paubokol        0        4        0        4         3
20           Puor        4        4        1        4         4
21       Riangbao        0        3        0        3         2
22       Tagawiti        4        2        0        4         4
23       Todanara        1        2        0        2         2
24    Tubuk Rajan        1        4        0        4         4
25   Tubungwalang        1        3        0        4         4
26        Waienga        0        2        0        4         1
27       Watodiri        4        3        0        3         4
28      Wuakerong        1        3        0        3         3

### II.1.2.1 Jenis Pupuk yang Digunakan

In [246]:
data_pupuk = pd.concat(
    [df[['ID', 'Desa/Kelurahan', 'Nama Tanaman', 'Pupuk.2']]],
    axis=1
)

In [247]:
data_pupuk

        ID Desa/Kelurahan                       Nama Tanaman  Pupuk.2
0    22180         Lolong                                NaN      0.0
1    22190       Paubokol        Jagung Ubi Kayu Padi Porang      0.0
2    22195       Paubokol                        Padi Jagung      0.0
3    22200       Paubokol  Padi Jagung Ubi Kayu Kacang Tanah      0.0
4    22205       Paubokol                               Padi      0.0
..     ...            ...                                ...      ...
839  24802       Dikesare                        Padi Jagung      0.0
840  24803          Mahal                             Jagung      0.0
841  24866       Todanara               Padi Jagung Ubi Kayu      0.0
842  24869       Todanara                                NaN      0.0
843  24957       Todanara                        Padi Jagung      0.0

[844 rows x 4 columns]

In [248]:
data_pupuk.isna().sum()

ID                  0
Desa/Kelurahan      0
Nama Tanaman      181
Pupuk.2             0
dtype: int64

In [249]:
data_pupuk = data_pupuk.dropna()

In [250]:
data_pupuk.info()

<class 'pandas.core.frame.DataFrame'>
Index: 663 entries, 1 to 843
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              663 non-null    int64
 1   Desa/Kelurahan  663 non-null    object
 2   Nama Tanaman    663 non-null    object
 3   Pupuk.2         663 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 25.9+ KB

In [253]:
persentase_pupuk = (
    data_pupuk.groupby('Desa/Kelurahan')['Pupuk.2']
      .apply(lambda x: (x == 0).mean() * 100)
      .reset_index(name='Persentase Penggunaan Pupuk Organik')
)

def skor_pupuk(p):
    if p == 0:
        return 0
    elif p <= 25:
        return 1
    elif p <= 50:
        return 2
    elif p <= 75:
        return 3
    else:
        return 4

persentase_pupuk['Skor'] = persentase_pupuk['Persentase Penggunaan Pupuk Organik'].apply(skor_pupuk)

In [254]:
persentase_pupuk

   Desa/Kelurahan  Persentase Penggunaan Pupuk Organik  Skor
0       Balauring                            53.846154     3
1      Benihading                           100.000000     4
2            Bour                            58.823529     3
3        Dikesare                           100.000000     4
4        Duawutun                           100.000000     4
5       Dulitukan                           100.000000     4
6        Hoelea I                            20.000000     1
7       Ile Kimok                            93.103448     4
8         Kalikur                             0.000000     0
9        Katakeja                           100.000000     4
10      Labalimut                           100.000000     4
11       Lamatuka                            96.774194     4
12     Laranwutun                            96.000000     4
13         Lolong                           100.000000     4
14          Mahal                            31.818182     2
15        Merdeka                            95.652174     4
16        Muruona                            94.117647     4
17       Nubamado                            92.000000     4
18           Pada                            88.235294     4
19       Paubokol                            96.153846     4
20           Puor                            85.000000     4
21       Riangbao                           100.000000     4
22       Tagawiti                           100.000000     4
23       Todanara                            95.652174     4
24    Tubuk Rajan                           100.000000     4
25   Tubungwalang                            33.333333     2
26        Waienga                            96.551724     4
27       Watodiri                            96.428571     4
28      Wuakerong                           100.000000     4

In [255]:
IKP['II.1.2.1'] = persentase_pupuk['Skor']

In [256]:
IKP

   Desa/Kelurahan  I.1.1.1  I.2.1.1  I.3.1.1  I.4.1.1  II.1.1.1  II.1.2.1
0       Balauring        0        4        0        4         4         3
1      Benihading        1        4        1        4         4         4
2            Bour        4        3        1        3         1         3
3        Dikesare        0        2        0        3         4         4
4        Duawutun        1        4        0        2         4         4
5       Dulitukan        1        1        0        4         4         4
6        Hoelea I        1        4        0        4         2         1
7       Ile Kimok        0        4        0        4         2         4
8         Kalikur        0        3        0        4         0         0
9        Katakeja        4        4        0        0         4         4
10      Labalimut        0        4        0        3         4         4
11       Lamatuka        0        4        0        4         4         4
12     Laranwutun        0        3        0        3         2         4
13         Lolong        0        1        0        4         4         4
14          Mahal        0        3        0        4         0         2
15        Merdeka        1        2        0        4         3         4
16        Muruona        1        2        0        2         2         4
17       Nubamado        4        3        1        4         3         4
18           Pada        0        4        1        2         4         4
19       Paubokol        0        4        0        4         3         4
20           Puor        4        4        1        4         4         4
21       Riangbao        0        3        0        3         2         4
22       Tagawiti        4        2        0        4         4         4
23       Todanara        1        2        0        2         2         4
24    Tubuk Rajan        1        4        0        4         4         4
25   Tubungwalang        1        3        0        4         4         2
26        Waienga        0        2        0        4         1         4
27       Watodiri        4        3        0        3         4         4
28      Wuakerong        1        3        0        3         3         4

### II.1.3.1 Melakukan pemanfaatan limbah pertanian

In [240]:
data_limbah = pd.concat([df[['ID', 'Desa/Kelurahan']], df.iloc[:, 243:245]], axis=1)

In [241]:
data_limbah

        ID Desa/Kelurahan Sumber Limbah    Pengolahan
0    22180         Lolong  Rumah Tangga  Tidak Diolah
1    22190       Paubokol  Rumah Tangga     Tidak ada
2    22195       Paubokol  Rumah Tangga     Tidak ada
3    22200       Paubokol     Tidak ada     Tidak ada
4    22205       Paubokol  Rumah Tangga     Tidak ada
..     ...            ...           ...           ...
839  24802       Dikesare  Rumah Tangga        Diolah
840  24803          Mahal  Rumah Tangga  Tidak Diolah
841  24866       Todanara  Rumah Tangga  Tidak Diolah
842  24869       Todanara  Rumah Tangga  Tidak Diolah
843  24957       Todanara  Rumah Tangga  Tidak Diolah

[844 rows x 4 columns]

In [242]:
data_limbah['Sumber Limbah'].value_counts()

Sumber Limbah
Rumah Tangga                                                  477
Pertanian dan Perkebunan                                      115
Tidak ada                                                      55
Rumah Tangga Pertanian dan Perkebunan                          33
Peternakan dan Perikanan                                       31
Rumah Tangga Pertanian dan Perkebunan Peternakan Perikanan     22
Rumah Tangga Peternakan dan Perikanan                          13
Pertanian dan Perkebunan Rumah Tangga                           6
Pertanian dan Perkebunan Rumah Tangga Peternakan Perikanan      1
Pertanian dan Perkebunan Peternakan Perikanan                   1
Rumah Tangga Peternakan dan Perikanan Pertanian Perkebunan      1
Name: count, dtype: int64

In [243]:
data_limbah['Pengolahan'].value_counts()

Pengolahan
Tidak Diolah        414
Diolah              203
Tidak ada            98
Diolah Tidak         34
Tidak Diolah ada      3
Tidak ada Diolah      2
Diolah Tidak ada      1
Name: count, dtype: int64

In [244]:
hasil

        ID Desa/Kelurahan Pengolahan_Pertanian
0    22180         Lolong                 <NA>
1    22190       Paubokol                 <NA>
2    22195       Paubokol                 <NA>
3    22200       Paubokol                 <NA>
4    22205       Paubokol                 <NA>
..     ...            ...                  ...
839  24802       Dikesare                 <NA>
840  24803          Mahal                 <NA>
841  24866       Todanara                 <NA>
842  24869       Todanara                 <NA>
843  24957       Todanara                 <NA>

[844 rows x 3 columns]

### X