In [34]:
import re
import numpy as np
import pandas as pd

In [35]:
df_p = pd.read_csv("Data_Produksi.csv")
df_kb = pd.read_csv("Data_Konsumsi_Beli.csv")
df_ktb = pd.read_csv("Data_Konsumsi_Tidak_Beli.csv")

In [36]:
df_p

,ID,Desa/Kelurahan,Beras_Lokal_(Sawah/Ladang_dalam_Kg),Singkong,Jagung_Lokal,Jagung_Hibrida,Umbi-umbian_lain,Sorgum,Jewawut/Weteng,Ikan_dan_Boga_Laut_Segar,...,Cabai_Besar,Cabai_Kecil,Kemiri,Kunyit,Jahe,Sereh,Lengkuas,Jeruk_Nipis,Mete,Lain-lain
0,22180,Lolong,5; 5;,0; 0;,0; 0;,0; 0;,0; 0;,0; 0;,0; 0;,0; 0;,...,10000; 0;,10000; 0;,0; 0;,0; 0;,0; 0;,0; 0;,0; 0;,5000; 0;,0; 300000;,0; 0;
1,22190,Paubokol,80;,750;,1000;,0;,0;,0;,0;,0;,...,0;,120000;,0;,1750000;,0;,120000;,0;,100000;,690000;,;
2,22195,Paubokol,100;,0;,150;,0;,0;,0;,0;,0;,...,0;,0;,0;,0;,0;,0;,0;,0;,0;,;
3,22200,Paubokol,560;,300;,200;,0;,200;,0;,0;,0;,...,0;,600000;,60000;,60000;,60000;,60000;,60000;,240000;,1380000;,;
4,22205,Paubokol,400;,600;,50;,0;,20;,0;,0;,0;,...,0;,0;,120000;,120000;,120000;,120000;,120000;,120000;,4140000;,0;
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,24866,Todanara,300;,100;,100;,100;,0;,0;,0;,0;,...,0;,0;,0;,0;,0;,0;,0;,0;,0;,;
877,24867,Todanara,150;,100;,250;,250;,0;,0;,0;,0;,...,0;,0;,0;,0;,0;,0;,0;,0;,0;,;
878,24869,Todanara,0;,0;,0;,0;,0;,0;,0;,200000;,...,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;
879,24887,Labalimut,50;,30;,60;,80;,0;,0;,0;,0;,...,0;,20000;,3000000;,20000;,20000;,20000;,20000;,20000;,0;,0;
880,24957,Todanara,300;,0;,200;,200;,0;,60;,0;,0;,...,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;

In [37]:
df_p.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,881.0,NaN,NaN,NaN,23211.780931,699.271664,22180.0,22662.0,23141.0,23634.0,24957.0
Desa/Kelurahan,881,30,Muruona,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Beras_Lokal_(Sawah/Ladang_dalam_Kg),770,68,0;,370,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Singkong,770,84,0;,257,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jagung_Lokal,770,105,0;,174,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jagung_Hibrida,770,73,0;,413,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Umbi-umbian_lain,770,47,0;,468,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sorgum,770,14,0;,566,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jewawut/Weteng,770,10,0;,570,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ikan_dan_Boga_Laut_Segar,770,55,0;,476,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ikan_dan_Boga_Laut_Kering,770,30,0;,516,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Telor,770,53,0;,463,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ayam,770,74,0;,408,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Daging_(Sapi/Kerbau/Kambing/Babi,dll)",770,73,0;,475,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kacang-kacangan,770,61,0;,510,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Minyak_Kelapa,770,49,0;,521,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cabai_Besar,770,23,0;,537,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cabai_Kecil,770,49,0;,452,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kemiri,770,83,0;,420,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kunyit,770,33,0;,438,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jahe,770,28,0;,459,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sereh,770,31,0;,433,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lengkuas,770,22,0;,470,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jeruk_Nipis,770,27,0;,492,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mete,770,98,0;,442,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lain-lain,770,47,0;,417,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df_p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 26 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   ID                                     881 non-null    int64
 1   Desa/Kelurahan                         881 non-null    object
 2   Beras_Lokal_(Sawah/Ladang_dalam_Kg)    770 non-null    object
 3   Singkong                               770 non-null    object
 4   Jagung_Lokal                           770 non-null    object
 5   Jagung_Hibrida                         770 non-null    object
 6   Umbi-umbian_lain                       770 non-null    object
 7   Sorgum                                 770 non-null    object
 8   Jewawut/Weteng                         770 non-null    object
 9   Ikan_dan_Boga_Laut_Segar               770 non-null    object
 10  Ikan_dan_Boga_Laut_Kering              770 non-null    object
 11  Telor                                  770 non-null    object
 12  Ayam                                   770 non-null    object
 13  Daging_(Sapi/Kerbau/Kambing/Babi,dll)  770 non-null    object
 14  Kacang-kacangan                        770 non-null    object
 15  Minyak_Kelapa                          770 non-null    object
 16  Cabai_Besar                            770 non-null    object
 17  Cabai_Kecil                            770 non-null    object
 18  Kemiri                                 770 non-null    object
 19  Kunyit                                 770 non-null    object
 20  Jahe                                   770 non-null    object
 21  Sereh                                  770 non-null    object
 22  Lengkuas                               770 non-null    object
 23  Jeruk_Nipis                            770 non-null    object
 24  Mete                                   770 non-null    object
 25  Lain-lain                              770 non-null    object
dtypes: int64(1), object(25)
memory usage: 179.1+ KB

In [39]:
df_kb

,ID,Desa/Kelurahan,Beras_Lokal_(Sawah/Ladang_dalam_Rp),Beras_Toko,Singkong.2,Jagung_Lokal.2,Jagung_Hibrida.2,Umbi-umbian_lain.2,Sorgum.2,Jewawut/Weteng.2,...,Transportasi,SPP_(Iuran_Sekolah),Peralatan_Sekolah/ATK,Transportasi/Kos/Jajan,Periksa_Kesehatan,Iuran_BPJS,Obat,Sanitary,Pulsa_Ponsel,"Dana_Sosial_(Arisan,_Sumbangan,_dll)"
0,22180,Lolong,0;,150000;,25000;,0;,0;,10000;,0;,0;,...,50000;,0;,0;,0;,0;,0;,0;,0;,20000;,5000;
1,22190,Paubokol,0;,4680000;,0;,0;,0;,0;,0;,0;,...,1440000;,8000000;,300000;,5160000;,0;,0;,0;,60000;,600000;,6000000;
2,22195,Paubokol,0;,1560000;,0;,0;,0;,0;,0;,0;,...,600000;,0;,0;,0;,0;,0;,0;,0;,0;,0;
3,22200,Paubokol,0;,5460000;,0;,0;,0;,0;,0;,0;,...,0;,0;,0;,0;,0;,0;,0;,0;,600000;,0;
4,22205,Paubokol,0;,3120000;,0;,0;,0;,0;,0;,0;,...,0;,300000;,150000;,720000;,10000;,0;,10000;,0;,600000;,1200000;
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,24866,Todanara,0;,200000;,0;,0;,0;,0;,0;,0;,...,150000;,567000;,200000;,1080000;,0;,0;,0;,90000;,100000;,19000;
877,24867,Todanara,0;,160000;,0;,0;,0;,0;,0;,0;,...,0;,250000;,;,20000;,0;,0;,0;,20000;,50000;,32500;
878,24869,Todanara,0;,320000;,0;,0;,0;,0;,0;,0;,...,500000;,0;,0;,0;,0;,80000;,0;,100000;,200000;,203000;
879,24887,Labalimut,0;,280000;,0;,0;,0;,0;,0;,0;,...,60000;,0;,0;,0;,0;,35000;,0;,0;,50000;,100000;
880,24957,Todanara,;,75000;,;,;,;,;,;,;,...,0;,0;,0;,0;,0;,0;,0;,30000;,20000;,20000;

In [40]:
df_kb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 96 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ID                                       881 non-null    int64
 1   Desa/Kelurahan                           881 non-null    object
 2   Beras_Lokal_(Sawah/Ladang_dalam_Rp)      864 non-null    object
 3   Beras_Toko                               864 non-null    object
 4   Singkong.2                               864 non-null    object
 5   Jagung_Lokal.2                           864 non-null    object
 6   Jagung_Hibrida.2                         864 non-null    object
 7   Umbi-umbian_lain.2                       864 non-null    object
 8   Sorgum.2                                 864 non-null    object
 9   Jewawut/Weteng.2                         864 non-null    object
 10  Ikan_dan_Boga_Laut_Segar.2               864 non-null    object
 11  Ikan_dan_Boga_Laut_Kering.2              864 non-null    object
 12  Telor.2                                  864 non-null    object
 13  Ayam.2                                   864 non-null    object
 14  Daging_(Sapi/Kerbau/Kambing/Babi,dll).1  864 non-null    object
 15  Tahu_dan_Tempe                           864 non-null    object
 16  Kacang-kacangan.2                        864 non-null    object
 17  Daun_Ubi                                 864 non-null    object
 18  Kangkung                                 864 non-null    object
 19  Kubis                                    864 non-null    object
 20  Sawi                                     864 non-null    object
 21  Bayam                                    864 non-null    object
 22  Brokoli                                  864 non-null    object
 23  Wortel                                   864 non-null    object
 24  Jantung_Pisang                           864 non-null    object
 25  Kelor                                    864 non-null    object
 26  Bunga_dan_Daun_Pepaya                    864 non-null    object
 27  Pakis/Paku                               864 non-null    object
 28  Rebung                                   864 non-null    object
 29  Mangga                                   864 non-null    object
 30  Alpukat                                  864 non-null    object
 31  Jeruk                                    864 non-null    object
 32  Anggur                                   864 non-null    object
 33  Buah_Naga                                864 non-null    object
 34  Mete.2                                   864 non-null    object
 35  Pisang                                   864 non-null    object
 36  Rambutan                                 864 non-null    object
 37  Nanas                                    864 non-null    object
 38  Salak                                    864 non-null    object
 39  Pepaya                                   864 non-null    object
 40  Kelapa                                   864 non-null    object
 41  Tomat                                    864 non-null    object
 42  Timun                                    864 non-null    object
 43  Labu                                     864 non-null    object
 44  Kemangi                                  864 non-null    object
 45  Minyak_Kelapa.2                          864 non-null    object
 46  Minyak_Goreng_Kemasan/Toko               864 non-null    object
 47  Bumbu_Kemasan                            864 non-null    object
 48  MSG                                      864 non-null    object
 49  Bawang_Merah                             864 non-null    object
 50  Bawang_Putih                             864 non-null    object
 51  Bawang_Bombai                            864 non-null    object
 52  Cabai_Besar.2                            864 non-null    object
 53  Cabai_Kecil.2                            864 non-null    object
 54  Lada                                     864 non-null    object
 55  Kemiri.2                                 864 non-null    object
 56  Kunyit.2                                 864 non-null    object
 57  Jahe.2                                   864 non-null    object
 58  Sereh.2                                  864 non-null    object
 59  Lengkuas.2                               864 non-null    object
 60  Jeruk_Nipis.2                            864 non-null    object
 61  Jeruk_Limau                              864 non-null    object
 62  Kecap                                    864 non-null    object
 63  Saos                                     864 non-null    object
 64  Susu_(Bubuk/UHT)                         864 non-null    object
 65  Kental_Manis                             864 non-null    object
 66  Minuman_Kemasan                          864 non-null    object
 67  Minuman_Fermentasi                       864 non-null    object
 68  Gula_Pasir                               864 non-null    object
 69  Kopi                                     864 non-null    object
 70  Teh                                      864 non-null    object
 71  Mie_Instan                               864 non-null    object
 72  Biskuit/Roti/Kue_Kemasan                 864 non-null    object
 73  Rokok_Kemasan                            864 non-null    object
 74  Tembakau                                 864 non-null    object
 75  Pinang                                   864 non-null    object
 76  Daun_Sirih                               864 non-null    object
 77  Minyak_Tanah                             864 non-null    object
 78  Gas                                      864 non-null    object
 79  Biaya_Listrik                            864 non-null    object
 80  BBM                                      864 non-null    object
 81  Pupuk                                    864 non-null    object
 82  Pestisida/Herbisida/Fungisida            864 non-null    object
 83  Benih                                    864 non-null    object
 84  Upah_Buruh                               864 non-null    object
 85  Sewa_Alat_dan_Mesin_Pertanian            864 non-null    object
 86  Transportasi                             864 non-null    object
 87  SPP_(Iuran_Sekolah)                      864 non-null    object
 88  Peralatan_Sekolah/ATK                    864 non-null    object
 89  Transportasi/Kos/Jajan                   864 non-null    object
 90  Periksa_Kesehatan                        864 non-null    object
 91  Iuran_BPJS                               864 non-null    object
 92  Obat                                     864 non-null    object
 93  Sanitary                                 864 non-null    object
 94  Pulsa_Ponsel                             864 non-null    object
 95  Dana_Sosial_(Arisan,_Sumbangan,_dll)     864 non-null    object
dtypes: int64(1), object(95)
memory usage: 660.9+ KB

In [41]:
df_ktb

,ID,Desa/Kelurahan,Beras_Lokal_(Sawah/Ladang),Singkong.1,Jagung_Lokal.1,Jagung_Hibrida.1,Umbi-umbian_lain.1,Sorgum.1,Jewawut/Weteng.1,Ikan_dan_Boga_Laut_Segar.1,...,Cabai_Besar.1,Cabai_Kecil.1,Kemiri.1,Kunyit.1,Jahe.1,Sereh.1,Lengkuas.1,Jeruk_Nipis.1,Mete.1,Lain-lain.1
0,22180,Lolong,1;,1;,1;,1;,0;,0;,0;,0;,...,10000;,10000;,2000;,0;,0;,0;,0;,5000;,0;,0;
1,22190,Paubokol,0;,0;,0;,0;,0;,0;,0;,0;,...,0;,0;,0;,60000;,0;,0;,0;,0;,;,;
2,22195,Paubokol,100;,150;,0;,0;,0;,0;,0;,0;,...,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;
3,22200,Paubokol,560;,200;,200;,0;,200;,0;,0;,0;,...,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;
4,22205,Paubokol,400;,400;,50;,0;,20;,0;,0;,0;,...,0;,0;,0;,0;,0;,0;,0;,0;,0;,0;
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,24866,Todanara,50;,100;,20;,20;,0;,0;,0;,0;,...,0;,0;,0;,0;,0;,0;,0;,0;,0;,;
877,24867,Todanara,20;,10;,10;,10;,0;,0;,0;,0;,...,0;,0;,0;,0;,0;,0;,0;,0;,0;,;
878,24869,Todanara,0;,0;,0.5;,0;,0;,0;,0;,20000;,...,20000;,0;,0;,0;,0;,10000;,0;,0;,0;,0;
879,24887,Labalimut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
880,24957,Todanara,100;,0;,100;,100;,0;,40;,0;,0;,...,;,;,;,;,;,;,;,;,;,;

In [42]:
df_ktb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           881 non-null    int64
 1   Desa/Kelurahan               881 non-null    object
 2   Beras_Lokal_(Sawah/Ladang)   745 non-null    object
 3   Singkong.1                   745 non-null    object
 4   Jagung_Lokal.1               745 non-null    object
 5   Jagung_Hibrida.1             745 non-null    object
 6   Umbi-umbian_lain.1           745 non-null    object
 7   Sorgum.1                     745 non-null    object
 8   Jewawut/Weteng.1             745 non-null    object
 9   Ikan_dan_Boga_Laut_Segar.1   745 non-null    object
 10  Ikan_dan_Boga_Laut_Kering.1  745 non-null    object
 11  Telor.1                      745 non-null    object
 12  Ayam.1                       745 non-null    object
 13  Kacang-kacangan.1            745 non-null    object
 14  Minyak_Kelapa.1              745 non-null    object
 15  Cabai_Besar.1                745 non-null    object
 16  Cabai_Kecil.1                745 non-null    object
 17  Kemiri.1                     745 non-null    object
 18  Kunyit.1                     745 non-null    object
 19  Jahe.1                       745 non-null    object
 20  Sereh.1                      745 non-null    object
 21  Lengkuas.1                   745 non-null    object
 22  Jeruk_Nipis.1                745 non-null    object
 23  Mete.1                       745 non-null    object
 24  Lain-lain.1                  745 non-null    object
dtypes: int64(1), object(24)
memory usage: 172.2+ KB

In [43]:
def parse_rp(x):
    """Bersihkan string rupiah (Rp, titik ribuan, koma) → float (nilai Rp)."""
    if pd.isna(x):
        return np.nan
    s = str(x)
    s = re.sub(r"[^0-9,.\-]", "", s)            # buang selain digit, koma, titik, minus
    s = re.sub(r"\.(?=\d{3}(\D|$))", "", s)     # hapus titik ribuan (contoh 12.600 → 12600)
    s = s.replace(",", ".")                     # koma → titik desimal
    try:
        return float(s)
    except:
        return np.nan

def parse_num(x):
    """Bersihkan angka umum (mis. '1,5', '3 kg', '1.200,5') → float."""
    if pd.isna(x): 
        return np.nan
    s = str(x)
    s = re.sub(r"[^0-9,.\-]", "", s)            # buang huruf/simbol selain digit . , -
    s = re.sub(r"\.(?=\d{3}(\D|$))", "", s)     # hapus titik ribuan
    s = s.replace(",", ".")                     # koma → titik
    try:
        return float(s)
    except:
        return np.nan

def make_new_name(unit, old_name):
    # contoh: 'Ayam.2' → 'Ayam_2'
    base = old_name.replace("/", "_").replace(" ", "_").replace("(", "").replace(")", "").replace(".", "_")
    base = re.sub(r"__+", "_", base).strip("_")
    return f"{unit}_{base}"

In [44]:
# ------- 2) Harga acuan: Rp per satuan -------
# Kunci DISESUAIKAN dengan nama kolom di dataframe kamu (KB/KTB)
harga = {
    # --- KG (Rp per kg) ---
    "Beras_Lokal_(Sawah/Ladang_dalam_Rp)": 12600,
    "Beras_Toko": 12600,
    "Singkong.2": 6509,
    "Jagung_Lokal.2": 7583,
    "Jagung_Hibrida.2": 7583,
    "Umbi-umbian_lain.2": 7830,
    "Ikan_dan_Boga_Laut_Segar.2": 47923,
    "Ikan_dan_Boga_Laut_Kering.2": 77134,
    "Telor.2": 32289,
    "Ayam.2": 46804,
    "Daging_(Sapi/Kerbau/Kambing/Babi,dll).1": 111607,
    "Kacang-kacangan.2": 28304,
    "Daun_Ubi": 7671,
    "Kangkung": 8852,
    "Kubis": 12483,
    "Sawi": 10234,
    "Bayam": 9251,
    "Wortel": 22591,
    "Tomat": 13227,
    "Timun": 9261,
    "Labu": 6446,
    "Pepaya": 9478,
    "Mangga": 11525,
    "Pisang": 12234,
    "Jeruk": 21204,
    "Salak": 21754,
    "Bawang_Merah": 20203,
    "Bawang_Putih": 48957,
    "Cabai_Besar.2": 46433,
    "Cabai_Kecil.2": 30773,
    "Gula_Pasir": 19055,
    "Minyak_Kelapa.2": 21932,
    "Minyak_Goreng_Kemasan/Toko": 23314,
    "Susu_(Bubuk/UHT)": 97000,
    "Kental_Manis": 12929,
    "Tahu_dan_Tempe": 15000,


    # --- SATUAN KHUSUS ---
    "Kelapa": 4119,                 # per butir
    "Bumbu_Kemasan": 3986,          # per bungkus
    "MSG": 3401,                    # per 400g
    "Lada": 10798,                  # per ons
    "Kemiri.2": 5132,               # per ons
    "Kecap": 16899,                 # per botol
    "Minuman_Kemasan": 5974,        # per botol
    "Minuman_Fermentasi": 39280,    # per botol
    "Kopi": 5403,                   # per sachet
    "Teh": 2900,                    # per bungkus
    "Mie_Instan": 3543,             # per bungkus
    "Rokok_Kemasan": 26036,         # per bungkus
    "Tembakau": 8095,               # per ons
    "Biskuit/Roti/Kue_Kemasan": 8000,  # Rp per 200 g
}

In [45]:
# ------- 3) Satuan untuk masing2 kolom (apa yang mau dipakai di prefix) -------
satuan = {
    # default untuk yang per-kg
    **{k: "kg" for k, v in harga.items() if v and k not in [
        "Kelapa", "Bumbu_Kemasan", "MSG", "Lada", "Kemiri.2", "Kecap",
        "Minuman_Kemasan", "Minuman_Fermentasi", "Kopi", "Teh",
        "Mie_Instan", "Rokok_Kemasan", "Tembakau", "Biskuit/Roti/Kue_Kemasan"
    ]},
    # override
    "Kelapa": "butir",
    "Bumbu_Kemasan": "bungkus",
    "MSG": "400g",
    "Lada": "ons",
    "Kemiri.2": "ons",
    "Kecap": "botol",
    "Minuman_Kemasan": "botol",
    "Minuman_Fermentasi": "botol",
    "Kopi": "ons",
    "Teh": "bungkus",
    "Mie_Instan": "bungkus",
    "Rokok_Kemasan": "bungkus",
    "Tembakau": "ons",
    "Biskuit/Roti/Kue_Kemasan": "200g",
}

In [46]:
# ------- KONVERSI: KB (semua Rp → jumlah satuan alamiah) -------
def convert_kb(df_kb):
    out = pd.DataFrame(index=df_kb.index)
    for col, h in harga.items():
        if col not in df_kb.columns:
            continue
        if h and h > 0:
            unit = satuan.get(col, "unit")
            newcol = make_new_name(unit, col)
            # jika belum ada _1/_2, paksa _2 (KB)
            if not re.search(r"_(?:1|2)$", newcol):
                newcol = newcol + "_2"
            out[newcol] = df_kb[col].apply(parse_rp) / h
    return out

In [47]:
# ------- 5) KONVERSI: KTB (campuran kg & Rp) -------
# daftar kolom KTB yang SUDAH kg (dari list kamu)
ktb_sudah_kg = {
    "Beras_Lokal_(Sawah/Ladang)", "Singkong.1", "Jagung_Lokal.1", "Jagung_Hibrida.1",
    "Umbi-umbian_lain.1", "Sorgum.1", "Jewawut/Weteng.1"
}

def convert_ktb(df_ktb):
    out = pd.DataFrame(index=df_ktb.index)
    for col in df_ktb.columns:
        if col in ktb_sudah_kg:
            newcol = make_new_name("kg", col)   # akan jadi mis. 'kg_Beras_Lokal_Sawah_Ladang'
            # kalau belum ada _1/_2 → paksa _1 (KTB)
            if not re.search(r"_(?:1|2)$", newcol):
                newcol = newcol + "_1"
            out[newcol] = df_ktb[col].apply(parse_num)
            continue

        # kolom Rp di KTB → map ke harga KB (".1" → ".2")
        kb_like = col.replace(".1", ".2")
        if kb_like in harga and harga[kb_like]:
            unit = satuan.get(kb_like, "unit")
            newcol = make_new_name(unit, col)  # 'kg_Ayam_1' dll
            if not re.search(r"_(?:1|2)$", newcol):
                newcol = newcol + "_1"
            out[newcol] = df_ktb[col].apply(parse_rp) / harga[kb_like]
    return out

In [48]:
# ------- 6) jalankan -------
kb_unit = convert_kb(df_kb)   # → kolom seperti kg_Tomat, bungkus_Mie_Instan, sachet_Kopi, butir_Kelapa, ons_Kemiri, ...
ktb_unit = convert_ktb(df_ktb)

# tambahkan ID & Desa di depan
kb_unit = pd.concat([df_kb[["ID", "Desa/Kelurahan"]].reset_index(drop=True),
                     kb_unit.reset_index(drop=True)], axis=1)

ktb_unit = pd.concat([df_ktb[["ID", "Desa/Kelurahan"]].reset_index(drop=True),
                      ktb_unit.reset_index(drop=True)], axis=1)

In [49]:
kb_unit

,ID,Desa/Kelurahan,kg_Beras_Lokal_Sawah_Ladang_dalam_Rp_2,kg_Beras_Toko_2,kg_Singkong_2,kg_Jagung_Lokal_2,kg_Jagung_Hibrida_2,kg_Umbi-umbian_lain_2,kg_Ikan_dan_Boga_Laut_Segar_2,kg_Ikan_dan_Boga_Laut_Kering_2,...,ons_Kemiri_2,botol_Kecap_2,botol_Minuman_Kemasan_2,botol_Minuman_Fermentasi_2,ons_Kopi_2,bungkus_Teh_2,bungkus_Mie_Instan_2,bungkus_Rokok_Kemasan_2,ons_Tembakau_2,200g_Biskuit_Roti_Kue_Kemasan_2
0,22180,Lolong,0.0,11.904762,3.840836,0.0,0.0,1.277139,0.417336,0.259289,...,0.0,0.295875,0.000000,0.000000,3.331483,2.758621,2.822467,0.000000,0.000000,1.00
1,22190,Paubokol,0.0,371.428571,0.000000,0.0,0.0,0.000000,30.048202,0.000000,...,0.0,10.651518,0.000000,0.000000,111.049417,0.000000,0.000000,0.000000,0.000000,0.00
2,22195,Paubokol,0.0,123.809524,0.000000,0.0,0.0,0.000000,10.016067,0.000000,...,0.0,0.000000,0.000000,0.000000,44.419767,62.068966,0.000000,0.000000,0.000000,0.00
3,22200,Paubokol,0.0,433.333333,0.000000,0.0,0.0,0.000000,30.048202,0.000000,...,0.0,7.101012,0.000000,0.000000,35.535813,28.965517,0.000000,0.000000,0.000000,0.00
4,22205,Paubokol,0.0,247.619048,0.000000,0.0,0.0,0.000000,80.128540,0.000000,...,0.0,0.000000,0.000000,30.549898,111.049417,0.000000,0.000000,248.886158,0.000000,75.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,24866,Todanara,0.0,15.873016,0.000000,0.0,0.0,0.000000,2.086681,0.259289,...,0.0,0.532576,0.000000,0.000000,0.000000,2.758621,0.000000,0.000000,0.000000,0.00
877,24867,Todanara,0.0,12.698413,0.000000,0.0,0.0,0.000000,6.260042,0.648223,...,0.0,0.236700,NaN,NaN,NaN,NaN,NaN,0.000000,2.470661,NaN
878,24869,Todanara,0.0,25.396825,0.000000,0.0,0.0,0.000000,0.417336,0.000000,...,0.0,1.183502,16.739203,0.000000,3.701647,6.896552,14.112334,23.045015,0.000000,3.75
879,24887,Labalimut,0.0,22.222222,0.000000,0.0,0.0,0.000000,2.086681,0.648223,...,0.0,0.000000,0.000000,0.000000,3.701647,2.758621,0.000000,5.761254,0.000000,0.00
880,24957,Todanara,NaN,5.952381,NaN,NaN,NaN,NaN,0.834672,0.064822,...,NaN,NaN,NaN,NaN,0.000000,2.413793,NaN,0.000000,0.000000,0.00

In [50]:
kb_unit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 52 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   ID                                        881 non-null    int64
 1   Desa/Kelurahan                            881 non-null    object
 2   kg_Beras_Lokal_Sawah_Ladang_dalam_Rp_2    606 non-null    float64
 3   kg_Beras_Toko_2                           846 non-null    float64
 4   kg_Singkong_2                             648 non-null    float64
 5   kg_Jagung_Lokal_2                         663 non-null    float64
 6   kg_Jagung_Hibrida_2                       638 non-null    float64
 7   kg_Umbi-umbian_lain_2                     645 non-null    float64
 8   kg_Ikan_dan_Boga_Laut_Segar_2             827 non-null    float64
 9   kg_Ikan_dan_Boga_Laut_Kering_2            671 non-null    float64
 10  kg_Telor_2                                779 non-null    float64
 11  kg_Ayam_2                                 643 non-null    float64
 12  kg_Daging_Sapi_Kerbau_Kambing_Babi,dll_1  621 non-null    float64
 13  kg_Kacang-kacangan_2                      648 non-null    float64
 14  kg_Daun_Ubi_2                             639 non-null    float64
 15  kg_Kangkung_2                             782 non-null    float64
 16  kg_Kubis_2                                640 non-null    float64
 17  kg_Sawi_2                                 763 non-null    float64
 18  kg_Bayam_2                                727 non-null    float64
 19  kg_Wortel_2                               665 non-null    float64
 20  kg_Tomat_2                                699 non-null    float64
 21  kg_Timun_2                                653 non-null    float64
 22  kg_Labu_2                                 670 non-null    float64
 23  kg_Pepaya_2                               634 non-null    float64
 24  kg_Mangga_2                               627 non-null    float64
 25  kg_Pisang_2                               700 non-null    float64
 26  kg_Jeruk_2                                625 non-null    float64
 27  kg_Salak_2                                610 non-null    float64
 28  kg_Bawang_Merah_2                         839 non-null    float64
 29  kg_Bawang_Putih_2                         830 non-null    float64
 30  kg_Cabai_Besar_2                          647 non-null    float64
 31  kg_Cabai_Kecil_2                          681 non-null    float64
 32  kg_Gula_Pasir_2                           828 non-null    float64
 33  kg_Minyak_Kelapa_2                        605 non-null    float64
 34  kg_Minyak_Goreng_Kemasan_Toko_2           844 non-null    float64
 35  kg_Susu_Bubuk_UHT_2                       694 non-null    float64
 36  kg_Kental_Manis_2                         650 non-null    float64
 37  kg_Tahu_dan_Tempe_2                       724 non-null    float64
 38  butir_Kelapa_2                            631 non-null    float64
 39  bungkus_Bumbu_Kemasan_2                   716 non-null    float64
 40  400g_MSG_2                                785 non-null    float64
 41  ons_Lada_2                                654 non-null    float64
 42  ons_Kemiri_2                              627 non-null    float64
 43  botol_Kecap_2                             741 non-null    float64
 44  botol_Minuman_Kemasan_2                   623 non-null    float64
 45  botol_Minuman_Fermentasi_2                612 non-null    float64
 46  ons_Kopi_2                                804 non-null    float64
 47  bungkus_Teh_2                             807 non-null    float64
 48  bungkus_Mie_Instan_2                      717 non-null    float64
 49  bungkus_Rokok_Kemasan_2                   717 non-null    float64
 50  ons_Tembakau_2                            618 non-null    float64
 51  200g_Biskuit_Roti_Kue_Kemasan_2           686 non-null    float64
dtypes: float64(50), int64(1), object(1)
memory usage: 358.0+ KB

In [51]:
ktb_unit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              881 non-null    int64
 1   Desa/Kelurahan                  881 non-null    object
 2   kg_Beras_Lokal_Sawah_Ladang_1   613 non-null    float64
 3   kg_Singkong_1                   629 non-null    float64
 4   kg_Jagung_Lokal_1               682 non-null    float64
 5   kg_Jagung_Hibrida_1             605 non-null    float64
 6   kg_Umbi-umbian_lain_1           594 non-null    float64
 7   kg_Sorgum_1                     561 non-null    float64
 8   kg_Jewawut_Weteng_1             557 non-null    float64
 9   kg_Ikan_dan_Boga_Laut_Segar_1   599 non-null    float64
 10  kg_Ikan_dan_Boga_Laut_Kering_1  569 non-null    float64
 11  kg_Telor_1                      572 non-null    float64
 12  kg_Ayam_1                       575 non-null    float64
 13  kg_Kacang-kacangan_1            570 non-null    float64
 14  kg_Minyak_Kelapa_1              575 non-null    float64
 15  kg_Cabai_Besar_1                568 non-null    float64
 16  kg_Cabai_Kecil_1                586 non-null    float64
 17  ons_Kemiri_1                    571 non-null    float64
dtypes: float64(16), int64(1), object(1)
memory usage: 124.0+ KB

In [52]:
ktb_unit

,ID,Desa/Kelurahan,kg_Beras_Lokal_Sawah_Ladang_1,kg_Singkong_1,kg_Jagung_Lokal_1,kg_Jagung_Hibrida_1,kg_Umbi-umbian_lain_1,kg_Sorgum_1,kg_Jewawut_Weteng_1,kg_Ikan_dan_Boga_Laut_Segar_1,kg_Ikan_dan_Boga_Laut_Kering_1,kg_Telor_1,kg_Ayam_1,kg_Kacang-kacangan_1,kg_Minyak_Kelapa_1,kg_Cabai_Besar_1,kg_Cabai_Kecil_1,ons_Kemiri_1
0,22180,Lolong,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.000000,0.0,0.309703,0.000000,0.00000,0.0,0.215364,0.32496,0.389712
1,22190,Paubokol,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,NaN,0.0,0.000000,0.00000,0.000000
2,22195,Paubokol,100.0,150.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,22.298616,10.682848,0.00000,0.0,0.000000,0.00000,0.000000
3,22200,Paubokol,560.0,200.0,200.0,0.0,200.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.00000,0.0,0.000000,0.00000,0.000000
4,22205,Paubokol,400.0,400.0,50.0,0.0,20.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,NaN,0.0,0.000000,0.00000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,24866,Todanara,50.0,100.0,20.0,20.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.00000,0.0,0.000000,0.00000,0.000000
877,24867,Todanara,20.0,10.0,10.0,10.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,3.53307,0.0,0.000000,0.00000,0.000000
878,24869,Todanara,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.417336,0.0,0.000000,0.000000,0.00000,0.0,0.430728,0.00000,0.000000
879,24887,Labalimut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
880,24957,Todanara,100.0,0.0,100.0,100.0,0.0,40.0,0.0,0.000000,0.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
KEYS = ["ID", "Desa/Kelurahan"]

# 1) gabungkan KB & KTB
merged = pd.merge(kb_unit, ktb_unit, on=KEYS, how="outer")

# 2) kelompokkan kolom ukuran ke "base" (hapus _1/_2, dan khusus beras lokal: hapus _dalam_Rp)
measure_cols = [c for c in merged.columns if c not in KEYS]
groups = {}
for c in measure_cols:
    base = re.sub(r"_(?:1|2)$", "", c)  # buang _1/_2
    # normalisasi khusus Beras Lokal: ..._dalam_Rp -> (hapus)
    base = base.replace("_dalam_Rp", "") if base.startswith("kg_Beras_Lokal_Sawah_Ladang") else base
    groups.setdefault(base, []).append(c)

# 3) bentuk total_units: jumlahkan pasangan (ada _1 & _2), sisanya bawa apa adanya
total_units = merged[KEYS].copy()
for base, cols in groups.items():
    has_1 = any(col.endswith("_1") for col in cols)
    has_2 = any(col.endswith("_2") for col in cols)
    if has_1 and has_2:
        total_units["konsumsi_" + base] = merged[cols].fillna(0).sum(axis=1)
    else:
        total_units["konsumsi_" + base] = merged[cols[0]]

# 4) urutan: pasangan (KTB+KB) → KTB-only → KB-only
#    (pakai logika yang sama, tapi dihitung dari kb_unit/ktb_unit)
ktb_bases = {
    re.sub(r"_(?:1|2)$", "", c).replace("_dalam_Rp", "") if re.sub(r"_(?:1|2)$", "", c).startswith("kg_Beras_Lokal_Sawah_Ladang")
    else re.sub(r"_(?:1|2)$", "", c)
    for c in ktb_unit.columns if c not in KEYS
}
kb_bases = {
    re.sub(r"_(?:1|2)$", "", c).replace("_dalam_Rp", "") if re.sub(r"_(?:1|2)$", "", c).startswith("kg_Beras_Lokal_Sawah_Ladang")
    else re.sub(r"_(?:1|2)$", "", c)
    for c in kb_unit.columns if c not in KEYS
}

both     = sorted(ktb_bases & kb_bases)
ktb_only = sorted(ktb_bases - kb_bases)
kb_only  = sorted(kb_bases  - ktb_bases)

order = []
order += [f"konsumsi_{b}" for b in both]      # pasangan dulu
order += [f"konsumsi_{b}" for b in ktb_only]  # KTB-only
order += [f"konsumsi_{b}" for b in kb_only]   # KB-only

cols_final = KEYS + [c for c in order if c in total_units.columns]
total_units = total_units[cols_final]

In [54]:
total_units

,ID,Desa/Kelurahan,konsumsi_kg_Ayam,konsumsi_kg_Beras_Lokal_Sawah_Ladang,konsumsi_kg_Cabai_Besar,konsumsi_kg_Cabai_Kecil,konsumsi_kg_Ikan_dan_Boga_Laut_Kering,konsumsi_kg_Ikan_dan_Boga_Laut_Segar,konsumsi_kg_Jagung_Hibrida,konsumsi_kg_Jagung_Lokal,...,konsumsi_kg_Salak,konsumsi_kg_Sawi,konsumsi_kg_Susu_Bubuk_UHT,konsumsi_kg_Tahu_dan_Tempe,konsumsi_kg_Timun,konsumsi_kg_Tomat,konsumsi_kg_Wortel,konsumsi_ons_Kopi,konsumsi_ons_Lada,konsumsi_ons_Tembakau
0,22180,Lolong,0.000000,1.0,0.215364,0.324960,0.259289,0.417336,1.0,1.0,...,0.000000,0.977135,0.103093,0.666667,1.079797,0.756029,0.442654,3.331483,0.463049,0.000000
1,22190,Paubokol,20.511067,0.0,0.000000,0.000000,0.000000,30.048202,0.0,0.0,...,5.516227,17.588431,12.371134,64.000000,12.957564,9.072352,5.311850,111.049417,11.113169,0.000000
2,22195,Paubokol,10.682848,100.0,0.000000,0.000000,0.000000,10.016067,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,44.419767,0.000000,0.000000
3,22200,Paubokol,0.000000,560.0,0.000000,0.000000,0.000000,30.048202,0.0,200.0,...,0.000000,23.451241,0.000000,16.000000,1.079797,0.000000,5.311850,35.535813,0.000000,0.000000
4,22205,Paubokol,15.383301,400.0,0.000000,19.497612,0.000000,80.128540,0.0,50.0,...,0.000000,35.176861,12.371134,64.000000,0.000000,0.000000,15.935550,111.049417,27.782923,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,24866,Todanara,0.000000,50.0,0.000000,0.000000,0.259289,2.086681,20.0,20.0,...,0.000000,4.885675,0.000000,1.333333,0.000000,1.512059,0.000000,0.000000,0.000000,0.000000
877,24867,Todanara,0.000000,20.0,0.000000,0.000000,0.648223,6.260042,10.0,10.0,...,0.000000,2.931405,NaN,1.333333,0.000000,0.000000,0.000000,NaN,0.000000,2.470661
878,24869,Todanara,1.068285,0.0,0.430728,0.649920,0.000000,0.834672,0.0,0.5,...,0.919371,2.931405,0.309278,0.666667,5.398985,3.780147,0.885308,3.701647,0.000000,0.000000
879,24887,Labalimut,0.000000,0.0,0.000000,0.000000,0.648223,2.086681,0.0,0.0,...,0.000000,1.954270,0.000000,1.333333,0.000000,0.000000,0.442654,3.701647,1.852195,0.000000
880,24957,Todanara,0.000000,100.0,0.000000,0.000000,0.064822,0.834672,100.0,100.0,...,NaN,NaN,0.051546,0.000000,NaN,NaN,NaN,0.000000,NaN,0.000000

In [55]:
total_units.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 54 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   ID                                               881 non-null    int64
 1   Desa/Kelurahan                                   881 non-null    object
 2   konsumsi_kg_Ayam                                 881 non-null    float64
 3   konsumsi_kg_Beras_Lokal_Sawah_Ladang             881 non-null    float64
 4   konsumsi_kg_Cabai_Besar                          881 non-null    float64
 5   konsumsi_kg_Cabai_Kecil                          881 non-null    float64
 6   konsumsi_kg_Ikan_dan_Boga_Laut_Kering            881 non-null    float64
 7   konsumsi_kg_Ikan_dan_Boga_Laut_Segar             881 non-null    float64
 8   konsumsi_kg_Jagung_Hibrida                       881 non-null    float64
 9   konsumsi_kg_Jagung_Lokal                         881 non-null    float64
 10  konsumsi_kg_Kacang-kacangan                      881 non-null    float64
 11  konsumsi_kg_Minyak_Kelapa                        881 non-null    float64
 12  konsumsi_kg_Singkong                             881 non-null    float64
 13  konsumsi_kg_Telor                                881 non-null    float64
 14  konsumsi_kg_Umbi-umbian_lain                     881 non-null    float64
 15  konsumsi_ons_Kemiri                              881 non-null    float64
 16  konsumsi_kg_Jewawut_Weteng                       557 non-null    float64
 17  konsumsi_kg_Sorgum                               561 non-null    float64
 18  konsumsi_200g_Biskuit_Roti_Kue_Kemasan           686 non-null    float64
 19  konsumsi_400g_MSG                                785 non-null    float64
 20  konsumsi_botol_Kecap                             741 non-null    float64
 21  konsumsi_botol_Minuman_Fermentasi                612 non-null    float64
 22  konsumsi_botol_Minuman_Kemasan                   623 non-null    float64
 23  konsumsi_bungkus_Bumbu_Kemasan                   716 non-null    float64
 24  konsumsi_bungkus_Mie_Instan                      717 non-null    float64
 25  konsumsi_bungkus_Rokok_Kemasan                   717 non-null    float64
 26  konsumsi_bungkus_Teh                             807 non-null    float64
 27  konsumsi_butir_Kelapa                            631 non-null    float64
 28  konsumsi_kg_Bawang_Merah                         839 non-null    float64
 29  konsumsi_kg_Bawang_Putih                         830 non-null    float64
 30  konsumsi_kg_Bayam                                727 non-null    float64
 31  konsumsi_kg_Beras_Toko                           846 non-null    float64
 32  konsumsi_kg_Daging_Sapi_Kerbau_Kambing_Babi,dll  621 non-null    float64
 33  konsumsi_kg_Daun_Ubi                             639 non-null    float64
 34  konsumsi_kg_Gula_Pasir                           828 non-null    float64
 35  konsumsi_kg_Jeruk                                625 non-null    float64
 36  konsumsi_kg_Kangkung                             782 non-null    float64
 37  konsumsi_kg_Kental_Manis                         650 non-null    float64
 38  konsumsi_kg_Kubis                                640 non-null    float64
 39  konsumsi_kg_Labu                                 670 non-null    float64
 40  konsumsi_kg_Mangga                               627 non-null    float64
 41  konsumsi_kg_Minyak_Goreng_Kemasan_Toko           844 non-null    float64
 42  konsumsi_kg_Pepaya                               634 non-null    float64
 43  konsumsi_kg_Pisang                               700 non-null    float64
 44  konsumsi_kg_Salak                                610 non-null    float64
 45  konsumsi_kg_Sawi                                 763 non-null    float64
 46  konsumsi_kg_Susu_Bubuk_UHT                       694 non-null    float64
 47  konsumsi_kg_Tahu_dan_Tempe                       724 non-null    float64
 48  konsumsi_kg_Timun                                653 non-null    float64
 49  konsumsi_kg_Tomat                                699 non-null    float64
 50  konsumsi_kg_Wortel                               665 non-null    float64
 51  konsumsi_ons_Kopi                                804 non-null    float64
 52  konsumsi_ons_Lada                                654 non-null    float64
 53  konsumsi_ons_Tembakau                            618 non-null    float64
dtypes: float64(52), int64(1), object(1)
memory usage: 371.8+ KB

In [56]:
total_units.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,881.0,NaN,NaN,NaN,23211.780931,699.271664,22180.0,22662.0,23141.0,23634.0,24957.0
Desa/Kelurahan,881,30,Muruona,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
konsumsi_kg_Ayam,881.0,NaN,NaN,NaN,2.049838,7.241536,0.0,0.0,0.0,0.0,107.683104
konsumsi_kg_Beras_Lokal_Sawah_Ladang,881.0,NaN,NaN,NaN,665.127867,13786.409293,0.0,0.0,0.0,10.0,357146.428571
konsumsi_kg_Cabai_Besar,881.0,NaN,NaN,NaN,5895.351163,174139.94374,0.0,0.0,0.0,0.0,5168743.13527
konsumsi_kg_Cabai_Kecil,881.0,NaN,NaN,NaN,17822.181227,371385.510259,0.0,0.0,0.0,0.64992,7799056.315601
konsumsi_kg_Ikan_dan_Boga_Laut_Kering,881.0,NaN,NaN,NaN,1.184843,6.664249,0.0,0.0,0.0,0.518578,155.573418
konsumsi_kg_Ikan_dan_Boga_Laut_Segar,881.0,NaN,NaN,NaN,1813178.699831,50678326.984735,0.0,1.669345,4.173361,12.520084,1502410266.469128
konsumsi_kg_Jagung_Hibrida,881.0,NaN,NaN,NaN,292.135358,5584.055759,0.0,0.0,0.0,0.0,131875.247264
konsumsi_kg_Jagung_Lokal,881.0,NaN,NaN,NaN,1363.086275,26339.804556,0.0,0.0,5.0,25.0,600000.0
konsumsi_kg_Kacang-kacangan,881.0,NaN,NaN,NaN,1.749011,20.678422,0.0,0.0,0.0,0.0,582.956473
konsumsi_kg_Minyak_Kelapa,881.0,NaN,NaN,NaN,1.15311,7.423835,0.0,0.0,0.0,0.0,120.372059
konsumsi_kg_Singkong,881.0,NaN,NaN,NaN,1410.348546,27920.832547,0.0,0.0,1.536334,10.0,768174.834844
konsumsi_kg_Telor,881.0,NaN,NaN,NaN,27582.113694,813866.590017,0.0,0.0,0.929109,2.322772,24156857.753414
konsumsi_kg_Umbi-umbian_lain,881.0,NaN,NaN,NaN,262.359127,5462.277208,0.0,0.0,0.0,1.0,127715.197957
konsumsi_ons_Kemiri,881.0,NaN,NaN,NaN,110609.075017,3282757.402147,0.0,0.0,0.0,0.0,97437647.116134
konsumsi_kg_Jewawut_Weteng,557.0,NaN,NaN,NaN,0.021544,0.333235,0.0,0.0,0.0,0.0,6.0
konsumsi_kg_Sorgum,561.0,NaN,NaN,NaN,0.167558,2.064258,0.0,0.0,0.0,0.0,40.0
konsumsi_200g_Biskuit_Roti_Kue_Kemasan,686.0,NaN,NaN,NaN,7.417274,24.708178,0.0,0.0,0.625,3.5,300.0
konsumsi_400g_MSG,785.0,NaN,NaN,NaN,112754.342022,2268961.187653,0.0,0.588062,2.940312,7.350779,52925663.040282
konsumsi_botol_Kecap,741.0,NaN,NaN,NaN,504.895881,10108.065063,0.0,0.0,0.473401,1.183502,248540.387005
konsumsi_botol_Minuman_Fermentasi,612.0,NaN,NaN,NaN,0.314484,3.347743,0.0,0.0,0.0,0.0,73.319756
konsumsi_botol_Minuman_Kemasan,623.0,NaN,NaN,NaN,2.41066,11.676784,0.0,0.0,0.0,0.0,140.609307
konsumsi_bungkus_Bumbu_Kemasan,716.0,NaN,NaN,NaN,92859.243739,2261096.659588,0.0,0.0,0.0,3.010537,60210767.686904
konsumsi_bungkus_Mie_Instan,717.0,NaN,NaN,NaN,16.105421,44.480919,0.0,0.0,2.257973,10.160881,677.392041
konsumsi_bungkus_Rokok_Kemasan,717.0,NaN,NaN,NaN,87106119.317492,2323706794.299408,0.0,0.0,1.152251,15.363343,62221540029.190353
konsumsi_bungkus_Teh,807.0,NaN,NaN,NaN,9486.552544,151100.873132,0.0,2.413793,2.758621,11.034483,2896580.689655
konsumsi_butir_Kelapa,631.0,NaN,NaN,NaN,770.608856,19329.784034,0.0,0.0,0.0,0.0,485559.601845
konsumsi_kg_Bawang_Merah,839.0,NaN,NaN,NaN,46206.359673,773188.976667,0.0,0.742464,1.23744,2.969856,14849291.689353
konsumsi_kg_Bawang_Putih,830.0,NaN,NaN,NaN,13365.846856,228838.237878,0.0,0.204261,0.464694,1.225565,4902264.84466
konsumsi_kg_Bayam,727.0,NaN,NaN,NaN,308.813189,5668.790403,0.0,0.0,0.0,2.161928,108097.502973
konsumsi_kg_Beras_Toko,846.0,NaN,NaN,NaN,9436705.108322,246777951.333743,0.0,11.904762,25.396825,67.261905,7142857857.142858
"konsumsi_kg_Daging_Sapi_Kerbau_Kambing_Babi,dll",621.0,NaN,NaN,NaN,23.30512,575.284552,0.0,0.0,0.0,0.0,14336.16171
konsumsi_kg_Daun_Ubi,639.0,NaN,NaN,NaN,11.475449,258.1863,0.0,0.0,0.0,0.0,6518.706818
konsumsi_kg_Gula_Pasir,828.0,NaN,NaN,NaN,17884.425479,362491.365185,0.0,1.049593,2.309105,10.548412,9446362.214642
konsumsi_kg_Jeruk,625.0,NaN,NaN,NaN,0.642232,7.00324,0.0,0.0,0.0,0.0,169.779287
konsumsi_kg_Kangkung,782.0,NaN,NaN,NaN,17645.979191,484827.575508,0.0,0.480117,2.146408,5.648441,13556272.02892
konsumsi_kg_Kental_Manis,650.0,NaN,NaN,NaN,2.062745,7.860552,0.0,0.0,0.0,0.773455,111.377523
konsumsi_kg_Kubis,640.0,NaN,NaN,NaN,7.513093,158.518929,0.0,0.0,0.0,0.0,4005.847953
konsumsi_kg_Labu,670.0,NaN,NaN,NaN,2.595848,11.564709,0.0,0.0,0.0,0.0,148.929569
konsumsi_kg_Mangga,627.0,NaN,NaN,NaN,0.382915,1.938632,0.0,0.0,0.0,0.0,26.030369
konsumsi_kg_Minyak_Goreng_Kemasan_Toko,844.0,NaN,NaN,NaN,220273.352652,3920006.159234,0.0,1.715707,3.838895,12.417432,92648245.689285
konsumsi_kg_Pepaya,634.0,NaN,NaN,NaN,0.914787,6.197003,0.0,0.0,0.0,0.0,101.287191
konsumsi_kg_Pisang,700.0,NaN,NaN,NaN,3.276933,20.769372,0.0,0.0,0.0,0.817394,441.39284
konsumsi_kg_Salak,610.0,NaN,NaN,NaN,0.199323,1.3217,0.0,0.0,0.0,0.0,22.064908
konsumsi_kg_Sawi,763.0,NaN,NaN,NaN,268.22248,7076.782256,0.0,0.0,0.977135,3.90854,195428.962283
konsumsi_kg_Susu_Bubuk_UHT,694.0,NaN,NaN,NaN,1.878131,9.184732,0.0,0.0,0.0,0.463918,156.804124
konsumsi_kg_Tahu_dan_Tempe,724.0,NaN,NaN,NaN,6.80267,22.74798,0.0,0.0,1.333333,3.333333,448.0
konsumsi_kg_Timun,653.0,NaN,NaN,NaN,9923.284144,253536.041306,0.0,0.0,0.0,0.0,6478827.34046
konsumsi_kg_Tomat,699.0,NaN,NaN,NaN,6715.033075,171661.151139,0.0,0.0,0.756029,2.268088,4536186.890451
konsumsi_kg_Wortel,665.0,NaN,NaN,NaN,67.453038,1716.524281,0.0,0.0,0.0,0.309858,44265.858085
konsumsi_ons_Kopi,804.0,NaN,NaN,NaN,222639.473372,3990359.58516,0.0,1.850824,5.552471,22.209883,88839600.222099
konsumsi_ons_Lada,654.0,NaN,NaN,NaN,3.835376,72.490793,0.0,0.0,0.0,0.463049,1852.38007
konsumsi_ons_Tembakau,618.0,NaN,NaN,NaN,401.907967,9938.513168,0.0,0.0,0.0,0.0,247068.56084

# kalori

In [57]:
# ========= 1) PETA KALORI / SATUAN =========
# KUNCI: pakai format 'satuan_Nama' (tanpa prefix 'konsumsi_')
# NILAI: kalori per 1 <satuan> persis seperti di kolom.
# - Jika kolom kg_... → nilai harus "kcal per kg"
# - Jika kolom ons_... → nilai "kcal per ons (100 g)"
# - Jika kolom 200g_/400g_ → nilai "kcal per 200 g / 400 g"
# - Jika botol/bungkus/butir/sachet → "kcal per 1 unit tsb"
kcal_per_unit = {
    # --- contoh dari daftar kamu (ANGKA CONTOH, ganti dengan angka finalmu) ---
    "kg_Timun": 80,                        # (sudah kamu sesuaikan ke per kg)
    "kg_Tomat": 240,
    "kg_Kangkung": 280,
    "kg_Sawi": 280,
    "kg_Labu": 300,
    "bungkus_Mie_Instan": 300,
    "ons_Lada": 333,                       # per ons (100 g)
    "kg_Wortel": 360,
    "kg_Cabai_Besar": 360,                 # contoh: 50 kcal/100g → 500 per kg (kamu tulis 360 di daftar contoh)
    "kg_Jeruk": 450,
    "kg_Pepaya": 460,
    "kg_Bawang_Merah": 460,
    "kg_Kubis": 510,
    "kg_Mangga": 520,
    "botol_Kecap": 540,
    "kg_Daun_Ubi": 620,
    "ons_Kemiri": 675,
    "kg_Salak": 770,
    "200g_Biskuit_Roti_Kue_Kemasan": 916,  # per 200 g
    "kg_Ikan_dan_Boga_Laut_Segar": 1000,
    "kg_Pisang": 1080,
    "kg_Bawang_Putih": 1120,
    "kg_Tahu_dan_Tempe": 1200,
    "kg_Cabai_Kecil": 1200,
    "kg_Umbi-umbian_lain": 1300,
    "kg_Daging_Sapi_Kerbau_Kambing_Babi,dll": 1500,
    "kg_Singkong": 1540,
    "kg_Telor": 1540,
    "kg_Ikan_dan_Boga_Laut_Kering": 2500,
    "kg_Ayam": 2980,
    "kg_Kental_Manis": 3430,
    "kg_Beras_Toko": 3570,
    "kg_Jewawut_Weteng": 3640,
    "kg_Jagung_Lokal": 3660,
    "kg_Jagung_Hibrida": 3660,
    "kg_Beras_Lokal_Sawah_Ladang": 3760,
    "kg_Kacang-kacangan": 5000,
    "kg_Susu_Bubuk_UHT": 5130,
    "kg_Minyak_Goreng_Kemasan_Toko": 8181,
    "kg_Minyak_Kelapa": 8700,
    "kg_Gula_Pasir": 3940,

    # --- unit lain di daftar contohmu ---
    "bungkus_Bumbu_Kemasan": 0,
    "400g_MSG": 0,
    "bungkus_Teh": 0,
    "botol_Minuman_Kemasan": 70,
    "botol_Minuman_Fermentasi": 70,
    "bungkus_Rokok_Kemasan": 100,
    "butir_Kelapa": 159,
    "kg_Bayam": 160,
    "sachet_Kopi": 241,   # isi sesuai kebutuhan
    # dst... lengkapi semua item yang muncul di total_units
}

In [58]:
def konsumsi_ke_kalori(total_units: pd.DataFrame) -> pd.DataFrame:
    id_cols = ["ID", "Desa/Kelurahan"]
    kons_cols = [c for c in total_units.columns if c.startswith("konsumsi_")]

    out = total_units[id_cols].copy()

    for c in kons_cols:
        unit_name = re.sub(r"^konsumsi_", "", c)
        factor = kcal_per_unit.get(unit_name)

        if factor is None:
            # skip kalau belum ada faktor kalori
            continue

        out["kalori_" + unit_name] = total_units[c].fillna(0) * factor

    kal_cols = [k for k in out.columns if k.startswith("kalori_")]
    out["Total_Kalori"] = out[kal_cols].sum(axis=1, min_count=1)

    # urutkan & bulatkan 2 desimal
    out = out[["ID", "Desa/Kelurahan", "Total_Kalori"] + sorted(kal_cols)]
    out = out.round(2)

    return out

In [59]:
# ========= 3) PAKAI =========
kalori_units = konsumsi_ke_kalori(total_units)

In [60]:
kalori_units

,ID,Desa/Kelurahan,Total_Kalori,kalori_200g_Biskuit_Roti_Kue_Kemasan,kalori_400g_MSG,kalori_botol_Kecap,kalori_botol_Minuman_Fermentasi,kalori_botol_Minuman_Kemasan,kalori_bungkus_Bumbu_Kemasan,kalori_bungkus_Mie_Instan,...,kalori_kg_Singkong,kalori_kg_Susu_Bubuk_UHT,kalori_kg_Tahu_dan_Tempe,kalori_kg_Telor,kalori_kg_Timun,kalori_kg_Tomat,kalori_kg_Umbi-umbian_lain,kalori_kg_Wortel,kalori_ons_Kemiri,kalori_ons_Lada
0,22180,Lolong,82116.14,916.0,0.0,159.77,0.00,0.00,0.0,846.74,...,7454.89,528.87,800.0,953.89,86.38,181.45,1660.28,159.36,263.06,154.20
1,22190,Paubokol,1924275.41,0.0,0.0,5751.82,0.00,0.00,0.0,0.00,...,0.00,63463.92,76800.0,34339.87,1036.61,2177.36,0.00,1912.27,0.00,3700.69
2,22195,Paubokol,1470538.82,0.0,0.0,0.00,0.00,0.00,0.0,0.00,...,231000.00,0.00,0.0,34339.87,0.00,0.00,0.00,0.00,0.00,0.00
3,22200,Paubokol,5328784.35,0.0,0.0,3834.55,0.00,0.00,0.0,0.00,...,308000.00,0.00,19200.0,34339.87,86.38,0.00,260000.00,1912.27,0.00,0.00
4,22205,Paubokol,4250147.36,68700.0,0.0,0.00,2138.49,0.00,0.0,0.00,...,616000.00,63463.92,76800.0,57233.11,0.00,0.00,26000.00,5736.80,0.00,9251.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,24866,Todanara,607289.40,0.0,0.0,287.59,0.00,0.00,0.0,0.00,...,154000.00,0.00,1600.0,3100.13,0.00,362.89,0.00,0.00,0.00,0.00
877,24867,Todanara,263289.83,0.0,0.0,127.82,0.00,0.00,0.0,0.00,...,15400.00,0.00,1600.0,953.89,0.00,0.00,0.00,0.00,0.00,0.00
878,24869,Todanara,185344.98,3435.0,0.0,639.09,0.00,1171.74,0.0,4233.70,...,0.00,1586.60,800.0,3100.13,431.92,907.24,0.00,318.71,0.00,0.00
879,24887,Labalimut,130503.89,0.0,0.0,0.00,0.00,0.00,0.0,0.00,...,0.00,0.00,1600.0,953.89,0.00,0.00,0.00,159.36,0.00,616.78
880,24957,Todanara,1141102.67,0.0,0.0,0.00,0.00,0.00,0.0,0.00,...,0.00,264.43,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [61]:
kalori_units.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 52 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   ID                                             881 non-null    int64
 1   Desa/Kelurahan                                 881 non-null    object
 2   Total_Kalori                                   881 non-null    float64
 3   kalori_200g_Biskuit_Roti_Kue_Kemasan           881 non-null    float64
 4   kalori_400g_MSG                                881 non-null    float64
 5   kalori_botol_Kecap                             881 non-null    float64
 6   kalori_botol_Minuman_Fermentasi                881 non-null    float64
 7   kalori_botol_Minuman_Kemasan                   881 non-null    float64
 8   kalori_bungkus_Bumbu_Kemasan                   881 non-null    float64
 9   kalori_bungkus_Mie_Instan                      881 non-null    float64
 10  kalori_bungkus_Rokok_Kemasan                   881 non-null    float64
 11  kalori_bungkus_Teh                             881 non-null    float64
 12  kalori_butir_Kelapa                            881 non-null    float64
 13  kalori_kg_Ayam                                 881 non-null    float64
 14  kalori_kg_Bawang_Merah                         881 non-null    float64
 15  kalori_kg_Bawang_Putih                         881 non-null    float64
 16  kalori_kg_Bayam                                881 non-null    float64
 17  kalori_kg_Beras_Lokal_Sawah_Ladang             881 non-null    float64
 18  kalori_kg_Beras_Toko                           881 non-null    float64
 19  kalori_kg_Cabai_Besar                          881 non-null    float64
 20  kalori_kg_Cabai_Kecil                          881 non-null    float64
 21  kalori_kg_Daging_Sapi_Kerbau_Kambing_Babi,dll  881 non-null    float64
 22  kalori_kg_Daun_Ubi                             881 non-null    float64
 23  kalori_kg_Gula_Pasir                           881 non-null    float64
 24  kalori_kg_Ikan_dan_Boga_Laut_Kering            881 non-null    float64
 25  kalori_kg_Ikan_dan_Boga_Laut_Segar             881 non-null    float64
 26  kalori_kg_Jagung_Hibrida                       881 non-null    float64
 27  kalori_kg_Jagung_Lokal                         881 non-null    float64
 28  kalori_kg_Jeruk                                881 non-null    float64
 29  kalori_kg_Jewawut_Weteng                       881 non-null    float64
 30  kalori_kg_Kacang-kacangan                      881 non-null    float64
 31  kalori_kg_Kangkung                             881 non-null    float64
 32  kalori_kg_Kental_Manis                         881 non-null    float64
 33  kalori_kg_Kubis                                881 non-null    float64
 34  kalori_kg_Labu                                 881 non-null    float64
 35  kalori_kg_Mangga                               881 non-null    float64
 36  kalori_kg_Minyak_Goreng_Kemasan_Toko           881 non-null    float64
 37  kalori_kg_Minyak_Kelapa                        881 non-null    float64
 38  kalori_kg_Pepaya                               881 non-null    float64
 39  kalori_kg_Pisang                               881 non-null    float64
 40  kalori_kg_Salak                                881 non-null    float64
 41  kalori_kg_Sawi                                 881 non-null    float64
 42  kalori_kg_Singkong                             881 non-null    float64
 43  kalori_kg_Susu_Bubuk_UHT                       881 non-null    float64
 44  kalori_kg_Tahu_dan_Tempe                       881 non-null    float64
 45  kalori_kg_Telor                                881 non-null    float64
 46  kalori_kg_Timun                                881 non-null    float64
 47  kalori_kg_Tomat                                881 non-null    float64
 48  kalori_kg_Umbi-umbian_lain                     881 non-null    float64
 49  kalori_kg_Wortel                               881 non-null    float64
 50  kalori_ons_Kemiri                              881 non-null    float64
 51  kalori_ons_Lada                                881 non-null    float64
dtypes: float64(50), int64(1), object(1)
memory usage: 358.0+ KB

In [62]:
kalori_units.to_csv("kalori_konsumsi.csv", index=False)

### asal_bahan

In [76]:
KEYS = ["ID", "Desa/Kelurahan"]

# --- 1) helper untuk membersihkan angka semicolon ---
num_pat = re.compile(r'-?\d+(?:[.,]\d+)?')

def parse_sum(cell):
    if pd.isna(cell): 
        return np.nan
    nums = num_pat.findall(str(cell))
    if not nums:
        return np.nan
    return sum(float(x.replace(',', '.')) for x in nums)

def coerce_cols(df, cols):
    df2 = df.copy()
    for c in cols:
        if c in df2.columns:
            df2[c] = df2[c].apply(parse_sum)
    return df2

In [77]:
# --- 2) daftar kolom yang akan dipakai per komoditas (pakai kandidat biar tahan variasi nama) ---
P_MAP = {
    "beras":       ["Beras_Lokal_(Sawah/Ladang_dalam_Kg)"],
    "jagung":      ["Jagung_Lokal", "Jagung_Hibrida"],
    "singkong":    ["Singkong"],
    "ikan_segar":  ["Ikan_dan_Boga_Laut_Segar"],
    "telor":       ["Telor"],
    "daging":      ["Daging_(Sapi/Kerbau/Kambing/Babi,dll)"],
}
KB_MAP = {
    "beras":       ["Beras_Lokal_(Sawah/Ladang_dalam_Rp)", "Beras_Toko"],
    "jagung":      ["Jagung_Lokal.2", "Jagung_Hibrida.2"],
    "singkong":    ["Singkong.2"],
    "ikan_segar":  ["Ikan_dan_Boga_Laut_Segar.2"],
    "telor":       ["Telor.2"],
    "daging":      ["Daging_(Sapi/Kerbau/Kambing/Babi,dll).2",
                    "Daging_(Sapi/Kerbau/Kambing/Babi,dll).1",
                    "Daging_(Sapi/Kerbau/Kambing/Babi,dll)"],
}
KTB_MAP = {
    "beras":       ["Beras_Lokal_(Sawah/Ladang)"],
    "jagung":      ["Jagung_Lokal.1", "Jagung_Hibrida.1"],
    "singkong":    ["Singkong.1"],
    "ikan_segar":  ["Ikan_dan_Boga_Laut_Segar.1"],
    "telor":       ["Telor.1"],
    "daging":      ["Daging_(Sapi/Kerbau/Kambing/Babi,dll).1",
                    "Daging_(Sapi/Kerbau/Kambing/Babi,dll)"],
}

In [78]:
# kumpulkan semua kolom yang perlu dibersihkan
all_cols = set(sum(P_MAP.values(), [])) | set(sum(KB_MAP.values(), [])) | set(sum(KTB_MAP.values(), []))

In [79]:
# --- 3) bersihkan hanya kolom yang relevan ---
p_6_num   = coerce_cols(df_p,   all_cols)
kb_6_num  = coerce_cols(df_kb,  all_cols)
ktb_6_num = coerce_cols(df_ktb, all_cols)

In [80]:
p_6_num.to_csv("produksi_6_kategori.csv", index=False)
kb_6_num.to_csv("konsumsi_beli_6_kategori.csv", index=False)
ktb_6_num.to_csv("konsumsi_tidak_beli_6_kategori.csv", index=False)

In [67]:
# --- 4) util untuk cek "ada nilai > 0 di salah satu kolom kandidat" ---
def any_pos(df, cols, base_index):
    cols = [c for c in cols if c in df.columns]
    if not cols:
        return pd.Series(False, index=base_index)
    return df[cols].fillna(0).gt(0).any(axis=1).reindex(base_index, fill_value=False)

In [68]:
# --- 5) hitung skor ---
p   = p_num.set_index(KEYS)
kb  = kb_num.set_index(KEYS)
ktb = ktb_num.set_index(KEYS)
base_index = p.index.union(kb.index).union(ktb.index)

scores = {}

In [69]:
# BERAS: 100 kalau produksi / tidak beli / beli "Beras Lokal (Rp)"; 60 kalau hanya beli Beras Toko
beras_100 = (any_pos(ktb, KTB_MAP["beras"], base_index) |
             any_pos(p,   P_MAP["beras"],   base_index) |
             any_pos(kb,  ["Beras_Lokal_(Sawah/Ladang_dalam_Rp)"], base_index))
beras_60  = (~beras_100) & any_pos(kb, ["Beras_Toko"], base_index)
scores["beras"] = np.select([beras_100, beras_60], [100, 60], default=np.nan)

# JAGUNG
jagung_100 = any_pos(ktb, KTB_MAP["jagung"], base_index) | any_pos(p, P_MAP["jagung"], base_index)
jagung_60  = (~jagung_100) & any_pos(kb, KB_MAP["jagung"], base_index)
scores["jagung"] = np.select([jagung_100, jagung_60], [100, 60], default=np.nan)

# SINGKONG
singkong_100 = any_pos(ktb, KTB_MAP["singkong"], base_index) | any_pos(p, P_MAP["singkong"], base_index)
singkong_60  = (~singkong_100) & any_pos(kb, KB_MAP["singkong"], base_index)
scores["singkong"] = np.select([singkong_100, singkong_60], [100, 60], default=np.nan)

# IKAN SEGAR
ikan_100 = any_pos(ktb, KTB_MAP["ikan_segar"], base_index) | any_pos(p, P_MAP["ikan_segar"], base_index)
ikan_60  = (~ikan_100) & any_pos(kb, KB_MAP["ikan_segar"], base_index)
scores["ikan_segar"] = np.select([ikan_100, ikan_60], [100, 60], default=np.nan)

# TELOR
telor_100 = any_pos(ktb, KTB_MAP["telor"], base_index) | any_pos(p, P_MAP["telor"], base_index)
telor_60  = (~telor_100) & any_pos(kb, KB_MAP["telor"], base_index)
scores["telor"] = np.select([telor_100, telor_60], [100, 60], default=np.nan)

# DAGING
daging_100 = any_pos(ktb, KTB_MAP["daging"], base_index) | any_pos(p, P_MAP["daging"], base_index)
daging_60  = (~daging_100) & any_pos(kb, KB_MAP["daging"], base_index)
scores["daging"] = np.select([daging_100, daging_60], [100, 60], default=np.nan)

In [70]:
# --- 6) rakit dataframe hasil ---
asal_bahan = (pd.DataFrame({
    "ID": [i[0] for i in base_index],
    "Desa/Kelurahan": [i[1] for i in base_index],
    **scores
})
.sort_values(["Desa/Kelurahan", "ID"])
.reset_index(drop=True))

In [71]:
asal_bahan

        ID Desa/Kelurahan  beras  jagung  singkong  ikan_segar  telor  daging
0    22297      Balauring   60.0   100.0       NaN       100.0    NaN     NaN
1    22298      Balauring  100.0   100.0      60.0        60.0    NaN     NaN
2    22300      Balauring   60.0    60.0      60.0        60.0    NaN     NaN
3    22301      Balauring  100.0   100.0     100.0        60.0    NaN     NaN
4    22303      Balauring  100.0   100.0       NaN        60.0    NaN     NaN
..     ...            ...    ...     ...       ...         ...    ...     ...
876  24322      Wuakerong   60.0   100.0     100.0       100.0   60.0     NaN
877  24323      Wuakerong   60.0    60.0       NaN        60.0   60.0     NaN
878  24324      Wuakerong   60.0    60.0      60.0        60.0   60.0    60.0
879  24325      Wuakerong  100.0   100.0     100.0        60.0  100.0     NaN
880  24326      Wuakerong   60.0    60.0      60.0        60.0    NaN     NaN

[881 rows x 8 columns]

In [72]:
asal_bahan.isna().sum()

ID                  0
Desa/Kelurahan      0
beras              23
jagung            109
singkong          321
ikan_segar         44
telor             243
daging            728
dtype: int64

In [73]:
cols6 = ["beras", "jagung", "singkong", "ikan_segar", "telor", "daging"]

# berapa kategori yang punya skor (bukan NaN)
asal_bahan["n_kategori_terisi"] = asal_bahan[cols6].notna().sum(axis=1)

# rata-rata dari skor yang tersedia; jika semuanya NaN ⇒ hasil NaN
asal_bahan["rata_rata_6"] = asal_bahan[cols6].mean(axis=1, skipna=True).round(1)

asal_bahan

,ID,Desa/Kelurahan,beras,jagung,singkong,ikan_segar,telor,daging,n_kategori_terisi,rata_rata_6
0,22297,Balauring,60.0,100.0,NaN,100.0,NaN,NaN,3,86.7
1,22298,Balauring,100.0,100.0,60.0,60.0,NaN,NaN,4,80.0
2,22300,Balauring,60.0,60.0,60.0,60.0,NaN,NaN,4,60.0
3,22301,Balauring,100.0,100.0,100.0,60.0,NaN,NaN,4,90.0
4,22303,Balauring,100.0,100.0,NaN,60.0,NaN,NaN,3,86.7
...,...,...,...,...,...,...,...,...,...,...
876,24322,Wuakerong,60.0,100.0,100.0,100.0,60.0,NaN,5,84.0
877,24323,Wuakerong,60.0,60.0,NaN,60.0,60.0,NaN,4,60.0
878,24324,Wuakerong,60.0,60.0,60.0,60.0,60.0,60.0,6,60.0
879,24325,Wuakerong,100.0,100.0,100.0,60.0,100.0,NaN,5,92.0
880,24326,Wuakerong,60.0,60.0,60.0,60.0,NaN,NaN,4,60.0