In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("data_rumah_tangga_all.csv")

In [14]:
df.to_csv("data_all.csv", index=False)

In [3]:
df.head()

,#,ID,Nama Kepala Keluarga,Nomor Kartu Keluarga,Tanggal Pendataan,Dusun,Desa/Kelurahan,Kecamatan,Kabupaten,Propinsi,...,Apakah pernah dapat bantuan dari pemerintah?,"Kalau iya, apa bentuk bantuan tersebut?",Jumlah difabel (berkebutuhan khusus),Jenis Difabel,Memiliki anak usia kurang dari 5 tahun,Tinggi badan anak,Berat badan anak,Apakah anak mengalami kasus gizi buruk?,Apakah anak mengalami kekurangan gizi?,SourceFile
0,1,22180,Natalia Benga Blolong,5.313011e+15,2024-09-23 00:00:00,A Arubala,Lolong,Nagawutung,Lembata,Nusa Tenggara Timur,...,Pernah;,Tunai;,0;,Tidak ada;,Tidak ada;,0;,0;,Tidak ada;,Tidak ada;,1-400.xlsx
1,2,22190,Marianus Nurak,5.313052e+15,2024-10-07 00:00:00,Alapnimo,Paubokol,Nubatukan,Lembata,Nusa Tenggara Timur,...,Pernah;,Tunai;,0;,Tidak ada;,Ada;,76;,"8,7;",Tidak ada;,Tidak ada;,1-400.xlsx
2,3,22195,Viktor Gelak,5.313052e+15,2024-10-07 00:00:00,Alapnimo,Paubokol,Nubatukan,Lembata,Nusa Tenggara Timur,...,Pernah;,Tunai;,0;,Tidak ada;,Tidak ada;,0;,0;,Tidak ada;,Tidak ada;,1-400.xlsx
3,4,22200,Yoseph Kujo,5.313051e+15,2024-10-08 00:00:00,Alapnimo,Paubokol,Nubatukan,Lembata,Nusa Tenggara Timur,...,Pernah;,Tunai;,0;,Tidak ada;,Ada;,97;,"15,2;",Tidak;,Tidak;,1-400.xlsx
4,5,22205,Hendrikus Laran Ujan,5.313052e+15,2024-10-08 00:00:00,Alapnimo,Paubokol,Nubatukan,Lembata,Nusa Tenggara Timur,...,Pernah;,Tunai;,0;,Tidak ada;,Ada;,86;,10;,Tidak ada;,Ya;,1-400.xlsx

In [4]:
for i, col in enumerate(df.columns):
    print(f"{i}. {col}")

0. #
1. ID
2. Nama Kepala Keluarga
3. Nomor Kartu Keluarga
4. Tanggal Pendataan
5. Dusun
6. Desa/Kelurahan
7. Kecamatan
8. Kabupaten
9. Propinsi
10. Koordinat GPS
11. Sumber Listrik
12. Air Bersih
13. Kepemilikan Rumah
14. Nama
15. Jumlah Anggota Keluarga (jiwa)
16. Agama/ Kepercayaan
17. Pekerjaan
18. Pendapatan Bulanan (Rp.)
19. Beras Lokal (Sawah/Ladang dalam Kg)
20. Singkong
21. Jagung Lokal
22. Jagung Hibrida
23. Umbi-umbian lain
24. Sorgum
25. Jewawut/Weteng
26. Ikan dan Boga Laut Segar
27. Ikan dan Boga Laut Kering
28. Telor
29. Ayam
30. Daging (Sapi/Kerbau/Kambing/Babi,dll)
31. Kacang-kacangan
32. Minyak Kelapa
33. Cabai Besar
34. Cabai Kecil
35. Kemiri
36. Kunyit
37. Jahe
38. Sereh
39. Lengkuas
40. Jeruk Nipis
41. Mete
42. Lain-lain
43. Beras Lokal (Sawah/Ladang)
44. Singkong.1
45. Jagung Lokal.1
46. Jagung Hibrida.1
47. Umbi-umbian lain.1
48. Sorgum.1
49. Jewawut/Weteng.1
50. Ikan dan Boga Laut Segar.1
51. Ikan dan Boga Laut Kering.1
52. Telor.1
53. Ayam.1
54. Kacang-kacangan.1
55. Minyak Kelapa.1
56. Cabai Besar.1
57. Cabai Kecil.1
58. Kemiri.1
59. Kunyit.1
60. Jahe.1
61. Sereh.1
62. Lengkuas.1
63. Jeruk Nipis.1
64. Mete.1
65. Lain-lain.1
66. Beras Lokal (Sawah/Ladang dalam Rp)
67. Beras Toko
68. Singkong.2
69. Jagung Lokal.2
70. Jagung Hibrida.2
71. Umbi-umbian lain.2
72. Sorgum.2
73. Jewawut/Weteng.2
74. Ikan dan Boga Laut Segar.2
75. Ikan dan Boga Laut Kering.2
76. Telor.2
77. Ayam.2
78. Daging (Sapi/Kerbau/Kambing/Babi,dll).1
79. Tahu dan Tempe
80. Kacang-kacangan.2
81. Daun Ubi
82. Kangkung
83. Kubis
84. Sawi
85. Bayam
86. Brokoli
87. Wortel
88. Jantung Pisang
89. Kelor
90. Bunga dan Daun Pepaya
91. Pakis/Paku
92. Rebung
93. Mangga
94. Alpukat
95. Jeruk
96. Anggur
97. Buah Naga
98. Mete.2
99. Pisang
100. Rambutan
101. Nanas
102. Salak
103. Pepaya
104. Kelapa
105. Tomat
106. Timun
107. Labu
108. Kemangi
109. Minyak Kelapa.2
110. Minyak Goreng Kemasan/Toko
111. Bumbu Kemasan
112. MSG
113. Bawang Merah
114. Bawang Putih
115. Bawang Bombai
116. Cabai Besar.2
117. Cabai Kecil.2
118. Lada
119. Kemiri.2
120. Kunyit.2
121. Jahe.2
122. Sereh.2
123. Lengkuas.2
124. Jeruk Nipis.2
125. Jeruk Limau
126. Kecap
127. Saos
128. Susu (Bubuk/UHT)
129. Kental Manis
130. Minuman Kemasan
131. Minuman Fermentasi
132. Gula Pasir
133. Kopi
134. Teh
135. Mie Instan
136. Biskuit/Roti/Kue Kemasan
137. Rokok Kemasan
138. Tembakau
139. Pinang
140. Daun Sirih
141. Minyak Tanah
142. Gas
143. Biaya Listrik
144. BBM
145. Pupuk
146. Pestisida/Herbisida/Fungisida
147. Benih
148. Upah Buruh
149. Sewa Alat dan Mesin Pertanian
150. Transportasi
151. SPP (Iuran Sekolah)
152. Peralatan Sekolah/ATK
153. Transportasi/Kos/Jajan
154. Periksa Kesehatan
155. Iuran BPJS
156. Obat
157. Sanitary
158. Pulsa Ponsel
159. Dana Sosial (Arisan, Sumbangan, dll)
160. Nama Tanaman
161. Jenis Pangan
162. Varietas
163. Sumber Benih
164. Luas Lahan
165. Produktivitas
166. Pola Tanam
167. Sistem Budidaya
168. Pengairan
169. Kepemilikan Lahan
170. Jenis Pemanfaatan Lahan
171. Nama Tanaman.1
172. Jangka Tanam
173. Jenis Tanaman
174. Luas
175. Tegakan (batang)
176. Tahun Tanam
177. Produktivitas (Ton/Ha)
178. Pemanfaatan Hasil
179. Kepemilikan Lahan.1
180. Nama Tempat Lahan
181. Sapi
182. Kerbau
183. Kambing
184. Ayam.3
185. Bebek
186. Babi
187. Kuda
188. Jumlah Hasil (Kg)
189. Sumber Pakan
190. Kepemilikan
191. Jenis Ikan
192. Luas Kolam
193. Masa Panen
194. Sistem Budidaya.1
195. Pasca Panen
196. Pemanfaatan Hasil Panen
197. Kepemilikan Lahan.2
198. Nama Area Tangkap
199. Jenis Ikan.1
200. Jumlah Hasil
201. Pemanfaatan Hasil Tangkap
202. Januari
203. Februari
204. Maret
205. April
206. Mei
207. Juni
208. Juli
209. Agustus
210. September
211. Oktober
212. November
213. Desember
214. Januari.1
215. Februari.1
216. Maret.1
217. April.1
218. Mei.1
219. Juni.1
220. Juli.1
221. Agustus.1
222. September.1
223. Oktober.1
224. November.1
225. Desember.1
226. Januari.2
227. Februari.2
228. Maret.2
229. April.2
230. Mei.2
231. Juni.2
232. Juli.2
233. Agustus.2
234. September.2
235. Oktober.2
236. November.2
237. Desember.2
238. Nama Produk
239. Jenis Usaha
240. Jumlah Produksi
241. Proses Produksi
242. Pemanfaatan Hasil Produksi
243. Sumber Limbah
244. Pengolahan
245. Hasil Daur Ulang
246. Luas Lahan Usaha m2
247. Luas Lahan Rumah m2
248. Luas Bangunan Rumah m2
249. Luas Bangunan Usaha m2
250. Mesin dan Alat Kerja
251. Jumlah (unit)
252. Apakah pernah ada bayi yang meninggal?
253. Jika ada, berapa jumlahnya?
254. Apakah balita selalu diperiksa ke Posyandu?
255. Jumlah Lansia
256. Anggota keluarga yang sering sakit
257. Jenis penyakit yang sering diderita
258. Kemana biasa berobat?
259. Apakah pernah dapat bantuan dari pemerintah?
260. Kalau iya, apa bentuk bantuan tersebut?
261. Jumlah difabel (berkebutuhan khusus)
262. Jenis Difabel
263. Memiliki anak usia kurang dari 5 tahun
264. Tinggi badan anak
265. Berat badan anak
266. Apakah anak mengalami kasus gizi buruk?
267. Apakah anak mengalami kekurangan gizi?
268. SourceFile

# Pilar 1

### I.2.1.1 Luas Tanah yang Dikuasai

In [5]:
data_pertanian = df.iloc[:, 160:171]

In [6]:
data_pertanian['ID'] = df['ID']
data_pertanian['Desa/Kelurahan'] = df['Desa/Kelurahan']

In [7]:
data_pertanian

,Nama Tanaman,Jenis Pangan,Varietas,Sumber Benih,Luas Lahan,Produktivitas,Pola Tanam,Sistem Budidaya,Pengairan,Kepemilikan Lahan,Jenis Pemanfaatan Lahan,ID,Desa/Kelurahan
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22180,Lolong
1,Jagung ; Ubi Kayu; Padi; Porang;,Lokal; Tidak ada; Lokal; Tidak ada;,; Umbi-umbian; ; ;,Tangkar Sendiri; Tangkar Sendiri; Tangkar Send...,0.5; 0.5; 0.5; 0.5;,0.2; 0.2; 0.2; ;,1 kali setahun; 1 kali setahun; 1 kali setahun...,Organik; Organik; Organik; Organik;,Tadah Hujan; Tadah Hujan; Tadah Hujan; Tadah H...,Milik Pribadi; Milik Pribadi; Milik Pribadi; M...,Ladang; Ladang; Ladang; Ladang;,22190,Paubokol
2,Padi; Jagung ;,Lokal; Lokal;,; ;,Tangkar Sendiri; Tangkar Sendiri;,0.007; 0.007;,0.1; 0.1;,1 kali setahun; 1 kali setahun;,Organik; Organik;,Tadah Hujan; Tadah Hujan;,Milik Pribadi; Milik Pribadi;,Ladang; Ladang;,22195,Paubokol
3,Padi; Jagung ; Ubi Kayu; Kacang Tanah;,Lokal; Lokal; Tidak ada; Lokal;,; ; ; ;,Tangkar Sendiri; Tangkar Sendiri; Tangkar Send...,0.5; ; ; ;,0.8; ; ; ;,1 kali setahun; 1 kali setahun; 1 kali setahun...,Organik; Organik; Organik; Organik;,Tadah Hujan; Tadah Hujan; Tadah Hujan; Tadah H...,Milik Pribadi; Milik Pribadi; Milik Pribadi; M...,Ladang; Ladang; Ladang; Ladang;,22200,Paubokol
4,Padi;,Lokal;,;,Tangkar Sendiri;,1;,0.8;,1 kali setahun;,Organik;,Tadah Hujan;,Milik Pribadi;,Ladang;,22205,Paubokol
...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,Padi; Jagung ; Ubi Kayu; Jagung ;,Lokal; Lokal; Lokal; Hibrida;,; ; Umbi-umbian; ;,Bantuan Pemerintah; Bantuan Pemerintah; Bantua...,0.5; 0.5; 0.5; 0.5;,0.04; 0.04; 0.04; 0.04;,1 kali setahun; 1 kali setahun; 1 kali setahun...,Organik; Organik; Tidak ada; Organik;,Tadah Hujan; Tadah Hujan; Tadah Hujan; Tadah H...,Milik Pribadi; Milik Pribadi; Milik Pribadi; M...,Ladang; Tidak ada; Tidak ada; Tidak ada;,24866,Todanara
877,Padi; Jagung ; Jagung ; Ubi Kayu;,Lokal; Lokal; Hibrida; Lokal;,; ; ; Umbi-umbian;,Tidak ada; Tidak ada; Tidak ada; Tidak ada;,1; 1; 1; 1;,0.06; 0.06; 0.06; 0.06;,1 kali setahun; 1 kali setahun; 1 kali setahun...,Organik; Organik; Organik; Organik;,Tadah Hujan; Tadah Hujan; Tadah Hujan; Tadah H...,Milik Pribadi; Milik Pribadi; Milik Pribadi; M...,Ladang; Tidak ada; Tidak ada; Tidak ada;,24867,Todanara
878,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24869,Todanara
879,Jagung Lokal; Ubi Kayu; Padi;,Lokal; Lokal; Lokal;,Pulut Uri 3H; Umbi-umbian; ;,Tangkar Sendiri; Tidak ada; Tangkar Sendiri;,0.50; 0.50; 0.50;,0.6; ; 0.5;,1 kali setahun; 1 kali setahun; 1 kali setahun;,Organik; Organik; Organik;,Tadah Hujan; Tadah Hujan; Tadah Hujan;,Milik Pribadi; Milik Pribadi; Milik Pribadi;,Ladang; Ladang; Ladang;,24887,Labalimut
880,Padi; Jagung ; Jagung ;,Lokal; Lokal; Hibrida;,Lokal; ; ;,Tangkar Sendiri; Tangkar Sendiri; Tangkar Send...,1; 1; 1;,0.5; 0.5; 0.5;,1 kali setahun; 1 kali setahun; 1 kali setahun;,Organik; Organik; Organik;,Tadah Hujan; Tadah Hujan; Tadah Hujan;,Milik Pribadi; Milik Pribadi; Milik Pribadi;,Ladang; Ladang; Ladang;,24957,Todanara

In [8]:
data_pertanian.isna().sum()

Nama Tanaman               185
Jenis Pangan               185
Varietas                   185
Sumber Benih               185
Luas Lahan                 185
Produktivitas              185
Pola Tanam                 185
Sistem Budidaya            185
Pengairan                  185
Kepemilikan Lahan          185
Jenis Pemanfaatan Lahan    185
ID                           0
Desa/Kelurahan               0
dtype: int64

In [9]:
data_pertanian = data_pertanian.dropna()

In [10]:
data_pertanian.info()

<class 'pandas.core.frame.DataFrame'>
Index: 696 entries, 1 to 880
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Nama Tanaman             696 non-null    object
 1   Jenis Pangan             696 non-null    object
 2   Varietas                 696 non-null    object
 3   Sumber Benih             696 non-null    object
 4   Luas Lahan               696 non-null    object
 5   Produktivitas            696 non-null    object
 6   Pola Tanam               696 non-null    object
 7   Sistem Budidaya          696 non-null    object
 8   Pengairan                696 non-null    object
 9   Kepemilikan Lahan        696 non-null    object
 10  Jenis Pemanfaatan Lahan  696 non-null    object
 11  ID                       696 non-null    int64
 12  Desa/Kelurahan           696 non-null    object
dtypes: int64(1), object(12)
memory usage: 76.1+ KB

In [11]:
data_pertanian['Desa/Kelurahan'].value_counts()

Desa/Kelurahan
Muruona         35
Lamatuka        31
Ile Kimok       30
Benihading      30
Hoelea I        30
Waienga         29
Watodiri        28
Nubamado        28
Lolong          27
Dulitukan       26
Tagawiti        26
Paubokol        26
Mahal           26
Laranwutun      25
Duawutun        25
Merdeka         25
Todanara        25
Tubungwalang    24
Labalimut       24
Dikesare        23
Wuakerong       22
Puor            21
Riangbao        21
Pada            20
Bour            18
Kalikur         17
Katakeja        14
Balauring       13
Tubuk Rajan      7
Name: count, dtype: int64

In [206]:
df['Luas Lahan'] = pd.to_numeric(df['Luas Lahan'], errors='coerce')
df['Produktivitas'] = pd.to_numeric(df['Produktivitas'], errors='coerce')

In [207]:
import re
import numpy as np

# Fungsi untuk menjumlahkan semua angka dalam satu sel
def sum_numbers(cell):
    if pd.isna(cell):  # Jika NaN
        return np.nan
    # Cari semua angka (desimal diperbolehkan)
    numbers = re.findall(r"[0-9]*\.?[0-9]+", str(cell))
    return sum(map(float, numbers)) if numbers else np.nan

# Bersihkan kolom Luas Lahan & Produktivitas
data_pertanian['Luas Lahan Clean'] = data_pertanian['Luas Lahan'].apply(sum_numbers)
data_pertanian['Produktivitas Clean'] = data_pertanian['Produktivitas'].apply(sum_numbers)

C:\Users\halid\AppData\Local\Temp\ipykernel_11596\3405262149.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_pertanian['Luas Lahan Clean'] = data_pertanian['Luas Lahan'].apply(sum_numbers)
C:\Users\halid\AppData\Local\Temp\ipykernel_11596\3405262149.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_pertanian['Produktivitas Clean'] = data_pertanian['Produktivitas'].apply(sum_numbers)

In [208]:
# Hapus baris dengan produktivitas_clean = 0
data_pertanian = data_pertanian[data_pertanian['Produktivitas Clean'] != 0]

In [209]:
data_pertanian.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Nama Tanaman,546,76,Jagung,132,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jenis Pangan,546,11,Lokal,315,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Varietas,546,146,Lokal,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sumber Benih,546,17,Tangkar Sendiri,397,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan,546,137,0.5,121,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Produktivitas,546,280,1,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pola Tanam,546,10,1 kali setahun,490,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sistem Budidaya,546,12,Organik,319,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengairan,546,11,Tadah Hujan,448,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kepemilikan Lahan,546,10,Milik Pribadi,472,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jenis Pemanfaatan Lahan,546,19,Ladang,343,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ID,546.0,NaN,NaN,NaN,23189.593407,637.506752,22190.0,22719.25,23165.5,23478.5,24957.0
Desa/Kelurahan,546,29,Muruona,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan Clean,546.0,NaN,NaN,NaN,15.595252,126.664356,0.0,0.25,0.5,1.0,2500.0
Produktivitas Clean,546.0,NaN,NaN,NaN,13.95147,84.066535,0.001,0.1,0.35,0.9275,1050.0

In [210]:
data_pertanian['Desa/Kelurahan'].value_counts()

Desa/Kelurahan
Muruona         34
Benihading      30
Hoelea I        28
Ile Kimok       28
Lamatuka        27
Tagawiti        26
Watodiri        26
Lolong          25
Laranwutun      24
Waienga         23
Merdeka         22
Dulitukan       22
Paubokol        21
Nubamado        21
Labalimut       20
Puor            18
Kalikur         17
Riangbao        17
Bour            17
Wuakerong       17
Todanara        16
Mahal           15
Balauring       13
Duawutun        11
Dikesare        11
Tubuk Rajan      6
Tubungwalang     5
Pada             5
Katakeja         1
Name: count, dtype: int64

In [211]:
data_pertanian.isna().sum()

Nama Tanaman               0
Jenis Pangan               0
Varietas                   0
Sumber Benih               0
Luas Lahan                 0
Produktivitas              0
Pola Tanam                 0
Sistem Budidaya            0
Pengairan                  0
Kepemilikan Lahan          0
Jenis Pemanfaatan Lahan    0
ID                         0
Desa/Kelurahan             0
Luas Lahan Clean           0
Produktivitas Clean        0
dtype: int64

In [212]:
data_pertanian['Penghasilan Kotor'] = data_pertanian['Produktivitas Clean'] * 10000 * 1000    # 10.000 per kg, dengan 1 ton = 1.000kg

In [213]:
data_pertanian.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Nama Tanaman,546,76,Jagung,132,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jenis Pangan,546,11,Lokal,315,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Varietas,546,146,Lokal,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sumber Benih,546,17,Tangkar Sendiri,397,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan,546,137,0.5,121,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Produktivitas,546,280,1,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pola Tanam,546,10,1 kali setahun,490,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sistem Budidaya,546,12,Organik,319,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengairan,546,11,Tadah Hujan,448,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kepemilikan Lahan,546,10,Milik Pribadi,472,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jenis Pemanfaatan Lahan,546,19,Ladang,343,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ID,546.0,NaN,NaN,NaN,23189.593407,637.506752,22190.0,22719.25,23165.5,23478.5,24957.0
Desa/Kelurahan,546,29,Muruona,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan Clean,546.0,NaN,NaN,NaN,15.595252,126.664356,0.0,0.25,0.5,1.0,2500.0
Produktivitas Clean,546.0,NaN,NaN,NaN,13.95147,84.066535,0.001,0.1,0.35,0.9275,1050.0
Penghasilan Kotor,546.0,NaN,NaN,NaN,139514700.051282,840665354.363116,10000.0,1000000.0,3500000.0,9275000.0,10500000000.0

In [214]:
data_pertanian['Pestisida/Herbisida/Fungisida.2'] = df['Pestisida/Herbisida/Fungisida.2']
data_pertanian['Benih.2'] = df['Benih.2']
data_pertanian['Upah Buruh.2'] = df['Upah Buruh.2']
data_pertanian['Sewa Alat dan Mesin Pertanian.2'] = df['Sewa Alat dan Mesin Pertanian.2']

data_pertanian['Ongkos Produksi'] = data_pertanian['Pestisida/Herbisida/Fungisida.2'] + data_pertanian['Benih.2'] + data_pertanian['Upah Buruh.2'] + data_pertanian['Sewa Alat dan Mesin Pertanian.2']

In [215]:
data_pertanian['Penghasilan Bersih'] = data_pertanian['Penghasilan Kotor'] - data_pertanian['Ongkos Produksi']

In [216]:
data_pertanian['Penghasilan per Bulan Bertani'] = data_pertanian['Penghasilan Bersih'] / 4

In [217]:
data_pertanian.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Nama Tanaman,546,76,Jagung,132,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jenis Pangan,546,11,Lokal,315,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Varietas,546,146,Lokal,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sumber Benih,546,17,Tangkar Sendiri,397,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan,546,137,0.5,121,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Produktivitas,546,280,1,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pola Tanam,546,10,1 kali setahun,490,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sistem Budidaya,546,12,Organik,319,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pengairan,546,11,Tadah Hujan,448,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kepemilikan Lahan,546,10,Milik Pribadi,472,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jenis Pemanfaatan Lahan,546,19,Ladang,343,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ID,546.0,NaN,NaN,NaN,23189.593407,637.506752,22190.0,22719.25,23165.5,23478.5,24957.0
Desa/Kelurahan,546,29,Muruona,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Luas Lahan Clean,546.0,NaN,NaN,NaN,15.595252,126.664356,0.0,0.25,0.5,1.0,2500.0
Produktivitas Clean,546.0,NaN,NaN,NaN,13.95147,84.066535,0.001,0.1,0.35,0.9275,1050.0
Penghasilan Kotor,546.0,NaN,NaN,NaN,139514700.051282,840665354.363116,10000.0,1000000.0,3500000.0,9275000.0,10500000000.0
Pestisida/Herbisida/Fungisida.2,546.0,NaN,NaN,NaN,77102.291209,240546.470955,0.0,0.0,0.0,73750.0,3240000.0
Benih.2,546.0,NaN,NaN,NaN,9734.434066,64493.943577,0.0,0.0,0.0,0.0,810000.0
Upah Buruh.2,546.0,NaN,NaN,NaN,62404.029304,458618.315312,0.0,0.0,0.0,0.0,7000000.0
Sewa Alat dan Mesin Pertanian.2,546.0,NaN,NaN,NaN,23824.175824,124167.016265,0.0,0.0,0.0,0.0,1200000.0
Ongkos Produksi,546.0,NaN,NaN,NaN,173064.930403,549915.460406,0.0,0.0,0.0,120000.0,7360000.0
Penghasilan Bersih,546.0,NaN,NaN,NaN,139341635.120879,840664489.787323,-1960000.0,1000000.0,3423000.0,8865625.0,10500000000.0
Penghasilan per Bulan Bertani,546.0,NaN,NaN,NaN,34835408.78022,210166122.446831,-490000.0,250000.0,855750.0,2216406.25,2625000000.0

In [218]:
minus = data_pertanian[data_pertanian['Penghasilan Bersih'] < 0]

In [219]:
minus

,Nama Tanaman,Jenis Pangan,Varietas,Sumber Benih,Luas Lahan,Produktivitas,Pola Tanam,Sistem Budidaya,Pengairan,Kepemilikan Lahan,...,Luas Lahan Clean,Produktivitas Clean,Penghasilan Kotor,Pestisida/Herbisida/Fungisida.2,Benih.2,Upah Buruh.2,Sewa Alat dan Mesin Pertanian.2,Ongkos Produksi,Penghasilan Bersih,Penghasilan per Bulan Bertani
47,Jagung Ubi Kayu Padi,Lokal,0,Tangkar Sendiri,0.0625,0.002,1 kali setahun,Organik,Tadah Hujan,Milik Pribadi,...,0.0625,0.002,20000.0,80000.0,0.0,0.0,0.0,80000.0,-60000.0,-15000.0
249,Jagung Ubi Kayu,Hibrida Tidak ada,Hibrida Umbi-umbian,Tangkar Sendiri Tidak ada,0.25 0.025,0.02,1 kali setahun,Semi Organik Tidak ada,Tadah Hujan Tidak ada,Numpang,...,0.2750,0.020,200000.0,540000.0,0.0,0.0,0.0,540000.0,-340000.0,-85000.0
276,Jagung Ubi Kayu,Hibrida Tidak ada,Hibrida Umbi-umbian,Bantuan Pemerintah Tidak ada,1.2,0.06 0.1,1 kali setahun Tidak ada,Semi Organik Tidak ada,Tadah Hujan Tidak ada,Numpang,...,1.2000,0.160,1600000.0,3240000.0,0.0,0.0,0.0,3240000.0,-1640000.0,-410000.0
362,Jagung Lokal,Lokal,Pulut,Tidak ada,1,0.03,1 kali setahun,Organik,Teknis,Milik Pribadi,...,1.0000,0.030,300000.0,270000.0,0.0,0.0,40000.0,310000.0,-10000.0,-2500.0
366,Ubi Kayu,Lokal,UMUCASS 36,Tangkar Sendiri,0.5,0.05,1 kali setahun,Organik,Tadah Hujan,Milik Pribadi,...,0.5000,0.050,500000.0,90000.0,425000.0,150000.0,400000.0,1065000.0,-565000.0,-141250.0
408,Jagung,Lokal,lokal,Tangkar Sendiri,0.525,0.03,1 kali setahun,Kimia,Tadah Hujan,Milik Pribadi,...,0.5250,0.030,300000.0,80000.0,0.0,300000.0,0.0,380000.0,-80000.0,-20000.0
442,Padi Jagung Ubi Kayu,Lokal Hibrida,Serealia Umbi-umbian,Tangkar Sendiri,0.02 0.1,0.07 0.06,1 kali setahun,Semi Organik,Tadah Hujan,Milik Pribadi,...,0.1200,0.130,1300000.0,0.0,0.0,2000000.0,50000.0,2050000.0,-750000.0,-187500.0
453,Jagung,Hibrida,Hibrida,Tangkar Sendiri,1,0.02,1 kali setahun,Semi Organik,Tadah Hujan,Milik Pribadi,...,1.0000,0.020,200000.0,2160000.0,0.0,0.0,0.0,2160000.0,-1960000.0,-490000.0
470,Jagung,Hibrida,Lokal,Beli,1,0.001,1 kali setahun,Organik,Tadah Hujan,Milik Pribadi,...,1.0000,0.001,10000.0,70000.0,70000.0,0.0,0.0,140000.0,-130000.0,-32500.0
519,Jagung,Hibrida,Q-11,Bantuan Pemerintah,2,0.1,1 kali setahun,Semi Organik,Tadah Hujan,Numpang,...,2.0000,0.100,1000000.0,240000.0,0.0,1750000.0,0.0,1990000.0,-990000.0,-247500.0
598,Jagung,Lokal,Kalingga,Tangkar Sendiri,0.375,0.05,1 kali setahun,Kimia,Tadah Hujan,Milik Pribadi,...,0.3750,0.050,500000.0,720000.0,0.0,0.0,0.0,720000.0,-220000.0,-55000.0
645,Jagung,Hibrida,Hibrida,Bantuan Pemerintah,0.5,0.02,1 kali setahun,Semi Organik,Tadah Hujan,Milik Pribadi,...,0.5000,0.020,200000.0,405000.0,0.0,0.0,0.0,405000.0,-205000.0,-51250.0
651,Jagung,Lokal,Kalingga,Tangkar Sendiri,0.015,0.02,1 kali setahun,Semi Organik,Tadah Hujan,Milik Pribadi,...,0.0150,0.020,200000.0,240000.0,0.0,0.0,0.0,240000.0,-40000.0,-10000.0
802,Jagung,Lokal,Lokal,Beli,0.0003,0.005,1 kali setahun,Organik,Tadah Hujan,Sewa,...,0.0003,0.005,50000.0,120000.0,50000.0,0.0,0.0,170000.0,-120000.0,-30000.0
817,Jagung,Lokal,Kalingga,Tangkar Sendiri,0.25,0.03,1 kali setahun,Kimia,Tadah Hujan,Bagi Hasil,...,0.2500,0.030,300000.0,360000.0,0.0,0.0,0.0,360000.0,-60000.0,-15000.0
837,Jagung,Lokal,Lokal,Tangkar Sendiri,0.5,0.015,1 kali setahun,Organik,Tadah Hujan,Milik Pribadi,...,0.5000,0.015,150000.0,180000.0,0.0,0.0,0.0,180000.0,-30000.0,-7500.0

Garis Kemiskinan (Rupiah/Kapita/Bulan) Menurut Provinsi dan Daerah 

di Nusa Tenggara Timur pada Semester 2 (September) adalah: **495.180,00**

In [220]:
garis_kemiskinan = data_pertanian[['ID']].copy()
garis_kemiskinan['Desa/Kelurahan'] = data_pertanian['Desa/Kelurahan']
garis_kemiskinan['Penghasilan per Bulan Bertani'] = data_pertanian['Penghasilan per Bulan Bertani']

In [221]:
garis_kemiskinan

        ID Desa/Kelurahan  Penghasilan per Bulan Bertani
1    22190       Paubokol                       350000.0
2    22195       Paubokol                       250000.0
3    22200       Paubokol                      1655000.0
6    22208       Paubokol                      2375000.0
7    22210       Paubokol                      4500000.0
..     ...            ...                            ...
837  24799       Todanara                        -7500.0
838  24801       Todanara                         3750.0
839  24802       Dikesare                      1875000.0
841  24866       Todanara                        87500.0
843  24957       Todanara                      1250000.0

[546 rows x 3 columns]

In [222]:
garis_kemiskinan_rp = 495180

# Hitung persentase per desa
persentase = (garis_kemiskinan
              .groupby('Desa/Kelurahan')['Penghasilan per Bulan Bertani']
              .apply(lambda x: (x > garis_kemiskinan_rp).mean() * 100)
              .reset_index(name='Persentase di Atas GK'))

# Tambahkan kolom skor
def hitung_skor(p):
    if p == 0:
        return 0
    elif p <= 25:
        return 1
    elif p <= 50:
        return 2
    elif p <= 75:
        return 3
    else:
        return 4

persentase['Skor'] = persentase['Persentase di Atas GK'].apply(hitung_skor)

In [223]:
persentase

   Desa/Kelurahan  Persentase di Atas GK  Skor
0       Balauring              92.307692     4
1      Benihading              86.666667     4
2            Bour              70.588235     3
3        Dikesare              27.272727     2
4        Duawutun              81.818182     4
5       Dulitukan              13.636364     1
6        Hoelea I              96.428571     4
7       Ile Kimok              89.285714     4
8         Kalikur              58.823529     3
9        Katakeja             100.000000     4
10      Labalimut              80.000000     4
11       Lamatuka              81.481481     4
12     Laranwutun              58.333333     3
13         Lolong              20.000000     1
14          Mahal              60.000000     3
15        Merdeka              40.909091     2
16        Muruona              29.411765     2
17       Nubamado              61.904762     3
18           Pada             100.000000     4
19       Paubokol              85.714286     4
20           Puor              77.777778     4
21       Riangbao              58.823529     3
22       Tagawiti              50.000000     2
23       Todanara              37.500000     2
24    Tubuk Rajan             100.000000     4
25   Tubungwalang              60.000000     3
26        Waienga              47.826087     2
27       Watodiri              69.230769     3
28      Wuakerong              70.588235     3

In [224]:
pilar1 = persentase[['Desa/Kelurahan']].copy()
pilar1['I.2.1.1'] = persentase['Skor']

### I.3.1. 1 Ketersediaan air untuk budidaya

In [225]:
ketersediaan_air = df[['ID']].copy()
ketersediaan_air['Desa/Kelurahan'] = df['Desa/Kelurahan']
ketersediaan_air['Pola Tanam'] = df['Pola Tanam']

In [226]:
ketersediaan_air

        ID Desa/Kelurahan      Pola Tanam
0    22180         Lolong             NaN
1    22190       Paubokol  1 kali setahun
2    22195       Paubokol  1 kali setahun
3    22200       Paubokol  1 kali setahun
4    22205       Paubokol  1 kali setahun
..     ...            ...             ...
839  24802       Dikesare  1 kali setahun
840  24803          Mahal  1 kali setahun
841  24866       Todanara  1 kali setahun
842  24869       Todanara             NaN
843  24957       Todanara  1 kali setahun

[844 rows x 3 columns]

In [227]:
ketersediaan_air.isna().sum()

ID                  0
Desa/Kelurahan      0
Pola Tanam        171
dtype: int64

In [228]:
ketersediaan_air = ketersediaan_air.dropna()

In [229]:
ketersediaan_air.isna().sum()

ID                0
Desa/Kelurahan    0
Pola Tanam        0
dtype: int64

In [230]:
ketersediaan_air['Pola Tanam'].value_counts()

Pola Tanam
1 kali setahun              562
Tidak ada                    57
1 kali setahun Tidak ada     34
3 kali setahun                5
Tidak ada 1 kali setahun      4
1 kali setahun 2              3
3 kali setahun 1              3
2 kali setahun                2
2 kali setahun 1              2
1 kali setahun 3              1
Name: count, dtype: int64

In [231]:
def skor_ketersediaan_air(pola):
    pola = str(pola).lower()
    if "tidak ada" in pola or "1 kali setahun" in pola:
        return 2
    elif "2 kali setahun" in pola or "3 kali setahun" in pola:
        return 1
    else:
        return 0  # jika tidak memenuhi kondisi di atas

ketersediaan_air['kategori'] = ketersediaan_air['Pola Tanam'].apply(skor_ketersediaan_air)

C:\Users\halid\AppData\Local\Temp\ipykernel_11596\2779442749.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ketersediaan_air['kategori'] = ketersediaan_air['Pola Tanam'].apply(skor_ketersediaan_air)

In [232]:
ketersediaan_air

        ID Desa/Kelurahan      Pola Tanam  kategori
1    22190       Paubokol  1 kali setahun         2
2    22195       Paubokol  1 kali setahun         2
3    22200       Paubokol  1 kali setahun         2
4    22205       Paubokol  1 kali setahun         2
6    22208       Paubokol  1 kali setahun         2
..     ...            ...             ...       ...
838  24801       Todanara  1 kali setahun         2
839  24802       Dikesare  1 kali setahun         2
840  24803          Mahal  1 kali setahun         2
841  24866       Todanara  1 kali setahun         2
843  24957       Todanara  1 kali setahun         2

[673 rows x 4 columns]

In [233]:
persentase_air = (
    ketersediaan_air.groupby('Desa/Kelurahan')['kategori']
      .apply(lambda x: (x == 1).mean() * 100)
      .reset_index(name='Persentase Air Cukup')
)

def skor_air(p):
    if p == 0:
        return 0
    elif p <= 25:
        return 1
    elif p <= 50:
        return 2
    elif p <= 75:
        return 3
    else:
        return 4

persentase_air['Skor'] = persentase_air['Persentase Air Cukup'].apply(skor_air)

In [234]:
persentase_air

   Desa/Kelurahan  Persentase Air Cukup  Skor
0       Balauring              0.000000     0
1      Benihading              3.333333     1
2            Bour             11.764706     1
3        Dikesare              0.000000     0
4        Duawutun              0.000000     0
5       Dulitukan              0.000000     0
6        Hoelea I              0.000000     0
7       Ile Kimok              0.000000     0
8         Kalikur              0.000000     0
9        Katakeja              0.000000     0
10      Labalimut              0.000000     0
11       Lamatuka              0.000000     0
12     Laranwutun              0.000000     0
13         Lolong              0.000000     0
14          Mahal              0.000000     0
15        Merdeka              0.000000     0
16        Muruona              0.000000     0
17       Nubamado              7.142857     1
18           Pada             10.000000     1
19       Paubokol              0.000000     0
20           Puor             23.809524     1
21       Riangbao              0.000000     0
22       Tagawiti              0.000000     0
23       Todanara              0.000000     0
24    Tubuk Rajan              0.000000     0
25   Tubungwalang              0.000000     0
26        Waienga              0.000000     0
27       Watodiri              0.000000     0
28      Wuakerong              0.000000     0

In [235]:
pilar1['I.3.1.1'] = persentase_air['Skor']

In [236]:
pilar1

   Desa/Kelurahan  I.2.1.1  I.3.1.1
0       Balauring        4        0
1      Benihading        4        1
2            Bour        3        1
3        Dikesare        2        0
4        Duawutun        4        0
5       Dulitukan        1        0
6        Hoelea I        4        0
7       Ile Kimok        4        0
8         Kalikur        3        0
9        Katakeja        4        0
10      Labalimut        4        0
11       Lamatuka        4        0
12     Laranwutun        3        0
13         Lolong        1        0
14          Mahal        3        0
15        Merdeka        2        0
16        Muruona        2        0
17       Nubamado        3        1
18           Pada        4        1
19       Paubokol        4        0
20           Puor        4        1
21       Riangbao        3        0
22       Tagawiti        2        0
23       Todanara        2        0
24    Tubuk Rajan        4        0
25   Tubungwalang        3        0
26        Waienga        2        0
27       Watodiri        3        0
28      Wuakerong        3        0

### I.3.1. 2 Kelembagaan pengelola air

tidak ada informasi pada dataset mengenai kelembagaan pengelola air

### I.4.1.1. Asal atau sumber benih

In [237]:
sumber_benih = df[['ID']].copy()
sumber_benih['Desa/Kelurahan'] = df['Desa/Kelurahan']
sumber_benih['Sumber Benih'] = df['Sumber Benih']

In [238]:
sumber_benih

        ID Desa/Kelurahan        Sumber Benih
0    22180         Lolong                 NaN
1    22190       Paubokol     Tangkar Sendiri
2    22195       Paubokol     Tangkar Sendiri
3    22200       Paubokol     Tangkar Sendiri
4    22205       Paubokol     Tangkar Sendiri
..     ...            ...                 ...
839  24802       Dikesare     Tangkar Sendiri
840  24803          Mahal     Tangkar Sendiri
841  24866       Todanara  Bantuan Pemerintah
842  24869       Todanara                 NaN
843  24957       Todanara     Tangkar Sendiri

[844 rows x 3 columns]

In [240]:
sumber_benih.isna().sum()

ID                  0
Desa/Kelurahan      0
Sumber Benih      171
dtype: int64

In [241]:
sumber_benih = sumber_benih.dropna()

In [242]:
sumber_benih.isna().sum()

ID                0
Desa/Kelurahan    0
Sumber Benih      0
dtype: int64

In [244]:
sumber_benih['Sumber Benih'].value_counts()

Sumber Benih
Tangkar Sendiri                                 457
Tidak ada                                        68
Tangkar Sendiri Tidak ada                        37
Bantuan Pemerintah                               35
Beli                                             22
Bantuan Pemerintah Tidak ada                     19
Tangkar Sendiri Bantuan Pemerintah               11
Bantuan Pemerintah Tangkar Sendiri                7
Tidak ada Tangkar Sendiri                         5
Tangkar Sendiri Beli                              5
Beli Bantuan Pemerintah Tangkar Sendiri           1
Tidak ada Bantuan Pemerintah                      1
Bantuan Pemerintah Tidak ada Tangkar Sendiri      1
Tangkar Sendiri Bantuan Pemerintah Beli           1
Beli Tidak ada                                    1
Beli Tangkar Sendiri                              1
Tangkar Sendiri Tidak ada Beli                    1
Name: count, dtype: int64