In [1]:
import re
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data_rumah_tangga_all.csv")

In [3]:
df.head()

,#,ID,Nama Kepala Keluarga,Nomor Kartu Keluarga,Tanggal Pendataan,Dusun,Desa/Kelurahan,Kecamatan,Kabupaten,Propinsi,...,Apakah pernah dapat bantuan dari pemerintah?,"Kalau iya, apa bentuk bantuan tersebut?",Jumlah difabel (berkebutuhan khusus),Jenis Difabel,Memiliki anak usia kurang dari 5 tahun,Tinggi badan anak,Berat badan anak,Apakah anak mengalami kasus gizi buruk?,Apakah anak mengalami kekurangan gizi?,SourceFile
0,1,22180,Natalia Benga Blolong,5.313011e+15,2024-09-23 00:00:00,A Arubala,Lolong,Nagawutung,Lembata,Nusa Tenggara Timur,...,Pernah;,Tunai;,0;,Tidak ada;,Tidak ada;,0;,0;,Tidak ada;,Tidak ada;,1-400.xlsx
1,2,22190,Marianus Nurak,5.313052e+15,2024-10-07 00:00:00,Alapnimo,Paubokol,Nubatukan,Lembata,Nusa Tenggara Timur,...,Pernah;,Tunai;,0;,Tidak ada;,Ada;,76;,"8,7;",Tidak ada;,Tidak ada;,1-400.xlsx
2,3,22195,Viktor Gelak,5.313052e+15,2024-10-07 00:00:00,Alapnimo,Paubokol,Nubatukan,Lembata,Nusa Tenggara Timur,...,Pernah;,Tunai;,0;,Tidak ada;,Tidak ada;,0;,0;,Tidak ada;,Tidak ada;,1-400.xlsx
3,4,22200,Yoseph Kujo,5.313051e+15,2024-10-08 00:00:00,Alapnimo,Paubokol,Nubatukan,Lembata,Nusa Tenggara Timur,...,Pernah;,Tunai;,0;,Tidak ada;,Ada;,97;,"15,2;",Tidak;,Tidak;,1-400.xlsx
4,5,22205,Hendrikus Laran Ujan,5.313052e+15,2024-10-08 00:00:00,Alapnimo,Paubokol,Nubatukan,Lembata,Nusa Tenggara Timur,...,Pernah;,Tunai;,0;,Tidak ada;,Ada;,86;,10;,Tidak ada;,Ya;,1-400.xlsx

In [4]:
df['Desa/Kelurahan'] = df['Desa/Kelurahan'].str.replace(r'\bPADA\b', 'Pada', regex=True)

In [5]:
for i, col in enumerate(df.columns):
    print(f"{i}. {col}")

0. #
1. ID
2. Nama Kepala Keluarga
3. Nomor Kartu Keluarga
4. Tanggal Pendataan
5. Dusun
6. Desa/Kelurahan
7. Kecamatan
8. Kabupaten
9. Propinsi
10. Koordinat GPS
11. Sumber Listrik
12. Air Bersih
13. Kepemilikan Rumah
14. Nama
15. Jumlah Anggota Keluarga (jiwa)
16. Agama/ Kepercayaan
17. Pekerjaan
18. Pendapatan Bulanan (Rp.)
19. Beras Lokal (Sawah/Ladang dalam Kg)
20. Singkong
21. Jagung Lokal
22. Jagung Hibrida
23. Umbi-umbian lain
24. Sorgum
25. Jewawut/Weteng
26. Ikan dan Boga Laut Segar
27. Ikan dan Boga Laut Kering
28. Telor
29. Ayam
30. Daging (Sapi/Kerbau/Kambing/Babi,dll)
31. Kacang-kacangan
32. Minyak Kelapa
33. Cabai Besar
34. Cabai Kecil
35. Kemiri
36. Kunyit
37. Jahe
38. Sereh
39. Lengkuas
40. Jeruk Nipis
41. Mete
42. Lain-lain
43. Beras Lokal (Sawah/Ladang)
44. Singkong.1
45. Jagung Lokal.1
46. Jagung Hibrida.1
47. Umbi-umbian lain.1
48. Sorgum.1
49. Jewawut/Weteng.1
50. Ikan dan Boga Laut Segar.1
51. Ikan dan Boga Laut Kering.1
52. Telor.1
53. Ayam.1
54. Kacang-kacangan.1
55. Minyak Kelapa.1
56. Cabai Besar.1
57. Cabai Kecil.1
58. Kemiri.1
59. Kunyit.1
60. Jahe.1
61. Sereh.1
62. Lengkuas.1
63. Jeruk Nipis.1
64. Mete.1
65. Lain-lain.1
66. Beras Lokal (Sawah/Ladang dalam Rp)
67. Beras Toko
68. Singkong.2
69. Jagung Lokal.2
70. Jagung Hibrida.2
71. Umbi-umbian lain.2
72. Sorgum.2
73. Jewawut/Weteng.2
74. Ikan dan Boga Laut Segar.2
75. Ikan dan Boga Laut Kering.2
76. Telor.2
77. Ayam.2
78. Daging (Sapi/Kerbau/Kambing/Babi,dll).1
79. Tahu dan Tempe
80. Kacang-kacangan.2
81. Daun Ubi
82. Kangkung
83. Kubis
84. Sawi
85. Bayam
86. Brokoli
87. Wortel
88. Jantung Pisang
89. Kelor
90. Bunga dan Daun Pepaya
91. Pakis/Paku
92. Rebung
93. Mangga
94. Alpukat
95. Jeruk
96. Anggur
97. Buah Naga
98. Mete.2
99. Pisang
100. Rambutan
101. Nanas
102. Salak
103. Pepaya
104. Kelapa
105. Tomat
106. Timun
107. Labu
108. Kemangi
109. Minyak Kelapa.2
110. Minyak Goreng Kemasan/Toko
111. Bumbu Kemasan
112. MSG
113. Bawang Merah
114. Bawang Putih
115. Bawang Bombai
116. Cabai Besar.2
117. Cabai Kecil.2
118. Lada
119. Kemiri.2
120. Kunyit.2
121. Jahe.2
122. Sereh.2
123. Lengkuas.2
124. Jeruk Nipis.2
125. Jeruk Limau
126. Kecap
127. Saos
128. Susu (Bubuk/UHT)
129. Kental Manis
130. Minuman Kemasan
131. Minuman Fermentasi
132. Gula Pasir
133. Kopi
134. Teh
135. Mie Instan
136. Biskuit/Roti/Kue Kemasan
137. Rokok Kemasan
138. Tembakau
139. Pinang
140. Daun Sirih
141. Minyak Tanah
142. Gas
143. Biaya Listrik
144. BBM
145. Pupuk
146. Pestisida/Herbisida/Fungisida
147. Benih
148. Upah Buruh
149. Sewa Alat dan Mesin Pertanian
150. Transportasi
151. SPP (Iuran Sekolah)
152. Peralatan Sekolah/ATK
153. Transportasi/Kos/Jajan
154. Periksa Kesehatan
155. Iuran BPJS
156. Obat
157. Sanitary
158. Pulsa Ponsel
159. Dana Sosial (Arisan, Sumbangan, dll)
160. Nama Tanaman
161. Jenis Pangan
162. Varietas
163. Sumber Benih
164. Luas Lahan
165. Produktivitas
166. Pola Tanam
167. Sistem Budidaya
168. Pengairan
169. Kepemilikan Lahan
170. Jenis Pemanfaatan Lahan
171. Nama Tanaman.1
172. Jangka Tanam
173. Jenis Tanaman
174. Luas
175. Tegakan (batang)
176. Tahun Tanam
177. Produktivitas (Ton/Ha)
178. Pemanfaatan Hasil
179. Kepemilikan Lahan.1
180. Nama Tempat Lahan
181. Sapi
182. Kerbau
183. Kambing
184. Ayam.3
185. Bebek
186. Babi
187. Kuda
188. Jumlah Hasil (Kg)
189. Sumber Pakan
190. Kepemilikan
191. Jenis Ikan
192. Luas Kolam
193. Masa Panen
194. Sistem Budidaya.1
195. Pasca Panen
196. Pemanfaatan Hasil Panen
197. Kepemilikan Lahan.2
198. Nama Area Tangkap
199. Jenis Ikan.1
200. Jumlah Hasil
201. Pemanfaatan Hasil Tangkap
202. Januari
203. Februari
204. Maret
205. April
206. Mei
207. Juni
208. Juli
209. Agustus
210. September
211. Oktober
212. November
213. Desember
214. Januari.1
215. Februari.1
216. Maret.1
217. April.1
218. Mei.1
219. Juni.1
220. Juli.1
221. Agustus.1
222. September.1
223. Oktober.1
224. November.1
225. Desember.1
226. Januari.2
227. Februari.2
228. Maret.2
229. April.2
230. Mei.2
231. Juni.2
232. Juli.2
233. Agustus.2
234. September.2
235. Oktober.2
236. November.2
237. Desember.2
238. Nama Produk
239. Jenis Usaha
240. Jumlah Produksi
241. Proses Produksi
242. Pemanfaatan Hasil Produksi
243. Sumber Limbah
244. Pengolahan
245. Hasil Daur Ulang
246. Luas Lahan Usaha m2
247. Luas Lahan Rumah m2
248. Luas Bangunan Rumah m2
249. Luas Bangunan Usaha m2
250. Mesin dan Alat Kerja
251. Jumlah (unit)
252. Apakah pernah ada bayi yang meninggal?
253. Jika ada, berapa jumlahnya?
254. Apakah balita selalu diperiksa ke Posyandu?
255. Jumlah Lansia
256. Anggota keluarga yang sering sakit
257. Jenis penyakit yang sering diderita
258. Kemana biasa berobat?
259. Apakah pernah dapat bantuan dari pemerintah?
260. Kalau iya, apa bentuk bantuan tersebut?
261. Jumlah difabel (berkebutuhan khusus)
262. Jenis Difabel
263. Memiliki anak usia kurang dari 5 tahun
264. Tinggi badan anak
265. Berat badan anak
266. Apakah anak mengalami kasus gizi buruk?
267. Apakah anak mengalami kekurangan gizi?
268. SourceFile

In [6]:
df = pd.concat(
    [df[['ID', 'Desa/Kelurahan', 'Nama Kepala Keluarga', 'Pekerjaan', 'Pendapatan Bulanan (Rp.)', 'Sumber Listrik',
    'Air Bersih', 'Iuran BPJS', 'Obat', 'Pulsa Ponsel',
    'Nama Tanaman', 'Sumber Benih', 'Luas Lahan', 'Produktivitas', 'Pola Tanam', 'Sistem Budidaya', 'Pengairan',
    'Pupuk', 'Pestisida/Herbisida/Fungisida', 'Benih', 'Upah Buruh', 'Sewa Alat dan Mesin Pertanian', 
    'Sapi', 'Kerbau', 'Kambing', 'Ayam.3', 'Bebek', 'Babi', 'Kuda', 'Jumlah Hasil (Kg)', 'Sumber Pakan',
    'Nama Area Tangkap', 'Jenis Ikan.1', 'Jumlah Hasil', 'Pemanfaatan Hasil Tangkap',
    'Sumber Limbah', 'Pengolahan', 'Luas Lahan Usaha m2', 'Luas Lahan Rumah m2', 'Luas Bangunan Rumah m2',
    'Apakah balita selalu diperiksa ke Posyandu?', 'Jumlah Lansia', 'Anggota keluarga yang sering sakit', 
    'Apakah pernah dapat bantuan dari pemerintah?', 'Kalau iya, apa bentuk bantuan tersebut?'
        ]]],
    axis=1
)

In [7]:
df

,ID,Desa/Kelurahan,Nama Kepala Keluarga,Pekerjaan,Pendapatan Bulanan (Rp.),Sumber Listrik,Air Bersih,Iuran BPJS,Obat,Pulsa Ponsel,...,Sumber Limbah,Pengolahan,Luas Lahan Usaha m2,Luas Lahan Rumah m2,Luas Bangunan Rumah m2,Apakah balita selalu diperiksa ke Posyandu?,Jumlah Lansia,Anggota keluarga yang sering sakit,Apakah pernah dapat bantuan dari pemerintah?,"Kalau iya, apa bentuk bantuan tersebut?"
0,22180,Lolong,Natalia Benga Blolong,Petani atau Nelayan;,200000;,PLN,PDAM,0;,0;,20000;,...,Rumah Tangga;,Tidak Diolah;,0;,0.1140;,0;,Tidak ada;,0;,Famili;,Pernah;,Tunai;
1,22190,Paubokol,Marianus Nurak,Petani atau Nelayan;,800000;,PLN,Mata Air,0;,0;,600000;,...,Rumah Tangga;,Tidak ada;,0;,300;,48;,Sering;,0;,Anak;,Pernah;,Tunai;
2,22195,Paubokol,Viktor Gelak,Petani atau Nelayan;,100000;,PLN,Mata Air,0;,0;,0;,...,Rumah Tangga;,Tidak ada;,0;,750;,24;,Tidak ada;,1;,Tidak ada;,Pernah;,Tunai;
3,22200,Paubokol,Yoseph Kujo,Petani atau Nelayan;,400000;,PLN,Mata Air,0;,0;,600000;,...,Tidak ada;,Tidak ada;,0;,1250;,54;,Sering;,0;,Tidak ada;,Pernah;,Tunai;
4,22205,Paubokol,Hendrikus Laran Ujan,Petani atau Nelayan;,600000;,PLN,Mata Air,0;,10000;,600000;,...,Rumah Tangga;,Tidak ada;,0;,400;,30;,Sering;,0;,Tidak ada;,Pernah;,Tunai;
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,24866,Todanara,Longginus Lango,Petani atau Nelayan;,500000;,PLN,Sungai,0;,0;,100000;,...,Rumah Tangga;,Tidak Diolah;,0;,428.22;,175.33;,Sering;,2;,Istri;,Pernah;,Pengobatan;
877,24867,Todanara,Elias Ola Domaking,Petani atau Nelayan;,200000;,PLN,Sungai,0;,0;,50000;,...,NaN,NaN,;,505.85;,113.55;,Tidak Pernah;,1;,Tidak ada;,Pernah;,Tunai;
878,24869,Todanara,Antonius Yanto Matarau,Karyawan Swasta;,1700000;,PLN,Sungai,80000;,0;,200000;,...,Rumah Tangga;,Tidak Diolah;,0;,;,;,Tidak ada;,0;,Tidak ada;,Tidak ada;,Tidak ada;
879,24887,Labalimut,Petrus Asan,lainnya;,4000000;,PLN,PDAM,35000;,0;,50000;,...,Rumah Tangga;,Tidak Diolah;,0;,0;,80;,Tidak ada;,2;,Istri;,Tidak;,Tidak ada;
880,24957,Todanara,Hendrikus Kewaman,Petani atau Nelayan;,200000;,PLN,Sungai,0;,0;,20000;,...,Rumah Tangga;,Tidak Diolah;,0;,417.66;,155.03;,Tidak ada;,2;,Anak;,Tidak ada;,Tidak ada;

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 45 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   ID                                            881 non-null    int64
 1   Desa/Kelurahan                                881 non-null    object
 2   Nama Kepala Keluarga                          881 non-null    object
 3   Pekerjaan                                     870 non-null    object
 4   Pendapatan Bulanan (Rp.)                      870 non-null    object
 5   Sumber Listrik                                881 non-null    object
 6   Air Bersih                                    881 non-null    object
 7   Iuran BPJS                                    864 non-null    object
 8   Obat                                          864 non-null    object
 9   Pulsa Ponsel                                  864 non-null    object
 10  Nama Tanaman                                  696 non-null    object
 11  Sumber Benih                                  696 non-null    object
 12  Luas Lahan                                    696 non-null    object
 13  Produktivitas                                 696 non-null    object
 14  Pola Tanam                                    696 non-null    object
 15  Sistem Budidaya                               696 non-null    object
 16  Pengairan                                     696 non-null    object
 17  Pupuk                                         864 non-null    object
 18  Pestisida/Herbisida/Fungisida                 864 non-null    object
 19  Benih                                         864 non-null    object
 20  Upah Buruh                                    864 non-null    object
 21  Sewa Alat dan Mesin Pertanian                 864 non-null    object
 22  Sapi                                          715 non-null    object
 23  Kerbau                                        715 non-null    object
 24  Kambing                                       715 non-null    object
 25  Ayam.3                                        715 non-null    object
 26  Bebek                                         715 non-null    object
 27  Babi                                          715 non-null    object
 28  Kuda                                          715 non-null    object
 29  Jumlah Hasil (Kg)                             715 non-null    object
 30  Sumber Pakan                                  715 non-null    object
 31  Nama Area Tangkap                             251 non-null    object
 32  Jenis Ikan.1                                  251 non-null    object
 33  Jumlah Hasil                                  251 non-null    object
 34  Pemanfaatan Hasil Tangkap                     251 non-null    object
 35  Sumber Limbah                                 788 non-null    object
 36  Pengolahan                                    788 non-null    object
 37  Luas Lahan Usaha m2                           835 non-null    object
 38  Luas Lahan Rumah m2                           835 non-null    object
 39  Luas Bangunan Rumah m2                        835 non-null    object
 40  Apakah balita selalu diperiksa ke Posyandu?   830 non-null    object
 41  Jumlah Lansia                                 830 non-null    object
 42  Anggota keluarga yang sering sakit            830 non-null    object
 43  Apakah pernah dapat bantuan dari pemerintah?  830 non-null    object
 44  Kalau iya, apa bentuk bantuan tersebut?       830 non-null    object
dtypes: int64(1), object(44)
memory usage: 309.9+ KB

In [9]:
df.isna().sum()

ID                                                0
Desa/Kelurahan                                    0
Nama Kepala Keluarga                              0
Pekerjaan                                        11
Pendapatan Bulanan (Rp.)                         11
Sumber Listrik                                    0
Air Bersih                                        0
Iuran BPJS                                       17
Obat                                             17
Pulsa Ponsel                                     17
Nama Tanaman                                    185
Sumber Benih                                    185
Luas Lahan                                      185
Produktivitas                                   185
Pola Tanam                                      185
Sistem Budidaya                                 185
Pengairan                                       185
Pupuk                                            17
Pestisida/Herbisida/Fungisida                    17
Benih                                            17
Upah Buruh                                       17
Sewa Alat dan Mesin Pertanian                    17
Sapi                                            166
Kerbau                                          166
Kambing                                         166
Ayam.3                                          166
Bebek                                           166
Babi                                            166
Kuda                                            166
Jumlah Hasil (Kg)                               166
Sumber Pakan                                    166
Nama Area Tangkap                               630
Jenis Ikan.1                                    630
Jumlah Hasil                                    630
Pemanfaatan Hasil Tangkap                       630
Sumber Limbah                                    93
Pengolahan                                       93
Luas Lahan Usaha m2                              46
Luas Lahan Rumah m2                              46
Luas Bangunan Rumah m2                           46
Apakah balita selalu diperiksa ke Posyandu?      51
Jumlah Lansia                                    51
Anggota keluarga yang sering sakit               51
Apakah pernah dapat bantuan dari pemerintah?     51
Kalau iya, apa bentuk bantuan tersebut?          51
dtype: int64

In [10]:
# Mengecek kolom yang memiliki duplikasi kata (kesahalan input)

def ada_duplikasi_kata(teks):
    if pd.isna(teks):
        return False
    kata_kata = teks.split()
    return len(kata_kata) != len(set(kata_kata))

# Daftar kolom yang mau dikecualikan
skip_cols = ['Luas Lahan', 'Produktivitas']

# Cek semua kolom kecuali yang di-skip
for col in df.columns:
    if col in skip_cols:
        continue
    if df[col].astype(str).apply(ada_duplikasi_kata).any():
        print(f"Kolom '{col}' punya sel dengan duplikasi kata.")

Kolom 'Pekerjaan' punya sel dengan duplikasi kata.
Kolom 'Pendapatan Bulanan (Rp.)' punya sel dengan duplikasi kata.
Kolom 'Iuran BPJS' punya sel dengan duplikasi kata.
Kolom 'Obat' punya sel dengan duplikasi kata.
Kolom 'Pulsa Ponsel' punya sel dengan duplikasi kata.
Kolom 'Nama Tanaman' punya sel dengan duplikasi kata.
Kolom 'Sumber Benih' punya sel dengan duplikasi kata.
Kolom 'Pola Tanam' punya sel dengan duplikasi kata.
Kolom 'Sistem Budidaya' punya sel dengan duplikasi kata.
Kolom 'Pengairan' punya sel dengan duplikasi kata.
Kolom 'Pupuk' punya sel dengan duplikasi kata.
Kolom 'Pestisida/Herbisida/Fungisida' punya sel dengan duplikasi kata.
Kolom 'Benih' punya sel dengan duplikasi kata.
Kolom 'Upah Buruh' punya sel dengan duplikasi kata.
Kolom 'Sewa Alat dan Mesin Pertanian' punya sel dengan duplikasi kata.
Kolom 'Sapi' punya sel dengan duplikasi kata.
Kolom 'Kerbau' punya sel dengan duplikasi kata.
Kolom 'Kambing' punya sel dengan duplikasi kata.
Kolom 'Ayam.3' punya sel dengan duplikasi kata.
Kolom 'Bebek' punya sel dengan duplikasi kata.
Kolom 'Babi' punya sel dengan duplikasi kata.
Kolom 'Kuda' punya sel dengan duplikasi kata.
Kolom 'Jumlah Hasil (Kg)' punya sel dengan duplikasi kata.
Kolom 'Sumber Pakan' punya sel dengan duplikasi kata.
Kolom 'Nama Area Tangkap' punya sel dengan duplikasi kata.
Kolom 'Jenis Ikan.1' punya sel dengan duplikasi kata.
Kolom 'Jumlah Hasil' punya sel dengan duplikasi kata.
Kolom 'Pemanfaatan Hasil Tangkap' punya sel dengan duplikasi kata.
Kolom 'Sumber Limbah' punya sel dengan duplikasi kata.
Kolom 'Pengolahan' punya sel dengan duplikasi kata.
Kolom 'Luas Lahan Usaha m2' punya sel dengan duplikasi kata.
Kolom 'Luas Lahan Rumah m2' punya sel dengan duplikasi kata.
Kolom 'Luas Bangunan Rumah m2' punya sel dengan duplikasi kata.
Kolom 'Apakah balita selalu diperiksa ke Posyandu?' punya sel dengan duplikasi kata.
Kolom 'Jumlah Lansia' punya sel dengan duplikasi kata.
Kolom 'Anggota keluarga yang sering sakit' punya sel dengan duplikasi kata.
Kolom 'Apakah pernah dapat bantuan dari pemerintah?' punya sel dengan duplikasi kata.
Kolom 'Kalau iya, apa bentuk bantuan tersebut?' punya sel dengan duplikasi kata.

In [11]:
df.to_csv("df_sebelum_hapus_duplikasi_kata.csv", index=False)

In [12]:
def hapus_duplikasi_kata(teks):
    if pd.isna(teks): 
        return teks  # biarkan NaN tetap NaN
    kata_kata = teks.split()
    kata_unik = list(dict.fromkeys(kata_kata))  # hapus duplikat sambil jaga urutan
    return ' '.join(kata_unik)

# Hapus duplikasi kata hanya untuk kolom yang tidak di-skip
for col in df.columns:
    if col in skip_cols:
        continue
    if df[col].astype(str).apply(ada_duplikasi_kata).any():
        df[col] = df[col].astype(str).apply(hapus_duplikasi_kata)

print("Semua kolom (kecuali yang dikecualikan) telah dibersihkan dari duplikasi kata.")

Semua kolom (kecuali yang dikecualikan) telah dibersihkan dari duplikasi kata.

In [13]:
for i, col in enumerate(df.columns):
    print(f"{i}. {col}")

0. ID
1. Desa/Kelurahan
2. Nama Kepala Keluarga
3. Pekerjaan
4. Pendapatan Bulanan (Rp.)
5. Sumber Listrik
6. Air Bersih
7. Iuran BPJS
8. Obat
9. Pulsa Ponsel
10. Nama Tanaman
11. Sumber Benih
12. Luas Lahan
13. Produktivitas
14. Pola Tanam
15. Sistem Budidaya
16. Pengairan
17. Pupuk
18. Pestisida/Herbisida/Fungisida
19. Benih
20. Upah Buruh
21. Sewa Alat dan Mesin Pertanian
22. Sapi
23. Kerbau
24. Kambing
25. Ayam.3
26. Bebek
27. Babi
28. Kuda
29. Jumlah Hasil (Kg)
30. Sumber Pakan
31. Nama Area Tangkap
32. Jenis Ikan.1
33. Jumlah Hasil
34. Pemanfaatan Hasil Tangkap
35. Sumber Limbah
36. Pengolahan
37. Luas Lahan Usaha m2
38. Luas Lahan Rumah m2
39. Luas Bangunan Rumah m2
40. Apakah balita selalu diperiksa ke Posyandu?
41. Jumlah Lansia
42. Anggota keluarga yang sering sakit
43. Apakah pernah dapat bantuan dari pemerintah?
44. Kalau iya, apa bentuk bantuan tersebut?

In [14]:
df.to_csv("df_setelah_hapus_duplikasi_kata.csv", index=False)

In [15]:
df.isna().sum()

ID                                                0
Desa/Kelurahan                                    0
Nama Kepala Keluarga                              0
Pekerjaan                                         0
Pendapatan Bulanan (Rp.)                          0
Sumber Listrik                                    0
Air Bersih                                        0
Iuran BPJS                                        0
Obat                                              0
Pulsa Ponsel                                      0
Nama Tanaman                                      0
Sumber Benih                                      0
Luas Lahan                                      185
Produktivitas                                   185
Pola Tanam                                        0
Sistem Budidaya                                   0
Pengairan                                         0
Pupuk                                             0
Pestisida/Herbisida/Fungisida                     0
Benih                                             0
Upah Buruh                                        0
Sewa Alat dan Mesin Pertanian                     0
Sapi                                              0
Kerbau                                            0
Kambing                                           0
Ayam.3                                            0
Bebek                                             0
Babi                                              0
Kuda                                              0
Jumlah Hasil (Kg)                                 0
Sumber Pakan                                      0
Nama Area Tangkap                                 0
Jenis Ikan.1                                      0
Jumlah Hasil                                      0
Pemanfaatan Hasil Tangkap                         0
Sumber Limbah                                     0
Pengolahan                                        0
Luas Lahan Usaha m2                               0
Luas Lahan Rumah m2                               0
Luas Bangunan Rumah m2                            0
Apakah balita selalu diperiksa ke Posyandu?       0
Jumlah Lansia                                     0
Anggota keluarga yang sering sakit                0
Apakah pernah dapat bantuan dari pemerintah?      0
Kalau iya, apa bentuk bantuan tersebut?           0
dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 45 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   ID                                            881 non-null    int64
 1   Desa/Kelurahan                                881 non-null    object
 2   Nama Kepala Keluarga                          881 non-null    object
 3   Pekerjaan                                     881 non-null    object
 4   Pendapatan Bulanan (Rp.)                      881 non-null    object
 5   Sumber Listrik                                881 non-null    object
 6   Air Bersih                                    881 non-null    object
 7   Iuran BPJS                                    881 non-null    object
 8   Obat                                          881 non-null    object
 9   Pulsa Ponsel                                  881 non-null    object
 10  Nama Tanaman                                  881 non-null    object
 11  Sumber Benih                                  881 non-null    object
 12  Luas Lahan                                    696 non-null    object
 13  Produktivitas                                 696 non-null    object
 14  Pola Tanam                                    881 non-null    object
 15  Sistem Budidaya                               881 non-null    object
 16  Pengairan                                     881 non-null    object
 17  Pupuk                                         881 non-null    object
 18  Pestisida/Herbisida/Fungisida                 881 non-null    object
 19  Benih                                         881 non-null    object
 20  Upah Buruh                                    881 non-null    object
 21  Sewa Alat dan Mesin Pertanian                 881 non-null    object
 22  Sapi                                          881 non-null    object
 23  Kerbau                                        881 non-null    object
 24  Kambing                                       881 non-null    object
 25  Ayam.3                                        881 non-null    object
 26  Bebek                                         881 non-null    object
 27  Babi                                          881 non-null    object
 28  Kuda                                          881 non-null    object
 29  Jumlah Hasil (Kg)                             881 non-null    object
 30  Sumber Pakan                                  881 non-null    object
 31  Nama Area Tangkap                             881 non-null    object
 32  Jenis Ikan.1                                  881 non-null    object
 33  Jumlah Hasil                                  881 non-null    object
 34  Pemanfaatan Hasil Tangkap                     881 non-null    object
 35  Sumber Limbah                                 881 non-null    object
 36  Pengolahan                                    881 non-null    object
 37  Luas Lahan Usaha m2                           881 non-null    object
 38  Luas Lahan Rumah m2                           881 non-null    object
 39  Luas Bangunan Rumah m2                        881 non-null    object
 40  Apakah balita selalu diperiksa ke Posyandu?   881 non-null    object
 41  Jumlah Lansia                                 881 non-null    object
 42  Anggota keluarga yang sering sakit            881 non-null    object
 43  Apakah pernah dapat bantuan dari pemerintah?  881 non-null    object
 44  Kalau iya, apa bentuk bantuan tersebut?       881 non-null    object
dtypes: int64(1), object(44)
memory usage: 309.9+ KB

## Per atribut

num :

Pendapatan Bulanan
Iuran BPJS
Obat
Pulsa Ponsel
Luas Lahan
Produktivitas
Pengairan
Pupuk
Pestisida/Herbisida/Fungisida
Benih
Upah Buruh

In [215]:
df['Pekerjaan'].value_counts()

Pekerjaan
Petani atau Nelayan;               536
lainnya;                            91
Wiraswasta;                         75
PNS;                                60
Karyawan Swasta;                    39
Tidak ada;                          33
Buruh Tani;                         33
nan                                 11
Wiraswasta; lainnya; Tidak ada;      1
lainnya; Petani atau Nelayan;        1
Petani atau Nelayan; lainnya;        1
Name: count, dtype: int64

In [216]:
df['Pendapatan Bulanan (Rp.)'].value_counts()

Pendapatan Bulanan (Rp.)
500000;     119
1000000;    116
2000000;     51
1500000;     45
300000;      44
           ...
1022330;      1
5400000;      1
7700000;      1
395000;       1
7830000;      1
Name: count, Length: 129, dtype: int64

In [217]:
df['Sumber Listrik'].value_counts()

Sumber Listrik
PLN          871
Tidak ada      5
Bukan PLN      5
Name: count, dtype: int64

In [218]:
df['Air Bersih'].value_counts()

Air Bersih
PDAM          430
Sumur Bor     143
Mata Air      112
Sungai         66
Air Hujan      64
Sumur Gali     61
Air Galon       5
Name: count, dtype: int64

In [219]:
df['Iuran BPJS'].value_counts()

Iuran BPJS
0;         516
;          227
nan         17
35000;      14
420000;      9
          ...
25500;       1
38500;       1
20222;       1
16500;       1
272000;      1
Name: count, Length: 63, dtype: int64

In [220]:
df['Obat'].value_counts()

Obat
0;          507
;           212
10000;       34
nan          17
100000;      13
20000;       12
50000;       10
120000;       8
5000;         8
25000;        8
30000;        7
15000;        6
200000;       5
240000;       4
150000;       4
60000;        3
75000;        2
0; ;          2
250000;       2
40000;        1
72000;        1
51000;        1
216000;       1
4000;         1
3000000;      1
5900;         1
1000000;      1
1200000;      1
80000;        1
160000;       1
600000;       1
12000;        1
96000;        1
; 0;          1
2000000;      1
13500;        1
Name: count, dtype: int64

In [221]:
df['Pulsa Ponsel'].value_counts()

Pulsa Ponsel
0;          139
50000;      102
100000;      95
;            57
600000;      37
           ...
400000;       1
816000;       1
1980000;      1
2700000;      1
23000;        1
Name: count, Length: 113, dtype: int64

In [222]:
df['Nama Tanaman'].value_counts()

Nama Tanaman
nan                               185
Jagung;                           167
Jagung; Ubi Kayu;                  61
Jagung Lokal;                      46
Padi;                              38
                                 ...
Padi; Jagung; Jagung ; Talas;       1
Padi; Jagung; Ubi Kayu; Jalar;      1
Jagung ; Kacang Hijau;              1
Padi ; Ubi Kayu; Jagung;            1
Jagung Lokal; Ubi Kayu; Padi;       1
Name: count, Length: 131, dtype: int64

In [223]:
df['Sumber Benih'].value_counts()

Sumber Benih
Tangkar Sendiri;                                   462
nan                                                185
Tidak ada;                                          81
Tangkar Sendiri; Tidak ada;                         39
Bantuan Pemerintah;                                 35
Beli;                                               22
Bantuan Pemerintah; Tidak ada;                      19
Tangkar Sendiri; Bantuan Pemerintah;                11
Bantuan Pemerintah; Tangkar Sendiri;                 9
Tidak ada; Tangkar Sendiri;                          6
Tangkar Sendiri; Beli;                               5
Beli; Bantuan Pemerintah; Tangkar Sendiri;           1
Tidak ada; Bantuan Pemerintah;                       1
Bantuan Pemerintah; Tidak ada; Tangkar Sendiri;      1
Tangkar Sendiri; Bantuan Pemerintah; Beli;           1
Beli; Tidak ada;                                     1
Beli; Tangkar Sendiri;                               1
Tangkar Sendiri; Tidak ada; Beli;                    1
Name: count, dtype: int64

In [224]:
df['Luas Lahan'].value_counts()

Luas Lahan
1;                   72
0.5;                 66
1; 1;                37
0;                   31
0.5; 0.5;            24
                     ..
0.7484; ;             1
0.2237; ; ;           1
0.5; 0.05; 0.05;      1
0.16; 0.16;           1
0.50; 0.50; 0.50;     1
Name: count, Length: 257, dtype: int64

In [225]:
df['Produktivitas'].value_counts()

Produktivitas
0;                    41
1;                    29
0.5;                  24
;                     21
0.2;                  18
                      ..
0.4; 0.25; 0.25;       1
0.0501; 0.25; 0.3;     1
0.11; ; ;              1
0.35; ; ;              1
0.5; 0.5; 0.5;         1
Name: count, Length: 376, dtype: int64

In [226]:
df['Pola Tanam'].value_counts()

Pola Tanam
1 kali setahun;               572
nan                           185
Tidak ada;                     69
1 kali setahun; Tidak ada;     35
3 kali setahun;                 5
Tidak ada; 1 kali setahun;      4
1 kali setahun; 2               3
3 kali setahun; 1               3
2 kali setahun;                 2
2 kali setahun; 1               2
1 kali setahun; 3               1
Name: count, dtype: int64

In [227]:
df['Sistem Budidaya'].value_counts()

Sistem Budidaya
Organik;                           378
nan                                185
Semi Organik;                      118
Tidak ada;                          90
Kimia;                              42
Semi Organik; Tidak ada;            34
Organik; Tidak ada;                 17
Organik; Semi                        7
Tidak ada; Organik;                  3
Kimia; Semi Organik;                 3
Kimia; Semi Organik; Tidak ada;      1
Kimia; Organik;                      1
Organik; Kimia;                      1
Tidak ada; Semi Organik;             1
Name: count, dtype: int64

In [228]:
df['Pengairan'].value_counts()

Pengairan
Tadah Hujan;                523
nan                         185
Tidak ada;                   77
Tadah Hujan; Tidak ada;      50
Non Teknis;                  24
Teknis;                       8
Tidak ada; Tadah Hujan;       3
Teknis; Tadah Hujan;          3
Non Teknis; Tidak ada;        3
Non Teknis; Tadah Hujan;      3
Tadah Hujan; Teknis;          1
Tadah Hujan; Non Teknis;      1
Name: count, dtype: int64

In [229]:
df['Pupuk'].value_counts()

Pupuk
0;           512
;            235
150000;       30
nan           17
50000;        11
11000;         5
300000;        5
12500;         4
1800000;       3
70000;         3
1500000;       3
25000;         3
75000;         3
15000;         2
600000;        2
1200000;       2
250000;        2
500000;        2
0; ;           2
37500;         1
22000;         1
112500;        1
80000;         1
13000;         1
28000;         1
260000;        1
62500;         1
34000;         1
140000;        1
105000;        1
11250;         1
16500;         1
16750;         1
112000;        1
2550000;       1
200000;        1
35000;         1
2880000;       1
150000; ;      1
; 0;           1
30000;         1
20000;         1
120000;        1
340000;        1
40000;         1
100000;        1
60000;         1
135000;        1
750000;        1
67500;         1
130000;        1
17000;         1
275000;        1
420000;        1
Name: count, dtype: int64

In [230]:
df['Pestisida/Herbisida/Fungisida'].value_counts()

Pestisida/Herbisida/Fungisida
0;          422
;           216
120000;      19
nan          17
80000;       14
           ...
400000;       1
140000;       1
6250;         1
2160000;      1
45000;        1
Name: count, Length: 82, dtype: int64

In [231]:
df['Benih'].value_counts()

Benih
0;           564
;            243
nan           17
50000;         8
20000;         5
10000;         3
15000;         3
100000;        3
0; ;           2
300000;        2
85000;         2
120000;        2
200000;        2
90000;         2
70000;         1
540000;        1
750000;        1
180000;        1
60000;         1
12500;         1
5000;          1
45000;         1
25000;         1
175000;        1
810000;        1
450000;        1
425000;        1
240000;        1
600000;        1
16000;         1
1.000000;      1
30000;         1
00;            1
7000;          1
; 0;           1
12000;         1
75000;         1
Name: count, dtype: int64

In [232]:
df['Upah Buruh'].value_counts()

Upah Buruh
0;          544
;           239
nan          17
150000;       8
200000;       7
250000;       6
50000;        6
500000;       6
100000;       6
75000;        4
1500000;      4
1000000;      4
600000;       3
300000;       3
7000000;      2
750000;       2
0; ;          2
240000;       1
37500;        1
375000;       1
2540000;      1
100;          1
360000;       1
720000;       1
1400000;      1
80000;        1
15000;        1
1750000;      1
2000000;      1
520000;       1
400000;       1
20000;        1
2725000;      1
; 0;          1
60000;        1
Name: count, dtype: int64

In [233]:
df['Sewa Alat dan Mesin Pertanian'].value_counts()

Sewa Alat dan Mesin Pertanian
0;          572
;           242
nan          17
100000;       9
150000;       5
1000000;      4
500000;       3
40000;        3
400000;       3
250000;       2
125000;       2
600000;       2
20000;        2
0; ;          2
; 0;          1
580000;       1
1200000;      1
50000;        1
120000;       1
58000;        1
900000;       1
80000;        1
200000;       1
480000;       1
45000;        1
800000;       1
300000;       1
Name: count, dtype: int64

In [234]:
df['Sapi'].value_counts()

Sapi
0;       408
;        200
nan      166
1;        32
2;        24
3;        19
5;        10
4;         7
6;         4
7;         3
9;         1
14;        1
1; ;       1
8;         1
2144;      1
0; ;       1
3; 1;      1
12;        1
Name: count, dtype: int64

In [235]:
df['Kerbau'].value_counts()

Kerbau
0;      474
;       238
nan     166
0; ;      2
7;        1
Name: count, dtype: int64

In [236]:
df['Kambing'].value_counts()

Kambing
0;        289
nan       166
;         114
2;         67
1;         62
3;         53
4;         35
5;         23
10;        15
8;         10
6;          9
7;          8
20;         6
12;         4
2; ;        2
40;         2
15;         2
0; ;        1
0; 15;      1
13;         1
50;         1
19;         1
5; ;        1
30;         1
60;         1
4; 3;       1
23;         1
11;         1
9;          1
14;         1
; 3;        1
Name: count, dtype: int64

In [237]:
df['Ayam.3'].value_counts()

Ayam.3
nan       166
0;        129
;          77
5;         70
2;         63
10;        62
3;         55
4;         38
1;         32
20;        29
6;         24
15;        23
7;         23
8;         21
12;        13
30;         7
25;         6
13;         4
9;          4
11;         3
16;         3
50;         2
20; 0;      2
17;         2
14;         2
2; ;        2
100;        2
24;         1
23;         1
20; ;       1
6; 0;       1
350;        1
4; 0;       1
50; ;       1
21;         1
; 10;       1
80;         1
36;         1
75;         1
32;         1
105;        1
60;         1
5; 0;       1
22;         1
Name: count, dtype: int64

In [238]:
df['Bebek'].value_counts()

Bebek
0;      455
;       223
nan     166
3;        9
2;        6
20;       3
1;        3
0; ;      2
4;        2
8;        2
5;        2
11;       2
30;       1
12;       1
6;        1
15;       1
10;       1
19;       1
Name: count, dtype: int64

In [239]:
df['Babi'].value_counts()

Babi
0;       189
1;       172
nan      166
2;       117
;        108
3;        44
4;        32
6;        13
5;        13
8;         6
7;         6
9;         3
0; 1;      2
12;        2
15;        1
3; ;       1
1; 2;      1
0; 3;      1
16;        1
2; ;       1
0; 2;      1
10;        1
Name: count, dtype: int64

In [240]:
df['Kuda'].value_counts()

Kuda
0;      462
;       234
nan     166
1;       12
2;        4
0; ;      2
8;        1
Name: count, dtype: int64

In [241]:
df['Jumlah Hasil (Kg)'].value_counts()

Jumlah Hasil (Kg)
0;       210
;        193
nan      166
5;        13
10;       11
        ...
224;       1
34;        1
108;       1
44;        1
1105;      1
Name: count, Length: 190, dtype: int64

In [242]:
df['Sumber Pakan'].value_counts()

Sumber Pakan
Dibuat Sendiri;                    545
nan                                166
Tidak ada;                          58
Beli;                               55
Dilepasliarkan;                     51
Dibuat Sendiri; Tidak ada;           2
Dibuat Sendiri; Dilepasliarkan;      2
Beli; Dilepasliarkan;                1
Beli; Dibuat Sendiri;                1
Name: count, dtype: int64

In [243]:
df['Nama Area Tangkap'].value_counts()

Nama Area Tangkap
nan                                               630
-;                                                 37
Tidak ada;                                         37
0;                                                 34
;                                                  18
Laut Flores;                                       16
Pantai Uleha;                                      12
Teluk Waienga;                                     11
Pantai Lewolein;                                    9
Igo Tapu;                                           8
Teluk Lamadou;                                      7
Pesisir Pantai;                                     7
Pantai Woi Pedan;                                   5
Pantai Merdeka;                                     4
Perairan Pesisir;                                   4
Pantai Pada;                                        4
Menyuluh;                                           4
Tidak Ada;                                          4
Bota Knipo;                                         3
Dolulolong;                                         3
tidak ada;                                          2
Pantai Loang;                                       2
Teluk Waipukang;                                    2
Laut Flores; Pantai Waiau;                          1
Igotaou (Muruona);                                  1
Teluk Merdeka ;                                     1
Teluk Habui;                                        1
Teluk di Belakang Bandara;                          1
Laut Balauring;                                     1
Dusun C;                                            1
Edam;                                               1
Wewa Bele;                                          1
Bola; Noloy;                                        1
Teluk Waienga ;                                     1
Watebelong; Lakarona;                               1
Laut Dusun C;                                       1
Laut Kalikur;                                       1
Watodiri;                                           1
Pantai Kabelo; Hukung; Kuma Resort; Waejarang;      1
Waejarang;                                          1
Nuha;                                               1
Name: count, dtype: int64

In [244]:
df['Jenis Ikan.1'].value_counts()

Jenis Ikan.1
nan                                630
Tidak ada;                          36
0;                                  35
-;                                  31
;                                   26
                                  ...
Batu; Layang;                        1
Kakap Merah;                         1
Beduk; Kakap; Kerang; Teripang;      1
Teri;                                1
Melus;                               1
Name: count, Length: 75, dtype: int64

In [245]:
df['Jumlah Hasil'].value_counts()

Jumlah Hasil
nan        630
0;         111
;           26
2;          17
1;          13
10;         10
3;           9
5;           9
20;          6
4;           5
15;          4
5; ;         4
20; ;        3
10; ;        3
30;          3
3; ;         3
1; ;         2
0.2;         2
0.6; ;       2
50;          1
1.5;         1
0.4;         1
0.5;         1
60;          1
8;           1
0.3;         1
25;          1
15; ;        1
4; ;         1
2.7; ;       1
90; ;        1
6;           1
0.03; ;      1
2; ;         1
0.6;         1
150;         1
2; 4;        1
12;          1
Name: count, dtype: int64

In [246]:
df['Pemanfaatan Hasil Tangkap'].value_counts()

Pemanfaatan Hasil Tangkap
nan                                        630
Tidak ada;                                 132
Konsumsi Sendiri;                           59
Konsumsi Sendiri dan Dijual;                53
Jual Semua;                                  4
Konsumsi Sendiri; Sendiri dan Dijual;        1
Tidak ada satupun;                           1
Konsumsi Sendiri dan Dijual; Tidak ada;      1
Name: count, dtype: int64

In [247]:
df['Sumber Limbah'].value_counts()

Sumber Limbah
Rumah Tangga;                                                    489
Pertanian dan Perkebunan;                                        133
nan                                                               93
Tidak ada;                                                        55
Peternakan dan Perikanan;                                         34
Rumah Tangga; Pertanian dan Perkebunan;                           33
Rumah Tangga; Pertanian dan Perkebunan; Peternakan Perikanan;     22
Rumah Tangga; Peternakan dan Perikanan;                           13
Pertanian dan Perkebunan; Rumah Tangga;                            6
Pertanian dan Perkebunan; Rumah Tangga; Peternakan Perikanan;      1
Pertanian dan Perkebunan; Peternakan Perikanan;                    1
Rumah Tangga; Peternakan dan Perikanan; Pertanian Perkebunan;      1
Name: count, dtype: int64

In [248]:
df['Pengolahan'].value_counts()

Pengolahan
Tidak Diolah;         441
Diolah;               208
Tidak ada;             99
nan                    93
Diolah; Tidak          34
Tidak Diolah; ada;      3
Tidak ada; Diolah;      2
Diolah; Tidak ada;      1
Name: count, dtype: int64

In [249]:
df['Luas Lahan Usaha m2'].value_counts()

Luas Lahan Usaha m2
0;        388
;         140
nan        46
10000;     27
5000;      20
         ...
845;        1
10180;      1
2900;       1
135;        1
56;         1
Name: count, Length: 108, dtype: int64

In [250]:
df['Luas Lahan Rumah m2'].value_counts()

Luas Lahan Rumah m2
625;       86
nan        46
400;       39
300;       36
150;       32
           ..
338;        1
860;        1
513;        1
290;        1
417.66;     1
Name: count, Length: 267, dtype: int64

In [251]:
df['Luas Bangunan Rumah m2'].value_counts()

Luas Bangunan Rumah m2
48;        97
35;        96
42;        50
63;        48
nan        46
           ..
12.9;       1
86.5;       1
37.5;       1
1000;       1
155.03;     1
Name: count, Length: 166, dtype: int64

In [252]:
df['Apakah balita selalu diperiksa ke Posyandu?'].value_counts()

Apakah balita selalu diperiksa ke Posyandu?
Tidak ada;            544
Sering;               265
nan                    51
Tidak Pernah;          15
Kadang;                 4
Sering; Tidak ada;      1
Tidak ada; Sering;      1
Name: count, dtype: int64

In [253]:
df['Jumlah Lansia'].value_counts()

Jumlah Lansia
0;       292
1;       204
2;       197
;        127
nan       51
3;         6
0; 2;      1
4;         1
0; 4;      1
2; ;       1
Name: count, dtype: int64

In [254]:
df['Anggota keluarga yang sering sakit'].value_counts()

Anggota keluarga yang sering sakit
Tidak ada;           437
Istri;               125
Suami;                97
Anak;                 64
Famili;               53
Orang Tua;            51
nan                   51
Orang Tua; Istri;      1
Anak; Tidak ada;       1
Suami; Tidak ada;      1
Name: count, dtype: int64

In [255]:
df['Apakah pernah dapat bantuan dari pemerintah?'].value_counts()

Apakah pernah dapat bantuan dari pemerintah?
Pernah;               570
Tidak ada;            173
Tidak;                 84
nan                    51
Tidak; Tidak ada;       1
Tidak ada; Tidak;       1
Pernah; Tidak ada;      1
Name: count, dtype: int64

In [256]:
df['Kalau iya, apa bentuk bantuan tersebut?'].value_counts()

Kalau iya, apa bentuk bantuan tersebut?
Tunai;                    316
Tidak ada;                261
Pengobatan;               252
nan                        51
Pengobatan; Tidak ada;      1
Name: count, dtype: int64

# Numerin & Categoric

In [257]:
# daftar kolom numerik
num_cols = [
    "Pendapatan Bulanan (Rp.)", "Iuran BPJS", "Obat", "Pulsa Ponsel", 
    "Luas Lahan", "Produktivitas", "Pengairan", "Pupuk",
    "Pestisida/Herbisida/Fungisida", "Benih", "Upah Buruh",
    "Sewa Alat dan Mesin Pertanian", "Sapi", "Kerbau", "Kambing",
    "Ayam.3", "Bebek", "Babi", "Kuda", "Jumlah Hasil (Kg)", 
    "Jumlah Hasil", "Luas Lahan Usaha m2", "Luas Lahan Rumah m2",
    "Luas Bangunan Rumah m2", "Jumlah Lansia"
]

# konversi pakai pd.to_numeric biar aman
for col in num_cols:
    df[col] = pd.to_numeric(df[col].astype(str).str.replace(",", ".").str.replace(r"[^0-9\.-]", "", regex=True), errors="coerce")

# cek hasil
print(df[num_cols].dtypes)

Pendapatan Bulanan (Rp.)         float64
Iuran BPJS                       float64
Obat                             float64
Pulsa Ponsel                     float64
Luas Lahan                       float64
Produktivitas                    float64
Pengairan                        float64
Pupuk                            float64
Pestisida/Herbisida/Fungisida    float64
Benih                            float64
Upah Buruh                       float64
Sewa Alat dan Mesin Pertanian    float64
Sapi                             float64
Kerbau                           float64
Kambing                          float64
Ayam.3                           float64
Bebek                            float64
Babi                             float64
Kuda                             float64
Jumlah Hasil (Kg)                float64
Jumlah Hasil                     float64
Luas Lahan Usaha m2              float64
Luas Lahan Rumah m2              float64
Luas Bangunan Rumah m2           float64
Jumlah Lansia                    float64
dtype: object

In [258]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 45 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   ID                                            881 non-null    int64
 1   Desa/Kelurahan                                881 non-null    object
 2   Nama Kepala Keluarga                          881 non-null    object
 3   Pekerjaan                                     881 non-null    object
 4   Pendapatan Bulanan (Rp.)                      855 non-null    float64
 5   Sumber Listrik                                881 non-null    object
 6   Air Bersih                                    881 non-null    object
 7   Iuran BPJS                                    637 non-null    float64
 8   Obat                                          652 non-null    float64
 9   Pulsa Ponsel                                  807 non-null    float64
 10  Nama Tanaman                                  881 non-null    object
 11  Sumber Benih                                  881 non-null    object
 12  Luas Lahan                                    486 non-null    float64
 13  Produktivitas                                 443 non-null    float64
 14  Pola Tanam                                    881 non-null    object
 15  Sistem Budidaya                               881 non-null    object
 16  Pengairan                                     0 non-null      float64
 17  Pupuk                                         629 non-null    float64
 18  Pestisida/Herbisida/Fungisida                 648 non-null    float64
 19  Benih                                         621 non-null    float64
 20  Upah Buruh                                    625 non-null    float64
 21  Sewa Alat dan Mesin Pertanian                 622 non-null    float64
 22  Sapi                                          515 non-null    float64
 23  Kerbau                                        477 non-null    float64
 24  Kambing                                       601 non-null    float64
 25  Ayam.3                                        638 non-null    float64
 26  Bebek                                         492 non-null    float64
 27  Babi                                          607 non-null    float64
 28  Kuda                                          481 non-null    float64
 29  Jumlah Hasil (Kg)                             522 non-null    float64
 30  Sumber Pakan                                  881 non-null    object
 31  Nama Area Tangkap                             881 non-null    object
 32  Jenis Ikan.1                                  881 non-null    object
 33  Jumlah Hasil                                  225 non-null    float64
 34  Pemanfaatan Hasil Tangkap                     881 non-null    object
 35  Sumber Limbah                                 881 non-null    object
 36  Pengolahan                                    881 non-null    object
 37  Luas Lahan Usaha m2                           695 non-null    float64
 38  Luas Lahan Rumah m2                           822 non-null    float64
 39  Luas Bangunan Rumah m2                        823 non-null    float64
 40  Apakah balita selalu diperiksa ke Posyandu?   881 non-null    object
 41  Jumlah Lansia                                 703 non-null    float64
 42  Anggota keluarga yang sering sakit            881 non-null    object
 43  Apakah pernah dapat bantuan dari pemerintah?  881 non-null    object
 44  Kalau iya, apa bentuk bantuan tersebut?       881 non-null    object
dtypes: float64(25), int64(1), object(19)
memory usage: 309.9+ KB

In [259]:
df.isna().sum()

ID                                                0
Desa/Kelurahan                                    0
Nama Kepala Keluarga                              0
Pekerjaan                                         0
Pendapatan Bulanan (Rp.)                         26
Sumber Listrik                                    0
Air Bersih                                        0
Iuran BPJS                                      244
Obat                                            229
Pulsa Ponsel                                     74
Nama Tanaman                                      0
Sumber Benih                                      0
Luas Lahan                                      395
Produktivitas                                   438
Pola Tanam                                        0
Sistem Budidaya                                   0
Pengairan                                       881
Pupuk                                           252
Pestisida/Herbisida/Fungisida                   233
Benih                                           260
Upah Buruh                                      256
Sewa Alat dan Mesin Pertanian                   259
Sapi                                            366
Kerbau                                          404
Kambing                                         280
Ayam.3                                          243
Bebek                                           389
Babi                                            274
Kuda                                            400
Jumlah Hasil (Kg)                               359
Sumber Pakan                                      0
Nama Area Tangkap                                 0
Jenis Ikan.1                                      0
Jumlah Hasil                                    656
Pemanfaatan Hasil Tangkap                         0
Sumber Limbah                                     0
Pengolahan                                        0
Luas Lahan Usaha m2                             186
Luas Lahan Rumah m2                              59
Luas Bangunan Rumah m2                           58
Apakah balita selalu diperiksa ke Posyandu?       0
Jumlah Lansia                                   178
Anggota keluarga yang sering sakit                0
Apakah pernah dapat bantuan dari pemerintah?      0
Kalau iya, apa bentuk bantuan tersebut?           0
dtype: int64

In [260]:
import numpy as np
import pandas as pd
import re

_num_pattern = re.compile(r'^\s*[+-]?\d+(?:[.,]\d+)?\s*$')  # dukung koma/titik desimal

def sum_semicolon_numbers(cell):
    # NaN -> NaN
    if pd.isna(cell):
        return np.nan

    s = str(cell).strip()
    if s == '':
        return np.nan  # sel benar-benar kosong

    # Normalisasi delimiter & desimal
    s = s.replace('；', ';')           # fullwidth semicolon -> normal
    parts = [p.strip() for p in s.split(';')]

    total = 0.0
    found_number = False
    for p in parts:
        if p == '':         # kosong di antara ; -> 0 (skip saja)
            continue
        p2 = p.replace(',', '.')  # dukung "0,5"
        if _num_pattern.match(p2):
            total += float(p2)
            found_number = True
        else:
            # token tidak numerik -> abaikan (anggap 0)
            # kalau mau anggap invalid -> set found_number=False dan break lalu return np.nan
            pass

    return total if found_number else np.nan

In [261]:
for col in num_cols:
    df[col] = df[col].apply(sum_semicolon_numbers)

# pastikan hasilnya numeric
df[num_cols] = df[num_cols].apply(pd.to_numeric, errors="coerce")

In [197]:
#df[num_cols].head()

In [262]:
df.isna().sum()

ID                                                0
Desa/Kelurahan                                    0
Nama Kepala Keluarga                              0
Pekerjaan                                         0
Pendapatan Bulanan (Rp.)                         26
Sumber Listrik                                    0
Air Bersih                                        0
Iuran BPJS                                      244
Obat                                            229
Pulsa Ponsel                                     74
Nama Tanaman                                      0
Sumber Benih                                      0
Luas Lahan                                      395
Produktivitas                                   438
Pola Tanam                                        0
Sistem Budidaya                                   0
Pengairan                                       881
Pupuk                                           252
Pestisida/Herbisida/Fungisida                   233
Benih                                           260
Upah Buruh                                      256
Sewa Alat dan Mesin Pertanian                   259
Sapi                                            366
Kerbau                                          404
Kambing                                         280
Ayam.3                                          243
Bebek                                           389
Babi                                            274
Kuda                                            400
Jumlah Hasil (Kg)                               359
Sumber Pakan                                      0
Nama Area Tangkap                                 0
Jenis Ikan.1                                      0
Jumlah Hasil                                    656
Pemanfaatan Hasil Tangkap                         0
Sumber Limbah                                     0
Pengolahan                                        0
Luas Lahan Usaha m2                             186
Luas Lahan Rumah m2                              59
Luas Bangunan Rumah m2                           58
Apakah balita selalu diperiksa ke Posyandu?       0
Jumlah Lansia                                   178
Anggota keluarga yang sering sakit                0
Apakah pernah dapat bantuan dari pemerintah?      0
Kalau iya, apa bentuk bantuan tersebut?           0
dtype: int64

## Menangani missing value

In [ ]:
df[num_cols] = df[num_cols].fillna(0)

catatan :

untuk penanganan mmsising value "numerik" bisa diatasi dengan imputasi nilai sentral (median, modus), spesifik, ataupun advance. tetapi hal ini harus didasari **background knowledge** yang benar.

dalam kasus ini, tergantung hasil akhir apa yang diinginkan? apakah persenan orang yang memiliki kuda, misalnya. kalau seperti itu, maka imputasi dengan nilai 0 (fillna) adalah yang terbaik.

untuk sementara, missing value data numerik kita ubah menjadi 0. 


> Menggunakan 0 sebagai imputasi bisa menimbulkan bias atau distorsi jika:

>Nilai 0 Bukan Representasi Realitas: Jika nilai yang hilang seharusnya adalah nilai positif/negatif yang signifikan (misalnya rata-rata gaji), menggantinya dengan 0 akan menarik rata-rata kolom ke bawah dan mengubah distribusi data secara drastis, menyebabkan model prediksi Anda menjadi bias.

In [199]:
df['Desa/Kelurahan'].value_counts()

Desa/Kelurahan
Muruona         41
Katakeja        31
Pada            31
Lamatuka        31
Riangbao        30
Waienga         30
Tagawiti        30
Laranwutun      30
Watodiri        30
Wuakerong       30
Ile Kimok       30
Hoelea I        30
Puor            30
Merdeka         30
Kalikur         30
Lolong          30
Paubokol        30
Mahal           30
Benihading      30
Tubungwalang    30
Tubuk Rajan     30
Dikesare        30
Nubamado        30
Labalimut       30
Balauring       30
Duawutun        30
Dulitukan       30
Todanara        29
Bour            28
Name: count, dtype: int64

In [200]:
df['Desa/Kelurahan'] = df['Desa/Kelurahan'].str.replace(r'\bPADA\b', 'Pada', regex=True)

In [201]:
df.to_csv("data_cleaned.csv", index=False)